@import "../../../../../Content/styles/infogix-ui/infogix-ui.less";
@import '../../../../../Content/styles/_Variables.less';

// By this we guarantee that vertical scroll will be on <table>, not on parent
// The overall approach is to force table height collapse if it doesn't fits to screen
as-split-area.main-panel {
  display: flex;
  flex-direction: column;

  .asset-grid-wrapper {
    overflow: hidden;
    // By this we guarantee that table will be visible even if screen height is too small
    // In such case, double vertical scroll will be introduced
    min-height: 250px;

    > div {
      height: 100%;

      p-table[responsiveLayout=scroll] ::ng-deep .p-datatable {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// By this we guarantee that column headings are always visible (sticky) even if user scrolls vertically
:host as-split-area.main-panel p-table ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 2;
}

// This makes kebab menu to be sticky
:host as-split-area.main-panel p-table ::ng-deep table {
  th, td {
    &.asset-grid-tools {
      position: sticky;
      right: -1px; // This 1px compensates transparent border
      z-index: 1;
    }
  }

  // This makes sure that kebab menu can inherit white background from p-table
  td.asset-grid-tools {
    background: inherit;
  }
}

// This ensures that only column headings affects calculation of column width
:host as-split-area.main-panel p-table ::ng-deep td {
  max-width: 0;

  // For some reason, max-width: 0 makes kebab menu to extend table width. Thus we undo this to avoid weird mess
  &.asset-grid-tools {
    max-width: unset;
  }
}

p-table as-split-area.main-panel ::ng-deep table {
  th,
  td {
    &:not(:last-child) {
      padding-right: 16px;
    }

    &:not(:first-child) {
      padding-left: 16px;
    }
  }
}

.grid-actions-header {
  display: inline-flex;
  padding: 8px 10px;
  width: 100%;

  .grid-action-buttons {
    div {
      display: inline-block;
    }

    button {
      margin-left: 8px;
    }
  }

  &.hidden {
    display: none;
  }

  .simple-search {
    width: 200px;
  }
}

.export-link {
  white-space: nowrap;

  a {
    .fa-download {
      margin-right: 8px;
      top: 1px;
      position: relative;
    }
  }
}

p-table {
  td {
    > a:hover {
      text-decoration: underline;

      span {
        text-decoration: underline;
      }
    }

    &.asset-grid-tools {
      vertical-align: top;
      text-align: right;
      padding: 1px;

      button {
        background: transparent;

        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }

        &:active {
          background: rgba(0, 0, 0, 0.14);
        }
      }
    }
  }
}

.tooltip-icon {
  width: 32px;
  color: var(--tabLinkColor);
  text-align: center;
  cursor: pointer;
  padding-top: 1px;
}

.asset-grid-wrapper {
  padding: 0 6px;
}

.debug-code {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin: 11px;
  padding: 4px;
  background: #f8ffe3;
}

.header-description {
  padding-top: 16px;
  padding-left: 10px;
}

.definition-panel {
  display: flex;

  .semantic-field {
    width: 180px;
    margin-right: 40px;
  }
}

.asset-detail {
  .windowtabs {
    line-height: inherit;
  }

  .count-badge {
    margin-left: 5px;
    width: 32px;
    height: 21px;
    background: @ig-purple;
    color: white;
    line-height: 21px;
    text-align: center;
    border-radius: 2px;
  }
}

.status-table {
  .p-datatable {
    padding-left: 16px;
  }
}

ul.valueList {
  margin-block-start: 4px;
  margin-block-end: 12px;

  li {
    list-style-type: disc;
    list-style-position: inside;

    &.showMore {
      list-style-type: none;
      color: #006fba;
      cursor: pointer;
    }
  }
}