<div class="row">
	<as-split unit="pixel"
			  direction="horizontal"
			  [gutterSize]="sidePanelService.draggableAreaWidth"
			  class="col s12 split"
			  style="display: flex"
			  [class.side-panel-close]="!sidePanelOpen"
			  (dragEnd)="onSidePanelDragEnd(sidePanelStorageKey, $event)">
		<as-split-area class="tile tile-detail main-panel">
			<div class="grid-actions-header column-layout">
				<div class="grid-actions-header-row">
					<div class="simple-search">
						<ig-search-field mode="Keypress"
										 [debounce]="600"
										 (onSearch)="onSimpleSearch($event)"
										 [(ngModel)]="simpleFilter"
										 [infoTooltip]="isContainsSearchDefault ? null : simpleSearchTooltipHTML">
						</ig-search-field>
					</div>
					<div class="grid-action-buttons">
						<div
							pTooltip="{{(canExportRecords() ? 'Export to Excel' : 'Export not available for over ' + maxExportRows + ' rows')}}"
							tooltipPosition="left"
							tooltipStyleClass="ig-tooltip">
							<button igButton
									class="ig-button-secondary"
									[disabled]="!canExportRecords() || isExportInProgress"
									[igDataCy]="'Assets_Export'"
									icon="fa-download"
									[loading]="isExportInProgress"
									(click)="export()">
							</button>
						</div>
					</div>
				</div>
				<div class="grid-actions-header-row">
					<advanced-filtering [loadIdentifier]="'SemanticTypes'"
										[fieldsObserver]="filterFields$"
										(onLoad)="onFiltersLoaded()"
										(onChange)="advancedFiltersChanged($event)"></advanced-filtering>
				</div>
			</div>
			<div class="row asset-grid-wrapper">
				<div class="col s12">
					<d3s-assignment-grid (selectionChange)="workflowSelectionChanged($event)"></d3s-assignment-grid>
				</div>
			</div>
			<ng-container *ngIf="sidePanelOpen && secondarySidePanelOpen">
				<div #semanticTile
					 class="secondary-side-panel">
					<div class="panel-header">
                        <span class="header-label"
							  i18n>Information</span>
						<div class="button-container">
							<button igButton
									[attr.data-cy]="'Semantic_Secondary_Close'"
									icon="fa-times"
									(click)="secondarySidePanelOpen=false;"
									tooltip="Close"
									class="close-button"></button>
						</div>
					</div>
					<div class="details-container">
						<div>
							<ng-container *ngIf="resourceUid && secondarySidePanel=='user'">
								<ig-asset-detail [objectUID]="resourceUid"
												 [objectType]="'Resource'"
												 [useAccordion]="true"
												 [shouldBePadded]="true"
												 [showHeader]="true"
												 [showHeaderLine]="false"
												 [spacerHeight]="'16px'"
												 [tooltipAlign]="'left'"
												 [isSidePanel]="true"
												 [interceptLinkClick]="true"
												 (close)="secondarySidePanelOpen=false;"></ig-asset-detail>
							</ng-container>
							<ng-container *ngIf="secondarySidePanel=='status'">
								<semantic-status-detail (close)="secondarySidePanelOpen=false;">
								</semantic-status-detail>
							</ng-container>
						</div>
					</div>
				</div>
			</ng-container>
		</as-split-area>
		<as-split-area [size]="getSidePanelWidth()"
					   [minSize]="getSidePanelMinWidth()"
					   [maxSize]="getSidePanelMaxWidth()"
					   class="tile tile-detail side-panel"
					   *ngIf="showSidePanel && selectedType">
			<side-panel (expandedChange)="sidePanelOpen=$event"
						[expanded]="sidePanelOpen"
						[storageKey]="sidePanelStorageKey"
						[selectedPanel]="sidePanelTab"
						[setMinMaxWidth]="false"
						hasDetail="true">
				<ng-container *ngIf="sidePanelOpen && sidePanelTab === 'detail'">
					<ng-container *ngIf="selectedType">
						<d3s-assignment-information [workflowAssignmentItem]="selectedWorkflowItems[0]"
													*ngIf="selectedWorkflowItems?.length === 1"></d3s-assignment-information>
						<d3s-assignment-progress [workflowItemId]="selectedWorkflowId"
												 *ngIf="selectedWorkflowItems?.length === 1"></d3s-assignment-progress>
						<!--						<semantic-detail [qualifier]="selectedType.qualifier"-->
						<!--										 [isSidePanel]="true"-->
						<!--										 [showHeader]="true"-->
						<!--										 [semanticType]="selectedType"-->
						<!--										 (linkClicked)="handleSecondarySidePanelLinkClicked($event)"></semantic-detail>-->
					</ng-container>
				</ng-container>
			</side-panel>
		</as-split-area>
	</as-split>
</div>
