<div class="row">
	<as-split unit="pixel"
			  direction="horizontal"
			  [gutterSize]="sidePanelService.draggableAreaWidth"
			  class="col s12 split"
			  style="display: flex"
			  [class.side-panel-close]="!sidePanelOpen"
			  (dragEnd)="onSidePanelDragEnd(sidePanelStorageKey, $event)">
		<as-split-area class="tile tile-detail main-panel">
			<d3s-assignment-grid #assignmentGridComponent
								 (selectionChange)="workflowSelectionChanged($event)"></d3s-assignment-grid>
			<ng-container *ngIf="sidePanelOpen && secondarySidePanelOpen">
				<div class="secondary-side-panel">
					<div class="panel-header">
                        <span class="header-label"
							  i18n>Information</span>
						<div class="button-container">
							<button igButton
									[attr.data-cy]="'Assignments_Secondary_Close'"
									icon="fa-times"
									(click)="closeSecondarySidePanel()"
									tooltip="Close"
									class="close-button"></button>
						</div>
					</div>
					<div class="details-container">
						<div>
							<ng-container *ngIf="secondarySidePanel=='assignment-information'">
								<d3s-workflow-information [objectID]="secondarySidePanelObjectID"
												 [objectType]="secondarySidePanelObjectType"
												 [shouldBePadded]="true"
												 [showHeaderLine]="false"
												 [isSidePanel]="true"
												 [interceptLinkClick]="true"
												 (close)="secondarySidePanelOpen=false;"></d3s-workflow-information>
							</ng-container>
							<ng-container *ngIf="secondarySidePanel=='workflow-information'">
								<ig-asset-detail [objectID]="secondarySidePanelObjectID"
												 [objectType]="secondarySidePanelObjectType"
												 [useAccordion]="true"
												 [shouldBePadded]="true"
												 [showHeader]="true"
												 [showHeaderLine]="false"
												 [spacerHeight]="'16px'"
												 [tooltipAlign]="'left'"
												 [isSidePanel]="true"
												 [interceptLinkClick]="true"
												 (close)="secondarySidePanelOpen=false;"></ig-asset-detail>
							</ng-container>
							<ng-container *ngIf="secondarySidePanel=='step-details'">
								<d3s-assignment-progress-step-details
									[itemStepId]="workflowItemStep.ID"></d3s-assignment-progress-step-details>
							</ng-container>
						</div>
					</div>
				</div>
			</ng-container>
		</as-split-area>
		<as-split-area [size]="getSidePanelWidth()"
					   [minSize]="getSidePanelMinWidth()"
					   [maxSize]="getSidePanelMaxWidth()"
					   class="tile tile-detail side-panel"
					   *ngIf="showSidePanel">
			<side-panel [(expanded)]="sidePanelOpen"
						[storageKey]="sidePanelStorageKey"
						[(selectedPanel)]="sidePanelTab"
						[selectedItem]="selectedWorkflowItems?.[0]"
						[selectedItemsCount]="selectedWorkflowItems?.length"
						[extraButtons]="selectedWorkflowItems?.length > 1 ? sidePanelMultiSelectButtons : sidePanelButtons"
						[setMinMaxWidth]="false"
						[hasDetail]="false">
				<ng-container *ngIf="sidePanelOpen">
					<d3s-assignment-information [workflowAssignmentItem]="selectedWorkflowItems[0]"
												*ngIf="selectedWorkflowItems?.length === 1"
												(linkClick)="sidePanelLinkClicked($event)"
												[hidden]="sidePanelTab !== 'information'"></d3s-assignment-information>
					<d3s-assignment-progress [workflowItemId]="selectedWorkflowItems[0]?.Id"
											 (linkClick)="sidePanelLinkClicked($event)"
											 *ngIf="selectedWorkflowItems?.length === 1"
											 (stepClickChange)="stepClicked($event)"
											 (completeAssignment)="completeAssignmentComponent.openModal($event)"
											 [hidden]="sidePanelTab !== 'progress'"></d3s-assignment-progress>
					<d3s-assignment-multi-delete *ngIf="selectedWorkflowItems?.length > 1"
												 (confirmDelete)="deleteAssignments($event)">
					</d3s-assignment-multi-delete>
				</ng-container>
			</side-panel>
		</as-split-area>
	</as-split>
</div>
<d3s-complete-assignment #completeAssignmentComponent></d3s-complete-assignment>
