<div>
    <div>
        <header>
            {{title}}
            <d3s-tile-actions [hasAdd]="true" [addTitle]="'Add group member'" (addClick)="add()"></d3s-tile-actions>
        </header>
    </div>
    <div [ngSwitch]="formMode">
        <div *ngSwitchDefault >
            <p-dataTable [value]="groupItems" selectionMode="single" [(selection)]="selectedRow" [rows]="20" [paginator]="true">
                <p-column field="LastName" header="Field" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '30%' }"></p-column>
                <p-column field="FirstName" header="Category" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '30%' }"></p-column>
                <p-column field="Owner?" header="Required?" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '20%' }"></p-column>
                <p-column [style]="{ 'width': '20%' }">
                    <template let-col let-item="rowData">
                        <div class="RowTools">
                            <a (click)="null" style="cursor:pointer;"><i class="fa fa-info"></i></a>
                            <a (click)="delete(item.ResourceID)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
        <div *ngSwitchCase="FormMode.Adding">
            adding
        </div>
        <div *ngSwitchCase="FormMode.Deleting">
            deleting
        </div>
    </div>
</div>