<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <header>
        {{title}}
        <d3s-tile-actions [hasRefresh]="true" (refreshClick)="load()"></d3s-tile-actions>                                    
    </header>
    <input #gb type="text" pInputText size="100" placeholder="Search..." style="margin-bottom:10px;width:100%;">
    <p-dataTable [globalFilter]="gb" [value]="items" selectionMode="single" [rows]="20" [paginator]="true" scrollable="true" scrollWidth="100%">
        <p-column field="Status" header="Status" sortable="true" [style]="{'width':'125px'}"></p-column>
        <p-column *ngFor="let column of columns" [field]="column.datafield" [header]="column.text" [style]="{'width':'250px'}"></p-column>
        <p-column field="RowIndex" header="Row" sortable="true" [style]="{'width':'100px'}"></p-column>        
        <p-column field="Status Message" header="Message" sortable="true" [style]="{'width':'250px'}"></p-column>
    </p-dataTable>
</div>
