<div *ngIf="isLoading">
    <div style="width:100%;text-align:center;"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div *ngIf="!isLoading">

    <simple-accordion header="Definition" [active]="true">
        <object-detail [objectID]="objectID" [objectType]="objectType"></object-detail>
    </simple-accordion>
    <simple-accordion header="Synonyms ({{synonyms.itemCount}})" [active]="false">
        <d3s-synonyms-tile #synonyms [objectID]="objectID" [objectType]="objectType" [readonly]="false"></d3s-synonyms-tile>
    </simple-accordion>
    <simple-accordion header="Attributes ({{attributes.itemCount}})" [active]="false">
        <d3s-attributes-tile #attributes [objectID]="objectID" [objectType]="objectType" [readonly]="false"></d3s-attributes-tile>
    </simple-accordion>
    <simple-accordion header="Structure" [active]="false">
        <d3s-structure-tile [objectID]="objectID" [objectType]="objectType" [readonly]="false"></d3s-structure-tile>
    </simple-accordion>
</div>