<div *ngIf="objectType && objectID">
    <div>
        <header>
            {{title}}
            <div id="FieldsTile_tools" class="TileTools">
                <a class="btn btn-floating waves-effect waves-light brown lighten-1" (click)="addRow();">
                    <i class="fa fa-plus" title="Add responsibility"></i>
                </a>
            </div>
        </header>
    </div>
    <div *ngIf="isLoading" style="width:100%; text-align:center;">
        <div style="padding:10px;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    </div>
    <div *ngIf="!isLoading">
        <table class="table" [mfData]="responsibilities" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
                <tr>
                    <th style="width: 20%">
                        <mfDefaultSorter by="Role">Role</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="ResponsibleObjectName">Resource</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="PrimaryOwnerResourceName">Group Owner</mfDefaultSorter>
                    </th>
                    <th style="width: 30%">
                        <mfDefaultSorter by="ContextItems">Context</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let item of mf.data; let i=index;">
                <tr *ngIf="!item.isEditing && !item.isDeleting" (click)="selectRow(item.ResponsibilityID);" [class.selected]="selectedRow?.ResponsibilityID == item.ResponsibilityID">
                    <td>{{item.Role}}</td>
                    <td><a [href]="item.ResponsibleObjectUrl">{{item.ResponsibleObjectName}}</a></td>
                    <td>{{item.PrimaryOwnerResourceName}}</td>
                    <td>{{item.ContextItems}}</td>
                    <!-- TODO: replace href on info, fix edit/delete -->
                    <td class="RowTools">
                        <a (click)="editRow(item.ResponsibilityID)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                        <a (click)="deleteRow(item.ResponsibilityID)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr *ngIf="item.isEditing" class="inline-edit">
                    <td colspan="5">
                        <responsibility-item-form [item]="item" (onSaveComplete)="updateRow($event)" (onCancel)="item.isEditing=false;"></responsibility-item-form>
                    </td>
                </tr>
                <tr *ngIf="item.isDeleting" class="inline-edit">
                    <td colspan="5">
                        <delete-form
                            [uri]="'/form/DeleteResponsibilityByID?id=' + item.ResponsibilityID"
                            [method]="'delete'"
                            [prompt]="'Are you sure you want to delete this owner?'"
                            (onDeleteSuccess)="confirmDeleteRow(item.ResponsibilityID)"
                            (onCancel)="item.isDeleting=false;">
                        </delete-form>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="addingRow">
                <tr class="inline-edit">
                    <td colspan="5">
                        <responsibility-item-form 
                            [item]="addingRow" (onSaveComplete)="confirmAddRow($event)" 
                            (onCancel)="addingRow=null;">
                        </responsibility-item-form>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>