<h3>Controls</h3>
<h5>Examples of common Govern controls.  Documentation of their usage and properties.  For Govern Angular control best guidelines please see <a href="https://infogix.atlassian.net/wiki/spaces/GOVDEV/pages/985333980/Angular+Control+Library+Standards">Govern control guidelines</a>.</h5>
<br />

<div class="row">
    <div class="col s2">
        <div class="collection">
            <div class="control-category" *ngFor="let cat of categories">
                <label class="gallery-label">{{cat.type}}</label>
                <a *ngFor="let control of cat.controls" (click)="activeControl = control.key;" [class]="(activeControl == control.key ? 'collection-item active' : 'collection-item')">{{control.label}}</a>
            </div>
        </div>
    </div>
    <div class="col s10">
        <gallery-switch *ngIf="(activeControl=='switch')"></gallery-switch>
        <gallery-button *ngIf="(activeControl=='button')"></gallery-button>
        <gallery-icon-picker *ngIf="(activeControl=='icon-picker')"></gallery-icon-picker>
        <gallery-tag-picker *ngIf="(activeControl=='tag-picker')"></gallery-tag-picker>
        <gallery-input *ngIf="(activeControl=='input')"></gallery-input>
        <gallery-color-picker *ngIf="(activeControl=='color-picker')"></gallery-color-picker>
        <gallery-autocomplete *ngIf="(activeControl=='auto-complete')"></gallery-autocomplete>
        <gallery-color-variables *ngIf="(activeControl=='color-variables')"></gallery-color-variables>
        <gallery-tooltip *ngIf="(activeControl=='tooltip')"></gallery-tooltip>
        <gallery-autofocus *ngIf="(activeControl=='auto-focus')"></gallery-autofocus>
        <gallery-textarea *ngIf="(activeControl=='textarea')"></gallery-textarea>
        <gallery-date-picker *ngIf="(activeControl=='date-picker')"></gallery-date-picker>
        <gallery-loading *ngIf="(activeControl=='loading')"></gallery-loading>
        <gallery-accordion *ngIf="(activeControl=='accordion')"></gallery-accordion>
        <gallery-grid-paging-info *ngIf="(activeControl=='paging-info')"></gallery-grid-paging-info>
        <gallery-grid-selection-info *ngIf="(activeControl=='selection-info')"></gallery-grid-selection-info>
        <gallery-number-field *ngIf="(activeControl=='number-field')"></gallery-number-field>
        <gallery-message-box *ngIf="(activeControl=='message-box')"></gallery-message-box>
        <gallery-badge *ngIf="(activeControl=='badge')"></gallery-badge>
        <gallery-checkbox *ngIf="(activeControl=='checkbox')"></gallery-checkbox>
        <gallery-popup-menu *ngIf="(activeControl=='popup-menu')"></gallery-popup-menu>
        <gallery-dropdown *ngIf="(activeControl=='select')"></gallery-dropdown>
        <gallery-property-group *ngIf="(activeControl=='propery-group')"></gallery-property-group>
        <gallery-radio-button *ngIf="(activeControl=='radio-button')"></gallery-radio-button>
        <gallery-field-condition-grid *ngIf="(activeControl=='field-condition-grid')"></gallery-field-condition-grid>
        <gallery-search-field *ngIf="(activeControl=='search-field')"></gallery-search-field>
        <gallery-multi-input-field *ngIf="(activeControl=='multi-input-field')"></gallery-multi-input-field>
        <gallery-input-group *ngIf="(activeControl=='input-group')"></gallery-input-group>
        <gallery-modal *ngIf="(activeControl=='modal')"></gallery-modal>
        <gallery-modal-drawer *ngIf="(activeControl=='modal-drawer')"></gallery-modal-drawer>
    </div>
</div>