<div class="tile tile-detail">
    <header>Dropdown Bagbe Compomnent</header>
    <p>
        Functions of the component: <br/>
        display the status (or other analogical, dynamic piece of information) in the details sidepanel of an item, <br/>
        enable the user to change the status by selecting another item from the associated list. <br/>
    </p>
</div>

<div class="tile tile-detail">
    <header>Basic Usage</header>
        <pre>
            &lt;ig-dropdown-badge&gt;
                &lt;ig-dropdown-badge-option [value]="1" label="One"&gt;&lt;/ig-dropdown-badge-option&gt;
                &lt;ig-dropdown-badge-option [value]="2" label="Two"&gt;&lt;/ig-dropdown-badge-option&gt;
                &lt;ig-dropdown-badge-option [value]="3" label="Three"&gt;&lt;/ig-dropdown-badge-option&gt;
            &lt;/ig-dropdown-badge&gt;
        </pre>
</div>

<div class="tile tile-detail">
    <header>Examples</header>
    <div class="gallery-section">
        <h4>Basic</h4>
        <div class="component-container">
            <ig-dropdown-badge>
                <ig-dropdown-badge-option [value]="1" label="One"></ig-dropdown-badge-option>
                <ig-dropdown-badge-option [value]="2" label="Two"></ig-dropdown-badge-option>
                <ig-dropdown-badge-option [value]="3" label="Three"></ig-dropdown-badge-option>
            </ig-dropdown-badge>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Binding - Chosen: {{ basicValue }}</h4>
        <div class="component-container">
            <ig-dropdown-badge [(ngModel)]="basicValue">
                <ig-dropdown-badge-option [value]="1" label="One"></ig-dropdown-badge-option>
                <ig-dropdown-badge-option [value]="2" label="Two"></ig-dropdown-badge-option>
                <ig-dropdown-badge-option [value]="3" label="Three"></ig-dropdown-badge-option>
            </ig-dropdown-badge>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Uneditable</h4>
        <div class="component-container">
            <ig-dropdown-badge [editable]="false" [(ngModel)]="basicValue">
                <ig-dropdown-badge-option [value]="1" label="One"></ig-dropdown-badge-option>
                <ig-dropdown-badge-option [value]="2" label="Two"></ig-dropdown-badge-option>
                <ig-dropdown-badge-option [value]="3" label="Three"></ig-dropdown-badge-option>
            </ig-dropdown-badge>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Status Selector - Chosen: {{ statusValue }}</h4>
        <div class="component-container">
            <ig-dropdown-badge [(ngModel)]="statusValue">
                <ig-dropdown-badge-option value="PENDING" label="Pending" [custom]="true">
                    <span class="status-circle" [style.backgroundColor]="'#ffcc00'"></span>
                    Pending
                </ig-dropdown-badge-option>
                <ig-dropdown-badge-option value="IN PROGRESS" label="In Progress" [custom]="true">
                    <span class="status-circle" [style.backgroundColor]="'#049649'"></span>
                    In Progress
                </ig-dropdown-badge-option>
                <ig-dropdown-badge-option value="ON HOLD" label="On Hold" [custom]="true">
                    <span class="status-circle" [style.backgroundColor]="'#962470'"></span>
                    On Hold
                </ig-dropdown-badge-option>
                <ig-dropdown-badge-option value="BLOCKED" label="Blocked" [custom]="true">
                    <span class="status-circle" [style.backgroundColor]="'#d11947'"></span>
                    Blocked
                </ig-dropdown-badge-option>
            </ig-dropdown-badge>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Custom - Chosen: {{ customValue }}</h4>
        <div class="component-container">
            <ig-dropdown-badge [(ngModel)]="customValue">
                 <ig-dropdown-badge-option *ngFor="let label of ['One', 'Two', 'Three']; let i = index"
                 [value]="i + 1" [label]="label" [custom]="true">
                     <span *ngFor="let _ of [].constructor(i + 1)">I</span>
                 </ig-dropdown-badge-option>
            </ig-dropdown-badge>
        </div>
    </div>
</div>

<div class="tile tile-detail">
    <header>Dropdown Properties</header>
    <p-table [value]="dropdownProperties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
    <header>Option Properties</header>
    <p-table [value]="optionProperties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="tile tile-detail">
    <header>Events</header>
    <p-table [value]="events">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr>
                <td>{{event.Name}}</td>
                <td>{{event.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>