<div class="tile tile-detail">
    <header>Property Group Component</header>
    <p>Wrapper component for form controls.</p>
</div>

<div class="tile tile-detail">
    <header>Implementation notes</header>
    <ul>
        <li>You must have the [formcontrolname] or [name] attributes set on each input.</li>
        <li>Requires the use of either the reactive or template driven forms for invalid/required counts.</li>
        <li>The inputs should be wrapped in a div marked as the inputs for that property group(see basic usage).</li>
    </ul>
</div>

<div class="tile tile-detail">
    <header>Basic Usage</header>
    <code>{{sampleUsage}}</code>
</div>

<div class="tile tile-detail">
    <header>Examples</header>
    <div class="gallery-section">
        <h4>Basic with reactive form (3 required fields with validation. <b>Type No, Bug or Defect for invalid state</b>) </h4>
        <div class="gallery-form-container" style="width:100%;">
            <form *ngIf="testForm != null" [formGroup]="testForm" (ngSubmit)="submitTemplateForm(myForm)">
                <ig-property-group [igformGroup]="testForm" [title]="'PropertyGroup1'">
                    <div inputs>
                        <div class="row">
                            <label for="myFormName" class="ig-label">Property1</label>
                            <input tabindex="1" igInput type="text" [ngClass]="{'invalid': testForm.get('myFormName')?.errors?.notNiceWord}" formControlName="myFormName" required />
                            <div *ngIf="testForm.get('myFormName').invalid && (testForm.get('myFormName').dirty || testForm.get('myFormName').touched)">
                                <div *ngIf="testForm.get('myFormName').errors.notNiceWord" class="ig-text-required">
                                    I dont like No, Bug or Defect!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="myFormAddr" class="ig-label">Property2</label>
                            <input tabindex="1" igInput type="text" [ngClass]="{'invalid': testForm.get('myFormAddr')?.errors?.notNiceWord}" formControlName="myFormAddr" required />
                            <div *ngIf="testForm.get('myFormAddr').invalid && (testForm.get('myFormAddr').dirty || testForm.get('myFormAddr').touched)">
                                <div *ngIf="testForm.get('myFormAddr').errors.notNiceWord" class="ig-text-required">
                                    I dont like No, Bug or Defect!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="myFormEmail" class="ig-label">Property3</label>
                            <input tabindex="1" igInput type="text" [ngClass]="{'invalid': testForm.get('myFormEmail')?.errors?.notNiceWord}" formControlName="myFormEmail" required />
                            <div *ngIf="testForm.get('myFormEmail').invalid && (testForm.get('myFormEmail').dirty || testForm.get('myFormEmail').touched)">
                                <div *ngIf="testForm.get('myFormEmail').errors.notNiceWord" class="ig-text-required">
                                    I dont like No, Bug or Defect!
                                </div>
                            </div>
                        </div>
                    </div>
                </ig-property-group>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <button igButton type="submit" [disabled]="!multiTestForm.valid" label="Save"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Basic with template driven form (1 required, 1 optional)</h4>
        <div class="gallery-form-container" style="width:100%;">
            <form #myForm="ngForm" (ngSubmit)="submitTemplateForm(myForm)">
                <div class="row">
                    <b>Template driven forms</b>
                    <p>template model: {{diagnostic}}</p>
                </div>
                <ig-property-group [igformGroup]="myForm.form" [title]="'Custom Header that has a really long name so it should elide'">
                    <div inputs>
                        <div class="row">
                            <b>Template driven forms</b>
                            <p>template model: {{diagnostic}}</p>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="theName" class="ig-label">Property1</label>
                                <input tabindex="1" igInput [(ngModel)]="model.theName" id="theName" name="theName" #theName="ngModel" required [ngModelOptions]="{ updateOn: 'blur' }" />
                            </div>
                            <div class="row">
                                <label for="theAddr" class="ig-label">Propertylabel that has a long name but should wrap to the next line.</label>
                                <input tabindex="1" igInput [(ngModel)]="model.theAddr" id="theAddr" name="theAddr" #theAddr="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" />
                            </div>
                        </div>
                    </div>
                </ig-property-group>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <button igButton type="submit" [disabled]="!myForm.valid" label="Save"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="gallery-section">
        <h4>2 sections with reactive form (5 required fields with validation. <b>Type No, Bug or Defect for invalid state</b>) </h4>
        <div class="gallery-form-container" style="width:100%;">
            <form *ngIf="multiTestForm != null" [formGroup]="multiTestForm" (ngSubmit)="submitTemplateForm(myForm)">
                <ig-property-group [igformGroup]="multiTestForm" [title]="'top 3 items'">
                    <div inputs>
                        <div class="row">
                            <label for="myFormName" class="ig-label">Property1</label>
                            <input tabindex="1" igInput type="text" [ngClass]="{'invalid': multiTestForm.get('myFormName')?.errors?.notNiceWord}" formControlName="myFormName" required />
                            <div *ngIf="multiTestForm.get('myFormName').invalid && (multiTestForm.get('myFormName').dirty || multiTestForm.get('myFormName').touched)">
                                <div *ngIf="multiTestForm.get('myFormName').errors.notNiceWord" class="ig-text-required">
                                    I dont like No, Bug or Defect!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="myFormColor" class="ig-label">Property2</label>
                            <p-dropdown #dd igDropdown
                                        required
                                        tabindex="1"
                                        igSize="small"
                                        name="selectValue"
                                        placeholder="Value Required"
                                        appendTo="body"
                                        (focus)="applyFocus(dd)"
                                        formControlName="myFormColor"
                                        [options]="cars"></p-dropdown>
                        </div>
                        <div class="row">
                            <label for="effectiveDate" class="ig-label">Property3</label>
                            <ig-date tabindex="1"
                                     [required]="true"
                                     [appendTo]="'body'"
                                     formControlName="myFormDate">
                            </ig-date>
                        </div>
                        <div class="row">
                            <label for="myFormPetName" class="ig-label">Property4</label>
                            <input tabindex="1" igInput type="text" [ngClass]="{'invalid': multiTestForm.get('myFormPetName')?.errors?.notNiceWord}" formControlName="myFormPetName" required />
                            <div *ngIf="multiTestForm.get('myFormPetName').invalid && (multiTestForm.get('myFormPetName').dirty || multiTestForm.get('myFormPetName').touched)">
                                <div *ngIf="multiTestForm.get('myFormPetName').errors.notNiceWord" class="ig-text-required">
                                    I dont like No, Bug or Defect!
                                </div>
                            </div>
                        </div>
                    </div>
                </ig-property-group>
                <ig-property-group [igformGroup]="multiTestForm" [title]="'bottom 2 items'">
                    <div inputs>
                        <div class="row">
                            <label for="myFormAddr" class="ig-label">Property4</label>
                            <input tabindex="1" igInput type="text" [ngClass]="{'invalid': multiTestForm.get('myFormAddr')?.errors?.notNiceWord}" formControlName="myFormAddr" required />
                            <div *ngIf="multiTestForm.get('myFormAddr').invalid && (multiTestForm.get('myFormAddr').dirty || multiTestForm.get('myFormAddr').touched)">
                                <div *ngIf="multiTestForm.get('myFormAddr').errors.notNiceWord" class="ig-text-required">
                                    I dont like No, Bug or Defect!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="myFormEmail" class="ig-label">Property5</label>
                            <input tabindex="1" igInput type="text" [ngClass]="{'invalid': multiTestForm.get('myFormEmail')?.errors?.notNiceWord}" formControlName="myFormEmail" required />
                            <div *ngIf="multiTestForm.get('myFormEmail').invalid && (multiTestForm.get('myFormEmail').dirty || multiTestForm.get('myFormEmail').touched)">
                                <div *ngIf="multiTestForm.get('myFormEmail').errors.notNiceWord" class="ig-text-required">
                                    I dont like No, Bug or Defect!
                                </div>
                            </div>
                        </div>
                    </div>
                </ig-property-group>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <button igButton type="submit" [disabled]="!multiTestForm.valid" label="Save"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="tile tile-detail">
    <header>Properties</header>
    <p-table [value]="properties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

