<div class="tile tile-detail">
    <header>Switch Edit control</header>
    <p>Three state input that allows selecting true, false or none.</p>
</div>

<div class="tile tile-detail">
    <header>Basic Usage</header>
    <code>{{sampleUsage}}</code>
</div>

<div class="tile tile-detail">
    <header>Examples</header>
    <h4>Basic</h4>
    <ig-switch></ig-switch>
    <br /><br /><br /><br />
    <h4>Configurable Labels</h4>
    <p>The labels for true / false are configurable.</p>
    <ig-switch trueLabel="On" falseLabel="Off"></ig-switch>
    <br /><br />
    <ig-switch trueLabel="True" falseLabel="False"></ig-switch>
    <br /><br /><br /><br />
    <h4>With optional selection</h4>
    <p>By default an option must be selected however it is possible to enable no selection via the alwaysSet property.  Simply click on the selected value a second time to unselect or initialize ngModel to undefined.</p>
    <ig-switch [alwaysSet]="false" [ngModel]="undefined"></ig-switch>
    <br /><br /><br /><br />
    <h4>Binding</h4>
    <p>2-way binding between the switch control is supported using ngModel</p>
    <ig-switch [(ngModel)]="bindingVal" [alwaysSet]="false"></ig-switch> <br />
    <span>Current Value is : {{bindingVal}}</span>
    <br /><br /><br /><br />
    <h4>Disabled</h4>
    <p>As with all form controls this input can be disabled</p>
    <ig-switch disabled="true"></ig-switch>
    <br /><br /><br /><br />
    <h4>Form Validation</h4>
    <p>The switch control support Angular native form validation.  Validators such as required can be used and styles can be specified on the control to meet your needs.</p>

    <form #form="ngForm">
        <div class="row">
            <b>Required bool(yes/no)</b>
        </div>
        <div class="row">
            <ig-switch name="somebool" [(ngModel)]="formVal" [alwaysSet]="false" #somebool="ngModel" required [styleClass]="somebool?.errors?.required ? 'switch-required-unset' : ''"></ig-switch>
            <span *ngIf="somebool.invalid && (somebool.dirty || somebool.touched)" class="switch-required-message">
                <span *ngIf="somebool.errors.required">
                    Value required
                </span>
            </span>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <button igButton type="submit" [disabled]="!form.valid" label="Save"></button>
        </div>
    </form>
    <br /><br /><br /><br />
    <h4>Tab Index</h4>
    <p>Click on the first input then tab using your tab keys.</p>
    <form #form2="ngForm">
        <div class="row">
            <input type="text" tabindex="1" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <ig-switch [tabindex]="2" name="somebool"></ig-switch>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <input type="text" tabindex="3" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <input type="text" tabindex="4" />
        </div>
        <div class="row">&nbsp;</div>
    </form>

</div>

<div class="tile tile-detail">
    <header>Properties</header>
    <p-table [value]="properties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="tile tile-detail">    
    <header>Events</header>
    <p-table [value]="events">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr>
                <td>{{event.Name}}</td>
                <td>{{event.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>