<h3>Controls</h3><h5>Examples of common Govern controls.  Documentation of their usage and properties.  For Govern Angular control best guidelines please see <a href="https://infogix.atlassian.net/wiki/spaces/GOVDEV/pages/985333980/Angular+Control+Library+Standards">Govern control guidelines</a>.</h5>
<br />

<div class="row">
    <div class="col s2">         
        <div class="collection">
            <a *ngFor="let control of controls" (click)="activeControl = control.key;" [class]="(activeControl == control.key ? 'collection-item active' : 'collection-item')">{{control.label}}</a>
        </div>        
    </div>
    <div class="col s10">
        <gallery-switch *ngIf="(activeControl=='switch')"></gallery-switch>
        <gallery-button *ngIf="(activeControl=='button')"></gallery-button>
        <gallery-icon-picker *ngIf="(activeControl=='icon-picker')"></gallery-icon-picker>
        <gallery-tag-picker *ngIf="(activeControl=='tag-picker')"></gallery-tag-picker>
        <gallery-input *ngIf="(activeControl=='input')"></gallery-input>
        <gallery-color-picker *ngIf="(activeControl=='color-picker')"></gallery-color-picker>
        <gallery-autocomplete *ngIf="(activeControl=='auto-complete')"></gallery-autocomplete>
        <gallery-color-variables *ngIf="(activeControl=='color-variables')"></gallery-color-variables>
    </div>
</div>