<div class="tile tile-detail">
    <header>Grid Selection Component</header>
    <p>Angular component that shows selection info about a grid.</p>
</div>

<div class="tile tile-detail">
    <header>Basic Usage</header>
    <code>{{sampleUsage}}</code>
</div>

<div class="tile tile-detail">
    <header>Examples</header>
    <div class="gallery-section">
        <h4>Basic</h4>
        <p-table #dt [value]="items" selectionMode="multiple" [(selection)]="selection">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 35px"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th>Name</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td>{{item.name}}</td>
                </tr>
            </ng-template>
            <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                <div style="position: relative; top: 54px;">
                    <d3s-grid-selection-info [model]="items"
                                             [selection]="selection"
                                             (onSelectAllClick)="selection = items"
                                             (onSelectNoneClick)="selection = []">
                    </d3s-grid-selection-info>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="tile tile-detail">
    <header>Properties</header>
    <p-table [value]="properties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="tile tile-detail">
    <header>Events</header>
    <p-table [value]="events">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr>
                <td>{{event.Name}}</td>
                <td>{{event.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
