<div class="tile tile-detail">
    <header>Input Directive</header>
    <p>Angular directive that can be applied to Html input controls.</p>
</div>

<div class="tile tile-detail">
    <header>Basic Usage</header>
    <code>{{sampleUsage}}</code>
</div>

<div class="tile tile-detail">
    <header>Examples</header>
    <div class="gallery-section">
        <h4>Basic with sizes</h4>
        <div class="row">
            small(150px)
            <input igInput type="text" igSize="small" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            medium(308px)
            <input igInput type="text" igSize="medium" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            large(624px)
            <input igInput type="text" igSize="large" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            full(100%)
            <input igInput type="text" igSize="full" />
        </div>
    </div>
    <div class="gallery-section">
        <h4>Errors</h4>
        <div>
            <input igInput type="text" [invalid]="val1 == 'show error'" [(ngModel)]="val1" required />
            {{val1}}
        </div>
        <br />
        <div>
            <input igInput type="text" [invalid]="val2 == 'show error'" [(ngModel)]="val2" validationMessage="im a custom validation message!!" required />
            {{val2}}
        </div>

    </div>
    <div class="gallery-section">
        <h4>Form Validation</h4>
        <div>
            <form #form="ngForm">
                <input igInput type="text" [(ngModel)]="formValue" required name="someinput" #someinput="ngModel" />
            </form>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Tab Index</h4>
        <p>
            Click on the first input then tab using your tab keys.
        </p>
        <div class="row">
            <input igInput type="text" tabindex="1" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <input igInput type="text" tabindex="2" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <input igInput label="I'm 3rd" tabindex="3" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <input igInput type="text" tabindex="4" />
        </div>
    </div>
    <div class="gallery-section">
        <h4>Disabled</h4>
        <div class="row">
            <input igInput type="text" disabled />
        </div>
    </div>
</div>

<div class="tile tile-detail">
    <header>Properties</header>
    <p-table [value]="properties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

