<div class="tile tile-detail">
    <header>Number Field Directive</header>
    <p>Angular directive that can be applied to Html input controls.</p>
</div>

<div class="tile tile-detail">
    <header>Basic Usage</header>
    <code>{{sampleUsage}}</code>
</div>

<div class="tile tile-detail">
    <header>Examples</header>
    <div class="gallery-section">
        <h4>Basic</h4>
        <div>
            <ig-number-input></ig-number-input>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Required</h4>
        <div>
            <ig-number-input required="true"></ig-number-input>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Step = 1 (integer) + required</h4>
        <div>
            <ig-number-input required="true" [step]="1"></ig-number-input>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Step = 0.01 (decimal) + required</h4>
        <div>
            <ig-number-input required="true" [step]="0.01"></ig-number-input>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Disabled</h4>
        <div>
            <ig-number-input disabled="true"></ig-number-input>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Tab Index</h4>
        <p>
            Click on the first input then tab using your tab keys.
        </p>
        <div class="row">
            <ig-number-input [tabindex]="1"></ig-number-input>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <ig-number-input [tabindex]="2"></ig-number-input>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <ig-number-input label="I'm 3rd" [tabindex]="3"></ig-number-input>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <ig-number-input [tabindex]="4"></ig-number-input>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Basic with sizes</h4>
        <div class="row">
            <div class="row">
                <label>
                    <input type="radio" name="demoSize" [(ngModel)]="demoSize" value="small">
                    small(150px)
                </label>&nbsp;
                <label>
                    <input type="radio" name="demoSize" [(ngModel)]="demoSize" value="medium">
                    medium(308px)
                </label>&nbsp;
                <label>
                    <input type="radio" name="demoSize" [(ngModel)]="demoSize" value="large">
                    large(624px)
                </label>&nbsp;
                <label>
                    <input type="radio" name="demoSize" [(ngModel)]="demoSize" value="full">
                    full(100%)
                </label>
            </div>
            <div class="row">&nbsp;</div>
            <ig-number-input [igSize]="demoSize"></ig-number-input>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Validation</h4>
        <div>
            Form validation.
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <form #myForm="ngForm" (ngSubmit)="submitTemplateForm(myForm)">
                <div class="row">
                    <b>Template driven forms</b>
                    <p>template model: {{diagnostic}}</p>
                </div>
                <div class="form-group">
                    <div class="row">
                        <ig-number-input [(ngModel)]="model.number" id="number" name="number" #number="ngModel" required="true" [ngModelOptions]="{ updateOn: 'blur' }"></ig-number-input>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <button igButton type="submit" [disabled]="!myForm.valid" label="Save"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <form #enforeForm="ngForm" (ngSubmit)="submitTemplateForm(enforceForm)">
                <div class="row">
                    <b>Template driven forms with min/max enforcement</b>
                    <p>
                        Because min/max validation for the underlying HTML element is done by a validation function for reactive forms, custom min/max validation has been added to the template
                        driven element. The <i>enforceMaxMin</i> property must be set to true, and the two errors are <i>overMax</i> and <i>underMin</i>. Min is set to -3 and max is set to 3.
                    </p>
                    <p>template model: {{enforcediagnostic}}</p>
                </div>
                <div class="form-group">
                    <div class="row">
                        <ig-number-input [(ngModel)]="enforcemodel.number" id="enforcenumber" name="enforcenumber" #enforcenumber="ngModel" min="-3" max="3" [enforceMaxMin]="true" required="true" [ngModelOptions]="{ updateOn: 'blur' }"></ig-number-input>
                    </div>
                    <div class="row"><pre>valid: {{enforcenumber.valid}}, errors: {{enforcenumber.errors|json}}</pre></div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <button igButton type="submit" [disabled]="!enforeForm.valid" label="Save"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div>
            <div class="row">
                <b>Reactive forms with custom validation</b>
                <p>
                    min:1<br />
                    max: 10<br />
                    invalid numbers(custom): 3, 5 and 7
                </p>
            </div>
            <form *ngIf="form != null" [formGroup]="form">
                <div class="row">
                    <ig-number-input formControlName="myNumber" required="true"></ig-number-input>
                    <div *ngIf="form.get('myNumber').invalid && (form.get('myNumber').dirty || form.get('myNumber').touched)">
                        <div *ngIf="form.get('myNumber').errors.notNiceNumber" class="ig-text-required">
                            I dont like 3, 5 or 7
                        </div>
                        <div *ngIf="form.get('myNumber').errors.min" class="ig-text-required">
                            Please enter a value of 1 or greater
                        </div>
                        <div *ngIf="form.get('myNumber').errors.max" class="ig-text-required">
                            Please enter a value of 10 or lower
                        </div>
                    </div>
                </div>
                <div class="row">Value: {{form.get('myNumber').value}}&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <button igButton type="submit" [disabled]="!form.valid" label="Save"></button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="tile tile-detail">
    <header>Properties</header>
    <p-table [value]="properties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

