<div class="tile tile-detail">
    <header>Input Directive</header>
    <p>Angular directive that can be applied to Html input controls.</p>
</div>

<div class="tile tile-detail">
    <header>Basic Usage</header>
    <code>{{sampleUsage}}</code>
</div>

<div class="tile tile-detail">
    <header>Examples</header>
    <div class="gallery-section">
        <h4>Basic with sizes</h4>
        <div class="row">
            <div class="row">small(150px)</div>
            <input igInput type="text" igSize="small" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="row">medium(308px)</div>
            <input igInput type="text" igSize="medium" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="row">large(624px)</div>
            <input igInput type="text" igSize="large" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="row">full(100%)</div>
            <input igInput type="text" igSize="full" />
        </div>
    </div>
    <div class="gallery-section">
        <h4>Validation</h4>
        <div>
            Form validation.
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <form #myForm="ngForm" (ngSubmit)="submitTemplateForm(myForm)">
                <div class="row">
                    <b>Template driven forms</b>
                    <p>template model: {{diagnostic}}</p>
                </div>
                <div class="form-group">
                    <div class="row">
                        <input igInput [(ngModel)]="model.theName" id="theName" name="theName" #theName="ngModel" required [ngModelOptions]="{ updateOn: 'blur' }" />
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <button igButton type="submit" [disabled]="!myForm.valid" label="Save"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div>
            <div class="row">
                <b>Reactive forms with custom validation: enter Bug, No or Defect for an invalid value</b>
            </div>
            <form *ngIf="testForm != null" [formGroup]="testForm"  (ngSubmit)="submitTemplateForm(myForm)">
                <div class="row">
                    <input igInput type="text" [ngClass]="{'invalid': testForm.get('myFormName')?.errors?.notNiceWord}" formControlName="myFormName" required />
                    <div *ngIf="testForm.get('myFormName').invalid && (testForm.get('myFormName').dirty || testForm.get('myFormName').touched)">
                        <div *ngIf="testForm.get('myFormName').errors.notNiceWord" class="ig-text-required">
                            I dont like No, Bug or Defect!
                        </div>
                    </div>
                </div>
                <div class="row">Value: {{testForm.get('myFormName').value}}&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <button igButton type="submit" [disabled]="!testForm.valid" label="Save"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Disabled</h4>
        <div class="row">
            <input igInput type="text" disabled />
        </div>
    </div>
</div>

<div class="tile tile-detail">
    <header>Properties</header>
    <p-table [value]="properties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

