<div class="tile tile-detail">
    <header>Date Field</header>
    <p>Angular control that allows picking dates.</p>
</div>

<div class="tile tile-detail">
    <header>Basic Usage</header>
    <code>{{sampleUsage}}</code>
</div>

<div class="tile tile-detail">
    <header>Examples</header>
    <div class="gallery-section">
        <h4>Basic</h4>
        <div>
            <ig-date></ig-date>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Basic (appended to body)</h4>
        <div>
            <ig-date [appendTo]="'body'"></ig-date>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Required</h4>
        <div>
            <ig-date required="true"></ig-date>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Disabled</h4>
        <div>
            <ig-date disabled="true"></ig-date>
        </div>
    </div>
    <div class="gallery-section">
        <h4>Binding</h4>
        <div>
            <ig-date [(ngModel)]="val"></ig-date>
        </div>
        <div>
            Selected value: {{val}}
        </div>
    </div>
    <div class="gallery-section">
        <h4>Tab Index</h4>
        <p>
            Click on the first input then tab using your tab keys. Use Esc to close the calendar picker.
        </p>
        <div class="row">
            <input igInput type="text" tabindex="1" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <input igInput type="text" tabindex="2" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <ig-date tabindex="3" [tabindex]="3" [appendTo]="'body'"></ig-date>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <input igInput type="text" tabindex="4" />
        </div>
    </div>
    <div class="gallery-section">
        <h4>Date Ranges</h4>
        <p>
            Selection limited to next 7 days
        </p>
        <div class="row">
            <ig-date [minDate]="today"
                     [maxDate]="nextWeek">
            </ig-date>
        </div>

    </div>
    <div class="gallery-section">
        <h4>Validation</h4>
        <div>
            Form validation.
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <form #myForm="ngForm">
                <div class="row">
                    <b>Template driven forms</b>
                </div>
                <div class="row">
                    <ig-date name="myDate" [(ngModel)]="formVal" #myDate="ngModel" required="true"></ig-date>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <button igButton type="submit" [disabled]="!myForm.valid" label="Save"></button>
                </div>
            </form>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div>
            <div class="row">
                <b>Reactive forms with custom validation</b>
            </div>
            <form *ngIf="form != null" [formGroup]="form">
                <div class="row">
                    <ig-date formControlName="myDate"
                             required="true">
                    </ig-date>
                    <div *ngIf="form.get('myDate').invalid && (form.get('myDate').dirty || form.get('myDate').touched)">
                        <div *ngIf="form.get('myDate').errors.invalidDate" class="ig-text-required">
                            Please select a date in the future
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <button igButton type="submit" [disabled]="!form.valid" label="Save"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="tile tile-detail">
    <header>Properties</header>
    <p-table [value]="properties">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div class="tile tile-detail">
    <header>Events</header>
    <p-table [value]="events">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>{{property.Name}}</td>
                <td>{{property.Type}}</td>
                <td>{{property.Default}}</td>
                <td>{{property.Description}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
