<div class="ig-codearea {{sizeClass}} {{(disabled ? 'disabled' : '')}}">
    <ngx-codemirror [(ngModel)]="value"
                    name="codeExample"
                    [options]="editorConfig"     
                    [required]="required ? 'true' : null"                         
                    class="{{(isValid ? '' : 'ng-invalid')}} {{(readonly ? 'readonly' : '')}} {{(required && value.trim()==='' ? 'required' : '')}}"
                    #codeComponent>
    </ngx-codemirror>
    <div *ngIf="!isCodeValid" class="ig-text-required">{{validationMessage}}</div>
</div>