.relationship-detail {
  overflow: hidden;

  .main-panel {
    padding: 16px;
  }

  .grid-actions-header {
    display: inline-flex;
    width: 100%;
    margin-bottom: 16px;

    .grid-action-buttons {
      div {
        display: inline-block;
      }

      button {
        margin-left: 8px;
      }
    }

    &.hidden {
      display: none;
    }

    .simple-search {
      width: 200px;
    }
  }

  .side-panel {
    margin-right: 0;
  }

  .asset-grid-tools {
    i {
      margin-left: 9px;
    }
  }
}

.relationship-detail-filter {
  .relationships {
    padding: 0 0 16px 16px;

    .item {
      padding: 4px 0 4px 16px;
      display: flex;

      .flex-item {
        display: flex;
      }

      .ig-badge {
        min-width: 40px;
        border: none;
      }
    }

    .rel-type-label {
      color: #202020;
      position: relative;
      left: 0;
      top: 3px;
      font-weight: bold;
    }

    p-checkbox {
      align-items: initial;

      label {
        line-height: 21px;
        position: relative;
        top: -3px;
      }
    }

    .relationship-picker {
      margin-top: 8px;
    }
  }
}

.relationship-dialog {
  height: 100% !important;

  .modal-dialog-main-panel {
    height: 100%;

    .p-datatable {
      padding-right: 0;
    }
  }

  .modal-with-side-panel {
    height: 100%;

    .relationship-detail {
      height: 100%;

      .row {
        height: 100%;

        .col {
          height: 100%;
        }
      }
    }
  }

  .modal-title {
    padding-bottom: 24px;

    h1 {
      font-weight: bold;
      font-size: 18px;
      margin: 0;
    }
  }

  .main-panel {
    overflow: hidden;
  }
}
