<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <div class="row">
        <div class="col l5 m4 s12">
            <div class="FieldName">
                Field
            </div>
            <div>
                <select [ngModel]="condition.FieldTypeID" (ngModelChange)="changeFieldType($event)" style="width: 95%">
                    <option></option>
                    <option *ngFor="let i of metricConditionEditorFieldTypes | metricConditionDisabledFilter" [value]="i.ID">{{i.Name}}</option>
                </select>
            </div>
        </div>
        <div class="col l2 m4 s12" *ngIf="condition.FieldType">
            <div class="FieldName">
                Operator
            </div>
            <div *ngIf="condition.FieldType.Type == 'Boolean'">
                <select [(ngModel)]="condition.Operator" style="width: 95%">
                    <option value="eq">=</option>
                </select>
            </div>
            <div *ngIf="condition.FieldType.Type == 'Decimal' || condition.FieldType.Type == 'Number' || condition.FieldType.Type == 'Date' || condition.FieldType.Type == 'DateTime'">
                <select [(ngModel)]="condition.Operator" style="width: 95%">
                    <option value="eq">=</option>
                    <option value="neq">!=</option>
                    <option value="lt"><</option>
                    <option value="lte"><=</option>
                    <option value="gt">></option>
                    <option value="gte">>=</option>
                </select>
            </div>
            <div *ngIf="condition.FieldType.Type == 'Lookup'">
                <select [(ngModel)]="condition.Operator" style="width: 95%">
                    <option value="eq">=</option>
                    <option value="neq">!=</option>
                </select>
            </div>
            <div *ngIf="condition.FieldType.Type == 'Text'">
                <select [(ngModel)]="condition.Operator" style="width: 95%">
                    <option value="eq">=</option>
                    <option value="neq">!=</option>
                    <option value="lt"><</option>
                    <option value="lte"><=</option>
                    <option value="gt">></option>
                    <option value="gte">>=</option>
                </select>
            </div>
        </div>
        <div class="col l5 m4 s12" *ngIf="condition.FieldType && condition.Operator">
            <div class="FieldName">
                Value
            </div>
            <!--div *ngFor="let cv of condition.Values"-->
            <div *ngIf="condition.FieldType.Type == 'Text'">
                <input type="text" style="width: 95%" [(ngModel)]="condition.Values" />
            </div>
            <div *ngIf="condition.FieldType.Type == 'Lookup'">
                <select style="width:95%;" placeholder="Choose a value" [(ngModel)]="condition.Values">
                    <option></option>
                    <option *ngFor="let l of getLookupValues(condition.FieldTypeID)" [value]="l.Value">{{l.Text}}</option>
                </select>
            </div>
            <div *ngIf="condition.FieldType.Type == 'Date'">
                <p-calendar [(ngModel)]="condition.Values" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
            </div>
            <div *ngIf="condition.FieldType.Type == 'DateTime'">
                <p-calendar [(ngModel)]="condition.Values" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" showTime="true"></p-calendar>
            </div>
            <div *ngIf="condition.FieldType.Type == 'Number'">
                <input type="number" style="width: 95%" [(ngModel)]="condition.Values" />
            </div>
            <div *ngIf="condition.FieldType.Type == 'Decimal'">
                <input type="number" style="width: 95%" [(ngModel)]="condition.Values" [step]="0.25" />
            </div>
            <div *ngIf="condition.FieldType.Type == 'Boolean'">
                <p-toggleButton [(ngModel)]="condition.Values" onLabel="True" offLabel="False"></p-toggleButton>
            </div>
            <!--/div-->
        </div>
        <div class="col s12" style="padding-top: 15px;">
            <button pButton type="button" label="Cancel" (click)="cancel()" style="float: right"></button>
            <button pButton type="button" label="Add" [disabled]="!valid()" (click)="save()" style="float: right"></button>
        </div>
    </div>
</div>