<div class="content">
    <div class="row">
        <select (change)="scoreTypeChange($event)">
            <option [value]="scType.value" *ngFor="let scType of ddlScoreTypes">{{scType.text}}</option>
        </select>
    </div>
</div>
<div class="action-bar">
    <button class="button" (click)="cancel()" [disabled]="isLoading">Cancel</button>
    <span class="grow"></span>
    <button class="button primary {{savingInProgress ? 'loading' : ''}}" (click)="save()" [disabled]="isLoading">
        {{savingInProgress ? '' : 'Save'}}
        <span class="loader"><span class="spinner light"></span></span>
    </button>
</div>