<div class="modal-measure-editor">
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <form #metricForm="ngForm" class="metric-form" [ngStyle]="{'max-height.px': maxHeight }">
        <div class="row" *ngIf="!isLoading && model != null">
            <simple-accordion header="Details" active="true" class="ig-accordion">
                <div class="row two-thirds">
                    <input igInput tabindex="1" class="big" label="Name" type="text" placeholder="Value required" [(ngModel)]="model.Name" #name="ngModel" name="name" maxlength="250" required />
                </div>
                <div class="row">
                    <div>
                        <textarea igInput tabindex="2" istextarea="true" label="Description" [(ngModel)]="model.Description" placeholder="Optional" rows="3" [style]="{'width' : '100%'}" name="description"></textarea>
                    </div>
                </div>
                <div class="measure-two-col">
                    <div class="left">
                        <div class="row">
                            <div class="ig-input-label">
                                Effective From
                            </div>
                            <div (click)="doToggle($event,pc)" class="ig-input calendar" [ngClass]="{'required': !model.EffectiveDate}" >
                                <p-calendar #pc tabindex="3" appendTo="body" [minDate]="currentEffectiveDate | utcDate" [baseZIndex]="20000" [ngModel]="model.EffectiveDate | utcDate" (onModelChange)="model.EffectiveDate = $event" [required]="true" [showTime]="false" placeholder="Value Required" [dateFormat]="getLocaleDateString()" name="effectiveDate"></p-calendar>
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="row bottom-space" *ngIf="!isExternallyCalculated">
                            <div class="ig-input-label">
                                Weight(%)
                                <div class="info-tip">
                                    <i class="fa fa-question-circle"></i>
                                    <div class="tip-container">
                                        <div class="tooltip-content">
                                            Weight determines the contributions of this measure to the overall score calculated for an asset.
                                            For example, a measure with a weight of 50% will contribute twice as much as a measure with a weight of 25%.
                                            The sum of all measures used to calculate the score should sum to 100% (at the top-level and within each group of measures).
                                            Where they do not, they will be adjusted when used to calculate the score.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-spinner" [ngClass]="{'required': !displayWeight}" >
                                <p-spinner #weight tabindex="4" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [(ngModel)]="displayWeight" [required]="true" (ngModelChange)="clamp($event, 0, 1, 2)" placeholder="Value Required" [min]="1" [max]="100" [step]="1" name="weight"></p-spinner>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="verb == 'Edit'" class="mesure-info">
                        <i class="fa fa-info-circle"></i>
                        <span *ngIf="scoreData" class="measure-message">
                            As scoring data has been collected against this measure (effective from {{maxScoreEffectiveDate | utcDate | date:'shortDate' }}),
                            any changes you make to this measure will result in a  new version being created, with a new effective date.
                        </span>
                        <span *ngIf="!scoreData" class="measure-message">
                            Keep an effective date of {{currentEffectiveDate | utcDate | date:'shortDate' }} to update the current version of the measure.
                            Choose a later date to create a new version of the measure, which will be used in future calculations
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="!isExternallyCalculated">
                        <ng-container *ngIf="!parentUid && !model.ParentUid">
                            <div class="ig-input-label {{value == true ? 'checked' : ''}}">
                                Grouping Measure
                                <div class="info-tip">
                                    <i class="fa fa-question-circle"></i>
                                    <div class="tip-container">
                                        <div class="tooltip-content group">
                                            Grouping measures can be used to organize your measures, collecting together a group of a
                                            similar nature (E.g. responsibility assignments, required field checks).
                                            Grouping measures do not have asset conditions, as they are not applied directly to the assets.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ig-switch tabindex="5" [(ngModel)]="model.IsGroup" [ngModelOptions]="{standalone: true}"></ig-switch>
                        </ng-container>
                    </div>
                </div>
            </simple-accordion>
        </div>
        <div class="row" *ngIf="!isLoading && !isExternallyCalculated && model != null">
            <simple-accordion header="Asset Conditions" active="true" *ngIf="!model?.IsGroup" [tooltip]="measurestooltip" class="ig-accordion">
                <div class="row" *ngFor="let g of model.ConditionGroups">
                    <d3s-admin-metric-condition-editor [conditionItems]="g.ConditionItems" (matchTypeChange)="g.MatchType = $event" [matchType]="g.MatchType" [metricConditionEditorFieldTypes]="metricEditorFieldTypes"></d3s-admin-metric-condition-editor>
                </div>
            </simple-accordion>
        </div>
    </form>
    <div class="row" *ngIf="!isLoading">
        <div class="action-bar" style="padding-top: 15px">
            <button igButton class="left" type="button" label="Cancel" (click)="cancel()"></button>
            <span class="grow"></span>
            <button igButton class="ig-button-primary" type="button" label="Done" [disabled]="!metricForm.form.valid || !valid() || conditionFormMode != FormMode.Default" (click)="save()"></button>
        </div>
    </div>
</div>
