<div class="row" *ngIf="g.ConditionItems">
    <div class="condition-row d3s-color-picker" *ngFor="let condition of g.ConditionItems">
        <p-dropdown [class]="condition-dropdown" [options]="metricEditorFieldTypes | metricConditionDisabledFilter" [ngModel]="condition.ConditionFieldTypeID" [ngModelOptions]="{standalone: true}" placeholder="Choose Field" scrollHeight="320px">
            <ng-template let-item pTemplate="item">
                <div class="ig-colorfield-item">
                    <span class="ig-colorfield-item-label">{{item.label}}</span>
                </div>
            </ng-template>
        </p-dropdown>
        <p-dropdown [class]="condition-dropdown" [options]="operators" [ngModel]="condition.Operator" [ngModelOptions]="{standalone: true}" placeholder="Choose Field" scrollHeight="320px">
            <ng-template let-item pTemplate="item">
                <div class="ig-colorfield-item">
                    <span class="ig-colorfield-item-label">{{item.label}}</span>
                </div>
            </ng-template>
        </p-dropdown>
        <div *ngIf="condition?.FieldType?.Type == 'Text'">
            <input type="text" style="width: 95%" [(ngModel)]="condition.SingleValue" [ngModelOptions]="{standalone: true}" />
        </div>
        <div *ngIf="condition?.FieldType?.Type == 'Lookup'">
            <select style="width:95%;" placeholder="Choose a value" [(ngModel)]="condition.SingleValue">
                <option></option>
                <option *ngFor="let l of getLookupValues()" [value]="l.Value">{{l.Text}}</option>
            </select>
        </div>
        <div *ngIf="condition?.FieldType?.Type == 'Date'">
            <p-calendar [(ngModel)]="condition.SingleValue" [ngModelOptions]="{standalone: true}" [dateFormat]="getLocaleDateString()" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
        </div>
        <div *ngIf="condition?.FieldType?.Type == 'DateTime'">
            <p-calendar [(ngModel)]="condition.SingleValue" [ngModelOptions]="{standalone: true}" [dateFormat]="getLocaleDateString()" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" showTime="true"></p-calendar>
        </div>
        <div *ngIf="condition?.FieldType?.Type == 'Number'">
            <input type="number" style="width: 95%" [(ngModel)]="condition.SingleValue" [ngModelOptions]="{standalone: true}" />
        </div>
        <div *ngIf="condition?.FieldType?.Type == 'Decimal'">
            <input type="number" style="width: 95%" [(ngModel)]="condition.SingleValue" [ngModelOptions]="{standalone: true}" [step]="0.25" />
        </div>
        <div *ngIf="condition?.FieldType?.Type == 'Boolean'">
            <p-toggleButton [(ngModel)]="condition.SingleValue" [ngModelOptions]="{standalone: true}" onLabel="True" offLabel="False"></p-toggleButton>
        </div>
        {{condition.Name}} {{condition.OperatorText}} {{condition.ValuesText}}
    </div>
</div>
<div class="row" *ngIf="g.ConditionItems.length > 1">
    <div><p-radioButton name="grpConditionAndOr" value="1" label="And" [(ngModel)]="g.MatchType"></p-radioButton></div>
    <div><p-radioButton name="grpConditionAndOr" value="2" label="Or" [(ngModel)]="g.MatchType"></p-radioButton></div>
</div>