<header>{{verb}} {{child}} Measure</header>
<d3s-loading [isLoading]="isLoading"></d3s-loading>
<form (ngSubmit)="onSubmit()" #metricForm="ngForm">
    <div class="row" *ngIf="!isLoading">
        <div class="col l6 m12 s12">
            <div class="row">
                <div class="col l6 m12 s12">
                    <div class="FieldNameRequired">Name</div>
                    <input type="text" [(ngModel)]="model.Name" style="width: 100%" #name="ngModel" name="name" maxlength="250" required />
                    <div [hidden]="name.valid || name.pristine" class="validation-text">Name is required</div>
                </div>
                <div class="col l6 m12 s12" *ngIf="!isExternallyCalculated">
                    <ng-container *ngIf="!parentUid && !model.ParentUid">
                        <p-checkbox [(ngModel)]="model.IsGroup" binary="true" label="Grouping?" name="IsGroup"></p-checkbox>
                    </ng-container>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col l6 m12 s12">
                        <div class="FieldNameRequired">
                            Effective Date
                        </div>
                        <div class="directions">Provide a date that this measure becomes effective.</div>
                        <div>
                            <p-calendar [(ngModel)]="model.EffectiveDate" [showTime]="false" [dateFormat]="getLocaleDateString()" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" name="effectiveDate"></p-calendar>
                        </div>
                    </div>
                    <div class="col l6 m12 s12" *ngIf="!isExternallyCalculated"> 
                        <div class="FieldNameRequired">
                            Weight
                        </div>
                        <div class="directions">Weight must be a value between 0 and 1</div>
                        <div>
                            <p-spinner #weight [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [(ngModel)]="model.Weight" (ngModelChange)="clamp($event, 0, 1, 2)" [min]="0" [max]="1" [step]="0.05" name="weight"></p-spinner> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12">
            <div class="row">
                <div class="col s12">
                    <div class="FieldName">Description</div>
                    <div>
                        <textarea pInputTextarea [(ngModel)]="model.Description" autoResize="autoResize" [style]="{'width' : '100%'}" name="description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading && !isExternallyCalculated">
        <div class="col s12">
            <simple-accordion header="Conditions" active="true" *ngIf="!model?.IsGroup">
                <div class="row" *ngFor="let g of model.ConditionGroups">
                    <div class="col l3 m12 s12">
                        <div class="FieldName">
                            Condition Type
                        </div>
                        <div class="directions">
                            Choose which type of operator you want to use between each condition. The AND operator will ensure that all conditions are met. The OR operator ensures that at least one of the conditions applies.
                        </div>
                        <div><p-radioButton name="grpConditionAndOr" value="1" label="And" [(ngModel)]="g.MatchType"></p-radioButton></div>
                        <div><p-radioButton name="grpConditionAndOr" value="2" label="Or" [(ngModel)]="g.MatchType"></p-radioButton></div>
                    </div>
                    <div class="col l9 m12 s12">
                        <d3s-admin-metric-condition-list [(conditions)]="g.ConditionItems"
                                                         [(metricConditionListFieldTypes)]="metricEditorFieldTypes"
                                                         [conditionUid]="g?.Uid"
                                                         [position]="g?.Position"
                                                         [assetTypeUid]="model?.AssetTypeUid"
                                                         (formModeChange)="conditionFormMode = $event">
                        </d3s-admin-metric-condition-list>
                    </div>
                </div>
            </simple-accordion>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col s12" style="padding-top: 15px">
            <button pButton type="button" label="Save" [disabled]="!metricForm.form.valid || !valid() || conditionFormMode != FormMode.Default" (click)="save()"></button>
            <button pButton type="button" label="Cancel" (click)="cancel()" [disabled]="conditionFormMode != FormMode.Default"></button>
        </div>
    </div>
</form>
