<form #ruleStepRelate="ngForm">
    <div class="row">
        <div class="col l4 m12 s12">
            <div class="FieldName" style="display:block">Relationship Type</div>
            <select [(ngModel)]="settings.IntersectType" style="width:100%" name="intersecttype" #intersecttype="ngModel" required (ngModelChange)="validate()">
                <option></option>
                <option *ngFor="let i of relations" [value]="i.ID">{{i.Name}}</option>
            </select>
            <div class="errorMessage" [hidden]="!showErrors || intersecttype.valid">Relationship Type is required</div>
        </div>
        <div class="col l4 m12 s12">
            <div class="FieldName" style="display:block">Subject Search Type</div>
            <select [(ngModel)]="settings.SubjectSearch" style="width:100%" (ngModelChange)="changeSubjectSearch()" name="subjectsearch" #subjectsearch="ngModel" required>
                <option></option>
                <option *ngFor="let i of searchTypes" [value]="i.value">{{i.text}}</option>
            </select>
            <div class="errorMessage" [hidden]="!showErrors || subjectsearch.valid">Subject search type is required</div>
            <div *ngIf="settings.SubjectSearch == 'ResultFromStep'">
                <div class="FieldName" style="display:block">Subject Step</div>
                <select [(ngModel)]="settings.SubjectID" style="width:100%" name="subjectstep" #subjectstep="ngModel" required (ngModelChange)="validate()">
                    <option></option>
                    <option *ngFor="let i of steps" [value]="i.ID">{{i.Description}}</option>
                </select>
                <div class="errorMessage" [hidden]="!showErrors || subjectstep.valid">Subject step is required</div>
            </div>
            <div *ngIf="settings.SubjectSearch == 'FusionOwner'">
                <div class="FieldName" style="display:block">Subject Fusion Owner</div>
                <select [(ngModel)]="settings.SubjectID" style="width:100%" name="subjectfusion" #subjectfusion="ngModel" required (ngModelChange)="validate()">
                    <option></option>
                    <option *ngFor="let i of owners" [value]="i.ID">{{i.Name}}</option>
                </select>
                <div class="errorMessage" [hidden]="!showErrors || subjectfusion.valid">Fusion owner required</div>
            </div>
        </div>
        <div class="col l4 m12 s12">
            <div class="FieldName" style="display:block">Object Search Type</div>
            <select [(ngModel)]="settings.ObjectSearch" style="width:100%" (ngModelChange)="changeObjectSearch()" name="objectsearch" #objectsearch="ngModel" required>
                <option></option>
                <option *ngFor="let i of searchTypes" [value]="i.value">{{i.text}}</option>
            </select>
            <div class="errorMessage" [hidden]="!showErrors || objectsearch.valid">Object search is required</div>
            <div *ngIf="settings.ObjectSearch == 'ResultFromStep'">
                <div class="FieldName" style="display:block">Object Step</div>
                <select [(ngModel)]="settings.ObjectID" style="width:100%" name="objectstep" #objectstep="ngModel" required (ngModelChange)="validate()">
                    <option></option>
                    <option *ngFor="let i of steps" [value]="i.ID">{{i.Description}}</option>
                </select>
                <div class="errorMessage" [hidden]="!showErrors || objectstep.valid">Object step is required</div>
            </div>
            <div *ngIf="settings.ObjectSearch == 'FusionOwner'">
                <div class="FieldName" style="display:block">Object Fusion Owner</div>
                <select [(ngModel)]="settings.ObjectID" style="width:100%" name="objectfusion" #objectfusion="ngModel" required (ngModelChange)="validate()">
                    <option></option>
                    <option *ngFor="let i of owners" [value]="i.ID">{{i.Name}}</option>
                </select>
                <div class="errorMessage" [hidden]="!showErrors || objectfusion.valid">Object fusion is required</div>
            </div>
        </div>
    </div>
</form>