<form #ruleStepRelation="ngForm">
    <div class="row">
        <div class="col s12">
            <div class="FieldName" style="display:block">Intersect Type</div>
            <select [(ngModel)]="settings.IntersectType" style="width:100%" name="intersectType" #intersectType="ngModel" required (ngModelChange)="validate()">
                <option *ngFor="let i of relations" [value]="i.ID">{{i.Name}}</option>
            </select>
            <div class="errorMessage" [hidden]="!showErrors || intersectType.valid">Intersect type is required</div>
        </div>
    </div> 
    <div class="row">
        <div class="col s12">
            <div class="FieldName" style="display: block">Search Type</div>
            <select [(ngModel)]="settings.Search" style="width:100%" name="search" #search="ngModel" required (ngModelChange)="validate()">
                <option *ngFor="let i of searchTypes" [value]="i.value">{{i.text}}</option>
            </select>
            <div class="errorMessage" [hidden]="!showErrors || search.valid">Search type is required</div>
        </div>
        <div class="col s12">
            <div *ngIf="settings.Search == 'ResultFromStep'">
                <div class="FieldName" style="display: block">Result From Step</div>
                <select [(ngModel)]="settings.ID" style="width:100%" name="result" #result="ngModel" required (ngModelChange)="validate()">
                    <option *ngFor="let i of steps" [value]="i.ID">{{i.Description}}</option>
                </select>
                <div class="errorMessage" [hidden]="!showErrors || result.valid">Step is required</div>
            </div>
        </div>
    </div>
</form>
