
<form #ruleStepPromotion="ngForm">
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="FieldName" style="display:block">Promotion Type</div>
            <select [(ngModel)]="settings.Object" style="width:100%" (ngModelChange)="changePromotionObjectType()" name="promotetype" #promotetype="ngModel" required>
                <option *ngFor="let i of promotionObjectTypes" [value]="i.value">{{i.text}}</option>
            </select>
            <div class="errorMessage" [hidden]="!showErrors || promotetype.valid">Promotion type is required</div>
        </div>
        <div class="col l6 m6 s12">
            <div class="FieldName" style="display:block">Promotion To</div>
            <select [(ngModel)]="settings.ObjectID" style="width:100%" (ngModelChange)="changePromotionObject($event)" name="promoteto" #promoteto="ngModel" required>
                <option *ngFor="let i of promotionObjects" [value]="i.ID">{{i.Name}}</option>
            </select>
            <div class="errorMessage" [hidden]="!showErrors || promoteto.valid">Promotion object is required</div>
        </div>
    </div>
    <div class="row" *ngIf="showPromotionParent">
        <div class="col l6 m6 s12">
            <div class="FieldName" style="display:block">Parent Search</div>
            <select [(ngModel)]="settings.ParentObjectSearch" style="width:100%" (ngModelChange)="changeParentSearch()" name="parentsearch" #parentsearch="ngModel" required>
                <option *ngFor="let i of parentSearchTypes" [value]="i.value">{{i.text}}</option>
            </select>
            <div class="errorMessage" [hidden]="!showErrors && parentsearch.valid">Parent search is required</div>
        </div>
        <div class="col l6 m6 s12">
            <div *ngIf="settings.ParentObjectSearch == 'Direct'">
                <div class="FieldName" style="display:block">Promote Under</div>
                <select [(ngModel)]="settings.ParentObjectID" style="width:100%" name="promoteunder" #promoteunder="ngModel" required (ngModelChange)="validate()">
                    <option *ngFor="let i of parents" [value]="i.ID">{{i.Name}}</option>
                </select>
                <div class="errorMessage" [hidden]="!showErrors && promoteunder.valid">This field is required</div>
            </div>
            <div *ngIf="settings.ParentObjectSearch == 'ResultFromStep'">
                <div class="FieldName" style="display:block">Results from Step</div>
                <select [(ngModel)]="settings.ParentObjectID" style="width:100%" name="resultsfromstep" #resultsfromstep="ngModel" required (ngModelChange)="validate()">
                    <option *ngFor="let i of parents" [value]="i.ID">{{i.Description}}</option>
                </select>
                <div class="errorMessage" [hidden]="!showErrors && resultsfromstep.valid">Step is required</div>
            </div>
            <div *ngIf="settings.ParentObjectSearch == 'FusionOwner'">
                <div class="FieldName" style="display:block">Fusion Owner</div>
                <select [(ngModel)]="settings.ParentObjectID" style="width:100%" name="fusionowner" #fusionowner="ngModel" required (ngModelChange)="validate()">
                    <option *ngFor="let i of parents" [value]="i.ID">{{i.Name}}</option>
                </select>
                <div class="errorMessage" [hidden]="!showErrors && fusionowner.valid">Fusion owner is required</div>
            </div>
        </div>
    </div>
</form>