<d3s-configuration-asset-type-header [assetTypeClass]="assetTypeClass"
									 [uid]="uid">
</d3s-configuration-asset-type-header>
<d3s-configuration-asset-type-tabs [assetTypeClass]="assetTypeClass"
								   [uid]="uid">
</d3s-configuration-asset-type-tabs>
<d3s-loading [isLoading]="loadingCount != 0"></d3s-loading>

<d3s-admin-relationships-component *ngIf="loadingCount == 0"
								   [isStandalonePage]="false"
								   [showTitle]="false"
								   [assetTypeUid]="uid"></d3s-admin-relationships-component>

