@import '../../../../../Content/styles/_Variables.less';

.fa-exclamation-triangle {
  color: #d11947;
}

.assignments-table-data {
  word-wrap: break-word;
}

.menu-icon {
  display: inline-block;

  button {
    background: none;
  }
}

.more-assignee-count {
  background: @ig-slate-t5;
  padding-right: 5px;
  margin-left: 5px;
}