@import '../../../../../Content/styles/_Variables.less';

.fa-exclamation-triangle {
  color: #d11947;
  margin-right: 5px;
}

.assignments-table-data {
  word-wrap: break-word;
}

.menu-icon {
  display: inline-block;

  button {
    background: none;
  }
}

.more-assignee-count {
  background: @ig-slate-t5;
  padding-right: 5px;
  margin-left: 5px;
}

.asset-grid-wrapper {
  padding: 0 6px;
}

.workflow-name-column {
  width: 264px;
}

.associated-with-column {
  width: 264px;
}

.initiator-column {
  width: 200px;
}

.initiated-column {
  width: 96px;
}

.assignee-column {
  width: 368px;
}

.status-column {
  width: 80px;
}

.days-open-column {
  width: 104px;
}

.action-type-other-column {
  width: 400px;
}

.action-type-boolean-column {
  width: 80px;
}

.action-type-date-column {
  width: 96px;
}

.action-type-date-time-column {
  width: 176px;
}

.action-type-number-column {
  width: 112px;
}

.assignment-row-menu-column {
  padding: 0;
  text-align: right;
}

:host p-table ::ng-deep table {
  th, td {
    &:not(:last-child) {
      padding-right: 16px;
    }

    &:not(:first-child) {
      padding-left: 16px;
    }
  }
}
