.multi-assignment-selector {
  height: 100%;

  .header-wrapper {
    border-bottom: 1px solid #d7d8dc;
    margin-bottom: 1rem;
  }

  .ig-property-group {
    padding-bottom: 16px;

    .p-datatable {
      padding-right: 0 !important;
    }
  }

  .subtitle {
    opacity: 0.6;
    padding: 8px 0 16px 0;
  }

  .table-row {
    button {
      width: 24px;
      height: 24px;
    }
  }

  .associated-type-name {
    padding-bottom: 12px;
  }

  .modal-overlay .modal-dialog .content {
    padding-bottom: 24px;
  }

  .side-panel-container {
    padding: 16px 0 16px 0;
  }

  .side-panel-button {
    margin-right: 0;
  }

  .grid-actions-header {
    padding: 0 0 8px 0;
  }
}

.content-without-header {
  overflow-y: auto;
  height: calc(100% - 84px);
  padding-right: 24px;
}

.content-with-header {
  padding-right: 0 !important;
}

.assignment-modal-dialog {
  min-height: 256px;
  height: 100%;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host p-table ::ng-deep table {
  th, td {
    &:not(:last-child) {
      padding-right: 12px;
    }

    &:not(:first-child) {
      padding-left: 12px;
    }
  }
}

.checkbox-column {
  width: 36px;
}

.associated-with-column {
  width: 196px;
}

.object-type-column {
  width: 128px;
}

.initiated-by-column {
  width: 196px;
}

.initiated-on-column {
  width: 96px;
}

.tools-column {
  width: 40px;
}
