.multi-assignment-selector {
  overflow-y: auto;

  .header-wrapper {
    border-bottom: 1px solid #d7d8dc;
    margin-bottom: 1rem;
  }

  .ig-property-group {
    padding-bottom: 16px;

    .p-datatable {
      padding-right: 0 !important;
    }
  }

  .subtitle {
    opacity: 0.6;
    padding: 8px 0 16px 0;
  }

  .table-row {
    button {
      width: 24px;
      height: 24px;
      right: -18px !important;
    }
  }

  .associated-type-name {
    padding-bottom: 12px;
  }

  .modal-overlay .modal-dialog .content {
    padding-bottom: 24px;
  }

  .side-panel-container {
    padding: 16px 0 16px 0;
  }

  .side-panel-button {
    margin-right: 0;
  }

}

.assignment-modal-dialog {
  min-height: 256px;
}

