.switch {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background: #f1f2f3;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 32px;
    padding-top: 1px;
}


.switch::before {
    display: inline-block;
    content: ' ';
    position: absolute;
    top: 2px;
    left: 52px;
    width: 46px;
    height: 26px;
    background: #0971b9;
    border-radius: 2px;
    transition: left 150ms ease;
}
.switch button {
    position: relative;
    background: none;
    border: none;
    height: 26px;
    width: 50px;
    text-align: center;
    color: #202020;
    cursor: pointer;
    transition: color 150ms ease;
}

.switch :focus {
    outline: none;
    border: none;
    box-shadow: none;
}


.switch.checked button.check, .switch:not(.checked) button.uncheck {
    color: white;
    cursor: default
}

.switch.checked::before {
    left: 2px;
}

.switch.unset::before {
    background: initial;
    color: black;
    cursor: pointer;
}

.switch.unset button {
    color: black !important;
    cursor: pointer !important;
}

.switch.disabled button.check, .switch.disabled button.uncheck {
    cursor: default;
}