@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";

.switch {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background: @ig-grey-t5;
  border: 1px solid #cccccc;
  border-radius: @ig-field-border-radius;
  height: @ig-field-height;
  padding-top: 1px;

  &.required {
    background: @ig-lightblue-t4;
  }

  &::before {
    display: inline-block;
    content: ' ';
    position: absolute;
    top: 2px;
    left: 52px;
    width: 46px;
    height: 26px;
    background: var(--primaryButtonBackColor);
    border-radius: 2px;
    transition: left 150ms ease;
  }

  &:focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 @ig-focus-width @ig-focus-color;
    -moz-box-shadow: 0 0 0 @ig-focus-width @ig-focus-color;
    box-shadow: 0 0 0 @ig-focus-width @ig-focus-color;
  }

  button {
    position: relative;
    background: none;
    border: none;
    height: 26px;
    width: 50px;
    text-align: center;
    color: @ig-black;
    cursor: pointer;
    transition: color 150ms ease;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &.checked button.check, &:not(.checked) button.uncheck {
    color: var(--calculatedPrimaryButtonTextColor);
  }

  &.checked::before {
    left: 2px;
  }

  &.unset::before {
    background: initial;
    color: @ig-black;
    cursor: pointer;
  }

  &.unset button {
    color: @ig-black !important;
    cursor: pointer !important;
  }

  &.disabled button.check, &.disabled button.uncheck {
    cursor: default;
  }

  &.disabled {
    opacity: @ig-field-disabled-opacity;
  }
}

.switch-required-unset {
  background: @ig-lightblue-t4;
}

.switch.required {
  &.checked button.check, &:not(.checked) button.uncheck {
    cursor: default;
  }
}

.switch-required-message {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  background: @ig-lightblue-t4;
  border: none;
  border-radius: 12px;
  padding: 0 12px;
  color: @ig-grey-t1;
  margin-left: 8px;
}
