<header>
    <div *ngIf="!isModal">Relationships</div>
    <d3s-tile-actions [hasAdd]="hasAdd" [hasExport]="enableExport()" (exportClick)="export()" (addClick)="showAddRelationship = true;" [hasFilterMode]="hasFilterMode" [(filterMode)]="showSimpleFilter"></d3s-tile-actions>
</header>
<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading && hasRelationships && hideDelete" class="row" style="padding-left:10px;padding-bottom:5px;">
    <p-checkbox igCheckbox
                pTooltip="If you would like to see relationship types that have no relationships established click here.  In order to setup relations between types with no relations you need to enable this option also."
                tooltipPosition="top"
                tooltipStyleClass="ig-tooltip"
                [(ngModel)]="showEmptyRelationshipTypes"
                label="Show relationship types with no relations established"
                binary="true">
    </p-checkbox>

</div>
<div class="row">
    <div *ngIf="!isLoading && hasRelationships && hideDelete" class="col l3 s12 relationship-container">
        <ng-template ngFor let-rel [ngForOf]="relationshipItems">
            <div class="row relationship" *ngIf="(rel.Count > 0 && !showEmptyRelationshipTypes) || showEmptyRelationshipTypes" [ngClass]="{'active' : isSelected(rel)}" (click)="relationClick(rel)">
                <div class="col s10 name"
                     style="word-wrap: break-word;">
                    <i class="{{getIconClass(rel)}}"
                       [pTooltip]="getIconTooltip(rel)"></i>
                    {{rel.TypeName}}
                </div>
                <div class="col s2 count center" [ngClass]="{'empty-count': rel.Count == 0, 'count': rel.Count != 0}">{{rel.Count}}</div>
            </div>
        </ng-template>
    </div>
    <div class="col l9 s12">
        <d3s-dynamic-relationship-grid *ngIf="selected"
                                       [assetUid]="assetUid"
                                       [intersectTypeUid]="selected.Uid"
                                       [objectUid]="selected.Object.Uid"
                                       [subjectUid]="selected.Subject.Uid"
                                       [relationshipName]="selected.TypeName + ' Relationship'"
                                       [simpleFilter]="showSimpleFilter"
                                       (onFilterChange)="onFilterChange($event)"
                                       [readOnly]="readOnly"
                                       [(addRelationship)]="showAddRelationship"
                                       (relationshipAdded)="addRelationship($event)"
                                       (relationshipRemoved)="removeRelationship($event)"
                                       (deleteOn)="hideforDelete()"
                                       (deleteOff)="unhideforDelete()"
                                       [isSubject]="selected.IsSubject"
                                       [count]="selected.Count"
                                       [hasEdit]="hasModifyRelationshipsPermissions() && selected?.AllowEditFromRelationshipEditor"
                                       [hasDelete]="hasDeleteRelationshipsPermissions() && selected?.AllowEditFromRelationshipEditor">
        </d3s-dynamic-relationship-grid>
    </div>
</div>
<div class="row" *ngIf="!isLoading && !hasRelationships  && hideDelete">
    <div class="col s12">
        <span class="center">No relationship types are currently setup for this asset type.  Please contact your administrator or use the Configuration / Relationships screen to configure them.</span>
    </div>
</div>
