<d3s-modal [title]="'Form Responses'"
		   [subtitle]="step?.Name"
		   [isVisible]="isModalVisible"
		   [showActionBar]="true"
		   [showConfirm]="false"
		   cancelButtonLabel="Close"
		   [additionalClasses]="'medium-dialog'"
		   (onClose)="isModalVisible = false">
	<div *ngIf="step" class="content">
		<ig-property-group title="Information" [shouldBePadded]="false" [showHeaderLine]="false">
			<div readonly>
				<ng-container>

				</ng-container>
			</div>
		</ig-property-group>
	</div>
</d3s-modal>