@import "../../../../../Content/styles/infogix-ui/infogix-ui.less";

.ig-message-box {
   line-height: 18px;
   padding: 16px;
   border-radius: 4px;
   background: #fbe7bd;
   color: @ig-black;
   display: inline-block;

  .fa {
    line-height: 17px;
    display: inline-block;
    float: left;
  }

  .message-box-text {
    padding-left: 22px;
  }
}
