<div *ngIf="isDataQualityMeasure()">
    <div class="measure-details-item">
        <div class="details-header" i18n>Rule Results</div>
        <div class="details-condition">
            <div class="condition-content">
                <div class="condition-items" [innerHtml]="ruleResultPathHtml"></div>
            </div>
        </div>
    </div>
    <div class="measure-details-item">
        <div class="details-header" i18n>Rule Result Operation</div>
        <div class="details-condition">
            <div class="condition-content">
                <div class="condition-items" [innerHtml]="ruleResultOperation"></div>
            </div>
        </div>
    </div>
    <div *ngIf="hasRuleResultFilters()" class="measure-details-item">
        <div class="details-header" i18n>Rule Result Filters</div>
        <div class="details-condition">
            <div class="condition-content">
                <div class="condition-items">
                    <div *ngFor="let filter of ruleResultFilters" class="right-space">
                        {{filter.assetTypeName}} &gt; {{filter.fieldTypeName}} {{filter.operator}} {{filter.value}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isGovernanceMeasure()" class="measure-details-item">
    <div class="details-header"i18n>Pass Test</div>
    <div class="details-condition">
        <div [ngSwitch]="definition.Governance.Check">
            <div *ngSwitchCase="'External'">
                <div class="condition-content">
                    <div class="condition-items">
                        <div>{{formattedCheck}}</div>
                    </div>
                </div>
            </div>
            <div class="row row-margin" *ngSwitchCase="'Field'">
                <div class="condition-content">
                    <div class="condition-items">
                        <div *ngIf="dateShowType == null" i18n>Field: {{formattedCheck}}</div>
                        <div *ngIf="dateShowType == 'Date'" i18n>Field: {{formattedCheck}} {{dateVal1 | utcDate  | date:'shortDate'}}<span *ngIf="dateVal2"> and {{dateVal2  | utcDate  | date:'shortDate'}} </span></div>
                    </div>
                </div>
            </div>
            <div class="row row-margin" *ngSwitchCase="'Owner'">
                <div class="condition-content">
                    <div class="condition-items">
                        <ng-container i18n>Ownership</ng-container>: {{formattedCheck}}
                    </div>
                </div>
            </div>
            <div class="row row-margin" *ngSwitchCase="'Predicate'">
                <div class="condition-content">
                    <div class="condition-items">
                        <ng-container i18n>Predicate</ng-container>: {{formattedCheck}}
                    </div>
                </div>
            </div>
            <div class="row row-margin" *ngSwitchCase="'Relation'">
                <div class="condition-content">
                    <div class="condition-items">
                        <ng-container i18n>Relationship</ng-container>: {{formattedCheck}}
                    </div>
                </div>
            </div>
            <ng-template ngSwitchDefault>
                <div class="condition-content">
                    <div class="condition-items" i18n>
                        default
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>