<div class="row">
    <div class="tile tile-detail measures">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <div *ngIf="!isLoading && allocation">
            <div class="measure-heading">
                <div class="title" i18n>Score Definition</div>
                <div class="actions">
                    <button igButton icon="fa-pencil" (click)="showEdit = true" tooltip="Edit score definition"></button>
                </div>
            </div>
            <div class="measure-details">
                <div class="col s6">
                    <div class="measure-details-item">
                        <div class="details-header" i18n>Asset Type</div>
                        <div class="details-content">{{allocation?.assetTypePath}}</div>
                    </div>
                    <div class="measure-details-item">
                        <div class="details-header" i18n>Score Calculation</div>
                        <div class="details-content">{{formattedScoreCalc}}</div>
                    </div>
                </div>
                <div class="col s6 measure-ranges">
                    <div class="measure-details-item">
                        <div class="details-header" i18n>Scoring Bands</div>
                        <div class="score-ranges">
                            <div class="score-range">
                                <span class="score-box score-poor"></span>
                                <span class="text">0%-{{allocation.lowerThreshold}}%</span>
                            </div>
                            <div class="score-range">
                                <span class="score-box score-average"></span>
                                <span class="text">{{allocation.lowerThreshold}}.%-{{allocation.upperThreshold}}%</span>
                            </div>
                            <div class="score-range">
                                <span class="score-box score-good"></span>
                                <span class="text">{{allocation.upperThreshold}}.%-100%</span>
                            </div>
                        </div>
                    </div>
                    <div class="measure-details-item">
                        <div class="details-header">UID</div>
                        <div class="details-content">{{allocation.uid}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tile tile-detail measures">
    <div class="measure-actions" *ngIf="!isLoading">
        <div class="action-box">
            <p-checkbox igCheckbox [(ngModel)]="showDisabled" [binary]="true" label="Show disabled measures" *ngIf="!isMeasureListCommandBarDisabled"></p-checkbox>
            <button igButton icon="fa-plus" (click)="add()" class="ig-button-primary" label="Add Measure" [disabled]="isMeasureListCommandBarDisabled || screenReferencedStillLoading()"></button>
        </div>
    </div>
    <div class="measure-heading measure-list">
        <div class="title" i18n>Measures</div>
    </div>
    <div class="measure-details">
        <div class="col s7">
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <measure-list #metricList 
                          *ngIf="!isLoading && allocation"
                          [allocation]="allocation"
                          [assetType]="selectedAssetType"
                          [maxScoreEffectiveDate]="maxScoreEffectiveDate"
                          [screenReferences]="screenReferences"
                          [(showDisabled)]="showDisabled"
                          (selectionChange)="selectionChanged($event)">
            </measure-list>
        </div>
        <div *ngIf="!isLoading && selectedMetric" class="col s5 measure-details-panel">
            <score-definition 
                              [isAdminPage]="true"
                              [isExternallyCalculated]="allocation?.isExternallyCalculated" 
                              [selectedMetric]="selectedMetric" 
                              [assetTypeUid]="assetTypeUid" 
                              [allocationUid]="allocationUid">
            </score-definition>
        </div>
    </div>
</div>
<d3s-modal *ngIf="allocation" title="Edit Scoring Definition" additionalClasses="medium-dialog" [isVisible]="showEdit">
    <allocation-editor [disabled]="allocation?.hasMeasure||allocation?.hasDisabledMeasure" [selection]="allocation" (onCancel)="showEdit=false;" (onSave)="save();"></allocation-editor>
</d3s-modal>