<div class="row">
    <div class="col s12">
        <div class="tile tile-detail">
            <header>
                <d3s-tile-actions [hasAdd]="true" (addClick)="add()" [addTooltip]="'Create Scoring Definition'" [hasFilterMode]="true" [(filterMode)]="showSimpleFilter" [hasExport]="true" (exportClick)="export()"></d3s-tile-actions>
            </header>
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <div *ngIf="!isLoading">
                <input type="text" pInputText [hidden]="!showSimpleFilter" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="{{searchText}}" class="grid-simple-filter" [ngModel]="dt.filters['global']?.value">
                <p-table #dt [rowHover]="true" [value]="allocations" selectionMode="single" [globalFilterFields]="['assetClassName','assetTypePath','scoreType','isExternallyCalculated']" [pageLinks]="3" [paginator]="true" [rows]="20" [(selection)]="selection" (onRowSelect)="onRowSelect($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'assetClassName'" style="width: 200px">
                                <ng-container i18n>Asset Class</ng-container>
                                <d3s-sortIcon [field]="'assetClassName'"></d3s-sortIcon>
                            </th>
                            <th [pSortableColumn]="'assetTypePath'">
                                <ng-container i18n>Asset Type</ng-container>
                                <d3s-sortIcon [field]="'assetTypePath'"></d3s-sortIcon>
                            </th>
                            <th [pSortableColumn]="'scoreType'">
                                <ng-container i18n>Score Type</ng-container>
                                <d3s-sortIcon [field]="'scoreType'"></d3s-sortIcon>
                            </th>
                            <th [pSortableColumn]="'isExternallyCalculated'">
                                <ng-container i18n>Score Calculation</ng-container>
                                <d3s-sortIcon [field]="'isExternallyCalculated'"></d3s-sortIcon>
                            </th>
                            <th [pSortableColumn]="'formattedThreshold'">
                                <ng-container i18n>Scoring Bands</ng-container>
                                <d3s-sortIcon [field]="'formattedThreshold'"></d3s-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                        <tr [hidden]="showSimpleFilter">
                            <th><d3s-column-filter [field]="'assetClassName'" [datatype]="'text'"></d3s-column-filter></th>
                            <th><d3s-column-filter [field]="'assetTypePath'" [datatype]="'text'"></d3s-column-filter></th>
                            <th><d3s-column-filter [field]="'scoreType'" [datatype]="'text'"></d3s-column-filter></th>
                            <th><d3s-column-filter [field]="'isExternallyCalculated'" [datatype]="'text'"></d3s-column-filter></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr class="{{getClass(item)}}">
                            <td (click)="openMeasures(item)">{{item.assetClassName}}</td>
                            <td (click)="openMeasures(item)">{{item.assetTypePath}}</td>
                            <td (click)="openMeasures(item)">{{item.scoreType}}</td>
                            <td (click)="openMeasures(item)">{{item.isExternallyCalculated}}</td>
                            <td (click)="openMeasures(item)">
                                <div class="threshold-holder">
                                    <div class="threshold-values">
                                        <div class="right-align">
                                            {{item.lowerThreshold}}%
                                        </div>
                                        |
                                        <div class="left-align">
                                            {{item.upperThreshold}}%
                                        </div>
                                        <div class="threshold-table">
                                            <div class="threshold-table-item">
                                                <div class="score-pill-small score-poor"></div>
                                                <div class="score-pill-small-label">0% - {{item.lowerThreshold}}%</div>
                                            </div>
                                            <div class="threshold-table-item">
                                                <div class="score-pill-small score-average"></div>
                                                <div class="score-pill-small-label">{{item.lowerThreshold}}.% - {{item.upperThreshold}}%</div>
                                            </div>
                                            <div class="threshold-table-item">
                                                <div class="score-pill-small score-good"></div>
                                                <div class="score-pill-small-label">{{item.upperThreshold}}.% - 100%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="RowTools">
                                    <a style="cursor:pointer;"><i [copy-clipboard]="item.uid" [pTooltip]="'UID: \n' + item.uid + '\n\n (click to copy)\n'" tooltipPosition="top" class="fa fa-info"></i></a>
                                    <a style="cursor:pointer;" (click)="doEdit(item);"><i class="fa fa-pencil"></i></a>
                                    <a style="cursor:pointer;" (click)="doDelete(item);"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                        <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                    </ng-template>
                </p-table>
            </div>

            <d3s-delete-form [callback]="theDeleteCallback"
                             [method]="'callback'"
                             [items]="selection"
                             [showAsModal]="true"
                             [modalTitle]="deletePopupTitle"
                             [modalCssClasses]="'medium-dialog'"
                             [isModalVisible]="showDelete"
                             [hideDeleteButton]="selection.hasMeasure || selection.hasField"
                             (onCancel)="showDelete=false;"
                             [cancelButtonText]="(selection.hasMeasure || selection.hasField) ? 'Close' : 'Cancel'">
                <div prompt>
                    <ng-container *ngIf="selection.hasMeasure || selection.hasField">
                        <ng-container *ngIf="selection.hasMeasure" i18n>
                            Sorry, you are unable to delete a score definition with measures defined.
                        </ng-container>
                        <ng-container *ngIf="!selection.hasMeasure && selection.hasField" i18n>
                            Sorry, you cannot delete a scoring definition when it is referenced by a Score field on an Asset Type. Please remove the field from the Asset Type and try again.
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!selection.hasMeasure && !selection.hasField" i18n>
                        Are you sure you want to permanently delete this score?
                    </ng-container>
                </div>

            </d3s-delete-form>
            
            <d3s-modal [title]="editTitle" additionalClasses="medium-dialog" (onClose)="onSaveCancel()" [isVisible]="showEdit">
                <allocation-editor [disabled]="selection.hasMeasure||selection.hasDisabledMeasure" [selection]="selection" (onCancel)="showEdit=false;" (onSave)="showEdit=false;load($event);"></allocation-editor>
            </d3s-modal>
        </div>
    </div>
<div>