<div class="modal-measure-editor">
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <div *ngIf="!isLoading" class="measure-form" [style.maxHeight.px]="maxHeight">
        <form [formGroup]="metricForm" *ngIf="model">
            <ig-property-group [igformGroup]="metricForm" [title]="'Details'">
                <div inputs>
                    <div class="row">
                        <label for="name" class="ig-label">Name</label>
                        <input igInput tabindex="1" igSize="medium" [ngClass]="{'invalid': metricForm.get('name')?.errors?.empty}" type="text" [(ngModel)]="model.Name" formControlName="name" maxlength="250" required />
                        <div *ngIf="metricForm.get('name').invalid && (metricForm.get('name').dirty || metricForm.get('name').touched)">
                            <div *ngIf="metricForm.get('name').errors.empty" class="ig-text-required">
                                Please enter a valid name
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label for="description" class="ig-label">Description</label>
                        <textarea igTextArea
                                  [(ngModel)]="model.Description"
                                  tabindex="2"
                                  rows="3"
                                  maxlength="4000"
                                  formControlName="description"></textarea>
                    </div>

                    <div class="flex-row">
                        <div class="flex-col">
                            <div class="row">
                                <label for="effectiveDate" class="ig-label">Effective Date</label>
                                <ig-date [tabindex]="3"
                                         [(ngModel)]="displayEffectiveDate"
                                         [required]="true"
                                         [appendTo]="'body'"
                                         [minDate]="currentEffectiveDate | utcDate"
                                         [dateFormat]="getLocaleDateString()"
                                         formControlName="effectiveDate">
                                </ig-date>
                            </div>
                            <div class="row" *ngIf="!isExternallyCalculated">
                                <label for="weight" class="ig-label">
                                    Weight(%) <ng-container *ngTemplateOutlet="weightTooltip"></ng-container>
                                </label>
                                <ig-number-input [tabindex]="4"
                                                 [required]="true"
                                                 [min]="1"
                                                 [max]="100"
                                                 [step]="1"
                                                 formControlName="weight"
                                                 [(ngModel)]="displayWeight"></ig-number-input>

                                <div *ngIf="metricForm.get('weight').invalid && (metricForm.get('weight').dirty || metricForm.get('weight').touched)">
                                    <div *ngIf="metricForm.get('weight').errors?.outOfRange" class="ig-text-required">
                                        Please enter a value between 1 and 100
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-col effective-date-msg">
                            <label></label>
                            <div *ngIf="verb == 'Edit'">
                                <ig-message-box>
                                    <span *ngIf="model.HasResults">
                                        As scoring data has been collected against this measure (effective from {{currentEffectiveDate | utcDate | date:'shortDate' }}),
                                        any changes you make to this measure will result in a  new version being created, with a new effective date.
                                    </span>
                                    <span *ngIf="!model.HasResults">
                                        Keep an effective date of {{currentEffectiveDate | utcDate | date:'shortDate' }} to update the current version of the measure.
                                        Choose a later date to create a new version of the measure, which will be used in future calculations
                                    </span>
                                </ig-message-box>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="!isExternallyCalculated">
                        <ng-container *ngIf="!parentUid && !model.ParentUid">
                            <label for="isGroup" class="ig-label">Grouping Measure  <ng-container *ngTemplateOutlet="groupTooltip"></ng-container></label>
                            <ig-switch tabindex="5"
                                       formControlName="isGroup"
                                       [(ngModel)]="model.IsGroup"
                                       (onChange)="onGroupChange($event)"></ig-switch>
                        </ng-container>
                    </div>

                    <div class="row" *ngIf="!isExternallyCalculated">
                        <ng-container *ngIf="!model.IsGroup">
                            <label for="hasThreshold" class="ig-label">
                                Use Pass Threshold
                                <ng-container *ngTemplateOutlet="thresholdTooltip"></ng-container>
                            </label>
                            <ig-switch tabindex="5"
                                       formControlName="hasThreshold"
                                       [(ngModel)]="model.HasThreshold"
                                       (onChange)="onThresholdChange($event)"></ig-switch>
                        </ng-container>
                    </div>

                    <div class="row" *ngIf="!isExternallyCalculated">
                        <ng-container *ngIf="!model.IsGroup && model.HasThreshold">
                            <label for="threshold" class="ig-label">
                                Pass Threshold(%)
                            </label>
                            <ig-number-input [tabindex]="4"
                                             [required]="true"
                                             [min]="1"
                                             [max]="100"
                                             [step]="0.001"
                                             formControlName="threshold"
                                             [(ngModel)]="displayThreshold"></ig-number-input>
                             
                            <div *ngIf="metricForm.get('threshold').invalid && (metricForm.get('threshold').dirty || metricForm.get('threshold').touched)">
                                <div *ngIf="metricForm.get('threshold').errors?.outOfRange" class="ig-text-required">
                                    Please enter a value between 1 and 100.
                                </div>
                                <div *ngIf="metricForm.get('threshold').errors?.decimalLimit" class="ig-text-required">
                                    Please enter a value with a maximum of 3 decimal places of accuracy.
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <br />
            </ig-property-group>

            <ig-property-group [igformGroup]="metricForm" [title]="'Rule Results'" [showMoreInfo]="true" [moreInfoHtml]="ruleResultsTooltip" *ngIf="!model.IsGroup && model.Definition && model.Definition.DataQuality">
                <div inputs>
                    <div class="row">
                        <label for="ruleResultPath" class="ig-label">
                            Rule Results Selection
                        </label>
                        <p-dropdown igDropdown
                                    igSize="full"
                                    [options]="screenReferences.paths"
                                    appendTo="body"
                                    (onChange)="onPathChange($event)"
                                    [(ngModel)]="model.Definition.DataQuality.ResultPathUid"
                                    [showClear]="false"
                                    formControlName="ruleResultPath"
                                    placeholder="Value required"
                                    [required]="true"
                                    tabindex="6"
                                    name="ruleResultPath">
                            <ng-template let-item pTemplate="item">
                                <span [innerHtml]="item.label"></span>
                            </ng-template>
                            <ng-template let-item pTemplate="selectedItem">
                                <span [innerHtml]="item.label"></span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="row">
                        <label for="ruleResultOperation" class="ig-label">Results Operation</label>
                        <p-dropdown igDropdown
                                    igSize="small"
                                    [disabled]="disabled"
                                    [options]="ruleResultOperations"
                                    [(ngModel)]="model.Definition.DataQuality.ResultOperation"
                                    appendTo="body"
                                    [showClear]="false"
                                    formControlName="ruleResultOperation"
                                    placeholder="Value required"
                                    [required]="true"
                                    tabindex="7"
                                    name="ruleResultOperation">
                            <ng-template let-item pTemplate="selectedItem">
                                <span>{{item.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </ig-property-group>

            <ig-property-group [igformGroup]="metricForm" [title]="'Rule Result Filters'" [showMoreInfo]="true" [moreInfoHtml]="ruleResultFiltersTooltip" *ngIf="!model.IsGroup && model.Definition && model.Definition.DataQuality">
                <div inputs>
                    <field-condition-grid [formGroup]="metricForm"
                                          [conditions]="ruleResultFilters"
                                          [conditionPrefix]="'rf_'"
                                          [fields]="ruleResultFields"
                                          (onChange)="updateFormValidity($event)">
                    </field-condition-grid>
                    <div class="row" *ngIf="showRuleResultMatchPicker">
                        <p-radioButton igRadioButton formControlName="ruleResultMatchType" [(ngModel)]="ruleResultFiltersMatchType" value="All" label="Match all filters"></p-radioButton>&nbsp;
                        <p-radioButton igRadioButton formControlName="ruleResultMatchType" [(ngModel)]="ruleResultFiltersMatchType" value="Any" label="Match any filters"></p-radioButton>
                    </div>
                </div>
            </ig-property-group>
            
            <ig-property-group 
                               [igformGroup]="metricForm" 
                               [title]="'Asset Conditions and Weighting'" 
                               [showMoreInfo]="true"
                               [moreInfoHtml]="assetConditionsAndWeightingTooltip"
                               *ngIf="!metricForm.value.isGroup && !isExternallyCalculated" 
                               (isValid)="canAddNewGroup($event)">
                <div inputs>
                    <div class="row match-condition">
                        <p-radioButton igRadioButton formControlName="MatchConditionsOnly" [(ngModel)]="matchConditionsOnly" value="true" label="Only apply this measure to assets that match a condition group"></p-radioButton>&nbsp;
                        <p-radioButton igRadioButton formControlName="MatchConditionsOnly" [(ngModel)]="matchConditionsOnly" value="false" label="Apply this measure to all assets, using the first matching condition group to determine measure weight"></p-radioButton>
                    </div>
                    <div class="condition-group" *ngFor="let cg of sortByDisplayOrder();let i=index">
                        <div class="row cg-header-row">
                            <div class="condition-group-header">
                                Condition Group {{cg.DisplayOrder}}
                            </div>
                            <div class="input-actions">
                                <button type="button" icon="fa-ellipsis-v" igButton (click)="menu.toggle($event)" pTooltip="Condition Group Actions" tooltipPosition="top" tooltipStyleClass="ig-tooltip"></button>
                                <ig-popup-menu (onSelect)="menuClicked($event, cg.DisplayOrder, cg.Position)" [items]="menuOptions(cg.DisplayOrder != 1, cg.DisplayOrder != conditionGroups.length)" #menu [tabIndex]="1"></ig-popup-menu>
                            </div>
                        </div>
                        <div class="condition-overrides-row">
                            <div>
                                <div *ngIf="model.HasThreshold">
                                    <label for="threshold" class="ig-label">
                                        Pass Threshold(%) <ng-container *ngTemplateOutlet="conditionThresholdTooltip"></ng-container>
                                    </label>

                                    <div class="input">
                                        <ig-number-input [tabindex]="4"
                                                            placeholder="{{displayThreshold}}"
                                                            [min]="1"
                                                            [max]="100"
                                                            [step]="1"
                                                            name="cg_{{cg.Position}}_threshold"
                                                            formControlName="cg_{{cg.Position}}_threshold"
                                                            [(ngModel)]="cg.DisplayThreshold"></ig-number-input>
                                        <div *ngIf="metricForm.get('cg_'+ cg.Position + '_threshold').invalid && (metricForm.get('cg_'+ cg.Position + '_threshold').dirty || metricForm.get('cg_'+ cg.Position + '_threshold').touched)">
                                            <div *ngIf="metricForm.get('cg_'+ cg.Position + '_threshold').errors?.outOfRange" class="ig-text-required">
                                                Please enter a value between 1 and 100
                                            </div>
                                            <div *ngIf="metricForm.get('cg_'+ cg.Position + '_threshold').errors?.decimalLimit" class="ig-text-required">
                                                Please enter a value with a maximum of 3 decimal places of accuracy.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="weight" class="ig-label right">
                                        Weight(%) <ng-container *ngTemplateOutlet="conditionWeightTooltip"></ng-container>
                                    </label>
                                    <div class="input">
                                        <ig-number-input [tabindex]="5"
                                                         placeholder="{{displayWeight}}"
                                                         [min]="1"
                                                         [max]="100"
                                                         [step]="1"
                                                         name="cg_{{cg.Position}}_weight"
                                                         formControlName="cg_{{cg.Position}}_weight"
                                                         [(ngModel)]="cg.DisplayWeight"></ig-number-input>
                                        <div class="override-validator" *ngIf="metricForm.get('cg_'+ cg.Position + '_weight').invalid && (metricForm.get('cg_'+ cg.Position + '_weight').dirty || metricForm.get('cg_'+ cg.Position + '_weight').touched)">
                                            <div *ngIf="metricForm.get('cg_'+ cg.Position + '_weight').errors?.outOfRange" class="ig-text-required">
                                                Please enter a value between 1 and 100
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cg-field-group-container">
                            <field-condition-grid *ngIf="!isLoadingFields"
                                                  [formGroup]="metricForm"
                                                  [conditions]="cg.conditionItemFields"
                                                  [conditionPrefix]="'ac_' + cg.Position + '_'"
                                                  [fields]="fields"
                                                  (onChange)="updateFormValidity($event)"></field-condition-grid>
                        </div>
                        <div class="row match-type" *ngIf="showConditionMatch(cg)">
                            <p-radioButton igRadioButton formControlName="cg_{{cg.Position}}_matchType" [(ngModel)]="cg.MatchType" value="All" label="Match all conditions"></p-radioButton>&nbsp;
                            <p-radioButton igRadioButton formControlName="cg_{{cg.Position}}_matchType" [(ngModel)]="cg.MatchType" value="Any" label="Match any condition"></p-radioButton>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <button *ngIf="canAddGroup" type="button" icon="fa-plus-circle" igButton class="ig-button-midblue" label="Add condition group" (click)="addNewGroup()"></button>
                    </div>
                </div>
            </ig-property-group>
        </form>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="action-bar" style="padding-top: 15px">
            <button igButton class="left" type="button" label="{{closeLabel}}" (click)="cancel()"></button>
            <span class="grow"></span>
            <button igButton [loading]="isSaving" class="ig-button-primary" type="button" label="{{saveLabel}}" [disabled]="!hasModelChanged || !metricForm.valid || isSaving" (click)="save()"></button>
        </div>
    </div>
</div>

<ng-template #weightTooltip>
    <div class="info-tip">
        <i class="fa fa-question-circle" pTooltip="{{weightTootlip}}" [escape]="false" [hideDelay]="1000" tooltipPosition="top" tooltipStyleClass="ig-tooltip ig-tooltip-medium" [appendTo]="'body'"></i>
    </div>
</ng-template>

<ng-template #groupTooltip>
    <div class="info-tip">
        <i class="fa fa-question-circle" pTooltip="{{groupingTooltip}}"  [escape]="false" [hideDelay]="1000" tooltipPosition="top" tooltipStyleClass="ig-tooltip ig-tooltip-medium" [appendTo]="'body'"></i>
    </div>
</ng-template>

<ng-template #conditionWeightTooltip>
    <div class="info-tip">
        <i class="fa fa-question-circle" pTooltip="{{conditionWeightTootlip}}" [escape]="false" [hideDelay]="1000" tooltipPosition="top" tooltipStyleClass="ig-tooltip ig-tooltip-medium" [appendTo]="'body'"></i>
    </div>
</ng-template>

<ng-template #thresholdTooltip>
    <div class="info-tip">
        <i class="fa fa-question-circle" pTooltip="{{thresholdTooltipText}}" [escape]="false" [hideDelay]="1000" tooltipPosition="top" tooltipStyleClass="ig-tooltip ig-tooltip-medium" [appendTo]="'body'"></i>
    </div>
</ng-template>

<ng-template #conditionThresholdTooltip>
    <div class="info-tip">
        <i class="fa fa-question-circle" pTooltip="{{thresholdOverrideTooltipText}}" [escape]="false" [hideDelay]="1000" tooltipPosition="top" tooltipStyleClass="ig-tooltip ig-tooltip-medium" [appendTo]="'body'"></i>
    </div>
</ng-template>