<div #positionRef></div>
<div igAutoFocus #element [style.top.px]="positionTop" [style.left.px]="positionLeft" tabindex="{{tabIndex}}" [style.visibility]="isVisible ? 'visible' : 'hidden'" class="ig-popup-menu">
    <ng-template #menuItems let-items></ng-template>
    <ng-container *ngTemplateOutlet="menuItemsTemplate; context: {$implicit: items,class:''}"></ng-container>
</div>

<ng-template #menuItemsTemplate let-items let-class="class">
    <ul class="menu-items {{(hasCheckboxes(items) || hasIcons(items) || hasSelectedboxes(items) ? 'no-left-padding' : 'default-padding')}} {{class}} {{(openToLeftSide ? ' open-left' : 'open-right')}} {{(openToBottomSide ? 'open-bottom' : 'open-top')}}">
        <li *ngFor="let item of items"
            pTooltip="{{item.tooltip}}" 
            tooltipPosition="top" 
            tooltipStyleClass="ig-tooltip"
            tabindex="-1"
            [attr.class]="getItemClass(item)"
            (click)="select(item,$event)"
            (mouseenter)="mouseenter(item)">
            <div class="item-container">
                <div *ngIf="hasCheckboxes(items)" class="part checkbox-part">
                    <i *ngIf="item.isChecked" class="fa fa-check"></i>
                </div>
                <div *ngIf="hasSelectedboxes(items)" class="part checkbox-part">
                    <i *ngIf="item.isSelected" class="fa fa-check"></i>
                </div>
                <div class="part icon-part" *ngIf="hasIcons(items)"><i class="menu-icon fa {{item.icon}}"></i></div>
                <div class="part title-part" [innerHtml]="item.title"></div>
                <div *ngIf="item.keys && item.keys.length > 0" class="flex-grow"></div>
                <div *ngIf="hasShortcuts(items)" class="part shortcuts-part">
                    <span>
                        {{getShortcutString(item)}}
                    </span>
                </div>
                <div class="flex-grow" *ngIf="item.badge && item.badge.text"></div>
                <div class="part badge-part" *ngIf="item.badge && item.badge.text">
                    <ig-badge [text]="item.badge.text" [variant]="item.badge.variant"></ig-badge>
                </div>
                <div *ngIf="item.items" class="part open-submenu-part">
                    <span class="open-menu fa fa-chevron-right"></span>
                </div>
            </div>
            <ng-container *ngIf="item.items && item.isSubMenuOpened">
                <ng-container *ngTemplateOutlet="menuItemsTemplate; context: {$implicit: item.items, class: 'sub-menu'}"></ng-container>
            </ng-container>
        </li>
    </ul>
</ng-template>
