@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";
@import "../../../../../../Content/styles/_Variables.less";

.score-chart-container {
  .heading {
    padding: 16px 0px;
  }

  .score-table {
    background-color: white;
    display: flex;
    margin-top: 12px;

    .score-tbl-header {
      border-bottom: 1px solid @ig-grey-t5;
      font-weight: bold;

      .round-circle {
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        top: 3px;
        left: -3px;
      }

      &.has-scroll {
        padding-right: 26px;
      }
    }

    .row {
      line-height: 38px;
      background: @ig-white;
      border-bottom: 2px solid @ig-grey-t5;

      &:hover {
        background-color: @ig-purple-t5;
      }
    }

    .column {
      height: 38px;

      .icon-holder {
        width: 12px;
        display: inline-block;
      }

      i.fa {
        font-size: 20px;
        position: relative;
        top: 2px;
        right: 7px;


        &.turn {
          color: @ig-slate;
          transform: rotate(45deg);
          font-size: 10px;
          width: 13px;
          top: 0px;
          right: 5px;
        }
      }

      i.fa-circle {
        font-size: 16px;
      }
    }

    .body {
      min-height: 100px;
      display: block;
      overflow-x: auto;

      .score-point, .measure-point {
        padding-left: 16px;
      }

      &.has-scroll {
        .score-point, .measure-point {
          padding-left: 12px;
        }
      }

      .row {
        cursor: pointer;

        &:hover {
          background-color: @ig-purple-t5;
          font-weight: bold;
          cursor: pointer;
        }

        &.selected {
          background-color: @ig-purple-t4;
          font-weight: bold;
        }

        &.selected:hover {
          background-color: @ig-purple-t4;
          cursor: default;
        }
      }
    }
  }

  .score-table-tooltip-hitbox {
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    top: -27px;
    left: -8px;
  }
}
