<div class="d3s-score-badge" *ngIf="!score.EndDate">
    <div class="score-tooltip">
        <span class="item">
            <span class="item-name"><strong class="gov-bold">{{getType()}}</strong></span> {{score.Value | scoreDisplay:1}}
        </span>

        <span class="item">
            <span class="item-name"><strong class="gov-bold">Score Threshold</strong></span> {{getCurrentScoreThreshold()}}
        </span>
        <div class="score-ranges">
            <div class="score-range">
                <span class="score-box score-poor"></span>
                <span class="text">0%-{{lowerThreshold}}%</span>
            </div>
            <div class="score-range">
                <span class="score-box score-average"></span>
                <span class="text">{{lowerThreshold}}.%-{{upperThreshold}}%</span>
            </div>
            <div class="score-range">
                <span class="score-box score-good"></span>
                <span class="text">{{upperThreshold}}.%-100%</span>
            </div>
        </div>

        <span class="item">
            <strong class="gov-bold">Last Run Date</strong> {{lastRunDate | date:'shortDate'}}
        </span>
    </div>
    <ig-badge *ngIf="!useMiniBadge" [text]="getBadgeText()" [variant]="getScoreVariantColor()"></ig-badge>
    <div *ngIf="useMiniBadge" class="score-badge-container">
        <div  [class]="'score-badge ' + getScoreCSSClass()">{{score.ShortName}} <span class="score-value">{{score.Value | scoreDisplay:1}}</span></div>
    </div>
</div>
