<div class="asset-detail">
    <div *ngIf="isLoading" style="width:100%; text-align:center;">
        <div style="padding:10px;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    </div>
    <div *ngIf="!isLoading">
        <div class="asset-detail-header">
            <div class="asset-name">
                {{assetType.Name}}
            </div>
            <div class="class-name">
                Reference List
            </div>
            <div>
                <a (click)="open();">Open</a> <span class="grey-delimiter">|</span> <a (click)="open(true);">Open in New Tab</a>
            </div>
        </div>
        <div class="windowtabs">
            <button [class]="(tab == 'detail') ? 'tab-selected' : 'tab'" (click)="clickTab('detail')">Details</button>
            <button [class]="(tab == 'items') ? 'tab-selected' : 'tab'" (click)="clickTab('items')">Items</button>
        </div>
        <div class="asset-type-detail-wrapper">
            <ng-container [ngSwitch]="tab">
                <ng-container *ngSwitchCase="'detail'">
                    <ig-asset-detail
                        [objectUID]="uid"
                        [objectType]="'ReferenceItemType'"
                        [useAccordion]="true"
                        [shouldBePadded]="false"
                        [showHeader]="false"
                        [showHeaderLine]="false"
                        [showTabs]="false"
                        [spacerHeight]="'16px'"
                        [tooltipAlign]="'left'"
                        [isSidePanel]="true">
                    </ig-asset-detail>
                </ng-container>
                <ng-container *ngSwitchCase="'items'">
                    <d3s-reference-item-list [assetTypeUid]="assetType.uid" [typeName]="assetType.Name" [readOnly]="true" [isForAssetDetailPage]="true" [highlightUid]="highlightUid"></d3s-reference-item-list>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>