<div [ngStyle]="style" [class]="'d3s-color-picker ' + styleClass" tabindex="-1">
	<p-dropdown #dd
				igDropdown
				[igSize]="igSize"
				[class]="'p-dropdown-wrapper'"
				[tabIndex]="tabindex"
				[appendTo]="'body'"
				[options]="colors"
				[panelStyleClass]="'igx-blue'"
				[ngModel]="selectedColor"
				(onChange)="itemChanged($event)"
				placeholder="{{placeholder}}"
				scrollHeight="320px"
				showClear="true"
				filter="true"
				filterPlaceholder="{{filterplaceholder}}"
				[disabled]="disabled"
				[required]="isRequired"
				[attr.required]="isRequired"
				[placeholder]="(isRequired ? this.labelRequired : this.labelOptional)"
				(focus)="focus($event)">
		<ng-template let-item pTemplate="selectedItem">
			<div class="ig-colorfield-item-selected">
				<span *ngIf="item?.title !== 'Custom'" class="ig-colorfield-swatch" [style.background-color]="item?.title"></span>
				<span class="ig-colorfield-item-label">{{item?.label}}</span>
			</div>
		</ng-template>
		<ng-template let-color pTemplate="item">
			<div class="ig-colorfield-item">
				<span *ngIf="item?.title !== 'Custom'" class="ig-colorfield-swatch" [style.background-color]="color.title"></span>
				<span class="ig-colorfield-item-label">{{color.label}}</span>
			</div>
		</ng-template>
	</p-dropdown>
</div>