@import "../../../../../../../Content/styles/infogix-ui/infogix-ui.less";

:host {

    .overview {
        position: absolute;
        left: 20px;
        bottom: 25px;
        z-index: 101;
        width: 320px;
        height: 170px;
        background-color: white;
        border: 2px solid @ig-grey-t5;
        border-radius: 4px;
        box-shadow: @ig-box-shadow;
    }

    .overview-close-button {
        position: absolute;
        z-index: 102; // one more than canvas
        bottom: 160px;
        left: 305px;        
        cursor: pointer;
    }

    .overview-button {
        position: absolute;
        left: 24px;
        bottom: 24px;
        z-index: 101;        
        height: 40px;  
        width: 40px;
    }
}