<div class="asset-browser-button-group">
    <button type="button" title="Impact View" aria-label="Impact View" (click)="switchToImpactView($event)" [class]="impactViewButtonSelectedClass()">Impact View</button>
    <button type="button" title="Lineage View" aria-label="Lineage View" (click)="switchToLineageView($event)" [class]="lineageViewButtonSelectedClass()">Lineage View</button>
    <button type="button" title="Process Diagram" aria-label="Process Diagram" (click)="switchToProcessDiagram($event)" [class]="processDiagramButtonSelectedClass()">Process Diagram</button>
    <div class="button-spacer"></div>
</div>