<div class="asset-browser-button-group zoom-controls">
    <button type="button" i18n-pTooltip pTooltip="Zoom out" tooltipPosition="top" tooltipStyleClass="ig-tooltip" aria-label="Zoom out" class="icon" (click)="out($event)" [disabled]="!enabled"><i class="fa fa-minus-circle"></i></button>
    <span class="diagram-zoom">{{zoomText}}</span>
    <button type="button" i18n-pTooltip pTooltip="Zoom in" tooltipPosition="top" tooltipStyleClass="ig-tooltip" aria-label="Zoom in" class="icon" (click)="in($event)" [disabled]="!enabled"><i class="fa fa-plus-circle"></i></button>
</div>