@import "_VariablesAng";

body{
    background-color:@secondary-nav;
}

select, input{
    padding:5px;
}

/* top menu*/

nav.top{
    line-height:40px;
    height:40px;
    background-color:#fff;
    a{
        color:@primary-nav;
    }
    ul a{
        color:black;
    }   
    
    a.photo img{
        vertical-align:middle;
        border-radius:20px;
    } 

    a.help{
        color:@d3s-red-1;
    }  
}

nav.top, .left-side-nav {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* end top menu*/


/* side menu*/

.left-side-nav{
    left: 0;
    top:0;
    z-index:999;
    height:100%;
    position: fixed;
    background-color:@primary-nav; 
    width:50px;
    margin-top:40px;
    overflow-y:visible;
    li{
        padding:0;
    }
    a{
        display: block;
    }
    ul, a{
        height: auto;
        line-height: normal;
    }
    .menu-category{        
        padding:0 15px;
        color:white;
        font-size:1rem;
        height:35px;
        line-height:35px;
        position:relative;   
        &:hover {
            background-color: @nav-active;            
        }     
        i{
            cursor:pointer;
        }
    }
}

.menu-parent .menu-child {
    display:none;
    width:12.5em;    
    padding:0.3em;
    position:absolute;
    margin:0; 
    outline:0; 
    line-height:1.3; 
    text-decoration:none; 
    font-size:100%; 
    list-style:none;    
}

.menu-active > .megamenu-panel {
    display: block !important;
    width:auto;
}        

.menu-group{
    padding:2.5px 5px;
}

.menu-item
{
    color:white;
    cursor:pointer;
    width:100%;
    padding: 4px 15px !important;
    font-size: 80%; 
    &:hover {
        background-color: #ddd;
        color: black !important;
    }
}

.megamenu-panel {
    background-color: @nav-active;    
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.15);
    color:white;
    .megamenu-title {
        font-size: .8rem;
        font-weight: bold;
        text-transform: uppercase;        
        .megamenu-tools{
            font-size: 1rem;
            padding:5px 10px;
            font-weight: normal;
            float:right;
        }
    }
}

@media only screen and (max-width : 600px) {
  .megamenu-panel {   
    min-width:500px;
    max-width:550px;
  } }


@media only screen and (min-width : 601px) {
  .megamenu-panel { 
    min-width:600px;   
    max-width:800px;
  } }

@media only screen and (min-width : 993px) {
  .megamenu-panel {
    min-width:800px;    
    max-width:1000px;
  } }

.menu-level-indicator-0, .menu-level-indicator-1, .menu-level-indicator-2, .menu-level-indicator-3, .menu-level-indicator-4, .menu-level-indicator-5, .menu-level-indicator-n{
    color: @d3s-primary-orange;            
    font-size: .6em;    
    margin-right: 7px;
    vertical-align: middle;    
    opacity: 0.85;    
}

.menu-level-indicator-1 {
    color: @d3s-primary-blue;
}

.menu-level-indicator-2 {
    color: @d3s-primary-yellow;
}

.menu-level-indicator-3 {
    color: @d3s-gray-2;
}

.menu-level-indicator-4 {
    color: @d3s-primary-orange;            
}


d3s-navbar-item {
    >div {
        &.router-link-active>a, &.router-link-active>span, &.router-link-active>span>a {
                background-color: @secondary-nav !important;
                color: @primary-nav !important;
        }
        .nav-item {
            height: 25px;
            line-height: 25px;
            color: white;
            padding: 0 15px;
            display: block;
            font-size: small;
            cursor: pointer;
        }
        :hover {
            background-color: #ddd;
            color: black !important;
        }
    }
    &.top {
        >div {
            >span {
                &.nav-item {
                    height: 35px;
                    line-height: 35px;
                    color: white;
                    padding: 0 15px;
                    display: block;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #ddd;
                        color: black;
                    }
                }
            }
        }
    }
}                

.left-side-nav.fixed a{
    color:white;
}

.left-side-nav ul.sub{
    padding-left: 30px;
    height:20px;
    line-height:20px;
    li, a{
        font-size:x-small;
        height:20px;
        line-height:20px;
    }
}


/* end side menu*/

/* main content*/

.maincontent {
  margin-left:70px;
  margin-right:40px;
}


/* end main content*/

/* grid tiles*/

.tile {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    padding: 0 5px;    
    .header,
    header {
        font-family: @headings-font-family !important;
        padding: 3px 0px 15px 5px !important;
        font-size: @font-size-h4 !important;        
        text-transform:uppercase;
        color: @d3s-gray-1 !important;
        background-color: transparent !important;
        border: none !important;
        position: relative;
        .TileTools {
            position: absolute;
            right: 5px;
            top: 0px;
            z-index: 900;
            color: @d3s-gray-1;
            font-size: 15px;
            line-height: 16px;            
        }
    }
    footer {
        position: relative;
        .TileTools {
            position: absolute;
            right: -5px;
            bottom: 10px;
            z-index: 900;
            color: @d3s-gray-1;
            font-size: 15px;
            line-height: 16px;
        }
    }
    .tiletools {
        width: 100%;
        position: absolute;
        top: 3px;
        right: 5px;
        text-align: right;
        button {
            color: @d3s-gray-3;
            font-size: @font-size-h4 !important;
            border: none;
            background-color: transparent;
            :hover {
                       color: @d3s-gray-2;
                   }
        }
    }
    .form-instructions {
        margin-left: 10px;
    }
    .directions {
        padding: 3px 0px 5px 5px !important;
        color: @d3s-gray-2;
        font-size: .8em;
    }
    .tile-tabs {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 98%;
    }
    .content {
    }
    .footnote {
        position: absolute;
        bottom: 5px;
        width: 100%;
        color: @d3s-blue-4;
    }
    a:hover {
        text-decoration: underline;
    }    
}

.tile-detail {
        background-color: #fff;
        border: 0;
        border-radius: 0;
        padding-bottom: 10px;
        box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.15);
} 

/* end grid tiles*/


/* forms */

.validation-text {
    font-size: .9em;
    color: @d3s-primary-red;
    padding-left: 5px;
}

/* end forms */


/* admin page header*/


.PageHeader{
    padding: 10px 25px 10px 10px;
    font-size: 1.2em;
    color:@d3s-gray-1;
}

/* end admin page header*/

/* object governance styles*/

.status-note,
.governance-note {
    font-size: 80%;
    color: @d3s-gray-7;
}

.status-value,
.governance-value {
    font-weight:bold;
    font-size: 2em;
    color: @d3s-primary-gray;
    .title {
        /*font-family: @headings-font-family !important;*/
        font-size: 75%;
        text-transform: uppercase;
        font-weight: 500;
        color: @d3s-gray-8 !important;
        background-color: transparent !important;
        margin-left: 7px;
    }
}

.governance-value { 
    cursor: pointer;
}

.governance-value-warning{
    color:@d3s-primary-yellow;
}

.governance-value-fail{
    color:@d3s-primary-red;
}
.governance-value-pass{
    color:@d3s-primary-green;
}

/* end object governance styles*/


/* artifact status styles*/

.status-value-certified{
    color:@d3s-primary-green;
}

.status-value-review{
    color:@d3s-orange;
}

/* end artifact status styles*/

/* power bi*/

div.powerbi iframe{
    border:0;
}

/* end power bi*/

/* overrides to search box*/

.search-input-text{    
    border:1px solid #CCCCCC;    
    border-right:none;
}

.search-input-btn{    
    border:1px solid #CCCCCC;    
}

.search-btn, .simple-search-btn, .adv-search-btn{    
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;        
}

.search-nodata ul
{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;            
}

.search-nodata li
{
    display: list-item;
    list-style-type: disc;
}

/* overrides to search box*/


/* icons for enabled diasbled*/

.enabled{
    color:@d3s-primary-green;
}

.disabled{
    color:@d3s-primary-red;
}

/* end icons for enabled disabled*/

/* message bar styles*/

.message-bar{
    background:@rgba-primary-2;
    color:white;
    padding:10px;
    box-sizing:border-box;
    margin-bottom:15px;
    a{
        color:white;
        cursor:pointer;
    }
    span.close{
        color:white;
        cursor:pointer;
        float:right;
    }
}


/* end message bar styles*/

/* raise issue*/

.issue-button{
    background:@d3s-primary-yellow;
    border-radius:5px;
    border: 1px solid #AAAAAA;
    line-height:25px;
    padding: 0 20px;
    font-weight: bold;    
}

/* end raise issue*/


/* object descriptions - clears margin on p tags*/

div.item-description{
    color:#AAAAAA;
    font-size:.9em;
    padding-bottom:10px;
    padding-left:5px;
    p{
        margin: 0;
    }
}



/* end object header description*/


.InActiveRowTools{
    margin: 4px; 
    float: right;
    width: 100%;
    color: @d3s-gray-3;
    font-weight: 400;
    height: 25px;
    text-align: right;
    vertical-align: middle;
    line-height: 16px;
    font-size: 16px;
    a {
        color: @d3s-gray-3;
        text-decoration: none;
        border: 1px solid transparent;
        margin: 0px 10px 0px 5px;
        padding: 11px 3px 1px 3px;
        span {
            margin-left: 5px;
            font-size: @font-size-base * .75;
        }
        &:hover {
            color: @d3s-blue-2;
        }
        i {
            color: @d3s-gray-3;
        }
    }
}

a.Action{        
    color:black;
    padding:.4em .3em;
    line-height: 16px;
    font-weight:400;
    cursor:pointer;
    :hover{
        color:@rgba-primary-2;
    }
}
    

/* error message for required fields etc on dynamic field editor*/
.errorMessage{
    color:@d3s-primary-red;
    font-weight:bold;
}

/*end - error message for required fields etc on dynamic field editor*/

select:disabled {
    background: @d3s-gray-6;
    color: @d3s-gray-2;
}


.overlayed-remove, .overlayed-add{
    position:relative;
    top:-7px;
    left:10px;    
}

.overlayed-primary{
    color:black;
    :hover{
        color:@rgba-primary-2;
    }
}

.overlayed-add{ color:@d3s-primary-green; }
.overlayed-remove{ color:@d3s-primary-red; }

.inactive-tool-icon{
    color: @d3s-gray-1;
}

/* materialize css shuts off radio buttons turn them back on*/
[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;                 
    visibility: visible;
    left:auto;
}
/* end materialize css shuts off radio buttons turn them back on*/

/* relationship itme control*/

div.relationship-container{
    max-height: 360px;
    min-height:200px;
    overflow: auto;
}
div.relationship{
    padding:5px 3px 5px 0;
    cursor: pointer;     
}
div.relationship .name{
    text-transform: uppercase;
    color: @rgba-primary-0;
    font-weight:bold;
}
div.relationship .count, div.relationship .empty-count{
    color:#ffffff;        
    font-weight: bold;
    padding:2px;
    border-radius:3px;
}
div.active{
    background:#d3d5d8;
}
div.relationship .count{
    background-color: @rgba-primary-0;
}
div.relationship .empty-count{
    background-color:@d3s-primary-gray;
}

/*end  relationship itme control*/

/* artifact child item control*/
div.child-container{
        max-height: 360px;min-height:200px;
        overflow: auto;
    }
    div.child{
        padding:5px 3px 5px 0;
        cursor: pointer; cursor: pointer;        
    }
    div.child .name{
        text-transform: uppercase;
        color: @rgba-primary-0;
        font-weight:bold;
    }
    div.child .count, div.child .empty-count{
        color:#ffffff;        
        font-weight: bold;
        padding:2px;
        border-radius:3px;
    }
    div.active{
        background:#d3d5d8;
    }
    div.child .count{
        background-color: @rgba-primary-0;
    }
    div.child .empty-count{
        background-color:@d3s-primary-gray;
    }

 /* end artifact child item control*/


 /* right sidebar item styles*/
 .right-sidebar{
    position:absolute;
    width:40px;
    right:5px; 
    top:65px;
 }

 .right-side-item {
    background-color:@rgba-primary-0;
    padding: 8px;
    border-radius:4px;
    color:white;        
    cursor:pointer;
    margin-bottom:10px;
}
.right-side-active {
    background-color:@d3s-red-1;
}

 /* end right sidebar styles*/

 /* breadcrumbs*/

 div.breadcrumbs{    
    margin-left:20px;
    vertical-align:top;
    display:inline-block;   
    color:@rgba-primary-0;    
    .active, .sep{
        color:@primary-nav;    
    }
    .active, .inactive{
        display:inline-block;
        background-color:transparent;
        vertical-align:top;
    }
    .sep{
        display:inline-block;
        margin: 0 3px;
    }
}

a.breadcrumb {
    color:@d3s-primary-blue !important;    
 }
.breadcrumb {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 .breadcrumb-link {    
    cursor:pointer;
    text-decoration: underline;
}           

/*end breadcrumbs */


/* header search */

.header-search{
    position:relative;
}

.header-search .search-child {
    display:none;     
    padding: 20px;
    position:absolute;
    margin:0; 
    outline:0; 
    line-height:1.3; 
    text-decoration:none; 
    font-size:100%; 
    list-style:none;    
}

.header-search-active > .header-search-panel{
    display: block !important;
    width:auto;
}

.header-search-panel{
    background-color:#E7E7E7; //10 opacity of hover color for li items in header xFF (x) .1 = F FF - F = F0
    border-radius: 0 0 3px 3px;
}


/* end header search*/

.grid-simple-filter{
    margin-bottom:10px !important;
    width:100%;
}

/* follow header styles*/

.follow {
    font-size: 1.2em;
    color: #666;
    padding: 0 15px;
}

.follow.active {
    color: #0376c4;
}

/* permission tile header styles*/

th.permission-header {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid @d3s-gray-6 !important;        
    color:@d3s-primary-gray !important;
}

/* permission tile header styles*/

label {
  font-size: 0.8rem;
  color: @d3s-primary-gray; 
}

/* multiselect grid control footer*/

.multiselect-grid-sel{
    text-align:left;
    padding-top: 10px;
    p{
        font-weight:normal;
    }
}

/* multiselect grid control footer end*/

/* favorites styles*/

.favorite {
    font-size: 1.2em;
    color: #666;
    padding: 0 15px;
}

.favorite.active {
    color: @d3s-primary-yellow;
}

/*end favorite styles */

/* diagram */

.menu-icon {
    font-size: 1.5em;
}

 .tab-menu {
            width:100%;
            padding: 15px;
            border-bottom: 1px solid #ddd;
            background-color: #eee;
        }
        
.tab-item {
    display: inline;
    padding: 15px;
    cursor: pointer;

    &.selected {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 3px solid #fff;
        background-color: #fff;
    }
}

.info-panel {
    max-width: 600px;
    width: 600px;
    height: 450px;
    overflow-y: scroll;   
} 


/* end diagram*/

chart {
    display: block;
}