@import "_VariablesAng";

body{
    background-color:@secondary-nav;
}

select, input{
    padding:5px;
}

/* top menu*/

nav.top{
    line-height:40px;
    height:40px;
    background-color:#fff;
    a{
        color:@primary-nav;
    }
    ul a{
        color:black;
    }   
    
    a.photo img{
        vertical-align:middle;
        border-radius:20px;
    } 

    a.help{
        color:@d3s-red-1;
    }
}

nav.top, .side-nav {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* type ahead search in top menu*/

.searchTypeahead > div{
    margin-top:10px;    
}

#typesearch.active{
    padding-right:20px;
}

/* end type ahead*/

/* end top menu*/


/* side menu*/

.side-nav{
    background-color:@primary-nav; 
    width:200px;
    li{
        padding:0;
    }
    ul, a{
        height: auto;
        line-height: normal;
    }
}

d3s-navbar-item {
    >div {
        &.router-link-active>a, &.router-link-active>span, &.router-link-active>span>a {
                background-color: @secondary-nav;
                color: @primary-nav !important;
        }
        .nav-item {
            height: 25px;
            line-height: 25px;
            color: white;
            padding: 0 15px;
            display: block;
            font-size: small;
            cursor: pointer;
        }
        :hover {
            background-color: #ddd;
            color: black !important;
        }
    }
    &.top {
        >div {
            >span {
                &.nav-item {
                    height: 35px;
                    line-height: 35px;
                    color: white;
                    padding: 0 15px;
                    display: block;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #ddd;
                        color: black;
                    }
                }
            }
        }
    }
}                

.side-nav.fixed a{
    color:white;
}

.side-nav ul.sub{
    padding-left: 30px;
    height:20px;
    line-height:20px;
    li, a{
        font-size:x-small;
        height:20px;
        line-height:20px;
    }
}

/* end side menu*/

/* main content*/

.maincontent {
  margin-left:0;
   }

@media only screen and (max-width : 600px) {
  .maincontent {
    margin-left:0; margin-right:0; } }

@media only screen and (min-width : 601px) {
  .maincontent {
    margin-left:0; margin-right:75px; } }

@media only screen and (min-width : 993px) {
  .maincontent {
    margin-left:220px; margin-right:75px;} }

span.breadcrumbs{    
    margin-left:0;
    padding-left:20px;    
    color:@rgba-primary-0;    
    .active, .sep{
        color:@primary-nav;    
    }
}

@media only screen and (min-width : 601px) {
  span.breadcrumbs {
    margin-left:0; } }

@media only screen and (min-width : 993px) {
  span.breadcrumbs {
    margin-left:220px; } }

/* end main content*/

/* grid tiles*/

.tile {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    padding: 0 5px;    
    .header,
    header {
        font-family: @headings-font-family !important;
        padding: 3px 0px 15px 5px !important;
        font-size: @font-size-h4 !important;        
        text-transform:uppercase;
        color: @d3s-gray-1 !important;
        background-color: transparent !important;
        border: none !important;
        position: relative;
        .TileTools {
            position: absolute;
            right: 5px;
            top: 0px;
            z-index: 900;
            color: @d3s-gray-1;
            font-size: 15px;
            line-height: 16px;            
        }
    }
    footer {
        position: relative;
        .TileTools {
            position: absolute;
            right: -5px;
            bottom: 10px;
            z-index: 900;
            color: @d3s-gray-1;
            font-size: 15px;
            line-height: 16px;
        }
    }
    .tiletools {
        width: 100%;
        position: absolute;
        top: 3px;
        right: 5px;
        text-align: right;
        button {
            color: @d3s-gray-3;
            font-size: @font-size-h4 !important;
            border: none;
            background-color: transparent;
            :hover {
                       color: @d3s-gray-2;
                   }
        }
    }
    .form-instructions {
        margin-left: 10px;
    }
    .directions {
        padding: 3px 0px 5px 5px !important;
        color: @d3s-gray-2;
        font-size: .8em;
    }
    .tile-tabs {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 98%;
    }
    .content {
    }
    .footnote {
        position: absolute;
        bottom: 5px;
        width: 100%;
        color: @d3s-blue-4;
    }
    a:hover {
        text-decoration: underline;
    }    
}

.tile-detail {
        background-color: #fff;
        border: 0;
        border-radius: 0;
        padding-bottom: 10px;
} 

/* end grid tiles*/


/* forms */

.validation-text {
    font-size: .9em;
    color: @d3s-primary-red;
    padding-left: 5px;
}

/* end forms */


/* admin page header*/


.PageHeader{
    padding: 10px 25px 10px 10px;
    font-size: 1.2em;
    color:@d3s-gray-1;
}

/* end admin page header*/

/* object governance styles*/

.governance-value{
    font-weight:bold;
    font-size: 3.5em;
    padding: 0 5px;
    cursor: pointer;
    color: @d3s-primary-gray;
}

.governance-value-warning{
    color:@d3s-primary-yellow;
}

.governance-value-fail{
    color:@d3s-primary-red;
}
.governance-value-pass{
    color:@d3s-primary-green;
}

/* end object governance styles*/


/* artifact status styles*/

.status-value{
    font-weight:bold;
    font-size: 3.0em;
    padding: 0 5px;   
    color: @d3s-primary-gray;    
}

.status-value-certified{
    color:@d3s-primary-green;
}

.status-value-review{
    color:@d3s-orange;
}

/* end artifact status styles*/

/* power bi*/

div.powerbi iframe{
    border:0;
}

/* end power bi*/

/* overrides to search box*/

.search-input-text{    
    border:1px solid #CCCCCC;    
    border-right:none;
}

.search-input-btn{    
    border:1px solid #CCCCCC;    
}

.search-btn, .simple-search-btn, .adv-search-btn{    
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;        
}


/* overrides to search box*/


/* icons for enabled diasbled*/

.enabled{
    color:@d3s-primary-green;
}

.disabled{
    color:@d3s-primary-red;
}

/* end icons for enabled disabled*/

/* message bar styles*/

.message-bar{
    background:@rgba-primary-2;
    color:white;
    padding:10px;
    box-sizing:border-box;
    margin-bottom:15px;
    a{
        color:white;
        cursor:pointer;
    }
    span.close{
        color:white;
        cursor:pointer;
        float:right;
    }
}


/* end message bar styles*/

/* raise issue*/

.issue-button{
    background:@d3s-primary-yellow;
    border-radius:5px;
    border: 1px solid #AAAAAA;
    line-height:25px;
    padding: 0 20px;
    font-weight: bold;    
}

/* end raise issue*/


/* object descriptions - clears margin on p tags*/

div.item-description{
    color:#AAAAAA;
    font-size:.9em;
    padding-bottom:10px;
    padding-left:5px;
    p{
        margin: 0;
    }
}



/* end models*/