@import "_Variables";

.asset-browser {
    .asset-browser-header {
        background-color: #f1f2f3;
        display: flex;
        flex-direction: row;
        padding: 12px 16px;
        border-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        .controls-left {
            z-index: 50;
        }

        .controls-right {
            position: absolute;
            z-index: 50;
            right: 16px;

            span {
                padding: 8px;
                cursor: pointer;
            }
        }
    }

    .asset-browser-controls-bottom {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 50;
    }

    .asset-browser-window {
        position: absolute;
        right: 16px;
        z-index: 100;
        top: 10px;
        width: 500px;
        height: 551px;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
        border: solid 1px rgba(185, 192, 197, 0.7);
        background-color: #eff2f6;

        .asset-browser-window-header {
            width: 100%;
            background-color: #FFF;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom: none;

            .info {
                float: left;
                margin-left: 16px;
                margin-top: 32px;
                width: 250px;

                .class-name {
                    width: 148px;
                    height: 24px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.14;
                    letter-spacing: normal;
                    color: #202020;
                }

                .asset-name {
                    width: 468px;
                    height: 24px;
                    font-size: 18px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.89;
                    letter-spacing: normal;
                    color: #4093cb;
                    word-break: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .scores {
                float: right;
                margin-right: 16px;
                margin-top: 16px;
            }

            .windowtabs {
                height: 32px;
                background-color: #FFF;

                button.tab {
                    box-sizing: border-box;
                    padding: 0 15px;
                    height: 32px;
                    cursor: pointer;
                    flex-shrink: 0;
                    background: none;
                    border: none;
                    border-radius: 0;
                    color: #006FBA;
                    box-shadow: inset 0 -2px 0 0 #ffffff;

                    &:not(:disabled):hover, &.hover {
                        box-shadow: inset 0 -2px 0 0 #202020 !important;
                    }
                }

                button.tab-selected {
                    box-sizing: border-box;
                    padding: 0 15px;
                    height: 32px;
                    cursor: pointer;
                    flex-shrink: 0;
                    background: none;
                    border: none;
                    border-radius: 0;
                    box-shadow: inset 0 -2px 0 0 #202020;
                    color: #202020;
                }
            }
        }

        .asset-browser-window-content {
            width: 100%;
            padding: 16px;

            section {
                padding: 8px 16px 8px 16px;
                background-color: #fff;
                border-radius: 4px;

                .scroll-panel {
                    overflow-y: auto;
                    overflow-x: hidden
                }

                .filter-row {
                    padding-bottom: 10px;
                    margin-bottom: 25px;

                    .filter-row-label {
                        vertical-align: top;
                        width: 150px;
                        height: 24px;
                        padding-bottom: 25px;
                        font-family: 'Source Sans Pro Bold';
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #202020;
                    }

                    .filter-row-control {
                        vertical-align: top;
                        padding-bottom: 25px;
                        font-family: 'Source Sans Pro';
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #202020;

                        .filter-dropdown {
                            width: 90%;
                        }
                    }
                }
                /*.fields {
                    div {
                        display: inline-flex;

                        label {
                            width: 142px;
                            height: 24px;
                            font-family: 'Source Sans Pro Bold';
                            font-size: 14px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #202020;
                        }

                        div,
                        span {
                            width: 272px;
                            font-family: 'Source Sans Pro';
                            font-size: 14px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #202020;
                        }
                    }
                }*/
            }

            &.popup-opened {
                z-index: auto;
            }

            .browser-relationship-editor {
                .title {
                    color: gray;
                    margin: 6px 0px;
                    display: block;
                }

                .transformation-block {
                    .generic-asset-search {
                        min-width: 300px;
                        margin-right: 16px;
                    }

                    button {
                        border: 1px solid #cccccc;
                        border-radius: 4px;
                        display: block;
                        clear: both;
                        background-color: #f0f0f0;
                        padding: 5px 10px;
                        line-height: 22px;

                        &:disabled {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    .asset-browser-window-tabs-content-field {
        margin-top: 5px;
        margin-bottom: 15px
    }

    .asset-browser-window-tabs-content-field-name {
        color: #666;
        font-weight: 600;
    }

    .asset-browser-window-tabs-content-field-name::after {
        content: '\00a0'; //&#160;
    }

    .asset-browser-window-tabs-content-field-content {
        word-break: break-word;

        a {
            color: @d3s-blue-2 !important;
        }
    }


    .alert-selected {
        border: 2px solid #000000 !important;
    }

    .asset-browser-window-tabs-content-alert {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 3px 10px 3px 10px;
        border: 2px solid #C09B9C;
        border-radius: 3px;
        background-color: #FFDFDF;
        color: #000;

        &:hover {
            border: 2px solid #000000;
            cursor: pointer;
        }

        .asset {
            margin-bottom: 10px;

            .icon {
                margin-right: 5px;
            }

            .settings-menu {
                width: 32px;
                line-height: 32px;
                background-color: transparent;
                border: 1px solid #FFCFCF;
                stroke-opacity: 0.4;
                border-radius: 2px;
                height: 32px;
                float: right;
                position: relative;
                /*opacity: 0.5;*/
                text-align: center;
                vertical-align: middle;

                .popup-menu {
                    display: none;

                    ul {
                        & > li {
                            & > span {
                                padding-left: 10px;
                                width: 200px;
                                text-align: left;
                            }
                        }
                    }
                }

                &:hover {
                    background-color: rgb(200,200,200);
                    cursor: pointer;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-bottom: none;

                    .popup-menu {
                        display: inline-block;
                        top: 1px;
                        /*right: 9px;*/
                        width: 160px;
                        z-index: 100;

                        &.place-right {
                            right: 128px;
                        }
                    }
                }
            }
        }

        .action {
            margin-bottom: 5px;

            .label {
                margin-right: 6px;
            }

            .type {
                border-radius: 2px;
                background-color: #006FBB;
                color: #fff;
                padding: 2px 3px 2px 3px;
            }

            .content {
                margin-top: 10px;
            }
        }

        .score {
            .label {
                margin-right: 6px;
            }

            .type {
                border-radius: 2px;
                color: #fff;
                padding: 2px 3px 2px 3px;
            }
        }
    }

    .asset-browser-score {
        margin-left: 25px;
        padding: 3px;
        color: #ffffff;
        border-radius: 3px;
        border: none;

        &.bad {
            background: @igx-coral-light;
        }

        &.ok {
            background: @igx-orange-light;
        }

        &.good {
            background: @igx-green-light;
        }

        &.fail {
            background: @igx-red-light;
        }
    }

    button.asset-browser-button, .asset-browser-button-group > button {
        height: 32px;
        width: 32px;
        line-height: 16px;
        font-size: 16px;
        color: #333;
        background-color: transparent;
        border: none;
        position: relative;
        border-radius: 4px;
        margin-left: 4px;

        .has-alerts-label {
            color: #CF1D49;
            display: inline !important;
        }

        .has-alerts-count {
            padding: 1px 3px 1px 3px !important;
            background-color: #CF1D49;
            border-radius: 2px;
            color: white;
            font-size: 10px;
            font-weight: 600;
            display: inline;
            margin-left: 5px;
        }

        &.right-margin-4 {
            margin-right: 4px;
        }
    }

    &.btn-small {
        button {
            line-height: 12px;
            font-size: 12px;
        }
    }

    button:active {
        background-color: #ccc;
    }

    button:hover {
        background-color: rgba(185,192,197,0.5);
    }

    button.selected {
        background-color: #DDDDDD;
    }

    button.disabled {
        color: #888;
    }

    button.disabled:hover {
        background-color: transparent;
    }

    button.light {
        color: #999;
    }

    .asset-browser-button-group {
        display: inline-block;
        height: 32px;

        &.zoom-controls {
            padding: 12px 8px;
            border-radius: 4px;
            background-color: #f1f2f3;
            height: initial;
            padding: 4px;

            button {
                margin: 0px;
            }

            .diagram-zoom {
                display: inline-block;
                position: relative;
                color: #4d565d;
                font-weight: 600;
                margin: 0px 4px;
                font-size: 14px;
                position: relative;
                top: -1px;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            }
        }

        .button-spacer {
            display: inline-block;
            width: 1px;
            height: 32px;
            background-color: #b9c0c5;
            position: absolute;
        }

        input[type="text"] {
            border: none;
            height: 25px;
            padding: 3px;
        }
    }

    .asset-browser-search {
        border-radius: 4px;
        position: relative;
        display: inline-block;
        margin-right: 4px;

        input {
            height: 32px;
            width: 295px;
            border-radius: 2px;
            border: solid 1px #b9c0c5;
            background-color: white;
            color: #73808a;
            padding: 0px 11px;

            &.has-text {
                padding-right: 80px;
            }
        }

        .input-actions {
            position: absolute;
            top: 6px;
            right: 28px;

            .fa-times-circle {
                margin: 0px 8px;
                color: #006fc0;
                cursor: pointer;
            }

            .search-item-location {
                color: #bbbbbb;
            }

            .fa-search {
                background-color: #006fc0;
                height: 24px;
                width: 24px;
                border-radius: 2px;
                color: white;
                line-height: 24px;
                position: absolute;
                padding: 0px 5px;
                top: -2px;
            }
        }
    }

    .asset-browser-body {
        .tile {
            margin-bottom: 0px;
        }
    }

    .relationship-editor {
        max-width: 380px;

        .asset-browser-window-header {
            height: 46px !important;
        }

        .asset-browser-window-content {
            top: 54px !important;
            padding: 10px;
            padding-top: 0px;
        }

        span.title {
            margin-top: 15px !important;
            font-weight: bold;
        }

        .asset-browser-window-header {
            height: 85px;

            .asset-browser-window-header-name {
                margin-bottom: 4px;
            }

            .switcher {
                button {
                    background: none;
                    border: none;
                    border-bottom: 4px rgba(255,255,255,0);
                    color: #006fc0;
                    padding: 5px 10px;

                    &.selected, &:hover {
                        border-bottom: 3px solid #006fc0;
                    }
                }
            }
        }

        .asset-browser-window-content {
            top: 85px;
        }

        .actions {
            padding: 16px 0px;
            display: flex;
            flex-direction: row;

            button {
                border: 1px solid #cccccc;
                margin-left: 0px;

                &:disabled {
                    opacity: 0.5;
                }
            }
        }

        .info-message {
            margin-top: 15px;
        }

        .warningMessage {
            background-color: #ffe7b2;
            border: 1px solid #ffb000;
            border-radius: 2px;
            width: 100%;
            padding: 10px 20px;
            margin-top: 15px;
            color: #000;
            font-weight: normal;
        }

        .err-message {
            background-color: #ffc6bb;
            border: 1px solid #c44d36;
            border-radius: 2px;
            width: 100%;
            padding: 10px 20px;
            margin-top: 15px;
            color: #000;
            font-weight: normal;
            position: relative;
            margin-top: 0px;
            padding-left: 28px;
            padding-top: 4px;
            padding-bottom: 4px;
            margin: 10px 0px;

            .warning-icon {
                position: absolute;
                left: 8px;
                top: 8px;
            }

            .segments {
                .arrow-right {
                    font-size: 9px;
                    margin: 0px 5px;
                }
            }

            span.title {
                margin: 0px 0px;
                margin-top: 6px !important;
            }
        }
    }
}
