@import "infogix-ui/IgUiVariables";
@import "_Variables";

.asset-browser {
    .menu-wrapper {
        display: inline-block;
    }

    .button-spacer {
        display: inline-block;
        margin: 0px 16px 0px 16px;
        width: 1px;
        height: 32px;
        background-color: @igx-grey-xlight;
        line-height: 32px;
        vertical-align: middle;
    }

    .error-panel {
        position: absolute;
        top: 75px;
        z-index: 0;
        text-align: center;
        color: @ig-red-t1;
    }

    .asset-browser-header {
        background-color: @ig-grey-t5;
        display: flex;
        flex-direction: row;
        padding: 12px 16px;
        border-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        .controls-left {
            z-index: 50;

            .button-spacer {
                display: inline-block;
                margin: 0px 16px 0px 16px;
                width: 1px;
                height: 32px;
                background-color: @igx-grey-xlight;
                line-height: 32px;
                vertical-align: middle;
            }
        }

        .controls-right {
            position: absolute;
            z-index: 50;
            right: 0px;

            span {
                padding: 8px;
                cursor: pointer;
            }
        }

        p-dropdown {
            .p-dropdown {
                width: 400px;
                min-height: 34px;
                border-radius: 2px;
                box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
                border: solid 1px @igx-grey-xlight;
                background-color: @ig-white;

                .p-dropdown-label {
                    line-height: 25px;
                    padding-left: 16px;
                    color: black;
                }

                .p-dropdown-trigger {
                    width: 32px;
                    height: 32px;
                    padding: 0 4px;

                    .p-dropdown-trigger-icon {
                        top: 4px;
                        left: auto;
                        margin-top: auto;
                        margin-left: auto;
                        height: 24px;
                        width: 24px;
                        background-color: @ig-grey-t5;
                        line-height: 24px;
                        text-align: center;
                        border-radius: 2px;
                        font-weight: bolder;
                    }
                }

                .p-dropdown-panel {
                    border-radius: 2px;
                    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
                    border: solid 1px @igx-grey-xlight;
                    background-color: @ig-white;

                    .p-dropdown-filter {
                        height: 32px;
                        border-radius: 2px;
                    }

                    .p-dropdown-filter-icon {
                        font-size: 16px;
                        background-color: #006fc0;
                        color: white;
                        padding: 4px;
                        border-radius: 2px;
                        top: 10px;
                        right: 9px;
                    }
                }

                .p-dropdown-item {
                    padding: 4px;

                    &:hover {
                        background-color: #ffef99;
                    }

                    .option-name {
                        display: inline-block;
                        max-width: 400px;
                    }
                }
            }
        }
    }

    .asset-browser-controls-bottom {
        position: fixed;
        right: 40px;
        bottom: 40px;
        z-index: 10001;

        .diagram-zoom {
            min-width: 34px;
            text-align: center;
        }

        &.info-panel-opened {
            right: 348px;
        }
    }

    .asset-browser-window {
        position: absolute;
        right: 16px;
        z-index: 100;
        top: 10px;
        width: 500px;
        height: 551px;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
        border: solid 1px rgba(185, 192, 197, 0.7);
        background-color: #eff2f6;

        .asset-browser-window-header {
            width: 100%;
            background-color: @ig-white;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom: none;

            .info {
                float: left;
                margin-left: 16px;
                margin-top: 32px;
                width: 250px;

                .class-name {
                    width: 148px;
                    height: 24px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.14;
                    letter-spacing: normal;
                    color: @ig-black;
                }

                .asset-name {
                    width: 468px;
                    height: 24px;
                    font-size: 18px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.89;
                    letter-spacing: normal;
                    color: @igx-light-blue-2;
                    word-break: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .scores {
                float: right;
                margin-right: 16px;
                margin-top: 16px;
            }

            .windowtabs {
                height: 32px;
                background-color: @ig-white;

                button.tab {
                    box-sizing: border-box;
                    padding: 0 15px;
                    height: 32px;
                    cursor: pointer;
                    flex-shrink: 0;
                    background: none;
                    border: none;
                    border-radius: 0;
                    color: @ig-midblue;
                    box-shadow: inset 0 -2px 0 0 @ig-white;

                    &:not(:disabled):hover, &.hover {
                        box-shadow: inset 0 -2px 0 0 @ig-black !important;
                    }

                    &:disabled {
                        color: @d3s-gray-7;
                        cursor: not-allowed;
                    }
                }

                button.tab-selected {
                    box-sizing: border-box;
                    padding: 0 15px;
                    height: 32px;
                    cursor: pointer;
                    flex-shrink: 0;
                    background: none;
                    border: none;
                    border-radius: 0;
                    box-shadow: inset 0 -2px 0 0 @ig-black;
                    color: @ig-black;
                }

                .saved-filter-controls {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 16px;

                    button {
                        font-weight: normal;
                        background-color: #ccc;
                        color: #333;
                    }
                }
            }
        }

        .asset-browser-window-content {
            width: 100%;
            padding: 16px;

            section {
                padding: 8px 16px 8px 16px;
                background-color: @ig-white;
                border-radius: 4px;

                .scroll-panel {
                    overflow-y: auto;
                    overflow-x: hidden
                }

                .filter-row {
                    margin-bottom: 9px;

                    .filter-row-label,
                    .filter-row-short-label {
                        vertical-align: top;
                        height: 24px;
                        font-family: 'Source Sans Pro Bold';
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: @ig-black;
                    }

                    .filter-row-short-label {
                        width: 100px;
                    }

                    .filter-row-label {
                        width: 142px;
                    }

                    .filter-row-control {
                        vertical-align: top;
                        font-family: 'Source Sans Pro';
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: @ig-black;
                        padding-bottom: 9px;

                        .filter-dropdown {
                            width: 90%;
                        }
                    }
                }
            }

            &.popup-opened {
                z-index: auto;
            }

            .browser-relationship-editor {
                .title {
                    color: gray;
                    margin: 6px 0px;
                    display: block;
                }

                .transformation-block {
                    .generic-asset-search {
                        min-width: 300px;
                        margin-right: 16px;
                    }

                    button {
                        border: 1px solid #cccccc;
                        border-radius: 4px;
                        display: block;
                        clear: both;
                        background-color: #f0f0f0;
                        padding: 5px 10px;
                        line-height: 22px;

                        &:disabled {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    .alert-selected {
        border: 2px solid #000000 !important;
    }

    .asset-browser-window-tabs-content-alert {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 3px 10px 3px 10px;
        border: 2px solid #C09B9C;
        border-radius: 3px;
        background-color: #FFDFDF;
        color: #000;

        &:hover {
            border: 2px solid #000000;
            cursor: pointer;
        }

        .asset {
            margin-bottom: 10px;

            .icon {
                margin-right: 5px;
            }

            .settings-menu {
                width: 32px;
                line-height: 32px;
                background-color: transparent;
                border: 1px solid #FFCFCF;
                stroke-opacity: 0.4;
                border-radius: 2px;
                height: 32px;
                float: right;
                position: relative;
                /*opacity: 0.5;*/
                text-align: center;
                vertical-align: middle;

                .popup-menu {
                    display: none;

                    ul {
                        & > li {
                            & > span {
                                padding-left: 10px;
                                width: 200px;
                                text-align: left;
                            }
                        }
                    }
                }

                &:hover {
                    background-color: rgb(200,200,200);
                    cursor: pointer;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-bottom: none;

                    .popup-menu {
                        display: inline-block;
                        top: 1px;
                        /*right: 9px;*/
                        width: 160px;
                        z-index: 100;

                        &.place-right {
                            right: 128px;
                        }
                    }
                }
            }
        }

        .action {
            margin-bottom: 5px;

            .label {
                margin-right: 6px;
            }

            .type {
                border-radius: 2px;
                background-color: #006FBB;
                color: @ig-white;
                padding: 2px 3px 2px 3px;
            }

            .content {
                margin-top: 10px;
            }
        }

        .score {
            .label {
                margin-right: 6px;
            }

            .type {
                border-radius: 2px;
                color: @ig-white;
                padding: 2px 3px 2px 3px;
            }
        }
    }

    button.asset-browser-button, .asset-browser-button-group > button {
        display: inline-flex;
        position: relative;
        box-sizing: border-box;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
        flex-shrink: 0;
        height: 32px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
        background: #f0f0f0;
        color: @ig-black;
        border: none;
        border-radius: 4px;

        .has-alerts-label {
            color: #CF1D49;
            display: inline !important;
        }

        .has-alerts-count {
            padding: 1px 3px 1px 3px !important;
            background-color: #CF1D49;
            border-radius: 2px;
            color: white;
            font-size: 10px;
            font-weight: 600;
            display: inline;
            margin-left: 5px;
        }

        &:not(.icon) {
            padding: 0 16px;

            i.fa {
                padding-right: 8px;
            }
        }

        &.icon {
            font-size: 16px;
            width: 32px;
        }

        &.right-margin-4 {
            margin-right: 4px;
        }
    }

    &.btn-small {
        button {
            line-height: 12px;
            font-size: 12px;
        }
    }

    button:active {
        background-color: #ccc;
    }

    button:focus {
        background: #f1f1f2;
        outline: 0 none;
        outline-offset: 0;
        -webkit-box-shadow: 0 0 0 2px @ig-midblue-t3;
        -moz-box-shadow: 0 0 0 2px @ig-midblue-t3;
        box-shadow: 0 0 0 2px @ig-midblue-t3;
    }

    button:hover {
        background-color: rgba(185,192,197,0.5);
    }

    button.selected {
        background: rgba(0, 0, 0, 0.14);
    }

    button.disabled, button:disabled {
        color: #888;
        cursor: default;
        pointer-events: none;
    }

    button.disabled:hover {
        background-color: transparent;
    }

    button.dark {
        background: none;
        color: @ig-black;
    }

    .asset-browser-button-group {
        display: inline-block;
        height: 32px;

        &.zoom-controls {
            padding: 12px 8px;
            border-radius: 4px;
            background-color: @ig-grey-t5;
            height: initial;
            padding: 4px;

            button {
                margin: 0px;
            }

            .diagram-zoom {
                display: inline-block;
                position: relative;
                color: @igx-grey;
                font-weight: 600;
                margin: 0px 4px;
                font-size: 14px;
                position: relative;
                top: -1px;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            }
        }

        input[type="text"] {
            border: none;
            height: 25px;
            padding: 3px;
        }
    }

    .asset-browser-search {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        background: white;
        border: 1px solid #cccccc;
        border-radius: 4px;
        height: 32px;
        width: 300px;

        input {
            background: none;
            border: none;
            flex-grow: 1;
            padding-right: 10px;
            outline: none;
            min-width: 50px;
            padding: 0 10px;

            &.has-text {
                padding-right: 80px;
            }
        }

        .input-actions {
            position: absolute;
            top: 5px;
            right: 28px;

            .fa-times-circle {
                margin: 0px 8px;
                color: @ig-midblue;
                cursor: pointer;
            }

            .search-item-location {
                color: #bbbbbb;
            }

            .fa-search {
                background-color: #006fc0;
                height: 24px;
                width: 24px;
                border-radius: 2px;
                color: white;
                line-height: 24px;
                position: absolute;
                padding: 0px 5px;
                top: -2px;
            }
        }
    }

    .asset-browser-body {
        .tile {
            margin-bottom: 0px;
        }
    }

    .relationship-editor {
        max-width: 380px;

        .asset-browser-window-header {
            height: 46px !important;
        }

        .asset-browser-window-content {
            top: 54px !important;
            padding: 10px;
            padding-top: 0px;
        }

        span.title {
            margin-top: 15px !important;
            font-weight: bold;
        }

        .asset-browser-window-header {
            height: 85px;

            .asset-browser-window-header-name {
                margin-bottom: 4px;
            }

            .switcher {
                button {
                    background: none;
                    border: none;
                    border-bottom: 4px rgba(255,255,255,0);
                    color: #006fc0;
                    padding: 5px 10px;

                    &.selected, &:hover {
                        border-bottom: 3px solid #006fc0;
                    }
                }
            }
        }

        .asset-browser-window-content {
            top: 85px;
        }

        .actions {
            padding: 16px 0px;
            display: flex;
            flex-direction: row;

            button {
                border: 1px solid #cccccc;
                margin-left: 0px;

                &:disabled {
                    opacity: 0.5;
                }
            }
        }

        .info-message {
            margin-top: 15px;
        }

        .warningMessage {
            background-color: @igx-orange-xlight;
            border: 1px solid @igx-orange-light;
            border-radius: 2px;
            width: 100%;
            padding: 10px 20px;
            margin-top: 15px;
            color: #000;
            font-weight: normal;
        }

        .err-message {
            background-color: @igx-coral-xlight;
            border: 1px solid @igx-coral;
            border-radius: 2px;
            width: 100%;
            padding: 10px 20px;
            margin-top: 15px;
            color: #000;
            font-weight: normal;
            position: relative;
            margin-top: 0px;
            padding-left: 28px;
            padding-top: 4px;
            padding-bottom: 4px;
            margin: 10px 0px;

            .warning-icon {
                position: absolute;
                left: 8px;
                top: 8px;
            }

            .segments {
                .arrow-right {
                    font-size: 9px;
                    margin: 0px 5px;
                }
            }

            span.title {
                margin: 0px 0px;
                margin-top: 6px !important;
            }
        }
    }

    .controls-bottom-left {
        .overview canvas {
            outline: none;
        }    
    }
}


