/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/*@import "../bootstrap/variables";*/

/*#region Common Page Structure */

body {
  margin: 0px;
  background-color: #f1f1f1;
  font-family: Tahoma, Helvetica, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 0.9em;
}
/** {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

/*#endregion*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Tahoma;
  font-weight: normal;
  margin: 2px;
}
h1 {
  font-size: 35px;
  line-height: 38px;
}
h2 {
  font-size: 29px;
  line-height: 31px;
}
h3 {
  font-size: 27px;
  line-height: 29px;
}
h4 {
  font-size: 19px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 15px;
}
h6 {
  font-size: 13px;
  line-height: 14px;
}
.NoResultsMessage,
.EmptyMessage {
  color: #b0b2b6;
  font-size: 200%;
  font-weight: 600;
}
.EmptyMessage:before {
  content: "No item currently selected.";
}
.PageHeader {
  padding: 0 10px 0 10px;
  margin-bottom: 5px;
}
.FieldRow {
  margin-bottom: 15px;
}
.form-header-info {
  width: 55%;
}
.form-instructions {
  font-size: 90%;
  color: #818385;
  margin-bottom: 10px;
  margin-top: 15px;
}
.FieldFilter {
  clear: both;
  display: table;
  margin-bottom: 1px;
  margin-top: 5px;
  font-weight: 800;
}
.FieldNameRequired,
.FieldName {
  clear: both;
  display: table;
  margin-bottom: 1px;
  margin-top: 10px;
  font-size: 115%;
  font-weight: 600;
}
.FieldNameRequired {
  color: #51a6dc;
}
.FieldName {
  color: #9e9e9e;
}
.FieldDisplayName {
  font-size: 115%;
  font-weight: 600;
}
/*input[type=checkbox][disabled]{
    color: @d3s-blue-1;
    background-color: #fff;
    opacity: 1;
    width: 15px;
    height: 15px;
}*/

.emptymessage {
  padding: 25px;
  color: #dddddd;
  font-size: 40px;
  font-weight: 200;
}
.quickTip {
  color: #5b401f;
  text-decoration: dashed;
}
.FormStatus {
  color: #1f98c7;
  font-weight: 600;
  font-size: 110%;
}
.FormNotice {
  color: red;
  font-weight: 600;
  font-size: 110%;
}
.ExtraLargeAbsoluteRating {
  font-size: 30px !important;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 10000;
}
/*******************************
            Breadcrumb
*******************************/

ol.breadcrumb {
  font-size: 90%;
  list-style: none;
}
ol.breadcrumb li {
  display: inline-block;
}
ol.breadcrumb li:after {
  content: ' / ';
}
ol.breadcrumb li.active {
  font-weight: 600;
}
ol.breadcrumb li.active:after {
  content: '';
}
ul.hierarchy {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background-color: #fafafa;
  list-style: none;
  /*li + li:before {
        content: ' / ';
    }*/

  /*:not(:last-child) {
        color: @d3s-blue-2;
        text-decoration: underline;
    }*/

}
ul.hierarchy li {
  display: inline-block;
}
ul.hierarchy li.separator {
  padding: 0 15px 0 15px;
}
ul.hierarchy li.clickable {
  color: #51a6dc;
  text-decoration: underline;
  cursor: pointer;
}
ul.hierarchy :last-child {
  font-weight: 600;
}
/*******************************
            Segment
*******************************/

.ui.segment {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: 1em 0em;
  padding: 1em;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.ui.segment:first-child {
  margin-top: 0em;
}
.ui.segment:last-child {
  margin-bottom: 0em;
}
.ui.segment:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* No padding on edge content */

.ui.segment > :first-child {
  margin-top: 0em;
}
.ui.segment > :last-child {
  margin-bottom: 0em;
}
/*--------------------
        Form
---------------------*/

.ui.form {
  position: relative;
  max-width: 100%;
}
.ui.form :first-child {
  margin-top: 0em;
}
.ui.form :last-child {
  margin-bottom: 0em;
}
/*--------------------
   Types of Messages
---------------------*/

.ui.form .info.message,
.ui.form .warning.message,
.ui.form .error.message {
  display: none;
}
/* Assumptions */

.ui.form .message:first-child {
  margin-top: 0px;
}
.clear {
  clear: both;
}
.small-overlay {
  margin: auto;
  width: 50%;
}
.medium-overlay {
  margin: auto;
  width: 75%;
}
.large-overlay {
  margin: auto;
  width: 95%;
}
.scrollable-overlay {
  overflow-y: auto;
}
.overlay {
  overflow-y: hidden;
}
.overlay-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  color: white;
}
.overlay-close :hover {
  color: #d32f2f;
}
.scrollable-overlay,
.overlay {
  display: none;
  position: fixed;
  width: 600px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  padding-left: 10px;
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  border-left: 1px solid #cccccc;
}
.scrollable-overlay .overlay-close,
.overlay .overlay-close {
  z-index: 10000;
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 35px;
  line-height: 35px;
  color: #d32f2f;
  cursor: pointer;
}
.scrollable-overlay .overlay-icon,
.overlay .overlay-icon {
  z-index: 10000;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 50px;
  line-height: 50px;
  color: #d5d5d5;
}
.scrollable-overlay .overlay-tabs,
.overlay .overlay-tabs {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 98%;
}
.root-tile {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
}
.root-tile .TileTools {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 900;
  color: #5c5e60;
  font-size: 15px;
  line-height: 16px;
}
.tile {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  padding: 1px 2px 1px 1px;
}
.tile .jqx-expander-header-plain,
.tile .jqx-expander-header-expanded-plain,
.tile .header,
.tile header {
  font-family: "Roboto", Tahoma !important;
  padding: 3px 0px 5px 5px !important;
  font-size: 19px !important;
  font-weight: 600 !important;
  color: black !important;
  background-color: transparent !important;
  border: none !important;
  position: relative;
}
.tile .jqx-expander-header-plain .TileTools,
.tile .jqx-expander-header-expanded-plain .TileTools,
.tile .header .TileTools,
.tile header .TileTools {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 900;
  color: #5c5e60;
  font-size: 15px;
  line-height: 16px;
  /*i {
                color: @d3s-gray-1;
                &:hover {
                    color: @d3s-blue-2;
                }
            }*/

}
.tile footer {
  position: relative;
}
.tile footer .TileTools {
  position: absolute;
  right: -5px;
  bottom: 10px;
  z-index: 900;
  color: #5c5e60;
  font-size: 15px;
  line-height: 16px;
}
.tile .tiletools {
  width: 100%;
  position: absolute;
  top: 3px;
  right: 5px;
  text-align: right;
}
.tile .tiletools button {
  color: #b0b2b6;
  font-size: 19px !important;
  border: none;
  background-color: transparent;
}
.tile .tiletools button :hover {
  color: #818385;
}
.tile .form-instructions {
  margin-left: 10px;
}
.tile .directions {
  padding: 3px 0px 5px 5px !important;
  color: #818385;
  font-size: 0.8em;
}
.tile .tile-tabs {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 98%;
}
.tile .footnote {
  position: absolute;
  bottom: 5px;
  width: 100%;
  color: #9affff;
}
.tile a:hover {
  text-decoration: underline;
}
.tile-bordered {
  border: 1px solid #d5d5d5;
}
.tile-detail {
  background-color: white;
  border: 1px solid #818385;
  border-radius: 5px;
  padding-bottom: 10px;
}
.tile-micro {
  background-color: #5c5e60;
  color: white;
  min-height: 150px;
}
.tile-micro article {
  padding: 0px 7px 5px 7px;
}
.tile-micro article .tile-stat-name {
  color: #9affff;
}
.tile-micro article .tile-stat-name-slug {
  color: #d5d5d5;
}
.tile-micro article .tile-stat-value {
  color: #f0f3f8;
}
.tile-clickable {
  cursor: pointer;
}
.tile-disabled {
  fill-opacity: 0.1;
  opacity: 0.1;
}
.tile-stat-large {
  font-size: 175%;
}
.tile-stat-name {
  font-size: 125%;
  font-weight: 600;
  width: 70%;
}
.tile-stat-name :hover {
  text-decoration: underline;
  cursor: pointer;
}
.tile-stat-name-slug {
  font-size: 90%;
  font-weight: 400;
}
.tile-stat-name-slug :hover {
  text-decoration: underline;
  cursor: pointer;
}
.tile-stat-value {
  font-size: 125%;
  font-weight: 700;
  text-align: right;
}
.tile-stat-value-highlight:before {
  content: "(";
}
.tile-stat-value-highlight:after {
  content: ")";
}
.tile-stat-value-highlight {
  color: #9affff;
  font-size: 150%;
  font-weight: 400;
}
.redflag {
  color: red;
  font-size: 35px;
}
.tile-stat-value-red {
  color: red;
  font-size: 150%;
  font-weight: 700;
}
.tile-stat-value-yellow {
  color: yellow;
  font-size: 150%;
  font-weight: 700;
}
.tile-stat-value-green {
  color: lightgreen;
  font-size: 150%;
  font-weight: 700;
}
.fusion-filter {
  width: 98%;
  margin: auto;
}
.fusion-filter .hdr {
  font-weight: 600;
}
.fusion-filter .filter-f {
  display: inline-block;
}
.fusion-filter .btn {
  height: 25px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #999999;
  color: #3979a2;
  background-color: transparent;
}
.fusion-filter .btn :hover {
  color: #70e2ff;
}
.tooltip-icon {
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 1px;
}
.row-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  width: 20px;
  border-radius: 1px;
  padding-left: 2px;
}
.row-icon i {
  font-size: 16px;
}
.active-flag {
  color: red;
}
.inactive-flag {
  color: #818385;
}
.detail-alert {
  color: red;
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.flag-clickable {
  cursor: pointer;
}
.report {
  margin-top: 10px;
}
.report-area,
.report-area-design {
  min-height: 50px;
  margin-bottom: 15px;
}
.report-area-design {
  border: 3px dashed #cbcaca;
  border-radius: 5px;
}
.report-schema-view {
  font-weight: 600;
  font-size: 115%;
}
.report-schema-column {
  font-weight: 400;
}
.kpi-inner-text {
  fill: black;
  color: black;
  font-size: 30px;
  font-family: Verdana;
}
.StatisticGauge {
  width: 100%;
}
@media (min-width: 100px) {
  .StatisticGauge {
    max-width: 100px;
    height: 65px;
  }
}
@media (min-width: 600px) {
  .StatisticGauge {
    max-width: 150px;
    height: 90px;
  }
}
@media (min-width: 1000px) {
  .StatisticGauge {
    max-width: 90px;
    height: 55px;
  }
}
@media (min-width: 1300px) {
  .StatisticGauge {
    max-width: 100px;
    height: 65px;
  }
}
@media (min-width: 1400px) {
  .StatisticGauge {
    max-width: 125px;
    height: 70px;
  }
}
@media (min-width: 1600px) {
  .StatisticGauge {
    max-width: 150px;
    height: 90px;
  }
}
.StatisticValue {
  font-weight: 700;
  text-align: right;
}
@media (min-width: 100px) {
  .StatisticValue {
    font-size: 14px;
    width: 30px;
    line-height: 16px;
  }
}
@media (min-width: 600px) {
  .StatisticValue {
    font-size: 40px;
    width: 50px;
    line-height: 42px;
  }
}
@media (min-width: 1000px) {
  .StatisticValue {
    font-size: 24px;
    width: 30px;
    line-height: 26px;
  }
}
@media (min-width: 1300px) {
  .StatisticValue {
    font-size: 28px;
    width: 30px;
    line-height: 36px;
  }
}
@media (min-width: 1400px) {
  .StatisticValue {
    font-size: 38px;
    width: 40px;
    line-height: 38px;
  }
}
@media (min-width: 1600px) {
  .StatisticValue {
    font-size: 46px;
    width: 50px;
    line-height: 46px;
  }
}
.StatisticName {
  color: #818385;
  word-break: keep-all;
}
@media (min-width: 100px) {
  .StatisticName {
    font-size: 11px;
    line-height: 11px;
  }
}
@media (min-width: 600px) {
  .StatisticName {
    font-size: 20px;
    line-height: 21px;
  }
}
@media (min-width: 1000px) {
  .StatisticName {
    font-size: 14px;
    line-height: 13px;
  }
}
@media (min-width: 1300px) {
  .StatisticName {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1400px) {
  .StatisticName {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1600px) {
  .StatisticName {
    font-size: 20px;
    line-height: 22px;
  }
}
.EventStatisticValue {
  cursor: pointer;
  padding: 0px 5px 5px 0px;
  color: #d32f2f;
}
.EventStatisticValue:hover {
  color: #f44336;
}
.EventStatisticName {
  padding: 0px 15px 5px 5px;
}
.ScoreStatisticValue {
  -webkit-break-before: always;
  break-before: always;
  font-weight: 800;
}
@media (min-width: 100px) {
  .ScoreStatisticValue {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 600px) {
  .ScoreStatisticValue {
    font-size: 40px;
    line-height: 42px;
  }
}
@media (min-width: 1000px) {
  .ScoreStatisticValue {
    font-size: 24px;
    line-height: 26px;
  }
}
@media (min-width: 1300px) {
  .ScoreStatisticValue {
    font-size: 28px;
    line-height: 30px;
  }
}
@media (min-width: 1400px) {
  .ScoreStatisticValue {
    font-size: 35px;
    line-height: 35px;
  }
}
@media (min-width: 1600px) {
  .ScoreStatisticValue {
    font-size: 45px;
    line-height: 45px;
  }
}
.ScoreStatisticValue:hover {
  color: #b0b2b6;
}
.ScoreStatisticName {
  color: #818385;
}
@media (min-width: 100px) {
  .ScoreStatisticName {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (min-width: 600px) {
  .ScoreStatisticName {
    font-size: 20px;
    line-height: 21px;
  }
}
@media (min-width: 1000px) {
  .ScoreStatisticName {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (min-width: 1300px) {
  .ScoreStatisticName {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (min-width: 1400px) {
  .ScoreStatisticName {
    font-size: 16px;
    line-height: 17px;
  }
}
@media (min-width: 1600px) {
  .ScoreStatisticName {
    font-size: 20px;
    line-height: 20px;
  }
}
.SocialStatisticValue {
  cursor: pointer;
  padding: 5px 5px 0px 0px;
  color: #51a6dc;
}
.SocialStatisticValue:hover {
  color: #70e2ff;
}
.SocialStatisticName {
  padding: 5px 15px 0px 5px;
}
.ChildArtifactStatisticValue {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #51a6dc;
}
.ChildArtifactStatisticValue:hover {
  color: #70e2ff;
}
.ChildArtifactStatisticName {
  font-size: 20px;
  text-align: right;
  color: #818385;
}
.d3s-sidebar {
  vertical-align: top;
  width: 100px;
  padding-left: 10px;
}
.d3s-contentarea {
  vertical-align: top;
}
#SideIcons {
  padding: 10px;
}
#SideIcons .action {
  color: #51a6dc;
}
#SideIcons .action:hover {
  color: #e2792a;
  cursor: help;
}
