@import "_Variables.less";

.fa-thumbs-o-up:hover {
    color: #2c77ba;
}
.fa-thumbs-o-down:hover {
    color: #2c77ba;
}


.social-count-box {
    border:2px solid #bbb;
    border-radius:2px; 
    background-color:#eee;
    display:inline-block;
    margin-bottom:2px; 
    padding:1px; 
    vertical-align:top;
    *display:inline;
    zoom:1;
    min-width:64px;
    text-align:center;
    cursor:pointer;
}

.social-count-box:hover {
    background-color:#aaa;
}

.socialCountBoxSelected {
    background-color:#78C1DD;
}

.socialDropDown {
    background-color:transparent;
    color:#999;
    font-size:10pt;
    font-weight:600;
    height:100%;
    width:auto;
    border:none; 
    outline:none;
    margin:0; 
    padding:0; 
    display:inline-block;
}
.social {
    padding: 0px 5px 20px 5px;
    .CommentForm {
        margin: 15px 0px 0px 0px;
        textarea {
            border: 1px solid #9e9e9e;
        }
        .type-field {
            width: 80%;
            padding-right: 25px;
            select {
                width: 99%;
            }
        }
        button {
            width: 99%;
        }
    }

    .FilterForm {
        .date-filter {
            width: 45%;
            padding-right: 25px;
            select {
                width: 99%
            }
        }
        .type-filter {
            width: 45%;
            padding-right: 25px;
            select {
                width: 99%
            }
        }
        button {
            width: 99%;
        }
    }

    .Board-Spacer {
        clear: both;
        height: 25px;
    }

    .entry-alt { 
        padding: 4px 0px 4px 4px;
        background-color:#f8f8f8; 
    }

    .sub-entry {
        margin-bottom: 15px;
    }

    .top-entry {
        margin: 0px 0px 0px 0px;
    }

    .entry {
        table {
            width: 100%;
        }
        .profile {
            vertical-align: top;
            width: 4%;
            margin-right: 5px;
            min-width: 30px;
        }
        .type {
            font-weight: 800;
        }
        .author {
            width: 30%;
            text-align: right;
            font-weight: 400;
            a {
                font-weight: 400;
            }
        }
        .message {
            margin-top: 10px;
            img {
                max-height:100%;
                max-width:100%;
            }
        }
        .ChildComments {
            margin: 15px 0px 10px 0px;
            padding-top: 15px;
            .commentNotification {
                margin: 5px;
                font-weight: bold;
                border: 1px solid #ccc;
                border-radius: 2px;
                a {
                    color: #750000;
                }
            }
            table.ChildComment {
                vertical-align: top;
                tr {
                    vertical-align: bottom;
                    td:first-child {
                        width: 92%;
                        textarea {
                            padding: .5rem;
                            width: 96%;
                        }
                    }
                    td:last-child {
                        width: 8%;
                        text-align: right;
                        button {
                            width: 100%;
                        }
                    }
                }
            }
            textarea {
                border: 1px solid #9e9e9e;
            }
        }
    }
    .notification {
        margin: 5px;
        font-weight: bold;
        border: 1px solid #ebebeb;
        border-radius: 2px;
        a {
          color: #750000;
        }
    }
}


