.Report {
    padding: 10px;
}
    .Report h1 {
        color: #666;
    }
    .Report .Column {
        float: left;
        width: 28%;
        margin-right: 4%;
    }
.Chart {
    position: relative;
    margin-top: 25px;
}
    .Chart h1 {
        color: #666;
        border-bottom: 2px solid #999;
        font-size: 25px;
        font-weight: 600;
        line-height: 18px;
        text-align: left !important;
    }
    .Chart .Count {
        position: absolute;
        right: 0px;
        bottom: 0px;
        color: #999;
        font-size: 8px;
        font-weight: 100;
        border: none;
    }
    .Chart .Graphic {
        width: 225px; 
        height: 250px;
    }
    .Chart .Score {
        position: absolute;
        right: 0px;
        top: 0px;
    }
        .Chart .Score h1 {
            color: #999;
            font-size: 40px;
            font-weight: 200;
            border: none;
        }
        .Chart .Score .Low,
        .Chart .Score .Medium,
        .Chart .Score .High {
            font-weight: 700;
            font-size: 45px;
            font-stretch:narrower;
        }
        .Chart .Score .Low {
            color: Red;
        }
        .Chart .Score .Medium {
            color: #FF9933;
        }
        .Chart .Score .High {
            color: Green;
        }