/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
.fa-thumbs-o-up:hover {
  color: #2c77ba;
}
.fa-thumbs-o-down:hover {
  color: #2c77ba;
}
.social-count-box {
  border: 2px solid #bbb;
  border-radius: 2px;
  background-color: #eee;
  display: inline-block;
  margin-bottom: 2px;
  padding: 1px;
  vertical-align: top;
  *display: inline;
  zoom: 1;
  min-width: 64px;
  text-align: center;
  cursor: pointer;
}
.social-count-box:hover {
  background-color: #aaa;
}
.socialCountBoxSelected {
  background-color: #78C1DD;
}
.socialDropDown {
  background-color: transparent;
  color: #999;
  font-size: 10pt;
  font-weight: 600;
  height: 100%;
  width: auto;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.social {
  padding: 0px 5px 20px 5px;
}
.social .CommentForm {
  margin: 15px 0px 0px 0px;
}
.social .CommentForm textarea {
  border: 1px solid #9e9e9e;
}
.social .CommentForm .type-field {
  width: 80%;
  padding-right: 25px;
}
.social .CommentForm .type-field select {
  width: 99%;
}
.social .CommentForm button {
  width: 99%;
}
.social .FilterForm .date-filter {
  width: 45%;
  padding-right: 25px;
}
.social .FilterForm .date-filter select {
  width: 99%;
}
.social .FilterForm .type-filter {
  width: 45%;
  padding-right: 25px;
}
.social .FilterForm .type-filter select {
  width: 99%;
}
.social .FilterForm button {
  width: 99%;
}
.social .Board-Spacer {
  clear: both;
  height: 25px;
}
.social .entry-alt {
  padding: 4px 0px 4px 4px;
  background-color: #f8f8f8;
}
.social .sub-entry {
  margin-bottom: 15px;
}
.social .top-entry {
  margin: 0px 0px 0px 0px;
}
.social .entry table {
  width: 100%;
}
.social .entry .profile {
  vertical-align: top;
  width: 4%;
  margin-right: 5px;
  min-width: 30px;
}
.social .entry .type {
  font-weight: 800;
}
.social .entry .author {
  width: 30%;
  text-align: right;
  font-weight: 400;
}
.social .entry .author a {
  font-weight: 400;
}
.social .entry .message {
  margin-top: 10px;
}
.social .entry .message img {
  max-height: 100%;
  max-width: 100%;
}
.social .entry .ChildComments {
  margin: 15px 0px 10px 0px;
  padding-top: 15px;
}
.social .entry .ChildComments .commentNotification {
  margin: 5px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.social .entry .ChildComments .commentNotification a {
  color: #750000;
}
.social .entry .ChildComments table.ChildComment {
  vertical-align: top;
}
.social .entry .ChildComments table.ChildComment tr {
  vertical-align: bottom;
}
.social .entry .ChildComments table.ChildComment tr td:first-child {
  width: 92%;
}
.social .entry .ChildComments table.ChildComment tr td:first-child textarea {
  padding: .5rem;
  width: 96%;
}
.social .entry .ChildComments table.ChildComment tr td:last-child {
  width: 8%;
  text-align: right;
}
.social .entry .ChildComments table.ChildComment tr td:last-child button {
  width: 100%;
}
.social .entry .ChildComments textarea {
  border: 1px solid #9e9e9e;
}
.social .notification {
  margin: 5px;
  font-weight: bold;
  border: 1px solid #ebebeb;
  border-radius: 2px;
}
.social .notification a {
  color: #750000;
}