.Question {
    padding: 10px;
}
    .Question h1 {
        color: #666;
    }
    .Question textarea {
        width: 80%;
    }
    .Question .directions {
        font-size: 11px;
        margin-top: 15px;
        clear: both;
        color: #999;
    }
.HiddenQuestion {
    display: none;
}