@import "_Variables.less";

.zoomBar {
    margin-left: 5px;
    margin-bottom: 5px;
}
.zoomBtn {
    margin-right: 5px;
}

.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.fill{
    width:100%;
    height:95%;
    min-height:95%;        
    overflow:auto;
}

.diagram-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.diagram {
    canvas {
        outline: none;
    }
}
.qtip-btn-inline {
    display: inline-block !important;
    margin:2px;
    padding: 5px;
    text-transform:none;
    line-height:1.4;
}

.rule-list {
    .rule-name {
        color: @d3s-blue-2;
        font-weight: 600;
        font-size: 1.2em;
        border-bottom: 1px solid #888;
    }
    table {
        border-spacing:2px;
        border-collapse:separate;
        thead {
            tr {
                color: @d3s-gray-1;
            }
        }
        tbody {
            tr {
                .rule-item {
                    padding-top:15px;
                    vertical-align: top;
                    padding-bottom:2px;
                }
                .rule-item-name {
                    font-weight: 500;
                    color: @d3s-blue-4;
                }
            }
        }
    }
}

.mapping-list {
    .mapping-table {
        border-spacing: 2px;
        border-collapse: separate;
        padding-top: 8px;
        tbody {
            tr {
                .mapping-title {
                    color: @d3s-blue-2;
                    font-weight: 600;
                    font-size: 1.2em;
                    padding: 0;
                    border-bottom: 1px solid #888;
                }
                .mapping-subtitle {
                    font-weight: 600;
                    color: @d3s-gray-1;
                }
                td {
                    padding: 5px;
                    ul {
                        margin-top: 2px;
                        li {
                            list-style: square inside none;
                        }
                    }
                }
            }
        }
    }
}

.mapping-table-row {
        background-color:#fff;
}  

.fa-overlay-five {
    width: 0;
    height: 0;
    -webkit-transform-origin: 5px 5px;
    -moz-transform-origin: 5px 5px;
    -ms-transform-origin: 5px 5px;
    -o-transform-origin: 5px 5px;
    transform-origin: 5px 5px;
}

.diagram-menubar.ui-menubar.ui-widget.ui-widget-content {
    background: transparent;
    color: #fff;
    padding: 0;

    a.ui-menuitem-link {
        color: #fff;
        text-align: left;
    }
}

.diagram-header {
    background: @ig-grey-s2;
    height: 42px;

    div.col {
        padding: 5px;
    }

    .header {
        padding: 5px;
        color: #fff;
        font-size: 1.2em;
    }

    span.ui-menuitem-text {
        color: #000;
    }

    .ui-submenu-list a > .ui-menuitem-icon.fa {
        color: #000;
    }

    .ui-submenu-list > li .ui-menuitem {
        float: left;
    }
}

.sidebar-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    max-width: 500px;
    height: 100%;
    z-index: 100;
}

.diagram-sidebar {
    background: #ebebeb;
    height: 100%;
    overflow-y: scroll;

    .sidebar-content {
        padding: 10px;

        .tooltip-panel:not(.tooltip-child) {
            background: transparent;
        }
    }

    .tab-bar {
        background: @ig-midblue;
        color: #fff;

        ul {
            padding: 0;
            margin: 0;

            li {
                cursor: pointer;
                display: inline-block;
                padding: 8px;

                &.selected {
                    background: @igx-light-blue-2;
                }
            }
        }
    }

    small {
        background-color: transparent !important;
    }

    .ui-paginator-bottom.ui-paginator.ui-widget.ui-widget-header {
        background: transparent;
        border-color: transparent;
    }

    .ui-datatable-footer.ui-widget-header {
        background: transparent;
        border-color: transparent;
    }

    span.ui-paginator-pages {
        background: white;
    }

    a.ui-paginator-element {
        &.ui-paginator-first {
            background: white;
        }

        &.ui-paginator-prev {
            background: white;
        }

        &.ui-paginator-next {
            background: white;
        }

        &.ui-paginator-last {
            background: white;
        }
    }
}