@import "_Variables.less";

.zoomBar {
    margin-left: 5px;
    margin-bottom: 5px;
}
.zoomBtn {
    margin-right: 5px;
}

.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.fill{
    width:100%;
    height:95%;
    min-height:95%;        
    overflow:auto;
}

.diagram-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qtip-btn-inline {
    display: inline-block !important;
    margin:2px;
    padding: 5px;
    text-transform:none;
    line-height:1.4;
}

.rule-list {
    .rule-name {
        color: @d3s-blue-2;
        font-weight: 500;
        font-size: 1.2em;
    }
    table {
        thead {
            tr {
                color: @d3s-gray-2;
                font-style: oblique;
            }
        }
        tbody {
            tr {
                .rule-item {
                    padding-top:15px;
                    vertical-align: top;
                }
                .rule-item-name {
                    font-weight: 500;
                    color: @d3s-blue-4;
                }
            }
        }
    }
}