.jqx-rc-tl-flat
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-flat
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-flat
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-flat
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-flat
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-flat
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-flat
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-flat
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-flat
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-flat {
    font-size: 12px;
    font-family: 'segoe ui', arial, sans-serif;
}
.jqx-widget-content-flat{font-size: 12px; font-family: 'segoe ui', arial, sans-serif; border-color: #e5e5e5; color: #767676; background-color: #fff;}
.jqx-widget-header-flat{font-size: 12px; font-family: 'segoe ui', arial, sans-serif; color: #767676; border-color:#e5e5e5; background-color:#f4f4f4;}
.jqx-fill-state-normal-flat{font-size: 12px; font-family: 'segoe ui', arial, sans-serif; border-color: #e5e5e5; color: #767676; background: #ffffff;}
.jqx-button-flat {border-color: #e5e5e5;}
.jqx-fill-state-hover-flat{border-color:#dedede; color: #000; background-color:#dedede;

}
.jqx-fill-state-focus-flat { border-color: #cdcdcd; }
.jqx-fill-state-pressed-flat{border-color:#1faeff; color: #fff; background-color:#1faeff;

}
.jqx-input-flat {
    border-color: #e5e5e5;
}
.jqx-scrollbar-state-normal-flat, .jqx-grid-bottomright-flat, .jqx-panel-bottomright-flat, .jqx-listbox-bottomright-flat{background-color:#f0f0f0;}
.jqx-widget-flat .jqx-grid-column-header-flat, .jqx-grid-cell-flat, .jqx-widget-flat .jqx-grid-cell-flat, .jqx-widget-flat .jqx-grid-group-cell-flat, .jqx-grid-group-cell-flat{font-size: 12px; font-family: 'segoe ui', arial, sans-serif; border-color:#f0f0f0;}
.jqx-tabs-title-selected-bottom-flat, .jqx-tabs-selection-tracker-bottom-flat, .jqx-tabs-title-selected-top-flat, .jqx-tabs-selection-tracker-top-flat{color: #767676; border-color:#e5e5e5; border-bottom:1px solid #fff; background:#fff}
.jqx-grid-cell-sort-alt-flat, .jqx-grid-cell-filter-alt-flat, .jqx-grid-cell-pinned-flat, .jqx-grid-cell-alt-flat, .jqx-grid-cell-sort-flat{ background-color:#ededed; color: #000;}
.jqx-menu-vertical-flat{background: #fff; border-color: #e5e5e5;}
.jqx-widget-flat .jqx-grid-cell-flat, .jqx-widget-flat .jqx-grid-column-header-flat, .jqx-widget-flat .jqx-grid-group-cell-flat {color: #000; border-color: #e5e5e5;}
.jqx-widget-flat .jqx-grid-column-menubutton-flat, .jqx-widget-flat .jqx-grid-column-sortascbutton-flat, .jqx-widget-flat .jqx-grid-column-sortdescbutton-flat, .jqx-widget-flat .jqx-grid-column-filterbutton-flat {
    background-color: transparent;
    border-color: #e5e5e5;
}
.jqx-window-header-flat, .jqx-input-button-header-flat, .jqx-calendar-title-header-flat, .jqx-grid-flat .jqx-widget-header-flat, .jqx-grid-header-flat, .jqx-grid-column-header-flat {font-size: 12px; font-family: 'segoe ui', arial, sans-serif; border-color: #e5e5e5; color: #767676; background: #f4f4f4;}
.jqx-grid-column-menubutton-flat {
    background-image: url('images/icon-down.png');
 }
.jqx-widget-flat .jqx-grid-cell-selected-flat, .jqx-grid-cell-selected-flat{ background-color:#1faeff; border-color: #1faeff; font-size: 12px;  color:#fff;}
.jqx-grid-cell-hover-flat{ background-color:#dedede;}
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-flat {
    background-image: url('images/icon-up.png');
 }
.jqx-grid-column-sortdescbutton-flat {
    background-image: url('images/icon-down.png');
}
.jqx-checkbox-hover-flat {
    background-color: #fff;
}
.jqx-radiobutton-hover-flat {
    background-color: #fff;
}
.jqx-scrollbar-thumb-state-normal-horizontal-flat, .jqx-scrollbar-thumb-state-normal-flat {
    background: #cdcdcd; border-color: #cdcdcd;
}
.jqx-scrollbar-thumb-state-hover-horizontal-flat, .jqx-scrollbar-thumb-state-hover-flat {
    background: #a6a6a6; border-color: #a6a6a6;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-flat, .jqx-scrollbar-thumb-state-pressed-flat {
    background: #606060; border-color: #606060;
}
.jqx-scrollbar-button-state-normal-flat
{
    border: 1px solid #f0f0f0; 
    background: #f0f0f0;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-flat
{
    border: 1px solid #dadada;
    background: #dadada;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-flat
{
    border: 1px solid #606060;
    background: #606060;
}

/*icons*/
.jqx-window-collapse-button-flat
{
    background-image: url(images/icon-up.png);
}
.jqx-window-collapse-button-collapsed-flat {
  background-image: url(images/icon-down.png);
}
.jqx-icon-arrow-up-flat, .jqx-expander-arrow-bottom-flat, .jqx-menu-item-arrow-up-flat
{
    background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-down-flat, .jqx-expander-arrow-top-flat, .jqx-tree-item-arrow-expand-flat, .jqx-tree-item-arrow-expand-hover-flat, .jqx-menu-item-arrow-down-flat
{
    background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-left-flat, .jqx-menu-item-arrow-left-flat
{
    background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-right-flat, .jqx-menu-item-arrow-right-flat, .jqx-tree-item-arrow-collapse-flat, .jqx-tree-item-arrow-collapse-hover-flat
{
    background-image: url('images/icon-right.png');
}
.jqx-tabs-arrow-left-flat, .jqx-tree-item-arrow-collapse-rtl-flat, .jqx-tree-item-arrow-collapse-hover-rtl-flat
{
    background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-flat
{
    background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-up-selected-flat, .jqx-icon-arrow-up-selected-flat{background-image:url('images/icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-flat, .jqx-icon-arrow-down-selected-flat{background-image:url('images/icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-flat, .jqx-icon-arrow-left-selected-flat{background-image:url('images/icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-flat, .jqx-icon-arrow-right-selected-flat{background-image:url('images/icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-tabs-close-button-flat{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-selected-flat{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-hover-flat{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-scrollbar-flat .jqx-icon-arrow-up-selected-flat{background-image:url('images/icon-up-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-flat .jqx-icon-arrow-down-selected-flat{background-image:url('images/icon-down-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-flat .jqx-icon-arrow-left-selected-flat{background-image:url('images/icon-left-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-flat .jqx-icon-arrow-right-selected-flat{background-image:url('images/icon-right-white.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-slider-flat
{
    border-color:#cdcdcd;
}
.jqx-slider-button-flat
{
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border-color: #cdcdcd;
}
.jqx-input-button-content-flat
{  
    font-size: 10px;
}
.jqx-dropdownlist-state-normal-flat, .jqx-dropdownlist-state-hover-flat, .jqx-dropdownlist-state-selected-flat,
.jqx-scrollbar-button-state-hover-flat, .jqx-scrollbar-button-state-normal-flat, .jqx-scrollbar-button-state-pressed-flat,
.jqx-scrollbar-thumb-state-normal-horizontal-flat, .jqx-scrollbar-thumb-state-hover-horizontal-flat, .jqx-scrollbar-thumb-state-pressed-horizontal-flat,
.jqx-scrollbar-thumb-state-normal-flat, .jqx-scrollbar-thumb-state-pressed-flat, .jqx-button-flat, .jqx-tree-item-hover-flat, .jqx-tree-item-selected-flat,
.jqx-tree-item-flat, .jqx-menu-item-flat, .jqx-menu-item-hover-flat, .jqx-menu-item-selected-flat, .jqx-menu-item-top-flat, .jqx-menu-item-top-hover-flat, 
.jqx-menu-item-top-selected-flat, .jqx-slider-button-flat, .jqx-slider-slider-flat
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-flat {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #a6a6a6;
}
.jqx-switchbutton-thumb-flat {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-flat {
    background: #1faeff;
    color: #1faeff;
}
.jqx-switchbutton-label-off-flat {
    background: #a6a6a6;
    color: #a6a6a6;
}

.jqx-switchbutton-wrapper-flat {
}
.jqx-grid-cell-flat.jqx-grid-cell-selected-flat>.jqx-grid-group-expand-flat {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-flat.jqx-grid-cell-selected-flat>.jqx-grid-group-collapse-flat{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-flat.jqx-grid-cell-selected-flat>.jqx-grid-group-collapse-rtl-flat {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-flat.jqx-grid-cell-selected-flat>.jqx-grid-group-expand-rtl-flat{
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-group-collapse-flat {
    background-image: url(images/icon-right.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-flat
{
    padding-right: 0px;
    background-image: url(images/icon-left.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-expand-flat, .jqx-grid-group-expand-rtl-flat
{
    padding-right: 0px;
    background-image: url(images/icon-down.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-icon-arrow-first-flat
{
    background-image: url('images/icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-flat
{
    background-image: url('images/icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-first-hover-flat
{
    background-image: url('images/icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-hover-flat
{
    background-image: url('images/icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-first-selected-flat
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-selected-flat
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-collapse-button-flat {
    margin-top: 1px;
}
.jqx-icon-calendar-pressed-flat {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-layout-flat
{
    background-color: #e5e5e5;
}.jqx-widget-flat
{
  font-family: Segoe UI;
}
.jqx-widget-content-flat
{
  color: #767676;
  text-shadow: none;
  border-color: transparent;
  background: #ffffff;
  font-family: Segoe UI;
}
.jqx-widget-header-flat, .jqx-grid-flat .jqx-widget-header-flat
{
  color: #000000;
  text-shadow: none;
  border-color: #e5e5e5;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-column-menubutton-flat, .jqx-widget-flat.jqx-grid-column-menubutton-flat
{
  border-color: #e5e5e5;
}
.jqx-grid-cell-flat, .jqx-widget-flat .jqx-grid-cell-flat
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-flat
{
  color: #767676;
  text-shadow: none;
  border-color: #e5e5e5;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-button-flat
{
  color: #767676;
  text-shadow: none;
  border-color: #e5e5e5;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-selectionarea-flat
{
  border-color: #e5e5e5;
  background-color: #ffffff;
}
.jqx-widget-flat .jqx-grid-cell-sort-flat, .jqx-widget-flat .jqx-grid-cell-filter-flat, .jqx-widget-flat .jqx-grid-cell-pinned-flat, .jqx-grid-cell-sort-flat, .jqx-grid-cell-filter-flat, .jqx-grid-cell-pinned-flat
{
  background-color: #ededed;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-flat .jqx-grid-cell-alt-flat, .jqx-widget-flat .jqx-grid-cell-sort-alt-flat, .jqx-widget-flat .jqx-grid-cell-pinned-alt-flat, .jqx-widget-flat .jqx-grid-cell-filter-alt-flat, .jqx-grid-cell-alt-flat, .jqx-grid-cell-sort-alt-flat, .jqx-grid-cell-filter-alt-flat
{
  background-color: #ededed;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-flat, .jqx-widget-flat .jqx-grid-cell-hover-flat
{
  color: #000000;
  text-shadow: none;
  border-color: #dedede;
  background-color: #DEDEDE;
  background-image: -moz-linear-gradient(top, #DEDEDE, #dedede);
  background-image: -ms-linear-gradient(top, #DEDEDE, #dedede);
  background-image: -o-linear-gradient(top, #DEDEDE, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DEDEDE), to(#dedede));
  background-image: -webkit-linear-gradient(top, #DEDEDE, #dedede);
  background-image: linear-gradient(top, #DEDEDE, #dedede);
  background-image: linear-gradient(to bottom, #DEDEDE, #dedede);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-fill-state-pressed-flat, .jqx-widget-flat .jqx-grid-cell-selected-flat
{
  color: #000000;
  text-shadow: none;
  border-color: #DDDDDD;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -ms-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -o-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DDDDDD), to(#DDDDDD));
  background-image: -webkit-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(to bottom, #DDDDDD, #DDDDDD);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-switchbutton-label-on-flat
{
  color: #000000;
  text-shadow: none;
  border-color: #DDDDDD;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -ms-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -o-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DDDDDD), to(#DDDDDD));
  background-image: -webkit-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(to bottom, #DDDDDD, #DDDDDD);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-flat, .jqx-tabs-selection-tracker-top-flat
{
  color: #767676;
  text-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-flat, .jqx-tabs-selection-tracker-bottom-flat
{
  color: #767676;
  text-shadow: none;
  border-color: transparent;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-flat
{
  background: #DEDEDE;
}
.jqx-splitter-splitbar-vertical-flat, .jqx-splitter-splitbar-horizontal-flat, .jqx-slider-track-horizontal-flat, .jqx-slider-track-vertical-flat
{
  background: #ffffff;
}
.jqx-splitter-collapse-button-horizontal-flat, .jqx-splitter-collapse-button-vertical-flat, .jqx-slider-rangebar-flat
{
  background: #DDDDDD;
}
.jqx-scrollbar-state-normal-flat
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.jqx-grid-bottomright-flat, .jqx-panel-bottomright-flat, .jqx-listbox-bottomright-flat
{
  background-color: #f0f0f0;
}
.jqx-scrollbar-thumb-state-normal-flat
{
  background-color: #cdcdcd;
  background-color: #cdcdcd;
  background-image: -moz-linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: -ms-linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: -o-linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: -webkit-gradient(linear, left top, right top, from(#cdcdcd), to(#cdcdcd));
  background-image: -webkit-linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: linear-gradient(left, #cdcdcd, #cdcdcd);
  background-image: linear-gradient(left right, #cdcdcd, #cdcdcd);
}
.jqx-scrollbar-thumb-state-normal-horizontal-flat
{
  background-color: #cdcdcd;
  background-color: #cdcdcd;
  background-image: -moz-linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: -ms-linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: -o-linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#cdcdcd), to(#cdcdcd));
  background-image: -webkit-linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: linear-gradient(top, #cdcdcd, #cdcdcd);
  background-image: linear-gradient(to bottom, #cdcdcd, #cdcdcd);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-flat
{
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  background-image: -moz-linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: -ms-linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: -o-linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: -webkit-gradient(linear, left top, right top, from(#a6a6a6), to(#a6a6a6));
  background-image: -webkit-linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(left, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(left right, #a6a6a6, #a6a6a6);
}
.jqx-scrollbar-thumb-state-hover-horizontal-flat
{
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  background-image: -moz-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -ms-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -o-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#a6a6a6), to(#a6a6a6));
  background-image: -webkit-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(to bottom, #a6a6a6, #a6a6a6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-flat
{
  background-color: #606060;
  border-color: #606060;
  background-image: -moz-linear-gradient(left, #606060, #606060);
  background-image: -ms-linear-gradient(left, #606060, #606060);
  background-image: -o-linear-gradient(left, #606060, #606060);
  background-image: -webkit-gradient(linear, left top, right top, from(#606060), to(#606060));
  background-image: -webkit-linear-gradient(left, #606060, #606060);
  background-image: linear-gradient(left, #606060, #606060);
  background-image: linear-gradient(left right, #606060, #606060);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-flat
{
  background-color: #606060;
  border-color: #606060;
  background-image: -moz-linear-gradient(top, #606060, #606060);
  background-image: -ms-linear-gradient(top, #606060, #606060);
  background-image: -o-linear-gradient(top, #606060, #606060);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#606060), to(#606060));
  background-image: -webkit-linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(to bottom, #606060, #606060);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-flat
{
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-flat
{
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  background-image: -moz-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -ms-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -o-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#a6a6a6), to(#a6a6a6));
  background-image: -webkit-linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(top, #a6a6a6, #a6a6a6);
  background-image: linear-gradient(to bottom, #a6a6a6, #a6a6a6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-flat
{
  background-color: #606060;
  border-color: #606060;
  background-image: -moz-linear-gradient(top, #606060, #606060);
  background-image: -ms-linear-gradient(top, #606060, #606060);
  background-image: -o-linear-gradient(top, #606060, #606060);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#606060), to(#606060));
  background-image: -webkit-linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(top, #606060, #606060);
  background-image: linear-gradient(to bottom, #606060, #606060);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-flat
{
  background: #1faeff;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-flat
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-flat
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-flat
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-flat
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-flat
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-flat
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-flat
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-flat
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-flat, .jqx-radiobutton-flat, .jqx-radiobutton-check-checked-flat, .jqx-radiobutton-hover-flat, .jqx-radiobutton-check-indeterminate-flat, .jqx-radiobutton-check-indeterminate-disabled-flat, .jqx-slider-button-flat
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-flat, .jqx-tooltip-flat, .jqx-tooltip-text-flat, .jqx-tooltip-main-flat
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-flat, .jqx-expander-arrow-bottom-flat, .jqx-window-collapse-button-flat, .jqx-menu-item-arrow-up-flat, .jqx-menu-item-arrow-top-up-flat, .jqx-icon-arrow-up-flat
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-icon-arrow-up-hover-flat
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-menu-item-arrow-up-selected-flat, .jqx-icon-arrow-up-selected-flat.jqx-expander-arrow-expanded-flat
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-grid-column-menubutton-flat, .jqx-grid-column-sortdescbutton-flat, .jqx-expander-arrow-top-flat, .jqx-window-collapse-button-collapsed-flat, .jqx-menu-item-arrow-down-flat, .jqx-menu-item-arrow-down-flat, .jqx-tree-item-arrow-expand-flat, .jqx-grid-group-expand-flat, .jqx-widget-flat .jqx-grid-group-expand-flat, .jqx-icon-arrow-down-flat
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-icon-arrow-down-hover-flat
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-menu-item-arrow-down-selected-flat, .jqx-icon-arrow-down-selected-flat
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-tabs-arrow-left-flat, .jqx-menu-item-arrow-top-left-flat, .jqx-grid-group-collapse-rtl-flat, .jqx-widget-flat .jqx-grid-group-collapse-rtl-flat, .jqx-icon-arrow-left-flat, .jqx-icon-arrow-down-left-flat
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-icon-arrow-left-hover-flat
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-menu-vertical-flat
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-flat, .jqx-icon-arrow-left-selected-flat
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-flat, .jqx-menu-item-arrow-top-right-flat, .jqx-menu-item-arrow-collapse-flat, .jqx-grid-group-collapse-flat, .jqx-widget-flat .jqx-grid-group-collapse-flat, .jqx-icon-arrow-right-flat
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-icon-arrow-right-hover-flat
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-menu-item-arrow-right-selected-flat, .jqx-icon-arrow-right-selected-flat
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-window-close-button-flat, .jqx-tabs-close-button-flat, .icon-close-flat
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-flat
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-flat
{
  background-image: url('images/close.png');
}
.jqx-widget-flat .jqx-grid-column-header-flat, .jqx-widget-flat .jqx-grid-cell-flat, .jqx-widget-flat .jqx-grid-group-cell-flat, .jqx-grid-cell-flat
{
  border-color: transparent;
}
.jqx-checkbox-check-checked-flat
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-flat
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-flat, .jqx-tooltip-main-flat
{
  color: #767676;
  text-shadow: none;
  border-color: #e5e5e5;
  background-color: #ffffff;
}
.jqx-combobox-content-flat, .jqx-input-flat
{
  color: #767676;
  text-shadow: none;
  border-color: #e5e5e5;
  background-color: #ffffff;
}
.jqx-combobox-input-flat
{
  color: #767676;
  text-shadow: none;
}
.jqx-input-content-flat
{
  color: #767676;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-flat, .jqx-popup-flat .jqx-fill-state-focus-flat
{
  border-color: #cdcdcd;
}
.jqx-popup-flat.jqx-listbox-flat, .jqx-popup-flat.jqx-calendar-flat,.jqx-menu-dropdown-flat,  .jqx-popup-flat.jqx-dropdownbutton-popup-flat
{
  color: #767676;
  text-shadow: none;
  border-color: #e5e5e5;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-flat, .jqx-tree-item-arrow-collapse-flat
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-menu-item-arrow-left-flat
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-tree-item-arrow-expand-flat
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-up-flat
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-left-flat
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-right-flat
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-bottom-flat
{
  background-image: url('images/metro-icon-bottom.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-up-hover-flat
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-left-hover-flat
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-right-hover-flat
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-bottom-hover-flat
{
  background-image: url('images/metro-icon-bottom.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-up-selected-flat
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-left-selected-flat
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-right-selected-flat
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-flat .jqx-icon-arrow-bottom-selected-flat
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-calendar-flat .jqx-icon-arrow-up-flat, .jqx-tabs-header-flat .jqx-icon-arrow-up-flat
{
}
.jqx-calendar-flat .jqx-icon-arrow-left-flat, .jqx-tabs-header-flat .jqx-icon-arrow-left-flat
{
}
.jqx-calendar-flat .jqx-icon-arrow-right-flat, .jqx-tabs-header-flat .jqx-icon-arrow-right-flat
{
}
.jqx-calendar-flat .jqx-icon-arrow-bottom-flat, .jqx-tabs-header-flat .jqx-icon-arrow-bottom-flat
{
}
.jqx-widget-flat .jqx-grid-cell-flat, .jqx-listitem-state-normal-flat, .jqx-menu-item-normal-flat, .jqx-tree-item-normal-flat, .jqx-calendar-cell-flat, .jqx-grid-cell-flat,.jqx-menu-vertical-flat .jqx-menu-item-top-normal-flat, .jqx-input-popup-flat .jqx-fill-state-normal-flat
{
  font-family: Segoe UI;
}
.jqx-widget-flat .jqx-grid-cell-hover-flat, .jqx-listitem-state-hover-flat, .jqx-menu-item-hover-flat, .jqx-tree-item-hover-flat, .jqx-calendar-cell-hover-flat, .jqx-grid-cell-hover-flat,.jqx-menu-vertical-flat .jqx-menu-item-top-hover-flat, .jqx-input-popup-flat .jqx-fill-state-hover-flat,.jqx-input-button-header-flat, .jqx-input-popup-flat .jqx-fill-state-pressed-flat,.jqx-input-button-header-flat
{
  font-family: Segoe UI;
}
.jqx-widget-flat  .jqx-grid-cell-selected-flat, .jqx-listitem-state-selected-flat, .jqx-menu-item-selected-flat, .jqx-tree-item-selected-flat, .jqx-calendar-cell-selected-flat, .jqx-grid-cell-selected-flat,.jqx-menu-vertical-flat .jqx-menu-item-top-selected-flat, .jqx-grid-selectionarea-flat
{
  font-family: Segoe UI;
}
.jqx-icon-calendar-flat
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-flat
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-flat
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-flat
{
  background-image: url('images/metro-icon-first.png');
}
.jqx-icon-first-hover-flat
{
  background-image: url('images/metro-icon-first.png');
}
.jqx-icon-first-selected-flat
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-last-flat
{
  background-image: url('images/metro-icon-last.png');
}
.jqx-icon-last-hover-flat
{
  background-image: url('images/metro-icon-last.png');
}
.jqx-icon-last-selected-flat
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-flat>.jqx-grid-group-expand-flat
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-hover-flat>.jqx-grid-group-expand-flat
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-selected-flat>.jqx-grid-group-expand-flat
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-flat>.jqx-grid-group-collapse-flat
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-hover-flat>.jqx-grid-group-collapse-flat
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-selected-flat>.jqx-grid-group-collapse-flat
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-flat>.jqx-grid-group-expand-rtl-flat
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-hover-flat>.jqx-grid-group-expand-rtl-flat
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-selected-flat>.jqx-grid-group-expand-rtl-flat
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-flat>.jqx-grid-group-collapse-rtl-flat
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-hover-flat>.jqx-grid-group-collapse-rtl-flat
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-grid-cell-flat.jqx-grid-cell-selected-flat>.jqx-grid-group-collapse-rtl-flat
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-column-menubutton-flat, .jqx-grid-column-sortdescbutton-flat
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-column-sortascbutton-flat
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-delete-flat
{
  background-image: url('images/icon-delete.png');
}
.jqx-icon-edit-flat
{
  background-image: url('images/icon-edit.png');
}
.jqx-icon-save-flat
{
  background-image: url('images/icon-save.png');
}
.jqx-icon-cancel-flat
{
  background-image: url('images/icon-cancel.png');
}
.jqx-icon-search-flat
{
  background-image: url('images/icon-search.png');
}
.jqx-icon-plus-flat
{
  background-image: url('images/icon-plus.png');
}
