.jqx-rc-tl-plain {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.jqx-rc-tr-plain {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-bl-plain {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-rc-br-plain {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-plain {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-plain {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-plain {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-plain {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-plain {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-widget-plain {
  font-size: 12px;
}
.jqx-widget-content-plain {
  color: #767676;
  background-color: transparent;
  border: none !important;
}
.jqx-widget-header-plain {
  color: #767676;
  background-color: transparent !important;
}
.jqx-fill-state-normal-plain {
  border-color: #e5e5e5;
  color: #767676;
}
.jqx-button-plain {
  border-color: #cdcdcd;
}
.jqx-fill-state-hover-plain {
  border: none;
  color: #000;
}
.jqx-fill-state-focus-plain {
  border-color: #cdcdcd;
}
.jqx-fill-state-pressed-plain {
  border-color: #1faeff;
  color: #fff;
  background-color: #1faeff !important;
}
.jqx-input-plain {
  border-color: #e5e5e5;
  background-color: #fff;
}
.jqx-menu-popup-plain {
  border: 1px solid #666666 !important;
  border-radius: 2px 2px 2px 2px !important;
  background-color: #fff !important;
}
.jqx-widget-plain .jqx-grid-column-header-plain,
.jqx-grid-cell-plain,
.jqx-widget-plain .jqx-grid-cell-plain,
.jqx-widget-plain .jqx-grid-group-cell-plain,
.jqx-grid-group-cell-plain {
  border-color: #f0f0f0;
}
.jqx-tabs-title-selected-bottom-plain,
.jqx-tabs-selection-tracker-bottom-plain,
.jqx-tabs-title-selected-top-plain,
.jqx-tabs-selection-tracker-top-plain {
  color: #767676;
  border-color: #e5e5e5;
  border-bottom: 1px solid #fff;
  background: #ffffff;
}
.jqx-grid-cell-sort-alt-plain,
.jqx-grid-cell-filter-alt-plain,
.jqx-grid-cell-pinned-plain,
.jqx-grid-cell-alt-plain,
.jqx-grid-cell-sort-plain {
  background-color: transparent;
  color: #000;
}
.jqx-menu-vertical-plain {
  background: transparent;
  border-color: #e5e5e5;
}
.jqx-widget-plain .jqx-grid-cell-plain,
.jqx-widget-plain .jqx-grid-column-header-plain,
.jqx-widget-plain .jqx-grid-group-cell-plain {
  color: #000;
}
.jqx-widget-plain .jqx-grid-column-menubutton-plain,
.jqx-widget-plain .jqx-grid-column-sortascbutton-plain,
.jqx-widget-plain .jqx-grid-column-sortdescbutton-plain,
.jqx-widget-plain .jqx-grid-column-filterbutton-plain {
  background-color: transparent;
  border-color: #e5e5e5;
}
.jqx-window-header-plain,
.jqx-input-button-header-plain,
.jqx-calendar-title-header-plain,
.jqx-grid-plain .jqx-widget-header-plain,
.jqx-grid-header-plain,
.jqx-grid-column-header-plain {
  color: #767676;
}
.jqx-grid-column-menubutton {
  background-image: url('/Content/styles/images/metro-icon-down.png');
}
.jqx-widget-plain .jqx-grid-cell-selected-plain,
.jqx-grid-cell-selected-plain {
  background-color: transparent;
  border-color: #1faeff;
  font-size: 13px;
  color: #ffffff;
}
.jqx-grid-cell-hover-plain {
  background-color: transparent;
}
/*applied to the column's sort button when the sort order is ascending.*/
.jqx-grid-column-sortascbutton {
  background-image: url('/Content/styles/images/metro-icon-up.png');
}
.jqx-grid-column-sortdescbutton {
  background-image: url('/Content/styles/images/metro-icon-down.png');
}
.jqx-checkbox-hover-plain {
  background-color: transparent;
}
.jqx-radiobutton-hover-plain {
  background-color: transparent;
}
.jqx-scrollbar-thumb-state-normal-horizontal-plain,
.jqx-scrollbar-thumb-state-normal-plain {
  background: transparent;
  border-color: #cdcdcd;
}
.jqx-scrollbar-thumb-state-hover-horizontal-plain,
.jqx-scrollbar-thumb-state-hover-plain {
  background: transparent;
  border-color: #a6a6a6;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-plain,
.jqx-scrollbar-thumb-state-pressed-plain {
  background: transparent;
  border-color: #606060;
}
.jqx-scrollbar-button-state-normal-plain {
  border: 1px solid #f0f0f0;
  background: transparent;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-plain {
  border: 1px solid #dadada;
  background: transparent;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-plain {
  border: 1px solid #606060;
  background: transparent;
}
/*icons*/
.jqx-window-collapse-button-plain {
  background-image: url(/Content/styles/images/metro-icon-up.png);
}
.jqx-window-collapse-button-collapsed-plain {
  background-image: url(/Content/styles/images/metro-icon-down.png);
}
.icon-arrow-up-plain,
.jqx-expander-arrow-bottom-plain,
.jqx-menu-item-arrow-up-plain {
  background-image: url('/Content/styles/images/metro-icon-up.png');
  background-position: center center;
}
.icon-arrow-down-plain,
.jqx-expander-arrow-top-plain,
.jqx-tree-item-arrow-expand-plain,
.jqx-tree-item-arrow-expand-hover-plain,
.jqx-menu-item-arrow-down-plain {
  background-image: url('/Content/styles/images/metro-icon-down.png');
  background-position: center center;
}
.icon-arrow-left-plain,
.jqx-menu-item-arrow-left-plain {
  background-image: url('/Content/styles/images/metro-icon-left.png');
}
.icon-arrow-right-plain,
.jqx-menu-item-arrow-right-plain,
.jqx-tree-item-arrow-collapse-plain,
.jqx-tree-item-arrow-collapse-hover-plain {
  background-image: url('/Content/styles/images/metro-icon-right.png');
}
.jqx-tabs-arrow-left-plain {
  background-image: url('/Content/styles/images/metro-icon-left.png');
}
.jqx-tabs-arrow-right-plain {
  background-image: url('/Content/styles/images/metro-icon-right.png');
}
.jqx-menu-item-arrow-up-selected-plain,
.icon-arrow-up-selected-plain {
  background-image: url('/Content/styles/images/metro-icon-up-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-menu-item-arrow-down-selected-plain,
.icon-arrow-down-selected-plain {
  background-image: url('/Content/styles/images/metro-icon-down-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-menu-item-arrow-left-selected-plain,
.icon-arrow-left-selected-plain {
  background-image: url('/Content/styles/images/metro-icon-left-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-menu-item-arrow-right-selected-plain,
.icon-arrow-right-selected-plain {
  background-image: url('/Content/styles/images/metro-icon-right-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-tabs-close-button-plain {
  background-image: url(/Content/styles/images/close.png);
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-tabs-close-button-selected-plain {
  background-image: url(/Content/styles/images/close.png);
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-tabs-close-button-hover-plain {
  background-image: url(/Content/styles/images/close.png);
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-scrollbar-plain .icon-arrow-up-selected-plain {
  background-image: url('/Content/styles/images/metro-icon-up-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-scrollbar-plain .icon-arrow-down-selected-plain {
  background-image: url('/Content/styles/images/metro-icon-down-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-scrollbar-plain .icon-arrow-left-selected-plain {
  background-image: url('/Content/styles/images/metro-icon-left-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-scrollbar-plain .icon-arrow-right-selected-plain {
  background-image: url('/Content/styles/images/metro-icon-right-white.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jqx-slider-slider-plain {
  border-color: #cdcdcd;
}
.jqx-slider-button-plain {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border-color: #cdcdcd;
}
.jqx-input-button-content-plain {
  font-size: 10px;
}
.jqx-dropdownlist-state-normal-plain,
.jqx-dropdownlist-state-hover-plain,
.jqx-dropdownlist-state-selected-plain,
.jqx-scrollbar-button-state-hover-plain,
.jqx-scrollbar-button-state-normal-plain,
.jqx-scrollbar-button-state-pressed-plain,
.jqx-scrollbar-thumb-state-normal-horizontal-plain,
.jqx-scrollbar-thumb-state-hover-horizontal-plain,
.jqx-scrollbar-thumb-state-pressed-horizontal-plain,
.jqx-scrollbar-thumb-state-normal-plain,
.jqx-scrollbar-thumb-state-pressed-plain,
.jqx-button-plain,
.jqx-tree-item-hover-plain,
.jqx-tree-item-selected-plain,
.jqx-tree-item-plain,
.jqx-menu-item-plain,
.jqx-menu-item-hover-plain,
.jqx-menu-item-selected-plain,
.jqx-menu-item-top-plain,
.jqx-menu-item-top-hover-plain,
.jqx-menu-item-top-selected-plain,
.jqx-slider-button-plain,
.jqx-slider-slider-plain {
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.jqx-menu-item-top-plain {
  background-color: transparent;
}
.jqx-menu-item-plain {
  background-color: #fff;
}
.jqx-switchbutton-plain {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 2px solid #a6a6a6;
}
.jqx-switchbutton-thumb-plain {
  width: 12px;
  background: transparent;
  border: 1px solid #000;
}
.jqx-switchbutton-label-on-plain {
  background: transparent;
  color: #1faeff;
}
.jqx-switchbutton-label-off-plain {
  background: transparent;
  color: #a6a6a6;
}
/*# sourceMappingURL=jqx.plain.css.map */