/*Rounded Corners*/
/*top-left rounded Corners*/
.jqx-rc-tl-transparent {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}
/*top-right rounded Corners*/
.jqx-rc-tr-transparent {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
/*bottom-left rounded Corners*/
.jqx-rc-bl-transparent {
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
/*bottom-right rounded Corners*/
.jqx-rc-br-transparent {
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*top rounded Corners*/
.jqx-rc-t-transparent {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
/*bottom rounded Corners*/
.jqx-rc-b-transparent {
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*right rounded Corners*/
.jqx-rc-r-transparent {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*left rounded Corners*/
.jqx-rc-l-transparent {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
/*all rounded Corners*/
.jqx-rc-all-transparent {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.jqx-widget-transparent, .jqx-widget-content, .jqx-widget-header, .jqx-input-transparent {
    -webkit-transition: box-shadow linear 0.2s;
     -moz-transition: box-shadow linear 0.2s;
       -o-transition: box-shadow linear 0.2s;
          transition: box-shadow linear 0.2s;
}
.jqx-listitem-state-normal-transparent, .jqx-listitem-state-hover-transparent,.jqx-listitem-state-selected-transparent,
.jqx-tabs-title-selected-top-transparent, .jqx-tabs-title-selected-bottom-transparent{
    -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;   
}
.jqx-fill-state-normal-transparent {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
}

.jqx-widget-header-transparent, .jqx-fill-state-normal-transparent {
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
    color: #444;
    background-color: #f0f0f0;
    background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -moz-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -o-linear-gradient(#ededed, #ededed 38%, #dedede);
    -webkit-transition: color 200ms;
}
.jqx-widget-content-transparent {
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
}
.jqx-fill-state-hover-transparent {
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.3);
    color: black;
    background-color: #f0f0f0;
    background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -moz-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -o-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -webkit-transition: color 200ms;
}

.jqx-fill-state-pressed-transparent {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
    background-color: #CFCFCF;
    background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -moz-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -o-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    -webkit-transition: color 200ms;
}

.jqx-grid-column-menubutton-transparent {
    background-color: transparent;
}

.jqx-calendar-row-header-transparent, .jqx-calendar-top-left-header-transparent {
    background-color: #f0f0f0;
    border: 0px solid #f2f2f2;
}

.jqx-calendar-column-header-transparent {
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
}

.jqx-scrollbar-state-normal-transparent {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}
.jqx-grid-cell-hover-transparent {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.jqx-scrollbar-thumb-state-normal-transparent {
    background-color: #f0f0f0;
    background-image: linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -webkit-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -moz-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -o-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -ms-linear-gradient(left, #ededed, #ededed 38%, #dedede);
}

.jqx-scrollbar-thumb-state-hover-transparent {
    background-color: #f0f0f0;
    background-image: linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -webkit-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -moz-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -o-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -ms-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
}
.jqx-splitter-collapse-button-vertical-transparent, .jqx-splitter-collapse-button-horizontal-transparent {
    background: #b2b2b2;
}
.jqx-scrollbar-thumb-state-pressed-transparent, .jqx-progressbar-value-vertical-transparent{
    background-color: #f0f0f0;
    background-image: linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -webkit-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -moz-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -o-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -ms-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
}

.jqx-grid-column-sortdescbutton-transparent, jqx-grid-column-filterbutton-transparent, .jqx-grid-column-sortascbutton-transparent {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #b2b2b2;
}
.jqx-slider-rangebar-transparent {
    background: #C3C3C3;
}
.jqx-menu-vertical-transparent {
    background: #f5f5f5;
    filter: none;
}

.jqx-checkbox-check-checked-transparent {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}

.jqx-combobox-content-transparent, .jqx-input-transparent {
    border-color: #b2b2b2;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.jqx-combobox-content-transparent {
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
 }
.jqx-fill-state-focus-transparent, .jqx-combobox-content-focus-transparent, .jqx-numberinput-focus-transparent {
    outline: none;
    border-color: #777777;
}
.jqx-dropdownbutton-popup-transparent.jqx-fill-state-focus-transparent {
   
}
.jqx-grid-bottomright-transparent, .jqx-panel-bottomright-transparent, .jqx-listbox-bottomright-transparent {
    background-color: #efefef;
}

.jqx-tabs-title-selected-top-transparent, .jqx-tabs-selection-tracker-top-transparent {
    border-color: #b2b2b2;
    border-bottom: 1px solid #fff;
    text-shadow: 0 1px 0 #f2f2f2;
    filter: none;
    color: #222;
    background: #fff;
}

.jqx-tabs-title-selected-bottom-transparent, .jqx-tabs-selection-tracker-bottom-transparent {
    border-color: #b2b2b2;
    border-top: 1px solid #fff;
    text-shadow: 0 1px 0 #f2f2f2;
    filter: none;
    color: #222;
    background: #fff;
}

.jqx-popup-transparent {
  -webkit-box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
}
.jqx-menu-popup-transparent>div:first-child{
    padding-bottom: 15px !important;
    padding-right: 15px !important;
}
.jqx-menu-popup-clear-transparent>div:first-child{
    padding-bottom: 0px !important;
}
.jqx-window-transparent, .jqx-tooltip-transparent {
  -webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  -moz-box-shadow:  0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}
.jqx-docking-transparent .jqx-window-transparent {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.jqx-docking-panel-transparent .jqx-window-transparent {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jqx-radiobutton-transparent {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background: none;
}
.jqx-radiobutton-transparent-transparent, .jqx-radiobutton-hover-transparent {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}
.jqx-radiobutton-check-checked-transparent {
    filter: none;
    background: #666;
    background-repeat: no-repeat;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-radiobutton-check-indeterminate-transparent {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-radiobutton-check-indeterminate-disabled-transparent {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-slider-track-horizontal-transparent, .jqx-slider-track-vertical-transparent {
    border-color: #b2b2b2;
    background: #f0f0f0;
}
.jqx-slider-button-transparent
{
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%; 
}
.jqx-layout-transparent
{
    background-color: #b2b2b2;
}.jqx-widget-transparent
{
  font-family: Verdana;
}
.jqx-widget-content-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: transparent;
  background: transparent;
  font-family: Verdana;
}
.jqx-widget-header-transparent, .jqx-grid-transparent .jqx-widget-header-transparent
{
  color: #000000;
  text-shadow: none;
 // border-color: transparent;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
  font-weight:bold;
}
.jqx-grid-column-menubutton-transparent, .jqx-widget-transparent.jqx-grid-column-menubutton-transparent
{
  border-color: transparent;
}
.jqx-grid-cell-transparent, .jqx-widget-transparent .jqx-grid-cell-transparent
{
  background-color: transparent;
  //color: #000000;
  text-shadow: none;
  padding:0;
}
.jqx-fill-state-normal-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: transparent;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: #b2b2b2;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #ededed, #dedede);
  background-image: -ms-linear-gradient(top, #ededed, #dedede);
  background-image: -o-linear-gradient(top, #ededed, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(to bottom, #ededed, #dedede);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-transparent
{
  border-color: transparent;
  background-color: transparent;
}
.jqx-widget-transparent .jqx-grid-cell-sort-transparent, .jqx-widget-transparent .jqx-grid-cell-filter-transparent, .jqx-widget-transparent .jqx-grid-cell-pinned-transparent, .jqx-grid-cell-sort-transparent, .jqx-grid-cell-filter-transparent, .jqx-grid-cell-pinned-transparent
{
  background-color: transparent;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-transparent .jqx-grid-cell-alt-transparent, .jqx-widget-transparent .jqx-grid-cell-sort-alt-transparent, .jqx-widget-transparent .jqx-grid-cell-pinned-alt-transparent, .jqx-widget-transparent .jqx-grid-cell-filter-alt-transparent, .jqx-grid-cell-alt-transparent, .jqx-grid-cell-sort-alt-transparent, .jqx-grid-cell-filter-alt-transparent
{
  background-color: transparent;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-transparent, .jqx-widget-transparent .jqx-grid-cell-hover-transparent
{
  //color: #000000;
  text-shadow: none;
  //border-color: transparent;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-transparent, .jqx-widget-transparent .jqx-grid-cell-selected-transparent
{
  //color: #000000;
  text-shadow: none;
  border-color: transparent;
  //background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: transparent;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-transparent, .jqx-tabs-selection-tracker-top-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid transparent;
  background-image: none ;
  background-color: transparent;
}
.jqx-tabs-title-selected-bottom-transparent, .jqx-tabs-selection-tracker-bottom-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: transparent;
  border-top: 1px solid transparent;
  background-image: none ;
  background-color: transparent;
}
.jqx-splitter-splitbar-hover-transparent
{
  background: transparent;
}
.jqx-splitter-splitbar-vertical-transparent, .jqx-splitter-splitbar-horizontal-transparent, .jqx-slider-track-horizontal-transparent, .jqx-slider-track-vertical-transparent
{
  background: transparent;
}
.jqx-splitter-collapse-button-horizontal-transparent, .jqx-splitter-collapse-button-vertical-transparent, .jqx-slider-rangebar-transparent
{
  background: transparent;
}
.jqx-scrollbar-state-normal-transparent
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.jqx-grid-bottomright-transparent, .jqx-panel-bottomright-transparent, .jqx-listbox-bottomright-transparent
{
  background-color: #f0f0f0;
}
.jqx-scrollbar-thumb-state-normal-transparent
{
  background-color: #ededed;
  background-color: #ededed;
  background-image: -moz-linear-gradient(left, #ededed, #dedede);
  background-image: -ms-linear-gradient(left, #ededed, #dedede);
  background-image: -o-linear-gradient(left, #ededed, #dedede);
  background-image: -webkit-gradient(linear, left top, right top, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(left, #ededed, #dedede);
  background-image: linear-gradient(left, #ededed, #dedede);
  background-image: linear-gradient(left right, #ededed, #dedede);
}
.jqx-scrollbar-thumb-state-normal-horizontal-transparent
{
  background-color: #ededed;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #ededed, #dedede);
  background-image: -ms-linear-gradient(top, #ededed, #dedede);
  background-image: -o-linear-gradient(top, #ededed, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(to bottom, #ededed, #dedede);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-transparent
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(left right, #f0f0f0, #e0e0e0);
}
.jqx-scrollbar-thumb-state-hover-horizontal-transparent
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-transparent
{
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  background-image: -moz-linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: -ms-linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: -o-linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: -webkit-gradient(linear, left top, right top, from(#e7e7e7), to(#d7d7d7));
  background-image: -webkit-linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(left right, #e7e7e7, #d7d7d7);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-transparent
{
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -ms-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -o-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e7e7e7), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-transparent
{
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-transparent
{
  background-color: #f0f0f0;
  border-color: #b2b2b2;
  background-image: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-transparent
{
  background-color: #e7e7e7;
  border-color: #b2b2b2;
  background-image: -moz-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -ms-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -o-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e7e7e7), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-transparent
{
  background: #666666;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-transparent
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-transparent
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-transparent
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-transparent
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-transparent
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-transparent
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-transparent
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-transparent
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-transparent, .jqx-radiobutton-transparent, .jqx-radiobutton-check-checked-transparent, .jqx-radiobutton-hover-transparent, .jqx-radiobutton-check-indeterminate-transparent, .jqx-radiobutton-check-indeterminate-disabled-transparent, .jqx-slider-button-transparent
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-transparent, .jqx-tooltip-transparent, .jqx-tooltip-text-transparent, .jqx-tooltip-main-transparent
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-transparent, .jqx-expander-arrow-bottom-transparent, .jqx-window-collapse-button-transparent, .jqx-menu-item-arrow-up-transparent, .jqx-menu-item-arrow-top-up-transparent, .jqx-icon-arrow-up-transparent
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-transparent
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-transparent, .jqx-icon-arrow-up-selected-transparent.jqx-expander-arrow-expanded-transparent
{
  background-image: url('images/icon-up.png');
}
.jqx-grid-column-menubutton-transparent, .jqx-grid-column-sortdescbutton-transparent, .jqx-expander-arrow-top-transparent, .jqx-window-collapse-button-collapsed-transparent, .jqx-menu-item-arrow-down-transparent, .jqx-menu-item-arrow-down-transparent, .jqx-tree-item-arrow-expand-transparent, .jqx-grid-group-expand-transparent, .jqx-widget-transparent .jqx-grid-group-expand-transparent, .jqx-icon-arrow-down-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-transparent, .jqx-icon-arrow-down-selected-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-tabs-arrow-left-transparent, .jqx-menu-item-arrow-top-left-transparent, .jqx-grid-group-collapse-rtl-transparent, .jqx-widget-transparent .jqx-grid-group-collapse-rtl-transparent, .jqx-icon-arrow-left-transparent, .jqx-icon-arrow-down-left-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-vertical-transparent
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-transparent, .jqx-icon-arrow-left-selected-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-transparent, .jqx-menu-item-arrow-top-right-transparent, .jqx-menu-item-arrow-collapse-transparent, .jqx-grid-group-collapse-transparent, .jqx-widget-transparent .jqx-grid-group-collapse-transparent, .jqx-icon-arrow-right-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected-transparent, .jqx-icon-arrow-right-selected-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-window-close-button-transparent, .jqx-tabs-close-button-transparent, .icon-close-transparent
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-transparent
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-transparent
{
  background-image: url('images/close.png');
}
.jqx-widget-transparent .jqx-grid-column-header-transparent, .jqx-widget-transparent .jqx-grid-cell-transparent, .jqx-widget-transparent .jqx-grid-group-cell-transparent, .jqx-grid-cell-transparent
{
  border-color: transparent;
}
.jqx-checkbox-check-checked-transparent
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-transparent
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-transparent, .jqx-tooltip-main-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: #b2b2b2;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #ededed, #dedede);
  background-image: -ms-linear-gradient(top, #ededed, #dedede);
  background-image: -o-linear-gradient(top, #ededed, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(to bottom, #ededed, #dedede);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-combobox-content-transparent, .jqx-input-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: #b2b2b2;
  background-color: #ffffff;
}
.jqx-combobox-input-transparent
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content-transparent
{
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-transparent, .jqx-popup-transparent .jqx-fill-state-focus-transparent
{
  border-color: transparent;
}
.jqx-popup-transparent.jqx-listbox-transparent, .jqx-popup-transparent.jqx-calendar-transparent,.jqx-menu-dropdown-transparent,  .jqx-popup-transparent.jqx-dropdownbutton-popup-transparent
{
  color: #000000;
  text-shadow: none;
  border-color: #777777;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-transparent, .jqx-tree-item-arrow-collapse-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-up-transparent
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-left-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-right-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-bottom-transparent
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-up-hover-transparent
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-left-hover-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-right-hover-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-bottom-hover-transparent
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-up-selected-transparent
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-left-selected-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-right-selected-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-transparent .jqx-icon-arrow-bottom-selected-transparent
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-transparent .jqx-icon-arrow-up-transparent, .jqx-tabs-header-transparent .jqx-icon-arrow-up-transparent
{
}
.jqx-calendar-transparent .jqx-icon-arrow-left-transparent, .jqx-tabs-header-transparent .jqx-icon-arrow-left-transparent
{
}
.jqx-calendar-transparent .jqx-icon-arrow-right-transparent, .jqx-tabs-header-transparent .jqx-icon-arrow-right-transparent
{
}
.jqx-calendar-transparent .jqx-icon-arrow-bottom-transparent, .jqx-tabs-header-transparent .jqx-icon-arrow-bottom-transparent
{
}
.jqx-widget-transparent .jqx-grid-cell-transparent, .jqx-listitem-state-normal-transparent, .jqx-menu-item-normal-transparent, .jqx-tree-item-normal-transparent, .jqx-calendar-cell-transparent, .jqx-grid-cell-transparent,.jqx-menu-vertical-transparent .jqx-menu-item-top-normal-transparent, .jqx-input-popup-transparent .jqx-fill-state-normal-transparent
{
  font-family: Verdana;
}
.jqx-widget-transparent .jqx-grid-cell-hover-transparent, .jqx-listitem-state-hover-transparent, .jqx-menu-item-hover-transparent, .jqx-tree-item-hover-transparent, .jqx-calendar-cell-hover-transparent, .jqx-grid-cell-hover-transparent,.jqx-menu-vertical-transparent .jqx-menu-item-top-hover-transparent, .jqx-input-popup-transparent .jqx-fill-state-hover-transparent,.jqx-input-button-header-transparent, .jqx-input-popup-transparent .jqx-fill-state-pressed-transparent,.jqx-input-button-header-transparent
{
  font-family: Verdana;
}
.jqx-widget-transparent  .jqx-grid-cell-selected-transparent, .jqx-listitem-state-selected-transparent, .jqx-menu-item-selected-transparent, .jqx-tree-item-selected-transparent, .jqx-calendar-cell-selected-transparent, .jqx-grid-cell-selected-transparent,.jqx-menu-vertical-transparent .jqx-menu-item-top-selected-transparent, .jqx-grid-selectionarea-transparent
{
  font-family: Verdana;
}
.jqx-icon-calendar-transparent
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-transparent
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-transparent
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-transparent
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-transparent
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected-transparent
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-last-transparent
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-transparent
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected-transparent
{
  background-image: url('images/icon-last.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-transparent>.jqx-grid-group-expand-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-hover-transparent>.jqx-grid-group-expand-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-selected-transparent>.jqx-grid-group-expand-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-transparent>.jqx-grid-group-collapse-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-hover-transparent>.jqx-grid-group-collapse-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-selected-transparent>.jqx-grid-group-collapse-transparent
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-transparent>.jqx-grid-group-expand-rtl-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-hover-transparent>.jqx-grid-group-expand-rtl-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-selected-transparent>.jqx-grid-group-expand-rtl-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-transparent>.jqx-grid-group-collapse-rtl-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-hover-transparent>.jqx-grid-group-collapse-rtl-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-transparent.jqx-grid-cell-selected-transparent>.jqx-grid-group-collapse-rtl-transparent
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-column-menubutton-transparent, .jqx-grid-column-sortdescbutton-transparent
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-column-sortascbutton-transparent
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-delete-transparent
{
  background-image: url('images/icon-delete.png');
}
.jqx-icon-edit-transparent
{
  background-image: url('images/icon-edit.png');
}
.jqx-icon-save-transparent
{
  background-image: url('images/icon-save.png');
}
.jqx-icon-cancel-transparent
{
  background-image: url('images/icon-cancel.png');
}
.jqx-icon-search-transparent
{
  background-image: url('images/icon-search.png');
}
.jqx-icon-plus-transparent
{
  background-image: url('images/icon-plus.png');
}

.jqx-grid-pager-transparent
{        
    font-size:14px;    
}

.jqx-grid-pager-number-transparent
{
    padding: 2px 8px;
}