@import "_Variables";

.jqx-rc-tl-d3s
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-d3s
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-d3s
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-d3s
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-d3s
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-d3s
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-d3s
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-d3s
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-d3s
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-d3s {
    font-family: Calibri;
}
.jqx-widget-content-d3s{font-family: Calibri; border-color: #d4d4d4; color: #444444; background-color: #fff;}
.jqx-widget-header-d3s{font-family: Calibri; color: #444444; border-color:#d4d4d4; background-color:#ffffff;}

.jqx-fill-state-normal-d3s{font-family: Calibri; border-color: #d4d4d4; color: #444444; background: #fdfdfd;}
.jqx-grid-cell-sort-alt-d3s, .jqx-grid-cell-filter-alt-d3s, .jqx-grid-cell-pinned-d3s, .jqx-grid-cell-alt-d3s, .jqx-grid-cell-sort-d3s{ background:#ededed; color: #000;}
.jqx-button-d3s {border-color: #d4d4d4;}
.jqx-fill-state-hover-d3s{border-color:#86bfa0; color: #000; background:#d3f0e0;}

.jqx-input-d3s {
    border: 1px solid #9e9e9e;
}

/*.jqx-input-d3s, .jqx-input-button-content-d3s {border: none;}*/
.jqx-fill-state-focus-d3s, .jqx-combobox-content-focus-d3s, .jqx-numberinput-focus, .jqx-datetimeinput-d3s .jqx-fill-state-hover-d3s, .jqx-datetimeinput-d3s .jqx-fill-state-pressed-d3s{ border-color: #86bfa0; }
.jqx-fill-state-pressed-d3s{border-color:#429366; color: #000; background:#86bfa0;}

.jqx-scrollbar-state-normal-d3s, .jqx-grid-bottomright-d3s, .jqx-panel-bottomright-d3s, .jqx-listbox-bottomright-d3s{background:#f3f3f3;}
.jqx-widget-d3s .jqx-grid-column-header-d3s, .jqx-grid-cell-d3s, .jqx-widget-d3s .jqx-grid-cell-d3s, .jqx-widget-d3s .jqx-grid-group-cell-d3s, .jqx-grid-group-cell-d3s{font-family: Calibri; border-color:#f3f3f3;}
.jqx-tabs-title-bottom-d3s, .jqx-tabs-title-d3s{color: #FFF;}
.jqx-tabs-title-hover-bottom-d3s, .jqx-tabs-title-hover-top-d3s{color: #217346; background: transparent; border-color: transparent;}
.jqx-tabs-title-selected-bottom-d3s, .jqx-tabs-selection-tracker-bottom-d3s, .jqx-tabs-title-selected-top-d3s, .jqx-tabs-selection-tracker-top-d3s{font-weight: bold; color: #217346; border-color:#d4d4d4; border-bottom:1px solid #fff; background:#fff}
.jqx-menu-vertical-d3s{background: #fff; border-color: #d4d4d4;}
.jqx-widget-d3s .jqx-grid-cell-d3s, .jqx-widget-d3s .jqx-grid-column-header-d3s, .jqx-widget-d3s .jqx-grid-group-cell-d3s {color: #000; border-color: #d4d4d4;}
.jqx-widget-d3s .jqx-grid-column-menubutton-d3s, .jqx-widget-d3s .jqx-grid-column-sortascbutton-d3s, .jqx-widget-d3s .jqx-grid-column-sortdescbutton-d3s, .jqx-widget-d3s .jqx-grid-column-filterbutton-d3s {
    background-color: transparent;
    border-color: #d4d4d4;
}
 .jqx-input-button-header-d3s, .jqx-calendar-title-header-d3s, .jqx-grid-d3s .jqx-widget-header-d3s, .jqx-grid-header-d3s, .jqx-grid-column-header-d3s, .jqx-grid-d3s {font-family: Calibri; border-color: #d4d4d4; color: #444444; background: #fff;}
.jqx-window-header-d3s{font-family: Calibri; color: #444444; background: #fff;}
.jqx-grid-column-menubutton-d3s {
    background-image: url('images/d3s-icon-down.png');
 }
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-d3s {
    background-image: url('images/d3s-icon-up.png');
 }
.jqx-grid-column-sortdescbutton-d3s {
    background-image: url('images/d3s-icon-down.png');
}
.jqx-checkbox-hover-d3s {
    background: #fff;
}
.jqx-radiobutton-hover-d3s {
    background: #fff;
}
.jqx-scrollbar-thumb-state-normal-horizontal-d3s, .jqx-scrollbar-thumb-state-normal-d3s {
    background: #ffffff; border-color: #d4d4d4;
}
.jqx-scrollbar-thumb-state-hover-horizontal-d3s, .jqx-scrollbar-thumb-state-hover-d3s {
    background: #f0f0f0; border-color: #d4d4d4;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-d3s, .jqx-scrollbar-thumb-state-pressed-d3s {
    background: #f0f0f0; border-color: #777777;
}
.jqx-scrollbar-button-state-normal-d3s
{
    border: 1px solid #d4d4d4; 
    background: #fff;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-d3s
{
    border: 1px solid #777777;
    background: #fff;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-d3s
{
    border: 1px solid #777777;
    background: #f0f0f0;
}

/*icons*/
.jqx-window-collapse-button-d3s
{
    background-image: url(images/d3s-icon-up.png);
    background-repeat: no-repeat;
}
.jqx-window-collapse-button-collapsed-d3s {
    background-image: url(images/d3s-icon-down.png);
    background-repeat: no-repeat;
}
.jqx-icon-arrow-up-d3s, .jqx-expander-arrow-bottom-d3s, .jqx-menu-item-arrow-up-d3s
{
    background-image: url('images/d3s-icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-down-d3s, .jqx-expander-arrow-top-d3s, .jqx-tree-item-arrow-expand-d3s, .jqx-tree-item-arrow-expand-hover-d3s, .jqx-menu-item-arrow-down-d3s
{
    background-image: url('images/d3s-icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-left-d3s, .jqx-menu-item-arrow-left-d3s
{
    background-image: url('images/d3s-icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-right-d3s, .jqx-menu-item-arrow-right-d3s, .jqx-tree-item-arrow-collapse-d3s, .jqx-tree-item-arrow-collapse-hover-d3s
{
    background-image: url('images/d3s-icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tabs-arrow-left-d3s, .jqx-tree-item-arrow-collapse-rtl-d3s, .jqx-tree-item-arrow-collapse-hover-rtl-d3s
{
    background-image: url('images/d3s-icon-left.png');
    background-repeat: no-repeat;
}
.jqx-tabs-arrow-right-d3s
{
    background-image: url('images/d3s-icon-right.png');
    background-repeat: no-repeat;
}

.jqx-expander-header-d3s {
    font-size: 115%;
    font-weight: 600;
}
.jqx-menu-item-arrow-up-selected-d3s, .jqx-icon-arrow-up-selected-d3s{background-image:url('images/d3s-icon-up.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-d3s, .jqx-icon-arrow-down-selected-d3s{background-image:url('images/d3s-icon-down.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-d3s, .jqx-icon-arrow-left-selected-d3s{background-image:url('images/d3s-icon-left.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-d3s, .jqx-icon-arrow-right-selected-d3s{background-image:url('images/d3s-icon-right.png');background-repeat:no-repeat;background-position:center;}
.jqx-tabs-close-button-d3s{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-selected-d3s{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-hover-d3s{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-expander-arrow-bottom-d3s,.jqx-scrollbar-d3s .jqx-icon-arrow-up-selected-d3s{background-image:url('images/d3s-icon-up.png'); background-repeat:no-repeat; background-position:center;}
.jqx-expander-arrow-top-d3s, .jqx-scrollbar-d3s .jqx-icon-arrow-down-selected-d3s{background-image:url('images/d3s-icon-down.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-d3s .jqx-icon-arrow-left-selected-d3s{background-image:url('images/d3s-icon-left.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-d3s .jqx-icon-arrow-right-selected-d3s{background-image:url('images/d3s-icon-right.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-slider-d3s
{
}
.jqx-slider-button-d3s
{
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}
.jqx-input-button-content-d3s
{  
    font-size: 10px;
}

.jqx-dropdownlist-state-normal-d3s {
    border: 1px solid #9e9e9e;
}
.jqx-dropdownlist-state-hover-d3s,
.jqx-dropdownlist-state-selected-d3s {
    background-color: #fff;
    border-top: 1px solid #9e9e9e;
    border-left: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
}

.jqx-dropdownlist-state-normal-d3s, .jqx-dropdownlist-state-hover-d3s, .jqx-dropdownlist-state-selected-d3s,
.jqx-scrollbar-button-state-hover-d3s, .jqx-scrollbar-button-state-normal-d3s, .jqx-scrollbar-button-state-pressed-d3s,
.jqx-scrollbar-thumb-state-normal-horizontal-d3s, .jqx-scrollbar-thumb-state-hover-horizontal-d3s, .jqx-scrollbar-thumb-state-pressed-horizontal-d3s,
.jqx-scrollbar-thumb-state-normal-d3s, .jqx-scrollbar-thumb-state-pressed-d3s, .jqx-button-d3s, .jqx-tree-item-hover-d3s, .jqx-tree-item-selected-d3s,
.jqx-tree-item-d3s, .jqx-menu-item-d3s, .jqx-menu-item-hover-d3s, .jqx-menu-item-selected-d3s, .jqx-menu-item-top-d3s, .jqx-menu-item-top-hover-d3s, 
.jqx-menu-item-top-selected-d3s, .jqx-slider-button-d3s, .jqx-slider-slider-d3s
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-d3s {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #a6a6a6;
}
.jqx-switchbutton-thumb-d3s {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-d3s {
    background: #429366;
    color: #429366;
}
.jqx-switchbutton-label-off-d3s {
    background: #a6a6a6;
    color: #a6a6a6;
}
.jqx-icon-arrow-first-metro
{
    background-image: url('images/d3s-icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-metro
{
    background-image: url('images/d3s-icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-switchbutton-wrapper-d3s {
}.jqx-widget-d3s
{
  font-family: Tahoma;
}
.jqx-widget-content-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background: #ffffff;
  font-family: Tahoma;
}
.jqx-widget-header-d3s, .jqx-grid-d3s .jqx-widget-header-d3s
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: @rgba-primary-0;
  background-color: @rgba-primary-0;
  background-image: -moz-linear-gradient(top, @rgba-primary-0, @rgba-primary-0);
  background-image: -ms-linear-gradient(top, @rgba-primary-0, @rgba-primary-0);
  background-image: -o-linear-gradient(top, @rgba-primary-0, @rgba-primary-0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(@rgba-primary-0), to(@rgba-primary-0));
  background-image: -webkit-linear-gradient(top, @rgba-primary-0, @rgba-primary-0);
  background-image: linear-gradient(top, @rgba-primary-0, @rgba-primary-0);
  background-image: linear-gradient(to bottom, @rgba-primary-0, @rgba-primary-0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Tahoma;
}
.jqx-grid-column-menubutton-d3s, .jqx-widget-d3s.jqx-grid-column-menubutton-d3s
{
  border-color: @rgba-primary-0;
}
.jqx-grid-cell-d3s, .jqx-widget-d3s .jqx-grid-cell-d3s
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -ms-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -o-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#fdfdfd));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(to bottom, #fdfdfd, #fdfdfd);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Tahoma;
}
.jqx-button-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -ms-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -o-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#fdfdfd));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(to bottom, #fdfdfd, #fdfdfd);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Tahoma;
}
.jqx-grid-selectionarea-d3s
{
  border-color: #d4d4d4;
  background-color: #fdfdfd;
}
.jqx-widget-d3s .jqx-grid-cell-sort-d3s, .jqx-widget-d3s .jqx-grid-cell-filter-d3s, .jqx-widget-d3s .jqx-grid-cell-pinned-d3s, .jqx-grid-cell-sort-d3s, .jqx-grid-cell-filter-d3s, .jqx-grid-cell-pinned-d3s
{
  background-color: #EFF9FF;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-d3s .jqx-grid-cell-alt-d3s, .jqx-widget-d3s .jqx-grid-cell-sort-alt-d3s, .jqx-widget-d3s .jqx-grid-cell-pinned-alt-d3s, .jqx-widget-d3s .jqx-grid-cell-filter-alt-d3s, .jqx-grid-cell-alt-d3s, .jqx-grid-cell-sort-alt-d3s, .jqx-grid-cell-filter-alt-d3s
{
  background-color: #EFF9FF;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-d3s, .jqx-widget-d3s .jqx-grid-cell-hover-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: @rgba-primary-3;
  background-color: @rgba-primary-4;
  background-image: -moz-linear-gradient(top, @rgba-primary-4, @rgba-primary-4);
  background-image: -ms-linear-gradient(top, @rgba-primary-4, @rgba-primary-4);
  background-image: -o-linear-gradient(top, @rgba-primary-4, @rgba-primary-4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(@rgba-primary-4), to(@rgba-primary-4));
  background-image: -webkit-linear-gradient(top, @rgba-primary-4, @rgba-primary-4);
  background-image: linear-gradient(top, @rgba-primary-4, @rgba-primary-4);
  background-image: linear-gradient(to bottom, @rgba-primary-4, @rgba-primary-4);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Tahoma;
}
.jqx-fill-state-pressed-d3s, .jqx-widget-d3s .jqx-grid-cell-selected-d3s
{
  color: #000000;
  text-shadow: none;
  border-color: @rgba-primary-3;
  background-color: @rgba-primary-3;
  background-image: -moz-linear-gradient(top, @rgba-primary-3 @rgba-primary-3);
  background-image: -ms-linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: -o-linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: -webkit-gradient(linear, center top, center bottom, from(@rgba-primary-3), to(@rgba-primary-3));
  background-image: -webkit-linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: linear-gradient(to bottom, @rgba-primary-3, @rgba-primary-3);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Tahoma;
}
.jqx-switchbutton-label-on-d3s
{
  color: #000000;
  text-shadow: none;
  border-color: #EFA03D;
  background-color: @rgba-primary-3;
  background-image: -moz-linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: -ms-linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: -o-linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: -webkit-gradient(linear, center top, center bottom, from(@rgba-primary-3), to(@rgba-primary-3));
  background-image: -webkit-linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: linear-gradient(top, @rgba-primary-3, @rgba-primary-3);
  background-image: linear-gradient(to bottom, @rgba-primary-3, @rgba-primary-3);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-d3s, .jqx-tabs-selection-tracker-top-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-d3s, .jqx-tabs-selection-tracker-bottom-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-d3s
{
  background: @rgba-primary-4;
}
.jqx-splitter-splitbar-vertical-d3s, .jqx-splitter-splitbar-horizontal-d3s, .jqx-slider-track-horizontal-d3s, .jqx-slider-track-vertical-d3s
{
  background: #fdfdfd;
}
.jqx-splitter-collapse-button-horizontal-d3s, .jqx-splitter-collapse-button-vertical-d3s, .jqx-slider-rangebar-d3s
{
  background: @rgba-primary-3;
}
.jqx-scrollbar-state-normal-d3s
{
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.jqx-grid-bottomright-d3s, .jqx-panel-bottomright-d3s, .jqx-listbox-bottomright-d3s
{
  background-color: #f3f3f3;
}
.jqx-scrollbar-thumb-state-normal-d3s
{
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-normal-horizontal-d3s
{
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-d3s
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left right, #f0f0f0, #f0f0f0);
}
.jqx-scrollbar-thumb-state-hover-horizontal-d3s
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-d3s
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left right, #f0f0f0, #f0f0f0);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-d3s
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-d3s
{
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -ms-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -o-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f3f3f3), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(to bottom, #f3f3f3, #f3f3f3);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-d3s
{
  background-color: #f0f0f0;
  border-color: #ababab;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-d3s
{
  background-color: #f0f0f0;
  border-color: #777777;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-d3s
{
  background: #111111;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-d3s
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-d3s
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-d3s
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-d3s
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-d3s
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-d3s
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-d3s
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-d3s
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-d3s, .jqx-radiobutton-d3s, .jqx-radiobutton-check-checked-d3s, .jqx-radiobutton-hover-d3s, .jqx-radiobutton-check-indeterminate-d3s, .jqx-radiobutton-check-indeterminate-disabled-d3s, .jqx-slider-button-d3s
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-d3s, .jqx-tooltip-d3s, .jqx-tooltip-text-d3s, .jqx-tooltip-main-d3s
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-d3s, .jqx-expander-arrow-bottom-d3s, .jqx-window-collapse-button-d3s, .jqx-menu-item-arrow-up-d3s, .jqx-menu-item-arrow-top-up-d3s, .jqx-icon-arrow-up-d3s
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-d3s
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-d3s, .jqx-icon-arrow-up-selected-d3s.jqx-expander-arrow-expanded-d3s
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-d3s, .jqx-grid-column-sortdescbutton-d3s, .jqx-expander-arrow-top-d3s, .jqx-window-collapse-button-collapsed-d3s, .jqx-menu-item-arrow-down-d3s, .jqx-menu-item-arrow-down-d3s, .jqx-tree-item-arrow-expand-d3s, .jqx-grid-group-expand-d3s, .jqx-widget-d3s .jqx-grid-group-expand-d3s, .jqx-icon-arrow-down-d3s
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-d3s
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-d3s, .jqx-icon-arrow-down-selected-d3s
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-d3s, .jqx-menu-item-arrow-top-left-d3s, .jqx-grid-group-collapse-rtl-d3s, .jqx-widget-d3s .jqx-grid-group-collapse-rtl-d3s, .jqx-icon-arrow-left-d3s, .jqx-icon-arrow-down-left-d3s
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-d3s
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-horizontal-d3s {
    border-color: @rgba-primary-2 !important;
    background-color: @rgba-primary-2 !important;
    background-image: -moz-linear-gradient(top, @rgba-primary-2, @rgba-primary-2);
    background-image: -ms-linear-gradient(top, @rgba-primary-2, @rgba-primary-2);
    background-image: -o-linear-gradient(top, @rgba-primary-2, @rgba-primary-2);
    background-image: -webkit-gradient(linear, center top, center bottom, from(@rgba-primary-2), to(@rgba-primary-2));
    background-image: -webkit-linear-gradient(top, @rgba-primary-2, @rgba-primary-2);
    background-image: linear-gradient(top, @rgba-primary-2, @rgba-primary-2);
    background-image: linear-gradient(to bottom, @rgba-primary-2, @rgba-primary-2);
}
.jqx-menu-vertical-d3s
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-d3s, .jqx-icon-arrow-left-selected-d3s
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-d3s, .jqx-menu-item-arrow-top-right-d3s, .jqx-menu-item-arrow-collapse-d3s, .jqx-grid-group-collapse-d3s, .jqx-widget-d3s .jqx-grid-group-collapse-d3s, .jqx-icon-arrow-right-d3s
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-d3s
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected-d3s, .jqx-icon-arrow-right-selected-d3s
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-d3s, .jqx-tabs-close-button-d3s, .icon-close-d3s
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-d3s
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-d3s
{
  background-image: url('images/close.png');
}
.jqx-widget-d3s .jqx-grid-column-header-d3s, .jqx-widget-d3s .jqx-grid-cell-d3s, .jqx-widget-d3s .jqx-grid-group-cell-d3s, .jqx-grid-cell-d3s
{
  border-color: #d4d4d4;
}
.jqx-checkbox-check-checked-d3s
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-d3s
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-d3s, .jqx-tooltip-main-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #fdfdfd;
}
.jqx-combobox-content-d3s, .jqx-input-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #ffffff;
}
.jqx-combobox-input-d3s
{
  color: #444444;
  text-shadow: none;
}
.jqx-input-content-d3s
{
  color: #444444;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-d3s, .jqx-popup-d3s .jqx-fill-state-focus-d3s
{
  border-color: @rgba-primary-3;
}
.jqx-popup-d3s.jqx-listbox-d3s, .jqx-popup-d3s.jqx-calendar-d3s,.jqx-menu-dropdown-d3s,  .jqx-popup-d3s.jqx-dropdownbutton-popup-d3s
{
  color: #444444;
  text-shadow: none;
  border-color: @rgba-primary-3;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-d3s, .jqx-tree-item-arrow-collapse-d3s
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-d3s
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-d3s
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-up-d3s
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-left-d3s
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-right-d3s
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-bottom-d3s
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-up-hover-d3s
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-left-hover-d3s
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-right-hover-d3s
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-bottom-hover-d3s
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-up-selected-d3s
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-left-selected-d3s
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-right-selected-d3s
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-d3s .jqx-icon-arrow-bottom-selected-d3s
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-d3s .jqx-icon-arrow-up-d3s, .jqx-tabs-header-d3s .jqx-icon-arrow-up-d3s
{
}
.jqx-calendar-d3s .jqx-icon-arrow-left-d3s, .jqx-tabs-header-d3s .jqx-icon-arrow-left-d3s
{
}
.jqx-calendar-d3s .jqx-icon-arrow-right-d3s, .jqx-tabs-header-d3s .jqx-icon-arrow-right-d3s
{
}
.jqx-calendar-d3s .jqx-icon-arrow-bottom-d3s, .jqx-tabs-header-d3s .jqx-icon-arrow-bottom-d3s
{
}
.jqx-widget-d3s .jqx-grid-cell-d3s, .jqx-listitem-state-normal-d3s, .jqx-menu-item-normal-d3s, .jqx-tree-item-normal-d3s, .jqx-calendar-cell-d3s, .jqx-grid-cell-d3s,.jqx-menu-vertical-d3s .jqx-menu-item-top-normal-d3s, .jqx-input-popup-d3s .jqx-fill-state-normal-d3s
{
  font-family: Tahoma;
}
.jqx-widget-d3s .jqx-grid-cell-hover-d3s, .jqx-listitem-state-hover-d3s, .jqx-menu-item-hover-d3s, .jqx-tree-item-hover-d3s, .jqx-calendar-cell-hover-d3s, .jqx-grid-cell-hover-d3s,.jqx-menu-vertical-d3s .jqx-menu-item-top-hover-d3s, .jqx-input-popup-d3s .jqx-fill-state-hover-d3s,.jqx-input-button-header-d3s, .jqx-input-popup-d3s .jqx-fill-state-pressed-d3s,.jqx-input-button-header-d3s
{
  font-family: Tahoma;
}
.jqx-menu-item-top-selected-d3s,
.jqx-menu-item-top-hover-d3s {
    color: #009688 !important;
}

.jqx-widget-d3s  .jqx-grid-cell-selected-d3s, .jqx-listitem-state-selected-d3s, .jqx-menu-item-selected-d3s, .jqx-tree-item-selected-d3s, .jqx-calendar-cell-selected-d3s, .jqx-grid-cell-selected-d3s,.jqx-menu-vertical-d3s .jqx-menu-item-top-selected-d3s, .jqx-grid-selectionarea-d3s
{
  font-family: Tahoma;
}
.jqx-icon-calendar-d3s
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-d3s
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-d3s
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-d3s
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-d3s
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected-d3s
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-d3s
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-d3s
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected-d3s
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-d3s>.jqx-grid-group-expand-d3s
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-hover-d3s>.jqx-grid-group-expand-d3s
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-selected-d3s>.jqx-grid-group-expand-d3s
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-d3s>.jqx-grid-group-collapse-d3s
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-hover-d3s>.jqx-grid-group-collapse-d3s
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-selected-d3s>.jqx-grid-group-collapse-d3s
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-d3s>.jqx-grid-group-expand-rtl-d3s
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-hover-d3s>.jqx-grid-group-expand-rtl-d3s
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-selected-d3s>.jqx-grid-group-expand-rtl-d3s
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-d3s>.jqx-grid-group-collapse-rtl-d3s
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-hover-d3s>.jqx-grid-group-collapse-rtl-d3s
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-d3s.jqx-grid-cell-selected-d3s>.jqx-grid-group-collapse-rtl-d3s
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-d3s, .jqx-grid-column-sortdescbutton-d3s
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-column-sortascbutton-d3s
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-delete-d3s
{
  background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-d3s
{
  background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-d3s
{
  background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-d3s
{
  background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-d3s
{
  background-image: url('images/search.png');
}
.jqx-icon-plus-d3s
{
  background-image: url('images/icon-plus_white.png');
}
.jqx-icon-close-d3s
{
    cursor: pointer;
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center;
}