@import "_Variables.less";

@height: 50px;
@logoheight: 44px;
@search-margin: ceil((@height - 6 - 2) / 2);

#nav {
    /*background: #54a4da;*/
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.nav-top-small {
    margin-top: -50px;
}

.nav-top {
    height: @height;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    .fa {        
        color:white;
        font-size: 28px;
    }

    .profile {
        color: #ddd;
        height: @height;
        line-height: @height;
        position: absolute;
        right: 20px;
        a {
            /*color: #fff;*/
            display:inline-block;
            vertical-align:middle;
            margin-right: 25px;
            height: 30px;
            line-height: 30px;
            border: none;
            img {
                border-radius: 20px;
                height: 30px;
                margin: 0 5px -10px 0;
            }
        }
        a.photo {
            margin-right:0;            
        }
        
        .search{
            display:inline-block;
            vertical-align:middle;
            
            input[type="text"]{
                height:30px;
                width: 300px;
                border-radius: 5px 0 0 5px;
                border-left:1px solid @d3s-gray-3;
                border-top:1px solid @d3s-gray-3;
                border-bottom:1px solid @d3s-gray-3;
                border-right:none;
                float:left;
                background-color:@d3s-gray-4;
                padding-left:5px;
                color:#333;
            }
            input[type="text"]:focus{
                outline: none;
            }
            button, input[type="submit"], input[type="button"]{
                float:right;
                height:30px;
                border-radius:0 5px 5px 0;
                border-left:none;
                border-top:1px solid @d3s-gray-3;
                border-right:1px solid @d3s-gray-3;
                border-bottom:1px solid @d3s-gray-3;                
                padding:0;
                background-color:@d3s-gray-6;
            }
            i{
                float:left;
                font-size:16px;
                padding: 0 10px 0 10px;
            }

            .twitter-typeahead {
              width: auto;
            }
        }        
    }    
} 

.navbar-collapse {
  padding:0
}

.navbar-collapse.in {
  overflow:visible
}

.main-nav {
  width:100%;
  ul {
      li {
          font-size: 13px;
          a {
              color: #fff;
          }
      }
  }
}