<div class="{{getElementClass()}}">
    <input #iginput
           [ngClass]="{'ig-number-field ': true , styleClass : styleClass, 'disabled':disabled, 'value-set': hasValue}"
           [attr.tabindex]="tabindex"
           [attr.aria-label]="ariaLabel"
           [attr.aria-required]="ariaRequired"
           [attr.aria-invalid]="ariaInvalid"
           [required]="required"
           [ngModel]="value"
           (ngModelChange)="writeValue($event)"
           type="number"
           step="{{step}}"
           [min]="min"
           [max]="max"
           [attr.aria-valumin]="min"
           [attr.aria-valuemax]="max"
           [attr.placeholder]="placeholder"
           [attr.name]="name"
           [disabled]="disabled"
           (keydown)="onInputKeyDown($event)"
           (blur)="onModelTouched()"
           (input)="onModelChange($event.target.value)">
    <div class="ig-button-container">
        <div [ngClass]="{'ig-number-field-button up' : true,'disabled':disabled}" (click)="increment()">
            <span class="fa fa-chevron-up"></span>
        </div>
        <div [ngClass]="{'ig-number-field-button down' : true,'disabled':disabled}" (click)="decrement()">
            <span class="fa fa-chevron-down"></span>
        </div>
    </div>
</div>