<div class="row">
    <div class="col s12">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <div *ngIf="!isLoading"
             class="tile tile-detail">
            <header *ngIf="!showDelete && !showEditor">Mappings
                <d3s-tile-actions (addClick)="selected=null;showEditor=true;"
                                  [(filterMode)]="showSimpleFilter"
                                  [hasAdd]="true"
                                  [hasFilterMode]="true"></d3s-tile-actions>
            </header>
            <span *ngIf="!showDelete && !showEditor">
                       <input (input)="dt.filterGlobal($event.target.value, 'contains')"
                              [hidden]="!showSimpleFilter"
                              class="grid-simple-filter"
                              pInputText
                              placeholder="Search..."
                              size="100"
                              type="text">
                        <p-table #dt
                                 [(selection)]="selected"
                                 [globalFilterFields]="['Name','Transformation','MapClassName','MapType','MapTypeDescription']"
                                 [metaKeySelection]="true"
                                 [pageLinks]="3"
                                 [paginator]="true"
                                 [rowsPerPageOptions]="defaultPagingOptions"
                                 [rows]="defaultInitialItemsPerPage"
                                 [value]="mappings"
                                 selectionMode="single"
                                 sortField="Name">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th [pSortableColumn]="'Name'">
                                        Name
                                        <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'Transformation'">
                                        Transformation
                                        <d3s-sortIcon [field]="'Transformation'"></d3s-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'MapClassName'">
                                        Classification
                                        <d3s-sortIcon [field]="'MapClassName'"></d3s-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'MapType'">
                                        Type
                                        <d3s-sortIcon [field]="'MapType'"></d3s-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'MapTypeDescription'">
                                        Type Description
                                        <d3s-sortIcon [field]="'MapTypeDescription'"></d3s-sortIcon>
                                    </th>
                                    <th style="width: 28px"></th>
                                    <th style="width: 28px"></th>
                                </tr>
                                <tr [hidden]="showSimpleFilter">
                                    <th><d3s-column-filter [datatype]="'text'"
                                                           [field]="'Name'"></d3s-column-filter></th>
                                    <th><d3s-column-filter [datatype]="'text'"
                                                           [field]="'Transformation'"></d3s-column-filter></th>
                                    <th><d3s-column-filter [datatype]="'text'"
                                                           [field]="'MapClassName'"></d3s-column-filter></th>
                                    <th><d3s-column-filter [datatype]="'text'"
                                                           [field]="'MapType'"></d3s-column-filter></th>
                                    <th><d3s-column-filter [datatype]="'text'"
                                                           [field]="'MapTypeDescription'"></d3s-column-filter></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template let-item
                                         pTemplate="body">
                                <tr [pSelectableRow]="item">
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Transformation}}</td>
                                    <td>{{item.MapClassName}}</td>
                                    <td>{{item.MapType}}</td>
                                    <td>{{item.MapTypeDescription}}</td>
                                    <td>
                                        <div class="RowTools">
                                                <a (click)="selected=item;showEditor=true;"
                                                   style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                                            </div>
                                   </td>
                                    <td>
                                             <div class="RowTools">
                                                <a (click)="selected=item;showDelete=true;"
                                                   style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template *ngIf="dt.totalRecords"
                                         pTemplate="summary">
                                <d3s-grid-paging-info [first]="dt.first"
                                                      [rows]="dt.rows"
                                                      [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                            </ng-template>
                        </p-table>
                    </span>
            <d3s-dynamic-editor (closeClick)="showEditor = false;"
                                (saveClick)="saveMap($event)"
                                *ngIf="showEditor"
                                [objectID]="selected?.ID"
                                [objectType]="'Map'"
                                [selection]="selected"
                                [title]="'Map'"></d3s-dynamic-editor>
            <d3s-delete-form (onCancel)="showDelete=false;"
                             *ngIf="showDelete"
                             [callback]="theDeleteCallback"
                             [itemId]="selected?.ID"
                             [method]="'callback'"
                             [prompt]="'Are you sure you want to delete the selected item?'"
            ></d3s-delete-form>
        </div>
    </div>
</div>
