<ng-template [ngIf]="!showAsModal">
    <div>
        <div class="row delete-form">
            <div *ngIf="isLoading" style="text-align:center;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
            <div class="prompt">{{prompt}}</div>
            <div *ngIf="warningMessage.length>0" class="warning-message">
                <p-checkbox igAutoFocus [(ngModel)]="confirmDelete" binary="true"></p-checkbox>    
                <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                <div [innerHTML]="warningMessage"></div>
            </div>
        </div>
        <div class="row">
            <form-message [message]="message"></form-message>
            <button pButton (click)="delete()" label="{{deleteButtonText}}" [disabled]="isLoading || (warningMessage.length>0 && !confirmDelete)"></button>
            <button pButton (click)="cancel()" label="{{cancelButtonText}}" [disabled]="isLoading"></button>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="showAsModal">

    <d3s-modal [title]="modalTitle" [additionalClasses]="modalCssClasses" (onClose)="cancel()" [isVisible]="isModalVisible">
        <div class="content">
            <div class="row">
                <div>
                    <ng-content select="[prompt]"></ng-content>
                </div>
                <ng-template *ngIf="message">
                    <form-message [message]="message"></form-message>
                </ng-template>
            </div>
        </div>

        <ng-container *ngIf="confirmationText && !isUsageLoading">
            <div class="confirmation-wrapper row">
                <div class="s12">
                    <p i18n>
                        Please note that this operation cannot be undone. Check the option below to confirm that you wish to continue.
                    </p>
                    <p>
                        <p-checkbox igAutoFocus [(ngModel)]="isConfirmed" [binary]="true" label="{{confirmationText}}"></p-checkbox>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </ng-container>
        <div class="action-bar">
            <ng-container *ngIf="!hideDeleteButton && !isUsageLoading">
                <button *ngIf="!confirmationText" igAutoFocus class="button" (click)="cancel()" [disabled]="isLoading">{{cancelButtonText}}</button>
                <button *ngIf="confirmationText" class="button" (click)="cancel()" [disabled]="isLoading">{{cancelButtonText}}</button>
                <button *ngIf="showDownloadWhereUsed" (click)="onUsageExport.emit()" class="button" i18n>Download Where Used {items?.length, plural, =0 {Report} =1 {Report} other {Reports}}</button>
                <span class="grow"></span>
                <button class="button primary {{deletingInProgress ? 'loading' : ''}}" (click)="delete()" [disabled]="isLoading || (confirmationText && !isConfirmed)">
                    {{deleteButtonText}}
                    <span class="loader"><span class="spinner light"></span></span>
                </button>
            </ng-container>
            <ng-container *ngIf="hideDeleteButton">
                <span class="grow"></span>
                <button class="button" (click)="cancel()" [disabled]="isLoading">{{cancelButtonText}}</button>
            </ng-container>
        </div>

    </d3s-modal>
</ng-template>