<ng-template [ngIf]="!showAsModal">
    <div>
        <div class="row">
            <div *ngIf="isLoading" style="text-align:center;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
            <div [innerHTML]="prompt">{{prompt}}</div>
        </div>
        <div class="row">
            <form-message [message]="message"></form-message>
            <button pButton (click)="delete()" label="{{deleteButtonText ? deleteButtonText : 'Delete'}}" [disabled]="isLoading"></button>
            <button pButton (click)="cancel()" label="Cancel" [disabled]="isLoading"></button>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="showAsModal">

    <d3s-modal [title]="modalTitle" additionalClasses="modal-delete-form" (onClose)="cancel()" [isVisible]="isModalVisible">
        <div class="content">
            <div class="flex row">
                <div *ngIf="isLoading" style="text-align:center;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
                <div>
                    <ng-content select="[prompt]"></ng-content>
                </div>
                <form-message [message]="message"></form-message>

            </div>
        </div>
        <div class="action-bar">
            <button class="button" (click)="cancel()" [disabled]="isLoading">Cancel</button>
            <span class="grow"></span>
            <button class="button primary" (click)="delete()" [disabled]="isLoading">{{deleteButtonText ? deleteButtonText : 'Delete'}}</button>
        </div>

    </d3s-modal>
</ng-template>