<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="formMode == FormMode.Default && !isLoading" style="padding: 16px 11px 6px 11px">
    <div style="height: 0">
        &nbsp;<button igButton *ngIf="hasModifyAssetPermissions()" icon="fa-pencil" label="Edit" (click)="formMode = FormMode.Editing; formModeChange.emit(formMode)" style="float:right;z-index:1000"></button>
    </div>
    <ig-asset-detail [useAccordion]="true"
                     [objectID]="objectID"
                     [objectType]="objectType"
                     [objectUID]="object?.UID"
                     [nymTypes]="nymTypes"
                     [hasAddRelationshipsPermissions]="hasAddRelationshipsPermissions"
                     [hasModifyRelationshipsPermissions]="hasModifyRelationshipsPermissions"
                     [hasDeleteRelationshipsPermissions]="hasDeleteRelationshipsPermissions"
                     [useAssetDetailColumnDefinition]="true">
    </ig-asset-detail>
</div>
<d3s-dynamic-editor *ngIf="formMode == FormMode.Editing && !useV2Api"
                    [objectID]="objectID"
                    [parentID]="object?.ParentID"
                    [objectType]="objectType"
                    [selection]="object"
                    [editUri]="'form/dynamicedit/edit/' + objectType"
                    [title]="object?.Name"
                    (saveClick)="save($event)"
                    (closeClick)="formMode = FormMode.Default; formModeChange.emit(formMode)">
</d3s-dynamic-editor>
<d3s-dynamic-editor *ngIf="formMode == FormMode.Editing && useV2Api"
                    [objectID]="objectID"
                    [parentID]="object?.ParentID"
                    [objectType]="objectType"
                    [objectTypeUid]="object?.AssetTypeUid"
                    [selection]="object"
                    [isV2API]="true"
                    [title]="object?.Name"
                    (saveClick)="saveV2($event)"
                    (closeClick)="formMode = FormMode.Default; formModeChange.emit(formMode)">
</d3s-dynamic-editor>
