<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="formMode == FormMode.Default && !isLoading">
  <header>
    &nbsp;<d3s-tile-actions
      [hasEdit]="hasModifyAssetPermissions()"
      (editClick)="formMode = FormMode.Editing; formModeChange.emit(formMode)"
    ></d3s-tile-actions>
  </header>
    <object-detail
        [objectID]="objectID"
        [objectType]="objectType"
        [objectUID]="object?.UID"
        [nymTypes]="nymTypes"
        [hasAddRelationshipsPermissions]="hasAddRelationshipsPermissions"
        [hasModifyRelationshipsPermissions]="hasModifyRelationshipsPermissions"
        [hasDeleteRelationshipsPermissions]="hasDeleteRelationshipsPermissions">
    </object-detail>
</div>
<d3s-dynamic-editor
  *ngIf="formMode == FormMode.Editing && !useV2Api"
  [objectID]="objectID"
  [parentID]="object?.ParentID"
  [objectType]="objectType"
  [selection]="object"
  [editUri]="'form/dynamicedit/edit/' + objectType"
  [title]="object?.Name"
  (saveClick)="save($event)"
  (closeClick)="formMode = FormMode.Default; formModeChange.emit(formMode)"
>
</d3s-dynamic-editor>
<d3s-dynamic-editor *ngIf="formMode == FormMode.Editing && useV2Api"
                    [objectID]="objectID"
                    [parentID]="object?.ParentID"
                    [objectType]="objectType"
                    [objectTypeUid]="object?.AssetTypeUid"
                    [selection]="object"
                    [isV2API]="true"
                    [title]="object?.Name"
                    (saveClick)="saveV2($event)"
                    (closeClick)="formMode = FormMode.Default; formModeChange.emit(formMode)">
</d3s-dynamic-editor>
