<div *ngIf="objectType && objectID">
    <div>
        <header>
            {{title}}
            <d3s-tile-actions [hasAdd]="true" (addClick)="add();" *ngIf="!isEditing && !isAdding && !isDeleting"></d3s-tile-actions>                
        </header>
    </div>
    <div *ngIf="isLoading" style="width:100%; text-align:center;">
        <div style="padding:10px;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    </div>
    <div *ngIf="!isLoading">
        <div *ngIf="!isEditing && !isDeleting && !isAdding">
            <p-dataTable [value]="responsibilities" selectionMode="single" (onRowSelect)="selectedRow = $event.data" [rows]="20" [paginator]="true" (onRowDblclick)="isEditing=true;">
                <p-column field="Role" header="Role" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '20%' }"></p-column>
                <p-column field="ResponsibleObjectName" header="Resource" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '20%' }"></p-column>
                <p-column field="PrimaryOwnerResourceName" header="Group Owner" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '20%' }"></p-column>
                <p-column field="ContextItems" header="Context" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '30%' }"></p-column>
                <p-column>
                    <template let-item="rowData" pTemplate type="body">
                        <div class="RowTools">
                            <a (click)="selectedRow = item; edit(item.ID)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            <a (click)="selectedRow = item; delete(item.ID)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
        <div *ngIf="isEditing">
            <d3s-responsibility-item-form [item]="selectedRow" (onSaveComplete)="isEditing=false;" (onCancel)="selectedRow=$event.item;isEditing=false;"></d3s-responsibility-item-form>
        </div>
        <div *ngIf="isDeleting" style="padding:15px;">
            <delete-form [uri]="'/form/DeleteResponsibilityByID?id=' + selectedRow.ID"
                         [method]="'delete'"
                         [prompt]="'Are you sure you want to delete this owner?'"
                         (onDeleteSuccess)="confirmDeleteRow(selectedRow.ID)"
                         (onCancel)="isDeleting=false;">
            </delete-form>
        </div>
        <div *ngIf="isAdding">
            <d3s-responsibility-item-form [item]="addingRow" (onSaveComplete)="load(); isAdding=false;" (onCancel)="isAdding=false;"></d3s-responsibility-item-form>
        </div>
    </div>
</div>