<div *ngIf="objectType && objectID">
    <div>
        <header>
            {{title}}
            <d3s-tile-actions [hasAdd]="true" (addClick)="add();" *ngIf="!isEditing && !isAdding && !isDeleting" [hasFilterMode]="true" [(filterMode)]="showSimpleFilter"></d3s-tile-actions>
        </header>
    </div>
    <div *ngIf="isLoading" style="width:100%; text-align:center;">
        <div style="padding:10px;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    </div>
    <div *ngIf="!isLoading">
        <div *ngIf="!isEditing && !isDeleting && !isAdding">
            <input [hidden]="!showSimpleFilter" #gb type="text" pInputText size="100" placeholder="Search..." style="margin-bottom:10px;width:100%;">
            <p-dataTable [globalFilter]="gb" [value]="responsibilities" selectionMode="single" (onRowSelect)="selectedRow = $event.data" [rows]="20" [paginator]="true" (onRowDblclick)="isEditing=true;">
                <p-column field="Role" header="Role" sortable="custom" (sortFunction)="columnSort($event)" [style]="{ 'width': '20%' }" [filter]="!showSimpleFilter"></p-column>
                <p-column field="ResponsibleObjectName" header="Resource" sortable="custom" (sortFunction)="columnSort($event)" [style]="{ 'width': '20%' }" [filter]="!showSimpleFilter">
                    <template let-item="rowData" pTemplate type="body">
                        <d3s-tooltip [objectType]="item.ResponsibleObjectType" [objectId]="item.ResponsibleObjectID" [tooltipType]="'Preview'">
                            <a (click)="navigate(item.ResponsibleObjectUrl)">{{item.ResponsibleObjectName}}</a>
                        </d3s-tooltip>
                    </template>
                </p-column>
                <p-column field="PrimaryOwnerResourceName" header="Group Owner" sortable="custom" (sortFunction)="columnSort($event)" [style]="{ 'width': '20%' }" [filter]="!showSimpleFilter">
                    <template let-item="rowData" pTemplate type="body">
                        <d3s-tooltip objectType="Resource" [objectId]="item.PrimaryOwnerResourceID" [tooltipType]="'Preview'">
                            <a (click)="navigate(item.PrimaryOwnerResourceUrl)">{{item.PrimaryOwnerResourceName}}</a>
                        </d3s-tooltip>
                    </template>
                </p-column>
                <p-column field="ContextItems" header="Context" sortable="custom" (sortFunction)="columnSort($event)" [style]="{ 'width': '30%' }" [filter]="!showSimpleFilter"></p-column>
                <p-column>
                    <template let-item="rowData" pTemplate type="body">
                        <div class="RowTools">
                            <a (click)="selectedRow = item; edit(item.ID)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            <a (click)="selectedRow = item; delete(item.ID)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
        <div *ngIf="isEditing">
            <d3s-responsibility-item-form [item]="selectedRow" (onSaveComplete)="load(); isEditing=false;" (onCancel)="selectedRow=$event.item;isEditing=false;"></d3s-responsibility-item-form>
        </div>
        <div *ngIf="isDeleting" style="padding:15px;">
            <delete-form [uri]="'/form/DeleteResponsibilityByID?id=' + selectedRow.ID"
                         [method]="'delete'"
                         [prompt]="'Are you sure you want to delete this owner?'"
                         (onDeleteSuccess)="confirmDeleteRow(selectedRow.ID)"
                         (onCancel)="isDeleting=false;">
            </delete-form>
        </div>
        <div *ngIf="isAdding">
            <d3s-responsibility-item-form [item]="addingRow" (onSaveComplete)="load(); isAdding=false;" (onCancel)="isAdding=false;"></d3s-responsibility-item-form>
        </div>
    </div>
</div>