@import "../../../../../Content/styles/infogix-ui/IgColorVariables";

.modal-buttons {
  float: right;
}

:host ::ng-deep .header-wrapper {
  border-bottom: 1px solid @ig-grey-t4;
  margin-bottom: 1rem;
}