@import (reference) "../../../../../Content/styles/infogix-ui/IgColorVariables";
@import (reference) "../../../../../Content/styles/_Variables.less";

.modal-buttons {
  float: right;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host ::ng-deep .header-wrapper {
  border-bottom: 1px solid @ig-grey-t4;
  margin-bottom: 1rem;
}

.details-container, .progress-container {
  padding-top: 12px;
  width: 100%;
}

.title-emp {
  font-weight: normal;
  font-size: 1.3em;
  margin-left: 8px;
}

.light-text {
  opacity: 0.6;
  padding: 8px 0 16px 0;
}


.radio-button {
  padding: 5px 0 5px 0;
}

.row-data {
  justify-content: space-between;
  display: flex;
  padding-right: 10px;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host ::ng-deep ig-search-field {
  width: 100%;
  padding-bottom: 16px;
  padding-right: 16px;
}

.checkbox-selector {
  padding-bottom: 16px;

  .field-tooltip {
    margin-left: 5px;
    color: @ig-purple;
  }
}

.govern-hr {
  height: 1px;
  width: 100%;
  background-color: #d7d8dc;
  margin: 16px 0;
}

.height-auto {
  height: auto;
}

.subtitle {
  padding-top: 8px;
  color: @ig-grey-t1;
}
 
.modal-overlay .modal-form p-dropdown:not(.ig-dropdown) .p-dropdown{
  width: auto !important;
}