<div class="row" *ngIf="!isLoading">
    <div class="col s12 m12 l7">
        <div class="tile tile-detail">
            <div class="row">
                <div class="col l3 m3 s12">
                    <img [src]="'/resources/image/' + resourceId + '?size=200'" style="margin-top:5px;width:100%" />
                </div>
                <div class="col l2 m2 s12">
                    <d3s-object-followers [followerCount]="statistics?.FollowerCount" (click)="pageMode = PageMode.Followers"></d3s-object-followers>
                </div>
                <div class="col l2 m2 s12">
                    <d3s-object-board [commentCount]="statistics?.CommentCount" [lastCommentDate]="CommentLast" (click)="pageMode = PageMode.Board"></d3s-object-board>
                </div>
                <div class="col l5 m5 s12">
                    <d3s-object-health [objectType]="'Resource'" [objectID]="resourceId" [score]="statistics?.Score" (click)="pageMode = PageMode.Governance"></d3s-object-health>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="tile tile-detail" style="padding-bottom:0">
                        <object-detail [objectType]="'Resource'" [objectID]="resourceId"></object-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l5">
        <div class="tile tile-detail">
            <d3s-assignments-tile *ngIf="!isMe" [resourceId]="resourceId" (showItemDetail)="showAssignment($event)"></d3s-assignments-tile>
            <d3s-assignments-tile *ngIf="isMe" (showItemDetail)="showAssignment($event)"></d3s-assignments-tile>
        </div>
    </div>
</div>

<div *ngIf="!isLoading" [ngSwitch]="pageMode" class="row">
    <div *ngSwitchDefault class="col s12">
        <div class="tile tile-detail">
            <d3s-resource-responsibility-tile [resource]="resource"></d3s-resource-responsibility-tile>
        </div>
        <div class="tile tile-detail">
            <d3s-resource-following-tile [resource]="resource"></d3s-resource-following-tile>
        </div>
    </div>
    <div *ngSwitchCase="PageMode.Board" class="col s12">
        <div class="tile tile-detail">
            <div style="text-align:right;cursor:pointer;font-size:1.6rem;" (click)="pageMode = PageMode.Default"><i class="fa fa-remove"></i></div>
            <d3s-social-board [hasNewInput]="false" [hasCloseButton]="'true'" [objectType]="'Resource'" [objectID]="resourceId" [objectName]="'Current User'" (countsChanged)="updateStatistics()" (close)="pageMode = pageMode.Default"></d3s-social-board>
        </div>
    </div>
    <div *ngSwitchCase="PageMode.Followers" class="col s12">
        <div class="tile tile-detail">
            <div style="text-align:right;cursor:pointer;font-size:1.6rem;" (click)="pageMode = PageMode.Default"><i class="fa fa-remove"></i></div>
            <d3s-follower-grid [objectType]="'Resource'" [objectID]="resourceId"></d3s-follower-grid>
        </div>
    </div>
    <div *ngSwitchCase="PageMode.Governance" class="col s12">
        <div class="tile tile-detail">
            <div style="text-align:right;cursor:pointer;font-size:1.6rem;" (click)="pageMode = PageMode.Default"><i class="fa fa-remove"></i></div>
            <d3s-object-health-details [objectID]="resourceId" [objectType]="'Resource'" [objectName]="resource?.FirstName + ' ' + resource?.LastName"></d3s-object-health-details>
        </div>
    </div>
    <div *ngSwitchCase="PageMode.Assignment" class="col s12">
        <div class="tile tile-detail">
            <div style="text-align:right;cursor:pointer;font-size:1.6rem;" (click)="pageMode = PageMode.Default"><i class="fa fa-remove"></i></div>
            <d3s-workflow-detail [hasCloseButton]="false" [hasCertifyButton]="isMe" [workflowType]="selectedWorkflow"></d3s-workflow-detail>
        </div>
    </div>
</div>


