<connectionStrings>
  <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=govengjobstorage;AccountKey=BwZ/J7HCBI6anIIGQhfag28W+kLOeMipK43kuvLoxp4j7D+4kCE/YM+fhgkBdH5KvBnoZO512ZN7opDYzY0YLw==;EndpointSuffix=core.windows.net" />
  <add name="AzureWebJobsQueueStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=govengqueuestorage;AccountKey=0FUh4RBtuU9zqDRupeY6cSwsF7gwB9Qs2sp5zzAkQPj+kN13GlBgsfzaU2AXWpvy52a6RiG8qbUtKrYkUPRoUA==;EndpointSuffix=core.windows.net" />
  <add name="AzureWebJobsServiceBus" connectionString="Endpoint=sb://gov-int-events.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=2fR7nULjArv1/KKaqKSast5OoLAXL6NXUIt0ecMKztk=" />
  <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=govengjobstorage;AccountKey=BwZ/J7HCBI6anIIGQhfag28W+kLOeMipK43kuvLoxp4j7D+4kCE/YM+fhgkBdH5KvBnoZO512ZN7opDYzY0YLw==;EndpointSuffix=core.windows.net" />
</connectionStrings>