<appSettings>
  <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="cf5453f2-5c66-4357-bb20-1a736cf2885b" />
  <add key="IGC_APPINSIGHTS_INSTRUMENTATIONKEY" value="4ad7d741-60ef-45a8-b373-85837d2634cb"/>
  <add key="Environment" value="NIGHTLY" />

  <add key="MandrillApiKey" value="XBspYSVRlKva-pXOlDYWEg" />
  
  <add key="CommunityContext" value="Server=tcp:gov-eng-int-sql.database.windows.net;Database=D3S;User ID=govsqladmin;Password=ZLWmhZjX5R9Ff7ra;Trusted_Connection=False;MultipleActiveResultSets=True;ConnectRetryCount=3;ConnectRetryInterval=3;Connection Timeout=60;" />
  <add key="MainStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=govintblobstorage;AccountKey=eTZbOrjpDmQjgOvbG6t+tn+QeuELslBzcrEIGAw1U1Sea9Ox2IzV8i4WTFPGiy3OU65r3zRNVSlm8wmQzQDknQ==;EndpointSuffix=core.windows.net" />
  <add key="WebJobsAccount" value="DefaultEndpointsProtocol=https;AccountName=govlocalengintjobstorage;AccountKey=HsXiyBpYbqTVIbOBwqVzWWYQ22QBpxvpnFJDtCsx7CEM68iS9/qwqDvZr8AobZ0hB3Wny7je+PpZhxv/7pBXDA==;EndpointSuffix=core.windows.net" />
  <add key="AzureWebJobsAccount" value="DefaultEndpointsProtocol=https;AccountName=govlocalengintjobstorage;AccountKey=HsXiyBpYbqTVIbOBwqVzWWYQ22QBpxvpnFJDtCsx7CEM68iS9/qwqDvZr8AobZ0hB3Wny7je+PpZhxv/7pBXDA==;EndpointSuffix=core.windows.net" />

  <add key="AzureStorageName" value="govintblobstorage" />
  <add key="AzureStorageKey" value="eTZbOrjpDmQjgOvbG6t+tn+QeuELslBzcrEIGAw1U1Sea9Ox2IzV8i4WTFPGiy3OU65r3zRNVSlm8wmQzQDknQ==" />
  <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=govintblobstorage;AccountKey=eTZbOrjpDmQjgOvbG6t+tn+QeuELslBzcrEIGAw1U1Sea9Ox2IzV8i4WTFPGiy3OU65r3zRNVSlm8wmQzQDknQ==;EndpointSuffix=core.windows.net" />

  <add key="QueueStorageName" value="govengqueuestorage" />
  <add key="QueueStorageKey" value="0FUh4RBtuU9zqDRupeY6cSwsF7gwB9Qs2sp5zzAkQPj+kN13GlBgsfzaU2AXWpvy52a6RiG8qbUtKrYkUPRoUA==" />

  <add key="ApiExecutionQueue" value="gov-local-api-execution" />
  <add key="AssetGraphQueue" value="gov-local-assetgraph" />
  <add key="BulkLoadQueue" value="gov-local-bulkload" />
  <add key="CacheQueue" value="gov-local-cache" />
  <add key="DisplayValueQueue" value="gov-local-displayvalue" />
  <add key="IntegrationQueue" value="gov-local-integration"/>
  <add key="ScoringQueue" value="gov-local-scoring" />
  <add key="SearchIndexQueue" value="gov-local-searchindex" />

  <add key="EventServiceBus" value="Endpoint=sb://gov-int-events.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=2fR7nULjArv1/KKaqKSast5OoLAXL6NXUIt0ecMKztk=" />
  <add key="EventBusTopicEnabled" value="true" />
  <add key="EventBusTopicName" value="workflow-local" />
  <add key="AssetBusTopicName" value="asset-local" />

  <add key="DBExecuteQueryTimeout" value="10800" />
  <add key="DBReadQueryTimeout" value="1800" />
  <add key="DBBulkCopyTimeout" value="1800" />
  <add key="MergeChunkSize" value="5000" />
  <add key="IndexRebuilderDBCommandTimeout" value="1800" />
  <add key="V2ApiBatchMergeBlockSize" value="500" />
  <add key="V2EnvironmentJobRebuildTimeoutInHours" value="12" />
</appSettings>