<div *ngIf="isFullScreen" class="modal-background"></div>
<div class="row asset-browser" [ngClass]="{'full-screen-ab': isFullScreen}">
    <div class="asset-browser-body col s12">
        <div class="tile tile-detail" style="padding: 0">
            <div [hidden]="isLoading && !fromRefresh" class="asset-browser-header">
                <div class="controls-left">
                    <div class="asset-browser-search">
                        <input type="text" maxlength="100" class="{{searchValue.length != 0 ? 'has-text' : ''}}" (keyup)="searchDiagram($event);" [(ngModel)]="searchValue" pInputText placeholder="Find in diagram...">
                        <div class="input-actions">
                            <span *ngIf="searchValue.length != 0" class="search-item-location">
                                {{searchCurrentItem}}/{{searchResults.length}}
                            </span>
                            <i *ngIf="searchValue.length != 0" class="fa fa-times-circle ng-star-inserted" (click)="searchDiagram(null);"></i>
                            <i class="fa fa-search ng-star-inserted"></i>
                        </div>
                    </div>
                    <div class="asset-browser-button-group btn-small">
                        <button (click)="goToPrevious()" type="button" class="{{searchResults.length == 0 || searchCurrentItem == 1 ? 'light' : ''}}"><i class="fa fa-chevron-up"></i></button>
                        <button (click)="goToNext()" type="button" class="{{searchResults.length == 0 || searchCurrentItem == searchResults.length ? 'light' : ''}}"><i class="fa fa-chevron-down"></i></button>
                    </div>
                </div>
                <div class="controls-right">
                    <div class="asset-browser-button-group">
                        <button type="button" title="Filter asset browser" (click)="filterButtonClick($event)" [class]="filterButtonSelectedClass()"><i class="fa fa-filter"></i></button>
                        <div class="button-spacer"></div>
                        <button type="button" title="Information window" (click)="infoButtonClick($event)" [class]="infoButtonSelectedClass()" [disabled]="isInfoTabDisabled"><i class="fa fa-info-circle"></i></button>
                        <button type="button" title="Refresh asset browser" (click)="refreshButtonClick($event)"><i class="fa fa-refresh"></i></button>
                        <button type="button" title="Add Lineage" (click)="addRelationshipsClick($event)" [class]="addButtonSelectedClass()"><i class="fa fa-plus"></i></button>
                        <button type="button" title="Download to PNG" (click)="savePngButtonClick($event)" class="right-margin-4"><i class="fa fa-download"></i></button>
                        <div class="button-spacer"></div>
                        <button type="button" [class]="alertButtonClass()" [ngStyle]="{'width': alertButtonWidth()}" title="Alerts" (click)="alertButtonClick($event)" [disabled]="totalAlertCount == 0">
                            <i [class]="alertCountClass()"></i>
                            <div [class]="alertCountNumberClass()" [innerText]="alertCountNumber()"></div>
                        </button>
                        <button type="button" title="{{isFullScreen ? 'Minimize':'Full screen'}}" (click)="fullScreenButtonClick($event)"><i class="fa" [ngClass]="{'fa-compress' : isFullScreen, 'fa-arrows-alt' : !isFullScreen}"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isLoading">
                <div class="col s12" style="position: absolute;z-index: 0;">
                    <d3s-loading isLoading="true">{{loadingText}}</d3s-loading>
                </div>
            </div>
            <div class="row" style="position: relative">
                <div class="col s12" style="padding: 0">

                    <div #diagram id="LineageDiagram" style="overflow: hidden;" class="diagram"></div>


                    <div class="asset-browser-window-header" *ngIf="isFilterWindowVisible">
                        <div class="asset-browser-window-header-name">Filters</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="asset-browser-window-content asset-browser-window-content-padded" *ngIf="isFilterWindowVisible">
                        <div class="filter-section">
                            <div class="filter-header">Asset Ancestry</div>
                            <div>
                                <p-dropdown [options]="filterSelectionsModel?.AncestryOptions" [ngModel]="filterModel.AncestryMode" (ngModelChange)="filterModel.AncestryMode = $event; filterAncestryModeChange()" styleClass="filter-dropdown"></p-dropdown>
                            </div>
                        </div>

                        <div class="filter-section">
                            <div class="filter-header"># Hops To Load</div>
                            <div>
                                <p-dropdown [options]="filterSelectionsModel?.HopOptions" [ngModel]="filterModel.NumberOfHops" (ngModelChange)="filterModel.NumberOfHops = $event; filterNumberOfHopsChange()" styleClass="filter-dropdown"></p-dropdown>
                            </div>
                        </div>

                        <div class="filter-section">
                            <div class="filter-header">Display</div>
                            <div>
                                <div>
                                    <p-checkbox [(ngModel)]="filterModel.DisplayBadges" binary="true" label="Badges" labelStyleClass="filter-checkbox-label" (ngModelChange)="filterBadgesChange()"></p-checkbox>
                                </div>
                                <div>
                                    <p-checkbox [(ngModel)]="filterModel.DisplayIcons" binary="true" label="Icons" labelStyleClass="filter-checkbox-label" (ngModelChange)="filterDisplayIconsChange()"></p-checkbox>
                                </div>
                                <div>
                                    <p-checkbox [(ngModel)]="filterModel.DisplayScores" binary="true" label="Scores" labelStyleClass="filter-checkbox-label" (ngModelChange)="saveFilter()"></p-checkbox>
                                </div>
                            </div>
                        </div>

                        <div class="filter-section">
                            <div class="filter-header">Hide by Asset Type</div>
                            <d3s-loading [isLoading]="filtersLoading"></d3s-loading>
                            <p-tree [value]="filterSelectionsModel?.FilterAssetTypes"
                                    [hidden]="filtersLoading"
                                    selectionMode="checkbox"
                                    styleClass="filter-tree"
                                    [selection]="selectedFilterAssetTypes"
                                    (selectionChange)="selectedFilterAssetTypes = $event; filterAssetTypeChange($event)"
                                    (onNodeExpand)="resizeDiagram()"
                                    [propagateSelectionUp]="false"
                                    [propagateSelectionDown]="true">
                                <ng-template let-node pTemplate="default">
                                    <div style="word-break: break-word; max-width: 275px;">{{node.label}}</div>
                                </ng-template>
                            </p-tree>
                        </div>

                        <div class="filter-section">
                            <div class="filter-header" *ngIf="filterSelectionsModel?.FilterPredicates && filterSelectionsModel?.FilterPredicates.length > 0">Hide by Impact Predicate</div>
                            <d3s-loading [isLoading]="filtersLoading"></d3s-loading>
                            <p-tree [value]="filterSelectionsModel?.FilterPredicates"
                                    [hidden]="filtersLoading"
                                    selectionMode="checkbox"
                                    styleClass="filter-tree"
                                    [selection]="selectedFilterPredicates"
                                    (selectionChange)="selectedFilterPredicates = $event; filterPredicateChange($event)"
                                    (onNodeExpand)="resizeDiagram()"
                                    [propagateSelectionUp]="false"
                                    [propagateSelectionDown]="true">
                                <ng-template let-node pTemplate="default">
                                    <div style="word-break: break-word; max-width: 275px;">{{node.label}}</div>
                                </ng-template>
                            </p-tree>
                        </div>

                        <div class="filter-section">
                            <div class="filter-header" *ngIf="filterSelectionsModel?.FilterResponsibilityTypes && filterSelectionsModel?.FilterResponsibilityTypes.length > 0">Hide by Responsible Party</div>
                            <d3s-loading [isLoading]="filtersLoading"></d3s-loading>
                            <p-tree [value]="filterSelectionsModel?.FilterResponsibilityTypes"
                                    [hidden]="filtersLoading"
                                    selectionMode="checkbox"
                                    styleClass="filter-tree"
                                    [selection]="selectedFilterResponsibilityTypes"
                                    (selectionChange)="selectedFilterResponsibilityTypes = $event; filterResponsibilityTypeChange($event)"
                                    (onNodeExpand)="resizeDiagram()"
                                    [propagateSelectionUp]="false"
                                    [propagateSelectionDown]="true">
                                <ng-template let-node pTemplate="default">
                                    <div style="word-break: break-word; max-width: 275px;">{{node.label}}</div>
                                </ng-template>
                            </p-tree>
                        </div>
                    </div>

                    <div class="asset-browser-tab">
                        <d3s-diagram-relationships *ngIf="isAddRelationshipWindowVisible"
                                                   [assetBrowserData]="responseModel"
                                                   (refreshDiagram)="refreshButtonClick($event)"></d3s-diagram-relationships>
                    </div>

                    <div *ngIf="isInfoWindowVisible" class="asset-browser-window-header">
                        <div class="asset-browser-window-header-name" *ngIf="isAlertTabEnabled">Alerts</div>
                        <div class="asset-browser-window-header-name" [title]="selectedDiagramAsset?.DisplayValue" *ngIf="!isAlertTabEnabled">
                            <a [routerLink]="selectedDiagramAsset?.Url">{{selectedDiagramAsset?.DisplayValue}}</a>
                        </div>
                        <div class="asset-browser-window-header-class" *ngIf="!isAlertTabEnabled">{{selectedDiagramAsset?.AssetTypeClassDisplayName}}</div>
                        <div class="clearfix"></div>
                    </div>
                    <div *ngIf="isInfoWindowVisible" class="asset-browser-window-content">
                        <p-tabView>
                            <p-tabPanel header="Alerts" [disabled]="!isAlertTabEnabled">
                                <d3s-loading [(isLoading)]="isWindowLoading"></d3s-loading>
                                <p-contextMenu [target]="alertPanelContent" [model]="alertContextItems"></p-contextMenu>
                                <div #alertPanelContent [(hidden)]="isWindowLoading" class="asset-browser-window-tabs-content">
                                    <div *ngIf="alerts.length == 0" class="error-msg">
                                        No alerts displayed.
                                    </div>
                                    <div class="asset-browser-window-tabs-content-alert" *ngFor="let alert of alerts">
                                        <div class="asset">
                                            <span [className]="'icon fa ' + alert.asset.icon"></span>
                                            <span>{{alert.asset.displayValue}}</span>
                                        </div>
                                        <div class="action" *ngIf="alert.action">
                                            <div>
                                                <span class="label">Action Alert:</span>
                                                <span class="type">{{alert.action.name}}</span>
                                            </div>
                                            <div class="content" [innerHTML]="alert.action.description"></div>
                                        </div>
                                        <div class="score" *ngIf="alert.score">
                                            <div>
                                                <span class="label">Quality Alert:</span>
                                                <span class="type">{{alert.score.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Details" [disabled]="!isInfoWindowVisible">
                                <d3s-loading [(isLoading)]="isWindowLoading"></d3s-loading>
                                <div [(hidden)]="isWindowLoading" class="asset-browser-window-tabs-content">
                                    <div class="asset-browser-window-tabs-content-field">
                                        <div class="asset-browser-window-tabs-content-field-name">Full Path:</div>
                                        <div style="word-break:break-word">{{selectedDiagramAsset?.Path}}</div>
                                    </div>

                                    <div class="asset-browser-window-tabs-content-field">
                                        <span class="asset-browser-window-tabs-content-field-name">Type:&#160;</span>
                                        <span>{{selectedDiagramAsset?.TypeName}}</span>
                                    </div>

                                    <div *ngIf="filterModel.DisplayScores">
                                        <div class="asset-browser-window-tabs-content-field" *ngFor="let field of selectedDiagramAsset?.Scores">
                                            <span class="asset-browser-window-tabs-content-field-name">{{ field.Name }}:&#160;</span>
                                            <span class="asset-browser-score"
                                                  [ngClass]="{
                                                    'fail':scoreBetween(field.Value,0,49),
                                                    'ok':scoreBetween(field.Value,50,89),
                                                    'good':scoreBetween(field.Value,90,1000)
                                                }">{{field.Value}}%</span>
                                        </div>
                                    </div>

                                    <div class="asset-browser-window-tabs-content-field" *ngFor="let field of selectedDiagramAsset?.Fields">

                                        <ng-container [ngSwitch]="field.Type">
                                            <ng-container *ngSwitchCase="'Date'">
                                                <span *ngIf="field.Value !== ''" class="asset-browser-window-tabs-content-field-name">{{ field.Name }}:&#160;</span>
                                                <span *ngIf="field.Value !== ''">{{(field.Value | date:'shortDate')}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'DateTime'">
                                                <span *ngIf="field.Value !== ''" class="asset-browser-window-tabs-content-field-name">{{ field.Name }}:&#160;</span>
                                                <span *ngIf="field.Value !== ''">{{(field.Value | date:'medium')}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'Boolean'">
                                                <span class="asset-browser-window-tabs-content-field-name">{{ field.Name }}:&#160;</span>
                                                <span>
                                                    <i *ngIf="(field.Value || '').toUpperCase() == 'TRUE'" class="fa fa-check enabled" title="True"></i>
                                                    <i *ngIf="(field.Value || '').toUpperCase() == 'FALSE'" class="fa fa-times disabled" title="False"></i>
                                                </span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'JSON'">
                                                <div class="asset-browser-window-tabs-content-field-name">{{ field.Name }}:</div>
                                                <div *ngIf="GetJSON(field.Value) == 'Error'; else showJSON">{{field.Value}}</div>
                                                <ng-template #showJSON>
                                                    <ngx-json-view [data]="GetJSON(field.Value)"></ngx-json-view>
                                                </ng-template>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'Html'">
                                                <div *ngIf="field.Value !== ''" class="asset-browser-window-tabs-content-field-name">{{ field.Name }}:</div>
                                                <div *ngIf="field.Value !== ''" [innerHtml]="field.Value | safeHtml"></div>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'Link'">
                                                <span *ngIf="field.Value !== ''" class="asset-browser-window-tabs-content-field-name">{{ field.Name }}:&#160;</span>
                                                <span class="asset-browser-window-tabs-content-field-content FieldDisplayContent" *ngIf="field.Value !== ''" [innerHtml]="field.Value"></span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'Tag'">
                                                <div class="asset-browser-window-tabs-content-field-name">{{field.Name}}:</div>
                                                <div>
                                                    <d3s-tag-view [data]="field.Values" [assetUID]="selectedDiagramAsset.Uid" [isEditable]="false" [allowAddTag]="false"></d3s-tag-view>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                <span *ngIf="field.Value !== ''" class="asset-browser-window-tabs-content-field-name">{{ field.Name }}:&#160;</span>
                                                <span *ngIf="field.Value != null" [innerHtml]="field.Value"></span>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Ownership" headerStyleClass="asset-browser-window-tabs-header" [disabled]="!OwnershipTabEnabled()">
                                <div class="asset-browser-window-tabs-content">
                                    <p-table #dt [value]="selectedDiagramAsset?.Owners" [metaKeySelection]="true" [style]="{'width':'450px'}">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 50%">Responsibility</th>
                                                <th style="width: 45%">Resource</th>
                                                <th style="width: 5%"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-item>
                                            <tr (dblclick)="onDoubleClick(item)" [pSelectableRow]="item">
                                                <td>
                                                    <d3s-preview-tooltip objectType="ResponsibilityType" [objectId]="item.ResponsibilityTypeID">{{item.ResponsibilityTypeName}}</d3s-preview-tooltip>
                                                </td>
                                                <td>
                                                    <d3s-preview-tooltip objectType="Resource" [objectId]="item.ResourceID">{{item.ResourceName}}</d3s-preview-tooltip>
                                                </td>
                                                <td><i [class]="ownerRowClass(item.Icon)" [title]="item.SecurityAssetName"></i></td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </p-tabPanel>
                        </p-tabView>
                    </div>

                    <div class="asset-browser-controls-bottom">
                        <div class="asset-browser-button-group zoom-controls">
                            <button type="button" title="Zoom out" (click)="zoomOutButtonClick($event)"><i class="fa fa-minus-circle"></i></button>
                            <span class="diagram-zoom">{{zoomText}}</span>
                            <button type="button" title="Zoom in" (click)="zoomInButtonClick($event)"><i class="fa fa-plus-circle"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>