<div *ngIf="isFullScreen" class="modal-background"></div>
<div class="row asset-browser" [ngClass]="{'full-screen-ab': isFullScreen}">
    <div #relationshipBadgesTooltip [hidden]="!isRelationshipBadgeTooltipVisible"
         class="p-tooltip p-component p-tooltip-top ig-tooltip ig-tooltip-big">
        <div class="p-tooltip-text" [innerHTML]="relationshipBadgeHtml"></div>
    </div>

    <div class="asset-browser-body col s12">
        <div style="padding: 0; margin-bottom: 0">
            <div [hidden]="isLoading" [class]="isFullScreen ? 'asset-browser-header expanded' : 'asset-browser-header'">
                <div class="controls-left">
                    <div style="display: inline-flex">
                        <d3s-assetbrowser-viewchange [current]="displayConfiguration.DiagramType" (apply)="viewchange_Apply($event)" [items]="diagramTypes?.items"></d3s-assetbrowser-viewchange>
                    </div>
                    <div class="button-spacer"></div>
                    <div style="display: inline-flex">
                        <d3s-assetbrowser-search *ngIf="displayConfiguration.DiagramType != 3" (next)="search_GoToResult($event)" [numberOfResults]="searchResults.length" (previous)="search_GoToResult($event)" (search)="search_Execute($event)"></d3s-assetbrowser-search>

                        <ng-container *ngIf="displayConfiguration.DiagramType == 3">
                            <ng-container *ngIf="!canEditProcessDiagram()">
                                <ng-container *ngIf="!isProcessDiagramEmpty()">
                                    <button pTooltip="View and edit relationships for the selected item" tooltipPosition="top" tooltipStyleClass="ig-tooltip" igButton label="Item Relationships" id="igx-relationship-items" class="ig-button-pad-right" [disabled]="!processDiagramRef || !processDiagramRef.selectedNodeData" (click)="processDiagramRef.doControlledAction('open-related-assets')"></button>
                                    <button pTooltip="Export to Excel" tooltipPosition="top" tooltipStyleClass="ig-tooltip" igButton icon="fa-download" tooltip="Export to Excel" [disabled]="!processDiagramRef || !processDiagramRef.isDiagramLoaded" (click)="processDiagramRef.doControlledAction('export')"></button>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="canEditProcessDiagram()">
                                <button pTooltip="Edit Process Diagram" tooltipPosition="top" tooltipStyleClass="ig-tooltip" *ngIf="canEditProcessDiagram()" igButton [disabled]="!processDiagramRef || !processDiagramRef.isDiagramLoaded" class="ig-button-primary" icon="fa-pencil" label="Edit" (click)="editProcess()"></button>
                                <ng-container *ngIf="!isProcessDiagramEmpty()">
                                    <div class="button-spacer"></div>
                                    <button pTooltip="View and edit relationships for the selected item" tooltipPosition="top" tooltipStyleClass="ig-tooltip" igButton label="Item Relationships" id="igx-relationship-items" class="ig-button-pad-right" [disabled]="!processDiagramRef || !processDiagramRef.selectedNodeData" (click)="processDiagramRef.doControlledAction('open-related-assets')"></button>
                                    <div class="menu-wrapper" *ngIf="processDiagramRef">
                                        <button type="button" igButton icon="fa-ellipsis-v" (click)="menu.toggle($event)" pTooltip="More actions" tooltipPosition="top" tooltipStyleClass="ig-tooltip"></button>
                                        <ig-popup-menu [items]="processDiagramRef.popupMenuItems" #menu [tabIndex]="10"></ig-popup-menu>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="isProcessDiagramEmpty()">
                                    <button [disabled]="!processDiagramRef || !processDiagramRef.isDiagramLoaded || processDiagramRef.hasNoImportAssets" pTooltip="Import diagram from another asset" tooltipPosition="top" tooltipStyleClass="ig-tooltip" igButton icon="fa-upload" label="Import Diagram" (click)="processDiagramRef.doControlledAction('open-diagram-import')"></button>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>

                </div>
                <div class="controls-right">
                    <ng-container *ngIf="displayConfiguration.DiagramType == 3 && !isProcessDiagramEmpty()">
                        <button pTooltip="Diagram View" tooltipPosition="top" tooltipStyleClass="ig-tooltip" igButton class="ig-button ig-button-icon-only {{(getProcessDiagramViewType() == 'diagram') ? 'ig-state-active' : ''}}" icon="fa-sitemap" (click)="processDiagramRef.changeViewType('diagram')"></button>&nbsp;
                        <button pTooltip="List View" tooltipPosition="top" tooltipStyleClass="ig-tooltip" igButton class="ig-button ig-button-icon-only {{(getProcessDiagramViewType() == 'list') ? 'ig-state-active' : ''}}" icon="fa-list" (click)="processDiagramRef.changeViewType('list')"></button>
                        <div class="button-spacer"></div>
                        <button pTooltip="Information Panel" tooltipPosition="left" tooltipStyleClass="ig-tooltip" igButton icon="fa-info-circle" class="ig-button ig-button-icon-only {{(processDiagramRef && processDiagramRef.isInfoPanelOpened) ? 'ig-state-active' : ''}}" (click)="openProcessDiagramInfo()"></button>
                    </ng-container>
                    <div class="asset-browser-button-group">
                        <d3s-assetbrowser-panels (click)="panels_Click($event)"
                                                 [diagramType]="displayConfiguration.DiagramType"
                                                 [enableAdd]="helper_LineageDiagramApplies() && panel_InformationHasReadAccess"
                                                 [enableDownload]="!isError"
                                                 [enableInformation]="!panel_InformationDisabled"
                                                 [isFullScreen]="isFullScreen"
                                                 [totalAlertCount]="totalAlertCount"
                                                 [addSelected]="panelModel.AddVisible"
                                                 [alertsSelected]="panelModel.AlertVisible"
                                                 [filtersSelected]="panelModel.FiltersVisible"
                                                 [informationSelected]="panelModel.InformationVisible"
                                                 [settingsSelected]="panelModel.SettingsVisible"></d3s-assetbrowser-panels>

                    </div>

                </div>
            </div>
            <div class="row" *ngIf="isLoading">
                <div class="col s12" style="position: absolute; z-index: 0;">
                    <d3s-loading isLoading="true">{{loadingText}}</d3s-loading>
                </div>
            </div>
            <div class="row" *ngIf="isError">
                <div class="col s12 error-panel" [style.padding-right]="panelModel.InformationVisible ? '400px' : null">
                    <div><i class="fa fa-2x fa-exclamation-circle"></i></div>
                    <div>{{errorText}}</div>
                </div>
            </div>
            <div class="row" style="position: relative;" *ngIf="displayConfiguration.DiagramType != 3">
                <div class="col s12 diagram-container">
                    <div #relationshipBadges
                         [hidden]="!isRelationshipSelectorAvailable"
                         class="relationship-badges-overlay">
                        <ng-container *ngIf="followPart && followPart.data.relations">
                            <div class="relationships" style="transform: scale({{scale}});transform-origin: {{transformOrigin}};">
                                <div [ngClass]="{'relation-item':true, 'expanded': rel.expanded && !rel.showLoading }"
                                     *ngFor="let rel of relationshipData;let i = index"
                                     (click)="htmlBadgeClick(i)">
                                    <div class="item-icon">
                                        <i *ngIf="!rel.expanded && !rel.showLoading" class="rel-expand-icon fa fa-plus-square"></i>
                                        <i *ngIf="rel.expanded && !rel.showLoading" class="rel-expand-icon fa fa-minus-square"></i>
                                        <i *ngIf="rel.showLoading" class="rel-expand-icon fa fa-spinner fa-spin"></i>
                                    </div>
                                    <div class="item-name">
                                        {{rel.text}}
                                    </div>
                                    <div class="count-badge"
                                         pTooltip="{{getRelBadgeTooltip(rel, followPart?.data?.hierarchyKey)}}"
                                         tooltipPosition="top"
                                         tooltipStyleClass="ig-tooltip ig-tooltip-big"
                                         [escape]="false">
                                        {{this.formatBadgeNumber(rel.count)}}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <div #diagram id="LineageDiagram" class="diagram"></div>

                    <div *ngIf="isWindowVisible()" class="asset-browser-window">
                        <div class="asset-browser-window-container">
                            <div class="asset-browser-window-header" [hidden]="panelModel.InformationVisible">


                                <div class="info">
                                    <div class="asset-name">
                                        <span *ngIf="panelModel.FiltersVisible">Apply Filters</span>
                                        <span *ngIf="panelModel.AlertVisible">Active Alerts</span>
                                        <span *ngIf="panelModel.AddVisible">Add Lineage</span>
                                        <span *ngIf="panelModel.SettingsVisible">Settings</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="windowtabs" *ngIf="!panelModel.AddVisible">
                                    <d3s-assetbrowser-savedfilter *ngIf="panelModel.FiltersVisible" [diagramType]="displayConfiguration.DiagramType" [options]="filter_AvailableOptions" [filterModel]="displayConfiguration" (applySavedFilter)="savedfilter_Apply($event)"></d3s-assetbrowser-savedfilter>

                                    <button *ngIf="panelModel.AlertVisible" class="tab-selected">Alerts</button>

                                    <button *ngIf="panelModel.SettingsVisible" class="tab-selected">General</button>
                                </div>
                            </div>
                            <div class="asset-browser-window-content">
                                <section *ngIf="panelModel.AddVisible">
                                    <div #addLineagePanel class="scroll-panel no-tabs">
                                        <d3s-loading [(isLoading)]="panel_Loading"></d3s-loading>
                                        <d3s-assetbrowser-addpanel [assetBrowserData]="diagramData" (refreshDiagram)="helper_RefreshDiagram($event)"></d3s-assetbrowser-addpanel>
                                    </div>
                                </section>

                                <section *ngIf="panelModel.AlertVisible">
                                    <div #alertPanel class="scroll-panel">
                                        <d3s-loading [(isLoading)]="panel_Loading"></d3s-loading>
                                        <d3s-assetbrowser-alertpanel [assets]="selectedAssetsWithAlerts" (openDetail)="alert_OpenDetail($event)"></d3s-assetbrowser-alertpanel>
                                    </div>
                                </section>

                                <section *ngIf="panelModel.FiltersVisible">
                                    <div #filterDetailPanel class="scroll-panel no-tabs">
                                        <d3s-loading [(isLoading)]="panel_Loading"></d3s-loading>
                                        <d3s-assetbrowser-filterpanel [allowAncestry]="helper_LineageDiagramApplies()" [options]="filter_AvailableOptions" [current]="displayConfiguration" (apply)="filterpanel_Apply($event)"></d3s-assetbrowser-filterpanel>
                                    </div>
                                </section>

                                <section *ngIf="panelModel.InformationVisible" class="detail">
                                    <ng-container *ngIf="panel_TabIndex == 0">
                                        <ng-container *ngIf="selectedDiagramAsset != null">
                                            <ng-container *ngIf="panel_InformationHasReadAccess == true">
                                                <div #infoDetailPanel class="scroll-panel">
                                                    <d3s-loading [(isLoading)]="panel_Loading"></d3s-loading>
                                                    <ig-asset-detail *ngIf="!panel_Loading && selectedDiagramAsset && selectedDiagramAsset.Object"
                                                                     [objectType]="selectedDiagramAsset.Object"
                                                                     [objectID]="selectedDiagramAsset.ObjectId"
                                                                     [useAccordion]="true"
                                                                     [shouldBePadded]="false"
                                                                     [tooltipAlign]="'left'"
                                                                     [isSidePanel]="true"
                                                                     [showHeader]="true"
                                                                     [hasAddRelationshipsPermissions]="false"
                                                                     [hasModifyRelationshipsPermissions]="false"
                                                                     [hasDeleteRelationshipsPermissions]="false"></ig-asset-detail>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="panel_InformationHasReadAccess == false">
                                                <div #infoDetailPanel class="empty-overlay">
                                                    <div class="content">
                                                        <div class="icon-holder">
                                                            <i class="fa fa-ban"></i>
                                                        </div>
                                                        <span>You do not have permission to view the details of the selected item</span>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="selectedDiagramAsset == null">
                                            <div #infoDetailPanel class="empty-overlay">
                                                <div class="content">
                                                    <div class="icon-holder">
                                                        <i class="fa fa-info-circle"></i>
                                                    </div>
                                                    <span>Select an item from the diagram to display its properties</span>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </section>

                                <section *ngIf="panelModel.SettingsVisible">
                                    <div #settingsPanel class="scroll-panel no-tabs">
                                        <d3s-loading [(isLoading)]="panel_Loading"></d3s-loading>
                                        <d3s-assetbrowser-settingspanel [allowAncestry]="helper_LineageDiagramApplies()" [current]="displayConfiguration" (apply)="settingspanel_Apply($event)"></d3s-assetbrowser-settingspanel>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>

                    <d3s-assetbrowser-overview [hidden]="isLoading" #overview></d3s-assetbrowser-overview>

                    <div class="asset-browser-controls-bottom" [hidden]="isLoading" [style.right]="isWindowVisible() ? '455px' : '40px'">
                        <d3s-assetbrowser-zoom [scale]="scale" (change)="zoom_Change($event)" [enabled]="!isError"></d3s-assetbrowser-zoom>
                    </div>

                </div>
            </div>

            <div class="row" style="position: relative" *ngIf="displayConfiguration.DiagramType == 3">
                <div class="col s12" style="padding: 0">
                    <d3s-process-diagram #processDiagram (saveState)="processDiagramSavedState($event)" [assetUid]="originalAssetUid" (editModeClosed)="isProcessDiagramInEditMode = false" [isFullScreen]="isFullScreen" [isEditMode]="isProcessDiagramInEditMode"></d3s-process-diagram>
                </div>
            </div>
        </div>
    </div>
</div>