# ignore versioning file that is built with every solution build in VS
\d360.core\versioning.cs

# ignore compiled js files
\d360.web\Scripts\app\app.js
\d360.web\Scripts\all.js
\d360.web\Scripts\all.min.js
\d360.web\Scripts\app\*.chunk.js
\d360.web\Scripts\app\*.bundle.js

# Ignore cache files
*.cache

# Ignore .cer files
*.cer

# Ignore .pubxml files
*.pubxml

# Ignore all files in the Temp sub-folder
\node_modules
\WebJob1

# Ignore application config
\.vs\config\*.config

# Ignore xml documentation files
/d360.web/App_Data/Documentation.XML

# Ignore compiled css files
\d360.web\Content\styles\*.min.css
\d360.web\Content\styles\ang.css
\d360.web\Content\styles\angular.css
\d360.web\Content\styles\Root.css
\d360.web\Content\styles\Diagrams.css
\d360.web\Content\styles\ContentFormatting.css
\d360.web\Content\styles\Tooltip.css
\d360.web\Content\styles\typeahead.css
\d360.web\Content\styles\selectlistinfoitem.css
\d360.web\Content\styles\selectlistinfoitem.min.css

# Ignore retrieved packages except 2 required DLLs
\.vs
\.nuget
\packages\*
!\packages\repositories.config
!\packages\gudusoft.gsqlparser.dll
!\packages\ComponentSpace.SAML2.dll

# Ignore user settings
*.user

/*/bin
/*/obj
\*\node_modules

/d360.web/Scripts/app/*.map
/d360.web/Scripts/app/*.js
/d360.web/Content/quill/v1.3.4/*.min.css
/d360.web/Content/primeng/v7.1.3/*.min.css
/d360.web/Content/styles/typeahead.min.css
/d360.web/Content/styles/typeahead.css
/d360.web/Content/styles/selectlistinfoitem.css
/d360.web/Content/styles/selectlistinfoitem.min.css
/d360.web/Content/styles/Tooltip.min.css
/d360.web/Content/styles/Tooltip.css
/d360.web/Content/styles/Root.min.css
/d360.web/Content/styles/Root.css
/d360.web/Content/styles/materialize.min.css
/d360.web/Content/styles/Diagrams.min.css
/d360.web/Content/styles/Diagrams.css
/d360.web/Content/styles/ContentFormatting.min.css
/d360.web/Content/styles/ContentFormatting.css
/d360.web/Content/styles/angular.min.css
/d360.web/Content/styles/angular.css
/d360.web/Content/styles/ang.min.css
/d360.web/Content/styles/ang.css
/d360.web/package-lock.json

/d360.database.company
/packages

/utilities/igx.CertificateManager/bin
/utilities/igx.CertificateManager/obj
/utilities/igx.GovernRestClient/bin
/utilities/igx.GovernRestClient/governrestclient
/utilities/igx.GovernRestClient/obj
/utilities/igx.GovernRestClient/publish
/utilities/igx.PostFusionJob/bin
/utilities/igx.PostFusionJob/obj
/utilities/igx.TrainingDatabaseManager/bin
/utilities/igx.TrainingDatabaseManager/obj
/utilities/igx.UpdateDatabases/bin
/utilities/igx.UpdateDatabases/obj
/d360.web/Content/styles/selectlistinfoitem.min.css
/d360.web/Content/styles/selectlistinfoitem.css
/d360.web/Content/styles/materialize.css
/d360.web/Scripts/dist/*.js
/d360.web/Scripts/dist/*.map
/d360.web/App_Data
/d360.web/Content/quill/v1.3.7/quill.snow.min.css
/d360.web/Content/primeng/v11.1.0/theme.min.css
/d360.web/Content/primeng/v11.1.0/theme.css
/d360.web/Content/primeng/v11.1.0/primeng.min.css
/d360.web/Content/primeng/v11.1.0/default.min.css
/d360.web/Content/primeng/v11.1.0/default.css
/d360.web/Scripts/lib
/d360.web/lib

#Mac Users
.DS_Store
/MigrationBackup
/d360.web/Scripts/dist/styles.css
/d360.web/Scripts/dist/related-assets-icon.svg
/d360.web/Scripts/dist/index.html
/d360.web/Scripts/dist/HomeBG.png
/d360.web/Scripts/dist/3rdpartylicenses.txt
/d360.web/Scripts/dist/fr
/d360.web/Scripts/dist/en-US
/d360.web/Scripts/dist/de
