######################################
# ignore compiled js files
\d360.web\Scripts\app\app.js
\d360.web\Scripts\all.js
\d360.web\Scripts\all.min.js
\d360.web\Scripts\app\*.chunk.js
\d360.web\Scripts\app\*.bundle.js

# Ignore cache files
*.cache

# Ignore .cer files
*.cer

# Ignore .pubxml files
*.pubxml

# Ignore all files in the Temp sub-folder
\node_modules
\WebJob1

# Ignore application config
\.vs\config\*.config

# Ignore compiled css files
\d360.web\Content\styles\*.min.css
\d360.web\Content\styles\ang.css
\d360.web\Content\styles\angular.css
\d360.web\Content\styles\Root.css
\d360.web\Content\styles\Diagrams.css
\d360.web\Content\styles\ContentFormatting.css
\d360.web\Content\styles\Tooltip.css
\d360.web\Content\styles\typeahead.css

# Ignore retrieved packages except 2 required DLLs
\.vs
\.nuget
\packages
!repositories.config
!\packages\gudusoft.gsqlparser.dll
!\packages\ComponentSpace.SAML2.dll

# Ignore user settings
*.user

/d360.web/bin
/d360.web/obj/Debug
/d360.web/Scripts/app
/igx.jobs/bin/Debug
/igx.jobs/obj/Debug
/igx.jobs.fusiondeploymentprocessor/obj/Debug
/igx.jobs.eaglemessagestreamprocessor/obj/Debug
/igx.jobs.fusionruleprocessor/obj/Debug
/igx.jobs.fusionscheduleprocessor/obj/Debug
/igx.jobs.fusionloadprocessor/obj/Debug
/igx.jobs.indexer/obj/Debug
/igx.jobs.reportlayer/obj/Debug
/igx.jobs.igc/obj/Debug
/igx.tests/bin/Debug
/igx.tests/obj/Debug
/igx.jobs.workflowsubscriber/obj/Debug
/igx.jobs.scoreprocessor/obj/Debug
/igx.jobs.workflowdigestprocessor/obj/Debug
/igx.jobs.scheduledworkflowprocessor/obj/Debug
/igx.jobs.ruleresultprocessor/obj/Debug
/igx.jobs.resourcecache/obj/Debug
/igx.jobs.responsibilityruleprocessor/obj/Debug
/d360.core/bin/Debug
/d360.core/obj/Debug
/d360.database.company/bin/Debug
/d360.database.company/obj/Debug
/d360.database.company/d360.database.company.jfm
/d360.database.company/d360.database.company.dbmdl
/d360.extensions/bin/Debug
/d360.extensions/obj/Debug
/d360.model/bin/Debug
/d360.model/obj/Debug
/igx.jobs.bulkloadprocessor/obj/Debug
/igx.jobs.databasecleaner/obj/Debug
/d360.utils/bin/Debug
/d360.utils/obj/Debug
/d360.utils.company/bin/Debug
/d360.utils.company/obj/Debug
/d360.web/Content/styles/typeahead.min.css
/d360.web/Content/styles/typeahead.css
/d360.web/Content/styles/Tooltip.min.css
/d360.web/Content/styles/Tooltip.css
/d360.web/Content/styles/Root.min.css
/d360.web/Content/styles/Root.css
/d360.web/Content/styles/materialize.min.css
/d360.web/Content/styles/Diagrams.min.css
/d360.web/Content/styles/Diagrams.css
/d360.web/Content/styles/ContentFormatting.min.css
/d360.web/Content/styles/ContentFormatting.css
/d360.web/Content/styles/angular.min.css
/d360.web/Content/styles/angular.css
/d360.web/Content/styles/ang.min.css
/d360.web/Content/styles/ang.css
/d360.web/package-lock.json
/igx.jobs.aws.bulkloader/obj/Debug/netcoreapp2.0
/igx.jobs.aws.reportlayer/obj/Debug/netcoreapp2.0
/igx.jobs.databasetaskprocessor/obj/Debug
/igx.jobs.dataqualitychecker/obj/Debug
/igx.jobs.aws.bulkloader/obj/Release/netcoreapp2.0
/igx.jobs.aws.reportlayer/obj/Release/netcoreapp2.0
