<div *ngIf="showHeader" class="title-bar" [ngClass]="{'menu-open': menuOpen}" [style.margin-left]="showNav ? null : '0'">
    <div class="title">
        <span *ngIf="!IsIcon(area.icon)" class="d3s-icon asset-icon"><img [src]="GetURL(area.icon)" /></span>
        <span *ngIf="IsIcon(area.icon)" class="d3s-icon asset-icon">
            <i *ngIf="!checkIfImg(area.icon)" class="fa {{area.icon}}"></i>
            <img class="d3s-asset-img" *ngIf=" checkIfImg(area.icon)" [src]="area.icon" />
        </span>
        <h1 title="{{area.title ? area.title: 'D3S'}}">{{area.title ? area.title: 'D3S'}}</h1>
        <d3s-simple-badge *ngIf="showDataClassification"
                          [badgeValue]="dataClassification"
                          [badgeType]="'DataClassification'">
        </d3s-simple-badge>
        <d3s-simple-badge *ngIf="showStatus"
                          [badgeValue]="status"
                          [badgeType]="'Status'">
        </d3s-simple-badge>
        <button class="button" *ngIf="showCertify" (click)="requestCertification()"><span i18n>Request Certification</span></button>
        <span class="grow"></span>
        <button class="button" (click)="navigateToSurvey()" *ngIf="showSurvey"><i class="fa fa-edit"></i><span i18n>Take Survey</span></button>
        <button *ngFor="let button of buttons" (click)="button.dynamicCallback()" [ngClass]="{'loading': button.isLoading}" class="primary button" [disabled]="button.disabled">
            <span class="content">{{button.text}}</span>
            <span *ngIf="button.isLoading" class="loader"><span class="spinner light"></span></span>
        </button>
        <div [style.width]="assetActionWidth > 0 ? assetActionWidth + 'px' : null" [style.display]="'flex'" *ngIf="assetAction && assetAction.isVisible">
            <span class="grow"></span>
            <button *ngIf="assetAction.showBack" (click)="assetAction.backCallback()" class="button">
                <i class="fa fa-arrow-left"></i><ng-container i18n>Back</ng-container>
            </button>
            <button *ngIf="assetAction.showEdit" (click)="assetAction.editCallback()" class="button">
                <i class="fa fa-pencil"></i><ng-container i18n>Edit</ng-container>
            </button>
            <button *ngIf="assetAction.showDelete" (click)="assetAction.deleteCallback()" class="button">
                <i class="fa fa-trash"></i><ng-container i18n>Delete</ng-container>
            </button>

            <ng-container *ngIf="assetAction.type === 'TAG' && assetAction.showEdit">
                <d3s-dynamic-editor [objectID]="assetAction.edit.objectID"
                                    [objectType]="assetAction.edit.objectType"
                                    [selection]="assetAction.edit.selected"
                                    [title]="assetAction.edit.title"
                                    (saveClick)="assetAction.edit.saveClick($event);"
                                    [showAsModal]="assetAction.edit.showAsModal"
                                    [modalTitle]="assetAction.edit.modalTitle"
                                    [isModalVisible]="assetAction.edit.isModalVisible"
                                    (closeClick)="assetAction.edit.closeClick()">
                </d3s-dynamic-editor>
            </ng-container>
            <ng-container *ngIf="assetAction.type === 'TAG' && assetAction.showDelete">
                <d3s-delete-form [callback]="assetAction.delete.callback"
                                 [method]="'callback'"
                                 [items]="assetAction.delete.item"
                                 [showAsModal]="assetAction.delete.showAsModal"
                                 [modalTitle]="assetAction.delete.modalTitle"
                                 [isModalVisible]="assetAction.delete.isModalVisible"
                                 (onCancel)="assetAction.delete.isModalVisible=false;">
                    <div prompt class="d-inline" i18n>
                        Please confirm that you wish to delete the tag '{{assetAction.delete.item.Value}}' (<d3s-tag-usage [uid]="assetAction.delete.item.uid">{{assetAction.delete.item.UseCount}} assets</d3s-tag-usage> tagged)
                    </div>

                </d3s-delete-form>
            </ng-container>
        </div>
        <span #scorecontainer *ngIf="searchDetails && searchDetails.Scores.length > 0" class="d3s-score-container">
            <d3s-score-badge (click)="OpenScoring(score.ScoreType)" *ngFor="let score of searchDetails.Scores" [score]="score" [precision]="1">
            </d3s-score-badge>
        </span>
    </div>
    <div *ngIf="(items && items.length > 0) || showOnlyMainTab" class="tab-view">
        <div class="tab-bar-outer">
            <button *ngIf="showScrollButtons" class="left tab-scroller" (click)="scroll('L')" [ngClass]="{'disabled':disableScrollLeft}" [disabled]="disableScrollLeft">
                <i class="fa fa-chevron-circle-left"></i>
            </button>
            <div #tabScroller class="tab-bar can-overflow" [ngStyle]="{'margin-left.px': showScrollButtons ? 40 : 0,'margin-right.px': showScrollButtons ? 40 : 0}">
                <button *ngIf="!isScoringScreen"
                        class="tab"
                        [ngClass]="{'selected':AllClosed()}"
                        (click)="itemClicked({active:false,title:'homeClick', url: 'blank'})">
                    {{area.tabTitle}}
                </button>
                <button class="tab"
                        title="{{getTitle(item)}}"
                        [ngClass]="{'selected':item.active}"
                        *ngFor="let item of items | genericFilter: filterScoringTabHasNoValue; trackBy: trackById;"
                        (click)="itemClicked(item);">
                    {{item.title}}
                    <span *ngIf="statistics?.CommentCount && item.title === 'Comments'" class="d3s-icon small-icon primary">{{statistics?.CommentCount}}</span>
                    <span *ngIf="!(item.count== null || item.count== undefined ) && item.title === 'Assets'" class="d3s-icon small-icon primary">{{item.count}}</span>
                    <span *ngIf="statistics?.IssueCount && item.title === 'Actions'" class="d3s-icon small-icon" [ngClass]="{'bad':actionsAssigned,'primary':!actionsAssigned}">{{statistics?.IssueCount}}</span>
                    <span *ngIf="item.warningMessage" class="sidebar-warning">
                        <d3s-info-tooltip [style]="'warning'">
                            <span *ngIf="item.warningMessage == 'GovRoleWarning'" i18n>
                                You must define your <strong>Governance Role</strong> settings in order to display and set the <strong>Governance Role</strong> property in your diagrams.
                            </span>
                        </d3s-info-tooltip>
                    </span>
                </button>
            </div>
            <button *ngIf="showScrollButtons" class="right tab-scroller" (click)="scroll('R')" [ngClass]="{'disabled':disableScrollRight}" [disabled]="disableScrollRight">
                <i class="fa fa-chevron-circle-right"></i>
            </button>
        </div>
    </div>
</div>
<d3s-modal [showTitle]="false" additionalClasses="request-cert small-dialog" (onClose)="closeCertifyModal()" [isVisible]="showCertifyModal">
    <div class="content">
        <div i18n>Click Confirm to request certification of this asset.</div>
    </div>
    <div class="action-bar">
        <button class="button" (click)="closeCertifyModal()" i18n>Cancel</button>
        <span class="grow"></span>
        <button class="button primary" (click)="certify()">
            <ng-container i18n>Confirm</ng-container>
            <span class="loader"><span class="spinner light"></span></span>
        </button>
    </div>
</d3s-modal>
<d3s-take-survey *ngIf="survey && !currentObject?.isType"
                 [isModalVisible]="showSurveyPopup"
                 [assetUid]="currentObject?.Uid"
                 [surveyType]="survey"
                 [ShowCloseButton]="true"
                 (surveyBack)="closeSurveyPopup()"
                 (surveyComplete)="handleComplete($event)">
</d3s-take-survey>