<header>{{mode}}
    <ng-container i18n>Styling Rules</ng-container>
</header>
<div class="clear"></div>
<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <form #styleForm="ngForm" (ngSubmit)="save()">
        <div class="row">
            <div class="col l6 m6 s12">
                <div class="FieldName" i18n>Selection</div>
                <div class="row">
                    <div class="col s12">
                        <p-dropdown [options]="selections" [(ngModel)]="model.SelectionType"
                                    (onChange)="selectionChange();" [ngModelOptions]="{standalone: true}"
                                    [style]="{ 'width' : '50%' }"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="FieldName" i18n>Background Color</div>
                <div class="row">
                    <div class="col s12">
                        <p-colorPicker [(ngModel)]="model.BgColor" name="backcolor"></p-colorPicker>
                        <input type="text" [(ngModel)]="model.BgColor" name="backcolortext"
                               style="padding:2px;width:65px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <div class="FieldName">{{model.SelectionType}}
                    <ng-container i18n>Number</ng-container>
                </div>
                <div class="row">
                    <div class="col s12">
                        <input *ngIf="model.SelectionType == 'Column'" min="1" max="99999" name="displayColumn"
                               style="height:25px;width:50%;display:block;" type="number" [(ngModel)]="model.Column"
                               required/>
                        <input *ngIf="model.SelectionType == 'Row'" min="1" max="99999" name="displayRow"
                               style="height:25px;width:50%;display:block;" type="number" [(ngModel)]="model.Row"
                               required/>
                        <input *ngIf="model.SelectionType == 'Header'" disabled min="1" max="99999" name="displayRow"
                               style="height:25px;width:50%;display:block;" type="number" [(ngModel)]="model.Row"
                               required/>
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="FieldName" i18n>Text Color</div>
                <div class="row">
                    <div class="col s12">
                        <p-colorPicker [(ngModel)]="model.TextColor" name="textcolor"></p-colorPicker>
                        <input type="text" [(ngModel)]="model.TextColor" name="textcolortext"
                               style="padding:2px;width:65px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 offset-l6 m6 offset-m6 s12">
                <div class="FieldName" i18n>Bold Text</div>
                <div class="row">
                    <div class="col s12">
                        <input pCheckbox type="checkbox" name="boldText" [(ngModel)]="model.IsBold"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 buttons">
                <button igButton type="submit" class="ig-button-primary" margin label="{{labelSave}}"
                        [disabled]="!styleForm.form.valid"></button>
                <button igButton type="button" class="ig-button-secondary" label="{{labelCancel}}"
                        (click)="onCancel.emit(null)"></button>
            </div>
        </div>
    </form>
</div>