<div class="row">
    <div class="col l4 m5 s12">
        <div class="tile tile-detail">
            <div>
                <header>Export Templates
                    <d3s-tile-actions [hasAdd]="!showDelete"
                                      (addClick)="selected=null;showEditor=true;showDelete=false;"></d3s-tile-actions>
                </header>
                <span>                        
                        <input type="text" pInputText size="100"
                               (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="{{searchText}}"
                               class="grid-simple-filter">
                        <p-table #dt [value]="exportTemplates" selectionMode="single" [metaKeySelection]="true"
                                 [globalFilterFields]="['Name']" sortField="Name" [sortOrder]="1" [pageLinks]="3"
                                 [paginator]="true" [rows]="defaultInitialItemsPerPage"
                                 [rowsPerPageOptions]="defaultPagingOptions" [(selection)]="selected"
                                 (selectionChange)="selectNode($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th [pSortableColumn]="'Name'">
                                        <ng-container i18n>Name</ng-container><d3s-sortIcon
                                            [field]="'Name'"></d3s-sortIcon>
                                    </th>
                                    <th style="width: 28px"></th>
                                    <th style="width: 28px"></th>
                                </tr>
                                <tr [hidden]="showSimpleFilter">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr [pSelectableRow]="item">
                                    <td>{{item.Name}}</td>
                                    <td>
                                        <div class="RowTools">
                                            <a style="cursor:pointer;" (click)="openEditor($event, item)"><i
                                                    class="fa fa-pencil"></i></a>
                                        </div>
                                    </td>
                                    <td> 
                                        <div class="RowTools">
                                            <a style="cursor:pointer;"
                                               (click)="selected=item;showDelete=true;showEditor=false"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows"
                                                      [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                            </ng-template>
                        </p-table>                         
                    </span>
            </div>
        </div>
    </div>
    <div class="col l8 m7 s12" *ngIf="showEditor || showDelete">
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <d3s-dynamic-editor *ngIf="showEditor" [objectID]="selected?.ID" [objectType]="'ExportTemplate'"
                                        [title]="'Export Template'" [selection]="selected"
                                        (saveClick)="saveExportTemplate($event)"
                                        (closeClick)="closeEditor()"></d3s-dynamic-editor>
                    <d3s-delete-form *ngIf="showDelete"
                                     [callback]="theDeleteCallback"
                                     [itemUid]="selected?.Uid"
                                     [method]="'callback'"
                                     [prompt]="deleteModalMsg"
                                     (onCancel)="showDelete=false;"
                    ></d3s-delete-form>
                </div>
            </div>
        </div>
    </div>
    <div class="col l8 m7 s12" *ngIf="!showEditor && !showDelete">
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail" *ngIf="selected &&!isLoading">
                    <object-detail [objectType]="'ExportTemplate'" [objectID]="selected?.ID"></object-detail>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail" *ngIf="selected">
                    <d3s-admin-export-template-fields-component [exportTemplate]="selected"
                                                                (saveFieldsClick)="saveFields($event)"></d3s-admin-export-template-fields-component>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail" *ngIf="selected">
                    <header>Template File</header>
                    <div class="row">
                        <div class="col s12" i18n>An Excel template file can be used as the starting point for an export
                            template, providing custom static content on a first worksheet. Exported data will be output
                            to a second worksheet.
                        </div>
                        <div class="col s12">&nbsp;</div>
                        <div class="col s2">
                            <p-fileUpload name="template" [url]="'./api/v2/ExportTemplates/TemplateFile/'+ selected.Uid"
                                          accept=".xls,.xlsx" maxFileSize="10000000" auto="auto"></p-fileUpload>
                        </div>
                        <div class="col s12">
                            <a style="padding-left:7px;padding-bottom:20px;cursor:pointer;" (click)="clearTemplate()">Remove
                                Template</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <d3s-admin-export-template-styles [exportViewType]="selected?.ExportViewType"
                                                  [templateId]="selected?.ID"></d3s-admin-export-template-styles>
            </div>
        </div>
    </div>
</div>