<div *ngIf="!showEditor && !showDelete" class="row">
    <div class="tile tile-detail">
        <header *ngIf="!showEditor">
            <ng-container i18n>Styling Rules</ng-container>
            <d3s-tile-actions [hasAdd]="canAdd()" (addClick)="mode='Add';showEditor=true;"></d3s-tile-actions>
        </header>
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <span *ngIf="!isLoading">
                        <p-table #dt [value]="styleRules" selectionMode="single" [metaKeySelection]="true"
                                 [sortOrder]="1" [pageLinks]="3" [paginator]="true" [rows]="10">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th i18n>Name</th>
                                    <th i18n>Style</th>
                                    <th style="width: 40px"></th>
                                    <th style="width: 40px"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr [pSelectableRow]="item">
                                    <td>
                                        <span *ngIf="isPivot() && item.Column ==-1"><ng-container
                                                i18n>Row</ng-container>
                                            {{item.Row}}</span>
                                        <span *ngIf="isPivot() && item.Row ==-1"><ng-container
                                                i18n>Column</ng-container>
                                            {{item.Column}}</span>
                                         <span *ngIf="!isPivot()" i18n>Header</span>
                                    </td>
                                    <td style="padding: 5px">
                                        <span [ngStyle]="getRowStyles(item)" i18n>Style Sample</span>
                                    </td>
                                    <td>
                                        <div class="RowTools">
                                            <a style="cursor:pointer;"
                                               (click)="selectedStyle=item;mode='Edit';showEditor=true"><i
                                                    class="fa fa-pencil"></i></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="RowTools">
                                            <a style="cursor:pointer;" (click)="selectedStyle=item;showDelete=true"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows"
                                                      [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                            </ng-template>
                        </p-table>
                    </span>
    </div>
</div>
<div *ngIf="showEditor && !showDelete" class="row">
    <div class="tile tile-detail">
        <d3s-admin-export-template-style-form [mode]="mode" [exportViewType]="exportViewType" [templateId]="templateId"
                                              [selectedStyle]="selectedStyle" (onSuccess)="showEditor=false;load()"
                                              (onCancel)="showEditor=false;"></d3s-admin-export-template-style-form>
    </div>
</div>
<div class="tile tile-detail" *ngIf="showDelete">
    <d3s-delete-form
            [callback]="theDeleteCallback"
            [itemId]="selectedStyle?.ID"
            [method]="'callback'"
            [prompt]="deleteMsg"
            (onCancel)="showDelete=false">
    </d3s-delete-form>
</div>
