<div class="row">
    <div class="col l6 m12 s12">
        <div class="tile tile-detail">
            <header i18n>User's Responsibilities</header>
            <div *ngIf="isLoading">
                <d3s-loading [isLoading]="isLoading"></d3s-loading>
            </div>
            <div [hidden]="isLoading">
                <div id="responsibilitiesPie"></div>
            </div>
        </div>
    </div>
    <div class="col l6 m12 s12" *ngIf="selectedResponsibilityUid">
        <div class="tile tile-detail">
            <d3s-user-list [UserListHeading]="GetHeadingLabel()" [ResponsibilityTypeUid]="selectedResponsibilityUid"
                           [IsCommunityUserResposibility]="true" [(selected)]="selectedResource"></d3s-user-list>
        </div>
    </div>
    <div class="col s12" *ngIf="selectedResource">
        <div class="tile tile-detail">
            <d3s-resource-responsibility-tile [responsibilityTypeUid]="selectedResponsibilityUid"
                                              [resourceId]="selectedResource.ResourceID"></d3s-resource-responsibility-tile>
        </div>
    </div>
</div>