<div *ngIf="visible" class="browser-warning">
    <div class="content">
        <div>
            <img src="/content/images/govern-small.svg" style="width: 400px; height: 80px" />
        </div>
        <div>
            Sorry, Internet Explorer is no longer a supported browser.
        </div>
        <div class="spacer"></div>
        <div>
            Data360&reg; Govern will continue to work for the time being in Internet Explorer.
        </div>
        <div style="font-weight: bolder">
            As of {{deprecationDate}}, Data360&reg; Govern will cease to work at all in Internet Explorer.
        </div>
        <div class="spacer"></div>
        <div>
            Please contact your system administrator or switch to one of the supported browsers:
        </div>
        <div *ngFor="let alt of alternateBrowsers">
            <a [href]="alt.url" target="_blank">{{alt.label}}</a>
        </div>
        <div class="spacer-large"></div>
        <div class="button">
            <button igButton label="I understand, continue using Internet Explorer for now" (click)="dismiss()"></button>
        </div>
    </div>
    <div class="footer">
        &copy; 2005-{{currentYear}} Infogix, Inc. All rights reserved.
    </div>
</div>