<div class="grid-actions-header column-layout">
	<div class="grid-actions-header-row">
		<div class="simple-search">
			<ig-search-field mode="Keypress"
							 [debounce]="600"
							 (onSearch)="onSimpleSearch($event)"
							 [(ngModel)]="simpleFilter">
			</ig-search-field>
		</div>
	</div>
	<div class="grid-actions-header-row">
		<button igButton type="button" class="ig-button-primary" margin (click)="selectAll()" i18n-label
				label="Select All"
				[disabled]="assignmentsByVersion.length < 1"></button>
		<!--		<advanced-filtering [loadIdentifier]="'SemanticTypes'"-->
		<!--							[fieldsObserver]="filterFields$"-->
		<!--							(onLoad)="onFiltersLoaded()"-->
		<!--							(onChange)="advancedFiltersChanged($event)"></advanced-filtering>-->
	</div>
</div>
<div class="row asset-grid-wrapper">
	<div class="col s12">
		<p-table #dt
				 [loading]="isLoading"
				 loadingIcon="fa fa-spinner"
				 [value]="assignmentsByVersion"
				 selectionMode="multiple"
				 [metaKeySelection]="true"
				 [lazy]="true"
				 [totalRecords]="totalRecords"
				 [scrollable]="true"
				 [globalFilterFields]="['Name','Version','Status']"
				 [pageLinks]="3"
				 [paginator]="true"
				 [rows]="rowsPerPage || defaultInitialItemsPerPage"
				 [rowsPerPageOptions]="defaultPagingOptions"
				 (onLazyLoad)="loadWorkflowsByType($event)"
				 [selection]="selectedWorkflowsByType"
				 (selectionChange)="gridSelectionChange($event)"
				 (onPage)="numberOfRowsByCategoryService.onPage($event, title)">
			<ng-template pTemplate="header">
				<tr>
					<th pSortableColumn="WorkflowName">
						<ng-container i18n>Workflow Name</ng-container>
						<d3s-sortIcon field="Name"></d3s-sortIcon>
					</th>
					<th pSortableColumn="Version">
						<ng-container i18n>Version</ng-container>
						<d3s-sortIcon field="Version"></d3s-sortIcon>
					</th>
					<th pSortableColumn="Status">
						<ng-container i18n>Outstanding Assignments</ng-container>
						<d3s-sortIcon field="Status"></d3s-sortIcon>
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-item>
				<tr [pSelectableRow]="item" style="word-wrap: break-word">
					<td class="break-wrap">{{item.WorkflowName}}</td>
					<td>{{item.Version}}</td>
					<td>
						<span i18n *ngIf="item.Awaiting > 0"><ig-badge
							[text]="item.Awaiting"></ig-badge> Awaiting</span>
						<span i18n *ngIf="item.Incomplete > 0"> <ig-badge [text]="item.Incomplete"></ig-badge> Incomplete</span>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="summary">
				<d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows"
									  [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
			</ng-template>
		</p-table>
	</div>
</div>
