.multi-assignment-selector {
  .header-wrapper {
    border-bottom: 1px solid #d7d8dc;
    margin-bottom: 1rem;
  }

  .ig-property-group {
    padding-bottom: 16px;
  }

  .subtitle {
    opacity: 0.6;
    padding: 8px 0px 16px 0px;
  }
}
