@import '../../../../../Content/styles/_Variables.less';

:host ::ng-deep .header-wrapper {
  border-bottom: 1px solid @ig-grey-t4;
}

.reassignment-details {
  background: #f0f0f0;
  margin-bottom: 10px;
  padding: 5px;
  overflow-x: auto;
}