<div id="process-diagram" class="{{isEditMode ? 'fullscreen' : ''}}">
    <div>
        <button type="button" pButton (click)="getData()">Get Data</button>
        <button type="button" pButton (click)="save()" [disabled]="isSaveDisabled">Save data</button>
        <button type="button" pButton (click)="clear()">Clear data</button>
        <button type="button" pButton (click)="load()">Load data</button>
        <button type="button" pButton (click)="disableDrag()">Disable drag</button>
        <button type="button" pButton (click)="switchModes()">Switch modes</button>

    </div>
    <br />
    <div style="width: 100%; display: flex; justify-content: space-between">
        <div id="myPaletteDiv" *ngIf="isLoaded">
            <p-accordion [multiple]="true">
                <p-accordionTab header="Events" [selected]="true">
                    <div class="row">
                        <div pDraggable="dd" (onDragEnd)="dragEnd(item)" class="col s6 process-item process-item-event" *ngFor="let item of events">
                            <div class="icon-holder">
                                <i class="fa {{item.IconStyle.Icon}}"></i>
                            </div>
                            <div class="item-name">
                                {{item.Name}}
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Activities">
                    <div class="row">
                        <div pDraggable="dd" (onDragEnd)="dragEnd(item)" class="col s6 process-item process-item-activity" *ngFor="let item of activities">
                            <div class="icon-holder">
                                <i class="fa {{item.IconStyle.Icon}}"></i>
                            </div>
                            <div class="item-name">
                                {{item.Name}}
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Gateways">
                    <div class="row">
                        <div pDraggable="dd" (onDragEnd)="dragEnd(item)" class="col s6 process-item process-item-gateway" *ngFor="let item of gateways">
                            <div class="icon-holder">
                                <i class="fa {{item.IconStyle.Icon}}"></i>
                            </div>
                            <div class="item-name">
                                {{item.Name}}
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div id="process-diagram-placeholder"></div>
    </div>
</div>