<div class="asset-editor">
    <div class="editor">
        <div *ngIf="showEmptyOverlay()">
            <div class="empty-overlay">
                <div class="content">
                    <div class="icon-holder">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <span>Select a single item from the {{(viewType == 'diagram' ? 'diagram' : 'list')}} to view its properties</span>
                </div>
            </div>
        </div>

        <ng-container *ngIf="!isReadOnly">
            <div *ngIf="nodeData">
                <div class="header">
                    <span class="elide-popup asset-name">
                        <span class="popup">{{assetName}}</span>
                        <span class="text">{{assetName}}</span>
                    </span>
                    <span class="asset-type-name">{{nodeData.assetTypeName}}</span>
                </div>
                <div class="gov-editor-v2">
                    <d3s-dynamic-editor-v2 [title]="Name"
                                           [selectedObject]="'TaskType'"
                                           [objectTypeUid]="nodeData.assetTypeUid"
                                           [assetUid]="nodeData.isNew ? null : nodeData.key"
                                           [diagramNodeKey]="nodeData.isNew ? nodeData.key : null"
                                           [isV2API]="true"
                                           [useNonLegacyData]="true"
                                           [useModelBinding]="true"
                                           [hasHeader]="false"
                                           [dataModel]="nodeData"
                                           [disallowedNames]="disallowedNames"
                                           (modelChanged)="onModelChange($event)"></d3s-dynamic-editor-v2>
                </div>
            </div>


            <div *ngIf="linkData">
                <d3s-process-diagram-label-editor (linkDataChange)="linkDataChange.emit($event)" [linkData]="linkData" [assetUid]="assetUid"></d3s-process-diagram-label-editor>
            </div>
        </ng-container>

        <ng-container *ngIf="isReadOnly">
            <ng-container *ngIf="!selectedReferenceItem && !selectedTag">
                <ig-asset-detail *ngIf="selectedAsset || nodeData"
                                 [objectUID]="selectedAsset ? selectedAsset.uid : nodeData?.key"
                                 [objectType]="selectedAsset ? selectedAsset.type : 'Task'"
                                 [useAccordion]="true"
                                 [shouldBePadded]="false"
                                 [showHeader]="true"
                                 [showHeaderLine]="false"
                                 [spacerHeight]="'16px'"
                                 [tooltipAlign]="'left'"
                                 [isSidePanel]="true"
                                 [hideLinks]="true"
                                 [interceptLinkClick]="true"
                                 [hasAddRelationshipsPermissions]="false"
                                 [hasModifyRelationshipsPermissions]="false"
                                 [hasDeleteRelationshipsPermissions]="false"></ig-asset-detail>
            </ng-container>

            <ng-container *ngIf="selectedReferenceItem">
                <ig-asset-type-detail [uid]="selectedReferenceItem.uid"
                                      [highlightUid]="selectedReferenceItem.assetUid"
                                      [baseUrl]="selectedReferenceItem.url">
                </ig-asset-type-detail>
            </ng-container>
            <ng-container *ngIf="selectedTag">
                <ig-tagged-assets-detail [uid]="selectedTag.uid"></ig-tagged-assets-detail>
            </ng-container>
        </ng-container>
    </div>

</div>
