<div id="process-diagram" class="{{isEditMode ? 'fullscreen' : ''}}">

    <div>
        <div class="asset-browser-button-group">
            <button type="button" (click)="switchModes()">
                <i class="fa fa-chevron-circle-left"></i> Exit Designer
            </button>
            <div class="button-spacer"></div>
            <button *ngIf="isEditMode" type="button" class="icon mr8 {{isSaveDisabled ? 'disabled' : ''}}" (click)="save()" [disabled]="isSaveDisabled">
                <i class="fa fa-save"></i>
            </button>
            <button *ngIf="isEditMode" type="button" class="icon mr8" (click)="clear()">
                <i class="fa fa-refresh"></i>
            </button>
            <button *ngIf="isEditMode" type="button" class="icon mr8" (click)="load()">
                <i class="fa fa-upload"></i>
            </button>
            <button *ngIf="isEditMode" type="button" class="icon mr8" (click)="disableDrag()">
                <i class="fa fa-times-rectangle"></i>
            </button>
        </div>
    </div>

    <br />
    <div class="diagram-content">
        <div id="myPaletteDiv" *ngIf="isLoaded && isEditMode">
            <p-accordion [multiple]="true">
                <p-accordionTab header="Events" [selected]="true">
                    <div class="row">
                        <div pDraggable="dd" (onDragEnd)="dragEnd(item)" class="col s6 process-item process-item-event" *ngFor="let item of events">
                            <div class="icon-holder">
                                <i class="fa {{item.IconStyle.Icon}}"></i>
                            </div>
                            <div class="item-name">
                                {{item.Name}}
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Activities">
                    <div class="row">
                        <div pDraggable="dd" (onDragEnd)="dragEnd(item)" class="col s6 process-item process-item-activity" *ngFor="let item of activities">
                            <div class="icon-holder">
                                <i class="fa {{item.IconStyle.Icon}}"></i>
                            </div>
                            <div class="item-name">
                                {{item.Name}}
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Gateways">
                    <div class="row">
                        <div pDraggable="dd" (onDragEnd)="dragEnd(item)" class="col s6 process-item process-item-gateway" *ngFor="let item of gateways">
                            <div class="icon-holder">
                                <i class="fa {{item.IconStyle.Icon}}"></i>
                            </div>
                            <div class="item-name">
                                {{item.Name}}
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div id="process-diagram-placeholder">
            <div class="empty-overlay">
                <div class="content" *ngIf="isCanvasEmpty && isEditMode">
                    <div class="icon-holder">
                        <i class="fa fa-plus"></i>
                    </div>
                    <span>Drag and drop flow objects to start building your diagram</span>
                </div>
            </div>
            <div id="diagram"></div>
        </div>
    </div>
</div>