<div class="editor" *ngIf="nodeData">
    <div class="header">
        <span class="elide-popup asset-name">
            <span class="popup">{{assetName}}</span>
            <span class="text">{{assetName}}</span>
        </span>
        <span class="asset-type-name">{{nodeData.assetTypeName}}</span>
    </div>
    <div class="gov-editor-v2" *ngIf="!isReadOnly">
        <d3s-dynamic-editor-v2 [title]="Name"
                               [selectedObject]="'TaskType'"
                               [objectTypeUid]="nodeData.assetTypeUid"
                               [assetUid]="nodeData.isNew ? null : nodeData.key"
                               [diagramNodeKey]="nodeData.isNew ? nodeData.key : null"
                               [isV2API]="true"
                               [useNonLegacyData]="true"
                               [useModelBinding]="true"
                               [hasHeader]="false"
                               [dataModel]="nodeData"
                               [disallowedNames]="disallowedNames"
                               (modelChanged)="onModelChange($event)"></d3s-dynamic-editor-v2>
    </div>
    <div class="process-item-object-detail" *ngIf="isReadOnly">
        <object-detail [objectType]="'Task'" [objectID]="nodeData.objectId"></object-detail>
    </div>
</div>
