    <div class="editor" *ngIf="nodeData">
        <div class="header">
            <span class="asset-name">{{nodeData.Name}}</span>
            <span class="asset-type-name">{{nodeData.assetTypeName}}</span>
        </div>
        <d3s-dynamic-editor-v2 [title]="Name"
                            [selectedObject]="'TaskType'"
                            [objectTypeUid]="nodeData.assetTypeUid"
                            [assetUid]="nodeData.isNew ? null : nodeData.key"
                            [isV2API]="true"
                            [useNonLegacyData]="true"
                            [useModelBinding]="true"
                            [hasHeader]="false"
                            [dataModel]="nodeData"
                            (modelChanged)="onModelChange($event)"></d3s-dynamic-editor-v2>
    </div>
