    <div class="editor" *ngIf="linkData">
        <div class="header">
            <span class="asset-name">Connector</span>
        </div>
        <div class="gov-editor-v2">
            <div class="row">
                <div class="col s12 d3s-color-picker">
                    <p-autoComplete (onSelect)="selected($event)" [suggestions]="labels" (completeMethod)="search($event)"
                                    [dropdown]="true"></p-autoComplete>                
                </div>
            </div>
        </div>
    </div>
