<div class="process-list-view" *ngIf="nodeArray">
    <p-table #dt [value]="nodeArray"
             [paginator]="true"
             [rows]="10"
             [(selection)]="selected" 
             dataKey="key"
             selectionMode="multiple"
             (onRowSelect)="onRowSelect($event)"
             (onRowUnselect)="onRowUnselect($event)"
             (onHeaderCheckboxToggle)="toggleAll($event)"
             styleClass="ig-table treetable"
             sortField="StepNo"
             [customSort]="true"
             (sortFunction)="customSort($event)"
             >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 20px;">
                    <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="'StepNo'">
                    Step No
                    <p-sortIcon [field]="'StepNo'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'Name'">
                    Name
                    <p-sortIcon [field]="'Name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'assetTypeName'">
                    Diagram Asset Type
                    <p-sortIcon [field]="'assetTypeName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'governanceDisplayValue'">
                    Governance Role
                    <p-sortIcon [field]="'governanceDisplayValue'"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr #el [pSelectableRow]="item">
                <td>
                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                </td>
                <td>{{item.StepNo}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.assetTypeName}}</td>
                <td>{{item.governanceDisplayValue ? item.governanceDisplayValue : '---'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>