<div class="row">
    <div class="col s8">
        <div id="DetailTile"></div>
        <div id="GovernanceTile" class="tile tile-detail"></div>
        <div class="row" id="HierarchyTileSection">
            <div class="col s6">
                <div id="TypeHierarchyTile" class="tile tile-detail"></div>
            </div>
            <div class="col s6">
                <div id="GroupHierarchyTile" class="tile tile-detail"></div>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div id="CertificationNotification" class="tile tile-detail" style="display:none"></div>
        <div id="MicroWidget1" class="tile tile-detail"></div>
        <div id="RandomQuestion" class="tile tile-detail"></div>
        <div id="AggregatesTileContainer" class="tile tile-detail">
            <div id="AggregatesTile"></div>
            <!--<div id="SimpleHierarchyTile"></div>-->
        </div>
        <div id="RelatedArtifactsTile" class="tile tile-detail"></div>
    </div>
    <div class="col s12">
        <div id="SourcingTile" class="tile tile-detail"></div>
    </div>
</div>