<div class="row">
    <div class="col s12 m4 l3">
        <div class="root-tile">
            <header>
                <span>&nbsp;</span>
                <div id="TreeTools"></div>
            </header>
            <div id="Tree"></div>
        </div>
    </div>
    <div class="col s12 m5 l5">
        <div id="DetailContainerTile" class="tile tile-detail">
            <div id="DetailTile"></div>
            <div id="AttributesTile"></div>
        </div>
        <div id="ItemsTile" class="tile tile-detail"></div>
        <div id="XrefTile" class="tile tile-detail"></div>
        <div id="OwnerTile" class="tile tile-detail"></div>
    </div>
    <div class="col s12 m3 l4">
        <div id="PanelButtonsTile" class="root-tile" style="text-align: right">
            <button id="ShowImpact"><i class="fa fa-lg fa-warning green-text"></i>Display Impact</button>
            <button id="ShowLineage"><i class="fa fa-lg fa-code-fork green-text"></i>Display Lineage</button>
        </div>
        <div id="SocialTile" class="tile tile-detail"></div>
        <div id="AggregatesTile" class="tile tile-detail"></div>
        <div id="XrefListTile" class="tile tile-detail"></div>
    </div>
</div>
