<div class="row">
    <div class="col s12 m12 l3">
        <div class="root-tile">
            <header><div id="ListTools"></div></header>
            <div id="List"></div>
        </div>
    </div>
    <div class="col hide-on-small-and-down m12 l4">
        <div id="DetailTile" class="tile tile-detail"></div>
        <div id="SecurityTile" class="tile tile-detail"></div>
    </div>
    <div class="col s12 m12 l5">
        <div id="ConfigurationsTile" class="tile tile-detail"></div>
        <div id="FieldsTile" class="tile tile-detail"></div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l9 offset-l3">
        <div class="tile tile-detail">
            <header>Attribute Types for <span class="FusionAttributeTypesTitle"></span><div id="FusionAttributeTypesTools"></div></header>
            <div class="directions">
                Below is a list of attribute types for <span class="FusionAttributeTypesTitle"></span>.  You can add fields to an attribute type by clicking the add field icon below.
            </div>
            <div class="row">
                <div class="col s12 m12 l5">
                    <h4>&nbsp;</h4>
                    <div id="FusionAttributeTypes"></div>
                </div>
                <div class="col hide-on-small-and-down m12 l7">
                    <h4 id="FusionAttributeTypeFieldsTitle"></h4>
                    <div id="FusionAttributeTypeFields"></div>
                </div>
            </div>
        </div>
    </div>
</div>