<div class="row">
    <div class="col l4 m4 s5">
        <div class="tile tile-detail">
            <header></header>
            <div id="GroupBoard" data-bind="template: {name: 'boardTmpl' }"></div>
        </div>
    </div>
    <div class="col l5 m6 s5">
        <div class="tile tile-detail">
            <header>Items Group Owns</header>
            <div id="OwnedTile"></div>
        </div>
        <div id="MembersTile" class="tile tile-detail"></div>
    </div>
    <div class="col l3 m2 s2">        
        <div id="SocialTile" class="tile tile-detail" data-bind="template: { name: 'groupSocialMicroTileTmpl' }"></div>        
    </div>
</div>
