<div class="row">
    <div class="col s3">
        <div class="root-tile">
            <header><div id="ListTools"></div></header>
            <div id="List"></div>
        </div>
    </div>
    <div class="col s9">
        <div id="DetailTile"></div>

        <div id="FieldsTileContainer" class="tile tile-detail">
            <header>Import Fields<div id="FieldsTileContainerTools"></div></header>
            <div id="FieldsTile"></div>
        </div>

        <div class="tile tile-detail">
            <header>Rules<div id="RulesTileContainerTools"></div></header>
            <div class="pull-left" style="width: 50%">
                <div id="RulesTile"></div>
            </div>
            <div class="pull-right" style="width: 48%">
                <div id="RuleItemsTile"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="tile tile-detail">
            <header>History<div class="TileTools"><button id="history-refresh-button" class="btn-floating waves-effect waves-light brown"><i class="fa fa-refresh"></i></button></div></header>
            <div class="pull-left" style="width: 30%">
                <div id="LoadsTile"></div>
            </div>
            <div class="pull-right" style="width: 68%">
                <div id="LoadItemsTile"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
