<div class="row">
    <div class="col s12 m6 l6">
        <div class="tile tile-detail">
            <header>Relationship Types<div id="ListTools"></div></header>
            <div id="List"></div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div id="RolesTile" class="tile tile-detail">
            <header>Predicates<div id="PredicateTools"></div></header>
            <div id="Predicates"></div>
        </div>
        <div id="PredicatePhrasesTile" class="tile tile-detail">
            <header>Predicate Phrases<div id="PredicatePhraseTools"></div></header>
            <div id="PredicatePhrases"></div>
        </div>
    </div>
</div>
