<div class="row">
    <div class="col s12 m12 l3">
        <div class="root-tile">
            <header><div id="ListTools"></div></header>
            <div id="List"></div>
        </div>
    </div>
    <div class="col s12 m12 l5">
        <div id="DetailTile" class="tile tile-detail"></div>
    </div>
    <div class="col s12 m12 l4">
        <div id="TilesTileWrapper" class="tile tile-detail">
            <header>Tiles on this Dashboard<div id="TilesTileTools"></div></header>
            <div id="TilesTile"></div>
        </div>
    </div>
    <div class="col hide-on-med-and-down l9 offset-l3">
        <div class="tile tile-detail">
            <header>Dashboard Layout</header>
            <div id="LayoutTile" data-bind="template: { name: 'reportDesignerTmpl' }"></div>
        </div>
    </div>
</div>
