<div class="row">
    <div class="col s12 m4 l3">
        <div class="root-tile">            
            <div id="List"></div>
        </div>
    </div>
    <div class="col s12 m8 l9">
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail" style="margin-bottom: 15px">
                    <header>Dimensions<div id="DimensionTools"></div></header>
                    <div id="DimensionGrid"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <div id="ClaimsTileContainer" class="tile tile-detail">
                    <header>Permissions</header>
                    <div id="ClaimsTile"></div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div id="GovernanceTile" class="tile tile-detail"></div>
            </div>
        </div>
    </div>
</div>