<div class="row">
    <div class="col s3">
        <div id="List"></div>
    </div>
    <div class="col s9">
        <div class="row">
            <div class="col s6">
                <div id="DetailTile"></div>
            </div>
            <div class="col s6">
                <div id="OptionsTileContainer" class="tile tile-detail">
                    <header>Options</header>
                    <div id="OptionsTile"></div>
                </div>
            </div>
        </div>
    </div>
</div>
