<div class="row">
    <div class="col s3">
        <div class="root-tile">
            <header><div id="ListTools"></div></header>
            <div id="List"></div>
        </div>
    </div>
    <div class="col s9">
        <div id="DetailContainerTile" class="tile tile-detail">
            <div id="DetailTile"></div>
        </div>
        <div id="QuestionsTileContainer" class="tile tile-detail">
            <header>Questions<div id="QuestionTools"></div></header>
            <div id="QuestionsTile"></div>
        </div>
    </div>
</div>
