<div class="row">
    <div class="col s3">
        <div id="List"></div>
    </div>
    <div class="col s9">
        <div id="DetailTile"></div>

        <div id="QuestionsTileContainer" class="tile tile-detail">
            <header>Questions</header>
            <div id="QuestionsTile"></div>
        </div>

        <div id="EntriesTileContainer" class="tile tile-detail">
            <header>Entries</header>
            <div id="EntriesTile"></div>
        </div>
    </div>
</div>
