<div class="row">
    <div class="col l3 m5 s12"><div id="Tree"></div></div>
    <div class="col l9 m7 s12">
        <div class="row">
            <div class="col s12 m7 l7">
                <div id="DetailTile"></div>
                <div id="GovernanceTile" class="tile tile-detail"></div>
            </div>
            <div class="col s12 m5 l5">
                <div id="StatisticsTile" class="tile tile-detail"></div>
                <div id="AggregatesTileContainer" class="tile tile-detail"></div>
            </div>
        </div>
    </div>
</div>
