<div class="row">
    <div class="col s12">
        <!--<div class="row">
            <div class="col-lg-12 col-md-12">
                <div id="EmailTileContainer" class="tile tile-detail">
                    <header>Email Templates</header>
                    <article id="EmailTile"></article>
                </div>
            </div>
        </div>-->
        <div id="TooltipTileContainer" class="tile tile-detail">
            <header>Tooltip Templates</header>
            <div id="TooltipTile"></div>
        </div>
    </div>
</div>
