<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div class="row">
    <div class="col s12">
        <div class="tile tile-detail" *ngIf="!isLoading">
            <header class="flex-header">
                <d3s-tile-actions [hasAdd]="false"
                                  [hasFilterMode]="true"
                                  [(filterMode)]="showSimpleFilter"
                                  [hasExport]="true"
                                  (exportClick)="export()">
                    <input [(ngModel)]="filters.globalSearch" type="text" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter {{showSimpleFilter ? '' : 'hidden'}}">
                </d3s-tile-actions>
                <div class="clearfix"></div>
            </header>
            <p-table #dt [value]="tagUsage" selectionMode="single" [metaKeySelection]="true" [globalFilterFields]="['DisplayPath','AssetType','TagsAsString']" sortField="DisplayValue" [sortOrder]="1" [pageLinks]="3" [paginator]="true" [rowsPerPageOptions]="[10,20,50,100,200,500]" [rows]="10" [(selection)]="selected">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'DisplayPath'" style="width: 20%">
                            Asset
                            <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'DisplayPath'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'AssetType'" style="width: 20%">
                            Asset Type
                            <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'AssetType'"></d3s-sortIcon>

                        </th>
                        <th [pSortableColumn]="'TagsAsString'" style="width: 50%">
                            Tags
                            <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'TagsAsString'"></d3s-sortIcon>

                        </th>
                        <th style="width: 10%"></th>
                    </tr>
                    <tr [hidden]="showSimpleFilter">
                        <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'DisplayValue'" [datatype]="'text'"></d3s-column-filter></th>
                        <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'AssetType'" [datatype]="'text'"></d3s-column-filter></th>
                        <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'TagsAsString'" [datatype]="'text'"></d3s-column-filter></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td>{{item.DisplayPath}}</td>
                        <td [innerHTML]="formatValue(item)"></td>
                        <td>
                            <d3s-tag-view [data]="item.Tags" [assetUID]="item.AssetUid" ></d3s-tag-view>
                        </td>
                        <td>
                            <div class="RowTools">
                                <d3s-preview-tooltip [objectType]="item.Object"
                                                     [objectId]="item.ObjectID"
                                                     icon="info"></d3s-preview-tooltip>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>