<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div class="row" *ngIf="!isLoading">
    <div class="col s12" style="display: flex">
        <div class="tag-item-tile tile tile-detail main-panel">
            <div class="grid-actions-header">
                <div class="simple-search">
                    <input [(ngModel)]="filters.globalSearch"
                           type="text"
                           pInputText
                           size="100"
                           (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Search..."
                           class="grid-simple-filter {{showSimpleFilter ? '' : 'hidden'}}">
                </div>
                <advanced-filtering  [loadIdentifier]="'TaggedAssets'" [fieldsObserver]="filterFieldList$" (onChange)="advancedFiltersChanged($event)"></advanced-filtering>
                <d3s-tile-actions [hasAdd]="false"
                                  [hasExport]="true"
                                  (exportClick)="export()">
                </d3s-tile-actions>
            </div>
            <p-table #dt
                     [value]="tagUsage"
                     selectionMode="single"
                     [metaKeySelection]="true"
                     [globalFilterFields]="['DisplayPath','AssetType','TagsAsString']"
                     sortField="DisplayValue"
                     [sortOrder]="1"
                     [pageLinks]="3"
                     [paginator]="true"
                     [rowsPerPageOptions]="[10,20,50,100,200,500]"
                     [rows]="10"
                     [selection]="selection"
                     (selectionChange)="selectAsset($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'DisplayPath'" style="width: 15%">
                            Asset
                            <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'DisplayPath'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'AssetType'" style="width: 17%">
                            Asset Type
                            <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'AssetType'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'TagsAsString'" style="width: 33%">
                            Tags
                            <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'TagsAsString'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'AddedBy'" style="width: 15%">
                            Added By
                            <i class="helper fa fa-question-circle" 
                               pTooltip="The user who added the <b>{{tag.Value}}</b> tag to this asset"
                               tooltipStyleClass="ig-tooltip ig-tooltip-medium"
                               [escape]="false"></i>
                            <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'AddedBy'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'CreatedOn'" style="width: 20%">
                            Date Added
                            <i class="helper fa fa-question-circle" 
                               pTooltip="The date on which the user added the <b>{{tag.Value}}</b> tag to this asset"
                               tooltipStyleClass="ig-tooltip ig-tooltip-medium"
                               [escape]="false"></i>
                            <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'CreatedOn'"></d3s-sortIcon>
                        </th>
                    </tr>
                    <tr [hidden]="showSimpleFilter">
                        <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'DisplayValue'" [datatype]="'text'"></d3s-column-filter></th>
                        <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'AssetType'" [datatype]="'text'"></d3s-column-filter></th>
                        <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'TagsAsString'" [datatype]="'text'"></d3s-column-filter></th>
                        <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'AddedBy'" [datatype]="'text'"></d3s-column-filter></th>
                        <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'CreatedOn'" [datatype]="'date'"></d3s-column-filter></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item" (focus)="selectAsset(item)">
                        <td>{{item.DisplayPath}}</td>
                        <td [innerHTML]="formatValue(item)"></td>
                        <td>
                            <d3s-tag-view [data]="item.Tags" [assetUID]="item.AssetUid" ></d3s-tag-view>
                        </td>
                        <td>{{item.AddedBy}}</td>
                        <td>{{item.CreatedOn | date:'medium'}}</td>
                    </tr>
                </ng-template>
                <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
        <div class="tile tile-detail side-panel">
            <side-panel (expandedChange)="sidePanelOpen=$event"
                        (selectedPanelChange)="sidePanelTab=$event"
                        [selectedItem]="selection"
                        [panelApplies]="panelApplies"
                        [hasProfiling]="hasProfiling"
                        hasDetail="true"
                        [storageKey]="sidePanelStorageKey"
                        [selectedPanel]="sidePanelTab">
                <ng-container *ngIf="sidePanelOpen && selection != null && sidePanelLoading">
                    <d3s-loading [isLoading]="true"></d3s-loading>
                </ng-container>
                <ng-container *ngIf="sidePanelOpen && selection != null && !sidePanelLoading">
                    <ng-container *ngIf="sidePanelTab === 'dataprofile' && selection?.HasProfiling">
                        <data-profile [dataProfile]="dataProfile" (secondaryPanelLinkClicked)="secondaryPanelOpen($event)"></data-profile>
                    </ng-container>
                    <ng-container *ngIf="sidePanelTab === 'detail'">
                        <ig-asset-detail *ngIf="!selectedReferenceItem && !selectedTag"
                                         [objectUID]="selectedAsset ? selectedAsset.uid : selection.AssetUid"
                                         [objectType]="selectedAsset ? selectedAsset.type : 'artifact'"
                                         [useAccordion]="true"
                                         [shouldBePadded]="false"
                                         [showHeader]="true"
                                         [showHeaderLine]="false"
                                         [spacerHeight]="'16px'"
                                         [tooltipAlign]="'left'"
                                         [isSidePanel]="true"
                                         [hasEditLink]="false"
                                         [hasAddRelationshipsPermissions]="false"
                                         [hasModifyRelationshipsPermissions]="false"
                                         [hasDeleteRelationshipsPermissions]="false"
                                         [interceptLinkClick]="true"></ig-asset-detail>

                        <ng-container *ngIf="selectedReferenceItem">
                            <ig-asset-type-detail [uid]="selectedReferenceItem.uid"
                                                  [highlightUid]="selectedReferenceItem.assetUid"
                                                  [baseUrl]="selectedReferenceItem.url">
                            </ig-asset-type-detail>
                        </ng-container>
                        <ng-container *ngIf="selectedTag">
                            <ig-tagged-assets-detail [uid]="selectedTag.uid"></ig-tagged-assets-detail>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="secondarySidePanelOpen && semanticType">
                    <div #semanticTile class="secondary-side-panel">
                        <div class="panel-header">
                            <span class="header-label">Information</span>
                            <div class="button-container">
                                <button igButton [attr.data-cy]="'Semantic_Secondary_Close'" icon="fa-times" (click)="secondarySidePanelOpen=false;" [tooltip]="'Close'" class="close-button"></button>
                            </div>
                        </div>
                        <div class="details-container">
                            <ng-container *ngIf="semanticType">
                                <semantic-detail [qualifier]="semanticType.qualifier"
                                                 [isSidePanel]="true"
                                                 [showHeader]="true"
                                                 [semanticType]="semanticType"
                                                 (close)="secondarySidePanelOpen=false;"></semantic-detail>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </side-panel>
        </div>
    </div>
</div>