@import "../../../../Content/styles/infogix-ui/infogix-ui.less";

// By this we guarantee that vertical scroll will be on <table>, not on <asset-grid /> parent
// The overall approach is to force table height collapse if it doesn't fits to screen
:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .asset-grid-wrapper {
    overflow: hidden;
    // By this we guarantee that table will be visible even if screen height is too small
    // In such case, double vertical scroll will be introduced
    min-height: 250px;

    > div {
      height: 100%;

      p-table[responsiveLayout=scroll] ::ng-deep .p-datatable {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// By this we guarantee that column headings are always visible (sticky) even if user scrolls vertically
:host p-table ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 2;
}

// This makes kebab menu to be sticky
:host p-table ::ng-deep table {
  th, td {
    &.asset-grid-tools {
      position: sticky;
      right: -1px; // This 1px compensates transparent border
      z-index: 1;
    }
  }

  // This makes sure that kebab menu can inherit white background from p-table
  td.asset-grid-tools {
    background: inherit;
  }
}

// This ensures that only column headings affects calculation of column width
:host p-table ::ng-deep td {
  max-width: 0;

  // For some reason, max-width: 0 makes kebab menu to extend table width. Thus we undo this to avoid weird mess
  &.asset-grid-tools {
    max-width: unset;
  }
}

p-table ::ng-deep table {
  th, 
  td {
    &:not(:last-child) {
      padding-right: 16px;
    }

    &:not(:first-child) {
      padding-left: 16px;
    }
  }
}

p-table {
  tr {
    position: relative;
  }

  td {
    > a:hover {
      text-decoration: underline;

      span {
        text-decoration: underline;
      }
    }

    &.asset-grid-tools {
      vertical-align: top;
      text-align: right;
      padding: 1px;

      button {
        background: transparent;

        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }

        &:active {
          background: rgba(0, 0, 0, 0.14);
        }
      }
    }
  }
}

.asset-grid-wrapper {
  padding: 0 6px;
}

.debug-code {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin: 11px;
  padding: 4px;
  background: #f8ffe3;
}

.header-description {
  color: @ig-purple;
  margin-right: 15px;
}

.asset-description {
  padding-left: 16px;

  &-chevron {
    font-size: 10px;
    margin-left: 4px;
  }

  &-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ql-editor {
    padding: 0;
  }
}
