@import "../../../../Content/styles/infogix-ui/infogix-ui.less";

// By this we guarantee that vertical scroll will be on <table>, not on <asset-grid /> parent
// The overall approach is to force table height collapse if it doesn't fits to screen
:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .asset-grid-wrapper {
    overflow: hidden;
    // By this we guarantee that table will be visible even if screen height is too small
    // In such case, double vertical scroll will be introduced 
    min-height: 250px;

    > div {
      height: 100%;

      p-table ::ng-deep .p-datatable-responsive-scroll {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// By this we guarantee that column headings are always visible (sticky) even if user scrolls vertically
:host p-table ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: sticky;
  top: 0px;
  z-index: 1;
}

// This is a fix to add horizontal scroll on table when [responsiveLayout]="scroll"
:host p-table ::ng-deep table {
  width: max-content;
}

p-table {
  tr {
    position: relative;
  }

  td {
    > a:hover {
      text-decoration: underline;

      span {
        text-decoration: underline;
      }
    }

    &.asset-grid-tools {
      vertical-align: top;
      text-align: right;
      padding: 1px;

      button {
        background: transparent;

        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }

        &:active {
          background: rgba(0, 0, 0, 0.14);
        }
      }
    }
  }
}

.asset-grid-wrapper {
  padding: 0 6px;
}

.debug-code {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin: 11px;
  padding: 4px;
  background: #f8ffe3;
}

.header-description {
  color: @ig-purple;
  margin-right: 15px;
}

