@import (reference) "../../../../../../Content/styles/infogix-ui/IgColorVariables";

.max-width {
  max-width: 720px;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host ::ng-deep .header-wrapper {
  border-bottom: 1px solid @ig-grey-t4;
  margin-bottom: 1rem;
}

.space-around {
  padding: 1rem;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host d3s-assignment-progress ::ng-deep .parent-set-style, :host d3s-assignment-information-general ::ng-deep .parent-set-style, max-width {
  max-width: 720px;
}
