scroller-widget {
  display: flex;
}

.field-bar-outer {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 28px;

  .field-scroller {
    position: absolute;
    display: inline-flex;
    box-sizing: border-box;
    flex-direction: row;
    background: white;
    height: 28px;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

.field-bar {
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;
  background: white;
  width: 100%;
  height: auto;

  &.can-overflow {
    position: absolute;
    overflow-y: hidden;
    overflow-x: auto;
    right: 0;
    left: 0;
    width: auto;
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE 10+ */
    &.is-overflowing {
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  &::-webkit-scrollbar { /* WebKit hide scrollbar */
    width: 0 !important;
    height: 0 !important;
  }
}

button.field-scroller {
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  background: none;
  border: none;
  border-radius: 0;
  color: var(--primaryButtonBackColor);
  border-top: 3px solid transparent;
  justify-content: center;
  padding: 0;
  width: 24px;

  &:focus,
  &.focused {
    box-shadow: none;
    outline: 1px solid var(--secondaryButtonSelectedBackColor);
    outline-offset: -1px;
  }

  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.33;
  }

  &:not(:disabled) {
    &:hover {
      background: none;
    }

    &:active {
      background: none;
    }
  }
}
