.social-board {

  .header-bar {
    margin-top: 8px;
    padding: 4px;

    .fakeInput {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  img.user {
    border-radius: 5px;
  }

  .comment-removed {
    border-radius: 3px;
    padding: 5px;
    background: #efefef;
    border: 1px solid #ccc;
    font-size: 90%;
  }

  .comment-modified {
    margin-left: 5px;
    font-style: oblique;
  }

  .comment-tag {
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px 10px;
    cursor: pointer;
  }

  .comment, .reply {

    .heading {
      display: flex;
      flex-direction: row;
      align-items: center;

      .author {
        font-weight: bold;
        margin-left: 8px;
      }

      .date {
        color: #aaa;
        margin-left: 16px;
        flex-grow: 4;
      }

      .tools {
        text-align: right;

        a, button {
          background: transparent;
          color: purple;
          border: none;
          font-size: 1em;
        }
      }
    }

    .body, .tags, .threads, .reply-area {
      margin-left: 40px;
    }

    .tags, .reply-area {
      margin-top: 8px;
    }

    .threads {
      margin-top: 16px;
    }
  }
}
