.input-search {
    width: 100%;
    border: 1px solid #ccc !important
}

.search-button {
    flex-shrink: 0;
    margin-left: 8px;
}

.info-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-change {
    color: #8A46E4 !important;
}
