<ul class="left-side-nav">
    <d3s-site-menu-category (clearClick)="clearFavorites()"
                            *ngIf="favorites"
                            [menu]="favorites"
                            [title]="'My Favorites'"
                            rootIconName="fa-star"
                            showClearButton="true"></d3s-site-menu-category>
    <ng-template [ngForOf]="siteMenu"
                 let-menu ngFor>
        <d3s-site-menu-category *ngIf="menu.ShouldDisplay"
                                [menu]="menu"
                                [rootIconName]="menu.Icon"
                                [title]="menu.Title"
                                [url]="menu.ngUrl"></d3s-site-menu-category>
    </ng-template>
    <d3s-site-menu-category *ngIf="isAdmin"
                            [menu]="adminMenu"
                            [title]="'Administration'"
                            rootIconName="fa-cog"></d3s-site-menu-category>
</ul>
