<li #item [ngClass]="{'menu-category':true,'menu-parent':menu && (menu.NavigationItems),'menu-active':menu?.isActiveItem}" title="{{title}}" (mouseenter)="show(item); clearSearches(null, item);" (click)="navigateToUrl(url)" style="cursor: pointer;">
    <div class="menu-category-box">
        <img class="d3s-gov-icon" *ngIf="rootIconName && rootIconName.indexOf('/Content') != -1" [src]="rootIconName" />
        <i *ngIf="rootIconName && rootIconName.indexOf('/Content') == -1" [class]="'fa ' + rootIconName"></i>
        <img *ngIf="imageUrl" [src]="imageUrl" />
        <div [ngClass]="{'caption':true, 'min':!expanded}">
            <div [ngClass]="{'no-overflow':expanded, 'icon-active':expanded, 'icon':!expanded}"> {{title}} </div>
            <i [ngClass]="{'pull-right menu-category fa fa-caret-right':(menu && menu.NavigationItems && menu.NavigationItems.length > 0),'icon-active':expanded, 'icon':!expanded}"></i>
        </div>
    </div>
    <div #panel *ngIf="menu && menu.NavigationItems && menu.NavigationItems.length > 0" class="menu-child megamenu-panel" title="" [ngStyle]="{'display:flex; flex-direction:column': menu.isActiveItem}" (click)="stopNavigation($event)" (keyup)="checkKey($event,panel)">
        <div class="ie-min-content">
            <div class="megamenu-header truncate">

                <ig-search-field #searchinput [darkMode]="true" mode="Keypress" (onSearch)="positionMenu($event,item);" [(ngModel)]="searchText" [placeholder]="'Search menu...'"></ig-search-field><br />
                <button *ngIf="showVisiblityToggle"
                        igButton
                        (click)="toggleEmptyVisibility()"
                        class="hide-menu-button"
                        icon="{{(hideEmptyItems ? 'fa-eye' : 'fa-eye-slash')}}"
                        pTooltip="{{(hideEmptyItems ? 'Show empty collections' : 'Hide empty collections')}}"
                        tooltipPosition="top"
                        tooltipStyleClass="ig-tooltip">
                </button>
            </div>
            <div class="row megamenu-items" [ngStyle]="{'max-height': getMaxHeight()}">
                <div class="col s12 megamenu-items-container" *ngFor="let item of visibleMenuItems | simpleSearch: searchText">
                    <ul class="menu-group">
                        <d3s-site-menu-mega-item [category]="menu.MenuID" [item]="item" [level]="0" [searchText]="searchText" [(active)]="menu.isActiveItem" [count]="item.count" (activeChange)="activeItemChanged.emit();"></d3s-site-menu-mega-item>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>       