@import "../../../../../Content/styles/infogix-ui/infogix-ui.less";

.empty-hint-panel {
    border-radius: 4px;
    background: white;
    color: black;
    padding: 15px 20px;
    line-height: 1.5em;
    cursor: auto;
}