@import "../../../../../Content/styles/infogix-ui/infogix-ui.less";

:host {
    display: flex;
    align-items: center;


    .fav-icon {
        align-self: center;
        margin-right: 0.5em
    }

    .fav-breadcrumbs {
        color: #999;
    }
}