
<!-- TODO: check why favorites menu is hidden when we click inside -->
<!-- TODO: should reset manage mode when unfocus ??? -->
<d3s-site-menu-category 
	*ngIf="menu"
	[expanded]="expanded"
	[title]="title"
	[menu]="menu"
	[isActive]="menu.isActiveItem"
	[customPanelContent]="(state$|async)?.isManageFavoritesModeEnabled ? customPanelContent : null"
	[emptyHint]="emptyHint"
	(clearClick)="clearFavorites()"
	(activeItemChanged)="handleActiveItem($event);"
	rootIconName="fa-star">
	<ng-template #customPanelContent>
		<d3s-site-menu-manage-favorites-panel></d3s-site-menu-manage-favorites-panel>
	</ng-template>

	<ng-template #emptyHint>
		No Favorites found. Click the <span [style.whiteSpace]="'nowrap'">Add to Favorites<i class="fa fa-star"></i>button</span> to add a favorite.
	</ng-template>
	
	<ng-container additionalButtons>
		<button (click)="store.toggleManageFavoritesAction()"
			igButton
			icon="fa-edit"
			pTooltip="Manage favorites"
			tooltipPosition="top"
			tooltipStyleClass="ig-tooltip">
		</button>
	</ng-container>
</d3s-site-menu-category>
