<li #item 
    [ngClass]="{'menu-category':true,'menu-parent':menu && (menu.NavigationItems),'menu-active':menu?.isActiveItem}"    
    [attr.data-cy]="getDataCyAttribute()"
    (click)="navigateToUrl(url, $event)" 
    style="cursor: pointer;"
    [igDataCy]="'PrimaryNav_' + title"  
    >
    <div class="menu-category-box" (mouseover)="toggleShowCaret(true)" (mouseout)="toggleShowCaret(false)">
        <div pTooltip="{{this.menuTooltip}}"
             i18n-pTooltip
             tooltipPosition="right"
             tooltipStyleClass="{{(expanded ? 'ig-tooltip-site-menu' : 'ig-tooltip-site-menu-collapsed')}}"
             style="display:inline-flex"
             [escape]="false">
            <div>
                <img class="d3s-gov-icon" *ngIf="rootIconName && rootIconName.indexOf('/Content') != -1" [src]="rootIconName" />
                <i *ngIf="rootIconName && rootIconName.indexOf('/Content') == -1" [class]="'fa ' + rootIconName"></i>
                <img *ngIf="imageUrl" [src]="imageUrl" />
            </div>
            <div [ngClass]="{'min':!expanded, 'menu-title-item': true}">
                <div [ngClass]="{'icon-active':expanded, 'icon':!expanded}"> {{title}} </div>
            </div>
        </div>
        <i *ngIf="menu && menu.NavigationItems && menu.NavigationItems.length > 0"
           class="menu-category fa fa-caret-right" [ngClass]="{'icon-active':showCaret,'icon':!showCaret, 'narrow-icon': !expanded}"
           (click)="onCategoryExpand($event)">
        </i>
    </div>
    <div *ngIf="menu?.NavigationItems?.length > 0; else emptyHintContainer" 
        class="menu-child megamenu-panel" 
        title="" 
        [ngStyle]="{'display:flex; flex-direction:column': menu.isActiveItem}" 
        (click)="stopNavigation($event)">
        <ng-template #defaultPanelContent>
            <d3s-site-menu-category-panel
                [menu]="menu"
                [isActive]="isActive"
                (activeItemChanged)="activeItemChanged.emit($event)"
                (contentSizeChanged)="positionMenu()">
                <ng-content additionalButtons select="[additionalButtons]"></ng-content>
            </d3s-site-menu-category-panel>
        </ng-template>

        <ng-container [ngTemplateOutlet]="customPanelContent || defaultPanelContent">            
        </ng-container>
    </div>

    <ng-template #emptyHintContainer>
        <div *ngIf="emptyHint && menu.isActiveItem" 
            class="menu-child megamenu-panel empty-hint-panel"
            title="">
            <ng-container [ngTemplateOutlet]="emptyHint">            
            </ng-container>
        </div>
    </ng-template>
</li>       