<div class="row">
    <div class="col s12" *ngIf="isLoading">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
    </div>
    <div class="col s12" style="display: flex" *ngIf="!isLoading">
        <div class="tile tile-detail main-panel">
            <d3s-asset-grid #assetGrid [gridObject]="gridObject" 
                            (selectedChange)="selectAsset($event)" 
                            (hasProfilingChange)="hasProfiling=$event" 
                            (showEditorChange)="showEditor=$event"
                            (isLoadingChange)="gridLoading=$event"
                            (isDefinitionLoadedChange)="definitionLoaded=$event"></d3s-asset-grid>
        </div>
        <div class="tile tile-detail side-panel" *ngIf="!gridLoading && !isLoading && definitionLoaded && (!showEditor || (showEditor && selection != null))">
            <side-panel (expandedChange)="sidePanelOpen=$event"
                        (selectedPanelChange)="sidePanelTab=$event"
                        [selectedItem]="selection"
                        [panelApplies]="panelApplies"
                        [hasProfiling]="hasProfiling"
                        hasDetail="true"
                        [storageKey]="sidePanelStorageKey"
                        [selectedPanel]="sidePanelTab">
                <ng-container *ngIf="sidePanelOpen && selection != null && sidePanelLoading">
                    <d3s-loading [isLoading]="true"></d3s-loading>
                </ng-container>
                <ng-container *ngIf="sidePanelOpen && selection != null && !sidePanelLoading">
                    <ng-container *ngIf="sidePanelTab === 'dataprofile' && selection?.HasProfiling">
                        <data-profile [dataProfile]="dataProfile"></data-profile>
                    </ng-container>
                    <ng-container *ngIf="sidePanelTab === 'detail'">
                        <ig-asset-detail [objectUID]="selection.AssetUid"
                                         objectType="artifact"
                                         [useAccordion]="true"
                                         [shouldBePadded]="false"
                                         [showHeader]="true"
                                         [showHeaderLine]="false"
                                         [spacerHeight]="'16px'"
                                         [paddingLeft]="'11px'"
                                         [tooltipAlign]="'left'"
                                         [isSidePanel]="true"
                                         [hasAddRelationshipsPermissions]="false"
                                         [hasModifyRelationshipsPermissions]="false"
                                         [hasDeleteRelationshipsPermissions]="false"
                                         (onEditClick)="assetGrid.triggerEdit()"></ig-asset-detail>
                    </ng-container>
                </ng-container>
            </side-panel>
        </div>
    </div>
</div>
