<d3s-loading [isLoading]="isLoading"></d3s-loading>                                                
<div *ngIf="!isLoading">                                    
    <div class="row">
        <div>
            <div class="col s12" style="display:flex;">
                <div class="tile tile-detail main-panel">
                    <d3s-object-definition-tile [synonymPermission]="synonymPermission" [objectPermissions]="permissions" [objectID]="artifact?.ID" [useV2Api]="true" [objectType]="'Artifact'" [nymTypes]="artifact?.NymTypes" (onEditComplete)="editArtifact($event)"></d3s-object-definition-tile>
                </div>
                <div *ngIf="showDataProfile" class="tile tile-detail side-panel">
                        <side-panel (expandedChange)="sidePanelOpen=$event" [hasProfiling]="true" [storageKey]="sidePanelStorageKey">
                            <ng-container *ngIf="sidePanelOpen">
                                <data-profile [dataProfile]="dataProfile"></data-profile>
                            </ng-container>
                        </side-panel>
                </div>                
            </div>
        </div>             
    </div>                    
</div> 