@import '../../../../../../Content/styles/_Variables.less';

.ig-grey-text {
  color: @ig-grey;
}

.email-body {
  background: #f0f0f0;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  overflow-x: auto;
}