<div class="row">
    <div class="col l4 s12">
        <div class="tile tile-detail">
            <header *ngIf="!showEditor && !showDelete">
                <ng-container i18n>Surveys</ng-container>
                <d3s-tile-actions [hasAdd]="true" (addClick)="add()" [hasFilterMode]="true"
                                  [(filterMode)]="showSimpleFilter"></d3s-tile-actions>
            </header>
            <span *ngIf="!showDelete && !showEditor">
                                <input type="text" [hidden]="!showSimpleFilter" pInputText size="100"
                                       (input)="dt.filterGlobal($event.target.value, 'contains')" i18n-placeholder
                                       placeholder="Search..." class="grid-simple-filter">
                                <p-table #dt
                                         [value]="surveys"
                                         selectionMode="single"
                                         [metaKeySelection]="true"
                                         [globalFilterFields]="['Name','ValidForDays']"
                                         [sortField]="sortField"
                                         [sortOrder]="sortOrder"
                                         [pageLinks]="3"
                                         [paginator]="true"
                                         [rows]="rowsPerPage"
                                         [(selection)]="selected"
                                         [first]="0"
                                         [lazy]="true"
                                         (onLazyLoad)="loadSurveyTypesLazy($event)"
                                         [totalRecords]="totalRecords"
                                         [loading]="isLoading"
                                         [loadingIcon]="'fa fa-spinner fa-spin'"
                                >                                  
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th [pSortableColumn]="'Name'" style="width: 25%">
                                                <ng-container i18n>Name</ng-container>
                                                <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                                            </th>
                                            <th [pSortableColumn]="'ValidForDays'" style="width: 10%">
                                                <ng-container i18n>Valid Days</ng-container>
                                                <d3s-sortIcon [field]="'ValidForDays'"></d3s-sortIcon>
                                            </th>
                                            <th style="width: 60px"></th>
                                        </tr>
                                        <tr [hidden]="showSimpleFilter">
                                            <th><d3s-column-filter [field]="'Name'"
                                                                   [datatype]="'text'"></d3s-column-filter></th>
                                            <th><d3s-column-filter [field]="'ValidForDays'"
                                                                   [datatype]="'text'"></d3s-column-filter></th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-item>
                                        <tr (dblclick)="selected=item;showEditor=true" [pSelectableRow]="item">
                                            <td>{{item.Name}}</td>
                                            <td>{{item.ValidForDays}}</td>
                                            <td>
                                                <div class="RowTools">
                                                    <a style="cursor:pointer;"
                                                       (click)="selected=item;showEditor=true"><i
                                                            class="fa fa-pencil"></i></a>
                                                    <a style="cursor:pointer;"
                                                       (click)="selected=item;showDelete=true"><i
                                                            class="fa fa-trash-o"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                                        <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows"
                                                              [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                                    </ng-template>
                                </p-table>
                            </span>
            <d3s-dynamic-editor *ngIf="showEditor" [useObjectUidForDefinition]="true" [objectUid]="selected?.Uid"
                                [objectType]="'SurveyType'" [title]="'Survey'" [selection]="selected"
                                (saveClick)="saveSurvey($event)" (closeClick)="closeEditor()"></d3s-dynamic-editor>
            <d3s-delete-form *ngIf="showDelete"
                             [callback]="theDeleteCallback"
                             [itemId]="selected?.Uid"
                             [method]="'callback'"
                             [prompt]="deletePromptText"
                             (onCancel)="showDelete=false;"
            ></d3s-delete-form>
        </div>
    </div>
    <div class="col l8 s12" *ngIf="!showEditor && !showDelete && selected">
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <object-detail [objectType]="'SurveyType'" [objectUID]="selected?.Uid"></object-detail>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <d3s-admin-survey-questions [survey]="selected"></d3s-admin-survey-questions>
                </div>
            </div>
        </div>
    </div>
</div>