.explain-widget {
  font-family: monospace;
  font-size: 1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .children {
    margin-left: 12px;
  }

  .detail {
    padding: 2px;
    margin: 1px 1px 1px 12px;

    .detail-value {
      padding: 5px;
      margin: 3px;
      background-color: lightblue;
      border-color: blue;
      border-radius: 3px;
    }

    .level1 {
      background-color: #a9a9a9;
      color: white;
    }

    .level2 {
      background-color: #e6194b;
      color: white;
    }

    .level3 {
      background-color: #f58231;
      color: white;
    }

    .level4 {
      background-color: #ffe119;
      color: black;
    }

    .level5 {
      background-color: #bfef45;
      color: black;
    }

    .level6 {
      background-color: #3cb44b;
      color: white;
    }

    .level7 {
      background-color: #42d4f4;
      color: black;
    }

    .level8 {
      background-color: #4363d8;
      color: white;
    }

    .level9 {
      background-color: #911eb4;
      color: white;
    }

    .level10 {
      background-color: #f032e6;
      color: white;
    }

    .toggler {
      position: absolute;
      margin-left: -14px;
      margin-top: 3px;
      font-size: .8em;
      line-height: 1.2em;
      vertical-align: middle;
      color: #777;
    }
  }
}

:host ::ng-deep .explain-widget .detail .detail-description .parameter {
  color: blue;
  border-radius: 3px;
  padding: 2px;
  border: 1px solid #777;
}
