.explain-widget {
    font-family: monospace;
    font-size: 1em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.explain-widget .detail {
    padding: 2px;
    margin: 1px 1px 1px 12px;
}

.explain-widget .detail .detail-value {
    padding: 5px;
    margin: 3px;
    background-color: lightblue;
    border-color: blue;
    border-radius: 3px;
}

:host ::ng-deep .explain-widget .detail .detail-description .parameter {
    color: blue;
    border-radius: 3px;
    padding: 2px;
    border: 1px solid #777777;
}
    
    .explain-widget .detail .level1 {
        background-color: #a9a9a9;
        color: white;
    }
    .explain-widget .detail .level2 {
        background-color: #e6194B;
        color: white;
    }
    .explain-widget .detail .level3 {
        background-color: #f58231;
        color: white;
    }
    .explain-widget .detail .level4 {
        background-color: #ffe119;
        color: black;
    }
    .explain-widget .detail .level5 {
        background-color: #bfef45;
        color: black;
    }
    .explain-widget .detail .level6 {
        background-color: #3cb44b;
        color: white;
    }
    .explain-widget .detail .level7 {
        background-color: #42d4f4;
        color: black;
    }
    .explain-widget .detail .level8 {
        background-color: #4363d8;
        color: white;
    }
    .explain-widget .detail .level9 {
        background-color: #911eb4;
        color: white;
    }
    .explain-widget .detail .level10 {
        background-color: #f032e6;
        color: white;
    }

.explain-widget .detail .toggler {
    position: absolute;
    margin-left: -14px;
    margin-top: 3px;
    font-size: .8em;
    line-height: 1.2em;
    vertical-align: middle;
    color: #787878;
}

.explain-widget .children {
    margin-left: 12px;
}
