<div>
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <span *ngIf="!showRequestCertification && !isLoading">
        <div class="status-value"
            [ngClass]="{'status-value-certified':isCertified(), 'status-value-review': isUnderReview()}">{{status}}</div>
        <div *ngIf="isDraft() && isWorkflowEnabled">
            <a (click)="showRequestCertification=true"
                style="cursor:pointer">Request Certification</a>
        </div>
        <div *ngIf="!isDraft() || !isWorkflowEnabled"
            class="status-note">
            Status
        </div>
    </span>
    <span *ngIf="showRequestCertification  && !isLoading">
        <div class="form-instructions">Click request certification to send a certification request to the term owner.</div>
        <div class="row">
            <div class="col s12">
                <button pButton
                    type="button"
                    (click)="requestCertification()"
                    label="Request Certification"></button>
                <button pButton
                    type="button"
                    (click)="showRequestCertification=false;"
                    label="Cancel"></button>
            </div>
        </div>
    </span>
</div>
