<div class="scoring">
    <div class="score-breakdown">
        <div class="row">
            <div class="col s12">
                <div class="heading breakdown">
                    <button *ngIf="hasAnyScoreType(ScoreType.Governance)" [ngClass]="{'selected': showGovernanceScores}" (click)="setSelectedButton(ScoreType.Governance)" class="button ng-star-inserted"><span>Governance Score</span></button>
                    <button *ngIf="hasAnyScoreType(ScoreType.DataQuality)" [ngClass]="{'selected': showDQScores}" (click)="setSelectedButton(ScoreType.DataQuality)" class="button ng-star-inserted"><span>Data Quality Score</span></button>
                    <div *ngIf="!isAllCollapsed();else expand" (click)="setCollapsed(true)" class="collapse-btn">Collapse all</div>
                    <ng-template #expand><div (click)="setCollapsed(false)" class="collapse-btn">Expand All</div></ng-template>
                </div>
                <div class="scorecards-container">
                    <d3s-object-health-details-item *ngFor="let item of pointBreakdownTree" [item]="item" [definition]="scoreDefinition" [showtype]="selectedScoreType" [isloading]="isloading" ></d3s-object-health-details-item>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div *ngIf="!isLoading; else chartLoading" class="score-chart-container">
        <div class="heading">
            <div class="heading-text" [innerHTML]="calculatedScoreText | safeHtml"></div>
        </div>
        <div class="score-chart">
            <div class="chart-header">Governance Score History</div>
            <chart [options]="scoreHistory"></chart>
        </div>
    </div>
    <ng-template #chartLoading>
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
    </ng-template>
</div>