<header id="{{control}}_header">Lineage</header>
<div id="{{control}}_wrapper_fullscreen" style="z-index:99999;background-color:white;">
    <div id="{{control}}_overlay" style="display:none; background-color:rgba(0, 0, 0, 0.1); width:100%;height:100%;position:absolute;z-index:999;top:0;left:0;">
        <div id="overlayModal" style="background-color:white;border-radius:5px;width:33%;min-width:500px;vertical-align:middle;margin:15px auto;padding:25px;box-shadow:10px 10px 5px rgba(0,0,0,.3);border:1px solid lightgray">
            <div style="width:100%;text-align:center;">
                <div id="{{control}}_overlay_relationship"></div><br />
            </div>
            <table id="{{control}}_overlay_existing" style="margin-top:5px;">
                <tbody>
                    <tr>
                        <td style="width:27px;"></td>
                        <td>
                            Predicate:
                        </td>
                        <td>
                            <select id="{{control}}_overlay_predicates" class="select-dropdown browser-default" style="height:100%"></select>
                            <div id="{{control}}_overlay_roles"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top:5px;">
                <tbody>
                    <tr>
                        <td>
                            <button id="{{control}}_overlay_add" style="display:none;" class="btn white-text" disabled>OK</button>
                        </td>
                        <td>
                            <button id="{{control}}_overlay_cancel" class="btn red darken-3 white-text">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="{{control}}_popover_add" style="display:none;position:absolute;background-color:white;z-index:10001;width:350px;border:1px solid #d4d4d4; box-shadow: rgba(0,0,0,.15) 7px 7px;">
        <div>
            <div style="width:100%;text-align:right;font-size:1.4em;background-color:#50a5dc;"><a href="#" style="text-decoration:none;color:white;padding-right:10px;" onclick="$('#{{control}}_popover_add').hide(200);"><i class="fa fa-remove"></i></a></div>
            <div style="padding:10px">
                Type: <select data-bind="value: NodeType" class="select-dropdown browser-default" id="{{control}}_add_artifact_type" style="height:100%"></select><br />
                Search: <input id="{{control}}_add_search_text" type="text" />
                <button id="{{control}}_add_search">Search</button>
                <div id="{{control}}_add_search_message" style="display:none;text-align:center;color:maroon;">
                    No Results
                </div>
                <div id="{{control}}_palette" style="height:300px"></div>
            </div>
        </div>
    </div>
    <div id="{{control}}_popover_sourcerule_editor" style="display:none;position:absolute;background-color:white;z-index:10001;width:500px;border:1px solid #d4d4d4; box-shadow: rgba(0,0,0,.15) 7px 7px;">
        <div id="{{control}}_popover_sourcerule_editor_body" data-bind="template: {name: 'hierarchyRuleEditTmpl' }"></div>
    </div>
    <div id="{{control}}_ribbon_expander" style="width:100%;">
        <div style="font-size:1.1em;">
            <i class="fa fa-gear"></i> Diagram Controls
        </div>
        <div style="width: 100%;height:120px" id="{{control}}_ribbon">
            <ul>
                <li>
                    View
                </li>
            </ul>
            <div>
                <!-- div ribbon container -->
                <div>
                    <!-- 0-View -->
                    <table style="width:auto;height:115px;">
                        <tbody>
                            <tr style="font-size:.8em;padding-top:2px;height:15px;">
                                <td colspan="2" style="padding-left:5px;">
                                    Overview
                                </td>
                                <td colspan="2" style="padding-left:5px;">
                                    Zoom
                                </td>
                                <td colspan="2" style="padding-left:5px;">
                                    Other
                                </td>
                                <td colspan="2" style="padding-left:5px;">
                                    Edit
                                </td>
                                <td colspan="2" style="padding-left:5px; display:none">
                                    Rules
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:5px;">
                                    <div style="border: 1px solid #ccc;margin:2px;">
                                        <div id="{{control}}_overview" style="width:100px;height:80px"></div>
                                    </div>
                                </td>
                                <td style="width:1px;border-left:1px solid #ccc;"></td>
                                <td style="padding:0 5px 0 5px">
                                    <table style="height:80px;">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <button id="{{control}}_ribbon_zoom_100"><i class="fa fa-search"></i> 100%</button>
                                                    <button id="{{control}}_ribbon_zoom_fit"><i class="fa fa-expand"></i> Fit</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button id="{{control}}_ribbon_zoom_out"><i class="fa fa-search-minus"></i></button>
                                                    <input id="{{control}}_ribbon_zoom_slider" type="range" max="2250" min="750" value="1500" style="width:150px; display:inline-block;" />
                                                    <button id="{{control}}_ribbon_zoom_in" style="display:inline-block"><i class="fa fa-search-plus"></i></button>
                                                    <span id="{{control}}_ribbon_zoom_text" style="display: inline-block;">100%</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td style="width:1px;border-left:1px solid #ccc;"></td>
                                <td style="padding:5px;vertical-align:top;">
                                    <button id="{{control}}_ribbon_fullscreen" style="vertical-align:top;"><i class="fa fa-2x fa-arrows-alt"></i><br />Fullscreen</button>
                                    <button id="{{control}}_ribbon_reset"><i class="fa fa-2x fa-refresh"></i><br />Reset</button>
                                </td>

                                <td style="width:1px;border-left:1px solid #ccc;"></td>
                                <td style="padding:5px;vertical-align:top;">
                                    <button id="{{control}}_ribbon_undo"><i class="fa fa-2x fa-undo"></i><br />Undo</button>
                                    <button id="{{control}}_ribbon_redo"><i class="fa fa-2x fa-repeat"></i><br />Redo</button>
                                    <!-- not sure why valign top is needed here -->
                                    <button id="{{control}}_ribbon_add" style="vertical-align: top;"><i class="fa fa-2x fa-plus"></i><br />Insert a Node</button>
                                    <button id="{{control}}_ribbon_remove" style="vertical-align:top;"><i class="fa fa-2x fa-remove"></i><br />Remove</button>
                                    <button id="{{control}}_ribbon_save" style="vertical-align:top;"><i class="fa fa-2x fa-save"></i><br />Save Changes</button>
                                    <div id="{{control}}_ribbon_save_spinner" style="border:none; display:none;vertical-align:top;"><i class="fa fa-2x fa-spinner fa-spin"></i></div>
                                </td>

                                <td style="width:1px;border-left:1px solid #ccc; display:none"></td>
                                <td style="padding:5px;vertical-align:top; display:none">
                                    <button id="{{control}}_ribbon_sourcerule_add" style="vertical-align: top;"><i class="fa fa-2x fa-plus"></i><br />Add Source Rule</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <table>
        <tbody>
            <tr style="vertical-align:top;height:520px">
                <td style="vertical-align:top">
                    <div id="{{control}}_wrapper" style="height:420px;resize:vertical; overflow: auto">
                        <div id="{{control}}_dgm" style="height:400px; overflow: no-display"></div>
                        <div id="{{control}}_message" style="background-color:rgba(141, 14, 14, 1);color:white;padding:2px;font-size:.8em; border-radius:3px;display:none;"><i class="fa fa-warning"></i> You have unsaved changes in this diagram!</div>
                    </div>
                </td>
                <td style="width:350px;vertical-align:top;height:100%">
                    <div id="{{control}}_sidebar" style="height:100%; overflow-y: scroll;">
                        <div id="{{control}}_info">
                            <div><i class="fa fa-info-circle"></i> Info</div>
                            <div style="padding: 10px" id="{{control}}_info_body"></div>
                        </div>
                        <div id="{{control}}_sourcerules">
                            <div><i class="fa fa-code-fork"></i> Hierarchy Rules</div>
                            <div style="padding:10px">
                                <div id="{{control}}_sourcerules_table"></div>
                            </div>
                        </div>
                        <div id="{{control}}_responsibilities">
                            <div><i class="fa fa-retweet"></i> Responsibilities</div>
                            <div style="padding:10px">
                                <div id="{{control}}_responsibilities_table"></div>
                            </div>
                        </div>
                        <div id="{{control}}_fusion">
                            <div><i class="fa fa-database"></i> Fusion Relationships</div>
                            <div style="padding:10px">
                                <div id="{{control}}_fusion_body"></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
