<div class="mapping-list">
    <div>
        {{#each rules}}
        <div>
            <span style="background-color:{{SourceBackColor}};color:{{SourceForeColor}};padding:2px;border-radius:2px;">{{SourceName}}</span>
             → 
            <span style="background-color:{{TargetBackColor}};color:{{TargetForeColor}};padding:2px;border-radius:2px;">{{TargetName}}</span>
        </div>
        <div style="text-align:center;border-bottom:1px solid #999;padding-top:5px;"></div>
        <div style="padding:5px 2px 20px 2px">
            {{Transformation}}
        </div>
        {{/each}}
        
    </div>
</div>
