<div id="{{control}}_overlay" style="display:none; background-color:rgba(0, 0, 0, 0.1); width:100%;height:100%;position:absolute;z-index:100000;top:0;left:0;">
    <div id="overlayModal" style="background-color:white;border-radius:5px;width:33%;min-width:500px;vertical-align:middle;margin:15px auto;padding:25px;box-shadow:10px 10px 5px rgba(0,0,0,.3);border:1px solid lightgray">
        <div style="width:100%;text-align:center;">
            <div id="{{control}}_overlay_relationship"></div><br />
        </div>
        <table>
            <tbody>
                <tr>
                    <td colspan="2" style="font-weight:bold">
                        Choose a Predicate
                    </td>
                </tr>
                <tr>
                    <td>
                        Predicate:
                    </td>
                    <td>
                        <select id="{{control}}_overlay_predicates" class="browser-default"></select>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td colspan="2" style="font-weight:bold">
                        Create a new Predicate
                    </td>
                </tr>
                <tr style="padding-bottom:2px">
                    <td>
                        Predicate Name:
                    </td>
                    <td>
                        <input type="text" id="{{control}}_overlay_pname" />
                    </td>
                </tr>
                <tr style="padding-bottom:2px">
                    <td>
                        Phrase:
                    </td>
                    <td>
                        <input type="text" id="{{control}}_overlay_phrase" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="{{control}}_overlay_add" style="display:none;" class="btn white-text">OK</button>
                    </td>
                    <td>
                        <button id="{{control}}_overlay_cancel" class="btn red darken-3 white-text">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<table>
    <tbody>
        <tr style="vertical-align:top;height:520px">
            <td>
                <div id="{{control}}_wrapper" style="height:420px;resize:vertical; overflow: auto">
                    <div id="{{control}}_dgm" style="height:400px; overflow: no-display"></div>
                </div>
            </td>
            <td style="width:350px;vertical-align:top;height:100%">
                <div id="{{control}}_sidebar" style="height:100%; overflow-y: scroll;">
                    <div id="{{control}}_controls">
                        <div><i class="fa fa-gear"></i> Diagram Controls</div>
                        <div style="padding: 10px">
                            <h4>Zoom</h4>
                            <div id="{{control}}_controls_zoom" style="display: inline-block; width: 70%"></div>
                            <span id="{{control}}_zoomDisplay" style="display: inline-block; width: 30%">100% </span>
                            <br /><br />
                            <button id="{{control}}_controls_zoom100">zoom to 100%</button>
                            <button id="{{control}}_controls_zoomfit">zoom to fit</button>
                            <button id="{{control}}_controls_reset">reset</button>
                            <!--<button onclick="reOrderLayout();">reorganize </button>-->
                            <!--| <button onclick="toggleFullscreen(isFullscreen);">toggle fullscreen</button>-->
                            <!--| spacing: <input id="txtSpacing" type="text" value="25" maxlength="3" style="width:40px" onkeyup="changeSpacing($(this).val())" />-->
                            <!--<button onclick="rotateDiagram();">rotate</button>-->
                        </div>
                    </div>
                    <div id="{{control}}_info">
                        <div><i class="fa fa-info-circle"></i> Info</div>
                        <div style="padding: 10px" id="{{control}}_info_body"></div>
                    </div>
                    <div id="{{control}}_actions">
                        <div><i class="fa fa-pencil"></i> Actions</div>
                        <div style="padding: 10px">
                            <button id="{{control}}_actions_remove" style="display:none">Remove</button>

                            <div id="{{control}}_add" style="display:none">
                                <h4>Add a new node</h4>
                                <div style="padding: 10px">
                                    Type: <select data-bind="value: NodeType" class="browser-default" id="{{control}}_add_artifact_type"></select><br />
                                    Search: <input id="{{control}}_add_search_text" type="text" />
                                    <button id="{{control}}_add_search">Search</button>
                                    <div id="{{control}}_palette" style="height:300px"></div>
                                </div>
                                <button id="saveBtn" class="btn red" onclick="saveChanges();" style="float:right"><i class="fa fa-save"></i> Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>