<ng-container *ngIf="isArrayValue || fieldDataType == 'tag'; else singleValue">
    <div *ngIf="fieldDataType != 'tag'" class="ig-value ig-item-list">
        <ul *ngFor="let item of field.Values">
            <li *ngIf="item.TooltipContext == 'Preview'" [class]="valueCount > 1 ? 'ig-item' : ''">
                <d3s-preview-tooltip [objectType]="item.TooltipType" [objectId]="item.TooltipID"  [contentAnchor]="'right'" [align]="tooltipAlign">
                    <a *ngIf="item.TooltipUrl && fieldDataType != 'color'" [href]="item.TooltipUrl" [innerHtml]="(valueCount > 1 ? '&bull; ' : '') + item.Value" (click)="navigate(item.TooltipUrl, $event)"></a>
                    <span *ngIf="!item.TooltipUrl && fieldDataType != 'color'" [innerHtml]="item.Value"></span>
                    <d3s-color-display *ngIf="fieldDataType == 'color'" [url]="item.TooltipUrl" [colorsJSON]="item.Value"></d3s-color-display>
                </d3s-preview-tooltip>
            </li>
            <li *ngIf="item.TooltipContext != 'Preview'">
                <d3s-lookup-tooltip *ngIf="item.TooltipUrl; else noLinkTooltip" [objectType]="item.TooltipType" [objectId]="item.TooltipID" [contentAnchor]="'right'">
                    <a *ngIf="fieldDataType != 'color'" [href]="item.TooltipUrl" (click)="navigate(item.TooltipUrl, $event)" [innerText]="item.Value"></a>
                    <d3s-color-display *ngIf="fieldDataType == 'color'" [colorsJSON]="item.Value" [url]="item.TooltipUrl"></d3s-color-display>
                </d3s-lookup-tooltip>
            </li>
        </ul>
    </div>
    <ng-container *ngIf="fieldDataType == 'tag'">
        <div class="ig-value">
            <d3s-tag-view [data]="field.Values" [assetUID]="assetUid" [isEditable]="true" [allowAddTag]="true"></d3s-tag-view>
        </div>
    </ng-container>
</ng-container>
<ng-template #singleValue>
    <ng-container *ngIf="field.Type == DetailFieldType.Field">
        <ng-container *ngIf="shouldShowEmptyValue; else showFieldValue">
            <div class="ig-value">{{emptyValue}}</div>
        </ng-container>
        <ng-template #showFieldValue>
            <ng-container [ngSwitch]="fieldDataType">
                <ng-container *ngSwitchCase="'text'">
                    <div class="ig-value">{{field.Value}}</div>
                </ng-container>
                <ng-container *ngSwitchCase="'path'">
                    <div class="ig-value" [innerHtml]="field.Value | safeHtml"></div>
                </ng-container>
                <ng-container *ngSwitchCase="'html'">
                    <div class="ig-value ig-html" [innerHtml]="field.Value | safeHtml"></div>
                </ng-container>
                <ng-container *ngSwitchCase="'link'">
                    <div class="ig-value"><a [href]="linkUrl" target="_blank">{{linkName}}<span style="text-decoration:none !important">&nbsp;&nbsp;<i class="fa fa-external-link" pTooltip="This link will open in a new tab" tooltipStyleClass="ig-tooltip" tooltipPosition="top"></i></span></a></div>
                </ng-container>
                <ng-container *ngSwitchCase="'json'">
                    <div class="ig-value">
                        <div *ngIf="json == 'Error'; else showJSON">{{field.Value}}</div>
                        <ng-template #showJSON>
                            <ngx-json-view [data]="json"></ngx-json-view>
                        </ng-template>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                    <div class="ig-value">{{formattedNumber}}</div>
                </ng-container>
                <ng-container *ngSwitchCase="'bool'">
                    <div class="ig-value">
                        <ng-container *ngIf="(field.Value || '').toUpperCase() == 'TRUE'">
                            <i class="fa fa-check-circle enabled ig-bool" title="True"></i>True
                        </ng-container>
                        <ng-container *ngIf="(field.Value || '').toUpperCase() == 'FALSE'">
                            <i class="fa fa-times-circle disabled ig-bool" title="False"></i>False
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                    <div class="ig-value">
                        <div>{{(field.Value | date: dateFormat)}}</div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'datetime'">
                    <div class="ig-value">
                        <div *ngIf="!isUtcDate">{{(field.Value | utcDate | date: dateTimeFormat)}}</div>
                        <div *ngIf="isUtcDate">{{(field.Value | date: dateTimeFormat)}}</div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'color'">
                    <div class="ig-value">
                        <d3s-color-display [colorsJSON]="field.Value"></d3s-color-display>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'score'">
                    <span class="ig-colorfield-item grid" style="display: inline-flex !important;">
                        <span class="ig-colorfield-swatch" [ngClass]="'score-' + json?.Threshold"></span>
                        <span class="ig-colorfield-item-label">
                            {{json?.name}}
                        </span>
                    </span>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <div class="ig-value">{{field.Value}}</div>
                </ng-container>
            </ng-container>
        </ng-template>
    </ng-container>
    <ng-container *ngIf="field.Type == DetailFieldType.Tooltip">
        <div style="padding-bottom: 9px">
            <d3s-preview-tooltip *ngIf="field.TooltipContext == 'Preview'; else listTooltip" [objectType]="field.TooltipType" [objectId]="field.TooltipID" [align]="tooltipAlign">
                <a [href]="field.TooltipUrl" (click)="navigate(field.TooltipUrl, $event)">{{field.Value}}</a>
            </d3s-preview-tooltip>
            <ng-template #listTooltip>
                <d3s-lookup-tooltip *ngIf="field.TooltipUrl; else noLinkTooltip" [objectType]="field.TooltipType" [objectId]="field.TooltipID">
                    <a *ngIf="fieldDataType != 'color'" [href]="field.TooltipUrl" (click)="navigate(field.TooltipUrl, $event)" [innerText]="field.Value"></a>
                    <d3s-color-display *ngIf="fieldDataType == 'color'" [url]="field.TooltipUrl" [colorsJSON]="field.Value"></d3s-color-display>
                </d3s-lookup-tooltip>
                <ng-template #noLinkTooltip>
                    <d3s-lookup-tooltip [objectType]="field.TooltipType" [objectId]="field.TooltipID">
                        <span *ngIf="fieldDataType != 'color'" [innerText]="field.Value"></span>
                        <d3s-color-display *ngIf="fieldDataType == 'color'" [colorsJSON]="field.Value"></d3s-color-display>
                    </d3s-lookup-tooltip>
                </ng-template>
            </ng-template>
        </div>
    </ng-container>
    <ng-container *ngIf="field.Type == DetailFieldType.LookupGrid">
        <ig-asset-lookup-grid    [data]="field.Data"
                                 [hideHeader]="field.HideHeader"
                                 [hideFooter]="field.HideFooter"
                                 [hideFilter]="field.HideFilter"
                                 [field]="field"
                                 [assetUid]="assetUid">
        </ig-asset-lookup-grid>
    </ng-container>
    <ng-container *ngIf="field.Type == DetailFieldType.LookupList">
        <ig-asset-lookup-list [data]="field.Data"
                              [field]="field"
                              [assetUid]="assetUid">
        </ig-asset-lookup-list>
    </ng-container>
</ng-template>
