<div *ngIf="isReferenceListFromRelationship">
    <div class="row" style="margin-bottom: 10px">
        <div>
            <div class="FieldDisplayContent">
                <div>Reference List: <d3s-preview-tooltip objectType="ReferenceItemType" [objectId]="data.objectId"><a [href]="data?.url" (click)="navigate(data?.url, $event)">{{data?.name}}</a></d3s-preview-tooltip></div>
            </div>
            <div *ngIf="data?.description" class="FieldDisplayContent">
                <div *ngIf="showDescription" [innerHtml]="data.description | safeHtml"></div>
                <div>
                    <a (click)="toggleShowDescription()">{{showDescription ? "Hide Description" : "Show Description"}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ig-lookup-grid-filter-container" *ngIf="filtersLoadIdentifier">
    <div class="grid-actions-header" [style.padding]="hideFilter ? '0 0 0 0' : null">
        <ng-container *ngIf="!hideFilter">
            <div [ngClass]="isSidePanel ? 'flexsimple-search' : 'simple-search'">
                <ig-search-field mode="Keypress"
                                 [debounce]="600"
                                 (onSearch)="loadData($event)"
                                 [(ngModel)]="simpleTextFilter"
                                 [infoTooltip]="simpleSearchTooltipHTML"
                                 [IsFlexApply]="isSidePanel">
                </ig-search-field>
            </div>
            <advanced-filtering *ngIf="showAdvancedFilterField" [externalAllocations]="externalAllocations" [loadIdentifier]="filtersLoadIdentifier" [enableFilterSaving]="false" (onLoad)="onFiltersLoaded()" (onChange)="advancedFiltersChanged($event)"></advanced-filtering>

            <div *ngIf="hideFilter" class="ig-lookup-grid-filter-placeholder">&nbsp;</div>
            <div class="grid-action-buttons">
                <button igButton
                        class="ig-lookup-grid-button"
                        icon="fa-download"
                        (click)="export()"
                        pTooltip="Export to Excel"
                        tooltipPosition="top"
                        tooltipStyleClass="ig-tooltip"></button>
            </div>
        </ng-container>
    </div>
    <ng-container *ngIf="hideFilter">
        <ig-portal-content-provider [name]="'field/' + field.Name + '-' + objectIdService.getObjectId(field) + '/asset-detail-category/label-right'"
                                    [template]="assetGridExportLink">
            <ng-template #assetGridExportLink>
                <div class="asset-grid-export-link">
                    <a (click)="export()"><i class="fa fa-download"></i>Export to Excel</a>
                </div>
            </ng-template>
        </ig-portal-content-provider>
    </ng-container>
</div>
<div class="complex-lookup-table">
    <p-table #dt
             [value]="data?.Values"
             [globalFilterFields]="globalFilterFields"
             [pageLinks]="3"
             [paginator]="!hideFooter"
             [rows]="defaultInitialItemsPerPage"
             [rowsPerPageOptions]="defaultPagingOptions"
             [totalRecords]="data?.total"
             [loading]="isLoading"
             [loadingIcon]="'fa fa-spinner fa-spin'"
             [lazy]="true"
             [scrollable]="true"
             (onLazyLoad)="loadData($event)">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col *ngFor="let column of visibleColumns" [style.width]="(column.columnWidth == null || column.columnWidth < 1) ? '125px' : column.columnWidth + 'px'">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr [hidden]="hideHeader">
                <th *ngFor="let column of visibleColumns" [style.width]="(column.columnWidth == null || column.columnWidth < 1) ? '125px' : column.columnWidth + 'px'" [pSortableColumn]="column.sortable ? column.datafield : null">
                    <span *ngIf="column.description != null && column.description != ''" [pTooltip]="column.description" tooltipPosition="top">{{column.text}}</span>
                    <span *ngIf="column.description == null || column.description == ''">{{column.text}}</span>
                    <d3s-sortIcon *ngIf="column.sortable" [field]="column.datafield"></d3s-sortIcon>
                </th>
            </tr>
            <tr [hidden]="showSimpleFilter || hideFilter">
                <th *ngFor="let column of visibleColumns">
                    <d3s-column-filter *ngIf="column.filterable" [field]="column.datafield" [datatype]="'text'"></d3s-column-filter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td *ngFor="let column of visibleColumns" class="ig-lookup-grid-cell">
                    <div [ngSwitch]="column.type">
                        <span *ngSwitchCase="'date'">
                            <span *ngIf="item[column.datafield] && item[column.datafield] !== ''">{{item[column.datafield] | utcDate | date:'shortDate'}}</span>
                        </span>
                        <span *ngSwitchCase="'datetime'">
                            <span *ngIf="item[column.datafield] && item[column.datafield] !== ''">{{item[column.datafield] | utcDate | date:'short'}}</span>
                        </span>
                        <span *ngSwitchCase="'bool'">
                            <ng-container *ngIf="item[column.datafield] !== null">
                                <i *ngIf="item[column.datafield].toString().toUpperCase() === 'TRUE'" class="fa fa-check enabled" title="True"></i>
                                <i *ngIf="item[column.datafield].toString().toUpperCase() === 'FALSE'" class="fa fa-times disabled" title="False"></i>
                            </ng-container>
                        </span>
                        <span *ngSwitchCase="'number'">{{item[column.datafield]}}</span>
                        <span *ngSwitchCase="'lookup'" style="display:block; word-wrap:break-word !important">
                            <d3s-lookup-tooltip [objectType]="item[column.objectfield]" [objectId]="item[column.objectidfield]">
                                <ng-container *ngIf="!interceptLinkClick">
                                    <a (click)="navigate(item[column.urlfield], $event, column)" [innerText]="item[column.datafield]"></a>
                                </ng-container>
                                <ng-container *ngIf="interceptLinkClick">
                                    <a context-link (click)="navigate(item[column.urlfield], $event, column)" [innerText]="item[column.datafield]"></a>
                                </ng-container>
                            </d3s-lookup-tooltip>
                        </span>
                        <span *ngSwitchCase="'preview'" style="display:block; word-wrap:break-word !important">
                            <ng-container *ngIf="!interceptLinkClick">
                                <a (click)="navigate(item[column.urlfield], $event, {column,item})" [innerText]="item[column.datafield]"></a>
                            </ng-container>
                            <ng-container *ngIf="interceptLinkClick">
                                <a context-link (click)="navigate(item[column.urlfield], $event, {column,item})" [innerText]="item[column.datafield]"></a>
                            </ng-container>
                        </span>
                        <span *ngSwitchCase="'link'" style="display:block; word-wrap:break-word !important" [innerHtml]="item[column.datafield]"></span>
                        <span *ngSwitchCase="'html'" style="display:block; word-wrap:break-word !important" [innerHtml]="item[column.datafield]"></span>
                        <span *ngSwitchCase="'Score'" style="display:block; word-wrap:break-word !important" [innerHtml]="getScoreFieldHTML(item,column.datafield)"></span>
                        <span *ngSwitchCase="'color'" style="display:block; word-wrap:break-word !important">
                            <ng-container *ngIf="colorFieldData(item,column.datafield)">
                                <span class="ref-list-color">
                                    <span class="ig-colorfield-swatch" [style.background]="colorFieldData(item,column.datafield).Value"></span>
                                    <span>{{colorFieldData(item,column.datafield).Name}}</span>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="!colorFieldData(item,column.datafield)">
                                <span class="ref-list-color">
                                    <span class="ig-colorfield-swatch empty"></span>
                                    <span class="color-text">None</span>
                                </span>
                            </ng-container>
                        </span>
                        <span *ngSwitchDefault style="display:block; word-wrap:break-word !important" [innerText]="item[column.datafield]"></span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="visibleColumns.length">
                    No results match your search criteria
                </td>
            </tr>
        </ng-template>
        <ng-template *ngIf="!hideFooter" pTemplate="summary">
            <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="data?.total"></d3s-grid-paging-info>
        </ng-template>
    </p-table>
</div>
