@import "../../../../../Content/styles/_Variables.less";

.ig-lookup-grid-filter-container {
  display: inline-flex;
  width: 100%;

  .ig-lookup-grid-simple-filter-container {
    margin-top: 6px;
    width: 100%;
    flex-grow: 1;

    .ig-lookup-grid-simple-filter {
      margin-bottom: 10px;
      width: 100%;
    }

    .ig-lookup-grid-filter-search-icon {
      position: relative;
      float: right;
      top: -37px;
      right: 8px;
      height: 0;
      color: @ig-grey;
    }
  }

  .ig-lookup-grid-filter-placeholder {
    flex-grow: 1;
    display: inline-block;
  }

  .ig-lookup-grid-button {
    margin-left: 8px;
  }

  .ig-lookup-grid-button-container {
    margin-bottom: 10px;
    margin-top: 6px;
  }
}

.ig-lookup-grid-container {
  display: inline-flex;
  width: 100%;
  min-width: 500px;
  overflow-x: auto;
}

.ig-lookup-grid-cell {
  word-break: break-word;
  word-wrap: break-word;
}

.grid-actions-header {
  display: inline-flex;
  padding: 16px 0;
  width: 100%;

  .grid-action-buttons {
    div {
      display: inline-block;
    }

    button {
      margin-left: 8px;
    }
  }

  &.hidden {
    display: none;
  }

  .simple-search {
    width: 200px;
  }
}

.asset-grid-wrapper {
  padding: 0 6px;
}

.debug-code {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin: 11px;
  padding: 4px;
  background: #f8ffe3;
}

.asset-grid-export-link {
  width: 114px;
  height: 0;
  position: relative;
  top: -24px;

  .fa-download {
    margin-right: 8px;
    top: 1px;
    position: relative;
  }
}
