<div *ngIf="!category.loaded" style="width:100%; text-align:center;">
    <div style="padding:10px;"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div *ngIf="category.loaded">
    <div *ngFor="let row of category.rows; let last=last">
        <div class="row" attr.data-category="{{row.Category}}">
            <div *ngFor="let field of row.FirstColumnFields">
                <label *ngIf="field.FieldDescription && field.FieldDescription != ''" class="ig-label">
                    <span [pTooltip]="field.FieldDescription" tooltipPosition="top">
                        {{field.Name}}
                    </span>
                </label>
                <label *ngIf="!field.FieldDescription || field.FieldDescription == ''" class="ig-label">
                    <span>
                        {{field.Name}}
                    </span>
                </label>
                <ig-asset-detail-field [field]="field" [assetUid]="assetUID" [tooltipAlign]="tooltipAlign" [isSidePanel]="isSidePanel"></ig-asset-detail-field>
            </div>
            <div *ngIf="last" [style.height]="spacerHeight">
                &nbsp;
            </div>
        </div>
    </div>
</div>