.asset-grid-wrapper {
  padding: 0 6px;
}

:host p-table ::ng-deep table {
  th, td {
    &:not(:last-child) {
      padding-right: 16px;
    }

    &:not(:first-child) {
      padding-left: 16px;
    }
  }
}
