.bulk-load-component {
  padding: 32px;

  .upload-form {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    height: calc(100vh - 198px);
    overflow: auto;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
  }

  .file-input {
    display: flex;
    padding-top: 16px;

    label {
      font-weight: bold;
      line-height: 32px;
      color: black;
    }
  }

  .FieldName {
    margin-top: 8px;
  }
}
