<div class="asset-detail-tabs">
	<ig-property-group title="General" [shouldBePadded]="false" [showHeaderLine]="false" [expanded]="true">
		<div readonly>
			<div class="row">
				<div class="col">
					<label class="ig-label" i18n>Name</label>
					<div class="ig-value">{{ workflowDiagramModel?.Type?.Name }}</div>
				</div>
				<div class="col">
					<label class="ig-label" i18n>Type</label>
					<div class="ig-value"> {{ changeType }}</div>
				</div>
				<div class="col">
					<label class="ig-label" i18n>Description</label>
					<div [innerHTML]="workflowDiagramModel?.Type?.Description"></div>
				</div>
				<div class="col">
					<label class="ig-label" i18n>Current Version</label>
					<div class="ig-value">{{ workflowDiagramModel?.CurrentVersion?.Version }}&nbsp;<span
						i18n>{{ workflowDiagramModel?.CurrentVersion?.UID === workflowDiagramModel?.PublishedVersion?.UID ? '(Published)' : '(Unpublished)' }}</span>
					</div>
				</div>
			</div>
		</div>
	</ig-property-group>
</div>
<pre *ngIf="workflowDiagramModel">{{ workflowDiagramModel | json }}</pre>
