<div *ngIf="isLoading" style="text-align:center;">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
<div *ngIf="!isLoading">
    <header>{{actionName}} Responsibility Relation</header>
    <form (ngSubmit)="onSubmit()" #relationEditor="ngForm">
        <div class="row">
            <div class="col s12 form-instructions">
                Modify your relation using the form below.
                <div class="form-instructions-error" data-bind="visible: FormInvalid, text: FormValidationMessage">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12" class="d3s-type-dropdown">
                <div id='TypeTip' class="FieldNameRequired">Asset Type</div>
                <div *ngIf="inEditModel">{{selectedAllocation.Path}}</div>
                <p-dropdown required *ngIf="!inEditModel" name="assettype" [options]="commonFormData.AllocationOptions | responsibilityallocationFilter" placeholder="Select asset type..." [(ngModel)]="selectedAllocation" (onChange)="updateAssetType($event.value)" optionLabel="Path" dataKey="ID" filter="true" [style]="{'width':'98%', 'display' : 'block'}"></p-dropdown>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div id='TypeTip' class="FieldNameRequired">Permissions</div>
            </div>
        </div>
        <div class="row">
            <div class="col l3 m3 s12" *ngFor="let cat of permissionCategories">
                <div *ngFor="let p of relation.Permissions | permissionFilter:cat" [pTooltip]="p.Description" tooltipPosition="bottom" tooltipStyleClass="ig-tooltip">
                    <p-checkbox [(value)]="p.Value" [(ngModel)]="p.Selected" binary="true" [ngModelOptions]="{standalone: true}" [label]="p.Name"></p-checkbox>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">&nbsp;</div>
        </div>

        <div class="row" *ngIf="errorMessage != ''">
            <div class="col s12">
                <div style="color:red">{{errorMessage}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div style="padding-top:10px">
                    <button pButton type="submit" [disabled]="!relationEditor.form.valid" label="Save"></button>
                    <button pButton type="button" label="Cancel" (click)="cancel()"></button>
                </div>
            </div>
        </div>
    </form>
</div>

