CREATE TABLE [dbo].[Intersect](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IntersectTypeID] [bigint] NOT NULL,
	[ParentID] [bigint] NULL,
	[Name]  AS ([utility].[DeriveIntersectNameWrapper]([ID])),
	[IsUsed] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreatingResourceID] [int] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[UpdatingResourceID] [int] NOT NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IntersectType](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name]  AS ([utility].[DeriveIntersectTypeNameWrapper]([ID])),
	[DateCreated] [datetime] NOT NULL,
	[CreatingResourceID] [int] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[UpdatingResourceID] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Intersect] ON 

GO
INSERT [dbo].[Intersect] ([ID], [IntersectTypeID], [ParentID], [IsUsed], [DateCreated], [CreatingResourceID], [DateUpdated], [UpdatingResourceID]) VALUES (1, 1, NULL, 1, CAST(0x0000A09700E056BD AS DateTime), 1, CAST(0x0000A09700E056BD AS DateTime), 1)
GO
INSERT [dbo].[Intersect] ([ID], [IntersectTypeID], [ParentID], [IsUsed], [DateCreated], [CreatingResourceID], [DateUpdated], [UpdatingResourceID]) VALUES (2, 11, NULL, 1, CAST(0x0000A09B01190CBB AS DateTime), 1, CAST(0x0000A09B01190CBB AS DateTime), 1)
GO
INSERT [dbo].[Intersect] ([ID], [IntersectTypeID], [ParentID], [IsUsed], [DateCreated], [CreatingResourceID], [DateUpdated], [UpdatingResourceID]) VALUES (3, 17, NULL, 1, CAST(0x0000A09B012D046B AS DateTime), 1, CAST(0x0000A09B012D046B AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Intersect] OFF
GO
SET IDENTITY_INSERT [dbo].[IntersectType] ON 

GO
INSERT [dbo].[IntersectType] ([ID], [DateCreated], [CreatingResourceID], [DateUpdated], [UpdatingResourceID]) VALUES (1, CAST(0x00009DC800000000 AS DateTime), 1, CAST(0x00009EC50189504F AS DateTime), 3)
GO
INSERT [dbo].[IntersectType] ([ID], [DateCreated], [CreatingResourceID], [DateUpdated], [UpdatingResourceID]) VALUES (2, CAST(0x00009DC800000000 AS DateTime), 1, CAST(0x00009EC50189A420 AS DateTime), 3)
GO
INSERT [dbo].[IntersectType] ([ID], [DateCreated], [CreatingResourceID], [DateUpdated], [UpdatingResourceID]) VALUES (3, CAST(0x00009DC800000000 AS DateTime), 1, CAST(0x00009DC800000000 AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[IntersectType] OFF
GO


CREATE FUNCTION [utility].[DeriveIntersectName] 
(
	@id bigint
)
RETURNS nvarchar(500)
AS
BEGIN
	DECLARE @result nvarchar(500)

	SET @result =	(
					SELECT	COALESCE(
									A.Name,
									T.Name,
									D.Name, 
									E.Name,
									R.FirstName + ' ' + R.LastName,
									''
									) + ' / '
					FROM	staging.IntersectNode I
							INNER JOIN staging.IntersectTypeNode IT ON I.IntersectTypeNodeID = IT.ID
							LEFT OUTER JOIN Artifact A			ON	A.ID = I.ObjectID	AND I.ObjectType = 'Artifact'
							LEFT OUTER JOIN Taxonomy T			ON	T.ID = I.ObjectID	AND I.ObjectType = 'Taxonomy'
							LEFT OUTER JOIN DomainList D		ON	D.ID = I.ObjectID	AND I.ObjectType = 'DomainList'
							LEFT OUTER JOIN [Event] E			ON E.ID = I.ObjectID AND I.ObjectType = 'Event'
							LEFT OUTER JOIN [Resource] R		ON	R.ID = I.ObjectID	AND I.ObjectType = 'Resource'
					WHERE	I.IntersectID = @id
					ORDER BY IT.[Order]
					FOR XML PATH('')
					)

	SET @result = SUBSTRING(@result, 1, LEN(@result) - 2)

	RETURN @result
END
GO


CREATE FUNCTION [utility].[DeriveIntersectTypeName] 
(
	@id bigint
)
RETURNS nvarchar(500)
AS
BEGIN
	DECLARE @result nvarchar(500)

	SET @result =	(
					SELECT	COALESCE(
									AR.Name,
									AT.Name, 
									TT.Name,
									DT.Name, 
									ET.Name, 
									RT.Name,
									IT.Name,
									''
									) + ' / '
					FROM	staging.IntersectTypeNode I
							LEFT OUTER JOIN ArtifactType AR				ON	AR.ID = I.ObjectID	AND I.ObjectType = 'ArtifactType'
							LEFT OUTER JOIN AttributeType AT			ON	AT.ID = I.ObjectID	AND I.ObjectType = 'AttributeType'
							LEFT OUTER JOIN TaxonomyType TT				ON	TT.ID = I.ObjectID	AND I.ObjectType = 'TaxonomyType'
							LEFT OUTER JOIN DomainListType DT			ON	DT.ID = I.ObjectID	AND I.ObjectType = 'DomainListType'
							LEFT OUTER JOIN EventType ET				ON  ET.ID = I.ObjectID	AND I.ObjectType = 'EventType'
							LEFT OUTER JOIN ResourceType RT				ON	RT.ID = I.ObjectID	AND I.ObjectType = 'ResourceType'
							LEFT OUTER JOIN staging.IntersectType IT	ON	IT.ID = I.ObjectID	AND I.ObjectType = 'IntersectType'
					WHERE	I.IntersectTypeID = @id
					ORDER BY I.[Order]
					FOR XML PATH('')
					)

	SET @result = SUBSTRING(@result, 1, LEN(@result) - 2)

	RETURN @result
END
GO


