<div class="row">
    <div class="col s12" style="display: flex">
        <div class="tile tile-detail main-panel">
            <div class="grid-actions-header">
                <div class="simple-search">
                    <ig-search-field mode="Keypress"
                                     [debounce]="600"
                                     (onSearch)="onSimpleSearch($event)"
                                     [(ngModel)]="simpleFilter"
                                     [infoTooltip]="simpleSearchTooltipHTML">
                    </ig-search-field>
                </div>
                <advanced-filtering [loadIdentifier]="'SemanticTypes'" [fieldsObserver]="filterFields$" (onLoad)="onFiltersLoaded()" (onChange)="advancedFiltersChanged($event)"></advanced-filtering>
                <div class="grid-action-buttons">
                    <div pTooltip="{{(canExportRecords() ? 'Export to Excel' : 'Export not available for over ' + maxExportRows + ' rows')}}"
                         tooltipPosition="left"
                         tooltipStyleClass="ig-tooltip">
                        <button igButton
                                [disabled]="!canExportRecords() || isExportInProgress"
                                [igDataCy]="'Assets_Export'"
                                icon="fa-download"
                                [loading]="isExportInProgress"
                                (click)="export()">
                        </button>
                    </div>
                </div>
            </div>
            <div class="row asset-grid-wrapper">
                <div class="col s12">
                    <p-table #dt
                             [value]="semanticTypes"
                             selectionMode="single"
                             [(selection)]="selectedType"
                             [metaKeySelection]="true"
                             dataKey="uid"
                             [paginator]="true"
                             [pageLinks]="3"
                             [rows]="rowsPerPage"
                             [rowsPerPageOptions]="defaultPagingOptions"
                             [totalRecords]="semanticsTotal"
                             [scrollable]="true"
                             scrollWidth="100%"
                             [loading]="isLoading"
                             [loadingIcon]="'fa fa-spinner fa-spin'"
                             [lazy]="true"
                             (onLazyLoad)="lazyLoad($event)"
                             [style]="{ 'width': '100%' }"
                             (selectionChange)="selectRow($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'Name'">
                                    Name
                                    <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                                </th>
                                <th [pSortableColumn]="'Qualifier'">
                                    Qualifier
                                    <d3s-sortIcon [field]="'Qualifier'"></d3s-sortIcon>
                                </th>
                                <th [pSortableColumn]="'Status'">
                                    Status
                                    <d3s-sortIcon [field]="'Status'"></d3s-sortIcon>
                                </th>
                                <th [pSortableColumn]="'Priority'">
                                    Priority
                                    <d3s-sortIcon [field]="'Priority'"></d3s-sortIcon>
                                </th>
                                <th [pSortableColumn]="'BaseType'">
                                    Base Type
                                    <d3s-sortIcon [field]="'BaseType'"></d3s-sortIcon>
                                </th>
                                <th style="width: 5%" alignFrozen="right" pFrozenColumn></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr (dblclick)="selectSemanticType(item)" [pSelectableRow]="item" (focus)="selectRow(item)">
                                <td>
                                    <a (click)="selectSemanticType(item)"
                                       class="link">
                                        {{item.name}}
                                    </a>
                                </td>
                                <td>
                                    {{item.qualifier}}
                                </td>
                                <td>
                                    <span class="ig-value ig-colorfield-item detail" style="display: inline-flex !important;">
                                        <span class="ig-colorfield-swatch" [style.background-color]="getCertificationStatusColor(item.status)"></span>
                                        <span class="ig-colorfield-item-label">
                                            {{(item.status==="InReview" ? "Under Review" : item.status)}}
                                        </span>
                                    </span>
                                </td>
                                <td>{{item.priority}}</td>
                                <td>{{(item.baseType == 0 ? '' : getBaseTypeText(item.baseType))}}</td>
                                <td class="asset-grid-tools" style="width: 5%; " alignFrozen="right" pFrozenColumn>
                                    <div style="display:inline-block">
                                        <button igButton type="button" icon="fa-ellipsis-v" (click)="selectRow(item); menu.toggle($event)"></button>
                                        <ig-popup-menu (onSelect)="clickMenuItem($event, item)" [items]="menuItems" #menu [tabIndex]="1"></ig-popup-menu>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt.first"
                                                  [rows]="dt.rows"
                                                  [totalRecords]="semanticsTotal"></d3s-grid-paging-info>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            No semantic types found
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div *ngIf="showSidePanel && selectedType" class="tile tile-detail side-panel">
            <side-panel (expandedChange)="sidePanelOpen=$event"
                        [expanded]="sidePanelOpen"
                        [storageKey]="sidePanelStorageKey"
                        [selectedPanel]="sidePanelTab"
                        [hasSelectedItem]="selectedType ? true : false"
                        hasDetail="true">
                <ng-container *ngIf="sidePanelOpen && sidePanelTab === 'detail'">
                    <ng-container *ngIf="selectedType">
                        <semantic-detail [qualifier]="selectedType.qualifier"
                                         [isSidePanel]="true"
                                         [showHeader]="true"
                                         [semanticType]="selectedType"
                                         (linkClicked)="handleSecondarySidePanelLinkClicked($event)"></semantic-detail>
                    </ng-container>
                </ng-container>   
                <ng-container *ngIf="secondarySidePanelOpen">
                    <div #semanticTile class="secondary-side-panel">
                        <div class="panel-header">
                            <span class="header-label">Information</span>
                            <div class="button-container">
                                <button igButton [attr.data-cy]="'Semantic_Secondary_Close'" icon="fa-times" (click)="secondarySidePanelOpen=false;" [tooltip]="Close" class="close-button"></button>
                            </div>
                        </div>
                        <div class="details-container">
                            <div>
                                <ng-container *ngIf="resourceUid && secondarySidePanel=='user'">
                                    <ig-asset-detail [objectUID]="resourceUid"
                                                     [objectType]="'Resource'"
                                                     [useAccordion]="true"
                                                     [shouldBePadded]="true"
                                                     [showHeader]="true"
                                                     [showHeaderLine]="false"
                                                     [spacerHeight]="'16px'"
                                                     [tooltipAlign]="'left'"
                                                     [isSidePanel]="true"
                                                     [interceptLinkClick]="true"
                                                     (close)="secondarySidePanelOpen=false;"></ig-asset-detail>
                                </ng-container>
                                <ng-container *ngIf="secondarySidePanel=='status'">
                                    <semantic-status-detail (close)="secondarySidePanelOpen=false;"></semantic-status-detail>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </side-panel>
        </div>
    </div>
</div>
