@import "../../../../Content/styles/infogix-ui/infogix-ui.less";
@import '../../../../Content/styles/_Variables.less';

.grid-actions-header {
  display: inline-flex;
  padding: 8px 10px;
  width: 100%;

  .grid-action-buttons {
    div {
      display: inline-block;
    }

    button {
      margin-left: 8px;
    }
  }

  &.hidden {
    display: none;
  }

  .simple-search {
    width: 200px;
  }
}

.export-link {
  white-space: nowrap;

  a {
    .fa-download {
      margin-right: 8px;
      top: 1px;
      position: relative;
    }
  }
}

p-table {
  td {
    > a:hover {
      text-decoration: underline;

      span {
        text-decoration: underline;
      }
    }

    &.asset-grid-tools {
      vertical-align: top;
      text-align: right;
      padding: 1px;

      button {
        background: transparent;

        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }

        &:active {
          background: rgba(0, 0, 0, 0.14);
        }
      }
    }
  }
}

.tooltip-icon {
  width: 32px;
  color: @ig-purple;
  text-align: center;
  cursor: pointer;
  padding-top: 1px;
}

.asset-grid-wrapper {
  padding: 0 6px;
}

.debug-code {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin: 11px;
  padding: 4px;
  background: #f8ffe3;
}

.header-description {
  padding-top: 16px;
  padding-left: 10px;
}

.definition-panel {
  display: flex;

  .semantic-field {
    width: 180px;
    margin-right: 40px;
  }
}

.asset-detail {
  .windowtabs {
    line-height: inherit;
  }

  .count-badge {
    margin-left: 5px;
    width: 32px;
    height: 21px;
    background: @ig-purple;
    color: white;
    line-height: 21px;
    text-align: center;
    border-radius: 2px;
  }
}

.status-table {
  .p-datatable {
    padding-left: 16px;
  }
}


//Semantic Types Editor
.add-semantic-form {
  padding: 24px;

  .form-header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;

    .sub-header {
      color: @igx-gray-color;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .error-message {
    font-size: 14px;
  }

  .form-wrapper {
    overflow: auto;
    padding-right: 24px;

    .dropdown-selected-value {
      margin-top: -7px;
    }

    .col {
      padding: 0;
    }

    .FieldName {
      color: @ig-black;
    }

    .field-wrapper-type-Link {
      .flex-grid-link {
        display: flex;
        flex-wrap: wrap;
        padding: 8px 0 0 0;

        .link-input {
          flex-grow: 1;
        }

        .label {
          line-height: 32px;
          padding-right: 16px;
          width: 58px;
        }
      }

      .error-message {
        margin-left: 58px;
      }
    }

    .required-field.empty-field {
      .p-editor-content {
        height: 150px;
        background: @ig-lightblue-t4;
        font-family: 'Precisely', sans-serif;

        .ql-blank::before {
          font-style: normal;
          font-size: 14px;
          font-family: 'Precisely', sans-serif;
        }
      }
    }
  }

  .action-buttons {
    padding: 24px 0 0 0;
  }

  .multi-select-lazy-load {
    width: 100%;

    .overlay-trigger {
      width: 100%;
    }

    .p-multiselect-chip {
      height: unset;
    }

    .p-dropdown-trigger,
    .p-multiselect-trigger {
      margin-top: 2px;
      margin-right: 2px;
    }

    .ng-invalid {
      .value-required {
        background: @ig-lightblue-t4;
      }
    }

    .p-multiselect-label {
      max-width: unset;
      position: relative;
      padding: 2px;
      height: unset !important;
      line-height: 24px;
      padding-bottom: 0;

      &.p-placeholder {
        padding-left: 8px;
      }

      .p-multiselect-token {
        display: block;
        background: @ig-grey-t5;
        color: @ig-black;
        border-radius: 4px;
        margin: 0 2px 2px 0;
        padding: 0 4px;
        float: left;
        height: 24px;

        .p-multiselect-token-label {
          position: relative;
          top: -3px;
        }

        .p-multiselect-token-icon {
          font-size: 16px;
          padding: 4px;
        }
      }
    }
  }

  &.saving-in-progress {
    .input-wrapper {
      pointer-events: none;
      opacity: 0.33;
    }
  }

  .ig-property-group {
    .pg-collapsable-content {
      padding-bottom: 30px;

      .inputs-wrapper {
        .FieldName {
          margin-top: 14px;
          padding-bottom: 8px;
        }

        /*.row:first-child {
          .FieldName {
            margin-top: 0;
            height: 24px;
            line-height: 24px;
          }
        }*/
      }
    }
  }
  //we do not want key fields error to disable submit button so we are just enforcing invalid field colour instead of marking field as invalid
  .has-key-field-error {
    input {
      background-color: @ig-red-t5;
    }
  }

  .field-col.s6 {
    padding-right: 16px;
  }
}

ul.valueList {
  margin-block-start: 4px;
  margin-block-end: 12px;

  li {
    list-style-type: disc;
    list-style-position: inside;

    &.showMore {
      list-style-type: none;
      color: #006fba;
      cursor: pointer;
    }
  }
}
