.ig-button {
  box-shadow: none !important;
  margin-right: 4px;

  &-size-m {
    width: 24px;
    height: 24px;

    & > span {
      height: 10px;
    }
  }

  &-size-l {
    width: 28px;
    height: 28px;

    & > span {
      height: 12px;
    }
  }

  &-size-s {
    border-radius: 100%;
    width: 16px;
    height: 16px;

    & > span {
      height: 13px;
    }
  }
}
