.ig-button {
  box-shadow: none;
  margin-right: 4px;

  &-size-m {
    width: 24px;
    height: 24px;

    & > span {
      height: 10px;
    }
  }

  &-size-l {
    width: 28px;
    height: 28px;

    & > span {
      height: 12px;
    }
  }
}