<div class="asset-detail side-panel-detail no-padding">
	<d3s-loading [isLoading]="isLoading"></d3s-loading>
	<div *ngIf="!isLoading" class="asset-detail-header">
		<div class="asset-name">{{item.Name}}</div>
		<div class="class-name" i18n>Role</div>
	</div>

	<div *ngIf="!isLoading" class="asset-detail-tabs">
		<ig-property-group i18n-title title="General">
			<div inputs>
				<div class="form-group">
					<div class="row">
						<label class="ig-label" i18n>Name</label>
						<span>
							{{item.name}}
						</span>
					</div>
					<div class="row">
						<label class="ig-label" i18n>Description</label>
						<span>{{item.description}}</span>
					</div>
				</div>
			</div>
		</ig-property-group>
		<ig-property-group i18n-title title="System Fields">
			<div inputs>
				<div class="form-group">
					<div class="row">
						<label class="ig-label" i18n>
							UID
							<i class="fa fa-copy" [copy-clipboard]="item.Uid"></i>
						</label>
						<div>
							{{item.Uid}}
						</div>
					</div>
				</div>
			</div>
		</ig-property-group>
	</div>

</div>