.relationship-detail {
  overflow: hidden;

  .main-panel {
    padding: 16px;
  }

  .grid-actions-header {
    display: inline-flex;
    width: 100%;
    margin-bottom: 16px;

    .grid-action-buttons {
      div {
        display: inline-block;
      }

      button {
        margin-left: 8px;
      }
    }

    &.hidden {
      display: none;
    }

    .simple-search {
      width: 200px;
    }
  }

  .side-panel {
    margin-right: 0;
  }
}

.relationship-detail-filter {
  .relationships {
    padding: 0 0 16px 16px;

    .item {
      padding: 4px 0 4px 16px;
      display: flex;

      .flex-item {
        display: flex;
      }

      .ig-badge {
        min-width: 40px;
      }
    }
  }
}
