.relationship-detail {
  .main-panel {
    padding: 16px;
  }

  .grid-actions-header {
    display: inline-flex;
    width: 100%;
    margin-bottom: 16px;

    .grid-action-buttons {
      div {
        display: inline-block;
      }

      button {
        margin-left: 8px;
      }
    }

    &.hidden {
      display: none;
    }

    .simple-search {
      width: 200px;
    }
  }
}
