<div class="row">
    <div class="col s12">
        <div class="tile tile-detail">
            <d3s-user-list></d3s-user-list>
        </div>                        
    </div>

    <div class="col s12">
        <div id="FieldsTile" class="tile tile-detail">
            <d3s-field-definition-tile 
                                       [objectType]="objectType" 
                                       [objectID]="objectID" 
                                       [showIsPartOfKey]="false"
                                       [showAddToSearch]="true"
                                       assetTypeUid="00000001-0000-0000-0000-A00000000011">
            </d3s-field-definition-tile>
        </div>
    </div>
</div>