<div class="row">
    <as-split unit="pixel"
              direction="horizontal"
              [gutterSize]="sidePanelService.draggableAreaWidth"
              class="col s12 split"
              style="display: flex"
              [class.side-panel-close]="!sidePanelOpen"
              (dragEnd)="onSidePanelDragEnd(sidePanelStorageKey, $event)">
        <as-split-area class="tile tile-detail main-panel">
            <d3s-user-list [(selected)]="selectedResource"></d3s-user-list>
        </as-split-area>
        <as-split-area [size]="getSidePanelWidth()"
                       [minSize]="getSidePanelMinWidth()"
                       [maxSize]="getSidePanelMaxWidth()"
                       class="tile tile-detail side-panel"
                       *ngIf="!isLoading">
            <side-panel (expandedChange)="sidePanelOpen=$event"
                        (selectedPanelChange)="sidePanelTab=$event"
                        [expanded]="sidePanelOpen"
                        [panelApplies]="'true'"
                        [storageKey]="sidePanelStorageKey"
                        [selectedPanel]="'detail'"
                        [setMinMaxWidth]="false"
                        hasDetail="true">
                <ng-container *ngIf="sidePanelOpen && sidePanelLoading">
                    <d3s-loading [isLoading]="true"></d3s-loading>
                </ng-container>
                <ng-container *ngIf="sidePanelOpen">
                    <div class="empty-overlay"
                         *ngIf="!selectedResource && sidePanelTab === 'detail'">
                        <div class="content">
                            <div class="icon-holder">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <span i18n>Select a user from the list to display their properties</span>
                        </div>
                    </div>
                    <ng-container *ngIf="selectedResource && sidePanelTab === 'detail'">
                        <asset-preview [assetUid]="selectedResource.uid"
                                       [assetType]="'Resource'"
                                       [hasEditLink]="false"
                                       [hasOpenLink]="true"></asset-preview>
                    </ng-container>
                </ng-container>
            </side-panel>
        </as-split-area>
    </as-split>
</div>