<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div class="asset-detail-tabs" [hidden]="isLoading">
	<ig-property-group title="Workflow Version Details" [shouldBePadded]="false" [showHeaderLine]="false"
					   [expanded]="true">
		<div readonly>
			<div class="row">
				<div class="col">
					<label class="ig-label" i18n>Name</label>
					<div class="ig-value"></div>
				</div>
				<div class="col">
					<label class="ig-label" i18n>Type</label>
					<div class="ig-value"></div>
				</div>
				<div class="col">
					<label class="ig-label" i18n>Version</label>
					<div></div>
				</div>
				<div class="col">
					<label class="ig-label" i18n>Update On</label>
					<div class="ig-value"></div>
				</div>
				<div class="col">
					<label class="ig-label" i18n>Update By</label>
					<div class="ig-value"></div>
				</div>
			</div>
		</div>
	</ig-property-group>
</div>
<pre style="white-space: pre-wrap" *ngIf="versionDetails">{{ versionDetails | json }}</pre>
