<div class="row">
    <div class="col s12">
        <div class="tile tile-detail">
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <div [ngSwitch]="mode" *ngIf="!isLoading">
                <div *ngSwitchCase="CartMode.Default">
                    <div *ngIf="cartIsEmpty">
                        <div class="row">
                            <div class="col s12">
                                <div style="font-size:1.5em; text-align: center; padding: 25px;" i18n>
                                    Your shopping cart is empty
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!cartIsEmpty">
                        <div class="row">
                            <div class="col m9 s12" style="padding:20px;">


                                <p-table #dt [value]="items" selectionMode="single" [metaKeySelection]="true">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th [pSortableColumn]="'ObjectTypeName'">
                                                <ng-container i18n>Type</ng-container>
                                                <d3s-sortIcon [field]="'ObjectTypeName'"></d3s-sortIcon>
                                            </th>
                                            <th i18n>Name</th>
                                            <th style="width: 35px"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td>{{item.ObjectTypeName}}</td>
                                            <td>
                                                <d3s-preview-tooltip [objectType]="item.Object" [objectId]="item.ObjectID">
                                                    <a style="cursor:pointer;" (click)="navigate(item)">{{item.Name}}</a>
                                                </d3s-preview-tooltip>
                                            </td>
                                            <td>
                                                <div class="RowTools">
                                                    <a style="cursor:pointer;" (click)="delete(item)"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                            <div class="col m3 s12" style="padding:20px;">
                                <div class="row">
                                    <div class="col s12">
                                        <textarea [(ngModel)]="cart.Request" style="min-height: 300px;" placeholder="Provide a reason for making this request"></textarea>
                                    </div>
                                </div>
                                <div class="row" style="padding-top:10px;">
                                    <div class="col s12">
                                        <button pButton label="Request Items" type="button" (click)="mode = CartMode.ConfirmRequest" [disabled]="cart.Request == null || cart.Request.length < 1"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col s12">
                                <button pButton i18n-label label="Back" (click)="back()" type="button"></button>
                                <button *ngIf="!cartIsEmpty" pButton i18n-label label="Clear Shopping Cart" (click)="mode = CartMode.ConfirmDelete"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="CartMode.ConfirmRequest">
                    <div class="row">
                        <div class="col s12" i18n>
                            Are you sure you want to submit this request?
                        </div>
                    </div>
                    <div class="row" style="padding-top:25px;">
                        <div class="col s12">
                            <button pButton i18n-label label="Cancel" type="button" (click)="mode = CartMode.Default"></button>
                            <button pButton i18n-label label="Submit" type="button" (click)="request()"></button>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="CartMode.ConfirmDelete">
                    <div class="row">
                        <div class="col s12" i18n>
                            Are you sure you want to remove all items from your shopping cart?
                        </div>
                    </div>
                    <div class="row" style="padding-top:25px;">
                        <div class="col s12">
                            <button pButton i18n-label label="Cancel" (click)="mode = CartMode.Default" type="button"></button>
                            <button pButton i18n-label label="Clear" (click)="clear()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>