<div class="tile tile-detail">
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <div *ngIf="!isLoading">
        <div class="row">
            <div class="col m9 s12" style="padding:20px;">

                <p-table #dt [value]="items" selectionMode="single" [metaKeySelection]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'ObjectTypeName'">
                                <ng-container i18n>Type</ng-container>
                                <d3s-sortIcon [field]="'ObjectTypeName'"></d3s-sortIcon>
                            </th>
                            <th i18n>Name</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item">
                            <td>{{item.ObjectTypeName}}</td>
                            <td>
                                <d3s-preview-tooltip [objectType]="item.Object" [objectId]="item.ObjectID">
                                    <a style="cursor:pointer;" (click)="navigate(item)">{{item.Name}}</a>
                                </d3s-preview-tooltip>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                        <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                    </ng-template>
                </p-table>
            </div>
            <div class="col m3 s12" style="padding:20px;">
                <div class="FieldName" i18n>
                    Requested By
                </div>
                <div>
                    {{cart.Requestor}}
                </div>
                <div class="FieldName" i18n>
                    Requested On
                </div>
                <div>
                    {{cart.RequestedOn | date : 'medium'}}
                </div>
                <div class="FieldName" i18n>
                    Request
                </div>
                <div>
                    {{cart.Request}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button pButton i18n-label label="Back" type="button" (click)="back()"></button>
            </div>
        </div>
    </div>
</div>
