<div class="row">
    <div class="col s12">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <div class="tile tile-detail" >    
            <div class="row" *ngIf="!isLoading && !showDelete && !showEditor">                        
                <div class="col s12">
                    <header>{{modelGroup}} Rules                                
                        <d3s-tile-actions [hasAdd]="hasModifyAssetPermissions()" (addClick)="showAddRule()" hasFilterMode="true" [(filterMode)]="showSimpleFilter">
                        </d3s-tile-actions>                                                     
                    </header>
                        <input type="text" [hidden]="!showSimpleFilter" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter">
                        <p-table #dt [value]="rules" selectionMode="single" [metaKeySelection]="true" 
                                     [globalFilterFields]="globalFilterFields" sortField="Name" [sortOrder]="1" 
                                     [pageLinks]="3" [paginator]="true" [rows]="defaultInitialItemsPerPage"
                                     [rowsPerPageOptions]="defaultPagingOptions" [(selection)]="selected"
                                     (sortFunction)="customSort($event)" [customSort]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th [pSortableColumn]="'ID'" style="width: 5%">
                                        ID
                                        <d3s-sortIcon [field]="'ID'"></d3s-sortIcon>
                                    </th>
                                     <th *ngFor="let col of columns" [pSortableColumn]="col.sortable ? col.datafield : null" >
                                        {{col.text}}
                                        <d3s-sortIcon *ngIf="col.sortable" [field]="col.datafield"></d3s-sortIcon>
                                    </th>
                                    <th style="width: 40px;"></th>
                                    <th style="width: 40px;"></th>
                                </tr>
                                <tr [hidden]="showSimpleFilter">
                                    <th><d3s-column-filter [field]="'ID'" [datatype]="'text'"></d3s-column-filter></th>
                                    <th *ngFor="let col of columns">
                                          <d3s-column-filter [field]="col.datafield" [datatype]="'text'"></d3s-column-filter>
                                      </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr [pSelectableRow]="item">
                                    <td>
                                        <a (click)="selected=item;showRule(selected);">{{item["ID"]}}</a>
                                    </td>
                                    <td *ngFor="let column of columns">
                                        <a (click)="selected=item;showRule(selected);"><d3s-dynamic-field-value [column]="column" [fields]="fields" [item]="item"></d3s-dynamic-field-value></a>
                                    </td>
                                    <td>
                                        <div class="RowTools" *ngIf="item.P_CanEdit">
                                            <a style="cursor:pointer;" (click)="selected=item;showEditor=true;"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="RowTools" *ngIf="item.P_CanDelete">
                                            <a style="cursor:pointer;" (click)="selected=item;showDelete=true;"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                                <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                            </ng-template>
                        </p-table>

                </div>
            </div>
            <d3s-dynamic-editor *ngIf="showEditor" [objectID]="ruleType?.ID" [objectType]="'Rule'" [title]="'Rule'" [selection]="selected" (saveClick)="saveRule($event)" (closeClick)="showEditor = false;"></d3s-dynamic-editor>
            <d3s-delete-form *ngIf="showDelete"
                                    [callback]="theDeleteCallback"
                                    [itemId]="selected?.ID"
                                    [method]="'callback'"
                                    [prompt]="'Are you sure you want to delete the selected item?'"                                         
                                    (onCancel)="showDelete=false;"
            ></d3s-delete-form>  
        </div>                        
    </div>
</div>