<div class="row">
    <div class="col s12" style="display: flex">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <div class="tile tile-detail main-panel"
             *ngIf="!isLoading">
            <d3s-asset-grid #grid
                            [gridObject]="gridObject"
                            (selectedChange)="selectAsset($event)"
                            (hasProfilingChange)="hasProfiling=$event"
                            (showEditorChange)="showEditor=$event"
                            (isLoadingChange)="gridLoading=$event"
                            (isDefinitionLoadedChange)="definitionLoaded=$event"></d3s-asset-grid>
        </div>
        <div class="tile tile-detail side-panel" *ngIf="!gridLoading && !isLoading && definitionLoaded && (!showEditor || (showEditor && selection != null))">
            <side-panel (expandedChange)="sidePanelOpen=$event"
                        (selectedPanelChange)="sidePanelTab=$event"
                        [selectedItem]="selection"
                        [panelApplies]="panelApplies"
                        [hasProfiling]="hasProfiling"
                        hasDetail="true"
                        [storageKey]="sidePanelStorageKey">
                <ng-container *ngIf="sidePanelOpen && selection != null && sidePanelLoading">
                    <d3s-loading [isLoading]="true"></d3s-loading>
                </ng-container>
                <ng-container *ngIf="sidePanelOpen && selection != null && !sidePanelLoading">
                    <ng-container *ngIf="sidePanelTab === 'dataprofile' && selection?.HasProfiling">
                        <data-profile [dataProfile]="dataProfile" [dataProfileList]="dataProfileList"></data-profile>
                    </ng-container>
                    <ng-container *ngIf="sidePanelTab === 'detail'">
                        <ig-asset-detail [objectUID]="selection.AssetUid"
                                         objectType="rule"
                                         [useAccordion]="true"
                                         [shouldBePadded]="false"
                                         [tooltipAlign]="'left'"
                                         [showHeaderLine]="false"
                                         [showHeader]="true"
                                         [spacerHeight]="'16px'"
                                         [paddingLeft]="'11px'"
                                         [isSidePanel]="true"
                                         [hasEditLink]="true"
                                         [hasAddRelationshipsPermissions]="false"
                                         [hasModifyRelationshipsPermissions]="false"
                                         [hasDeleteRelationshipsPermissions]="false"
                                         (onEditClick)="assetGrid.triggerEdit()"></ig-asset-detail>
                    </ng-container>
                </ng-container>
            </side-panel>
        </div>
    </div>
</div>
