<as-split [gutterSize]="sidePanelService.draggableAreaWidth"
	[class.side-panel-close]="!sidePanelOpen"
	(dragEnd)="onSidePanelDragEnd(sidePanelStorageKey, $event)"
	unit="pixel"
	direction="horizontal"
	class="col s12 split"
	style="display: flex">
	<as-split-area class="tile tile-detail main-panel">
		<ng-content></ng-content>

		<ng-container *ngIf="secondarySidePanelOpen">
			<div #fieldDetailTile class="secondary-side-panel fixed-side-panel">
				<div class="panel-header">
					<span class="header-label" i18n>Information</span>
					<div class="button-container">
						<button igButton [attr.data-cy]="'Field_Secondary_Close'" icon="fa-times" (click)="secondarySidePanelOpen=false;" [tooltip]="Close" class="close-button"></button>
					</div>
				</div>
				<div class="details-container">
					<div>
						<ng-container *ngIf="selectedForSecondaryPanel?.Name">
							<d3s-field-type-details [fieldType]="selectedForSecondaryPanel" (close)="secondarySidePanelOpen=false;" (onEdit)="editField(selectedForSecondaryPanel)"></d3s-field-type-details>
						</ng-container>
					</div>
				</div>
			</div>
		</ng-container>

	</as-split-area>
	<as-split-area [size]="getSidePanelWidth()"
		[minSize]="getSidePanelMinWidth()"
		[maxSize]="getSidePanelMaxWidth()"
		class="tile tile-detail side-panel">
		<side-panel [selectedItem]="anySelectedItem"
			[setMinMaxWidth]="false"
			[storageKey]="sidePanelStorageKey"
			[expanded]="true"
			[showEmptyOverlay]="!selectedItem && !selectedForInfoPanel"
			(expandedChange)="sidePanelOpen=$event"
			hasDetail="true">
			<ng-container *ngIf="sidePanelOpen">
				<ng-container *ngIf="selectedItem && !selectedForInfoPanel">
					<ig-asset-type-detail-v2 [uid]="selectedItem.key" (onEditClick)="onEditClick.emit($event)">
					</ig-asset-type-detail-v2>
				</ng-container>
				<ng-container *ngIf="selectedForInfoPanel && !selectedItem">
					<asset-preview [assetUid]="selectedForInfoPanel.AssetUid"
								   [assetType]="selectedForInfoPanel.Object"
								   [hasEditLink]="false"
								   [hasOpenLink]="true"></asset-preview>
				</ng-container>
			</ng-container>
		</side-panel>
	</as-split-area>
</as-split>
