<div class="row">
    <div class="col s12 m12 l7">
        <div class="tile tile-detail">
            <d3s-admin-image-upload [(companySettings)]="companySettings"
                                    [(companyLogo)]="companyLogo"
                                    [(companyIcon)]="companyIcon">
            </d3s-admin-image-upload>
        </div>
        <div class="tile tile-detail">
            <d3s-admin-ip-restriction [(companySettings)]="companySettings"></d3s-admin-ip-restriction>
        </div>
        <div class="tile tile-detail">
            <d3s-admin-site-menu [(companySettings)]="companySettings" (onSaveComplete)="load()"></d3s-admin-site-menu>
        </div>
        <div class="tile tile-detail">
            <d3s-admin-home [(companySettings)]="companySettings" [(homePageImage)]="homePageImage"></d3s-admin-home>
        </div>
        <div class="tile tile-detail">
            <d3s-helpmenu-list [(addedRecords)]="addedRecords" [(items)]="items" [(deletedRecords)]="deletedRecords"></d3s-helpmenu-list>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div *ngIf="distributedCacheEnabled" class="info-tip">
            Caching Is Distributed
        </div>
        <div class="tile tile-detail">
            <header>Features</header>
            <p-checkbox igCheckbox
                        [(ngModel)]="companySettings.DisableCommunityPosting"
                        label="Disable Discussion Posts"
                        binary="true">
            </p-checkbox>
            <div class="directions">
                Disable the ability for users to post new comments or replies to the boards of other users and assets.  Users will still be able to see any system-generated comments.
            </div>
            <p-checkbox igCheckbox
                        [(ngModel)]="companySettings.DisableIssueManagement"
                        label="Disable Take Action"
                        binary="true">
            </p-checkbox>
            <div class="directions">
                Hide the Take Action button and Monitor page from the interface.
            </div>
            <p-checkbox igCheckbox
                        [(ngModel)]="companySettings.HideData3SixtyUsers"
                        label="Hide Precisely Users"
                        binary="true">
            </p-checkbox>
            <div class="directions">
                Hide the precisely users throughout the UI.
            </div>
            <p-checkbox igCheckbox
                        [(ngModel)]="companySettings.ShowAllUsersAPIKey"
                        label="Display API Key"
                        binary="true">
            </p-checkbox>
            <div class="directions">
                Displays the API Key for all users in their Profile Screen. Uncheck to display for administrators only.
            </div>
            <p-checkbox igCheckbox
                        [(ngModel)]="companySettings.WriteActionDescription"
                        label="Write Action Description to Comments?"
                        binary="true">
            </p-checkbox>
            <div class="directions">
                When a user takes an action, create a comment based on the description.
            </div>
            <p-checkbox igCheckbox
                        [(ngModel)]="companySettings.HideHeaderBarControls"
                        label="Hide Header Bar Controls"
                        binary="true">
            </p-checkbox>
            <div class="directions">
                Hide the global search and menu controls in the header bar.
            </div>
            <div class="FieldName">Maximum Dropdown Items</div>
            <div class="directions">
                The maximum number of items to show in a dropdown list before enabling typeahead search.
            </div>
            <input type="number" min="0" [(ngModel)]="companySettings.MaxDropdownItems" style="width: 95%" /> <br />
            <div class="FieldName">Maximum Number of Excel Export Items</div>
            <div class="directions">
                The maximum number of items able to be exported in an excel spreadsheet.
            </div>
            <ng-container>
                <ig-number-input igSize="full" min="1" max="100000" [(ngModel)]="companySettings.MaxExcelExportRows" (ngModelChange)="validateExcelSize();" #excelval="ngModel"></ig-number-input>            
                 <div *ngIf="excelval.invalid && (excelval.dirty || excelval.touched)">
                    <div *ngIf="excelval.errors.underMin" class="ig-text-required">Please enter a positive value of 100,000 or less</div>
                    <div *ngIf="excelval.errors.overMax" class="ig-text-required">Please enter a value of 100,000 or less</div>
                </div>
            </ng-container>
            <div class="FieldName">Asset Definition Panel Column Width</div>
            <div class="directions">
                Width of columns (in pixels) used to lay out fields on the asset Definition panel.
            </div>
            <input type="number" min="100" max="1000" [(ngModel)]="companySettings.AssetDefinitionColumnWidth" style="width: 95%" /> <br />

            <div class="FieldName">Maximum count of Diagram links to use 'AvoidNodes' render template</div>
            <div class="directions">
                Maximum number of links on Lineage diagram that will use 'AvoidNodes' render setting. If higher, links will render without corners and as a straight line between 2 nodes. This improves render performance on diagrams with more data.
            </div>
            <input type="number" min="0" max="100000" [(ngModel)]="companySettings.DiagramMaxAvoidNodesLinkCount" style="width: 95%" /> <br />

        </div>
        <div class="tile tile-detail">
            <header>Workflow</header>
            <div class="FieldName">Default recipient for workflow forms and emails</div>
            <p-dropdown [options]="groups" [(ngModel)]="companySettings.WorkflowCatchAllGroup" [style]="{ 'width' : '95%' }"></p-dropdown>
            <div class="directions">Determines the default recipient of a workflow form or email when the recipient in the setup of the Email Activity or Form Activity cannot be found.</div>
            <div class="FieldName">Certification Workflow</div>
            <div class="directions">Enter the status that will enable the Request Certification button on assets where there is a Request Certification workflow configured.</div>
            <div>
                <input type="text" [ngModel]="companySettings.RequestCertificationDraft" (ngModelChange)="companySettings.RequestCertificationDraft = $event; " style="width: 95%" />
            </div>
            <div class="FieldName">Summary email for workflow assignments</div>
            <div class="directions">
                Check to send an email to all users who have outstanding workflow assignments summarizing new and total items.<br />
                Send summary email on the following days:
            </div>
            <d3s-dayofweek-input [(ngModel)]="companySettings.WorkflowDigestEmailDays"></d3s-dayofweek-input>
        </div>
        <div class="tile tile-detail">
            <header>Search</header>
            <div class="directions">
                Set the initial scope of any search performed from the header bar or home page search. The scope can then be modified after the initial search from the Search Results page.
            </div>
            <ul>
                <li *ngFor="let searchType of searchTypes;let i=index">
                    <p-checkbox igCheckbox
                                [(ngModel)]="searchTypes[i].selected"
                                label="{{searchType.title}}"
                                binary="true">
                    </p-checkbox>
                    <span *ngIf="!searchType.visible" class="hiddencategory">(hidden)</span>
                </li>
            </ul>
        </div>
        <div class="tile tile-detail">
            <header>Default Route</header>
            <div class="directions">
                Specify the default route users will be redirected to when logging into Data360 (ex: /artifact/1). Leave blank to use the default value.
            </div>
            <div>
                <input type="text" [ngModel]="companySettings.DefaultRoute" (ngModelChange)="companySettings.DefaultRoute = $event; validateRoute();" style="width: 95%" />
            </div>
            <div class="errorMessage">
                {{routeValidationMessage}}
            </div>
        </div>
        <div class="tile tile-detail rebuild-panel">
            <header>Rebuild Requests</header>

            <div style="margin-bottom: 20px" *ngFor="let rs of rebuildStatuses">
                <div>
                    <button class="link-button" (click)="rebuild(rs)" [disabled]="isDisabled(rs)"><i [class]="rebuildJobIcon(rs)"></i>Rebuild {{rs.jobTokenName}}</button>
                </div>
                <div class="description" [innerHtml]="rs.jobTokenDescription"></div>
                <div class="status" [innerHtml]="rs.validationMessage"></div>
                <div class="status" *ngIf="rs.lastStartedOn">
                    <span *ngIf="isDisabled(rs)">In progress. </span>
                    Rebuild last started on {{(rs.lastStartedOn |  date:'medium')}} <span *ngIf="rs.lastCompletedOn">and completed on {{(rs.lastCompletedOn |  date:'medium')}}</span>.
                </div>
            </div>
        </div>
        <div class="tile tile-detail rebuild-panel">
            <header>Security</header>
            <div class="FieldName">Cross-origin resource sharing (CORS)</div>
            <div class="directions">
                Specify a comma separated list of allowed origins.
            </div>
            <div>
                <input type="text" [(ngModel)]="companySettings.AllowedOrigins" style="width: 95%" /> <br />
            </div>
            <div class="FieldName">Framing</div>
            <div class="directions">
                Specify a comma separated list of allowed domains.
            </div>
            <div>
                <input type="text" [(ngModel)]="companySettings.FramingDomains" style="width: 95%" /> <br />
            </div>
        </div>

    </div>
</div>
