<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12 m12 l7">
                <div class="tile tile-detail">
                    <d3s-admin-image-upload [(companySettings)]="companySettings"
                                            [(companyLogo)]="companyLogo"
                                            [(companyIcon)]="companyIcon">
                    </d3s-admin-image-upload>
                </div>
                <div class="tile tile-detail">
                    <d3s-admin-ip-restriction [(companySettings)]="companySettings"></d3s-admin-ip-restriction>
                </div>
                <div class="tile tile-detail">
                    <d3s-admin-site-menu [(companySettings)]="companySettings" (onSaveComplete)="load()"></d3s-admin-site-menu>
                </div>
                <div class="tile tile-detail">
                    <d3s-admin-home [(companySettings)]="companySettings" [(homePageImage)]="homePageImage"></d3s-admin-home>
                </div>
            </div>
            <div class="col s12 m12 l3">
                <div class="tile tile-detail">
                    <header>Features</header>
                    <input type="checkbox" [(ngModel)]="companySettings.DisableCommunityPosting" /> Disable Discussion Posts<br />
                    <div class="directions">
                        Disable the ability for users to post new comments or replies to the boards of other users and assets.  Users will still be able to see any system-generated comments.
                    </div>
                    <input type="checkbox" [(ngModel)]="companySettings.DisableIssueManagement" /> Disable Take Action<br />
                    <div class="directions">
                        Hide the Take Action button and Monitor page from the interface.
                    </div>
                    <input type="checkbox" [(ngModel)]="companySettings.EnableShoppingCart" /> Enable Shopping Cart<br />
                    <div class="directions">
                        Enable the shopping cart feature in the interface.
                    </div>
                    <input type="checkbox" [(ngModel)]="companySettings.HideData3SixtyUsers" /> Hide Infogix Users<br />
                    <div class="directions">
                        Hide the infogix users throughout the UI.
                    </div>
                    <input type="checkbox" [(ngModel)]="companySettings.ShowAllUsersAPIKey" /> Display API Key <br />
                    <div class="directions">
                        Displays the API Key for all users in their Profile Screen. Uncheck to display for administrators only.
                    </div>
                    <input type="checkbox" [(ngModel)]="companySettings.WriteActionDescription" /> Write Action Description to Comments?<br />
                    <div class="directions">
                        When a user takes an action, create a comment based on the description.
                    </div>
                    <div class="FieldName">Maximum Dropdown Items</div>
                    <div class="directions">
                        The maximum number of items to show in a dropdown list before enabling typeahead search.
                    </div>
                    <input type="number" min="0" [(ngModel)]="companySettings.MaxDropdownItems" style="width: 95%" /> <br />
                </div>
                <div class="tile tile-detail">
                    <header>Workflow</header>
                    <div class="FieldName">Default recipient for workflow forms and emails</div>
                    <p-dropdown [options]="groups" [(ngModel)]="companySettings.WorkflowCatchAllGroup" [style]="{ 'width' : '95%' }"></p-dropdown>
                    <div class="directions">Determines the default recipient of a workflow form or email when the recipient in the setup of the Email Activity or Form Activity cannot be found.</div>
                    <input type="checkbox" [(ngModel)]="companySettings.WorkflowDigestEmailEnabled" /> Daily email for workflow assignments <br />
                    <div class="directions">
                        Check to send a daily email to all users who have outstanding workflow assignments, summarizing new and total items.
                    </div>
                </div>
                <div class="tile tile-detail">
                    <header>Styles</header>
                    <div class="FieldName">Header Border Color</div>
                    <input [(ngModel)]="companySettings.HeaderBackgroundColor" type="text" /><br />
                    <div class="directions">Specify the color for the header border.  If left blank the system default value will be used.</div>
                </div>
                <div class="tile tile-detail">
                    <header>Search</header>
                    <div class="directions">
                        Specify the default value for the initially selected list of object types to search when a user performs a simple search from the Data3Sixty global search functionality.
                    </div>
                    <ul>
                        <li *ngFor="let searchType of searchTypes;let i=index">
                            <input type="checkbox" [(ngModel)]="searchTypes[i].selected" />{{searchType.title}}
                        </li>
                    </ul>
                    <div class="directions">
                        Should exact match be enabled by default?  If checked the exact match option will be initially populated.  If unchecked exact match will be off unless the user checks it.
                    </div>
                    <input type="checkbox" [(ngModel)]="companySettings.EnableSearchExactMatch" />Enable Exact match by default
                </div>
                <div class="tile tile-detail">
                    <header>Default Route</header>
                    <div class="directions">
                        Specify the default route users will be redirected to when logging into Data3Sixty (ex: /artifact/1). Leave blank to use the default value.
                    </div>
                    <div>
                        <input type="text" [ngModel]="companySettings.DefaultRoute" (ngModelChange)="companySettings.DefaultRoute = $event; validateRoute();" style="width: 95%" />
                    </div>
                    <div class="errorMessage">
                        {{routeValidationMessage}}
                    </div>
                </div>
                <div class="tile tile-detail">
                    <header>Display Values</header>
                    <div class="directions">To submit a request to rebuild the Govern object display values click the below button.</div>
                    <div>
                        <button pButton type="button" (click)="rebuildDisplayValues()" label="Rebuild Display Values" style="padding: 10px 15px 10px 15px;"></button>
                    </div>
                    <div class="errorMessage">
                        {{routeValidationMessage}}
                    </div>
                </div>
                <div class="tile tile-detail">
                    <header>Refresh Search Index</header>
                    <div class="directions">To submit a request to refresh/rebuild the search index click the below button.</div>
                    <div>
                        <button pButton type="button" (click)="rebuildIndex()" [disabled]="disableRebuildIndex" [label]="rebuildLabel" style="padding: 10px 15px 10px 15px;"></button>
                    </div>
                </div>



            </div>
            <div class="col s12 m12 l2">
                <button pButton type="button" (click)="save()" [disabled]="isLoading || routeValidationMessage != ''" label="Save Changes" style="padding: 10px 15px 10px 15px; position: fixed; top: 64px;"></button>
                <div style="display: inline-block; vertical-align: middle;"><d3s-loading [isLoading]="isLoading"></d3s-loading></div>
            </div>
        </div>
    </div>
</div>
