<div class="flex-modal">
	<div class="add-folder-form {{savingInProgress ? 'saving-in-progress' : ''}} {{higlightedItem ? 'opened-side-panel' : ''}}">
		<div class="form-header">
			<header *ngIf="!isEdit" i18n>Add Folder</header>
			<header *ngIf="isEdit" i18n>Edit Folder</header>
			<div class="sub-header" *ngIf="!isLoading">
				<ng-container i18n>Site Navigation</ng-container> {{(navigationFolder?.Title ? '> ' + navigationFolder?.Title : '')}}
				<span *ngIf="requiredCount > 0"
					  class="requiredCount req noselect"
					  tabindex="1"
					  i18n-pTooltip
					  tooltipPosition="top"
					  (click)="focusRequired($event)"
					  tooltipStyleClass="ig-tooltip ig-tooltip-small"
					  i18n>
					{{requiredCount}} required
				</span>
			</div>
		</div>
		<div class="row" *ngIf="isInError">
			<div class="err-message">{{isInErrorMessage}}</div>
		</div>
		<div class="row" *ngIf="!isLoading">
			<div class="form-wrapper">
				<div inputs class="inputs-wrapper">
					<ig-property-group [igformGroup]="folderForm" title="General" i18n-title [expanded]="true" [shouldBePadded]="false" [showHeaderLine]="false">
						<div inputs>
							<div class="row">
								<div class="col s12 m5 l3">
									<label for="FieldName" class="ig-label FieldName" style="margin-top: 0px; margin-bottom: 4px" i18n>Name</label>
									<input igInput maxlength="250"
										   [ngClass]="{'invalid': folderForm?.get('title')?.errors?.empty}"
										   (input)="setRequiredFromNameInput($event)"
										   name="folderNameInput"
										   required tabindex="1" type="text" 
										   [(ngModel)]="folderModel.Title" />
								</div>
							</div>
							<div class="row" style="margin-bottom: 15px; padding-top: 12px">
								<div class="col s12 m5 l3">
									<div class="FieldName" i18n>Icon</div>
									<div>
										<div>
											<input #imageUpload id="imageUpload" type="file" (change)="onFileChange($event)" (click)="clearIcon()" accept="image/gif,image/jpeg,image/png" />
											<ng-container i18n>Use a predefined icon or</ng-container>&nbsp;<a [routerLink]="" (click)="imageUploadClick($event)" id="imageUpload_link" i18n>Browse</a>
										</div>
										<div style="padding-bottom: 10px;">
											<ig-icon-picker [showGovIcons]="true" [(ngModel)]="folderModel.Icon" [(categories)]="categories" ngDefaultControl></ig-icon-picker>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ig-property-group>

					<ig-property-group *ngIf="hasFolderItems" title="Folder Items" i18n-title [expanded]="true" [shouldBePadded]="false" [showHeaderLine]="false">
						<div readonly>
							<d3s-table-data-transfer [(itemsFromSource)]="foldersFromSource"
													 [(itemsFromTarget)]="foldersFromTarget"
													 [sourceTableTitle]="'Available Folder Items'"
													 [targetTableTitle]="'Selected Folder Items'"
													 [isSortButtons]="true"></d3s-table-data-transfer>
						</div>
					</ig-property-group>

					<ig-property-group title="Permissions" i18n-title [expanded]="true" [shouldBePadded]="false" [showHeaderLine]="false">
						<div readonly>
							<div style="margin-bottom: 16px">
								<ig-message-box>
									<ng-container i18n>By default all users can see each navigation folder. If there are any permissions defined, only those users/groups will see the folder on their navigation.</ng-container>
								</ig-message-box>
							</div>
							<d3s-table-data-transfer [(itemsFromSource)]="permissionsFromSource"
													 [(itemsFromTarget)]="permissionsFromTarget"
													 [sourceTableTitle]="'Available Users/Groups'"
													 [targetTableTitle]="'Selected Users/Groups'"
													 [itemsNameProperty]="'Text'"
													 [infoButton]="true"
													 [isRequired]="false"
													 [emptyTargetTableMessage]="'No selected items'"
													 (showInfoEvent)="showInfo($event)"></d3s-table-data-transfer>
						</div>
					</ig-property-group>

				</div>
			</div>

			<div class="action-bar padding-top">
				<button igButton
						igAutoFocus
						label="{{hasChanges ? labelDiscard : labelCancel}}"
						(click)="closeClick.emit();"></button>
				<span class="grow"></span>
				<button igButton
						class="ig-button-primary"
						label="{{isEdit ? labelSaveChanges : labelAddFolder}}"
						(click)="save()"
						[loading]="savingInProgress"
						[disabled]="isSaveDisabled"></button>
			</div>
		</div>
	</div>

	<div class="flex-side-panel" *ngIf="higlightedItem">
		<div class="modal-side-panel position-relative">
			<div class="side-panel-container" style="margin: 0;">
				<div class="panel-header">
					<span class="header-label" i18n>Information</span>
					<div class="side-panel-button-container">
						<button igButton icon="fa-close" i18n-pTooltip pTooltip="Close side panel" tooltipPosition="top" tooltipStyleClass="ig-tooltip" (click)="previewAssetUid = '';higlightedItem=null;"></button>
					</div>
				</div>
			</div>
			<asset-preview [assetUid]="previewAssetUid"
						   [assetType]="previewAssetType === 'User' ? 'Resource' : previewAssetType"
						   i18n-emptyMessage
						   emptyMessage="Click the information button to display the properties of a referenced item"
						   [hasEditLink]="false"
						   [hasOpenLink]="false"></asset-preview>
		</div>
	</div>
</div>