.admin-site-menu {
  .remove {
    cursor: pointer;
    color: maroon;
    font-size: 1.5em;
    vertical-align: middle;
  }

  input[type=text] {
    width: 90%;
    height: 25px;
  }

  .grid-header {
    display: flex;
    padding-bottom: 8px;

    h2 {
      font-weight: bold;
      font-size: 18px;
    }
  }
}
