<div class="modal-form">
    <div class="content">
        <div clas="row">
            <div class="col s12" style="padding-bottom:10px" i18n>
                Are you sure you want to delete the {{siteNavigationItemTitle}} {{siteNavigationItemType}}?
            </div>
        </div>
    </div>
    <div class="action-bar" style="margin-top:16px;">
        <button igButton class="ig-button-secondary" igAutoFocus i18n-label label="Cancel"
                (click)="closeDeleteDialog()"></button>
        <span class="grow"></span>
        <button igButton class="ig-button-primary" i18n-label label="Delete"
                (click)="confirmDeleteFolder()"></button>
    </div>
</div>
