<div class="row">
    <div class="col s12 m12 l7">
        <div class="tile tile-detail">
            <d3s-admin-image-upload [(companySettings)]="companySettings"
                                    [(companyLogo)]="companyLogo"
                                    [(companyIcon)]="companyIcon">
            </d3s-admin-image-upload>
        </div>
        <div class="tile tile-detail">
            <d3s-admin-ip-restriction [(companySettings)]="companySettings"></d3s-admin-ip-restriction>
        </div>
        <div class="tile tile-detail">
            <d3s-admin-site-menu [(companySettings)]="companySettings" (onSaveComplete)="load()"></d3s-admin-site-menu>
        </div>
        <div class="tile tile-detail">
            <d3s-admin-home [(companySettings)]="companySettings" [(homePageImage)]="homePageImage"></d3s-admin-home>
        </div>
        <div class="tile tile-detail">
            <d3s-help-menu-list [(items)]="items" [(deletedRecords)]="deletedRecords"></d3s-help-menu-list>
        </div>
    </div>
    <div class="col s12 m12 l3">
        <div class="tile tile-detail">
            <header>Features</header>
            <input type="checkbox" [(ngModel)]="companySettings.DisableCommunityPosting" /> Disable Discussion Posts<br />
            <div class="directions">
                Disable the ability for users to post new comments or replies to the boards of other users and assets.  Users will still be able to see any system-generated comments.
            </div>
            <input type="checkbox" [(ngModel)]="companySettings.DisableIssueManagement" /> Disable Take Action<br />
            <div class="directions">
                Hide the Take Action button and Monitor page from the interface.
            </div>
            <input type="checkbox" [(ngModel)]="companySettings.EnableShoppingCart" /> Enable Shopping Cart<br />
            <div class="directions">
                Enable the shopping cart feature in the interface.
            </div>
            <input type="checkbox" [(ngModel)]="companySettings.HideData3SixtyUsers" /> Hide Infogix Users<br />
            <div class="directions">
                Hide the infogix users throughout the UI.
            </div>
            <input type="checkbox" [(ngModel)]="companySettings.ShowAllUsersAPIKey" /> Display API Key <br />
            <div class="directions">
                Displays the API Key for all users in their Profile Screen. Uncheck to display for administrators only.
            </div>
            <input type="checkbox" [(ngModel)]="companySettings.WriteActionDescription" /> Write Action Description to Comments?<br />
            <div class="directions">
                When a user takes an action, create a comment based on the description.
            </div>
            <div class="FieldName">Maximum Dropdown Items</div>
            <div class="directions">
                The maximum number of items to show in a dropdown list before enabling typeahead search.
            </div>
            <input type="number" min="0" [(ngModel)]="companySettings.MaxDropdownItems" style="width: 95%" /> <br />
            <div class="FieldName">Maximum Number of Excel Export Items</div>
            <div class="directions">
                The maximum number of items able to be exported in an excel spreadsheet.
            </div>
            <input type="number" min="0" [(ngModel)]="companySettings.MaxExcelExportRows" style="width: 95%" /> <br />
        </div>
        <div class="tile tile-detail">
            <header>Workflow</header>
            <div class="FieldName">Default recipient for workflow forms and emails</div>
            <p-dropdown [options]="groups" [(ngModel)]="companySettings.WorkflowCatchAllGroup" [style]="{ 'width' : '95%' }"></p-dropdown>
            <div class="directions">Determines the default recipient of a workflow form or email when the recipient in the setup of the Email Activity or Form Activity cannot be found.</div>
            <div class="FieldName">Summary email for workflow assignments</div>
            <div class="directions">
                Check to send an email to all users who have outstanding workflow assignments summarizing new and total items.<br />
                Send summary email on the following days:
            </div>
            <d3s-dayofweek-input [(ngModel)]="companySettings.WorkflowDigestEmailDays"></d3s-dayofweek-input>
        </div>
        <div class="tile tile-detail">
            <header>Search</header>
            <div class="directions">
                Set the initial scope of any search performed from the header bar or home page search. The scope can then be modified after the initial search from the Search Results page.
            </div>
            <ul>
                <li *ngFor="let searchType of searchTypes;let i=index">
                    <input type="checkbox" [(ngModel)]="searchTypes[i].selected" /> {{searchType.title}} <span *ngIf="!searchType.visible" class="hiddencategory">(hidden)</span>
                </li>
            </ul>
        </div>
        <div class="tile tile-detail">
            <header>Default Route</header>
            <div class="directions">
                Specify the default route users will be redirected to when logging into Data360 (ex: /artifact/1). Leave blank to use the default value.
            </div>
            <div>
                <input type="text" [ngModel]="companySettings.DefaultRoute" (ngModelChange)="companySettings.DefaultRoute = $event; validateRoute();" style="width: 95%" />
            </div>
            <div class="errorMessage">
                {{routeValidationMessage}}
            </div>
        </div>
        <div class="tile tile-detail rebuild-panel">
            <header>Rebuild Requests</header>

            <div style="margin-bottom: 20px" *ngFor="let rs of rebuildStatuses">
                <div>
                    <button class="link-button" (click)="rebuild(rs)" [disabled]="isDisabled(rs)"><i [class]="rebuildJobIcon(rs)"></i>Rebuild {{rs.jobTokenName}}</button>
                </div>
                <div class="description" [innerHtml]="rs.jobTokenDescription"></div>
                <div class="status" [innerHtml]="rs.validationMessage"></div>
                <div class="status" *ngIf="rs.lastStartedOn">
                    <span *ngIf="isDisabled(rs)">In progress. </span>
                    Rebuild last started on {{(rs.lastStartedOn |  date:'medium')}} <span *ngIf="rs.lastCompletedOn">and completed on {{(rs.lastCompletedOn |  date:'medium')}}</span>.
                </div>
            </div>
        </div>
        <div class="tile tile-detail rebuild-panel">
            <header>Security</header>
            <div class="FieldName">Cross-origin resource sharing (CORS)</div>
            <div class="directions">
                Specify a comma separated list of allowed origins.
            </div>
            <div>
                <input type="text" [(ngModel)]="companySettings.AllowedOrigins" style="width: 95%" /> <br />
            </div>
            <div class="FieldName">Framing</div>
            <div class="directions">
                Specify a comma separated list of allowed domains.
            </div>
            <div>
                <input type="text" [(ngModel)]="companySettings.FramingDomains" style="width: 95%" /> <br />
            </div>
        </div>

    </div>
</div>
