<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div [ngSwitch]="formMode" *ngIf="!isLoading">
    <div *ngSwitchDefault>
        <header>
            Site Navigation
            <d3s-tile-actions hasAdd="true" (addClick)="add()"></d3s-tile-actions>
        </header>
        <p-table #dt [value]="companySettings.SiteNav" selectionMode="single" [metaKeySelection]="true" [(selection)]="selection"
                 [scrollable]="true" scrollHeight="420px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th width="35%" >Type</th>
                    <th style="width: 5%" alignFrozen="right" pFrozenColumn></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td>
                        <span *ngIf="item.Icon">
                            <img class="gov-icon" *ngIf="checkIfImg(item.Icon)" [src]="item.Icon" />
                            <i *ngIf="!checkIfImg(item.Icon)" [class]="'fa '+ item.Icon"></i>
                        </span>
                        <span *ngIf="item.ImageIconUrl != null">
                            <img [src]="item.FullURL" style="max-width: 15px; max-height: 15px;" />
                        </span>
                        &nbsp;&nbsp;{{item.Title}}
                    </td>
                    <td width="35%">
                        {{item.Type}}
                    </td>
                    <td class="asset-grid-tools" style="width: 5%; " alignFrozen="right" (click)="selectRow(item)">
                        <div style="display:inline-block">
                            <button igButton type="button" icon="fa-ellipsis-v" (click)="selectRow(item); popupMenu.toggle($event)"></button>
                            <ig-popup-menu [items]="item.IsCustom ? menuItemsWithDelete : menuItems" (onSelect)="clickMenuItem($event, item)" #popupMenu [tabIndex]="1"></ig-popup-menu>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div *ngSwitchCase="FormMode.Editing">
        <header>
            Edit {{selection.Title}}
        </header>
        <div *ngIf="!formIsLoading">
            <div class="col s12">
                <div class="FieldName" style="display:block;">Folder Name</div>
                <input maxlength="250" type="text" [(ngModel)]="selection.Title" style="width:100%" />
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="row" style="padding-top:12px">
                    <div class="col s12 m6">
                        <div class="FieldName">Icon</div>
                        <div>
                            <div>
                                <input type="radio" name="iconType" [checked]="iconType == 'icon'" (change)="changeIconType($event)" value="icon" /> Use a predefined icon
                            </div>
                            <div *ngIf="iconType == 'icon'" style="padding-bottom: 10px;">
                                <ig-icon-picker [showGovIcons]="true" [(ngModel)]="selection.Icon" ngDefaultControl></ig-icon-picker>
                            </div>
                            <div>
                                <input type="radio" name="iconType" [checked]="iconType == 'image'" (change)="changeIconType($event)" value="image" /> Upload your own icon
                            </div>
                            <div *ngIf="iconType == 'image'">
                                <input #imageUpload type="file" (change)="onFileChange($event)" (click)="clearIcon()" accept="image/gif,image/jpeg,image/png" />
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="FieldName">Preview</div>
                        <div *ngIf="iconType == 'icon'" style="padding:10px">
                            <span style="font-size: 15px">
                                <i *ngIf="!checkIfImg(selection.Icon)" [class]="'fa ' + selection.Icon"></i>
                                <img class="d3s-gov-icon" *ngIf="checkIfImg(selection.Icon)" [src]="selection.Icon" />
                            </span>
                        </div>
                        <div *ngIf="iconType == 'image'" style="padding:10px">
                            <img *ngIf="iconImage.dataUrl != null" [src]="iconImage.dataUrl" style="max-width: 16px; max-height: 16px;" />
                            <img *ngIf="selection.IconPayload == null && selection.ImageIconUrl != null" [src]="selection.FullURL" style="max-width: 15px; max-height: 15px;" />
                            <div *ngIf="selection.IconPayload != null || iconImage.dataUrl != null || selection.ImageIconUrl != null">
                                <button pButton type="button" label="Clear" (click)="clearIcon()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selection.IsCustom" class="row">
                <div class="col s12 m6">
                    <p-table #dt1 [value]="availableItems" selectionMode="single" [metaKeySelection]="true" [globalFilterFields]="['Title']" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Available Folder Items</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{item.Title}}</td>
                                <td>
                                    <div class="RowTools" style="height: initial;">
                                        <a (click)="addFolderItem(item)" style="cursor:pointer;"><i class="fa fa-plus"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template *ngIf="dt1.totalRecords" pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt1.first" [rows]="dt1.rows" [totalRecords]="dt1.totalRecords"></d3s-grid-paging-info>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col s12 m6">
                    <p-table #dt2 [value]="folderItems" selectionMode="single" [metaKeySelection]="true" [globalFilterFields]="['Name']" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Existing Folder Items</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr [pSelectableRow]="item">
                                <td>{{item.Name}}</td>
                                <td>
                                    <div class="RowTools" style="height: initial;">
                                        <a (click)="moveFolderUp(item,i)" style="cursor:pointer;"><i class="fa fa-caret-up"></i></a>
                                        <a (click)="moveFolderDown(item,i)" style="cursor:pointer;"><i class="fa fa-caret-down"></i></a>
                                        <a (click)="deleteFolderItem(item)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template *ngIf="dt2.totalRecords" pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt2.first" [rows]="dt2.rows" [totalRecords]="dt2.totalRecords"></d3s-grid-paging-info>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px;">
                <d3s-admin-site-menu-permissions [(siteNav)]="selection" (onModeChange)="menuPermissionsOnModeChange($event)">
                </d3s-admin-site-menu-permissions>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col s12" *ngIf="!IsMenuPermissionsAdding">
                    <button pButton type="button" label="Save" (click)="save()" [disabled]="selection == null || selection.Title == null || selection.Title == '' || permissionMode != FormMode.Default || (selection.IsCustom && (folderItems == null || folderItems.length < 1))"></button>
                    <button pButton type="button" label="Cancel" (click)="cancel()"></button>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="FormMode.Deleting">
        <header>
            Delete Folder
        </header>
        <div clas="row">
            <div class="col s12" style="padding-bottom:10px">
                Are you sure you want to delete the {{selection.Name}} folder?
            </div>
        </div>
        <button pButton type="button" label="Delete" (click)="save()"></button>
        <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
    </div>

    <div *ngSwitchCase="FormMode.Adding">
        <header>
            Add Navigation Folder
        </header>
        <div *ngIf="!formIsLoading">
            <div class="col s12">
                <div class="FieldName" style="display:block;">Folder Name</div>
                <input maxlength="250" type="text" [(ngModel)]="newFolder.Name" style="width:100%" />
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="row" style="padding-top:12px">
                    <div class="col s12 m6">
                        <div class="FieldName">Icon</div>
                        <div>
                            <div>
                                <input type="radio" name="iconType" [checked]="iconType == 'icon'" (change)="changeIconType($event)" value="icon" /> Use a predefined icon
                            </div>
                            <div *ngIf="iconType == 'icon'" style="padding-bottom: 10px;">
                                <ig-icon-picker [showGovIcons]="true" [(ngModel)]="newFolder.Icon" ngDefaultControl></ig-icon-picker>
                            </div>
                            <div>
                                <input type="radio" name="iconType" [checked]="iconType == 'image'" (change)="changeIconType($event)" value="image" /> Upload your own icon
                            </div>
                            <div *ngIf="iconType == 'image'">
                                <input #imageUpload type="file" (change)="onFileChange($event)" accept="image/gif,image/jpeg,image/png" />
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="FieldName">Preview</div>
                        <div *ngIf="iconType == 'icon'" style="padding:10px">
                            <span style="font-size: 15px">
                                <img class="d3s-gov-icon" *ngIf="checkIfImg(newFolder.Icon)" [src]="newFolder.Icon" />
                                <i *ngIf="!checkIfImg(newFolder.Icon)"  [class]="'fa ' + newFolder.Icon"></i>
                            </span>
                        </div>
                        <div *ngIf="iconType == 'image'" style="padding:10px">
                            <img *ngIf="iconImage != null && iconImage.dataUrl != null" [src]="iconImage.dataUrl" style="max-width: 15px; max-height: 15px;" />
                            <div *ngIf="iconImage.dataUrl != null">
                                <button pButton type="button" label="Clear" (click)="clearIcon()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <p-table #dt3 [value]="availableItems" selectionMode="single" [metaKeySelection]="true" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Available Folder Items</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{item.Title}}</td>
                                <td>
                                    <div class="RowTools" style="height: initial;">
                                        <a (click)="addNewFolder(item)" style="cursor:pointer;"><i class="fa fa-plus"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template *ngIf="dt3.totalRecords" pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt3.first" [rows]="dt3.rows" [totalRecords]="dt3.totalRecords"></d3s-grid-paging-info>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col s12 m6">
                    <p-table #dt4 [value]="newFolderItems" selectionMode="single" [metaKeySelection]="true" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Existing Folder Items</th>
                                <th></th>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{item.Name}}</td>
                                <td>
                                    <div class="RowTools" style="height: initial;">
                                        <a (click)="deleteNewFolder(item)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template *ngIf="dt4.totalRecords" pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt4.first" [rows]="dt4.rows" [totalRecords]="dt4.totalRecords"></d3s-grid-paging-info>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px;">
                <d3s-admin-site-menu-permissions [(siteNav)]="newFolder" (onModeChange)="menuPermissionsOnModeChange($event)">
                </d3s-admin-site-menu-permissions>
            </div>
            <div class="row">
                <div class="col s12" *ngIf="!IsMenuPermissionsAdding">
                    <button pButton type="button" label="Save" (click)="save()" [disabled]="newFolder == null || newFolder.Name == null || newFolder.Name == '' || newFolderItems == null || newFolderItems.length < 1 || permissionMode != FormMode.Default"></button>
                    <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>
    </div>
</div>