@import '../../../../../Content/styles/_Variables.less';

.admin-site-menu {
  .remove {
    cursor: pointer;
    color: maroon;
    font-size: 1.5em;
    vertical-align: middle;
  }

  input[type=text] {
    width: 90%;
    height: 25px;
  }

  .grid-header {
    display: flex;
    margin-top: 16px;

    h2 {
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.p-datatable-wrapper {
    margin-left: 16px !important;
    margin-right: 16px !important;
}
