<div class="content">
    <header i18n>
        Delete Folder
    </header>
    <div clas="row">
        <div class="col s12" style="padding-bottom:10px" i18n>
            Are you sure you want to delete the {{navigationFolderToDelete}} folder?
        </div>
    </div>
</div>
<div class="action-bar" style="margin-top:16px;">
    <button igButton igAutoFocus i18n-label label="Cancel" 
            (click)="closeDeleteDialog()"></button>
    <span class="grow"></span>
    <button igButton class="ig-button-primary" i18n-label label="Delete" 
            (click)="confirmDeleteFolder()" ></button>
</div>
