<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div [ngSwitch]="formMode" *ngIf="!isLoading" class="admin-site-menu">
	<div *ngSwitchDefault>
		<div class="grid-header">
			<h2 i18n style="margin-left:11px">Site Navigation</h2>
			<div class="flex-grow"></div>
			<button igButton (click)="addFolderDialog()" i18n-label label="Add Folder"></button>
			<div class="spacer"></div>
			<button igButton (click)="showAssetTypeModelDialog = true" i18n-label label="Add Asset Type" style="margin-right:11px"></button>
		</div>
		<p-table #dt [value]="companySettings.SiteNav" selectionMode="single" [metaKeySelection]="true" [(selection)]="selection"
				 [scrollable]="true" scrollHeight="420px">
			<ng-template pTemplate="header">
				<tr>
					<th style="min-width: 250px" i18n>Name</th>
					<th style="width: 120px" i18n>Type</th>
					<th style="width: 50px" ></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-item>
				<tr [pSelectableRow]="item">
					<td style="min-width: 250px">
						<span *ngIf="item.Icon">
							<img class="gov-icon" *ngIf="checkIfImg(item.Icon)" [src]="item.Icon" />
							<i *ngIf="!checkIfImg(item.Icon)" [class]="'fa '+ item.Icon"></i>
						</span>
						<span *ngIf="item.ImageIconUrl != null">
							<img [src]="item.FullURL" style="max-width: 15px; max-height: 15px;" />
						</span>
						&nbsp;&nbsp;{{item.Title}}
					</td>
					<td style="width: 120px">
						{{item.Type}}
					</td>
					<td style="width: 50px" class="asset-grid-tools" (click)="selectRow(item)">
						<div style="width: 100%; display: flex; flex-direction: row-reverse;">
							<button igButton type="button" class="ig-button-dark" icon="fa-ellipsis-v" (click)="selectRow(item); popupMenu.toggle($event)"></button>
							<ig-popup-menu [items]="item.menuItems" (onSelect)="clickMenuItem($event, item)" #popupMenu [tabIndex]="1"></ig-popup-menu>
						</div>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<d3s-modal additionalClasses="modal-dyn-editor large-dialog modal-extended asset-editor modal-max"
		   (onClose)="showFolderModalDialog=false"
		   [showTitle]="false"
		   [isVisible]="showFolderModalDialog">
	<d3s-admin-site-menu-folder-editor *ngIf="showFolderModalDialog"
				   [navigationFolder]="formMode === FormMode.Editing  ? selection : null"
				   (closeClick)="showFolderModalDialog=false"
				   (saveClick)="saveNavigationFolder($event)">
	</d3s-admin-site-menu-folder-editor>
</d3s-modal>

<d3s-modal additionalClasses="large-dialog"
		   (onClose)="showAssetTypeModelDialog=false"
		   i18n-title
		   title="Add Asset Type"
		   subtitle="Site Navigation"
		   [isVisible]="showAssetTypeModelDialog">
	<d3s-admin-site-menu-asset-type-editor (onSave)="onAssetTypeNavAdded($event)"
										   [showAddAssetType]="showAssetTypeModelDialog"
										   (onCancel)="showAssetTypeModelDialog = false">
	</d3s-admin-site-menu-asset-type-editor>
</d3s-modal>

<d3s-modal additionalClasses="medium-dialog"
		   (onClose)="showDeleteDialog=false"
		   [isVisible]="showDeleteDialog"
		   title="Delete Folder">
	<d3s-admin-site-menu-delete-dialog *ngIf="showDeleteDialog"
				   [siteNavigationItemTitle]="selection.Title"
				   [siteNavigationItemType]="selection.Type"
				   (onDelete)="onDeleteFolderConfirmed()"
				   (onCancel)="showDeleteDialog = false; formMode = FormMode.Default">
	</d3s-admin-site-menu-delete-dialog>
</d3s-modal>

