<div *ngIf="isLoading">
    <div class="row">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <div *ngIf="!isLoading">{{prompt}}</div>
    </div>
</div>
<div *ngIf="!isLoading" class="row">
    <header>{{title}}</header>
    <form #form="ngForm" class="gov-form-v2">
        <div class="row">
            <div [class]="FirstColumnStyle">
                <div class="row">
                    <div class="col l6 m6 s12">
                        <div class="FieldNameRequired no-margin" i18n>Name</div>
                        <input maxlength="250"
                               pInputText
                               name="name"
                               [attr.data-cy]="'AssetType_Field_Name'"
                               #name="ngModel"
                               style="height:25px;width:100%;display:block;"
                               type="text"
                               [(ngModel)]="model.AssetType.Name"
                               [igDataCy]="'AssetType_Field_Name'"
                               required />
                        <div [hidden]="name.valid || name.pristine" class="validation-text" i18n>Name is required</div>
                    </div>
                    <div class="col l6 m6 s12" *ngIf="showParentPredicates">
                        <div [ngClass]="isPredicateRequired ? 'FieldNameRequired no-margin' : 'FieldName no-margin'" i18n>Predicate To Parent</div>
                        <p-dropdown [options]="model.Predicates"
                                    #predicate="ngModel"
                                    [(ngModel)]="model.AssetType.Hierarchy.PredicateUid"
                                    [attr.data-cy]="'AssetType_Field_ParentPredicate'"
                                    (ngModelChange)="model.AssetType.Hierarchy.PredicateUid=$event;updateParent(model.AssetType.Hierarchy.PredicateUid);"
                                    [style]="{'width':'100%'}"
                                    name="predicate"
                                    [igDataCy]="'AssetType_Field_Predicate'"
                                    [required]="isPredicateRequired">
                        </p-dropdown>
                        <div [hidden]="predicate.valid || predicate.pristine" class="validation-text" i18n>Predicate is required</div>
                    </div>
                </div>

                <div class="row" *ngIf="model.Parents && model.Parents.length > 0 && model.AssetType.Hierarchy.PredicateUid != null && model.AssetType.Hierarchy.PredicateUid.length > 0">
                    <div class="col s12">
                        <div class="FieldNameRequired" i18n>Parent</div>
                        <p-dropdown filter="true" [options]="model.Parents" [attr.data-cy]="'AssetType_Field_Parent'" #parent="ngModel" [(ngModel)]="model.AssetType.ParentUid" [style]="{'width':'100%'}" name="parent" required></p-dropdown>
                        <div [hidden]="parent.valid || parent.pristine" class="validation-text" i18n>Parent is required</div>
                    </div>
                </div>

                <div class="row" [hidden]="!showDisplayFormat">
                    <div class="col l6 m6 s12">
                        <div class="FieldNameRequired" i18n>Display Format</div>
                        <input maxlength="250"
                               pInputText
                               name="displayFormat"
                               #displayformat="ngModel"
                               style="height:25px;width:100%;display:block;"
                               type="text"
                               [(ngModel)]="model.AssetType.DisplayFormat"
                               [igDataCy]="'AssetType_Field_DisplayFormat'"
                               required />
                        <div [hidden]="displayformat.valid || displayformat.pristine" class="validation-text" i18n>Display format is required</div>
                    </div>
                    <div class="col l6 m6 s12">
                        <div class="FieldName" i18n>Available Field Tokens</div>
                        <p-dropdown [options]="model.Tokens"
                                    [igDataCy]="'AssetType_Field_Tokens'"
                                    (onChange)="selectToken($event)"
                                    [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="FieldName" i18n>Description</div>
                        <p-editor name="Description"
                                  [igDataCy]="'AssetType_Field_Description'"
                                  [(ngModel)]="model.AssetType.Description"
                                  [style]="{'height':'150px'}">
                        </p-editor>
                    </div>
                </div>

                <div class="row" *ngIf="assetTypeClass == 15">
                    <div class="col s12">
                        <div class="FieldName" style="overflow:unset;" i18n>
                            Flow Object Type
                            <d3s-info-tooltip>
                                <strong>Events</strong> - An event is represented by a circle and is something that “happens” during the course of a business process. These events affect the flow of the process and usually have a cause (trigger) or an impact (result).<br /><br />

                                <strong>Activities</strong> - An activity is represented by a rounded-corner rectangle and is a generic term for work that the company performs. The types of activities are <strong>Task</strong> and <strong>Sub-Process</strong>.<br /><br />

                                <strong>Gateways</strong> - A gateway is represented by the diamond shape and is used to control the divergence and convergence of connections. It will determine traditional decisions, as well as the forking, merging, and joining of paths.<br /><br />
                            </d3s-info-tooltip>
                        </div>
                        <p-dropdown name="FlowObjectType" [(ngModel)]="model.AssetType.FlowObjectType" [attr.data-cy]="'AssetType_Field_FlowObjectType'" [options]="flowObjectDDL" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                </div>

                <div class="row" *ngIf="showNotesField">
                    <div class="col s12">
                        <div class="FieldName" i18n>Source Notes</div>
                        <p-editor name="Source Notes" [attr.data-cy]="'AssetType_Field_SourceNotes'" [(ngModel)]="model.AssetType.Notes" [style]="{'height':'150px'}"></p-editor>
                    </div>
                </div>
            </div>
            <div class="col l4 m12 s12">
                <simple-accordion header="Settings" active="true" *ngIf="showAssetArtifactSettings">
                    <div class="FieldName" i18n>Auto Display Description?</div>
                    <div class="row">
                        <div class="col l1 m2 s12">
                            <p-checkbox name="AutoDisplayDescription" [attr.data-cy]="'AssetType_Field_AutoDisplayDescription'" [(ngModel)]="model.AssetType.AutoDisplayDescription" binary="true"></p-checkbox>
                        </div>
                        <div class="col l11 m10 s12">
                            <div class="FieldInstructions" i18n>If enabled, the content of the description property is auto-displayed to all users on the list page for this artifact type.</div>
                        </div>
                    </div>
                    <d3s-asset-type-editor-use-as-transformation [assetTypeId]="id" [(UseAsTransformation)]="model.AssetType.UseAsTransformation"></d3s-asset-type-editor-use-as-transformation>
                    <ng-container *ngIf="ShowAutoDisplayOption()">
                        <div class="FieldName" i18n>Auto Display Owner/Parent?</div>
                        <div class="row">
                            <div class="col l1 m2 s12">
                                <p-checkbox name="AutoDisplayParent" [attr.data-cy]="'AssetType_Field_AutoDisplayParent'" [(ngModel)]="model.AssetType.AutoDisplayParent" binary="true"></p-checkbox>
                            </div>
                            <div class="col l11 m10 s12">
                                <div class="FieldInstructions" i18n>If enabled, the Owner/Parent asset type display format will be included on the list page for this asset type if the asset type has a Predicate to Parent of "child type of".</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="showCanEditParentOption()">
                        <div class="FieldName" i18n>Edit Parent?</div>
                        <div class="row">
                            <div class="col l1 m2 s12">
                                <p-checkbox name="CanEditParent" [attr.data-cy]="'AssetType_Field_CanEditParent'" [(ngModel)]="model.AssetType.CanEditParent" binary="true"></p-checkbox>
                            </div>
                            <div class="col l11 m10 s12">
                                <div class="FieldInstructions" i18n>If enabled, the Parent can be edited on the asset definition page.</div>
                            </div>
                        </div>
                    </ng-container>
                </simple-accordion>
                <simple-accordion header="Settings" active="true" *ngIf="showAssetDepthSettings">
                    <div class="FieldName" i18n>Maximum Depth</div>
                    <div class="row">
                        <div class="col s12">
                            <p-spinner name="MaximumDepth" required [(ngModel)]="model.AssetType.Hierarchy.MaximumDepth" [attr.data-cy]="'AssetType_Field_MaximumDepth'" [min]="1" [max]="10" maxlength="2" style="height:25px;width:100%;"></p-spinner>
                        </div>
                        <div class="col s12">
                            <div class="FieldInstructions" i18n>The maximum depth to which a tree can contain nodes at.</div>
                        </div>
                    </div>
                </simple-accordion>
                <simple-accordion header="Styles" active="true" *ngIf="showAssetStyles">
                    <div class="colors-tab" *ngIf="assetTypeClass != 15">
                        <div class="FieldName" i18n>Background Color</div>
                        <div class="row">
                            <div class="col s12">
                                <p-colorPicker [(ngModel)]="model.AssetType.IconStyle.BackColor" name="iconbackcolor" [attr.data-cy]="'AssetType_Field_IconBackColor'"></p-colorPicker>
                                <input type="text" [(ngModel)]="model.AssetType.IconStyle.BackColor" name="iconbackcolortext" [attr.data-cy]="'AssetType_Field_IconBackColorText'" style="padding:2px;width:65px" />
                            </div>
                            <div class="col s12">
                                <div class="FieldInstructions" i18n>Sets the background color of icons representing items of this type within diagrams.</div>
                            </div>
                        </div>
                    </div>
                    <div class="FieldName" i18n>Icon</div>
                    <div class="row">
                        <div class="col s12">
                            <ig-icon-picker [(ngModel)]="model.AssetType.IconStyle.Icon" [ngModelOptions]="{standalone: true}" [attr.data-cy]="'AssetType_Field_Icon'" ngDefaultControl></ig-icon-picker>
                        </div>
                        <div class="col s12">
                            <div class="FieldInstructions" *ngIf="assetTypeClass != 15" i18n>Sets the icon representing items of this type within summary page / search results.</div>
                            <div class="FieldInstructions" *ngIf="assetTypeClass == 15" i18n>Sets the icon representing items of this type within diagrams.</div>
                        </div>
                    </div>
                </simple-accordion>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div style="padding-top:10px;">
                    <button pButton
                            i18n-label
                            label="Save"
                            type="submit"
                            (click)="save()"
                            [igDataCy]="'AssetType_Button_Save'"
                            [disabled]="!form.form.valid || isSaving || (model.AssetType.IconStyle.ForeColor == model.AssetType.IconStyle.BackColor)">
                    </button>
                    <button pButton
                            i18n-label
                            label="Cancel"
                            (click)="cancel()"
                            [igDataCy]="'AssetType_Button_Cancel'">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>