.group-members {
  .actions-header {
    display: flex;
    padding: 8px 0 8px 0;
  }

  ig-search-field {
    width: 100%;
  }

  .search-input {
    flex-grow: 1;
  }

  ig-search-field {
    padding-right: 8px;

    .ig-search-field {
      width: 100% !important;
    }
  }
}
