.group-members {
  .search-input {
    flex-grow: 1;
  }

  .grid-action-buttons {
    padding: 8px;
    padding-left: 0;
  }

  ig-search-field {
    padding-right: 8px;

    .ig-search-field {
      width: 100% !important;
    }
  }
}
