.connector-label-definition {
  .ig-property-group {
    border-top: none !important;

    .header-wrapper {
      border-bottom: 1px solid #d7d8dc;
    }

    .row {
      padding: 4px 0;
    }
  }

  &.no-padding {
    .pg-collapsable-content {
      padding-left: 0 !important;
    }
  }
}
