<ng-container *ngIf="settings?.RelationshipUpdate?.Relationship">
	<div class="row">
		<label class="ig-label" i18n>Relationship Form Field</label>
		<div i18n class="ig-value">{{ relationshipFormField }}</div>
	</div>
	<div class="row">
		<label class="ig-label" i18n>Clear Relationships?</label>
		<div i18n class="ig-value">{{ settings.RelationshipUpdate.Relationship['@ClearValue'] === 'true' ? 'Yes' : 'No' }}</div>
	</div>
	<div class="row">
		<label class="ig-label" i18n>Append Relationships?</label>
		<div i18n class="ig-value">{{ settings.RelationshipUpdate.Relationship['@AppendValue'] === 'true' ? 'Yes' : 'No'  }}</div>
	</div>
</ng-container>