<div class="advanced-filtering">
    <div class="filters-list {{(visible ? '' : 'loading')}}">
        <div class="filters-loader" *ngIf="!visible">
            <span class="spinner"></span>
            <span class="loader-text">Loading filters...</span>
        </div>
        <ng-container *ngIf="visible">
            <div class="filter-item" *ngFor="let item of conditions.filters">
                <filter-item (onChange)="onItemChange($event)"
                             [loadIdentifier]="loadIdentifier"
                             [assetTypeUid]="assetTypeUid"
                             [condition]="item"
                             [fields]="fields"
                             [operators]="operators"
                             [relationshipTypes]="relationshipTypes"
                             [gridType]="gridType">
                </filter-item>
            </div>
            <div class="filters-list-menu">
                <button igButton class="menu" icon="fa-ellipsis-v" tooltip="More..." (click)="menu.toggle($event)"></button>
                <ig-popup-menu [items]="filterMenu" #menu [tabIndex]="20" [allowAllUnchecked]="false"></ig-popup-menu>
            </div>
        </ng-container>
    </div>
</div>