<div #popupBox class="modal-overlay" tabindex=-1 pFocusTrap>
    <div class="modal-dialog {{additionalClasses}}">
        <div *ngIf="showTitle" class="modal-title-bar">
            <div style="display:block">
                <h1>{{title}}</h1>
                <h2 *ngIf="subtitle">{{subtitle}}</h2>
            </div>
            <span class="grow"></span>
        </div>
        <ng-content></ng-content>
        <div *ngIf="showConfirm" class="action-bar">
            <button class="button" (click)="closePopUp()">Cancel</button>
            <span class="grow"></span>
            <button class="button primary" (click)="confirm()">Confirm
                <span class="loader"><span class="spinner light"></span></span>
            </button>
        </div>
    </div>
</div>