<div class="row">
    <div class="col s12 m5 l4">
        <div class="root-tile">
            <header><div id="TreeTools"></div></header>
            <div id="Tree"></div>
        </div>
    </div>
    <div class="col s12 m7 l8">
        <div id="FieldsTile" class="tile tile-detail"></div>
        <div id="SecurityTile" class="tile tile-detail"></div>
        <div class="tile tile-detail">
            <header>Permissions</header>
            <div id="ClaimsTile"></div>
        </div>
        <!--<div id="RelationshipTypeTreeTile" class="tile tile-detail"></div>-->
    </div>
</div>
