<div class="row">
    <div class="col s4">
        <div class="root-tile">
            <header><div id="AdminResponsibilityTypeGridTools"></div></header>
            <div id="AdminResponsibilityTypeGrid"></div>
            <p-dataTable [value]="governanceItems" selectionMode="single" [(selection)]="selectedRow" [rows]="20" [paginator]="true">
                <p-column field="Name" header="Name" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '70%' }"></p-column>
                <p-column [style]="{ 'width': '30%' }">
                    <template let-col let-item="rowData">
                        <div class="RowTools">
                            <a (click)="null" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            <a (click)="null" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
    <div class="col s8">
        <div class="tile tile-detail">
            <object-detail [objectType]="'ResponsibilityType'" [objectID]="selectedRow?.ID"></object-detail>
        </div>
    </div>
</div>
