<div class="row">
    <div class="col l4 m6 s12">
        <div *ngIf="isLoading">
            <div style="padding:10px;text-align:center;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
        </div>
        <div *ngIf="!isLoading">
            <table class="table" [mfData]="domainTypes" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th style="width: 70%">
                            <mfDefaultSorter by="Name">Name</mfDefaultSorter>
                        </th>
                        <th style="width: 30%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data; let i=index;" (click)="selectRow(item.ID);" [class.selected]="selectedRow?.ID == item.ID">
                        <td> {{item.Name}}</td>
                        <!-- TODO: replace href on info, fix edit/delete -->
                        <td class="RowTools">
                            <a href="/#/domains/{{item.ID}}"><i class="fa fa-info"></i></a>
                            <a onclick="ClickGridTool(event)" [attr.data-context]="'domaintypeform'" [attr.data-uri]="'/#/form/domains/' + item.ID + '/edit'"><i class="fa fa-pencil"></i></a>
                            <a onclick="ClickGridTool(event)" [attr.data-context]="'domaintypeform'" [attr.data-uri]="'/#/form/domains/' + item.ID + '/delete'"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col l8 m6 s12">
        <div class="row">
            <div class="col s12">
                <div id="DetailTile" class="tile tile-detail">
                    <object-detail [objectType]="objectType" [objectID]="selectedRow?.ID"></object-detail>
                </div>
            </div>
            <div class="col s12">
                <div id="FieldsTile" class="tile tile-detail">
                    <fields-grid-tile [objectType]="objectType" [objectID]="selectedRow?.ID" [title]="'Field Definition'"></fields-grid-tile>
                </div>
            </div>
            <div class="col s12">
                <div id="GovernanceTile" class="tile tile-detail">
                    <people-responsibilities-tile [objectType]="objectType" [objectID]="selectedRow?.ID" [title]="'Default Responsibilities'" [showHidden]="true"></people-responsibilities-tile>
                </div>
            </div>
        </div>
    </div>
</div>