<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12 m12 l7">
                <div class="tile tile-detail">
                    <header>
                        Custom Images
                        <div class="TileTools"></div>
                    </header>
                    <div class="row">
                        <div class="col s6"><div class="FieldName">Company Logo</div></div>
                        <div class="col s6"><div class="FieldName">Company Web Icon</div></div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="directions">
                                You may upload a custom logo for your company.  The following formats are accepted: .GIF, .JPG, .PNG.  The dimensions should be 200px (W) X 40px (H).
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="directions">
                                You may upload a custom web icon (.ICO file) for your company.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div *ngIf="companySettings.CurrentCompanyLogoPath">
                                Current Logo: <br />
                                <img [src]="companySettings.CurrentCompanyLogoPath" />
                            </div>
                            &nbsp;
                        </div>
                        <div class="col s6">
                            <div *ngIf="companySettings.CurrentCompanyIconPath">
                                Current Icon: <br />
                                <img [src]="companySettings.CurrentCompanyIconPath" />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="companySettings.CurrentCompanyLogoPath || companySettings.CurrentCompanyIconPath">
                        <div class="col s6">
                            <input type="checkbox" [(ngModel)]="companySettings.SetLogoToDefault" /> Reset to default
                        </div>
                        <div class="col s6">
                            <input type="checkbox" [(ngModel)]="companySettings.SetIconToDefault" /> Reset to default
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <input #logoUpload type="file" (change)="onLogoFileChange($event)" accept="image/gif,image/jpeg,image/png" />
                            <span *ngIf="companyLogo?.isLoading"><i class="fa fa-spinner fa-spin"></i></span>
                            <a *ngIf="logoUpload.files.length > 0" (click)="logoUpload.value = null; onLogoFileChange(null);" class="remove"><i class="fa fa-remove"></i></a>
                        </div>
                        <div class="col s6">
                            <input #iconUpload type="file" (change)="onIconFileChange($event)" accept="image/vnd.microsoft.icon,image/x-icon" />
                            <span *ngIf="companyIcon?.isLoading"><i class="fa fa-spinner fa-spin"></i></span>
                            <a *ngIf="iconUpload.files.length > 0" (click)="iconUpload.value = null; onIconFileChange(null);" class="remove"><i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                </div>
                <div class="tile tile-detail">
                    <header>
                        IP Restrictions
                        <d3s-tile-actions [hasAdd]="true" (addClick)="addIpRestriction()"></d3s-tile-actions>
                    </header>
                    <div class="directions">
                        Restrictions will only apply if there are entries present.  If no entries are present, then users will be allowed to access this environment from any IP.
                    </div>
                    <div>
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Start Range</th>
                                    <th>End Range</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ipRestriction of companySettings.IpRestrictions;let i=index" style="margin-bottom: 10px" class="fadeIn">
                                    <td style="vertical-align: middle">
                                        <input [(ngModel)]="companySettings.IpRestrictions[i].Name" type="text" />
                                    </td>
                                    <td style="vertical-align: middle">
                                        <input [(ngModel)]="companySettings.IpRestrictions[i].Start" type="text" />
                                    </td>
                                    <td style="vertical-align: middle">
                                        <input [(ngModel)]="companySettings.IpRestrictions[i].End" type="text" />
                                    </td>
                                    <td style="width: 20px; text-align: right; vertical-align: top">
                                        <a style="padding: 0 .5rem;" class="btn waves-effect waves-red btn-flat" title="Remove this restriction" (click)="removeIpRestriction(i)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tile tile-detail">
                    <div *ngIf="formIsLoading">
                        <div style="text-align: center;">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div [ngSwitch]="formMode" *ngIf="!formIsLoading">
                        <div *ngSwitchDefault>
                            <header>
                                Site Nav
                                <d3s-tile-actions hasAdd="true" (addClick)="action('add')"></d3s-tile-actions>
                            </header>
                            <p-dataTable [value]="companySettings.SiteNav" selectionMode="single" [(selection)]="selection">
                                <p-column field="DisplayName" header="Name"></p-column>
                                <p-column header="">
                                    <template let-col let-item="rowData" pTemplate type="body">
                                        <div class="RowTools">
                                            <a *ngIf="item.IsCustom" (click)="selection = item; action('delete')" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                                            <a *ngIf="item.IsCustom" (click)="selection = item; action('edit')" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                                            <a (click)="selection = item; action('moveUp', item)" style="cursor:pointer;"><i class="fa fa-caret-up"></i></a>
                                            <a (click)="selection = item; action('moveDown', item)" style="cursor:pointer;"><i class="fa fa-caret-down"></i></a>
                                        </div>
                                    </template>
                                </p-column>
                            </p-dataTable>
                        </div>
                        <div *ngSwitchCase="FormMode.Editing">
                            <header>
                                Edit {{selection.Name}}
                                <d3s-tile-actions (closeClick)="formMode = FormMode.Default"></d3s-tile-actions>
                            </header>
                            <div *ngIf="!formIsLoading">
                                <div class="row" style="margin-bottom:15px;">
                                    <div class="col s12">
                                        <div class="FieldName" style="display:block;">Folder Name</div>
                                        <input type="text" [(ngModel)]="selection.Name" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p-dataTable [value]="availableItems" [rows]="10" [paginator]="true" selectionMode="single">
                                            <p-column field="DisplayName" header="Available Folder Items"></p-column>
                                            <p-column>
                                                <template let-item="rowData" pTemplate type="body">
                                                    <div class="RowTools" style="height: initial;">
                                                        <a (click)="action('addFolderItem', item)" style="cursor:pointer;"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                    <div class="col s12 m6">
                                        <p-dataTable [value]="folderItems" [rows]="10" [paginator]="true" selectionMode="single">
                                            <p-column field="Name" header="Existing Folder Items"></p-column>
                                            <p-column>
                                                <template let-item="rowData" pTemplate type="body">
                                                    <div class="RowTools" style="height: initial;">
                                                        <a (click)="action('deleteFolderItem', item)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <button pButton type="button" label="Save" (click)="action('saveEdit')" [disabled]="selection == null || selection.Name == null || selection.Name == '' || folderItems == null || folderItems.length < 1"></button>
                                        <button pButton type="button" label="Cancel" (click)="action('cancelEdit')"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="FormMode.Deleting">
                            <header>
                                Delete {{selection.Name}}?
                                <d3s-tile-actions hasClose="true" (closeClick)="formMode = FormMode.Default"></d3s-tile-actions>
                            </header>
                            <button pButton type="button" label="Delete" (click)="action('deleteFolder',selection)"></button>
                            <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                        </div>
                        <div *ngSwitchCase="FormMode.Adding">
                            <header>
                                Add Navigation Folder
                                <d3s-tile-actions hasClose="true" (closeClick)="formMode = FormMode.Default"></d3s-tile-actions>
                            </header>
                            <div *ngIf="!formIsLoading">
                                <div class="row" style="margin-bottom:15px;">
                                    <div class="col s12">
                                        <div class="FieldName" style="display:block;">Folder Name</div>
                                        <input type="text" [(ngModel)]="newFolder.Name" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p-dataTable [value]="availableItems" [rows]="10" [paginator]="true" selectionMode="single">
                                            <p-column field="DisplayName" header="Available Folder Items"></p-column>
                                            <p-column>
                                                <template let-item="rowData" pTemplate type="body">
                                                    <div class="RowTools" style="height: initial;">
                                                        <a (click)="action('addNewFolderItem', item)" style="cursor:pointer;"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                    <div class="col s12 m6">
                                        <p-dataTable [value]="newFolderItems" [rows]="10" [paginator]="true" selectionMode="single">
                                            <p-column field="Name" header="Folder Items"></p-column>
                                            <p-column>
                                                <template let-item="rowData" pTemplate type="body">
                                                    <div class="RowTools" style="height: initial;">
                                                        <a (click)="action('deleteNewFolderItem', item)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <button pButton type="button" label="Save" (click)="action('save')" [disabled]="newFolder == null || newFolder.Name == null || newFolder.Name == '' || newFolderItems == null || newFolderItems.length < 1"></button>
                                        <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l3">
                <div class="tile tile-detail">
                    <header>
                        Community
                        <div class="TileTools"></div>
                    </header>
                    <div class="directions">
                        Disable the ability for users to post new comments or replies to the boards of other users and assets.  Users will still be able to see any system-generated comments.
                    </div>
                    <input type="checkbox" [(ngModel)]="companySettings.DisableCommunityPosting" /> Disable Discussion Posts<br />
                    <!--<input type="checkbox" [(ngModel)]="companySettings.DisableIssuePosting" /> Disable Issue Posts-->
                </div>
                <div class="tile tile-detail">
                    <header>Global Fields</header>
                    <div class="directions">
                        Disable the ability for users to post new comments or replies to the boards of other users and assets.  Users will still be able to see any system-generated comments.
                    </div>
                    <div class="FieldName">Subject Area Friendly Name</div>
                    <div class="directions">This allows for the renaming of the Subject Area field for all artifact types. The default is "Subject Area."  After changing this value, if you wish to use the default value, simply remove the value in the field below.</div>
                    <input [(ngModel)]="companySettings.ArtifactType_TaxonomyTypeID" type="text" /> <br />
                    <div class="FieldName">Subject Area Nodes Friendly Name</div>
                    <div class="directions">This allows for the renaming of Subject Area Nodes field. The default is "Subject Area Nodes."  After changing this value, if you wish to use the default value, simply remove the value in the field below.</div>
                    <input [(ngModel)]="companySettings.ArtifactType_TaxonomyTypeIDNodes" type="text" />
                </div>
                <div class="tile tile-detail">
                    <header>
                        Search
                        <div class="TileTools"></div>
                    </header>
                    <div class="directions">
                        Specify the default value for the initially selected list of object types to search when a user performs a simple search from the Data3Sixty global search functionality.
                    </div>
                    <ul>
                        <li *ngFor="let searchType of searchTypes;let i=index">
                            <input type="checkbox" [(ngModel)]="searchTypes[i].selected" />{{searchType.title}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m12 l2">
                <button class="btn waves-effect waves-light" (click)="save()">Save Changes</button>
                <div [hidden]="!isLoading" [class]="isLoading ? 'fadeIn spinner' : 'fadeOut spinner'"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
            </div>
        </div>
    </div>
</div>
