<div class="row">
    <div class="col l5 m5">
        <div *ngIf="isLoading">
            <div style="padding:10px;text-align:center;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
        </div>
        <div *ngIf="!isLoading">
            <p-dataTable [value]="workflowItems" selectionMode="single" [(selection)]="selectedRow" [rows]="20" [paginator]="true" >
                <p-column field="WorkflowTypeDisplayName" header="Workflow" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ObjectName" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="ParentName" header="Subject Area" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column>
                    <template let-col let-item="rowData">
                        <div class="RowTools">
                            <a (click)="editRow(item.ID)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            <a (click)="deleteRow(item.ID)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </template>
                </p-column>
            </p-dataTable>
            <!--<table class="table" [mfData]="workflowItems" #mf="mfDataTable" [mfRowsOnPage]="25">
                <thead>
                    <tr>
                        <th style="width: 30%">
                            <mfDefaultSorter by="WorkflowTypeDisplayName">Workflow</mfDefaultSorter>
                        </th>
                        <th style="width: 25%">
                            <mfDefaultSorter by="ObjectName">Type</mfDefaultSorter>
                        </th>
                        <th style="width: 30%">
                            <mfDefaultSorter by="ParentName">Subject Area</mfDefaultSorter>
                        </th>
                        <th style="width: 15%">
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of mf.data; let i=index;">
                    <tr (click)="selectRow(item.ID);" [class.selected]="selectedRow?.ID == item.ID" *ngIf="!item.isEditing && !item.isDeleting">
                        <td> {{item.WorkflowTypeDisplayName}}</td>
                        <td> {{item.ObjectName}}</td>
                        <td> {{item.ParentName}}</td>
                        <td class="RowTools">
                            <a (click)="editRow(item.ID)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            <a (click)="deleteRow(item.ID)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr *ngIf="item.isEditing" class="inline-edit">
                        <td colspan="4">
                            <workflow-item-form [item]="item" (onCancel)="item.isEditing=false;" (onSaveComplete)="item.isEditing=false;"></workflow-item-form>
                        </td>
                    </tr>
                    <tr *ngIf="item.isDeleting" class="inline-edit">
                        <td colspan="4">
                            <delete-form [uri]="'/form/DeleteWorkflowAllocationByID?id=' + item.ID"
                                         [method]="'delete'"
                                         [prompt]="'Are you sure you want to de-allocate this workflow?'"
                                         (onDeleteSuccess)="confirmDeleteRow(item.ID)"
                                         (onCancel)="item.isDeleting=false;">
                            </delete-form>
                        </td>
                    </tr>
                </tbody>
            </table>-->
        </div>
    </div>
    <div class="col l7 m7">
        <div id="DetailTile" class="tile tile-detail">
            <object-detail [objectType]="'WorkflowTypeRelation'" [objectID]="selectedRow?.ID"></object-detail>
        </div>
    </div>
    <div class="col l7 m7" *ngIf="selectedRow.isEditing">
        <div class="tile tile-detail">
            <workflow-item-form [item]="selectedRow" (onCancel)="selectedRow.isEditing = false;"></workflow-item-form>
        </div>
    </div>
    <div  class="col l7 m7" *ngIf="selectedRow.isDeleting">
        <div class="title title-detail">
            <delete-form [uri]="'/form/DeleteWorkflowAllocationByID?id=' + selectedRow.ID"
                         [method]="'delete'"
                         [prompt]="'Are you sure you want to de-allocate this workflow?'"
                         (onDeleteSuccess)="confirmDeleteRow(selectedRow.ID)"
                         (onCancel)="selectedRow.isDeleting=false;">
            </delete-form>
        </div>
    </div>
</div>
<p-growl [value]="messages"></p-growl>