<div class="row">
    <div class="col l3 m4 s12">
        <div class="tile tile-detail">
            <header><d3s-tile-actions [hasAdd]="true" (addClick)="add()"></d3s-tile-actions></header>
            <div id="List">
                <p-dataTable [value]="groupItems" selectionMode="single" [rows]="20" [paginator]="true" [style]="{'width':'100%'}" (onRowSelect)="select($event)" >
                    <p-column field="Name" header="Name" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '75%' }"></p-column>
                    <p-column>
                        <template let-col let-item="rowData">
                            <div class="RowTools">
                                <a (click)="edit(item.ID)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                                <a (click)="delete(item.ID)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
    <div class="col l9 m8 s12" [ngSwitch]="formMode">
        <div *ngSwitchDefault class="tile tile-detail">
            <d3s-group-members-tile [item]="selectedRow"></d3s-group-members-tile>
        </div>
        <div *ngSwitchCase="FormMode.Adding" class="tile tile-detail">
            <d3s-group-form [id]="0" [title]="'Add Group'" (onCancel)="cancel();" (onSuccess)="formMode = FormMode.Default; load();"></d3s-group-form>
        </div>
        <div *ngSwitchCase="FormMode.Editing" class="tile tile-detail">
            <d3s-group-form [id]="selectedRow.ID" [title]="'Edit ' + selectedRow.Name" (onCancel)="cancel();" (onSuccess)="formMode = FormMode.Default; load();"></d3s-group-form>
        </div>
        <div *ngSwitchCase="FormMode.Deleting" class="tile tile-detail">
            <delete-form [uri]="'/form/DeleteGroupByID?id=' + selectedRow.ID"
                         [method]="'delete'"
                         [prompt]="'Are you sure you want to remove ' + selectedRow.Name + '?'"
                         (onDeleteSuccess)="confirmDelete()"
                         (onCancel)="cancel();">
            </delete-form>
        </div>
    </div>
</div>