<div class="row">
    <div class="col l4 m6 s12">
        <div *ngIf="isLoading">
            <div style="padding:10px;text-align:center;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
        </div>
        <div *ngIf="!isLoading">
            <p-dataTable [value]="domainTypes" selectionMode="single" [(selection)]="selectedRow" [rows]="20" [paginator]="true">
                <p-column field="Name" header="Name" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{ 'width': '70%' }"></p-column>
                <p-column [style]="{ 'width': '30%' }">
                    <template let-col let-item="rowData">
                        <div class="RowTools">
                            <a (click)="null" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            <a (click)="null" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
    <div class="col l8 m6 s12">
        <div class="row">
            <div class="col s12">
                <div id="DetailTile" class="tile tile-detail">
                    <object-detail [objectType]="objectType" [objectID]="selectedRow?.ID"></object-detail>
                </div>
            </div>
            <div class="col s12">
                <div id="FieldsTile" class="tile tile-detail">
                    <d3s-field-definition-tile [objectType]="objectType" [objectID]="selectedRow?.ID" [title]="'Field Definition'"></d3s-field-definition-tile>
                </div>
            </div>
            <div class="col s12">
                <div id="GovernanceTile" class="tile tile-detail">
                    <d3s-people-responsibilities-tile [objectType]="objectType" [objectID]="selectedRow?.ID" [title]="'Default Responsibilities'" [showHidden]="true"></d3s-people-responsibilities-tile>
                </div>
            </div>
        </div>
    </div>
</div>