@import '../../../../../Content/styles/_Variables.less';

.side-panel-container {
  padding: 16px 5px 6px 11px;
}

.side-panel-button {
  z-index: 1000;
  margin-bottom: 8px;
  margin-right: 6px;

  &.selected {
    background: @ig-slate;
    color: @ig-white;
  }

  &.disabled {
    color: @ig-grey-t2;
  }
}

.side-panel-button-container {
  float: right;
  margin-top: 2px;
}

.side-panel-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right:2px;
}

.side-panel-button-spacer {
  display: inline-flex;
  border-left: 1px solid @ig-grey-t4;
  height: 28px;
  vertical-align: middle;
  position: relative;
  margin-bottom: 3px;
  margin-right: 6px;
}

.side-panel-empty-overlay {
  .content {
    text-align: center;
    top: 100px;
    position: relative;
    max-width: 210px;
    margin: 0 auto;
    color: @ig-slate;

    span {
      font-size: 14px;
      line-height: 18px;
    }

    .icon-holder {
      background-color: @ig-grey-t5;
      height: 128px;
      width: 128px;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 16px;

      .fa {
        font-size: 56px;
        line-height: 128px;
      }
    }
  }
}
