@import '../../../../../Content/styles/_Variables.less';

.side-panel-container {
  padding: 16px 5px 6px 16px;
}

.side-panel-button {
  z-index: 1000;
  margin-bottom: 8px;
  margin-right: 6px;
  color: @ig-black;

  &.selected {
    background: @ig-purple-t4;

    &:active {
      background: @ig-purple-t4;
    }
  }

  &.disabled {
    opacity: 0.33;
  }
}

.side-panel-button-container {
  float: right;
  margin-top: 2px;
}

.side-panel-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 16px;

  .asset-detail-header,
  .asset-detail-tabs {
    padding-left: 16px;
  }

  .p-datatable-wrapper table.side-panel-max-width {
    width: max-content;
    min-width: 100%;
  }

  .asset-detail-user-image {
    position: relative;

    img {
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .tagged-assets {
    border-top: 1px solid @ig-grey-t4;
  }

  .groups-tab {
    ig-search-field {
      width: 100%;
      padding-bottom: 8px;
    }
  }
}

.side-panel-button-spacer {
  display: inline-flex;
  border-left: 1px solid @ig-grey-t4;
  height: 28px;
  vertical-align: middle;
  position: relative;
  margin-bottom: 3px;
  margin-right: 6px;
}

.side-panel-empty-overlay {
  .content {
    text-align: center;
    top: 100px;
    position: relative;
    max-width: 210px;
    margin: 0 auto;
    color: @ig-slate;

    span {
      font-size: 14px;
      line-height: 18px;
    }

    .icon-holder {
      background-color: @ig-grey-t5;
      height: 128px;
      width: 128px;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 16px;

      .fa {
        font-size: 56px;
        line-height: 128px;
      }
    }
  }
}

.user-assignments {
  .search-input {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
  }
}

.user-assignments {
  margin-top: -16px;

  label {
    font-weight: bold;
    color: @ig-black;
  }

  .p-datatable-wrapper {
    overflow: auto;

    table {
      table-layout: auto !important;
    }
  }
}

.secondary-side-panel {
  width: 400px;
  height: 100%;
  z-index: 20000;
  position: absolute;
  right: 415px;
  float: right;
  background: white;
  top: 0px;
  bottom: 40px;
  box-shadow: rgb(0 0 0 / 33%) 0 5px 20px;
  border-radius: 4px;

  .panel-header {
    padding: 16px 5px 6px 16px;
  }

  .details-container {
    height: calc(100% - 80px);
    overflow-y: auto;
  }

  .button-container {
    float: right;
    margin-top: 2px;

    .close-button {
      margin-bottom: 8px;
      margin-right: 6px;
      color: @ig-black;

      &.selected {
        background: @ig-purple-t4;

        &:active {
          background: @ig-purple-t4;
        }
      }

      &.disabled {
        opacity: 0.33;
      }
    }
  }
}
