@import '../../../../../Content/styles/_Variables.less';

.side-panel-container {
  padding: 16px 5px 6px 16px;
}

.side-panel-button {
  z-index: 1000;
  margin-bottom: 8px;
  margin-right: 6px;
  color: @ig-black;

  &.selected {
    background: @ig-purple-t4;

    &:active {
      background: @ig-purple-t4;
    }
  }

  &.disabled {
    opacity: 0.33;
  }
}

.side-panel-button-container {
  float: right;
  margin-top: 2px;
}

.side-panel-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 16px;

  .asset-detail-header,
  .asset-detail-tabs {
    padding-left: 16px;
  }

  .p-datatable-wrapper table.side-panel-max-width {
    width: max-content;
    min-width: 100%;
  }

  .asset-detail-user-image {
    position: relative;

    img {
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .grey-delimiter {
    color: @ig-grey-t2;
    padding: 4px;
  }
}

.side-panel-button-spacer {
  display: inline-flex;
  border-left: 1px solid @ig-grey-t4;
  height: 28px;
  vertical-align: middle;
  position: relative;
  margin-bottom: 3px;
  margin-right: 6px;
}

.side-panel-empty-overlay {
  .content {
    text-align: center;
    top: 100px;
    position: relative;
    max-width: 210px;
    margin: 0 auto;
    color: @ig-slate;

    span {
      font-size: 14px;
      line-height: 18px;
    }

    .icon-holder {
      background-color: @ig-grey-t5;
      height: 128px;
      width: 128px;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 16px;

      .fa {
        font-size: 56px;
        line-height: 128px;
      }
    }
  }
}

.groups-tab,
.user-assignments {
  .search-input {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
  }
}

.user-assignments {
  margin-top: -16px;

  label {
    font-weight: bold;
    color: @ig-black;
  }

  .p-datatable-wrapper {
    overflow: auto;

    table {
      table-layout: auto !important;
    }
  }
}
