<div *ngIf="!category.loaded" style="width:100%; text-align:center;">
    <div style="padding:10px;"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div *ngIf="category.loaded">
    <div *ngFor="let row of category.rows">
        <div class="row" style="margin-bottom: 10px" attr.data-category="{{row.Category}}">
            <div *ngIf="row.columns == 1">
                <div class="col l2 m3 s12">
                    <div *ngFor="let field of row.FirstColumnFields">
                        <div *ngIf="field.FieldDescription && field.FieldDescription != ''" class="FieldName FieldDisplayName" [pTooltip]="field.FieldDescription" tooltipPosition="top">{{field.Name}}</div>
                        <div *ngIf="!field.FieldDescription || field.FieldDescription == ''" class="FieldName FieldDisplayName">{{field.Name}}</div>
                        <span *ngIf="field.IsPartOfKey" pTooltip="Key field used to uniquely identify records"
                            tooltipPosition="top" tooltipStyleClass="ig-tooltip">
                            <img src="/Content/images/field-key.svg"  [style.verticalAlign]="'sub'">
                        </span>
                    </div>
                </div>
                <div class="col l10 m9 s12">
                    <div *ngFor="let field of row.FirstColumnFields">
                        <object-detail-field [field]="field" [assetUID]="assetUID"></object-detail-field>
                    </div>
                </div>
            </div>
            <div *ngIf="row.columns != 1">
                <div class="col l2 m3 s12">
                    <div *ngFor="let field of row.FirstColumnFields">
                        <div *ngIf="field.FieldDescription && field.FieldDescription != ''" class="FieldName FieldDisplayName" [pTooltip]="field.FieldDescription" tooltipPosition="top">{{field.Name}}</div>
                        <div *ngIf="!field.FieldDescription || field.FieldDescription == ''" class="FieldName FieldDisplayName">{{field.Name}}</div>
                        <span *ngIf="field.IsPartOfKey" pTooltip="Key field used to uniquely identify records"
                            tooltipPosition="top" tooltipStyleClass="ig-tooltip">
                            <img src="/Content/images/field-key.svg"  [style.verticalAlign]="'sub'">
                        </span>
                    </div>
                </div>
                <div class="col l4 m3 s12">
                    <div *ngFor="let field of row.FirstColumnFields">
                        <object-detail-field [field]="field" [assetUID]="assetUID"></object-detail-field>
                    </div>
                </div>
                <div class="col l2 m3 s12">
                    <div *ngFor="let field of row.SecondColumnFields">
                        <div *ngIf="field.FieldDescription && field.FieldDescription != ''" class="FieldName FieldDisplayName" [pTooltip]="field.FieldDescription" tooltipPosition="top">{{field.Name}}</div>
                        <div *ngIf="!field.FieldDescription || field.FieldDescription == ''" class="FieldName FieldDisplayName">{{field.Name}}</div>
                        <span *ngIf="field.IsPartOfKey" pTooltip="Key field used to uniquely identify records"
                            tooltipPosition="top" tooltipStyleClass="ig-tooltip">
                            <img src="/Content/images/field-key.svg"  [style.verticalAlign]="'sub'">
                        </span>
                    </div>
                </div>
                <div class="col l4 m3 s12">
                    <div *ngFor="let field of row.SecondColumnFields">
                        <object-detail-field [field]="field" [assetUID]="assetUID"></object-detail-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>