<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <div [ngSwitch]="formMode">
        <div *ngSwitchDefault>
            <header>
                &nbsp;<d3s-tile-actions *ngIf="!readonly && synonymPermission?.addModifySynonym"
                                        (addClick)="add();"
                                        [hasAdd]="hasAdd"></d3s-tile-actions>
            </header>


            <input type="text"
                   [hidden]="!showSimpleFilter"
                   pInputText
                   size="100"
                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="Search..."
                   class="grid-simple-filter">
            <p-table #dt
                     [value]="items"
                     selectionMode="none"
                     [metaKeySelection]="true"
                     [globalFilterFields]="['Name','ObjectTypeName','ParentName']"
                     sortField="Name"
                     [sortOrder]="1"
                     [paginator]="true"
                     [rows]="defaultInitialItemsPerPage"
                     [rowsPerPageOptions]="defaultPagingOptions"
                     [(selection)]="selectedItem">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'Name'">
                            Name
                            <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'ObjectTypeName'">
                            Type
                            <d3s-sortIcon [field]="'ObjectTypeName'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'ParentName'">
                            Parent
                            <d3s-sortIcon [field]="'ParentName'"></d3s-sortIcon>
                        </th>
                        <th style="width:   48px "></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"
                             let-item>
                    <tr style="cursor:default;" [pSelectableRow]="item">
                        <td>
                            <ng-container *ngIf="interceptLinkClick && item.ObjectTypeName != 'Custom'">
                                <a context-link (click)="synonymClicked($event,item,'S')">{{item.Name}}</a>
                            </ng-container>
                            <ng-container *ngIf="!interceptLinkClick || item.ObjectTypeName == 'Custom'">
                                <d3s-preview-tooltip *ngIf="item.Object"
                                                     [objectType]="item.Object"
                                                     [objectId]="item.ObjectID">
                                    <a (click)="navigate(item.Url)">{{item.Name}}</a>
                                </d3s-preview-tooltip>
                                <span *ngIf="!item.Object">{{item.Name}}</span>
                            </ng-container>
                        </td>
                        <td>{{item.ObjectTypeName}}</td>
                        <td>
                            <ng-container *ngIf="interceptLinkClick">
                                <a context-link (click)="synonymClicked($event,item,'SP')">{{item.ParentName}}</a>
                            </ng-container>
                            <ng-container *ngIf="!interceptLinkClick">
                                <d3s-preview-tooltip *ngIf="item.Object"
                                                     [objectType]="item.Object"
                                                     [objectId]="item.ParentID">
                                    <a (click)="navigate(item.ParentUrl)">{{item.ParentName}}</a>
                                </d3s-preview-tooltip>
                            </ng-container>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a (click)="selectedItem=item;delete();"
                                   *ngIf="synonymPermission?.deleteSynonym"
                                   style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template *ngIf="dt.totalRecords"
                             pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first"
                                          [rows]="dt.rows"
                                          [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
        <div *ngSwitchCase="FormMode.Adding">
            <header>Add {{predicateName}}</header>
            <div class="row">
                <div class="col s12">
                    <div class="FieldName"
                         style="display:block;">
                        Type
                    </div>
                    <select [(ngModel)]="selectedType"
                            style="width:35em;"
                            (ngModelChanged)="clearSearch()">
                        <option></option>
                        <option *ngFor="let i of synonymTypes"
                                [value]="i.Value">
                            {{i.Name}}
                        </option>
                        <option value="_custom">Custom</option>
                    </select>
                </div>
            </div>
            <div class="row"
                 style="padding-bottom: 15px"
                 *ngIf="selectedType != '_custom'">
                <div class="col s12">
                    <div class="FieldName"
                         style="display:block;">
                        Value
                    </div>
                    <p-autoComplete [suggestions]="synonymItems"
                                    (completeMethod)="search($event)"
                                    field="Name"
                                    [(ngModel)]="selectedSynonym"
                                    placeholder="Search..."
                                    size="64"
                                    [disabled]="selectedType == ''"></p-autoComplete>
                    <span *ngIf="isLoadingItems"><i class="fa fa-spinner fa-spin"></i></span>
                </div>
            </div>
            <div class="row"
                 style="padding-bottom: 15px"
                 *ngIf="selectedType == '_custom'">
                <div class="col s12">
                    <div class="FieldName">Value</div>
                    <div>
                        <input maxlength="250"
                               pInputText
                               name="name"
                               type="text"
                               style="width:35em;"
                               [(ngModel)]="customSynonymName"
                               required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button pButton
                            type="button"
                            label="Save"
                            (click)="save();"
                            [disabled]="(selectedType != '_custom' && selectedSynonym?.uid == null) || (selectedType == '_custom' && (!customSynonymName))"></button>
                    <button pButton
                            type="button"
                            label="Cancel"
                            (click)="formMode = FormMode.Default;"></button>
                </div>
            </div>
        </div>
        <d3s-delete-form *ngSwitchCase="FormMode.Deleting"
                         [callback]="theDeleteCallback"
                         [itemId]="selectedItem"
                         [method]="'callback'"
                         [prompt]="'Are you sure you want to remove the ' + predicateName + ' ' + selectedItem.Name + '?'"
                         (onCancel)="formMode = FormMode.Default;deselectElement();"></d3s-delete-form>
    </div>
</div>