.table-data-transfer-grid {
    display: flex;
}

.data-transfer-table {
    width: 100%;
}

.data-transfer-controls {
    padding: 100px 32px 0;

    & > div {
        margin-bottom: 8px;
    }
}

.data-transfer-move-top-btn {
    transform: rotate(90deg);
}

.data-transfer-move-bottom-btn {
    transform: rotate(270deg);
}

.table-controls {
    display: flex;
}

.selected-counter {
    display: inline-block;
    white-space: nowrap;
    margin-left: 12px;
    line-height: 32px;
}

.information-button-column {
    flex-direction: row-reverse;
    max-width: 50px;
}

.checkbox-column {
    max-width: 28px;
}

.info-button {
    width: 26px;
    height: 26px;
}

.empty-message {
    border-color: #bdbfc6;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 36px;
    &.highlighted {
        background: #e4f5f8;
    }
}

.ig-button {
    &.highlighted {
        background: #e4cfff;
    }
}