<div class="table-data-transfer-grid table-theme-1 checkbox-theme-1">
    <div class="data-transfer-table">
        <div class="table-controls">
            <ig-search-field class="search tooltip-full-width"
                             mode="Keypress"
                             i18n-placeholder
                             placeholder="Search"
                             [(ngModel)]="sourceTableSearchValue"
                             (onSearch)="sourceDataTable.filterGlobal($event, 'contains')"
                             name="availableFolderItemsSearchField"
                             style="width:100%; padding-bottom:8px;"></ig-search-field>
            <div class="selected-counter"
                 *ngIf="selectedItemsFromSource?.length === 1"
                 i18n>1 item selected</div>
            <div class="selected-counter"
                 *ngIf="selectedItemsFromSource?.length > 1"
                 i18n>{{selectedItemsFromSource.length}} items selected</div>
        </div>
        <div class="table-wrapper">
            <p-table #sourceDataTable
                     [globalFilterFields]="[itemsNameProperty]"
                     [loading]="isItemsFromSourceLoading"
                     [loadingIcon]="'fa fa-spinner fa-spin'"
                     [value]="itemsFromSource"
                     [(selection)]="selectedItemsFromSource"
                     selectionMode="multiple"
                     [metaKeySelection]="false"
                     [selectionPageOnly]="true"
                     [paginator]="true"
                     paginatorDropdownAppendTo="body"
                     [rows]="10"
                     [rowsPerPageOptions]="defaultTableSettingsService.defaultPagingOptions"
                     [rowSelectable]="isSourceRowSelectable"
                     [scrollable]="true"
                     scrollHeight="420px">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="check-cell">
                            <p-tableHeaderCheckbox [disabled]="isSourceRowsSelectionDisabled()"></p-tableHeaderCheckbox>
                        </th>
                        <th i18n>{{sourceTableTitle}}</th>
                    </tr>
                    <tr *ngIf="itemsFromSource?.length == 0">
                        <td colspan="2">
                            <div i18n
                                 class="empty-message">{{emptySourceTableMessage}}</div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"
                             let-item>
                    <tr [pSelectableRow]="item">
                        <td class="checkbox-column">
                            <p-tableCheckbox [value]="item" [disabled]="isSourceRowsSelectionDisabled()"></p-tableCheckbox>
                        </td>
                        <td>{{item[itemsNameProperty]}}</td>
                        <td class="information-button-column" *ngIf="infoButton">
                            <button igButton
                                    class="info-button button-theme-1"
                                    [ngClass]="{'highlighted': viewingItem === item}"
                                    icon="fa-info-circle"
                                    i18n-pTooltip
                                    pTooltip="View Information"
                                    tooltipPosition="top"
                                    tooltipStyleClass="ig-tooltip"
                                    (click)="showInfo(item)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <d3s-grid-paging-info [first]="sourceDataTable.first"
                                          [rows]="sourceDataTable.rows"
                                          [totalRecords]="sourceDataTable.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="data-transfer-controls">
        <div i18n-pTooltip
             pTooltip="Add to selected folder items"
             tooltipPosition="top"
             tooltipStyleClass="ig-tooltip">
            <button igButton
                    class="ig-lookup-grid-button"
                    [disabled]="!selectedItemsFromSource || selectedItemsFromSource.length === 0"
                    icon="fa-arrow-right"
                    (click)="moveFromSourceToTarget()"></button>
        </div>
        <div i18n-pTooltip
             pTooltip="Remove from selected folder items"
             tooltipPosition="top"
             tooltipStyleClass="ig-tooltip"
             style="margin-bottom: 16px">
            <button igButton
                    class="ig-lookup-grid-button"
                    [disabled]="!selectedItemsFromTarget || selectedItemsFromTarget.length === 0"
                    icon="fa-arrow-left"
                    (click)="moveFromTargetToSource()"></button>
        </div>
        <ng-container *ngIf="isSortButtons">
            <div i18n-pTooltip
                 pTooltip="Move to top"
                 tooltipPosition="top"
                 tooltipStyleClass="ig-tooltip">
                <button igButton
                        class="ig-lookup-grid-button data-transfer-move-top-btn"
                        [disabled]="!isMoveUpPossible()"
                        icon="fa-step-backward"
                        (click)="moveToTop()"></button>
            </div>
            <div i18n-pTooltip
                 pTooltip="Move up"
                 tooltipPosition="top"
                 tooltipStyleClass="ig-tooltip">
                <button igButton
                        class="ig-lookup-grid-button button-up"
                        [disabled]="!isMoveUpPossible()"
                        icon="fa-caret-up"
                        (click)="moveUp()"></button>
            </div>
            <div i18n-pTooltip
                 pTooltip="Move down"
                 tooltipPosition="top"
                 tooltipStyleClass="ig-tooltip">
                <button igButton
                        class="ig-lookup-grid-button button-down"
                        [disabled]="!isMoveDownPossible()"
                        icon="fa-caret-down"
                        (click)="moveDown()"></button>
            </div>
            <div i18n-pTooltip
                 pTooltip="Move to bottom"
                 tooltipPosition="top"
                 tooltipStyleClass="ig-tooltip">
                <button igButton
                        class="ig-lookup-grid-button data-transfer-move-bottom-btn"
                        [disabled]="!isMoveDownPossible()"
                        icon="fa-step-backward"
                        (click)="moveToBottom()"></button>
            </div>
        </ng-container>
    </div>
    <div class="data-transfer-table">
        <div class="table-controls">
            <ig-search-field class="search tooltip-full-width"
                             mode="Keypress"
                             i18n-placeholder
                             placeholder="Search"
                             [(ngModel)]="targetTableSearchValue"
                             (onSearch)="targetDataTable.filterGlobal($event, 'contains')"
                             style="width:100%; padding-bottom:8px;"></ig-search-field>
            <div class="selected-counter"
                 *ngIf="selectedItemsFromTarget && selectedItemsFromTarget.length > 0"
                 i18n>{{selectedItemsFromTarget.length}} item{{selectedItemsFromTarget.length > 1 ? "s":""}} selected
            </div>
        </div>
        <div class="table-wrapper"
             style="max-height: calc(100vh - 420px); min-height:300px">
            <p-table #targetDataTable
                     [value]="itemsFromTarget"
                     [globalFilterFields]="[itemsNameProperty]"
                     [loading]="isItemsFromTargetLoading"
                     [loadingIcon]="'fa fa-spinner fa-spin'"
                     selectionMode="multiple"
                     [(selection)]="selectedItemsFromTarget"
                     [metaKeySelection]="false"
                     [rowsPerPageOptions]="defaultTableSettingsService.defaultPagingOptions"
                     [scrollable]="true"
                     [reorderableColumns]="true"
                     [rowSelectable]="isTargetRowSelectable"
                     (onRowReorder)="onRowReorder()"
                     scrollHeight="420px">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngIf="isTargetDataReorderable" class="reorder-cell"></th>
                        <th class="check-cell">
                            <p-tableHeaderCheckbox [disabled]="isTargetRowsSelectionDisabled()"></p-tableHeaderCheckbox>
                        </th>
                        <th i18n>{{targetTableTitle}}</th>
                    </tr>
                    <tr *ngIf="itemsFromTarget?.length == 0">
                        <td colspan="3">
                            <div i18n
                                 class="empty-message"
                                 [ngClass]="{'highlighted': isRequired}">{{emptyTargetTableMessage}}</div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"
                             let-item
                             let-i="rowIndex">
                    <tr [pSelectableRow]="item" [pReorderableRow]="i">
                        <td *ngIf="isTargetDataReorderable" class="reorder-cell">
                            <span class="reorder-icon" [pReorderableRowHandle]="i"></span>
                        </td>
                        <td class="checkbox-column">
                            <p-tableCheckbox [value]="item" [disabled]="isTargetRowsSelectionDisabled()"></p-tableCheckbox>
                        </td>
                        <td>{{item[itemsNameProperty]}}</td>
                    <tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
