@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";

.field-condition-grid {
    .condition-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 8px;

        .condition-option {
            margin-right: 8px;

            &.empty {
                min-width: @ig-field-width-medium;
            }

            &.condition-field {
                min-width: @ig-field-width-medium;
            }
        }
    }

    .ui-dropdown-label {
        padding-top: 5px;
    }
}
