<div class="field-condition-grid" *ngIf="visible">
    <form [formGroup]="formGroup">
        <div *ngFor="let condition of conditions; let i = index">
            <div class="condition-row">
                <div class="condition-option condition-field">
                    <p-dropdown igDropdown
                                igSize="medium"
                                [(ngModel)]="condition.field"
                                (onChange)="onFieldChange($event, condition)"
                                i18n-placeholder
                                placeholder="Choose a field"
                                [required]="required"
                                formControlName="{{conditionPrefix}}option_{{condition.hash}}"
                                id="{{conditionPrefix}}option_{{condition.hash}}"
                                tabindex="1"
                                [appendTo]="'body'"
                                [options]="getAvailableFields(condition)"></p-dropdown>
                </div>
                <div class="condition-option" *ngIf="condition.field">
                    <p-dropdown igDropdown
                                required
                                igSize="small"
                                formControlName="{{conditionPrefix}}condition_{{condition.hash}}"
                                [(ngModel)]="condition.operator"
                                (onChange)="onConditionChange($event, condition)"
                                i18n-placeholder
                                placeholder="Choose a field"
                                [appendTo]="'body'"
                                [options]="getOperators(condition)"></p-dropdown>
                </div>
                <div class="condition-option" *ngIf="condition.operator && !condition.disabled">
                    <ng-container [ngSwitch]="getTypeForCondition(condition)">
                        <ng-container *ngSwitchCase="getTypeForCondition(condition) === 'Lookup' || getTypeForCondition(condition) === 'Boolean' ? getTypeForCondition(condition) : ''">
                            <p-dropdown igDropdown
                                        required
                                        placeholder="{{condition.disabled ? '' : 'Choose a value'}}"
                                        [disabled]="condition.disabled"
                                        igSize="small"
                                        formControlName="{{conditionPrefix}}value_1_{{condition.hash}}"
                                        name="{{conditionPrefix}}value_1_{{condition.hash}}"
                                        id="{{conditionPrefix}}value_1_{{condition.hash}}"
                                        [(ngModel)]="condition.value"
                                        [appendTo]="'body'"
                                        [options]="getValues(condition)"></p-dropdown>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Number'">
                            <ig-number-input placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" required [disabled]="condition.disabled" formControlName="{{conditionPrefix}}value_1_{{condition.hash}}" name="{{conditionPrefix}}value_1_{{condition.hash}}" [(ngModel)]="condition.value"></ig-number-input>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Decimal'">
                            <ig-number-input placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" required [disabled]="condition.disabled" formControlName="{{conditionPrefix}}value_1_{{condition.hash}}" name="{{conditionPrefix}}value_1_{{condition.hash}}" [(ngModel)]="condition.value"></ig-number-input>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Date'">
                            <ig-date [appendTo]="'body'" placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" required="true" [disabled]="condition.disabled" formControlName="{{conditionPrefix}}value_1_{{condition.hash}}" name="{{conditionPrefix}}value_1_{{condition.hash}}" [(ngModel)]="condition.value"></ig-date>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DateTime'">
                            <ig-date [appendTo]="'body'" placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" required="true" [disabled]="condition.disabled" formControlName="{{conditionPrefix}}value_1_{{condition.hash}}" name="{{conditionPrefix}}value_1_{{condition.hash}}" [(ngModel)]="condition.value"></ig-date>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <input igInput placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" disabled="{{condition.disabled}}" required igSize="small" formControlName="{{conditionPrefix}}value_1_{{condition.hash}}" name="{{conditionPrefix}}value_1_{{condition.hash}}" [(ngModel)]="condition.value" maxlength="250" />
                        </ng-container>
                    </ng-container>
                </div>
                <div class="condition-option remove-condition" *ngIf="condition.field">
                    <button pTooltip="Remove condition" tooltipPosition="top" tooltipStyleClass="ig-tooltip" igButton icon="fa-trash" type="button" tooltip="Delete" (click)="deleteCondition(condition)"></button>
                </div>
            </div>

            <div class="row condition-row" *ngIf="condition.operator === 9 || condition.operator === 'Between'">
                <div class="condition-option empty"></div>
                <div class="condition-option" *ngIf="condition.field">
                    <input igInput value="and" igSize="small" disabled="disabled" />
                </div>
                <div class="condition-option" *ngIf="condition.operator">
                    <ng-container [ngSwitch]="getTypeForCondition(condition)">
                        <ng-container *ngSwitchCase="'Number'">
                            <ig-number-input placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" required [disabled]="condition.disabled" formControlName="{{conditionPrefix}}value_2_{{condition.hash}}" name="{{conditionPrefix}}value_2_{{condition.hash}}" [(ngModel)]="condition.value2"></ig-number-input>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Decimal'">
                            <ig-number-input placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" required [disabled]="condition.disabled" formControlName="{{conditionPrefix}}value_2_{{condition.hash}}" name="{{conditionPrefix}}value_2_{{condition.hash}}" [(ngModel)]="condition.value2"></ig-number-input>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Date'">
                            <ig-date [appendTo]="'body'" placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" required="true" [disabled]="condition.disabled" formControlName="{{conditionPrefix}}value_2_{{condition.hash}}" name="{{conditionPrefix}}value_2_{{condition.hash}}" [(ngModel)]="condition.value2"></ig-date>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DateTime'">
                            <ig-date [appendTo]="'body'" placeholder="{{condition.disabled ? '' : valueRequiredLabel}}" required="true" [disabled]="condition.disabled" formControlName="{{conditionPrefix}}value_2_{{condition.hash}}" name="{{conditionPrefix}}value_2_{{condition.hash}}" [(ngModel)]="condition.value2"></ig-date>
                        </ng-container>
                    </ng-container>

                </div>
            </div>
        </div>
    </form>
</div>