/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: PatternedRows-infogix;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	id: 9;
	name: DarkShade;
	type: Manual;
	background-color: #8798b3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	background-color: #004a78;
	name: Header1;
	id: 2;
	color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: LightRows;
	background-color: #edf0f1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	name: DarkerRows;
	id: 1;
	background-color: #e1e4e6;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}


/* Cell Styles: */
 
.TableStyle-PatternedRows-infogix
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-PatternedRows-infogix-Column-Regular
{
	
}

.TableStyle-PatternedRows-infogix-Column-DarkShade
{
	
}

.TableStyle-PatternedRows-infogix-Head-Header1
{
	
}

.TableStyle-PatternedRows-infogix-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadI-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #004a78;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-HeadE-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-HeadF-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadH-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-HeadD-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadC-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadB-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadA-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadG-Regular-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadI-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadI-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadE-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #004a78;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-HeadE-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadF-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-HeadF-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadH-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadH-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadD-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-HeadD-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadC-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadC-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadB-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadB-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadA-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadA-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-HeadG-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #004a78;
}

.TableStyle-PatternedRows-infogix-HeadG-DarkShade-Header1 p
{
	color: #ffffff;
}

.TableStyle-PatternedRows-infogix-Foot-Footer1
{
	
}

.TableStyle-PatternedRows-infogix-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PatternedRows-infogix-FootI-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-PatternedRows-infogix-FootE-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-PatternedRows-infogix-FootF-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-FootH-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-PatternedRows-infogix-FootD-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PatternedRows-infogix-FootC-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-FootB-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PatternedRows-infogix-FootA-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-PatternedRows-infogix-FootG-Regular-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootI-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-FootI-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootE-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-PatternedRows-infogix-FootE-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootF-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-PatternedRows-infogix-FootF-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootH-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-FootH-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootD-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-PatternedRows-infogix-FootD-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootC-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-FootC-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootB-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-FootB-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootA-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-FootA-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-FootG-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-FootG-DarkShade-Footer1 p
{
	
}

.TableStyle-PatternedRows-infogix-Body-LightRows
{
	
}

.TableStyle-PatternedRows-infogix-BodyI-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-PatternedRows-infogix-BodyI-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyE-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyE-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyF-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyF-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyH-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyH-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyD-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyD-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyC-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-PatternedRows-infogix-BodyC-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyB-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyB-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyA-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-PatternedRows-infogix-BodyA-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyG-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-PatternedRows-infogix-BodyG-Regular-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyI-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyI-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyE-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyE-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyF-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyF-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyH-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyH-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyD-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyD-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyC-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyC-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyB-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyB-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyA-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyA-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyG-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyG-DarkShade-LightRows p
{
	
}

.TableStyle-PatternedRows-infogix-Body-DarkerRows
{
	
}

.TableStyle-PatternedRows-infogix-BodyI-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
}

.TableStyle-PatternedRows-infogix-BodyI-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyE-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyE-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyF-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyF-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyH-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyH-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyD-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyD-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyC-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
}

.TableStyle-PatternedRows-infogix-BodyC-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyB-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyB-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyA-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
}

.TableStyle-PatternedRows-infogix-BodyA-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyG-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e1e4e6;
}

.TableStyle-PatternedRows-infogix-BodyG-Regular-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyI-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyI-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyE-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyE-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyF-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyF-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyH-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyH-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyD-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyD-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyC-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyC-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyB-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-PatternedRows-infogix-BodyB-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyA-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyA-DarkShade-DarkerRows p
{
	
}

.TableStyle-PatternedRows-infogix-BodyG-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-PatternedRows-infogix-BodyG-DarkShade-DarkerRows p
{
	
}


