@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";
@import "../../../../../../Content/styles/_Variables.less";

.scoring-v2 {
  display: grid;
  grid-template-areas: "left . right" ". . close";
  grid-template-columns: 1fr 24px 400px;
  grid-template-rows: auto;

  .score-left-content {
    grid-area: left;
    min-width: 600px;

    .score-definition-container {
      padding: 0;

      .definition-wrapper {
        overflow: hidden;
        height: calc(100vh - 340px);
        padding-bottom: 100px;

      }
    }
  }

  .score-right-content {
    grid-area: right;

    .score-definition-container {
      overflow-y: auto;
      margin-bottom: 32px;
      padding: 0;

      .definition-wrapper {
        height: calc(100vh - 340px);
        border: 1px solid @ig-grey-t3;
        border-radius: 4px;
        padding: 24px;

        .measure-details-warning {
          font-size: 95%;
          display: flex;
          flex-direction: row;
          padding: 10px;
          margin-bottom: 16px;
          background: @ig-grey-t5;

          span:first-child {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .score-result-button-bar {
    grid-area: close;
    text-align: right;
  }
}
