@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
}

.ig-regexp-input {
  font-size: 14px;
  color: @ig-black;
  background: @ig-white;

  padding-top: 6px;
  padding-right: 16px;

  .input-with-buttons {
    position: relative;

    .samples-button {
      width: 24px;
      background: rgba(0, 0, 0, 0.07);
      font-size: 14px;
      line-height: 12px;
      height: 24px;
      border-radius: 4px;
      border: none;
      position: absolute;
      top: 4px;
      right: 4px;

      &:hover {
        background: rgba(0, 0, 0, 0.14);
      }

      &:active {
        background: #00000036;
      }

      > i {
        margin: 0;
      }
    }
  }

  ig-regexp-tester {
    display: block;
    margin-left: 24px;
    margin-top: 12px;
  }
}

.ig-regexp-input.disabled {
  opacity: 33%;
  pointer-events: none;
}

.ig-text-required {
  display: none;
}

:host.ng-touched .ig-text-required {
  display: block;
}
