<div class="regexp-tester">
	<label class="ig-label">
		Regular Expression Test String
		<span pTooltip="Enter text and select Validate to test a string against the pattern entered in the Regular Expression field"
			tooltipPosition="top"
			tooltipStyleClass="ig-tooltip">
			<i class="fa fa-question-circle"></i>
		</span>
	</label>

	<form class="validate-container">
		<input 
			class="validate-input"
			[disabled]="disabled"
			[ngModel]="expressionTestString"
			(ngModelChange)="writeExpressionTestString($event)"
			[ngModelOptions]="{standalone: true}"
			igInput
			type="text"
			igSize="medium">
		<button
			class="validate-button" 
			[disabled]="disabled || !isValidRegexp || isEmptyRegexp || isEmptyTestString"
			(click)="validate()"
			igButton
			label="Validate">
		</button>

		<div class="validate-status">
			<ng-container [ngSwitch]="isValid">
				<ng-container *ngSwitchCase="true">
					<span class="pass">
						<i class="icon fa fa-check"></i>
						Pass
					</span>
				</ng-container>
				<ng-container *ngSwitchCase="false">
					<span class="fail">
						<i class="icon fa fa-remove"></i>
						Fail
					</span>
				</ng-container>
				<ng-container *ngSwitchCase="null"></ng-container>
			</ng-container>
		</div>
	</form> 
</div>
