<div class="ig-regexp-input {{(disabled ? 'disabled' : '')}}">
	<div class="input-with-validation">
		<div class="input-with-buttons">
			<input [ngModel]="value"
				[required]="required"
				[disabled]="disabled"
				(ngModelChange)="setValue($event)"
				igInput
				igSize="full">

			<button *ngIf="showSamples"
				igButton
				[disabled]="disabled"
				(click)="menu.toggle($event)"
				class="samples-button"
				pTooltip="Sample Regular Expression"
				tooltipPosition="left"
				tooltipStyleClass="ig-tooltip">
				<i class="pi pi-ellipsis-v"></i>
			
				<ig-popup-menu #menu
					[items]="examples"
					[tabIndex]="10"
					(onSelect)="setExample($event.value)">
				</ig-popup-menu>
			</button>
		</div>

		<div *ngIf="hasError"
			class="ig-text-required">
			{{validationMessage}}
		</div>
	</div>
	
	<ig-regexp-tester 
		*ngIf="showValueValidator"
		[regexp]="value"
		[isValidRegexp]="!hasError"
		[disabled]="disabled">
	</ig-regexp-tester>
</div>
