<div *ngIf="showEditor || showDelete && !isLoading" class="row">
    <div class="tile tile-detail">
        <d3s-asset-type-editor *ngIf="showEditor" [assetTypeClass]="assetTypeClass" [id]="selected?.AssetTypeID" [assetTypeUid]="selected?.uid" [useUid]="true"
                               [title]="(selected == null ? 'New' : 'Edit') + ' ' + ( assetTypeClass == AssetTypeClass.Model ? 'Model':'Policy') + ' Type'"
                               (onCancel)="closeEditor()"
                               (onComplete)="save($event)"></d3s-asset-type-editor>
        <d3s-delete-form *ngIf="showDelete"
                         [callback]="theDeleteCallback"
                         [itemId]="selected?.AssetTypeID"
                         [assetTypeUid]="selected?.uid" 
                         [useUid]="true"
                         [method]="'callback'"
                         [prompt]="'Are you sure you want to delete the ' + ( assetTypeClass == AssetTypeClass.Model ? 'model':'policy') +' [' + [selected?.Name] + ']?'"
                         (onCancel)="showDelete=false;"></d3s-delete-form>
    </div>
</div>
<div *ngIf="!showEditor && !showDelete" class="row">
    <div class="col l4 s12">
        <div class="tile tile-detail">
            <header *ngIf="!showEditor">
                {{this.tabTitle}}
                <d3s-tile-actions [hasAdd]="true" (addClick)="add()" [hasFilterMode]="true"
                                  [(filterMode)]="showSimpleFilter"></d3s-tile-actions>
            </header>
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <span *ngIf="!isLoading">
                <input type="text" [hidden]="!showSimpleFilter" pInputText size="100"
                       (input)="dt.filterGlobal($event.target.value, 'contains')"
                       placeholder="Search..." class="grid-simple-filter">
                <p-table #dt [value]="types" selectionMode="single" [metaKeySelection]="true"
                         [globalFilterFields]="['Name','MaximumDepth']" sortField="Name" [sortOrder]="1"
                         [pageLinks]="3" [paginator]="true" [rows]="10"
                         [(selection)]="selected" (onRowSelect)="selectedItemChange()">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'Name'">
                                Name
                                <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                            </th>
                            <th [pSortableColumn]="'MaximumDepth'" style="width: 100px">
                                Max Depth
                                <d3s-sortIcon [field]="'MaximumDepth'"></d3s-sortIcon>
                            </th>
                            <th style="width: 40px"></th>
                            <th style="width: 40px"></th>
                        </tr>
                        <tr [hidden]="showSimpleFilter">
                            <th>
                                <d3s-column-filter [field]="'Name'"
                                                   [datatype]="'text'"></d3s-column-filter>
                            </th>
                            <th>
                                <d3s-column-filter [field]="'MaximumDepth'"
                                                   [datatype]="'text'"></d3s-column-filter>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr (dblclick)="openEditor(item)" [pSelectableRow]="item">
                            <td>{{item.Name}}</td>
                            <td>{{item.MaximumDepth}}</td>
                            <td>
                                <div class="RowTools">
                                    <a style="cursor:pointer;"
                                       (click)="openEditor(item)">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="RowTools">
                                    <a style="cursor:pointer;"
                                       (click)="openDelete(item)">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                        <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows"
                                              [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                    </ng-template>
                </p-table>
            </span>
        </div>
    </div>
    <div class="col l8 s12" *ngIf="selected">
        <div class="tile tile-detail">
            <object-detail [objectType]="objectType" [objectID]="selectedItemID"></object-detail>
        </div>
        <div class="tile tile-detail">
            <d3s-field-definition-tile 
                                       [objectType]="objectType" 
                                       [objectID]="selectedItemID"
                                       [assetTypeUid]="selected?.uid"
                                       [objectName]="selectedRow?.data?.Name"
                                       [showAddToSearch]="true"
                                       ></d3s-field-definition-tile>
        </div>
        <div class="tile tile-detail">
            <d3s-admin-level-grid [objectType]="objectType" [maxDepth]="selected?.MaximumDepth" [objectId]="selectedItemID"></d3s-admin-level-grid>
        </div>
        <div class="tile tile-detail">
            <d3s-responsibility-relations queryType="A" [id]="selectedAssetTypeID" [showAddButton]="false"></d3s-responsibility-relations>
        </div>
        <div class="tile tile-detail">
            <d3s-admin-allocation [objectType]="objectType" [objectID]="selectedItemID"></d3s-admin-allocation>
        </div>
    </div>
</div>