<div class="scoring-v2">
    <div class="score-left-content right-padding-16 flex">
        <div class="card-box" [style.height.px]="panelHeight">
            <div class="row">
                <div class="col s12 no-padding">
                    <ng-container *ngTemplateOutlet="score_list_header"></ng-container>
                </div>
            </div>
            <d3s-loading [isLoading]="!isDataLoaded"></d3s-loading>
            <ng-container *ngIf="isDataLoaded">
                <div class="row">
                    <div class="col s12 no-padding">
                        <div class="score-data" *ngIf="!showEmptyMessage; else emptyMessage" [style.max-height.px]="scorePointsMaxHeight">
                            <ng-container *ngFor="let item of pointBreakdown">
                                <div class="score-item {{item._isSelected ? 'selected' : ''}}" (click)="selectScoreItem(item)">
                                    <div class="expander" *ngIf="!isExternallyCalculated">
                                        <ng-container *ngIf="item.Measures && item.Measures.length > 0">
                                            <i *ngIf="!item._isCollapsed" class="fa fa-chevron-circle-right" (click)="item._isCollapsed = !item._isCollapsed;saveState();"></i>
                                            <i *ngIf="item._isCollapsed" class="fa fa-chevron-circle-down" (click)="item._isCollapsed = !item._isCollapsed;saveState();"></i>
                                        </ng-container>
                                    </div>
                                    <div class="score-name">
                                        <span *ngIf="!item.Description" class="name">{{item.Name}}</span>
                                        <span *ngIf="item.Description" pTooltip="{{item.Description}}" tooltipPosition="top" tooltipStyleClass="ig-tooltip" class="name">{{item.Name}}</span>
                                        <div class="score-date">
                                            Effective
                                            {{item.EffectiveDate | utcDate | date:'shortDate'}} to
                                            <ng-container *ngIf="item.EndDate">
                                                {{item.EndDate | utcDate | date:'shortDate'}}
                                            </ng-container>
                                            <ng-container *ngIf="!item.EndDate">present</ng-container>
                                        </div>
                                    </div>
                                    <div *ngIf="!isExternallyCalculated" class="score-badges big-badges">
                                        <span pTooltip="{{getTooltipForScoreBadge(item)}}" tooltipPosition="top" tooltipStyleClass="ig-tooltip">
                                            <ig-badge [variant]="item._badgeStyle" [text]="getAsPrecentage(item.DisplayWeight)"></ig-badge>&nbsp;&nbsp;/&nbsp;&nbsp;
                                        </span>
                                        <span pTooltip="{{getTooltipForWeightBadge(item)}}" tooltipPosition="top" tooltipStyleClass="ig-tooltip">
                                            <ig-badge [variant]="'emphasis'" [text]="getAsPrecentage(item.DisplayMaxWeight)"></ig-badge>
                                        </span>
                                    </div>
                                    <div *ngIf="isExternallyCalculated" class="score-badges big-badges">
                                        <ig-badge [variant]="getAsExternalBadgeStyle(item)" [text]="getAsExternalBadgeText(item)"></ig-badge>
                                    </div>
                                </div>
                                <ng-container *ngIf="item._isCollapsed && item.Measures && item.Measures.length > 0">
                                    <ng-container *ngFor="let subItem of item.Measures">
                                        <div class="score-item {{subItem._isSelected ? 'selected' : ''}}" (click)="selectScoreItem(subItem)">
                                            <div class="expander"></div>
                                            <div class="expander"></div>
                                            <div class="score-name">
                                                <span *ngIf="!subItem.Description" class="name">{{subItem.Name}}</span>
                                                <span *ngIf="subItem.Description" pTooltip="{{subItem.Description}}" tooltipPosition="top" tooltipStyleClass="ig-tooltip" class="name">{{subItem.Name}}</span>
                                                <div class="score-date">
                                                    Effective
                                                    {{subItem.EffectiveDate | utcDate | date:'shortDate'}} to
                                                    <ng-container *ngIf="subItem.EndDate">
                                                        {{subItem.EndDate | utcDate | date:'shortDate'}}
                                                    </ng-container>
                                                    <ng-container *ngIf="!subItem.EndDate">present</ng-container>
                                                </div>
                                            </div>
                                            <div class="score-badges">
                                                <span pTooltip="{{'Measure Score = ' + getAsPrecentage(subItem.DisplayWeight)}}" tooltipPosition="top" tooltipStyleClass="ig-tooltip">
                                                    <ig-badge [variant]="subItem._badgeStyle" [text]="getAsPrecentage(subItem.DisplayWeight)"></ig-badge>&nbsp;&nbsp;/&nbsp;&nbsp;
                                                </span>
                                                <span pTooltip="{{'Maximum possible score for measure = measure weight = ' + getAsPrecentage(subItem.DisplayMaxWeight)}}" tooltipPosition="top" tooltipStyleClass="ig-tooltip">
                                                    <ig-badge [variant]="'emphasis'" [text]="getAsPrecentage(subItem.DisplayMaxWeight)"></ig-badge>
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>

                        <div *ngIf="!isExternallyCalculated" class="total-score-data">
                            <div class="score-badges big-badges">
                                <ig-badge [variant]="totalScoreBadgeStyle" [text]="getAsPrecentage(this.totalScore, false)"></ig-badge>&nbsp;&nbsp;/&nbsp;&nbsp;
                                <ig-badge [variant]="'emphasis'" [text]="getAsPrecentage(1)"></ig-badge>
                            </div>
                        </div>

                        <ng-template #emptyMessage>
                            <div class="scorecards-container">
                                <div class="scorecard-item empty">
                                    This score was calculated and sent in from an external source. No measures have been defined.
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="score-right-content">
        <div class="card-box" [style.height.px]="panelHeight">
            <div class="button-group show-multiple">
                <button igButton label="History" class="ig-button {{(activeTab=='History' ? 'ig-state-active' : '')}}" (click)="activeTab='History'"></button>
                <button *ngIf="!isExternallyCalculated" igButton label="Calculation" class="ig-button {{(activeTab=='Calculation' ? 'ig-state-active' : '')}}" (click)="activeTab='Calculation'"></button>
                <button igButton label="Definition" class="ig-button {{(activeTab=='Definition' ? 'ig-state-active' : '')}}" (click)="activeTab='Definition'"></button>
            </div>
            <div [hidden]="!(activeTab=='History')" [style.height.px]="sidePanelHeight" class="panel-container">
                <score-history #scoreHistory
                                [selectedPoint]="selectedPoint"
                                [assetUid]="uid"
                                [scoreType]="selectedScoreType"
                                [scoreDate]="scoreDate"
                                [isExternallyCalculated]="isExternallyCalculated"
                                (datePointChanged)="dateChanged($event)"
                                (measurePointsChanged)="measurePoints=$event"></score-history>
            </div>
            <div [hidden]="!(activeTab=='Calculation')" [style.height.px]="sidePanelHeight" class="panel-container">
                <score-calculation 
                                   [scoreType]="selectedScoreType" 
                                   [formattedCheck]="defTab.getPassCheckValue()" 
                                   [selected]="selectedPoint" 
                                   [measures]="pointBreakdown" 
                                   [fields]="fields"
                                   [assetTypeName]="assetTypeName" 
                                   [assetName]="assetName"
                                   [definition]="selectedMetric?.Definition">
                </score-calculation>
            </div>
            <div [hidden]="!(activeTab=='Definition')" [style.height.px]="sidePanelHeight" class="panel-container">
                <score-definition #defTab 
                                  [isExternallyCalculated]="isExternallyCalculated" 
                                  [selectedMetric]="selectedMetric" 
                                  [assetTypeUid]="assetTypeUid" 
                                  [allocationUid]="allocationUid">
                </score-definition>
            </div>
        </div>
    </div>
</div>

<ng-template #score_list_header>
    <div class="score-header">
        <div class="button-group {{(hasAnyScoreType(ScoreType.Governance) && hasAnyScoreType(ScoreType.DataQuality) ? 'show-multiple':'')}}">
            <div class="width-300">
                <button igButton *ngIf="hasAnyScoreType(ScoreType.Governance)" [ngClass]="{'ig-state-active': showGovernanceScores}" (click)="setSelectedButton(ScoreType.Governance);" label="Governance Score"></button>
                <button igButton *ngIf="hasAnyScoreType(ScoreType.DataQuality)" [ngClass]="{'ig-state-active': showDQScores}" (click)="setSelectedButton(ScoreType.DataQuality);" label="Data Quality Score"></button>
            </div>
        </div>

        <div class="score-header-actions">
            <p-dropdown igDropdown
                        igSize="medium"
                        [styleClass]="dropdownClassName"
                        required
                        [(ngModel)]="scoresPointSelected"
                        [options]="scoresPointsDDL"
                        (onChange)="onScorePointChange($event)">
                <ng-template let-score pTemplate="selectedItem">
                    {{score.value.EffectiveDate | utcDate | date:'shortDate'}} to
                    <ng-container *ngIf="score.value.EndDate">
                        {{score.value.EndDate | utcDate | date:'shortDate'}}
                    </ng-container>
                    <ng-container *ngIf="!score.value.EndDate">present</ng-container>
                </ng-template>
                <ng-template let-score pTemplate="item">
                    <div class="inline-item date">
                        {{score.value.EffectiveDate | utcDate | date:'shortDate'}}
                    </div>
                    <div *ngIf="scoresPointsShowMeasure && getMeasurePoint(score.value.EffectiveDate)" class="inline-item score measure-score">
                        <ng-container [ngSwitch]="getMeasurePoint(score.value.EffectiveDate).ScoreProgression">
                            <div *ngSwitchCase="1">
                                <i class="fa fa-caret-up arrow-up"></i><span class="value-text">{{getMeasurePoint(score.value.EffectiveDate).Score}}%</span>
                            </div>
                            <div *ngSwitchCase="-1">
                                <i class="fa fa-caret-down arrow-down"></i><span class="value-text">{{getMeasurePoint(score.value.EffectiveDate).Score}}%</span>
                            </div>
                            <div *ngSwitchCase="0">
                                <i class="fa fa-square square"></i><span class="value-text">{{getMeasurePoint(score.value.EffectiveDate).Score}}%</span>
                            </div>
                            <span *ngSwitchDefault class="value-text">
                                {{getMeasurePoint(score.value.EffectiveDate).Score}}%
                            </span>
                        </ng-container>
                    </div>
                    <div *ngIf="scoresPointsShowMeasure && !getMeasurePoint(score.value.EffectiveDate)" class="inline-item score measure-score">
                        ---
                    </div>
                    <div class="inline-item score">
                        <ng-container [ngSwitch]="score.value.ScoreProgression">
                            <div *ngSwitchCase="1">
                                <i class="fa fa-caret-up arrow-up"></i><span class="value-text">{{score.value.Score}}%</span>
                            </div>
                            <div *ngSwitchCase="-1">
                                <i class="fa fa-caret-down arrow-down"></i><span class="value-text">{{score.value.Score}}%</span>
                            </div>
                            <div *ngSwitchCase="0"  pTooltip="Although the final score remains unchanged, the scores of individual measures have changed, which may be worth investigating."
                                     tooltipPosition="top"
                                     tooltipStyleClass="ig-tooltip">
                                <i class="fa fa-square square"></i><span class="value-text">{{score.value.Score}}%</span>
                            </div>
                            <span *ngSwitchDefault class="value-text">
                                {{score.value.Score}}%
                            </span>
                        </ng-container>
                    </div>
                </ng-template>
            </p-dropdown>

            <ng-container *ngIf="!showEmptyMessage && showExpandAndCollapse">
                <div class="popup-menu-holder">
                    <ig-popup-menu #menu [items]="headerMenu"></ig-popup-menu>
                    <button type="button" igButton icon="fa-ellipsis-v" (click)="menu.toggle($event)"></button>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>