<header>
    <ng-container i18n>Items {{group?.Name}} Owns</ng-container>
    <d3s-tile-actions [hasExport]="false" [hasFilterMode]="true" [filterMode]="showFilter"
                      (filterModeChange)="showFilter = !showFilter"></d3s-tile-actions>
</header>
<div *ngIf="!isLoading" class="row">
    <div class="col l3 s12 relationship-container"><!--left nav-->
        <div class="row relationship" *ngFor="let r of items; let i = index"
             [ngClass]="{'active' : isSelected(r)}" (click)="select(r)">
            <div class="col s10 name" [title]="r.Type | technicalNameToDisplayValue">{{r.TypeName}}</div>
            <div class="col s2 count center"
                 [ngClass]="{'empty-count': r.Count == 0, 'count': r.Count != 0}">{{r.Count}}</div>
        </div>
    </div>
    <div class="col l9 s12">
        <d3s-resource-responsibility-grid-component [simpleFilter]="showFilter" *ngIf="selected != null"
                                                    [Id]="group?.ID" [type]="'groups'"
                                                    [objectType]="selected.Type"
                                                    [objectId]="selected.TypeID"></d3s-resource-responsibility-grid-component>
    </div>
</div>