@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";

ig-multi-input-field {
  .ig-multi-input-field {
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 32px;
    border-radius: 4px;
    max-width: 100%;
    width: 308px;
    position: relative;

    .placeholder-text {
      display: none;
      color: @ig-grey;
      height: 30px;
      line-height: 30px;
      left: 8px;
      pointer-events: none;
    }

    &.disabled {
      color: unset;
      opacity: 0.33;
      pointer-events: none;

      input {
        display: none;
      }
    }

    &.no-value {
      .placeholder-text {
        display: block;
        position: absolute;
        top: 0;
        left: 8px;
      }

      &.required {
        background-color: @ig-lightblue-t4;
      }
    }

    &.in-focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 @ig-focus-width @ig-midblue-t3;
      border-color: @ig-field-border-color;
    }

    .inner-container {
      cursor: text;

      input {
        border: 0;
        outline: 0;
        background: none;
        padding: 6px 0 0 8px;
        max-width: calc(100% - 8px);
      }
    }

    &.has-tooltip {
      .inner-container {
        display: inline-block;
        width: calc(100% - 28px);
      }

      .multi-field-tooltip {
        width: 28px;
        display: inline-block;
        color: #006fc0;
        position: absolute;
        top: 0;
        height: 32px;
        line-height: 32px;
        text-align: center;
      }
    }

    .chips {
      .chip {
        display: inline-flex;
        background-color: @ig-grey-t5;
        height: 24px;
        line-height: 24px;
        padding: 0 8px;
        border-radius: 4px;
        margin: 3px 0 0 3px;
        max-width: calc(100% - 8px);
        cursor: default;

        .name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
        }

        .remove-chip {
          margin-left: 8px;
          line-height: 24px;
          cursor: pointer;
        }
      }
    }

    &.ig-input-small {
      width: @ig-field-width-small !important;
    }

    &.ig-input-medium {
      width: @ig-field-width-medium !important;
    }

    &.ig-input-large {
      width: @ig-field-width-large !important;
    }


    &.ig-input-full {
      width: @ig-field-width-full !important;
    }
  }

  &.ng-invalid {
    .ig-multi-input-field {
      background-color: @ig-red-t5;
    }
  }
}
