<div class="{{getElementClass()}}" (click)="onControlClick($event)">
    <div class="placeholder-text">
        {{placeholderText}}
    </div>
    <div class="inner-container">
        <div class="chips">
            <div class="chip" *ngFor="let item of chips">
                <span class="name">{{item}}</span>
                <i class="remove-chip fa fa-times-circle" (click)="removeChip(item)"></i>
            </div>
            <input tabindex="tabindex"
                   type="text"
                   size="{{getInputBoxSize()}}"
                   [(ngModel)]="currentText"
                   (keypress)="onKeyPress($event)"
                   (focus)="hasFocus(true)"
                   (focusout)="hasFocus(false)" />
        </div>
    </div>
    <div *ngIf="infoTooltip"
         class="multi-field-tooltip"
         pTooltip="{{infoTooltip}}"
         [escape]="false"
         tooltipPosition="top"
         tooltipStyleClass="ig-tooltip">
        <i class="fa fa-info-circle"></i>
    </div>
</div>