<div *ngIf="objectType && objectID">
    <div>
        <header>
            {{title}}            
            <d3s-tile-actions *ngIf="!isEditing && !isDeleting" [hasAdd]="showAddButton" (addClick)="add()" [hasFilterMode]="true" [(filterMode)]="showSimpleFilter"></d3s-tile-actions>                            
        </header>
    </div>    
    <div *ngIf="isEditing">
        <d3s-field-type-form [id]="selectedRow != null? selectedRow.ID : 0" [objectType]="objectType" [objectID]="objectID" (onCancel)="isEditing = false; onCancel.emit()" (onComplete)="editComplete($event)"></d3s-field-type-form>
    </div>    
    <d3s-delete-form *ngIf="isDeleting"
                     [callback]="theDeleteCallback"
                     [itemId]="selectedRow?.ID"
                     [method]="'callback'"
                     [prompt]="'Are you sure you want to delete the field type [' + [selectedRow?.Name] + ']?'"
                     (onCancel)="isDeleting=false; onCancel.emit();"></d3s-delete-form>            
    <div *ngIf="!isEditing && !isDeleting">
        <div *ngIf="!isLoading && !hasKeyFields && (objectType == 'ArtifactType' || objectType == 'TaxonomyType' || objectType == 'PolicyType' || objectType == 'RuleType' || objectType == 'LookupType')" class="error">Warning: No key fields are defined. Please consider adding one or more key fields to uniquely identify your data.</div>
        <input [hidden]="!showSimpleFilter" #gb type="text" pInputText size="100" placeholder="Search..." class="grid-simple-filter">                                                             
        <p-dataTable #dt [globalFilter]="gb" [value]="fieldDefinitions" [loading]="isLoading" loadingIcon="fa-spinner" selectionMode="single" [(selection)]="selectedRow" (onRowDblclick)="isEditing=showEditButton;" scrollable="true"  scrollHeight="200px">
            <p-footer *ngIf="dt.totalRecords"><d3s-grid-paging-info [totalRecords]="dt.totalRecords" [first]="dt.first" [rows]="dt.rows"></d3s-grid-paging-info></p-footer>
            <p-column field="FriendlyName" header="Field" sortable="true" [style]="{ 'width': '20%' }" [filter]="!showSimpleFilter"></p-column>
            <p-column field="Type" header="Type" sortable="true" [style]="{ 'width': '15%' }" [filter]="!showSimpleFilter"></p-column>
            <p-column field="Category" header="Category" sortable="true" [style]="{ 'width': '15%' }" [filter]="!showSimpleFilter"></p-column>
            <p-column field="IsRequired" header="Required?" sortable="true" [style]="{ 'width': '12%' }">
                <ng-template let-item="rowData" pTemplate type="body">                    
                    <span><i *ngIf="item.IsRequired" class="fa fa-check enabled" title="True"></i></span>
                    <span><i *ngIf="!item.IsRequired" class="fa fa-times disabled" title="False"></i></span>
                </ng-template>
            </p-column>
            <p-column field="IsListable" header="Listable?" sortable="true" [style]="{ 'width': '12%' }">
                <ng-template let-item="rowData" pTemplate type="body">                    
                    <span><i *ngIf="item.IsListable" class="fa fa-check enabled" title="True"></i></span>
                    <span><i *ngIf="!item.IsListable" class="fa fa-times disabled" title="False"></i></span>
                </ng-template>
            </p-column>
            <p-column field="IsPartOfKey" header="Key?" sortable="true" [style]="{ 'width': '12%' }">
                <ng-template let-item="rowData" pTemplate type="body">
                    <span><i *ngIf="item.IsPartOfKey" class="fa fa-check enabled" title="True"></i></span>
                    <span><i *ngIf="!item.IsPartOfKey" class="fa fa-times disabled" title="False"></i></span>
                </ng-template>
            </p-column>
            <p-column field="SortOrder" header="Sort" sortable="true" [style]="{ 'width': '12%' }" [filter]="!showSimpleFilter"></p-column>
            <p-column field="ColumnWidth" header="Width" sortable="true" [style]="{ 'width': '12%' }" [filter]="!showSimpleFilter"></p-column>
            <p-column [style]="{ 'width': '30px' }">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="moveUp(item)" style="cursor:pointer;"><i class="fa fa-caret-up"></i></a>    
                    </div>
                </ng-template>
            </p-column>
            <p-column [style]="{ 'width': '30px' }">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="moveDown(item)" style="cursor:pointer;"><i class="fa fa-caret-down"></i></a>
                    </div>
                </ng-template>
            </p-column>
            <p-column [style]="{ 'width': '30px' }" *ngIf="showEditButton">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="edit(item.ID)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>                        
                    </div>
                </ng-template>
            </p-column>
            <p-column [style]="{ 'width': '30px' }" *ngIf="showDeleteButton">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">                        
                        <a (click)="delete(item.ID)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>