<as-split [gutterSize]="sidePanelService.draggableAreaWidth"
		  [class.side-panel-close]="!sidePanelOpen"
		  (dragEnd)="onSidePanelDragEnd(sidePanelStorageKey, $event)"
		  unit="pixel"
		  direction="horizontal"
		  class="col s12 split"
		  style="display: flex">
	<as-split-area class="tile tile-detail main-panel field-type-grid">
		<ng-template *ngIf="!isEditing && !isDeleting" [ngTemplateOutlet]="fieldGridTemplate"></ng-template>

		<div *ngIf="isEditing">
			<d3s-field-type-form [name]="selectedRow != null? selectedRow.Name : ''"
								 [actionTypeUid]="actionTypeUid"
								 [assetTypeUid]="assetTypeUid"
								 [relationshipTypeUid]="relationshipTypeUid"
								 [objectType]="objectType"
								 [objectID]="objectID"
								 [objectName]="objectName"
								 [showIsListable]="showIsListable"
								 [showIsPartOfKey]="showIsPartOfKey"
								 [showPersistInFilters]="showPersistInFilters"
								 [showAddToSearch]="showAddToSearch"
								 [showShowInDetailTile]="showShowInDetailTile"
								 [showDisplayInColumn]="showDisplayInColumn"
								 [supportsPrimaryFilterOption]="supportsPrimaryFilterOption"
								 [allowSingleSegmentPath]="allowSingleSegmentPath"
								 [fields]="fieldDefinitions"
								 (onCancel)="cancel()"
								 (onComplete)="editComplete($event)"></d3s-field-type-form>
		</div>

		<d3s-delete-form *ngIf="isDeleting"
						 [callback]="theDeleteCallback"
						 [itemId]="selectedRow?.Name"
						 [method]="'callback'"
						 i18n-prompt
						 prompt="Are you sure you want to delete the field type [{{selectedRow?.Name}}]?"
						 (onCancel)="isDeleting=false; onCancel.emit();"></d3s-delete-form>

	</as-split-area>
	<as-split-area [size]="getSidePanelWidth()"
				   [minSize]="getSidePanelMinWidth()"
				   [maxSize]="getSidePanelMaxWidth()"
				   class="tile tile-detail side-panel">
		<side-panel [selectedItem]="selectedItem || selectedRow"
					[setMinMaxWidth]="false"
					[storageKey]="sidePanelStorageKey"
					[expanded]="true"
					[showEmptyOverlay]="!selectedItem && !selectedRow"
					(expandedChange)="sidePanelOpen=$event"
					hasDetail="true">
			<ng-container *ngIf="sidePanelOpen">
				<ng-container *ngIf="selectedItem">
					here is field data
				</ng-container>
				<ng-container *ngIf="selectedRow">
					<d3s-field-type-details [fieldType]="selectedRow"></d3s-field-type-details>
				</ng-container>
			</ng-container>
		</side-panel>
	</as-split-area>
</as-split>


<ng-template #fieldGridTemplate>
	<div class="grid-actions-header column-layout">
		<div class="grid-actions-header-row">
			<div class="simple-search">
				<ig-search-field mode="Keypress"
								 (onSearch)="dt.filterGlobal($event, 'contains')"
								 [infoTooltip]="isContainsSearchDefault ? null : simpleSearchTooltipHTML">
				</ig-search-field>
			</div>
			<div class="grid-action-buttons">
				<button igButton
						[attr.data-cy]="'FieldType_Add'"
						pTooltip="Create new Field Type"
						i18n-pTooltip
						tooltipPosition="top"
						tooltipStyleClass="ig-tooltip"
						class="ig-button-primary"
						(click)="add()"
						icon="fa-plus"
						[igDataCy]="'FieldType_Add'">
				</button>
			</div>
		</div>
		<div class="grid-actions-header-row">
			<advanced-filtering *ngIf="!isLoading"
								[loadIdentifier]="'FieldType'"
								[fieldsObserver]="filterFieldList$"
								(onChange)="advancedFiltersChanged($event)">
			</advanced-filtering>
		</div>
	</div>
	<div class="table-wrapper">
		<div *ngIf="!isLoading && !hasKeyFields && CheckObjectType()" class="error" i18n>Warning: No key fields are defined. Please consider adding one or more key fields to uniquely identify your data.</div>
		<p-table #dt
				 class="p-datatable-fielddefinition"
				 [value]="fieldDisplayModel"
				 selectionMode="single"
				 [loading]="isLoading"
				 loadingIcon="fa fa-spinner"
				 [metaKeySelection]="true"
				 [globalFilterFields]="['FriendlyName','FieldType','Category','IsListable','IsRequired','IsPartOfKey','SortOrder','DisplayInColumn']"
				 [(selection)]="selectedRow"
				 [reorderableColumns]="true"
				 (onRowReorder)="onRowReorder($event)"
				 responsiveLayout="scroll">
			<ng-template pTemplate="header">
				<tr>
					<th class="reorder-cell"></th>

					<th [style.min-width.px]="200" [pSortableColumn]="'FriendlyName'">
						<ng-container i18n>Field Name</ng-container>
						<d3s-sortIcon [field]="'FriendlyName'"></d3s-sortIcon>
					</th>
					<th [style.min-width.px]="200" [pSortableColumn]="'FieldType'">
						<ng-container i18n>Type</ng-container>
					</th>
					<th [style.min-width.px]="columnWidthMinSize" [pSortableColumn]="'Category'">
						<ng-container i18n>Category</ng-container>
						<d3s-sortIcon [field]="'Category'"></d3s-sortIcon>
					</th>
					<th [style.min-width.px]="columnWidthMinSize" [pSortableColumn]="'IsPartOfKey'">
						<ng-container i18n>Key Field</ng-container>
						<d3s-sortIcon [field]="'IsPartOfKey'"></d3s-sortIcon>
					</th>
					<th [style.min-width.px]="columnWidthMinSize" [pSortableColumn]="'IsRequired'">
						<ng-container i18n>Required</ng-container>
						<d3s-sortIcon [field]="'IsRequired'"></d3s-sortIcon>
					</th>
					<th [style.min-width.px]="columnWidthMinSize" [pSortableColumn]="'DisplayInColumn'">
						<ng-container i18n>Display in Column</ng-container>
						<d3s-sortIcon [field]="'DisplayInColumn'"></d3s-sortIcon>
					</th>
					<th [style.min-width.px]="columnWidthMinSize" [pSortableColumn]="'ShowIfEmpty'">
						<ng-container i18n>Show if Empty</ng-container>
						<d3s-sortIcon [field]="'ShowIfEmpty'"></d3s-sortIcon>
					</th>
					<th [style.min-width.px]="columnWidthMinSize" [pSortableColumn]="'IsListable'" *ngIf="showIsListable">
						<ng-container i18n>Listable</ng-container>
						<d3s-sortIcon [field]="'IsListable'"></d3s-sortIcon>
					</th>
					<th [style.min-width.px]="columnWidthMinSize" [pSortableColumn]="'SortOrder'">
						<ng-container i18n>Sort Order</ng-container>
						<d3s-sortIcon [field]="'SortOrder'"></d3s-sortIcon>
					</th>
					<th [style.min-width.px]="columnWidthMinSize" [pSortableColumn]="'SortByAscending'">
						<ng-container i18n>Sort by</ng-container>
						<d3s-sortIcon [field]="'SortByAscending'"></d3s-sortIcon>
					</th>
					<th></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-item let-index="rowIndex">
				<tr (dblclick)="isEditing=showEditButton;"
					(ondragenter)="dragEnter()"
					(contextmenu)="positionContextMenu($event, floatButton, floatMenu, assetGridTools); selectedRow = item;"
					style="word-wrap: break-word; position:relative;"
					[pSelectableRow]="item">
					<td [pReorderableRow]="index" class="reorder-cell">
						<span class="reorder-icon" [pReorderableRowHandle]="rowIndex"></span>
					</td>
					<td>{{item.FriendlyName}} ({{item.FieldTypeValue}})</td>
					<td>{{item.FieldType}}</td>
					<td>{{item.Category}}</td>
					<td>
						<ng-container *ngIf="hasPartOfKey(item); else noValue"
									  [ngTemplateOutlet]="booleanFieldTemplate"
									  [ngTemplateOutletContext]="{value:item.IsPartOfKey}">
						</ng-container>
						<ng-template #noValue>
							---
						</ng-template>
					</td>
					<td>
						<ng-container *ngIf="hasRequired(item); else noValue"
									  [ngTemplateOutlet]="booleanFieldTemplate"
									  [ngTemplateOutletContext]="{value:item.IsRequired}">
						</ng-container>
						<ng-template #noValue>
							---
						</ng-template>
					</td>
					<td>
						<ng-container *ngIf="hasDisplayInColumn(item); else noValue"
									  [ngTemplateOutlet]="booleanFieldTemplate"
									  [ngTemplateOutletContext]="{value:item.DisplayInColumn}">
						</ng-container>
						<ng-template #noValue>
							---
						</ng-template>
					</td>
					<td>
						<ng-container *ngIf="hasShowIfEmpty(item); else noValue"
									  [ngTemplateOutlet]="booleanFieldTemplate"
									  [ngTemplateOutletContext]="{value:item.ShowIfEmpty}">
						</ng-container>
						<ng-template #noValue>
							---
						</ng-template>
					</td>
					<td>
						<ng-container *ngIf="hasIsListable(item); else noValue"
									  [ngTemplateOutlet]="booleanFieldTemplate"
									  [ngTemplateOutletContext]="{value:item.IsListable}">
						</ng-container>
						<ng-template #noValue>
							---
						</ng-template>
					</td>
					<td><ng-container *ngIf="item.IsListable">{{item.SortOrder ?? '---'}}</ng-container></td>
					<td><ng-container *ngIf="item.IsListable">{{item.SortByAscending ? ascendingLabel : descendingLabel}}</ng-container></td>
					<td class="grid-tools-column" #assetGridTools>
						<div [style.left]="tableWidth" class="token-popup-menu" *ngIf="item.MenuItems">
							<button igButton class="ig-button-fill-span" type="button" icon="fa-ellipsis-v" (click)="$event.stopPropagation();tokenMenu.toggle($event);"></button>
							<ig-popup-menu [items]="item.MenuItems"
										   (onSelect)="onMenuItemSelect(item,$event)"
										   #tokenMenu
										   [tabIndex]="1"></ig-popup-menu>
						</div>
					</td>
					<td style="width:0;">
						<button class="ig-float-popup-container" #floatButton>
							<ig-popup-menu [items]="item.MenuItems" (onSelect)="onMenuItemSelect(item,$event)" #floatMenu [tabIndex]="1"></ig-popup-menu>
						</button>
					</td>

				</tr>
			</ng-template>
		</p-table>
	</div>
</ng-template>


<ng-template #booleanFieldTemplate let-value='value' let-field='field'>
	<div class="ig-value">
		<ng-container *ngIf="value; else falseTemplate">
			<i class="fa fa-check-circle enabled ig-bool" title="True"></i>
			<ng-container i18n>True</ng-container>
		</ng-container>
		<ng-template #falseTemplate>
			<i class="fa fa-times-circle disabled ig-bool" title="False"></i>
			<ng-container i18n>False</ng-container>
		</ng-template>
	</div>
</ng-template>