
<div class="generic-asset-search">
    <div class="search-box">
        <div class="selection">
            <ng-container *ngIf="multiSelect">
                <div class="selected-item" *ngFor="let item of results;let i = index;">
                    <div class="segment" *ngFor="let segment of item.Segments;">
                        <span class="value">{{segment.Value}}</span>
                        <i *ngIf="item.Segments.indexOf(segment) != item.Segments.length-1" class="arrow-right fa fa-chevron-right"></i>
                    </div>
                    <i (click)="unselect(i)" class="unselect fa fa-times-circle" aria-hidden="true"></i>
                    <div style="display:block;width:100%;"></div>
                </div>
                <button *ngIf="multiSelect" type="button" class="add-source-button" (click)="openSearchWindow();">Add source</button>
            </ng-container>

            <ng-container *ngIf="!multiSelect">
                <div class="single-asset-selector" (click)="openSearchWindow();">
                    <ng-container *ngIf="results[0]">
                        <div class="single-selected-item">
                            <div class="segment" *ngFor="let segment of results[0].Segments;">
                                <span class="value">{{segment.Value}}</span>
                                <i *ngIf="results[0].Segments.indexOf(segment) != results[0].Segments.length-1" class="arrow-right fa fa-chevron-right"></i>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!results[0]">
                        <span class="text">Choose or create a transformation...</span>
                    </ng-container>
                    <i class="fa fa-caret-down"></i>
                </div>
            </ng-container>

            <div *ngIf="isSearchWindowOpened" class="search-results">
                <input (keyup)="search($event)" />
                <!--<p-autoComplete #autocomplete
                    [suggestions]="searchresults"
                    (completeMethod)="search($event)"
                    [placeholder]="'Type to search for assets'"
                    [minLength]="1"
                    (onSelect)="onSelect($event)"
                    (onFocus)="autocomplete.show()"
                    (onClear)="handleDropdownClick()">
    </p-autoComplete>-->

                <span class="search-button">
                    <i class="fa fa-search"></i>
                </span>
                <ul class="search-result-box">
                    <ng-container *ngFor="let item of searchresults;let i = index">
                        <li (click)="onSelect(i);" class="result-item {{currentSearchNavigationIndex == i ? 'selected' : ''}}">
                            <div *ngFor="let segment of item.Segments;" class="segment">
                                <span class="value">{{segment.Value}}</span>
                                <i *ngIf="item.Segments.indexOf(segment) != item.Segments.length-1" class="arrow-right fa fa-chevron-right"></i>
                            </div>
                        </li>
                    </ng-container>
                </ul>

                <ng-container *ngIf="searchResultsCount/pageSize > 1">
                    <p-paginator [rows]="pageSize" [totalRecords]="searchResultsCount" (onPageChange)="paginate($event)"></p-paginator>
                </ng-container>
                <div class="no-results" *ngIf="searchResultsCount == 0">
                    No assets by this search
                </div>
                <div *ngIf="multiSelect && showSelectFullpathLink && searchresults.length > 0" class="full-path-toggle" (click)="toggleFullPaths(autocomplete)">
                    <span>
                        {{isFullPathVisible ? 'Hide full paths' : 'Show full paths'}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>