<div #item class="{{additionalCssClasses}} header-search" (keyup)="checkKey($event,ac)">
    <div class="header-search-input">
        <p-autoComplete #ac size="300"
                        styleClass="global-search-typeahead"
                        scrollHeight="400px"
                        [(ngModel)]="result"
                        [suggestions]="results"
                        field="Name"
                        (completeMethod)="search($event)"
                        [placeholder]="autocompletePlaceholder"
                        [minLength]="1"
                        maxlength="255"
                        (onBlur)="clearValue()"
                        (onClear)="clearValue()"
                        (onSelect)="selectItem(ac)"
                        (onKeyUp)="syncSearchText($event)">
            <ng-template let-result pTemplate="item">
                <div>
                    <div *ngIf="result?.Type == endSearchAllTypeToken;else suggestion" class="search-typeahead-suggestion">
                        <div class="card-row search-all-row">
                            <div class="search-all-res"><i class="folder-icon searchall fa fa-search"></i><span class="displayname">Show All Results</span></div>
                            <span class="right-text">Hit <strong>Enter</strong> to see all matches</span>
                        </div>
                    </div>
                    <ng-template #suggestion>
                        <div class="search-typeahead-suggestion">
                            <div class="card-row top-row">
                                <i *ngIf="result?.Icon" class="folder-icon fa {{result.Icon}}"></i>
                                <span *ngIf="result?.ImageUrl" class="folder-icon">
                                    <img [src]="result.ImageUrl" />
                                </span>
                                <span class="displayname">{{result.DisplayName}}</span>
                            </div>
                            <div class="card-row description-row">
                                <span class="category">
                                    {{result?.Group}}<span *ngIf="showType(result)"><i class="fa fa-angle-right"></i><span [innerHtml]="result?.Type"></span></span>
                                </span>
                            </div>
                            <div class="card-row description-row" *ngIf="result?.AssetPath">
                                <div class="asset-path">
                                    <asset-path-widget [path]="result.AssetPath"></asset-path-widget>
                                </div>
                            </div>
                            <div class="card-row tags-row">
                                <span *ngIf="result?.Tags" class="tag-list-container">
                                    <button *ngFor="let tag of result?.Tags" class="button search-tag" (click)="navigateToTag(tag, $event, ac)">
                                        <span class="tag-item-wrapper" [innerHtml]="tag.Value"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </p-autoComplete>
        <span class="search-button {{showBigButton ? 'big' : ''}}" (click)="openSearch()">
            <i class="fa" [ngClass]="{ 'fa-search': !isSearchInProgress, 'fa-spinner fa-spin':isSearchInProgress }"></i>
        </span>
    </div>
</div>
