
<div class="d3s-checkbox">
    <div class="label">{{label}}</div>
    <div #switch tabindex="0" class="switch {{value == true ? 'checked' : ''}}">
        <button tabindex="-1" (click)="tryChangeValue(true)" class="check">Yes</button>
        <button tabindex="-1" (click)="tryChangeValue(false)" class="uncheck">No</button>
    </div>

    <d3s-modal [title]="confirmTitle" additionalClasses="medium-width" (onClose)="cancel()" [isVisible]="isModalVisible">
        <div class="content">
            <div class="row" [innerHtml]="confirmText"></div>
        </div>
        <div class="action-bar">
            <button class="button" (click)="cancel()" [disabled]="isLoading">Cancel</button>
            <span class="grow"></span>
            <button class="button primary {{changeInProgress ? 'loading' : ''}}" (click)="confirm()" [disabled]="isLoading">{{confirmButton}}
                <span class="loader"><span class="spinner light"></span></span></button>
        </div>

    </d3s-modal>

</div>
