<d3s-asset-type-list-header [assetTypeClass]="assetTypeClass"></d3s-asset-type-list-header>
<d3s-configuration-asset-type-list-tabs [assetTypeClass]="assetTypeClass"></d3s-configuration-asset-type-list-tabs>
<div class="row governance-role-detail">
	<div class="col s12">
		<div class="tile tile-detail">
			<d3s-loading [isLoading]="isLoading"></d3s-loading>
			<form #form="ngForm" *ngIf="!isLoading">
				<div class="row">
					<ig-message-box>
						<span i18n>
							Select the reference list which holds the valid values for the "Governance Role" field in your diagrams from the dropdown below. If you change the Governance Role Reference List, the selected list will be used on all new Diagram Asset types. Existing Diagram Asset types will not be changed.
						</span>
					</ig-message-box>
					<div class="col s12">
						<div class="FieldName" i18n>Governance Role Reference List</div>
						<d3s-loading [isLoading]="isSaving"></d3s-loading>
						<p-dropdown *ngIf="!isSaving" igDropdown
									igSize="medium"
									panelStyleClass="dropdown-govrole-correction"
									name="refListDDL"
									[(ngModel)]="model.RefListUid"
									[options]="refListDDL"
									styleClass="filter-dropdown"
									required
									[showClear]="true"
									[overlayLowerZIndex]="true"
									(onChange)="onChange($event)">
						</p-dropdown>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
