<div class="grid-actions-header column-layout">
	<div class="grid-actions-header-row">
		<div class="simple-search">
			<ig-search-field mode="Keypress"
							 [debounce]="600"
							 (onSearch)="subjectLoadGrid.next('onSearch');"
							 [(ngModel)]="simpleSearchText"
							 [infoTooltip]="isContainsSearchDefault ? null : simpleSearchTooltipHTML">
			</ig-search-field>
		</div>
	</div>
	<div class="grid-actions-header-row">
		<advanced-filtering #advancedFilter
							[loadIdentifier]="'DataCatalog'"
							[fieldsObserver]="filterFields$"
							(onChange)="advancedFiltersChanged($event)"></advanced-filtering>
	</div>
</div>
<div class="grid-wrapper">

	<p-table #dt [value]="data"
			 [selection]="selected"
			 (selectionChange)="selectRow($event)"
			 selectionMode="single"
			 [metaKeySelection]="true"
			 [loading]="isLoading"
			 [loadingIcon]="'fa fa-spinner fa-spin'"
			 [pageLinks]="3"
			 [paginator]="true"
			 paginatorDropdownAppendTo="body"
			 [rows]="rowsPerPage"
			 [rowsPerPageOptions]="defaultPagingOptions"
			 [lazy]="true"
			 (sortFunction)="subjectLoadGrid.next('sortFunction');"
			 [customSort]="true"
			 (onLazyLoad)="subjectLoadGrid.next('onLazyLoad');"
			 [totalRecords]="totalRecords"
			 (onPage)="numberOfRowsByCategoryService.onPage($event)">
		<ng-template pTemplate="header">
			<tr>
				<th *ngFor="let col of columns" [pSortableColumn]="col.apiProperty">
					<ng-container>{{col.columnName}}</ng-container>
					<d3s-sortIcon [field]="col.apiProperty"></d3s-sortIcon>
				</th>
				<th style="width:30px"></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-item>
			<tr style="position:relative;"
				[pSelectableRow]="item"
				(contextmenu)="positionContextMenu($event, floatButton, floatMenu, assetGridTools); selected=item;">
				<td *ngFor="let col of columns">
					<span *ngIf="col.apiProperty !== 'DisplayValue'">{{item[col.apiProperty] ?? '---'}}</span>
					<a *ngIf="col.apiProperty === 'DisplayValue'" href="#" (click)="$event.preventDefault();this.open(item.Uid)">{{item[col.apiProperty] ?? '---'}}</a>
				</td>
				<td #assetGridTools>
					<div class="token-popup-menu" *ngIf="item.MenuItems">
						<button igButton type="button" icon="fa-ellipsis-v" (click)="tokenMenu.toggle($event);"></button>
						<ig-popup-menu [items]="item.MenuItems"
									   #tokenMenu
									   [tabIndex]="1"></ig-popup-menu>
					</div>

					<button class="ig-float-popup-container" #floatButton>
						<ig-popup-menu [items]="item.MenuItems" #floatMenu [tabIndex]="1">
						</ig-popup-menu>
					</button>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="summary">
			<d3s-grid-paging-info [first]="dt.first"
								  [rows]="dt.rows"
								  [totalRecords]="totalRecords"></d3s-grid-paging-info>
		</ng-template>
	</p-table>
</div>