.data-catalog-container {
  background-color: red;

  .grid-actions-header-row {
    padding: 8px 0px;
  }

  .simple-search {
    max-width: 200px !important;
    margin-right: 16px;
  }

  .grid-wrapper {
    padding: 0 10px;

    .p-datatable-wrapper {
      max-height: calc(100vh - 300px);
    }
  }
}
