.data-catalog-container {
  background-color: red;

  .grid-actions-header-row {
    padding: 8px 0;
  }

  .grid-wrapper {
    padding: 0 10px;

    .p-datatable-wrapper {
      max-height: calc(100vh - 300px);

      .p-datatable-table {
        min-width: max-content;

        th, td {
          width: auto;
          max-width: 500px;
        }
      }
    }

    .token-popup-menu {
      button {
        background: none;
        width: 24px;
        height: 24px;
      }
    }
  }
}
