<div class="row">
    <div class="col s4">
        <div class="tile tile-detail">
            <header>
                Responsibility Types
                <d3s-tile-actions [hasAdd]="true" (addClick)="add()"></d3s-tile-actions>
            </header>
            <input type="text" [hidden]="!showSimpleFilter" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter">
            <p-table #dt [value]="responsibilityTypeItems" selectionMode="single" [metaKeySelection]="true" [globalFilterFields]="['Name']" [paginator]="true" [rows]="20" [(selection)]="selectedRow" (onRowSelect)="selectedItemChange()">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'Name'">
                            Name
                            <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                        </th>
                        <th style="width: 40px"></th>
                        <th style="width: 40px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td>{{item.Name}}</td>
                        <td>
                            <div class="RowTools">
                                <a (click)="edit(item.uid)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a (click)="delete(item.uid)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col s8" [ngSwitch]="formMode">
        <div *ngSwitchDefault class="tile tile-detail">
            <object-detail [objectType]="'ResponsibilityType'" *ngIf="selectedRow && selectedRow?.ID" [objectID]="selectedRow?.ID"></object-detail>
        </div>
        <div *ngSwitchDefault class="tile tile-detail">
            <d3s-responsibility-relations queryType="R" *ngIf="selectedRow && selectedRow?.uid" [uid]="selectedRow?.uid" (onDelete)="responsibilityRelationDelete()"></d3s-responsibility-relations>
        </div>
        <div *ngSwitchDefault class="tile tile-detail">
            <d3s-responsibility-rules [id]="selectedRow?.ID" *ngIf="selectedRow && selectedRow?.ID" [forceReload]="forceRulesReloadFlag"></d3s-responsibility-rules>
        </div>
        <div *ngSwitchCase="FormMode.Editing" class="tile tile-detail" style="padding:10px;">
            <header>Edit Role</header>
            <d3s-responsibility-type-form [id]="selectedRow.ID" (onSaveComplete)="save($event)" (onCancel)="cancel()"></d3s-responsibility-type-form>
        </div>
        <div *ngSwitchCase="FormMode.Adding" class="tile tile-detail" style="padding:10px;">
            <header>Add Role</header>
            <d3s-responsibility-type-form [id]="0" (onSaveComplete)="save($event)" (onCancel)="cancel()"></d3s-responsibility-type-form>
        </div>
        <div *ngSwitchCase="FormMode.Deleting" class="tile tile-detail">
            <d3s-delete-form [method]="'callback'"
                             [callback]="theDeleteCallback"
                             [itemId]="selected?.uid"
                             [prompt]="'Are you sure you want to delete this responsibility type?'"
                             (onCancel)="cancel()">
            </d3s-delete-form>
        </div>
    </div>
</div>
