<div *ngIf="id">
    <div *ngIf="!isLoading && !isEditing && !isDeleting">
        <header>
            {{title}}
            <d3s-tile-actions *ngIf="!isLoading && !isEditing && !isDeleting" [hasAdd]="showAddButton" (addClick)="add()" [hasFilterMode]="true" [(filterMode)]="showSimpleFilter"></d3s-tile-actions>
        </header>
    </div>
    <div *ngIf="isLoading" style="width:100%; text-align:center;">
        <div style="padding:10px;"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    </div>
    <div *ngIf="isEditing">
        <d3s-responsibility-rule-form [ruleId]="id" [id]="selectedRow?.ID" (onCancel)="isEditing = false; onCancel.emit()" (onComplete)="editComplete($event)"></d3s-responsibility-rule-form>
    </div>
    <d3s-delete-form *ngIf="isDeleting"
                     [callback]="theDeleteCallback"
                     [itemId]="selectedRow"
                     [method]="'callback'"
                     [prompt]="'Are you sure you want to delete the rule [' + [selectedRow?.Name] + ']?'"
                     (onCancel)="isDeleting=false; onCancel.emit();"></d3s-delete-form>
    <d3s-delete-form *ngIf="isDeletingDate"
                     [callback]="theDeleteDateCallback"
                     [itemId]="selectedRow?.ID"
                     [deleteButtonText]="'Run Rule'"
                     [method]="'callback'"
                     [prompt]="'Are you sure you want to run the rule [' + [selectedRow?.Name] + '] now? The rule will be scheduled to run immediately, clearing the current Last Run Date. Ownership rules are scheduled to run automatically on a regular basis. You should only need to use this feature if you are having issues with ownership rules being applied automatically.'"
                     (onCancel)="isDeletingDate=false; onCancel.emit();"></d3s-delete-form>

    <div *ngIf="!isLoading && !isEditing && !isDeleting && !isDeletingDate">
        <input type="text" [hidden]="!showSimpleFilter" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter">
        <p-table #dt [value]="rows" selectionMode="single" [metaKeySelection]="true" [globalFilterFields]="['Name','ObjectName','Context']" [(selection)]="selectedRow" [rows]="20" [pageLinks]="3" [paginator]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'Name'" style="min-width: 15% ">
                        Name
                        <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                    </th>
                    <th [pSortableColumn]="'ObjectName'" style="width: 15%">
                        Type
                        <d3s-sortIcon [field]="'ObjectName'"></d3s-sortIcon>
                    </th>
                    <th style="min-width: 40%">Context</th>
                    <th style="min-width: 20%">Last Run Date</th>
                    <th style="width: 50px"></th>
                    <th style="width: 50px"></th>
                    <th style="width: 50px"></th>
                    <th style="width: 50px"></th>
                </tr>
                <tr [hidden]="showSimpleFilter">
                    <th><d3s-column-filter [field]="'Name'" [datatype]="'text'"></d3s-column-filter></th>
                    <th><d3s-column-filter [field]="'ObjectName'" [datatype]="'text'"></d3s-column-filter></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr (dblclick)="isEditing=showEditButton;" [pSelectableRow]="item">
                    <td>{{item.Name}}</td>
                    <td>{{item.ObjectName}}</td>
                    <td>
                        <span *ngIf="item.Context" [innerHtml]="item.Context"></span>
                    </td>
                    <td>{{item.LastRunOn | date:'short'}}</td>
                     <td>
                         <div class="RowTools">
                             <d3s-preview-tooltip objectType="ResponsibilityTypeRelationRule" [objectId]="item.ID" icon="info"></d3s-preview-tooltip>
                         </div>
                    </td>
                    <td>
                        <div class="RowTools">
                            <a (click)="clearDate(item.ID)" style="cursor:pointer;"><i class="fa fa-refresh"></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="RowTools">
                            <a (click)="edit(item.ID)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="RowTools">
                            <a (click)="delete(item.ID)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
            </ng-template>
        </p-table>
    </div>
</div>