.condition-group {
  margin-right: 0;

  td {
    padding-bottom: 8px;
    padding-right: 8px;
  }

  .path-dropdown {

    .p-dropdown-label {
      direction: rtl;
    }
  }
}

.display-table tr td {
  padding: 3px;
  border-radius: 0;
}

.relation-table tr td {
  border-radius: 0;
}

.display-table-title {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: #5c5e60 !important;
  font-size: 1rem;
  font-weight: bold;
}

.rule-bounding-box {
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 5px;
}
