<div *ngIf="isLoading" style="text-align:center;">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
<div *ngIf="!isLoading">
    <header>
        {{actionName}} <ng-container i18n>Rule</ng-container>
    </header>
    <form (ngSubmit)="onSubmit()" #ruleEditor="ngForm">
        <div class="row">
            <div class="col s12 form-instructions">
                <ng-container i18n>Modify your rule using the form below.</ng-container>
                <div class="form-instructions-error" data-bind="visible: FormInvalid, text: FormValidationMessage">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <div id='NameTip' class="FieldNameRequired" i18n>Name</div>
                <input required name="Name" pInputText maxlength="250" type="text" [(ngModel)]="model.Name" style="width: 98%; display: block;" #Name="ngModel" />
                <div [hidden]="Name.valid || Name.pristine" class="validation-text" i18n>Friendly name is required</div>
            </div>
            <div class="col l6 m6 s12">
                <div id='TypeTip' class="FieldNameRequired" i18n>Selected Type</div>
                <p-dropdown required name="objecttype" [options]="objectTypes" [ngModel]="model.ObjectString" [style]="{'width':'98%', 'display' : 'block'}" (onChange)="loadObjectType($event.value)" #objectType="ngModel" placeholder="Value Required"></p-dropdown>
                <div [hidden]="objectType.valid || objectType.pristine" i18n>Object type is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <div id='IsVisibleTip' class="FieldName" style="display: block;">
                    <ng-container i18n>Visible?</ng-container>
                    <span style="margin-left: 15px" pTooltip="{{visibleTooltip}}" class="fa fa-info-circle blue-grey-text"></span>
                </div>
                <p-checkbox required name="isVisible" [(ngModel)]="model.IsVisible" binary="true"></p-checkbox>
            </div>
            <div class="col l6 m6 s12">
                <div id='ApplyToTypeTip' class="FieldName" style="display: block;">
                    <ng-container i18n>Applies To Entire Type?</ng-container>
                    <span style="margin-left: 15px" pTooltip="{{applyToTooltip}}" class="fa fa-info-circle blue-grey-text"></span>
                </div>
                <p-checkbox required name="applyToType" [(ngModel)]="model.ApplyToType" (ngModelChange)="clearWhen()" binary="true"></p-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col s12">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div id='ContextTip' class="FieldNameRequired" i18n>Context</div>
                <p-editor [ngModelOptions]="{standalone: true}" name="context" [(ngModel)]="model.Context" [style]="{'height':'150px','width':'100%'}">
                    <header style="padding-bottom:0px !important">
                        <span class="ql-formats">
                            <select class="ql-header">
                                <option value="1">Heading</option>
                                <option value="2">Subheading</option>
                                <option selected>Normal</option>
                            </select>
                            <select class="ql-font">
                                <option selected>Sans Serif</option>
                                <option value="serif">Serif</option>
                                <option value="monospace">Monospace</option>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <select class="ql-align">
                                <option selected></option>
                                <option value="center"></option>
                                <option value="right"></option>
                                <option value="justify"></option>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-code-block"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-clean"></button>
                        </span>
                    </header>
                </p-editor>
            </div>
        </div>
        <div class="row">
            <div class="col s12">&nbsp;</div>
        </div>

        <simple-accordion header="When Filters" active="true" *ngIf="model.Object && !model.ApplyToType">
            <div class="row">
                <div class="col s12 form-instructions" i18n>
                    You can define "When" filters to limit when the rule applies. Responsibilities will be applied to any items which match the Selected Type and meet the filter criteria that you specify below.<br />
                    The When filters do not apply to create, only read ,modify, and remove.  The user will be able to create any asset of the asset type.
                </div>
                <div class="col s12 rule-bounding-box" i18n>
                    <div class="condition-group">
                        <div>
                            <table class="highlight, striped responsive-table" cellpadding="5">
                                <tbody *ngFor="let item of model.StructuredDefinition.When; let i=index;">
                                    <tr>
                                        <td style="width: 200px">
                                            <p-dropdown igDropdown required [filter]="true" filterBy="label" [ngModelOptions]="{standalone: true}" [options]="whenCheckTypes" [(ngModel)]="item.CheckType" [style]="{ 'min-width' : '6em' }" placeholder="Value Required"></p-dropdown>
                                        </td>
                                        <td style="width: 200px" *ngIf="item.CheckType">
                                            <p-dropdown igDropdown required *ngIf="item.CheckType == 'F'" [filter]="true" filterBy="label" [ngModelOptions]="{standalone: true}" appendTo="body" [options]="whenFieldTypes" [(ngModel)]="item.FieldTypeID" [style]="{ 'min-width' : '6em' }" (onChange)="loadWhenValuesForFieldType(item, $event)" placeholder="Value Required"></p-dropdown>
                                            <p-dropdown igDropdown required *ngIf="item.CheckType == 'R'" [filter]="true" filterBy="label" [ngModelOptions]="{standalone: true}" appendTo="body" [options]="whenIntersectTypes" [(ngModel)]="item.IntersectTypeID" [style]="{ 'min-width' : '6em' }" (onChange)="loadValuesForIntersectType(item)" placeholder="Value Required"></p-dropdown>
                                        </td>
                                        <td style="width: 200px" *ngIf="(item.CheckType == 'F' && item.FieldTypeID && item.IsSimpleText) || (item.CheckType == 'R' && item.IntersectTypeID)">
                                            <p-dropdown igDropdown required [filter]="true" *ngIf="item.CheckType == 'F'" [ngModelOptions]="{standalone: true}" appendTo="body" [options]="fieldOperatorTypes" [(ngModel)]="item.Operator" [style]="{ 'min-width' : '6em' }" placeholder="Value Required"></p-dropdown>
                                            <p-dropdown igDropdown required [filter]="true" *ngIf="item.CheckType == 'R'" [ngModelOptions]="{standalone: true}" appendTo="body" [options]="relationshipOperatorTypes" [(ngModel)]="item.Operator" [style]="{ 'min-width' : '6em' }" placeholder="Value Required"></p-dropdown>
                                        </td>
                                        <td style="width: 200px" *ngIf="showValueOption(item)">
                                            <div *ngIf="item.CheckType == 'F' && !item.IsLookup && !item.IsBool">
                                                <input igInput required [ngModelOptions]="{standalone: true}" name="name" type="text" [(ngModel)]="item.Value" placeholder="Value Required" />
                                            </div>
                                            <p-dropdown igDropdown required [filter]="true" *ngIf="item.CheckType == 'F' && !item.IsLookup && item.IsBool" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" [style]="{ 'min-width' : '6em' }" placeholder="Value Required"></p-dropdown>
                                            <p-dropdown igDropdown required [filter]="true" *ngIf="item.CheckType == 'F' && item.IsLookup && !item.IsBool" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" [style]="{ 'min-width' : '6em' }" placeholder="Value Required"></p-dropdown>

                                            <div *ngIf="item.IsloadValuesForIntersectType" [style]="{ 'min-width' : '6em', 'text-align':'center'}">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </div>
                                            <p-dropdown igDropdown required pTooltip="item.Value" tooltipPosition="top" *ngIf="item.CheckType == 'R' && !item.IsBool && !item.IsloadValuesForIntersectType" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" [style]="{ 'min-width' : '6em' }" (onChange)="parseRelationshipWhenValue(item);simpleWhenFilter='';" [virtualScroll]="item?.ValueOptions?.length > 100" itemSize="20" [filter]="true" placeholder="Value Required"></p-dropdown>
                                        </td>
                                        <td><a *ngIf="model?.StructuredDefinition?.When?.length>1 || (model?.StructuredDefinition?.When?.length == 1 && model?.StructuredDefinition?.When[0]?.CheckType?.length>0)" style="text-decoration:none; color:#000; cursor: pointer; font-size:1.5em; padding:5px" (click)="removeWhenCondition(i)"><i class='fa fa-trash' title='Remove'></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="padding-top: 10px">
                            <div *ngIf="!isWhenValid()" class="disabled-link">
                                <i class='fa fa-plus-circle' style="padding-right:5px;" title='{{addCheckTitle}}'></i>{{addCheckTitle}}
                            </div>
                            <div *ngIf="isWhenValid()">
                                <a (click)="addWhen()"><i class='fa fa-plus-circle' style="padding-right:5px;" title='{{addCheckTitle}}'></i>{{addCheckTitle}}</a>
                            </div>
                        </div>
                    </div>
                    <div style="height: 50px; display:flex; align-items:center">
                        <div>
                            <button igButton type="button" [disabled]="disableTestWhen" label="{{testButtonLabel}}" (click)="testWhen()"></button>
                        </div>
                        <div style="margin-left:10px">
                            <span *ngIf="noWhenResults">No Results</span>
                            <a *ngIf="WhenTestRows && WhenTestRows.length>0" (click)="showWhenResults = !showWhenResults">
                                <span *ngIf="showWhenResults">{{hideResultsLabel}} ({{whenTestTotalRecords}}) <i class="fa fa-angle-up" aria-hidden="true"></i></span>
                                <span *ngIf="!showWhenResults">{{showResultsLabel}} ({{whenTestTotalRecords}}) <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col s12" *ngIf="(((WhenTestRows && WhenTestRows.length>0) || simpleWhenFilter) && showWhenResults==true)">

                        <div>
                            <ig-search-field mode="Keypress"
                                             [debounce]="600"
                                             (onSearch)="testWhen()"
                                             [(ngModel)]="simpleWhenFilter"
                                             name="whenFilter"
                                             style="width: 100%; padding-bottom:8px;">
                            </ig-search-field>
                        </div>

                        <div>
                            <p-table #dt [value]="WhenTestRows" selectionMode="single" [metaKeySelection]="true" [paginator]="true" [rows]="5">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th [pSortableColumn]="'path'">
                                            <ng-container>Asset Path</ng-container>
                                            <d3s-sortIcon [field]="'path'"></d3s-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td>{{item.path}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    No results match the search filter.
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="whenTestTotalRecords"></d3s-grid-paging-info>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </simple-accordion>


        <simple-accordion header="Then Filters" active="true" *ngIf="model.Object">
            <div class="row">
                <div class="col s12 form-instructions" i18n>
                    You can define "Then" filters to specify to whom the objects are assigned. Responsibilities will be assigned to users who match the Security Object Type criteria specified below for objects that meet the filter criteria specified above.
                </div>
                <div class="col s12" style="border-radius:8px; border: 1px solid lightgrey; padding:5px" i18n>
                    <div class="condition-group">
                        <div>
                            <table class="highlight, striped responsive-table" cellpadding="5">
                                <tbody *ngFor="let item of model.StructuredDefinition.Then.Conditions; let i=index;">
                                    <tr>
                                        <td style="width: 200px">
                                            <p-dropdown igDropdown required [ngModelOptions]="{standalone: true}" [options]="thenObjectTypes" (onChange)="item.FieldTypeID=null;item.Value=null;item.ValueOptions=null;item.Operator=null;loadThenFilterOptions(item)" [(ngModel)]="item.Object" placeholder="Value Required"></p-dropdown>
                                        </td>
                                        <td style="width: 200px" *ngIf="item.Object">
                                            <p-dropdown igDropdown required *ngIf="item.Object == 'ResourceType'" [ngModelOptions]="{standalone: true}" [options]="thenUserFieldTypes" [(ngModel)]="item.FieldTypeID" (onChange)="item.Value=null;item.ValueOptions=null;item.Operator=null;loadThenValuesForFieldType(item)" placeholder="Value Required"></p-dropdown>
                                            <p-dropdown igDropdown required *ngIf="item.Object == 'GroupType'" [ngModelOptions]="{standalone: true}" [options]="thenGroupFieldTypes" [(ngModel)]="item.FieldTypeID" (onChange)="item.Value=null;item.ValueOptions=null;item.Operator=null;loadThenValuesForFieldType(item)" placeholder="Value Required"></p-dropdown>
                                        </td>
                                        <td style="width: 200px" *ngIf="item.FieldTypeID && item.IsSimpleText">
                                            <p-dropdown igDropdown required [ngModelOptions]="{standalone: true}" appendTo="body" [options]="fieldOperatorTypes" [(ngModel)]="item.Operator" [style]="{ 'min-width' : '6em' }" placeholder="Value Required"></p-dropdown>
                                        </td>
                                        <td style="width: 200px" *ngIf="showThenValueOption(item)">
                                            <p-dropdown igDropdown required *ngIf="item.IsLookup" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" ></p-dropdown>
                                            <p-dropdown igDropdown required *ngIf="item.IsBool" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" ></p-dropdown>
                                            <div *ngIf="!item.IsLookup && !item.IsBool">
                                                <input igInput [ngModelOptions]="{standalone: true}" required name="name" pInputText type="text" [(ngModel)]="item.Value" style="display: block;" #Name="ngModel" />
                                            </div>
                                        </td>
                                        <td><a *ngIf="model?.StructuredDefinition?.Then?.Conditions?.length>1 || (model?.StructuredDefinition?.Then?.Conditions?.length == 1 && model?.StructuredDefinition?.Then.Conditions[0]?.Object)" style="text-decoration:none; color:#000; cursor: pointer; font-size:1.5em; padding:5px" (click)="removeThenCondition(i)"><i class='fa fa-trash' title='Remove'></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="padding-top: 10px">
                            <div *ngIf="!isThenValid()" class="disabled-link">
                                <i class='fa fa-plus-circle' style="padding-right:5px;" title='{{addCheckTitle}}'></i>{{addCheckTitle}}
                            </div>
                            <div *ngIf="isThenValid()">
                                <a (click)="addThenCondition()"><i class='fa fa-plus-circle' style="padding-right:5px;" title='{{addCheckTitle}}'></i>{{addCheckTitle}}</a>
                            </div>
                        </div>
                    </div>
                    <div style="height: 50px; display:flex; align-items:center">
                        <div>
                            <button igButton type="button" [disabled]="disableTestThen" label="{{testButtonLabel}}" (click)="testThen()"></button>
                        </div>
                        <div style="margin-left:10px">
                            <span *ngIf="noThenResults">No Results</span>
                            <a *ngIf="ThenTestRows && ThenTestRows.length>0" (click)="showThenResults = !showThenResults">
                                <span *ngIf="showWhenResults">{{hideResultsLabel}} ({{ThenTestRows.length}}) <i class="fa fa-angle-up" aria-hidden="true"></i></span>
                                <span *ngIf="!showWhenResults">{{showResultsLabel}} ({{ThenTestRows.length}}) <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col s12" *ngIf="(((ThenTestRows && ThenTestRows.length>0) || simpleThenFilter) && showThenResults==true)">

                        <div>
                            <ig-search-field mode="Keypress"
                                             [debounce]="600"
                                             (onSearch)="testThen()"
                                             [(ngModel)]="simpleThenFilter"
                                             name="thenFilter"
                                             style="width: 100%; padding-bottom:8px;">
                            </ig-search-field>
                        </div>

                        <div>
                            <p-table #dt [value]="ThenTestRows" selectionMode="single" [metaKeySelection]="true" [paginator]="true" [rows]="5">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th [pSortableColumn]="'path'">
                                            <ng-container>Security Asset</ng-container>
                                            <d3s-sortIcon [field]="'path'"></d3s-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td>{{item.path}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    No results match the search filter.
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p-radioButton igRadioButton name="thenMatchType" [(ngModel)]="model.StructuredDefinition.Then.MatchType" value="and" label="{{matchAllLabel}}"></p-radioButton>&nbsp;
                <p-radioButton igRadioButton name="thenMatchType" [(ngModel)]="model.StructuredDefinition.Then.MatchType" value="or" label="{{matchAnyLabel}}"></p-radioButton>
            </div>
        </simple-accordion>
        
        <div class="row" *ngIf="errorMessage != ''">
            <div class="col s12">
                <div style="color:red">{{errorMessage}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div style="padding-top:10px" class="action-buttons flex-grid">
                    <button igButton type="button" label="{{cancelLabel}}" (click)="cancel()"></button>
                    <div class="flex-grow"></div>
                    <button igButton type="submit" class="ig-button-primary" [disabled]="!ruleEditor.form.valid || !isValid()" label="{{(id > 0 ? editLabel : addLabel)}}"></button>
                </div>
            </div>
        </div>
    </form>
</div>

