<div *ngIf="isLoading" style="text-align:center;">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
<div *ngIf="!isLoading">
    <header>{{actionName}} Rule</header>
    <form (ngSubmit)="onSubmit()" #ruleEditor="ngForm">
        <div class="row">
            <div class="col s12 form-instructions">
                Modify your rule using the form below.
                <div class="form-instructions-error" data-bind="visible: FormInvalid, text: FormValidationMessage">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <div id='NameTip' class="FieldNameRequired">Name</div>
                <input required name="Name" pInputText maxlength="250" type="text" [(ngModel)]="model.Name" style="width: 98%; display: block;" #Name="ngModel" />
                <div [hidden]="Name.valid || Name.pristine" class="validation-text">Friendly name is required</div>
            </div>
            <div class="col l6 m6 s12">
                <div id='TypeTip' class="FieldNameRequired">Selected Type</div>
                <p-dropdown required name="objecttype" [options]="objectTypes" [ngModel]="model.ObjectString" [style]="{'width':'98%', 'display' : 'block'}" (onChange)="loadObjectType($event.value)" #objectType="ngModel"></p-dropdown>
                <div [hidden]="objectType.valid || objectType.pristine">Object type is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <div id='IsVisibleTip' class="FieldName" style="display: block;">
                    Visible?
                    <span style="margin-left: 15px" pTooltip="Marking the rule as visible applies a visibility setting to all applied responsibilities for this rule. Users will be able to see users and groups assigned via this rule. 
                    Setting the rule to not be visible simply hides the users that are assigned via the rule. Permissions are still applied." class="fa fa-info-circle blue-grey-text"></span>
                </div>
                <p-checkbox required name="isVisible" [(ngModel)]="model.IsVisible" binary="true"></p-checkbox>
            </div>
            <div class="col l6 m6 s12">
                <div id='ApplyToTypeTip' class="FieldName" style="display: block;">
                    Applies To Entire Type?
                    <span style="margin-left: 15px" pTooltip="Marking the rule as applying to a type grants the applied responsibilities to act upon the type itself, including all instances under the type. 
                    For example, if you wanted to grant a user or group with the ability to create a specific business term you would need to check this box." class="fa fa-info-circle blue-grey-text"></span>
                </div>
                <p-checkbox required name="applyToType" [(ngModel)]="model.ApplyToType" (ngModelChange)="clearWhen()" binary="true"></p-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col s12">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div id='ContextTip' class="FieldNameRequired">Context</div>
                <p-editor [ngModelOptions]="{standalone: true}" name="context" [(ngModel)]="model.Context" [style]="{'height':'150px','width':'100%'}">
                    <header style="padding-bottom:0px !important">
                        <span class="ql-formats">
                            <select class="ql-header">
                                <option value="1">Heading</option>
                                <option value="2">Subheading</option>
                                <option selected>Normal</option>
                            </select>
                            <select class="ql-font">
                                <option selected>Sans Serif</option>
                                <option value="serif">Serif</option>
                                <option value="monospace">Monospace</option>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <select class="ql-align">
                                <option selected></option>
                                <option value="center"></option>
                                <option value="right"></option>
                                <option value="justify"></option>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-code-block"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-clean"></button>
                        </span>
                    </header>
                </p-editor>
            </div>
        </div>
        <div class="row">
            <div class="col s12">&nbsp;</div>
        </div>

        <simple-accordion header="When Filters" active="true" *ngIf="model.Object && !model.ApplyToType" >
            <div class="row">
                <div class="col s12 form-instructions">
                    You can define "When" filters to limit when the rule applies. Responsibilities will be applied to any items which match the Selected Type and meet the filter criteria that you specify below.<br />
                    The When filters do not apply to create, only read ,modify, and remove.  The user will be able to create any asset of the asset type.
                </div>
            </div>
            <div class="row" *ngIf="model.Object">
                <div class="col l8 m7 s12">
                    <table class="highlight, striped responsive-table" cellpadding="5">
                        <thead>
                            <tr>
                                <th>Check Type</th>
                                <th>Field/Relation</th>
                                <th>Value</th>
                                <th style="width: 50px; text-align: right">
                                    <a style="text-decoration:none; color:#000; cursor: pointer; font-size:1.5em; padding:5px" (click)="addWhen()"><i class='fa fa-plus' title='Add check'></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of model.StructuredDefinition.When; let i=index;">
                            <tr>
                                <td>
                                    <p-dropdown [ngModelOptions]="{standalone: true}" [options]="whenCheckTypes" (onChange)="item.Value=null;item.FieldTypeID=null;item.IntersectTypeID=null;item.ValueOptions=[]" [(ngModel)]="item.CheckType" [style]="{ 'width' : '95%','min-width' : '6em' }"></p-dropdown>
                                </td>
                                <td>
                                    <p-dropdown *ngIf="item.CheckType == 'F'" [ngModelOptions]="{standalone: true}" appendTo="body" [options]="whenFieldTypes" [(ngModel)]="item.FieldTypeID" [style]="{ 'width' : '95%','min-width' : '6em' }" (onChange)="loadWhenValuesForFieldType(item)"></p-dropdown>
                                    <p-dropdown *ngIf="item.CheckType == 'R'" [ngModelOptions]="{standalone: true}" appendTo="body" [options]="whenIntersectTypes" [(ngModel)]="item.IntersectTypeID" [style]="{ 'width' : '95%','min-width' : '6em' }" (onChange)="loadValuesForIntersectType(item)"></p-dropdown>
                                </td>
                                <td>
                                    <p-dropdown *ngIf="item.CheckType == 'F' && !item.IsLookup && item.IsBool" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" [style]="{ 'width' : '95%','min-width' : '6em' }"></p-dropdown>
                                    <p-dropdown *ngIf="item.CheckType == 'F' && item.IsLookup && !item.IsBool" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" [style]="{ 'width' : '95%','min-width' : '6em' }"></p-dropdown>
                                    <input *ngIf="item.CheckType == 'F' && !item.IsLookup && !item.IsBool" [ngModelOptions]="{standalone: true}" required name="name" pInputText type="text" [(ngModel)]="item.Value" style="width: 95%;" />
                                    <div *ngIf="item.IsloadValuesForIntersectType" [style]="{ 'width' : '95%','min-width' : '6em', 'text-align':'center'}">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>

                                    <p-dropdown *ngIf="item.CheckType == 'R' && !item.IsBool && !item.IsloadValuesForIntersectType" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" [style]="{ 'width' : '95%','min-width' : '6em' }" (onChange)="parseRelationshipWhenValue(item)" [virtualScroll]="item?.ValueOptions?.length > 100" itemSize="20" [filter]="true"></p-dropdown>
                                </td>
                                <td><a style="text-decoration:none; color:#000; cursor: pointer; font-size:1.5em; padding:5px" (click)="removeWhenCondition(i)"><i class='fa fa-trash' title='Remove'></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col l4 m5 s12">
                    <button pButton type="button" [disabled]="disableTestWhen" label="Test Filters" (click)="testWhen()"></button>
                    <p-table #dt [value]="WhenTestRows" selectionMode="single" [metaKeySelection]="true" [paginator]="true" [rows]="5">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'Name'">
                                    Name
                                    <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{item.Name}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </simple-accordion>

        <simple-accordion header="Then Filters" active="true" *ngIf="model.Object">
            <div class="row">
                <div class="col s12 form-instructions">
                    You can define "Then" filters to specify to whom the objects are assigned. Responsibilities will be assigned to users who match the Security Object Type criteria specified below for objects that meet the filter criteria specified above.
                </div>
            </div>
            <div class="row" *ngIf="model.Object">
                <div class="col s12 FieldNameRequired">Security Object Type</div>
                <div class="col l8 m7 s12">
                    <p-dropdown required name="thenObjectType" [options]="thenObjectTypes" [(ngModel)]="model.StructuredDefinition.Then.Object" [style]="{ 'width' : '100%' }" (onChange)="loadThenFilterOptions($event.value)" #thenObjectType="ngModel"></p-dropdown>
                    <div [hidden]="thenObjectType.valid || thenObjectType.pristine">Security Object Type is required</div>
                </div>
            </div>
            <div class="row" *ngIf="model.Object">
                <div class="col l8 m7 s12">
                    <table class="highlight, striped responsive-table" cellpadding="5">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th>Value</th>
                                <th style="width: 50px; text-align: right">
                                    <a style="text-decoration:none; color:#000; cursor: pointer; font-size:1.5em; padding:5px" (click)="addThenCondition()"><i class='fa fa-plus' title='Add condition'></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of model.StructuredDefinition.Then.Conditions; let i=index;">
                            <tr>
                                <td>
                                    <p-dropdown [ngModelOptions]="{standalone: true}" [options]="thenFieldTypes" [(ngModel)]="item.FieldTypeID" [style]="{ 'width' : '95%' }" (onChange)="loadThenValuesForFieldType(item)"></p-dropdown>
                                </td>
                                <td>
                                    <p-dropdown *ngIf="item.IsLookup" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" [style]="{ 'width' : '95%' }"></p-dropdown>
                                    <input *ngIf="!item.IsLookup && !item.IsBool" [ngModelOptions]="{standalone: true}" required name="name" pInputText type="text" [(ngModel)]="item.Value" style="width: 98%; display: block;" #Name="ngModel" />
                                    <p-dropdown *ngIf="item.IsBool" [ngModelOptions]="{standalone: true}" [options]="item.ValueOptions" [(ngModel)]="item.Value" [style]="{ 'width' : '95%' }"></p-dropdown>
                                </td>
                                <td><a style="text-decoration:none; color:#000; cursor: pointer; font-size:1.5em; padding:5px" (click)="removeThenCondition(i)"><i class='fa fa-trash' title='Remove'></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col l4 m5 s12">
                    <button pButton type="button" label="Test Filters" [disabled]="disableTestThen" (click)="testThen()"></button>
                    <p-table #dt2 [value]="ThenTestRows" selectionMode="single" [metaKeySelection]="true" [paginator]="true" [rows]="5">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'Name'">
                                    Security Asset
                                    <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{item.Name}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt2.first" [rows]="dt2.rows" [totalRecords]="dt2.totalRecords"></d3s-grid-paging-info>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="row">
                <p-radioButton igRadioButton name="thenMatchType" [(ngModel)]="model.StructuredDefinition.Then.MatchType" value="and" label="Match all"></p-radioButton>&nbsp;
                <p-radioButton igRadioButton name="thenMatchType" [(ngModel)]="model.StructuredDefinition.Then.MatchType" value="or" label="Match any"></p-radioButton>
            </div>
        </simple-accordion>

        <div class="row" *ngIf="errorMessage != ''">
            <div class="col s12">
                <div style="color:red">{{errorMessage}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div style="padding-top:10px">
                    <button pButton type="submit" [disabled]="!ruleEditor.form.valid || !isValid()" label="Save"></button>
                    <button pButton type="button" label="Cancel" (click)="cancel()"></button>
                </div>
            </div>
        </div>
    </form>
</div>

