@import '../../../../../Content/styles/_Variables.less';

.summarySection {
  padding: 0px 16px 6px 11px;
  overflow-y: auto;
  -webkit-flex: 1 1 auto;
  height: calc(100vh - 255px);

  .asset-detail-header {
    padding: 0px 8px 4px 0px;
  }

  .ig-value {
    margin-bottom: 10px;
  }

  .tooltip-icon {
    width: 32px;
    color: @ig-purple;
    text-align: center;
    cursor: pointer;
    padding-top: 1px;
  }

  .group {
    padding-top: 10px;
    padding-bottom: 20px;
    --validbar: @ig-green-t1;
    --invalidbar: @ig-red-t1;
    --otherbar: @ig-slate-t3;
    --orangebar: @ig-orange;

    .validCircle {
      background-color: var(--validbar);
    }

    .invalidCircle {
      background-color: var(--invalidbar);
    }

    .otherCircle {
      background-color: var(--otherbar);
    }

    .orangeCircle {
      background-color: var(--orangebar);
    }

    .sampleRow {
      background-image: linear-gradient(to right, #9edae5, #9edae5);
      background-size: 1% 100%;
      background-repeat: no-repeat;
      margin-bottom: 5px;
      display: flex;
      width: 100%;
      line-height: 18px;

      .sampleKey {
        padding-left: 10px;
        flex: 1;
        display: table;
        table-layout: fixed;
        width: 100%;
        word-wrap: break-word;
      }

      .sampleValue {
        float: right;
        padding-right: 10px;
        padding-left: 16px;
        flex: 0;

        .sampleCount {
          color: @ig-black;
        }

        .samplePercentage {
          padding-left: 8px;
          color: @d3s-gray-2;
        }
      }
    }

    .statistic {
      margin-bottom: 16px;
    }

    .sampleQuality {
      margin: 5px 0px 5px 0px;

      .quality-label {
        display: inline;
        color: @ig-black;
        margin-top: 4px;
        line-height: 16px;
        word-break: break-all;
      }

      .qualitySampleValue {
        float: right;

        .qualityValue-label {
          color: @ig-black;
        }
      }
    }

    .showMore {
      color: #006fba;
      cursor: pointer;
    }

    .sampleBarChart {
      border-radius: 12px;
      height: 12px;
      width: 100%;
    }

    .percentage {
      color: @d3s-gray-2;
      margin-left: 5px;
    }
  }

  .summaryRow {
    display: flex;
    flex-direction: row;

    .ig-label {
      word-break: break-word;
    }
  }

  .effectiveDate {
    float: right;
    padding-top: 6px;
    color: @d3s-gray-2;
    margin-left: 5px;
  }

  .match-row {
    display: inline-block;

    .ig-colorfield-swatch {
      margin-right: 2px;
    }

    .ig-label {
      display: inline-block;
    }

    .ig-value {
      margin-right: 4px;
    }

    .disabled {
      pointer-events: none;
      color: inherit;
      opacity: 0.33;
    }
  }

  .sampleChart {
    &.x-label {
      color: @d3s-gray-2;
      position: relative;
      top: -15px;
    }
  }
}

.ig-text-info {
  background: @ig-lightblue-t2;
  padding: 3px 8px;
  font-size: 14px;
  color: black;
  border-radius: 4px;
  width: fit-content;
  display: block;
  margin-top: 2px;
  line-height: 18px;
}

i.fa {
  &.turn {
    transform: rotate(45deg);
    font-size: 0.5em;
  }

  &.fa-plus-circle {
    color: @ig-purple;
  }

  &.fa-exclamation-triangle {
    color: @ig-orange;
  }
}

.trendIcon {
  color: @ig-slate;
  font-size: 20px;
  line-height: 16px;
}

.time-series-tile {
  z-index: 20000;
  position: absolute;
  right: 410px;
  float: right;
  background: white;
  width: calc(100vw - 650px);
  bottom: 40px;
  box-shadow: rgb(0 0 0 / 33%) 0 5px 10px;
  border-radius: 4px;
  height: calc(100vh - 266px);

  .time-series-graph {
    margin: 20px;
    height: 100%;

    .time-series-header {
      background-color: transparent;
      color: #202020;
      font-weight: bold;
      font-size: 18px;

      .title {
        display: table-cell;
        height: 32px;
        vertical-align: middle;
      }
    }

    .body {
      margin: 10px;
      height: calc(100vh - 340px);
    }
  }
}

.trend-icon-info-message {
  background: @ig-lightblue-t2;
  font-size: 14px;
  color: @ig-black;
  border-radius: 4px;
  width: fit-content;
  margin-top: 2px;
  line-height: 18px;
  display: flex;
  padding: 10px;

  .message {
    flex: 1;
  }

  .closeIcon {
    flex: 0;
    vertical-align: top;
    width: 32px;
    margin-left: 10px;
    color: @ig-black;

    .fa-times {
      color: @ig-black;
    }
  }
}