<d3s-modal #popupBox
           additionalClasses="about xlarge-dialog"
           [showTitle]="false"
           (onClose)="onClose.emit();"
           [isVisible]="isVisible"
           tabindex=-1>
    <div class="modal-with-side-panel">
        <div class="modal-dialog-main-panel">
        <div class="content condensed-table">
            <div class="modal-edit-form">
                <div class="title">
                    Match Detection
                </div>
                <div class="grayed-text">
                    <span [innerHtml]="assetPathText"></span>
                </div>
            </div>
            <div class="scrollable-content">
            <ig-property-group *ngIf="showDuplicates"
                               [title]="'Duplicate Fields (Same Type and Matching Data)'"
                               [showHeaderLine]="false"
                               [shouldBePadded]="false"
                               [showMoreInfo]="true"
                               [expanded]="matchType=='data'" 
                               [moreInfoHtml]="'Data is determined to be a match if the total row count, and a small representative sample from each data set are found to be matching.'">
                <div readonly>                    
                    <div class="search-bar">
                        <div class="simple-search">
                            <ig-search-field mode="Keypress"
                                             [(ngModel)]="duplicatesSimpleFilter"
                                             [debounce]="300"
                                             (onSearch)="dtDupli.filterGlobal($event.value, 'contains')">
                            </ig-search-field>
                        </div>
                        <advanced-filtering [loadIdentifier]="getLoadIdentifier('data')" [fieldsObserver]="filterFields$" (onLoad)="onFiltersLoaded('data')" (onChange)="advancedFiltersChanged($event, 'data')"></advanced-filtering>
                        <div class="grid-action-buttons">
                            <div pTooltip="{{(canExportRecords(duplicatesDataTotalCount) ? 'Export to Excel' : 'Export not available for over ' + maxExportRows + ' rows')}}"
                                 tooltipPosition="left"
                                 tooltipStyleClass="ig-tooltip">
                                <button igButton
                                        [disabled]="!canExportRecords(duplicatesDataTotalCount) || isExportInProgress"
                                        icon="fa-download"
                                        [loading]="isExportInProgress"
                                        (click)="export('data')">
                                </button>
                            </div>
                        </div>
                    </div>
                    <p-table #dtDupli
                             [metaKeySelection]="true"
                             selectionMode="multiple"
                             [value]="duplicatesData"
                             [(selection)]="duplicatesSelection"
                             [totalRecords]="duplicatesDataTotalCount"
                             [globalFilterFields]="['Path', 'Tag']"
                             dataKey="uid"
                             [lazy]="true"
                             [pageLinks]="3"
                             [paginator]="true"
                             paginatorDropdownAppendTo="body"
                             [rows]="duplicateRows"
                             [rowsPerPageOptions]="defaultPagingOptions"
                             (onLazyLoad)="lazyLoad($event,'Data')"
                             [loading]="duplicatesDataLoading"
                             [loadingIcon]="'fa fa-spinner fa-spin'"
                             (selectionChange)="selectMatch($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    Asset Path
                                </th>
                                <th>
                                    Tags
                                </th>
                                <th width="50"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>
                                    <span class="item-value" [innerHTML]="formatPath(item.path)"></span>
                                </td>
                                <td *ngIf="item.tags">
                                    <d3s-tag-view [data]="item.tags" [assetUID]="item.uid"></d3s-tag-view>
                                </td>
                                <td *ngIf="!item.tags">
                                    Tag field not found
                                </td>
                                <td>
                                    <button type="button" icon="fa-ellipsis-v" igButton (click)="menu.toggle($event)" [darkMode]="true"></button>
                                    <ig-popup-menu (onSelect)="duplicatesSelection=item;onMenuSelect($event, item)" #menu [tabIndex]="1" [items]="menuItems"></ig-popup-menu>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <d3s-grid-paging-info [first]="dtDupli.first"
                                                  [rows]="dtDupli.rows"
                                                  [totalRecords]="duplicatesDataTotalCount"></d3s-grid-paging-info>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td colspan="4">
                                    No results match your search criteria
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ig-property-group>

            <ig-property-group *ngIf="showSimilar"
                               [title]="'Similar Fields (Same Type)'"
                               [showHeaderLine]="false"
                               [shouldBePadded]="false"
                               [expanded]="matchType=='similar'">
                <div readonly>
                    <div class="search-bar">
                        <div class="simple-search">
                            <ig-search-field mode="Keypress"
                                             [(ngModel)]="similarSimpleFilter"
                                             [debounce]="300"
                                             (onSearch)="dtSimi.filterGlobal($event.value, 'contains')">
                            </ig-search-field>
                        </div>
                        <advanced-filtering [loadIdentifier]="getLoadIdentifier('similar')" [fieldsObserver]="filterFields$" (onLoad)="onFiltersLoaded('similar')" (onChange)="advancedFiltersChanged($event, 'similar')"></advanced-filtering>
                        <div class="grid-action-buttons">
                            <div pTooltip="{{(canExportRecords(similarDataTotalCount) ? 'Export to Excel' : 'Export not available for over ' + maxExportRows + ' rows')}}"
                                 tooltipPosition="left"
                                 tooltipStyleClass="ig-tooltip">
                                <button igButton
                                        [disabled]="!canExportRecords(similarDataTotalCount) || isExportInProgress"
                                        icon="fa-download"
                                        [loading]="isExportInProgress"
                                        (click)="export('similar')">
                                </button>
                            </div>
                        </div>
                    </div>                        
                    <p-table #dtSimi [metaKeySelection]="true"
                             selectionMode="multiple"
                             [value]="similarData"
                             [(selection)]="similarSelection"
                             [totalRecords]="similarDataTotalCount"
                             [globalFilterFields]="['Path','Tag']"
                             dataKey="uid"
                             [rows]="similarRows"
                             [lazy]="true"
                             [pageLinks]="3"
                             [paginator]="true"
                             paginatorDropdownAppendTo="body"
                             [rowsPerPageOptions]="defaultPagingOptions"
                             (onLazyLoad)="lazyLoad($event,'Structure')"
                             [loading]="similarDataLoading"
                             [loadingIcon]="'fa fa-spinner fa-spin'"
                             (selectionChange)="selectMatch($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    Asset Path
                                </th>
                                <th>
                                    Tags
                                </th>
                                <th width="50"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>
                                    <span class="item-value" [innerHTML]="item.path"></span>
                                </td>
                                <td *ngIf="item.tags">
                                    <d3s-tag-view [data]="item.tags" [assetUID]="item.uid"></d3s-tag-view>
                                </td>
                                <td *ngIf="!item.tags">
                                    Tag field not found
                                </td>
                                <td>
                                    <button type="button" icon="fa-ellipsis-v" igButton (click)="menu2.toggle($event)" [darkMode]="true"></button>
                                    <ig-popup-menu (onSelect)="similarSelection=item;onMenuSelect($event, item)" #menu2 [tabIndex]="1" [items]="menuItems"></ig-popup-menu>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <d3s-grid-paging-info [first]="dtSimi.first"
                                                  [rows]="dtSimi.rows"
                                                  [totalRecords]="similarDataTotalCount"></d3s-grid-paging-info>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td colspan="4">
                                    No results match your search criteria
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                        </div>
                    </ig-property-group>
                </div>
            </div>
            <div class="action-bar">
                <span class="grow"></span>
                <button igButton (click)="onClose.emit()" class="ig-button-primary" label="Close"></button>
            </div>
        </div>       
        <div class="side-panel" *ngIf="!isLoading">
            <side-panel (expandedChange)="sidePanelOpen=$event"
                        [expanded]="sidePanelOpen"
                        [selectedPanel]="sidePanelTab"
                        (selectedPanelChange)="sidePanelTab=$event"
                        [selectedItem]="selection"
                        [panelApplies]="panelApplies"
                        [hasProfiling]="true"
                        hasDetail="true"
                        [storageKey]="sidePanelStorageKey"
                        [height]="'calc(100vh - 220px)'"
                        [multipleItemsSelected] ="multipleItemsSelected">
                <ng-container *ngIf="sidePanelOpen && selection != null && sidePanelLoading">
                    <d3s-loading [isLoading]="true"></d3s-loading>
                </ng-container>
                <ng-container *ngIf="sidePanelOpen && selection != null && !sidePanelLoading">
                    <ng-container *ngIf="sidePanelTab === 'dataprofile'">
                        <data-profile [dataProfile]="dataProfile" [isModal]="true" (linkClicked)="changeMatchAsset($event)"></data-profile>
                    </ng-container>
                    <ng-container *ngIf="sidePanelTab === 'detail'">
                        <ig-asset-detail [objectUID]="selection.uid"
                                            objectType="artifact"
                                            [useAccordion]="true"
                                            [shouldBePadded]="false"
                                            [showHeader]="true"
                                            [showHeaderLine]="false"
                                            [spacerHeight]="'16px'"
                                            [paddingLeft]="'11px'"
                                            [tooltipAlign]="'left'"
                                            [isSidePanel]="true"
                                            [hasAddRelationshipsPermissions]="false"
                                            [hasModifyRelationshipsPermissions]="false"
                                            [hasDeleteRelationshipsPermissions]="false"></ig-asset-detail>
                    </ng-container>
                </ng-container>
            </side-panel>
        </div>        
    </div>        
</d3s-modal>
