@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";
@import "../../../../../../Content/styles/_Variables.less";

.ig-property-group {

  &.ig-pg-header-line {
    border-top: 1px solid @ig-grey-t4;
  }

  .ig-pg-header {
    display: inline-flex;
    cursor: pointer;

    &:focus {
      outline: none !important;

      .fa {
        border: 1px solid @ig-lightblue;
        border-radius: 16px;
      }
    }

    .fa {
      height: 16px;
      transition: transform 200ms ease;
      border: 1px solid transparent;
      border-radius: 16px;
      width: 16px;
      padding-left: 1px;

      &.down {
        transform: rotate(90deg);
      }
    }

    .info-tip {
      line-height: 16px;
      cursor: default;

      .fa {
        padding-top: 2px;
        line-height: 10px;
        border: none;
        color: var(--tabLinkColor);
      }
    }

    .pg-title {
      display: inline-flex;
      flex-grow: 1;
      line-height: 16px;
      padding: 0px 0px 0px 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 8px;
      white-space: nowrap;
      display: block;
    }
  }

  .header-wrapper {
    width: 100%;
    position: relative;
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .pg-collapsable-content {
    padding-left: 24px;
    transition: height 200ms ease;
    overflow: inherit;
    height: auto;
    padding-top: 4px;

    &.no-padding {
      padding-left: 0px;
    }

    &.close {
      height: 0px;
      opacity: 0;
      padding-bottom: 0px;
      padding-top: 0px;
      overflow: hidden;
    }
  }
}
