.side-panel-detail {
  .ig-property-group {
    border-top: none !important;

    .header-wrapper {
      border-bottom: 1px solid #d7d8dc;
    }

    .row {
      padding: 4px 0;
    }
  }

  &.no-padding {
    .pg-collapsable-content {
      padding-left: 0 !important;
    }
  }

  .light-text {
    opacity: 1;
    color: #6f7482;
  }

  .fa-copy {
    color: #8a46e4;
    margin-left: 6px;
    cursor: pointer;
  }

  &.details-page {
    padding: 24px;
    position: relative;

    .wd30 {
      width: 30%;
      max-width: 400px;
      display: inline-block;
    }

    .header-edit-button {
      position: absolute;
      right: 10px;
      top: 26px;
      padding-left: 16px;
      background-color: white;
      z-index: 1;
    }
  }
}
