<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ab4c26b1-281d-488b-9657-894d862f9816/resourceGroups/d3s-ui/providers/Microsoft.Web/sites/d3s-ui-eu-north/slots/UAT</ResourceId>
    <ResourceGroup>d3s-ui</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://d3s-ui-eu-north-uat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>d3s-ui-eu-north-uat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>d3s-ui-eu-north__UAT</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$d3s-ui-eu-north__UAT</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="d360.model.CommunityContext" Order="1" Enabled="False">
          <Destination Path="Data Source=db-d3s.cloudapp.net:1521/XE;Persist Security Info=True;User ID=SYSTEM;Password=75htERg!@%9)" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="d360.model.CommunityContext, d360.model" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="d360.model.CompanyContext" Order="2" Enabled="False">
          <Destination Path="Data Source=db-d3s.cloudapp.net:1521/XE;Persist Security Info=True;User ID=SYSTEM;Password=75htERg!@%9)" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="d360.model.CompanyContext, d360.model" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="d360.model.CompanyContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=db-d3s.cloudapp.net:1521/XE;Persist Security Info=True;User ID=SYSTEM;Password=75htERg!@%9)</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="d360.model.CommunityContext-Web.config Connection String">
      <ParameterValue>Data Source=db-d3s.cloudapp.net:1521/XE;Persist Security Info=True;User ID=SYSTEM;Password=75htERg!@%9)</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="d360.model.CommunityContext" />
    <_ConnectionStringsToInsert Include="d360.model.CompanyContext" />
  </ItemGroup>
</Project>