.form-container {
  .p-datatable-wrapper {
    overflow: auto;
    max-height: calc(100vh - 310px);
  }

  .category-picker {
    position: relative;

    .token-popup-menu {
      position: absolute;
      top: 0;
      right: 0;

      button {
        width: 24px;
        height: 24px;
        margin: 4px;
      }
    }
  }

  .flex-form-group {
    display: flex;
    width: 100%;

    &.form-group-2 {
      .field-col {
        width: 50%;
        margin-right: 16px;
      }
    }

    &.form-group-3 {
      .field-col {
        width: 33%;
      }
    }
  }

  .form-group-checkboxes {
    .p-checkbox-label {
      font-weight: normal;
      padding: 8px 0px 8px 4px;
    }
  }

  .form-div {
    max-height: calc(100vh - 249px);
  }

  .field-tooltip {
    top: 0;
    left: 0;
  }

  td {
    &.disabled {
      :hover {
        background-color: transparent;
      }

      .disabled-item {
        color: black;
        opacity: 0.33;
        pointer-events: none;
      }
    }
  }
}

.simple-search {
  padding: 0 0 16px 0;

  ig-search-field {
    width: 100%;
  }
}
