.form-container {
  .p-datatable-wrapper {
    overflow: auto;
    max-height: calc(100vh - 310px);
  }

  .category-picker {
    position: relative;

    .token-popup-menu {
      position: absolute;
      top: 0;
      right: 0;

      button {
        width: 24px;
        height: 24px;
        margin: 4px;
      }
    }
  }

  .flex-form-group {
    display: flex;

    &.form-group-2 {
      .field-col {
        width: 50%;
      }
    }
  }

  .form-group-checkboxes {
    .p-checkbox-label {
      font-weight: normal;
      padding: 8px 0px 8px 4px;
    }
  }

  .form-div {
    max-height: calc(100vh - 249px);
  }
}

.simple-search {
  padding: 0 0 16px 0;

  ig-search-field {
    width: 100%;
  }
}
