.form-container {
  .p-datatable-wrapper {
    overflow: auto;
    max-height: calc(100vh - 310px);
  }

  .category-picker {
    position: relative;

    .token-popup-menu {
      position: absolute;
      top: 0;
      right: 0;

      button {
        width: 24px;
        height: 24px;
        margin: 4px;
      }
    }

    .clear-input-container {
      position: absolute;
      top: 0;
      right: 28px;

      button {
        width: 24px;
        height: 24px;
        margin: 4px;
      }
    }
  }

  .field-col {
    .inline-field {
      .p-radiobutton-label {
        top: 3px;
        margin-right: 20px;
      }
    }
  }

  .flex-form-group {
    display: flex;
    width: 100%;

    &.form-group-2 {
      .field-col {
        width: 50%;
        margin-right: 16px;
      }
    }

    &.form-group-3 {
      .field-col {
        width: 33%;
      }
    }
  }

  .field-tooltip {
    top: 0 !important;
    left: 0 !important;
  }

  .form-group-checkboxes {
    .p-checkbox-label {
      font-weight: normal;
      padding: 8px 0 8px 4px;
    }

    .row {
      padding: 0;
    }

    .field-tooltip {
      top: -5px !important;
      left: 4px !important;
    }
  }

  .form-div {
    max-height: calc(100vh - 249px);
  }

  td {
    &.disabled {
      :hover {
        background-color: transparent;
      }

      .disabled-item {
        color: black;
        opacity: 0.33;
        pointer-events: none;
      }
    }
  }

  .regex-validation {
    display: flex;
    width: 100%;

    div {
      margin-right: 16px;

      &.input-holder {
        width: 50%;
      }

      &.mark {
        line-height: 32px;

        .fa {
          margin-right: 4px;
        }
      }
    }
  }
}

.simple-search {
  padding: 0 0 16px 0;
}
