.grid-wrapper {
  padding: 6px 10px 0 10px;

  .p-datatable-wrapper {
    max-height: calc(100vh - 330px);
    overflow: auto;
  }

  .ig-button-icon-only {
    background: transparent;
  }

  .light-text {
    opacity: 1;
    color: #6f7482;
  }

  tr:focus {
    outline: none;
  }
}

.grid-actions-header {
  padding-top: 16px;
}
