<div class="row">
    <div class="col s12">
        <div class="tile tile-detail">
            <header *ngIf="!showEditor && !showDelete">Predicates
                <d3s-tile-actions [hasAdd]="true" (addClick)="add()" [hasFilterMode]="true"
                                  [(filterMode)]="showSimpleFilter"></d3s-tile-actions>
            </header>
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <span *ngIf="!isLoading && !showDelete && !showEditor">
                    <input type="text" [hidden]="!showSimpleFilter" pInputText size="100"
                           (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="{{searchText}}"
                           class="grid-simple-filter">
                    <p-table #dt [value]="predicates" selectionMode="single" [metaKeySelection]="true"
                             [globalFilterFields]="['Name','Inverse','FriendlyTypeName']" [pageLinks]="3"
                             [paginator]="true" [rows]="20" [(selection)]="selected">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'Name'">
                                    <ng-container i18n>Name</ng-container>
                                    <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                                </th>
                                <th [pSortableColumn]="'Inverse'">
                                    <ng-container i18n>Inverse</ng-container>
                                    <d3s-sortIcon [field]="'Inverse'"></d3s-sortIcon>
                                </th>                                
                                <th [pSortableColumn]="'FriendlyTypeName'">
                                    <ng-container i18n>Functional Type</ng-container>
                                    <d3s-sortIcon [field]="'FriendlyTypeName'"></d3s-sortIcon>
                                </th>
                                <th style="width: 30px"></th>
                                <th style="width: 30px"></th>
                                <th style="width: 30px"></th>
                            </tr>
                            <tr [hidden]="showSimpleFilter">
                                <th><d3s-column-filter [field]="'Name'" [datatype]="'text'"></d3s-column-filter></th>
                                <th><d3s-column-filter [field]="'Inverse'" [datatype]="'text'"></d3s-column-filter></th>
                                <th><d3s-column-filter [field]="'FriendlyTypeName'"
                                                       [datatype]="'text'"></d3s-column-filter></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr (dblclick)="selected=item;showPredicateEditor();" [pSelectableRow]="item">
                                <td>{{item.Name}}</td>
                                <td>{{item.Inverse}}</td>
                                <td>{{item.FriendlyTypeName}}</td>
                                <td>
                                    <div class="RowTools" *ngIf="!item.IsSystem">
                                        <a style="cursor:pointer;" (click)="selected=item;showEditor=true"><i
                                                class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="RowTools" *ngIf="!item.IsUsed && !item.IsSystem">
                                        <a style="cursor:pointer;" (click)="selected=item;showDelete=true"><i
                                                class="fa fa-trash-o"></i></a>
                                    </div> 
                                </td>
                                <td>
                                    <div class="RowTools">
                                        <d3s-preview-tooltip objectType="Predicate" [objectId]="item.Uid" icon="info">
                                        </d3s-preview-tooltip>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows"
                                                  [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                        </ng-template>
                    </p-table>
                </span>
            <d3s-dynamic-editor *ngIf="showEditor" [objectID]="selected?.Uid" [objectType]="'Predicate'"
                                [title]="'Predicate'" [selection]="selected" (saveClick)="savePredicate($event)"
                                (closeClick)="closeEditor()"></d3s-dynamic-editor>
            <d3s-delete-form *ngIf="showDelete"
                             [callback]="theDeleteCallback"
                             [itemId]="selected?.Uid"
                             [method]="'callback'"
                             [prompt]="deletePromptText"
                             (onCancel)="showDelete=false;"
            ></d3s-delete-form>
        </div>
    </div>
</div>