<div id="ContentHeader">
    <div class="PageHeader">
        <div class="row">
            <div class="col l7 m7 s12">
                <h3>{{pageHeader.title}}</h3>
                <div class="PageDescription">{{pageHeader.description}}</div>
                <a [routerLink]="['/Settings']">Settings</a> | 
                <a [routerLink]="['/Domain']">Reference Types</a> |
                <a [routerLink]="['/Workflow']">Workflow</a> |
                <a [routerLink]="['/Groups']">Groups</a>
            </div>
        </div>
    </div>
</div>
<div id="main">
    <router-outlet></router-outlet>
</div>

