.row-header {
  display: flex;
  align-items: center;
}

.fa-copy {
  color: #8a46e4;
  margin-left: 6px;
  cursor: pointer;
}

.ig-value__purple-button {
  background: var(--primaryButtonBackColor);
  border: none;
  height: 26px;
  text-align: center;
  color: #fff;
  cursor: default;
  border-radius: 2px;
}
