<div class="tile tile-detail">
    <header *ngIf="model?.Type?.Name != null && !isLoading">
        {{model.Type.Name}}
    </header>
    <header *ngIf="model?.Type?.Name == null  && !isLoading">
        New Workflow Type
    </header>
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <div class="row" *ngIf="!isLoading">
        <div class="col s12 m4">
            <div class="FieldName">
                Name
            </div>
            <div>
                <input type="text" [ngModel]="model.Type.Name" (ngModelChange)="model.Type.Name = $event; validate();" style="width: 95%" />
            </div>
            <div class="FieldName">
                Change Type
            </div>
            <div>
                <select style="width:95%;" placeholder="Choose a value" [ngModel]="model.Event.ChangeType" (ngModelChange)="model.Event.ChangeType = $event; validate(); loadObjects();">
                    <option></option>
                    <option *ngFor="let i of changesTypes" [value]="i.ID">{{i.Description}}</option>
                </select>
            </div>
            <div class="FieldName">
                Object Type
            </div>
            <div>
                <select style="width:95%;" placeholder="Choose a value" [ngModel]="selectedObjectType" (ngModelChange)="selectObjectType($event)" [disabled]="model.Event.ChangeType == null || +model.Event.ChangeType == 0">
                    <option></option>
                    <option *ngFor="let i of workflowObjectTypes" [value]="i.value">{{i.name}}</option>
                </select>
            </div>
            <div *ngIf="objectType == 'ArtifactType'">
                <div class="FieldName">
                    {{subjectAreaName}}
                </div>
                <div>
                    <select style="width:95%" [(ngModel)]="model.Event.SettingsObject.Settings.TaxonomyTypeID">
                        <option></option>
                        <option *ngFor="let t of taxonomies" [value]="t.ID">{{t.Name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="model.Event.ChangeType == WorkflowChangeType.Schedule">
                <div class="FieldName">
                    Run Frequency (Days)
                </div>
                <div>
                    <input type="number" [ngModel]="model.Event.SettingsObject.Settings.ScheduleInterval" (ngModelChange)="model.Event.SettingsObject.Settings.ScheduleInterval = $event;  validate();" style="width: 95%" />
                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <div *ngIf="selectedObjectType != null && selectedObjectType != ''">
                <div class="FieldName">
                    Conditions
                </div>
                <div>
                    <d3s-workflow-condition-list 
                                                 (removeClick)="remove($event)"
                                                 (addClick)="showCondition()" 
                                                 [conditions]="conditions"></d3s-workflow-condition-list>

                    <div *ngIf="showAddCondition">
                        <d3s-workflow-condition-editor [objectId]="objectId"
                                                       [objectType]="objectType"
                                                       [changeType]="model.Event.ChangeType"
                                                       (onSave)="addCondition($event)"
                                                       (onClose)="showAddCondition = false;">
                        </d3s-workflow-condition-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading && model.Event.ChangeType == WorkflowChangeType.Schedule" style="padding-top: 8px;">
        <div class="col s12">
            <div>
                <input type="checkbox" [(ngModel)]="model.Event.SettingsObject.Settings.SendAggregateEmail" /> Send aggregated email?
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading && model.Event.ChangeType == WorkflowChangeType.Schedule && model.Event.SettingsObject.Settings.SendAggregateEmail == true">
        <div class="col s12 m4 offset-m2">
            <div class="FieldName">
                Subject
            </div>
            <div>
                <input type="text" style="width:100%" [(ngModel)]="model.Event.SettingsObject.Settings.MessageSubjectTemplate" />
            </div>
        </div>
        <div class="col s12 m4">
            <div class="FieldName">
                Recipient Type
            </div>
            <div>
                <select [(ngModel)]="model.Event.SettingsObject.Settings.MessageRecipientType" style="width: 100%">
                    <option *ngFor="let d of destination" [value]="d.value">{{d.label}}</option>
                </select>
            </div>
            <div *ngIf="model.Event.SettingsObject.Settings.MessageRecipientType == 'Responsibility'">
                <div class="FieldName">
                    Responsibility
                </div>
                <div>
                    <select [(ngModel)]="model.Event.SettingsObject.Settings.ResponsibilityTypeID" style="width: 100%">
                        <option></option>
                        <option *ngFor="let r of responsibilities" [value]="r.ResponsibilityTypeID">{{r.Name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="model.Event.SettingsObject.Settings.MessageRecipientType == 'SpecificUser'">
                <div class="FieldName">
                    Recipient
                </div>
                <div>
                    <input type="text" [(ngModel)]="model.Event.SettingsObject.Settings.MessageToUser" style="width: 100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading && model.Event.ChangeType == WorkflowChangeType.Schedule && model.Event.SettingsObject.Settings.SendAggregateEmail == true">
        <div class="col s12 m8 offset-m2">
            <div class="FieldName">
                Body
            </div>
            <div style="width: 100%">
                <p-editor [(ngModel)]="model.Event.SettingsObject.Settings.MessageBodyTemplate" [style]="{'height':'150px'}" #ed2>
                    <header>
                        <d3s-editor-header></d3s-editor-header>
                        <d3s-workflow-template-tool (onItemClick)="appendField($event)"></d3s-workflow-template-tool>
                    </header>
                </p-editor>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">&nbsp;</div>
    </div>
    <div class="row" *ngIf="objectType == 'ArtifactType' && model.Event.ChangeType == WorkflowChangeType.Add && !isLoading">
        <div class="col s12">
            <input type="checkbox" [(ngModel)]="hideObject" /> Hide new objects until workflow runs?
        </div>
    </div>
    <div class="row">
        <div class="col s12"><div class="errorMessage">{{errorMessage}}</div></div>
    </div>
    <div class="row" style="padding-top: 8px;">
        <div class="col s12">
            <div>
                <button type="button" pButton label="Cancel" (click)="onClose.emit()"></button>
                <button type="button" pButton label="Next" (click)="save()" [disabled]="!isValid || isLoading"></button>
            </div>
        </div>
    </div>
</div>