<div class="tile tile-detail">
    <header>
        New Workflow Type
    </header>
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <div class="row" *ngIf="!isLoading">
        <div class="col s12 m4">
            <div class="FieldName">
                Name
            </div>
            <div>
                <input type="text" [(ngModel)]="model.Type.Name" style="width: 95%" />
            </div>
            <div class="FieldName">
                Change Type
            </div>
            <div>
                <select style="width:95%;" placeholder="Choose a value" [(ngModel)]="model.Event.ChangeType">
                    <option></option>
                    <option *ngFor="let i of changesTypes" [value]="i.ID">{{i.Description}}</option>
                </select>
            </div>
            <div class="FieldName">
                Object Type
            </div>
            <div>
                <select style="width:95%;" placeholder="Choose a value" [ngModel]="selectedObjectType" (ngModelChange)="selectObjectType($event)">
                    <option></option>
                    <option *ngFor="let i of workflowObjectTypes" [value]="i.value">{{i.name}}</option>
                </select>
            </div>
            <div *ngIf="objectType == 'ArtifactType'">
                <div class="FieldName">
                    {{subjectAreaName}}
                </div>
                <div>
                    <select style="width:95%" [(ngModel)]="model.Event.SettingsObject.Settings.TaxonomyTypeID">
                        <option></option>
                        <option *ngFor="let t of taxonomies" [value]="t.ID">{{t.Name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="model.Event.ChangeType == WorkflowChangeType.Schedule">
                <div class="FieldName">
                    Interval
                </div>
                <div>
                    <input type="number" [(ngModel)]="model.Event.SettingsObject.Settings.ScheduleInterval" style="width: 95%"/>
                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <div *ngIf="selectedObjectType != null && selectedObjectType != ''">
                <div class="FieldName">
                    Conditions
                </div>
                <div>
                    <header>
                        &nbsp;
                        <d3s-tile-actions hasAdd="true" (addClick)="showCondition()"></d3s-tile-actions>
                    </header>
                    <p-dataTable [value]="conditions" selectionMode="single">
                        <p-column field="@FieldName" header="Field Name"></p-column>
                        <p-column field="@Operator" header="Operator"></p-column>
                        <p-column field="@Value" header="Value"></p-column>
                        <p-column>
                            <template let-item="rowData" pTemplate type="body">
                                <div class="RowTools">
                                    <a style="cursor:pointer;" (click)="remove(item)"><i class="fa fa-trash"></i></a>
                                </div>
                            </template>
                        </p-column>
                    </p-dataTable>

                    <div *ngIf="showAddCondition">
                        <d3s-workflow-condition-editor [objectId]="objectId"
                                                       [objectType]="objectType"
                                                       (onSave)="addCondition($event)"
                                                       (onClose)="showAddCondition = false;">
                        </d3s-workflow-condition-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">&nbsp;</div>
    </div>
    <div class="row" *ngIf="objectType == 'ArtifactType' && model.Event.ChangeType == WorkflowChangeType.Add">
        <div class="col s12">
            <input type="checkbox" [(ngModel)]="hideObject" /> Hide new objects until workflow runs?
        </div>
    </div>
    <div class="row">
        <div class="col s12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col s12">
            <div>
                <button type="button" pButton label="Cancel" (click)="onClose.emit()"></button>
                <button type="button" pButton label="Next" (click)="save()" [disabled]="model.Type.Name == null || model.Type.Name == '' || model.Event.ChangeType == null || selectedObjectType == null || (model.Event.ChangeType == WorkflowChangeType.Schedule && conditions.length < 1)"></button>
            </div>
        </div>
    </div>
</div>