<header *ngIf="!showEditor && !showDelete && !showResetPwd">
    {{UserListHeading}}
</header>
<d3s-loading [isLoading]="isLoading && IsReadOnly() && (showDelete || showEditor || showResetPwd)"></d3s-loading>
<div *ngIf="!showDelete && !showEditor && !showResetPwd">
    <div class="grid-actions-header">
        <div class="simple-search">
            <ig-search-field mode="Keypress"
                             [debounce]="600"
                             (onSearch)="getData()"
                             [(ngModel)]="simpleFilter"
                             [infoTooltip]="simpleSearchTooltipHTML">
            </ig-search-field>
        </div>
        <advanced-filtering [loadIdentifier]="getLoadIdentifier()" [fieldsObserver]="filterFields$" (onLoad)="onFiltersLoaded()" (onChange)="advancedFiltersChanged($event)"></advanced-filtering>
        <div class="grid-action-buttons">
            <button *ngIf="hasAddAssetPermissions() && IsReadOnly()"
                    igButton
                    pTooltip="Add new user"
                    tooltipPosition="top"
                    tooltipStyleClass="ig-tooltip"
                    class="ig-button-primary"
                    icon="fa-plus"
                    (click)="add()">
            </button>

            <div pTooltip="{{(canExportRecords() ? 'Export to Excel' : 'Export not available for over ' + maxExportRows + ' rows')}}"
                    tooltipPosition="left"
                    tooltipStyleClass="ig-tooltip">
                <button igButton
                        [disabled]="!canExportRecords() || isExportInProgress"
                        icon="fa-download"
                        [loading]="isExportInProgress"
                        (click)="export()">
                </button>
            </div>
        </div>
    </div>
    <div class="grid-table-wrapper">
        <p-table #dt
                 [loading]="isLoading"
                 loadingIcon="fa fa-spinner"
                 [scrollable]="true"
                 scrollWidth="100%"
                 [lazy]="true"
                 (onLazyLoad)="lazyLoadUsers($event)"
                 [totalRecords]="totalRecords"
                 [value]="items"
                 selectionMode="single"
                 [metaKeySelection]="true"
                 [globalFilterFields]="globalFilterFields"
                 [pageLinks]="3"
                 [paginator]="true"
                 [rows]="rowsPerPage"
                 [rowsPerPageOptions]="defaultPagingOptions"
                 [(selection)]="selected"
                 (selectionChange)="selected=$event;selectedChange.emit(selected);"
                 (onPage)="numberOfRowsByCategoryService.onPage($event, UserListHeading)">
            <ng-template pTemplate="header">
                <tr>

                    <th *ngFor="let column of columns"
                        [pSortableColumn]="column.sortable ? column.datafield : null"
                        [style.width]="setStyleWidth(column.datafield)">
                        {{column.text}}
                        <d3s-sortIcon *ngIf="column.sortable" [field]="column.datafield"></d3s-sortIcon>
                    </th>
                    <th style="width: 40px" *ngIf="hasModifyAssetPermissions() && IsReadOnly()"></th>
                    <th style="width: 40px" *ngIf="hasDeleteAssetPermissions() && IsReadOnly()"></th>
                    <th style="width: 40px" *ngIf="hasModifyAssetPermissions() && allowPasswordReset  && IsReadOnly()"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">

                    <td *ngFor="let column of columns" [style.width]="setStyleWidth(column.datafield)">
                        <ng-container [ngSwitch]="column.datafield">
                            <ng-container *ngSwitchCase="'FirstName'">
                                <a *ngIf="item.State === 'Active'" (click)="openResource(item)">{{item.FirstName}}</a>
                                <span *ngIf="item.State !== 'Active'">{{item.FirstName}}</span>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <d3s-dynamic-field-value [column]="column"
                                                        [fields]="fields" [item]="item" [useApiName]="true" [isDateUTC]="true"></d3s-dynamic-field-value>
                            </ng-container>
                        </ng-container>
                    </td>
                    <td *ngIf="hasModifyAssetPermissions()  && IsReadOnly()" style="width: 40px">
                        <div class="RowTools" *ngIf="item.ResourceID > 0">
                            <a style="cursor:pointer;" (click)="selected=item;showEditor=true;">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </td>
                    <td *ngIf="hasDeleteAssetPermissions()  && IsReadOnly()" style="width: 40px">
                        <div class="RowTools" *ngIf="item.ResourceID > 0">
                            <a style="cursor:pointer;" (click)="selected=item;showDelete=true;">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </td>
                    <td *ngIf="hasModifyAssetPermissions() && allowPasswordReset  && IsReadOnly()" style="width: 40px">
                        <div class="RowTools" *ngIf="item.ResourceID>0">
                            <a title="Reset Password" style="cursor:pointer;"
                               (click)="selected=item;showResetPwd=true;">
                                <i class="fa fa-asterisk fa-fw"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows"
                                      [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
            </ng-template>
        </p-table>
    </div>
</div>
    <span *ngIf="showResetPwd  && !isLoading  && IsReadOnly()">
        <header>Reset Users Password</header>
        <div class="row">
            <div class="col s12">
                Are you sure you would like to reset the password for [{{selected.FirstName}} {{selected.LastName}}
                ]
            </div>
            <div class="col s12">&nbsp;</div>
            <div class="col s12">
                <button pButton type="button" (click)="resetPassword()" label="Reset Password"
                        style="width: 150px;"></button>
                <button pButton type="button" (click)="showResetPwd=false" label="Cancel"
                        style="width: 150px;"></button>
            </div>
        </div>
    </span>
    <d3s-dynamic-editor *ngIf="showEditor && !isLoading" [objectID]="objectID" objectType="ResourceType" title="Resource"
                        [selection]="selected" [useV2ApiLink]="true" rowID="ResourceID" (saveClick)="saveUser($event)"
                        [selectedObject]="'Resource'" [selectedObjectID]="selected?.ResourceID"
                        (closeClick)="closeEditor()"></d3s-dynamic-editor>
    <d3s-delete-form *ngIf="showDelete  && !isLoading"
                     [callback]="theDeleteCallback"
                     [itemId]="selected?.ResourceID"
                     method="callback"
                     [prompt]="'Are you sure you want to delete the user [' + selected.FirstName + ' ' + selected.LastName + ']?'"
                     (onCancel)="showDelete=false;"></d3s-delete-form>
