.grid-actions-header {
  display: inline-flex;
  padding: 0 10px 16px;
  width: 100%;

  .grid-action-buttons {
    div {
      display: inline-block;
    }

    button {
      margin-left: 8px;
    }
  }

  &.hidden {
    display: none;
  }

  .simple-search {
    width: 200px;
  }
}

.grid-table-wrapper {
  padding: 0 10px;
}
