<?xml version="1.0"?>
<!--
This file added in reference to the Telerik Reporting error:
http://www.telerik.com/support/kb/reporting/details/webrole-starts-cycling-after-deploying-to-windows-azure

In order to deploy this app to Windows Azure, Inteliitrace must be disbaled if you want to successfully use the Reporting for Telerik:
http://www.telerik.com/support/kb/reporting/details/operation-could-destabilize-the-runtime-exception-occurs-when-running-on-windows-azure
-->
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>
