<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ResourceSuffix" value=".min" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="security:surpressApiErrorDetails" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <trace enabled="false" xdt:Transform="Replace"/>
    <authentication>
      <forms requireSSL="true" xdt:Transform="SetAttributes" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>