<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ResourceSuffix" value=".min" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UseRawCompression" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AppInsightsInstrumentationKey" value="03da9317-3914-4128-97f5-22cb9ce90b78" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EventBusTopicName" value="events-nightly" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BulkLoadQueue" value="d3s-bulkload-nightly" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FusionLoadQueue" value="fusion-queue-nightly" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cdn:enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cdn:url" value="https://cdn.data3sixty.com/dev-nightly" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <trace enabled="false" xdt:Transform="Replace"/>
    <authentication>
      <forms requireSSL="true" xdt:Transform="SetAttributes" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
              redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>