<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ResourceSuffix" value=".min" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UseRawCompression" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AppInsightsInstrumentationKey" value="03da9317-3914-4128-97f5-22cb9ce90b78" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EventBusTopicName" value="events-nightly" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cdn:enabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cdn:url" value="https://cdn.data3sixty.com/dev-nightly" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication>
      <forms requireSSL="true" xdt:Transform="SetAttributes" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>