<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ResourceSuffix" value=".min" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UseRawCompression" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AppInsightsInstrumentationKey" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="EventBusTopicName" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="EventBusTopicEnabled" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="AssetGraphQueue" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="BulkLoadQueue" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="CacheQueue" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="DisplayValueQueue" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="IntegrationQueue" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="ScoringQueue" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="SearchIndexQueue" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="cdn:enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cdn:url" value="https://cdn.data3sixty.com/dev-nightly" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="security:surpressApiErrorDetails" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <trace enabled="false" xdt:Transform="Replace"/>
    <authentication>
      <forms requireSSL="true" xdt:Transform="SetAttributes" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>