<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ResourceSuffix" value=".min" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UseRawCompression" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AppInsightsInstrumentationKey" value="bf1917be-5223-4b0e-a376-99ae4947b47d" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication>
      <forms requireSSL="true" xdt:Transform="SetAttributes" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>