<div class="dayofweek-input">
    <div *ngIf="label.length > 0" class="dayofweek-label">{{label}}</div>
    <ul class="dayofweek-days">
        <li *ngFor="let i of week">
            <p-checkbox
                    igCheckbox
                    [disabled]="disabled"
                    [(ngModel)]="days[i]"
                    (click)="recalc()"
                    [binary]="true"
                    [label]="displayDayName(i)">
            </p-checkbox>
        </li>
    </ul>
</div>
              