.dayofweek-label {
    margin-right: 2em;
    float: left;
}

ul {
    &.dayofweek-days {
        column-width: 6em;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &.dayofweek-days li p-checkbox {
        height: 21px;
    }
}
