@import "../../../../Content/styles/infogix-ui/infogix-ui.less";

///new search panel
.search-page-full {
  margin-top: -15px;
  margin-left: -11px;
  margin-right: -11px;

  .title-bar.search {
    margin-right: 0;
    margin-left: 0;
    white-space: nowrap;

    .tile {
      z-index: 1;
      top: -10px;
      box-shadow: none;
    }

    /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
    .titlebar-search ::ng-deep {
      width: 100%;
      height: 32px;
      flex-wrap: nowrap;
      display: flex;

      .field {
        display: inline;

        input {
          &:focus {
            outline: none;
            border: none;
            box-shadow: none;
          }
        }

        &:focus-within {
          border: 1px solid @ig-midblue-t3;
        }
      }

      i {
        cursor: pointer;
      }
    }

    .mr10 {
      margin-right: 10px;
    }

    h1 {
      flex-shrink: 0;
    }

    .icon {
      position: relative;
      right: 0;
      min-width: unset;
    }
  }
}

.search-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: hidden;
  min-height: 500px;
  height: calc(100vh - 110px);
  padding: 10px;

  .search-content {
    display: inline-flex;
    flex-direction: column;
    background: @ig-white;
    flex-grow: 1;
    width: 100%;
    border: solid 1px rgba(185, 192, 197, 0.7);
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
    min-width: 200px;

    .filterbar {
      padding: 15px;
    }

    .cardlist {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      overflow-y: auto;
      padding-right: 15px;
      padding-left: 15px;

      .search-nodata {
        border: solid 1px rgba(185, 192, 197, 0.7);
      }
    }

    .grow {
      flex-grow: 1;
    }
  }

  .side-panel {
    height: 100%;
  }
}
