<div class="search-page-full">
    <div #title class="title-bar search">
        <div class="title">
            <span class="d3s-icon asset-icon"><i class="fa fa-search"></i></span>
            <h1>Search Results</h1>
            <div class="titlebar-search">
                <div class="field grow mr10">
                    <d3s-header-typeahead-search [additionalCssClasses]="'gov-search'"
                                                 [autocompletePlaceholder]="'What are you looking for?'"
                                                 [searchOptions]="searchTypes"
                                                 [defaultValue]="searchText"
                                                 [isExactMatch]="isExactMatch"
                                                 [keepFilter]="true">
                    </d3s-header-typeahead-search>
                </div>
            </div>
        </div>
    </div>
    <div class="search-container">
        <div class="search-content">
            <div class="filterbar">
                <advanced-filtering #advancedFilter
                                    [loadIdentifier]="'GlobalSearch'"
                                    [fieldsObserver]="filterFields$"
                                    [externalStorage]="getSavedFilters()"
                                    [enableFilterSaving]="false"
                                    (onLoad)="onFiltersLoaded()"
                                    (onChange)="advancedFiltersChanged($event)">
                </advanced-filtering>
            </div>
            <div class="cardlist">
                <div *ngIf="!(searchStateService.loading | async) && (searchStateService.resultCount | async) == 0">
                    <div class="row">
                        <div class="tile tile-detail search-nodata">
                            <header>Your search did not find any results.</header>
                            <span style="padding-left:15px">Suggestions:</span>
                            <ul>
                                <li>Check your spelling</li>
                                <li>Try broader search criteria</li>
                                <li>Try a different keyword</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="!(searchStateService.loading | async)">
                    <div *ngFor="let result of searchStateService.results | async">
                        <d3s-search-result-item [result]="result" [selection]="selection" (onSelect)="resultSelected($event)"></d3s-search-result-item>
                    </div>
                </ng-container>
                <d3s-loading [isLoading]="(searchStateService.loading | async)"></d3s-loading>
            </div>
            <d3s-paginator [page]="searchStateService.pageNumber | async" [rows]="resultsPerPage" [totalRecords]="searchStateService.resultCount | async" (onPageChange)="paginate($event)" [hideLastButton]="true"></d3s-paginator>
        </div>
        <div class="tile tile-detail side-panel">
            <side-panel (expandedChange)="sidePanelOpen=$event"
                        (selectedPanelChange)="sidePanelTab=$event"
                        [expanded]="sidePanelOpen"
                        [selectedItem]="selection"
                        [panelApplies]="panelApplies"
                        hasProfiling="true"
                        hasDetail="true"
                        [height]="'calc(100vh - 200px)'"
                        [extraButtons]="extraButtons"
                        [storageKey]="sidePanelStorageKey">
                <ng-container *ngIf="sidePanelOpen && selection != null && sidePanelLoading">
                    <d3s-loading [isLoading]="true"></d3s-loading>
                </ng-container>
                <ng-container *ngIf="sidePanelOpen && sidePanelTab === 'filters'">
                    <d3s-check-tree #catagoryFilter
                        [loading]="(searchStateService.treeLoading | async)"
                        [value]="searchStateService.categories | async"
                        [(selection)]="searchStateService.selectedFilters"
                        (selectionChange)="filterCheckTree($event)"
                        [emptyMessage]="'No categories found'">
                    </d3s-check-tree>
                </ng-container>
                <ng-container *ngIf="sidePanelOpen && selection?.AssetUid != null && !sidePanelLoading">
                    <ng-container *ngIf="sidePanelTab === 'dataprofile' && selection?.HasProfiling">
                        <data-profile [dataProfile]="dataProfile"></data-profile>
                    </ng-container>
                    <ng-container *ngIf="sidePanelTab === 'detail'">
                        <ig-asset-detail [objectUID]="selection.AssetUid"
                                         [objectType]="selection.ObjectType"
                                         [useAccordion]="true"
                                         [shouldBePadded]="false"
                                         [showHeader]="true"
                                         [showHeaderLine]="false"
                                         [spacerHeight]="'16px'"
                                         [paddingLeft]="'11px'"
                                         [tooltipAlign]="'left'"
                                         [isSidePanel]="true"
                                         [hasAddRelationshipsPermissions]="false"
                                         [hasModifyRelationshipsPermissions]="false"
                                         [hasDeleteRelationshipsPermissions]="false"></ig-asset-detail>
                    </ng-container>
                </ng-container>
            </side-panel>
        </div>
    </div>
<d3s-loading [isLoading]="isLoading"></d3s-loading>