<div class="row">
    <div class="col s12">
        <div class="tile tile-detail">
            <header>
                <ng-container i18n>Endpoint:</ng-container> {{endpoint?.Name}}
            </header>
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <div *ngIf="!isLoading"
                 class="row">
                <div class="col l6 s12">
                    <div class="row">
                        <div class="col l6 s12">
                            <div class="FieldName"><ng-container i18n>URI Segment</ng-container></div>
                            <div>{{endpoint?.UriPrefix}}</div>
                        </div>
                        <div class="col l6 s12">
                            <div class="FieldName">#<ng-container i18n>Versions</ng-container></div>
                            <div>{{numberOfVersions}}</div>
                        </div>
                        <div class="col l6 s12">
                            <div class="FieldName"><ng-container i18n>Service</ng-container></div>
                            <div>{{service?.Name}}</div>
                        </div>
                        <div class="col l6 s12">
                            <div class="FieldName"><ng-container i18n>Path so far</ng-container></div>
                            <div>{{service?.UriPrefix}}/{{endpoint?.UriPrefix}}</div>
                        </div>
                        <div class="col s12">
                            <div class="FieldName">Description</div>
                            <div [innerHtml]="service.Description"></div>
                        </div>
                    </div>
                </div>
                <div class="col l6 s12">
                    &nbsp;<!-- endpoint service metrics chart goes here-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!isLoading">
    <div class="col l4 s12">
        <d3s-admin-api-endpoint-versions [endpoint]="endpoint"
                                         [(selected)]="version"
                                         [(numberOfVersions)]="numberOfVersions"></d3s-admin-api-endpoint-versions>
    </div>
    <div class="col l8 s12"
         *ngIf="version!=null">
        <div class="row">
            <div class="col s12">
                <d3s-admin-api-endpoint-version-fields [version]="version"></d3s-admin-api-endpoint-version-fields>
            </div>
            <div class="col s12">
                <d3s-admin-api-endpoint-version-uritypes [version]="version"></d3s-admin-api-endpoint-version-uritypes>
            </div>
        </div>
    </div>
</div>
