<div class="tile tile-detail">
    <header *ngIf="!showEditor && !showDelete && !showDelete">
        <ng-container i18n>Namespaces</ng-container>
        <d3s-tile-actions (addClick)="selected=null;showEditor=true;"
                          [(filterMode)]="showSimpleFilter"
                          [hasAdd]="true"
                          [hasFilterMode]="true"></d3s-tile-actions>
    </header>
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <span *ngIf="!isLoading && !showDelete && !showEditor">
        <input (input)="dt.filterGlobal($event.target.value, 'contains')"
               [hidden]="!showSimpleFilter"
               class="grid-simple-filter"
               pInputText
               placeholder="{{searchText}}"
               size="100"
               type="text" />
        <p-table #dt
                 [(selection)]="selected"
                 [globalFilterFields]="['Node','Namespace']"
                 [pageLinks]="3"
                 [paginator]="true"
                 [rows]="10"
                 [sortOrder]="1"
                 [value]="fields"
                 selectionMode="single"
                 sortField="Name">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'Node'">
                        <ng-container i18n>Element Name</ng-container>
                        <d3s-sortIcon [field]="'Node'"></d3s-sortIcon>
                    </th>
                    <th [pSortableColumn]="'Namespace'">
                        <ng-container i18n>Namespace</ng-container>
                        <d3s-sortIcon [field]="'Namespace'"></d3s-sortIcon>
                    </th>
                    <th style="width: 35px"></th>
                    <th style="width: 35px"></th>
                </tr>
                <tr [hidden]="showSimpleFilter">
                    <th>
                        <d3s-column-filter [datatype]="'text'"
                                           [field]="'Node'"></d3s-column-filter>
                    </th>
                    <th>
                        <d3s-column-filter [datatype]="'text'"
                                           [field]="'Namespace'"></d3s-column-filter>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template let-item
                         pTemplate="body">
                <tr (dblclick)="selected=item;showEditor=true"
                    [pSelectableRow]="item">
                    <td>{{item.Node}}</td>
                    <td>{{item.Namespace}}</td>
                    <td>
                        <div class="RowTools">
                            <a (click)="selected=item;showEditor=true;"
                               style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="RowTools">
                            <a (click)="selected=item;showDelete=true;"
                               style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template *ngIf="dt.totalRecords"
                         pTemplate="summary">
                <d3s-grid-paging-info [first]="dt.first"
                                      [rows]="dt.rows"
                                      [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
            </ng-template>
        </p-table>
    </span>
    <d3s-dynamic-editor (closeClick)="showEditor=false"
                        (saveClick)="saveField($event)"
                        *ngIf="showEditor"
                        [objectID]="selected?.ID"
                        [objectType]="'Namespace'"
                        [parentID]="serviceId"
                        [selection]="selected"
                        [title]="editorTitle"></d3s-dynamic-editor>
    <d3s-delete-form (onCancel)="showDelete=false;"
                     *ngIf="showDelete"
                     [callback]="theDeleteCallback"
                     [itemId]="selected?.ID"
                     [prompt]="deleteModalTitle"
                     method="callback"></d3s-delete-form>
</div>
