
<div class="browser-relationship-editor">
    <div>
        <button (click)="prepopulateSourceAssets()">Populate source assets</button>
        <button (click)="prepopulateSearchResult()">Populate source search results</button>
        <button (click)="addSourceAssetFilter()">Add filters to source assets</button>
    </div>
    <br/>
    <br/>

    <span class="title">Source Assets</span>
    <d3s-asset-search [multiSelect]="true"
                      [showPredicateSelector]="true"
                      [predicateSelectorType]="predicateType"
                      [selected]="sourceAssets"
                      [prepopulatedResults]="sourcePrePop"
                      [multiSelectStyle]="'Button'"
                      [relationshipSide]="1"
                      [clearResultsAfterSelection]="false"
                      [multiSelectButtonLabel]="'Add source'"
                      [filters]="sourceAssetFilters"
                      (selectedChange)="onAssetSearchSelection($event)">
    </d3s-asset-search>

    <span class="title">Transformation</span>
    <d3s-asset-search [multiSelect]="false"
                      [predicateSelectorType]="predicateType"
                      [selected]="transformationAsset"
                      [clearResultsAfterSelection]="true"
                      [placeholder]="'Choose or create a transformation...'"
                      (selectedChange)="onAssetSearchSelection($event)">
    </d3s-asset-search>

    <span class="title">Target Assets</span>
    <d3s-asset-search [multiSelect]="true"
                      [showPredicateSelector]="true"
                      [predicateSelectorType]="predicateType"
                      [selected]="targetAssets"
                      [relationshipSide]="0"
                      [clearResultsAfterSelection]="false"
                      [multiSelectStyle]="'CheckBox'"
                      [multiSelectButtonLabel]="'Add target'"
                      (selectedChange)="onAssetSearchSelection($event)">
    </d3s-asset-search>
</div>