@import '../../../../../Content/styles/_Variables.less';

.p-datatable-wrapper table {
  table-layout: unset !important;
}

.asset-detail {
  .header-wrapper {
    border-bottom: 1px solid @ig-grey-t4;
  }

  .category-column {
    margin-top: 12px;
  }
}

.config-details-page {
  padding: 24px;
  position: relative;

  .column-Name,
  .column-DisplayFormat,
  .column-ShowDescriptiononListPage,
  .column-DescriptionButtonName,
  .column-Collapsedbydefault,
  .column-BackgroundColor,
  .column-Icon,
  .column-PredicatetoParent,
  .column-AutoDisplayOwnerParent,
  .column-EditParent,
  .column-FlowObjectType {
    width: 30%;
    max-width: 400px;
    display: inline-block;
  }

  .header-edit-button {
    position: absolute;
    right: 10px;
    top: 26px;
    padding-left: 16px;
    background-color: white;
    z-index: 1;
  }
}
