<div class="row">
    <div class="col l3 m12 s12">
        <div class="tile tile-detail">
            <header>
                Fusion
                <d3s-tile-actions [hasAdd]="true" (addClick)="add();" *ngIf="formMode == FormMode.Default"></d3s-tile-actions>
            </header>
            <input type="text" [hidden]="!showSimpleFilter" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter">
            <p-table #dt [value]="fusionTypes" selectionMode="single" [globalFilterFields]="['Name']" [paginator]="true" [rows]="20" [(selection)]="selectedRow" (onRowSelect)="selectedItemChange()" [metaKeySelection]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'Name'" style="width:75%">
                            Name
                            <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                        </th>
                        <th style="width: 40px"></th>
                        <th style="width: 40px"></th>
                    </tr>
                    <tr [hidden]="showSimpleFilter">
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td>{{item.Name}}</td>
                        <td>
                            <div class="RowTools">
                                <a (click)="selectedRow = item; edit();" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a (click)="selectedRow = item; delete();" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col l9 m12 s12" *ngIf="formMode == FormMode.Default && selectedRow">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="tile tile-detail">
                    <object-detail [objectType]="'FusionType'" [objectID]="selectedRow?.ID"></object-detail>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="tile tile-detail">
                    <d3s-fusion-configuration-tile [fusionType]="selectedRow"></d3s-fusion-configuration-tile>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <d3s-field-definition-tile [objectName]="selectedRow?.Name" [objectType]="'FusionType'" [objectID]="selectedRow?.ID" [assetTypeUid]="selectedRow?.uid"></d3s-field-definition-tile>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <d3s-fusion-attributes-tile [fusionType]="selectedRow" [title]="'Structure for ' + selectedRow?.Name"></d3s-fusion-attributes-tile>
                </div>
            </div>
        </div>
    </div>

    <div class="col l9 m12 s12" *ngIf="formMode == FormMode.Adding || formMode == FormMode.Editing">
        <form #fusionForm="ngForm" (ngSubmit)="save()">
            <div class="tile tile-detail">
                <header *ngIf="formMode == FormMode.Adding">Add Fusion Type</header>
                <header *ngIf="formMode == FormMode.Editing">Edit {{newFusionType.Name}}</header>
                <div class="row">
                    <div class="col s12">
                        <div class="FieldName">Name</div>
                        <input type="text" style="width:98%" [(ngModel)]="newFusionType.Name" name="name" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="FieldName">Description</div>
                        <p-editor [(ngModel)]="newFusionType.Description" name="description"></p-editor>
                    </div>
                </div>                
                <div class="FieldName">Background Color</div>
                <div class="row">
                    <div class="col s12">
                        <p-colorPicker [(ngModel)]="newFusionStyle.IconBackColor" name="iconbackcolor"></p-colorPicker>
                        <input type="text" [(ngModel)]="newFusionStyle.IconBackColor" name="iconbackcolortext" style="padding:2px;" />
                    </div>                    
                    <div class="col s12">
                        <div class="FieldInstructions">Sets the text color of icons representing items of this type within diagrams.</div>
                    </div>
                </div>
                <div class="FieldName">Text Color</div>
                <div class="row">
                    <div class="col s12">
                        <p-colorPicker [(ngModel)]="newFusionStyle.IconForeColor" name="iconforcolor"></p-colorPicker>
                        <input type="text" [(ngModel)]="newFusionStyle.IconForeColor" name="iconforcolortext" style="padding:2px;" />
                    </div>                    
                    <div class="col s12">
                        <div class="FieldInstructions">Sets the text color of icons representing items of this type within diagrams.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">                            
                            <div *ngIf="newFusionStyle.IconForeColor == ''" class="errorMessage">Foreground color cannot be the blank.</div>
                            <div *ngIf="newFusionStyle.IconBackColor == ''" class="errorMessage">Text color cannot be the blank.</div>
                            <div *ngIf="newFusionStyle.IconForeColor == newFusionStyle.IconBackColor" class="errorMessage">Foreground and background color cannot be the same</div>
                        </div>
                </div>
                <div class="row">
                    <div class="col s12" style="padding-top:10px;">
                        <button pButton type="submit" label="Save" [disabled]="!fusionForm.form.valid || (newFusionStyle.IconForeColor == newFusionStyle.IconBackColor) || newFusionStyle.IconForeColor == '' || newFusionStyle.IconBackColor == ''"></button><button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default;"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col l9 m12 s12" *ngIf="formMode == FormMode.Deleting">
        <div class="tile tile-detail">
            <d3s-delete-form [uri]="'/form/DeleteFusionTypeByID?id=' + selectedRow.ID"
                            [method]="'delete'"
                            [prompt]="'Are you sure you want to delete the ' + selectedRow.Name + ' fusion type?'"
                            (onDeleteSuccess)="formMode = FormMode.Default; load();"
                            (onCancel)="formMode = FormMode.Default;">
            </d3s-delete-form>
        </div>
    </div>
</div>
