<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading" [ngSwitch]="formMode">
    <div *ngSwitchDefault>
        <header>
            {{title}}
            <d3s-tile-actions hasClose="true" (closeClick)="onClose.emit()" [hasAdd]="true" (addClick)="formMode=FormModeConfig.Adding;" [hasFilterMode]="false" [(filterMode)]="showSimpleFilter"></d3s-tile-actions>
        </header>
        <!--<input #gb [hidden]="!showSimpleFilter" type="text" pInputText size="100" placeholder="Search..." class="grid-simple-filter">-->
        <p-dataTable #dt scrollable="true" scrollWidth="100%" [value]="fusionConfigurationSchedules" [rows]="20" [paginator]="true" [editable]="true">
            <!--<footer *ngIf="dt.totalRecords"><d3s-grid-paging-info [totalRecords]="dt.totalRecords" [first]="dt.first" [rows]="dt.rows"></d3s-grid-paging-info></footer>-->
            <p-column field="Day" header="Day" [editable]="true"></p-column>
            <p-column field="Time" header="Time" [editable]="true"></p-column>
            <p-column field="FullRefresh" header="Full Refresh?" [editable]="true"></p-column>
            <!--<p-column [style]="{ 'width': '30px' }">
                <template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="selectedRow = item; formMode = FormModeConfig.Deleting" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                    </div>
                </template>
            </p-column>-->
        </p-dataTable>
    </div>
</div>
