<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading" [ngSwitch]="formMode">
    <div *ngSwitchDefault>
        <header>{{title}}<d3s-tile-actions [hasAdd]="true" (addClick)="formMode=FormModeConfig.Adding;" [hasFilterMode]="true" [(filterMode)]="showSimpleFilter"></d3s-tile-actions></header>
        <input #gb [hidden]="!showSimpleFilter" type="text" pInputText size="100" placeholder="Search..." class="grid-simple-filter">
        <p-dataTable #dt scrollable="true" scrollWidth="100%" [globalFilter]="gb" [value]="fusionConfigurations" selectionMode="single" (onRowSelect)="selectedRow = $event.data;" (onRowDblclick)="openFusion($event.data);" [rows]="20" [paginator]="true">
            <p-footer *ngIf="dt.totalRecords"><d3s-grid-paging-info [totalRecords]="dt.totalRecords" [first]="dt.first" [rows]="dt.rows"></d3s-grid-paging-info></p-footer>
            <ng-container *ngFor="let column of columns">  
                <ng-container *ngIf="column.datafield=='Enabled'; then ifContent else elseContent"></ng-container>
                <ng-template #ifContent >
                    <p-column [field]="column.datafield" [header]="column.text" [style]="{ 'width': '200px' }" [filter]="!showSimpleFilter">
                        <ng-template let-col="column" let-item="rowData" pTemplate type="body">
                            <span><i *ngIf="item.Enabled" class="fa fa-check enabled" title="True"></i></span>
                            <span><i *ngIf="!item.Enabled" class="fa fa-times disabled" title="False"></i></span>
                        </ng-template>
                    </p-column>
                </ng-template>
                <ng-template #elseContent>
                    <p-column [field]="column.datafield" [header]="column.text" [style]="{ 'width': '200px' }" [filter]="!showSimpleFilter"></p-column>
                </ng-template>
            </ng-container>
            <p-column [style]="{ 'width': '30px' }">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="openFusion(item);" style="cursor:pointer;"><i class="fa fa-info"></i></a>
                    </div>
                </ng-template>
            </p-column>
            <p-column [style]="{ 'width': '30px' }">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="selectedRow = item; formMode = FormModeConfig.Editing" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                    </div>
                </ng-template>
            </p-column>
            <p-column [style]="{ 'width': '30px' }">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="selectedRow = item; formMode = FormModeConfig.Scheduling" style="cursor:pointer;"><i class="fa fa-calendar"></i></a>
                    </div>
                </ng-template>
            </p-column>
            <p-column [style]="{ 'width': '30px' }">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="selectedRow = item; formMode = FormModeConfig.QueryOverrides" style="cursor:pointer;"><i class="fa fa-object-ungroup"></i></a>
                    </div>
                </ng-template>
            </p-column>
            <p-column [style]="{ 'width': '30px' }">
                <ng-template let-col let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a (click)="selectedRow = item; formMode = FormModeConfig.Deleting" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                    </div>
                </ng-template>
            </p-column>            
        </p-dataTable>
    </div>
    <div *ngSwitchCase="FormModeConfig.Adding">
        <d3s-dynamic-editor [objectType]="'Fusion'"
                            [objectID]="fusionType.ID"
                            [title]="'Fusion Configuration'"
                            [createUri]="'form/dynamicedit/create/fusion'"
                            (closeClick)="formMode = FormModeConfig.Default"
                            (saveClick)="isLoading = true; formMode = FormModeConfig.Default; load();">
        </d3s-dynamic-editor>
    </div>
    <div *ngSwitchCase="FormModeConfig.Editing">
        <d3s-dynamic-editor [selection]="selectedRow"
                            [title]="'Fusion Configuration'"
                            [objectID]="fusionType.ID"
                            [objectType]="'Fusion'"
                            [editUri]="'form/dynamicedit/edit/fusion'"
                            (closeClick)="formMode = FormModeConfig.Default"
                            (saveClick)="isLoading = true; formMode = FormModeConfig.Default; load();">
        </d3s-dynamic-editor>
    </div>
    <div *ngSwitchCase="FormModeConfig.Deleting">
        <d3s-delete-form [uri]="'form/DeleteFusionByID?id='+selectedRow.ID"
                         [method]="'delete'"
                         [prompt]="'Are you sure you want to delete this fusion configuration?'"
                         (onCancel)="formMode = FormModeConfig.Default;"
                         (onDeleteComplete)="formMode = FormModeConfig.Default; load();">
        </d3s-delete-form>
    </div>
    <div *ngSwitchCase="FormModeConfig.Scheduling">
        <d3s-fusion-schedule [fusionId]="selectedRow.ID" 
                                           [fusionTypeId]="selectedRow.FusionTypeID"
                                           (onClose)="formMode = FormModeConfig.Default;">
        </d3s-fusion-schedule>
    </div>
    <div *ngSwitchCase="FormModeConfig.QueryOverrides">
        <d3s-fusion-attribute-type-custom-query [fusionId]="selectedRow.ID"
                             [fusionTypeId]="selectedRow.FusionTypeID"
                             (onClose)="formMode = FormModeConfig.Default;">
        </d3s-fusion-attribute-type-custom-query>
    </div>
</div>
