<header>{{title}}<d3s-tile-actions [hasAdd]="true" (addClick)="selectedRow = null;add(null);"></d3s-tile-actions></header>
<div class="directions">
    Below is a list of attribute types for {{fusionType?.Name}}.  You can add fields to an attribute type by clicking the add field icon below.
</div>
<div class="row" *ngIf="formMode == FormMode.Adding || formMode == FormMode.Editing || formMode == FormMode.Deleting">
    <div class="col s12">
        <d3s-asset-type-editor *ngIf="formMode == FormMode.Adding" 
            [assetTypeClass]="assetTypeClass" 
            [showDisplayFormat]="false"
            [showParentPredicates]="selectedRow!=null"
            [parentID]="selectedRow?.data.ID" 
            [title]="selectedRow!=null ? 'Add Sub Type' : 'Add Type'" 
            (onCancel)="formMode = FormMode.Default;" 
            (onComplete)="save($event)">
        </d3s-asset-type-editor>
        <d3s-asset-type-editor *ngIf="formMode == FormMode.Editing" 
            [assetTypeClass]="assetTypeClass" 
            [showDisplayFormat]="false"
            [id]="selectedRow?.data.AssetTypeID" 
            [title]="'Edit Type'" 
            (onCancel)="formMode = FormMode.Default;" 
            (onComplete)="save($event)">
        </d3s-asset-type-editor>
        <d3s-delete-form *ngIf="formMode == FormMode.Deleting" 
            [uri]="'form/AssetType?id='+ selectedRow.data.AssetTypeID"
            [method]="'delete'"
            [prompt]="'Are you sure you want to delete this fusion attribute type?'"
            (onCancel)="formMode = FormMode.Default;"
            (onDeleteComplete)="formMode = FormMode.Default; load();">
        </d3s-delete-form>
    </div>
</div>
<div class="row" *ngIf="formMode == FormMode.Default">
    <div class="col s12 m12 l5">
        <h4>&nbsp;</h4>
        <div id="FusionAttributeTypes"></div>
        <p-treeTable [value]="fusionAttributeTypes" selectionMode="single" [(selection)]="selectedRow">

            <ng-template pTemplate="header">
                <tr>
                    <th>
                        Name
                    </th>
                    <th style="width: 80px">
                        Enabled
                    </th>
                    <th style="width: 60px">
                        ID
                    </th>
                    <th></th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-item="rowData">
                <tr [ttSelectableRow]="rowNode">
                    <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        {{item.Name}}
                    </td>
                    <td>
                        <span><i *ngIf="item.ScanEnabled" class="fa fa-check enabled" title="True"></i></span>
                        <span><i *ngIf="!item.ScanEnabled" class="fa fa-times disabled" title="False"></i></span>
                    </td>
                    <td>
                        {{item.ID}}
                    </td>
                    <td>
                        <div class="RowTools">
                            <a style="cursor:pointer;"><i [copy-clipboard]="item.uid" [pTooltip]="'UID: \n' + item.uid + '\n\n (click to copy)\n'" tooltipPosition="top" class="fa fa-info"></i></a>
                            <a (click)="selectedRow = rowNode.node; edit();" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            <a (click)="selectedRow = rowNode.node; delete();" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                            <a (click)="selectedRow = rowNode.node; add();" style="cursor:pointer;"><i class="fa fa-plus"></i></a>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
    </div>
    <div class="col hide-on-small-and-down m12 l7">
        <d3s-field-definition-tile [objectType]="'FusionAttributeType'" [objectID]="selectedRow?.data?.ID" [title]="'Fields for ' + selectedRow?.data?.Name"></d3s-field-definition-tile>
    </div>

</div>
