
<d3s-modal [title]="modalTitle" additionalClasses="modal-consolidate" (onClose)="cancel()" [isVisible]="isModalVisible">
    <div class="content">
        <div class="row">
            Please choose the one tag you wish to keep:
            <br />
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th width="20px;"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tag of tags;">
                        <td><input type="radio" name="radio" (click)="selectItem(tag);" checked="{{selected && tag.uid == selected.uid ? 'checked' : ''}}" /></td>
                        <td>{{tag.Value}}</td>
                        <td><d3s-tag-usage [uid]="tag.uid">{{tag.UseCount}} assets</d3s-tag-usage> tagged</td>
                    </tr>
                </tbody>
            </table>
            All assets listed above will be tagged with the selected tag.<br/>
            The other tags listed will be deleted.

        </div>
    </div>
    <div class="action-bar">
        <button class="button" (click)="cancel()" [disabled]="isLoading">Cancel</button>
        <span class="grow"></span>

        <button class="button primary {{consolidateInProgress ? 'loading' : ''}}" (click)="consolidate()" [disabled]="!selected">
            Consolidate
            <span class="loader"><span class="spinner light"></span></span>
        </button>
    </div>
</d3s-modal>
