<div class="tag-actions">

    <div>
        <div class="multiselect-action" *ngIf="selectedTags.length > 1">
            <div class="item-selection" i18n>
                {{selectedTags.length}} items selected
            </div>
            <div class="hamburger-menu">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="popup-menu place-left">
                    <ul>
                        <li (click)="onDeleteClick()"><span i18n>Delete</span></li>
                        <li (click)="onConsolidateClick()"><span i18n>Consolidate</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
