
<d3s-modal [title]="modalTitle" additionalClasses="modal-consolidate" (onClose)="cancel()" [isVisible]="isModalVisible">
    <div class="content">
        <div class="row">
            <ng-container i18n>Please choose the one tag you wish to keep</ng-container>:
            <br />
            <div style="max-height: 65vh; overflow-y: auto;">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tag of tags;">
                            <td style="padding-bottom: 4px;">
                                <label>
                                    <input style="top: 1px;" type="radio" name="radio" (click)="selectItem(tag);" checked="{{selected && tag.uid == selected.uid ? 'checked' : ''}}" />
                                    <div class="table-tag-value ig-elide" title="{{tag.Value}}">{{tag.Value}}</div>
                                </label>
                            </td>
                            <td style="padding-bottom: 4px;width:160px;"><span *ngIf="tag.UseCount > 0" class="tag-desc"><d3s-tag-usage [uid]="tag.uid">{{tag.UseCount}} assets</d3s-tag-usage> tagged</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-container i18n>
                Any assets listed above will be tagged with the selected tag.<br />
                The other tags listed will be deleted.
            </ng-container>
        </div>
    </div>
    <div class="action-bar">
        <button class="button" (click)="cancel()">
            <ng-container i18n>Cancel</ng-container>
        </button>
        <span class="grow"></span>

        <button class="button primary {{consolidateInProgress ? 'loading' : ''}}" (click)="consolidate()" [disabled]="!selected">
            <ng-container i18n>Consolidate</ng-container>
            <span class="loader"><span class="spinner light"></span></span>
        </button>
    </div>
</d3s-modal>
