<d3s-admin-tags-action (onDelete)="openDeleteModal()" (onConsolidate)="openConsolidateModal()" [(selectedTags)]="selected"></d3s-admin-tags-action>

<div class="row">
    <div class="col l12 m12 s12">
        <div class="admin-tags-tile tile tile-detail theme-new">
            <header>
                <d3s-tile-actions [hasAdd]="true" (addClick)="add()" [hasExport]="true" (exportClick)="export()"></d3s-tile-actions>
            </header>
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <ng-container *ngIf="!isLoading">
                <div class="grid-actions-header">
                    <div class="simple-search">
                        <input [(ngModel)]="filters.globalSearch"
                               type="text"
                               [hidden]="!showSimpleFilter"
                               pInputText
                               size="100"
                               (input)="dt.filterGlobal($event.target.value, 'contains')"
                               placeholder="Search..."
                               class="grid-simple-filter">
                    </div>
                    <advanced-filtering  [loadIdentifier]="'AdminTags'"></advanced-filtering>
                </div>
                
                <p-table #dt
                         [value]="tags"
                         [globalFilterFields]="['Value','UseCount']"
                         [rowsPerPageOptions]="defaultPagingOptions"
                         sortField="Value"
                         [sortOrder]="1"
                         [pageLinks]="3"
                         [paginator]="true"
                         [rows]="25"
                         [(selection)]="selected">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 36px;">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th [pSortableColumn]="'Value'" style="width: 30%">
                                Name
                                <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'Value'"></d3s-sortIcon>
                            </th>
                            <th [pSortableColumn]="'UseCount'" style="width: 13%">
                                Use count
                                <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'UseCount'"></d3s-sortIcon>
                            </th>
                            <th [pSortableColumn]="'DateCreated'" style="width: 20%">
                                Date Created
                                <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'DateCreated'"></d3s-sortIcon>
                            </th>
                            <th [pSortableColumn]="'CreatedBy'" style="width: 20%">
                                Created By
                                <d3s-sortIcon (changeCallback)="updateSort($event);" [field]="'CreatedBy'"></d3s-sortIcon>
                            </th>
                            <th style="width: 110px"></th>
                        </tr>
                        <tr [hidden]="showSimpleFilter">
                            <th></th>
                            <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'Value'" [datatype]="'text'"></d3s-column-filter></th>
                            <th><d3s-column-filter (onChangeCallback)="onFilterChange($event)" [field]="'UseCount'" [datatype]="'number'"></d3s-column-filter></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr #el [pSelectableRow]="item">
                            <td (click)="selectSingleItem($event,item,el);" class="enable-pointer-events">
                                <p-tableCheckbox [value]="item"></p-tableCheckbox>
                            </td>
                            <td (click)="selectSingleItem($event,item, el);">
                                <a (click)="openTagDetails(item);">{{item.Value}}</a>
                            </td>
                            <td (click)="selectSingleItem($event,item, el);">{{item.UseCount}}</td>
                            <td (click)="selectSingleItem($event,item, el);">{{item.DateCreated}}</td>
                            <td (click)="selectSingleItem($event,item, el);">{{item.CreatedBy}}</td>
                            <td (click)="selectSingleItem($event,item, el);">
                                <div class="RowTools">
                                    <d3s-preview-tooltip [objectType]="'Tag'"
                                                         [objectId]="item.uid"
                                                         icon="info"></d3s-preview-tooltip>&nbsp;&nbsp;&nbsp;
                                    <a style="cursor:pointer;" (click)="openEditor();"><i class="fa fa-pencil"></i></a>
                                    <a style="cursor:pointer;" (click)="openDeleteModal();"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                        <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                    </ng-template>
                </p-table>
            </ng-container>

            <d3s-dynamic-editor [objectID]="selected[0]?.uid"
                                [objectType]="'Tag'"
                                [title]="'Tag'"
                                [selection]="selected[0]"
                                (saveClick)="saveTag($event)"
                                [showAsModal]="true"
                                [modalTitle]="editPopupTitle"
                                [isModalVisible]="showEditor"
                                (closeClick)="closeEditor()">

            </d3s-dynamic-editor>
            <d3s-delete-form *ngIf="selected.length != 0"
                             [callback]="theDeleteCallback"
                             [method]="'callback'"
                             [items]="selected"
                             [showAsModal]="true"
                             [modalTitle]="deletePopupTitle"
                             [isModalVisible]="showDelete"
                             (onCancel)="showDelete=false;">
                <div prompt>
                    <div *ngIf="selected.length == 1">
                        Please confirm that you wish to delete the tag '{{this.selected[0].Value}}'
                        <ng-container *ngIf="this.selected[0].UseCount > 0">
                            (<d3s-tag-usage [uid]="this.selected[0].uid">{{this.selected[0].UseCount}} assets</d3s-tag-usage> tagged)
                        </ng-container>
                    </div>
                    <div *ngIf="selected.length > 1">
                        Please confirm that you wish to delete following tags:
                        <div style="max-height: 75vh; overflow-y: auto;">
                            <table class="table-borderless table">
                                <tr *ngFor="let t of selected">
                                    <td>
                                        <div class="table-tag-value ig-elide" title="{{t.Value}}">{{t.Value}}</div>
                                    </td>
                                    <td style="width:160px;" *ngIf="t.UseCount > 0"><span class="tag-desc"><d3s-tag-usage [uid]="t.uid">{{t.UseCount}} assets</d3s-tag-usage> tagged</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </d3s-delete-form>
            <d3s-admin-tags-consolidate [tags]="selected"
                                        [modalTitle]="'Consolidate Tags'"
                                        [isModalVisible]="showConsolidate"
                                        (onCancel)="showConsolidate=false"
                                        [callback]="theConsolidateCallback">
            </d3s-admin-tags-consolidate>
        </div>
    </div>
</div>