<div class="tag-usage-box" (mouseover)="showContent()" (mouseout)="hideContent()">
    <span class="title">
        <ng-content></ng-content>
    </span>
    <div [style.top.px]="getTop()" (mouseover)="showContent(true)" (mouseout)="hideContent(true)" class="p-tooltip p-component p-tooltip-right gov-tooltip {{isTooltipVisibe ? 'show' : 'hide'}}">
        <div class="p-tooltip-arrow"></div>
        <div class="p-tooltip-text p-shadow p-corner-all" [innerHTML]="tooltipHTML"></div>
    </div>
</div>

