/*
    Infogix UI Component Library color classes as defined http://prototype.infogix.com/primeng/colordemo
    Sourced from https://github.com/Infogix/styleguide-primeng/blob/master/src/app/components/styles/background.scss
    Transformed from SCSS to LESS by replacing '$' with '@ig-'
*/

.ig-white {
    background: @ig-white;
    color: @ig-black;
}

.ig-black {
    background: @ig-black;
    color: @ig-white;
}

.ig-slate {
    background: @ig-slate;
    color: @ig-white;
}

.ig-grey {
    background: @ig-grey;
    color: @ig-white;
}

.ig-grey-t1 {
    background: @ig-grey-t1;
    color: @ig-black;
}

.ig-grey-t2 {
    background: @ig-grey-t2;
    color: @ig-black;
}

.ig-grey-t3 {
    background: @ig-grey-t3;
    color: @ig-black;
}

.ig-grey-t4 {
    background: @ig-grey-t4;
    color: @ig-black;
}

.ig-grey-t5 {
    background: @ig-grey-t5;
    color: @ig-black;
}

.ig-grey-s1 {
    background: @ig-grey-s1;
    color: @ig-white;
}

.ig-grey-s2 {
    background: @ig-grey-s2;
    color: @ig-white;
}

.ig-grey-s3 {
    background: @ig-grey-s3;
    color: @ig-white;
}

.ig-midblue {
    background: @ig-midblue;
    color: @ig-white;
}

.ig-midblue-t1 {
    background: @ig-midblue-t1;
    color: @ig-black;
}

.ig-midblue-t2 {
    background: @ig-midblue-t2;
    color: @ig-black;
}

.ig-midblue-t3 {
    background: @ig-midblue-t3;
    color: @ig-black;
}

.ig-midblue-t4 {
    background: @ig-midblue-t4;
    color: @ig-black;
}

.ig-midblue-t5 {
    background: @ig-midblue-t5;
    color: @ig-black;
}

.ig-midblue-s1 {
    background: @ig-midblue-s1;
    color: @ig-white;
}

.ig-midblue-s2 {
    background: @ig-midblue-s2;
    color: @ig-white;
}

.ig-midblue-s3 {
    background: @ig-midblue-s3;
    color: @ig-white;
}

.ig-lightblue {
    background: @ig-lightblue;
    color: @ig-black;
}

.ig-lightblue-t1 {
    background: @ig-lightblue-t1;
    color: @ig-black;
}

.ig-lightblue-t2 {
    background: @ig-lightblue-t2;
    color: @ig-black;
}

.ig-lightblue-t3 {
    background: @ig-lightblue-t3;
    color: @ig-black;
}

.ig-lightblue-t4 {
    background: @ig-lightblue-t4;
    color: @ig-black;
}

.ig-lightblue-t5 {
    background: @ig-lightblue-t5;
    color: @ig-black;
}

.ig-lightblue-s1 {
    background: @ig-lightblue-s1;
    color: @ig-black;
}

.ig-lightblue-s2 {
    background: @ig-lightblue-s2;
    color: @ig-black;
}

.ig-lightblue-s3 {
    background: @ig-lightblue-s3;
    color: @ig-white;
}

.ig-red {
    background: @ig-red;
    color: @ig-white;
}

.ig-red-t1 {
    background: @ig-red-t1;
    color: @ig-white;
}

.ig-red-t2 {
    background: @ig-red-t2;
    color: @ig-black;
}

.ig-red-t3 {
    background: @ig-red-t3;
    color: @ig-black;
}

.ig-red-t4 {
    background: @ig-red-t4;
    color: @ig-black;
}

.ig-red-t5 {
    background: @ig-red-t5;
    color: @ig-black;
}

.ig-red-s1 {
    background: @ig-red-s1;
    color: @ig-white;
}

.ig-red-s2 {
    background: @ig-red-s2;
    color: @ig-white;
}

.ig-red-s3 {
    background: @ig-red-s3;
    color: @ig-white;
}

.ig-green {
    background: @ig-green;
    color: @ig-white;
}

.ig-green-t1 {
    background: @ig-green-t1;
    color: @ig-black;
}

.ig-green-t2 {
    background: @ig-green-t2;
    color: @ig-black;
}

.ig-green-t3 {
    background: @ig-green-t3;
    color: @ig-black;
}

.ig-green-t4 {
    background: @ig-green-t4;
    color: @ig-black;
}

.ig-green-t5 {
    background: @ig-green-t5;
    color: @ig-black;
}

.ig-green-s1 {
    background: @ig-green-s1;
    color: @ig-white;
}

.ig-green-s2 {
    background: @ig-green-s2;
    color: @ig-white;
}

.ig-green-s3 {
    background: @ig-green-s3;
    color: @ig-white;
}

.ig-orange {
    background: @ig-orange;
    color: @ig-black;
}

.ig-orange-t1 {
    background: @ig-orange-t1;
    color: @ig-black;
}

.ig-orange-t2 {
    background: @ig-orange-t2;
    color: @ig-black;
}

.ig-orange-t3 {
    background: @ig-orange-t3;
    color: @ig-black;
}

.ig-orange-t4 {
    background: @ig-orange-t4;
    color: @ig-black;
}

.ig-orange-t5 {
    background: @ig-orange-t5;
    color: @ig-black;
}

.ig-orange-s1 {
    background: @ig-orange-s1;
    color: @ig-black;
}

.ig-orange-s2 {
    background: @ig-orange-s2;
    color: @ig-white;
}

.ig-orange-s3 {
    background: @ig-orange-s3;
    color: @ig-white;
}

.ig-coral {
    background: @ig-coral;
    color: @ig-black;
}

.ig-coral-t1 {
    background: @ig-coral-t1;
    color: @ig-black;
}

.ig-coral-t2 {
    background: @ig-coral-t2;
    color: @ig-black;
}

.ig-coral-t3 {
    background: @ig-coral-t3;
    color: @ig-black;
}

.ig-coral-t4 {
    background: @ig-coral-t4;
    color: @ig-black;
}

.ig-coral-t5 {
    background: @ig-coral-t5;
    color: @ig-black;
}

.ig-coral-s1 {
    background: @ig-coral-s1;
    color: @ig-black;
}

.ig-coral-s2 {
    background: @ig-coral-s2;
    color: @ig-white;
}

.ig-coral-s3 {
    background: @ig-coral-s3;
    color: @ig-white;
}