/*
    Infogix UI Component Library button classes as defined http://prototype.infogix.com/primeng/buttondemo
    Sourced from https://github.com/Infogix/styleguide-primeng/blob/master/src/app/components/styles/button.scss
    Transformed from SCSS to LESS by replacing '$' with '@ig-', rgba() with fade()
    Added background color to :focus to overwrite color set by materialize.css
*/

@import './IgUiVariables.less';
@import '../_Variables.less';

.ig-button {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: @ig-grey-t5;
  color: @ig-black;
  border: none;
  border-radius: @ig-field-border-radius;
  height: @ig-field-height;
  padding: 0 16px;
  cursor: pointer;

  & > *:not(:last-child) {
    margin-right: 8px;
  }

  &:hover:not(:disabled), &.ig-state-hover {
    background: @ig-grey-t4;
  }

  &:active:not(:disabled), &.ig-state-active {
    background: @ig-grey-t3;
  }

  &.ig-button-primary {
    background: var(--primaryButtonBackColor);
    color: var(--calculatedPrimaryButtonTextColor);

    &:hover:not(:disabled), &.ig-state-hover {
      background: var(--primaryButtonBackColor);
      filter: brightness(80%);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: var(--primaryButtonBackColor);
      filter: brightness(60%);
    }

    &:focus:not(:disabled), &.ig-state-focus {
      background: var(--primaryButtonBackColor);
      border: 1px solid @ig-midblue-t3;
    }
  }

  &.ig-button-accent {
    background: @ig-pink-t1;
    color: @ig-white;

    &:hover:not(:disabled), &.ig-state-hover {
      background: @ig-pink-s1;
    }

    &:focus:not(:disabled), &.ig-state-focus {
      background: @ig-pink-t1;
    }

    &:active:not(:disabled), &.ig-state-active {
      background: @ig-pink-s2;
    }
  }

  &.ig-button-danger {
    background: @ig-red;
    color: @ig-white;

    &:hover:not(:disabled), &.ig-state-hover {
      background: @ig-red-s1;
    }

    &:focus:not(:disabled), &.ig-state-focus {
      background: @ig-red;
    }

    &:active:not(:disabled), &.ig-state-active {
      background: @ig-red-s2;
    }
  }

  &.ig-button-secondary {
    background: none;
    color: var(--primaryButtonBackColor);
    border: 1px solid var(--primaryButtonBackColor);

    &:hover:not(:disabled), &.ig-state-hover {
      background: none;
      ::after {
        content: '';
        position: absolute;
        width: calc(100% + 1px);
        height: 32px;
        background: var(--primaryButtonBackColor);
        border-radius: 4px;
        left: 0;
        top: 0;
        opacity: .08;
      }
    }

    &:focus:not(:disabled), &.ig-state-focus {
      border-color: @ig-midblue-t3;
      background: none;
    }

    &:active:not(:disabled), &.ig-state-active {
      background: none;
      ::after {
        content: '';
        position: absolute;
        width: calc(100% + 1px);
        height: 32px;
        background: var(--primaryButtonBackColor);
        border-radius: 4px;
        left: 0;
        top: 0;
        opacity: .2;
      }
    }

    &:disabled {
      border-color: @ig-grey-t4;
    }
  }

  &.ig-button-text {
    background: none;
    width: auto;
    height: auto;
    color: var(--primaryButtonBackColor);

    &:hover:not(:disabled), &.ig-state-hover {
      filter: brightness(80%);
      text-decoration: underline;
      background: none;
    }

    &:active:not(:disabled), &.ig-state-active {
      filter: brightness(60%);
      text-decoration: underline;
      background: none;
    }

    &:focus:not(:disabled), &.ig-state-focus {
      border: 1px solid @ig-midblue-t3;
      background: none;
    }

    &:disabled:not(&.ig-state-loading) {
      background: none;
    }
  }

  &.ig-button-group {
    background: @ig-grey-t5;
    width: 32px;
    height: 32px;
    color: @ig-black;

    &:hover:not(:disabled), &.ig-state-hover {
      background: rgba(var(--primaryButtonBackColor), 0.2);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: rgba(var(--primaryButtonBackColor), 0.35);
    }

    &:focus:not(:disabled), &.ig-state-focus {
      border: 1px solid @ig-midblue-t3;
      background: @ig-grey-t5;
    }

    &:disabled > * {
      opacity: @ig-field-disabled-opacity;
    }
  }

  &.ig-button-light {
    background: none;
    color: @ig-white;

    &:hover:not(:disabled), &.ig-state-hover {
      background: rgba(255, 255, 255, 0.18);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: rgba(255, 255, 255, 0.36);
    }

    &:focus:not(:disabled), &.ig-state-focus {
      background: none;
    }
  }

  &.ig-button-dark {
    background: none;
    color: @ig-black;

    &:hover:not(:disabled), &.ig-state-hover {
      background: rgba(0, 0, 0, 0.09);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: rgba(0, 0, 0, 0.18);
    }

    &:focus:not(:disabled), &.ig-state-focus {
      background: none;
    }
  }

  &.ig-button-midblue {
    background: none;
    color: @ig-midblue-t1;

    &:hover:not(:disabled), &.ig-state-hover {
      background: rgba(0, 0, 0, 0.09);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: rgba(0, 0, 0, 0.18);
    }

    &:focus:not(:disabled), &.ig-state-focus {
      background: none;
    }
  }

  &:disabled {
    &:not(&.ig-state-loading) {
      background: @ig-grey-t5;
      color: @ig-grey-t2;      
    }
    cursor: default;
  }

  &.ig-state-loading {
    pointer-events: none;
    .ig-button-label, .ig-button-icon {
      visibility: hidden;
    }
  }

  .ig-button-label {
    white-space: nowrap;
  }

  &.ig-button-transparent {
    background: none;

    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }
}

#igx-relationship-items {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.ig-button-pad-right {
  margin-right: 8px;
}

.ig-button-pad-left {
  margin-left: 8px;
}

.ig-button-icon-only {
  padding: 0;
  width: 32px;
  height: 32px;

  &.highlighted,
  &.ig-state-focus,
  &:focus,
  &:hover {
    background: @ig-purple-t4;
  }
}

.ig-button:focus, .ig-button.ig-state-focus {
  background: @ig-grey-t5;
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 @ig-focus-width @ig-focus-color;
  -moz-box-shadow: 0 0 0 @ig-focus-width @ig-focus-color;
  box-shadow: 0 0 0 @ig-focus-width @ig-focus-color;

  &.highlighted {
    background: @ig-purple-t4;
  }
}

.ig-button-spinner {
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid @ig-white;
  border-color: @ig-white fade(@ig-white, 0.36) fade(@ig-white, 0.36) fade(@ig-white, 0.36);
  animation: ig-button-spin 1s infinite linear;
}

.ig-button-secondary, .ig-button-light, .ig-button-text, .ig-button-group {
  .ig-button-spinner {
    border: 2px solid var(--primaryButtonBackColor);
    border-color: var(--primaryButtonBackColor) fade(@ig-white, 0.36) fade(@ig-white, 0.36) fade(@ig-white, 0.36);
  }
}

.ig-buttons-group {
  border-radius: @ig-field-border-radius;
  overflow: hidden;
  display: flex;
  height: 32px;
}

@keyframes ig-button-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
