/*
    Infogix UI Component Library button classes as defined http://prototype.infogix.com/primeng/buttondemo
    Sourced from https://github.com/Infogix/styleguide-primeng/blob/master/src/app/components/styles/button.scss
    Transformed from SCSS to LESS by replacing '$' with '@ig-', rgba() with fade()
    Added background color to :focus to overwrite color set by materialize.css
*/

@import './IgUiVariables.less';
@import '../_Variables.less';

.ig-button {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: @ig-grey-t5;
  color: @ig-black;
  border: none;
  border-radius: @ig-field-border-radius;
  height: @ig-field-height;
  padding: 0 16px;
  cursor: pointer;

  & > *:not(:last-child) {
    margin-right: 8px;
  }

  &:focus, &.ig-state-focus {
    background: @ig-grey-t5;
    outline: 0 none;
    outline-offset: 0;

    &:not(.ig-button-group) {
      -webkit-box-shadow: 0 0 0 @ig-focus-button-width @ig-focus-color;
      -moz-box-shadow: 0 0 0 @ig-focus-button-width @ig-focus-color;
      box-shadow: 0 0 0 @ig-focus-button-width @ig-focus-color;
    }

    &.highlighted {
      background: @ig-purple-t4;
    }
  }

  &:hover:not(:disabled), &.ig-state-hover {
    background: @ig-grey-t4;
  }

  &:active:not(:disabled), &.ig-state-active {
    background: @ig-grey-t3;
  }

  &.ig-button-primary {
    background: var(--primaryButtonBackColor);
    color: var(--calculatedPrimaryButtonTextColor);

    &:hover:not(:disabled), &.ig-state-hover {
      background: linear-gradient(@ig-dark-overlay-hover, @ig-dark-overlay-hover), var(--primaryButtonBackColor);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: linear-gradient(@ig-dark-overlay-active, @ig-dark-overlay-active), var(--primaryButtonBackColor);
    }
  }

  &.ig-button-accent {
    background: var(--buttonBackColor);
    color: var(--calculatedButtonTextColor);

    &:hover:not(:disabled), &.ig-state-hover {
      background: linear-gradient(@ig-dark-overlay-hover, @ig-dark-overlay-hover), var(--buttonBackColor);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: linear-gradient(@ig-dark-overlay-active, @ig-dark-overlay-active), var(--buttonBackColor);
    }
  }

  &.ig-button-danger {
    background: @ig-red;
    color: @ig-white;

    &:hover:not(:disabled), &.ig-state-hover {
      background: @ig-red-s1;
    }

    &:active:not(:disabled), &.ig-state-active {
      background: @ig-red-s2;
    }
  }

  &.ig-button-secondary {
    background: none;
    color: var(--primaryButtonBackColor);
    border: 1px solid var(--primaryButtonBackColor);

    &:focus:not(:disabled), &.ig-state-focus {
      border-color: transparent;
    }

    &:hover:not(:disabled), &.ig-state-hover {
      background: linear-gradient(@ig-light-overlay-hover, @ig-light-overlay-hover), var(--primaryButtonBackColor);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: linear-gradient(@ig-light-overlay-active, @ig-light-overlay-active), var(--primaryButtonBackColor);
    }

    &:disabled {
      border-color: @ig-grey-t4;
    }
  }

  &.ig-button-text {
    background: none;
    width: auto;
    height: auto;
    padding: 4px;
    color: var(--primaryButtonBackColor);
    font-weight: 400;

    &:hover:not(:disabled), &.ig-state-hover {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(@ig-dark-overlay-hover, @ig-dark-overlay-hover), var(--primaryButtonBackColor);

      .ig-button-label::after {
        content: '';
        width: calc(100% - 8px);
        height: 1px;
        position: absolute;
        bottom: 4px;
        left: 4px;
        background: linear-gradient(@ig-dark-overlay-hover, @ig-dark-overlay-hover), var(--primaryButtonBackColor);
      }
    }

    &:active:not(:disabled), &.ig-state-active {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(@ig-dark-overlay-active, @ig-dark-overlay-active), var(--primaryButtonBackColor);

      .ig-button-label::after {
        content: '';
        width: calc(100% - 8px);
        height: 1px;
        position: absolute;
        bottom: 4px;
        left: 4px;
        background: linear-gradient(@ig-dark-overlay-active, @ig-dark-overlay-active), var(--primaryButtonBackColor);
      }
    }

    &:disabled:not(&.ig-state-loading) {
      background: none;
    }
  }

  &.ig-button-group {
    background: @ig-grey-t5;
    width: 32px;
    height: 32px;
    color: @ig-black;
    border-radius: 0;

    &:first-child {
      border-radius: @ig-field-border-radius 0 0 @ig-field-border-radius;
    }

    &:last-child {
      border-radius: 0 @ig-field-border-radius @ig-field-border-radius 0;
    }

    &:focus:not(:disabled), &.ig-state-focus {
      border: 1px solid @ig-focus-color;
    }

    &:hover:not(:disabled), &.ig-state-hover {
      background: linear-gradient(@ig-group-overlay-hover, @ig-group-overlay-hover), var(--primaryButtonBackColor);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: linear-gradient(@ig-group-overlay-active, @ig-group-overlay-active), var(--primaryButtonBackColor);
    }

    &:disabled > * {
      color: @ig-grey-t2;
    }
  }

  &.ig-button-light {
    background: none;
    color: @ig-white;

    &:hover:not(:disabled), &.ig-state-hover {
      background: rgba(255, 255, 255, 0.18);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: rgba(255, 255, 255, 0.36);
    }

    &:focus:not(:disabled), &.ig-state-focus {
      background: none;
    }
  }

  &.ig-button-dark {
    background: none;
    color: @ig-black;

    &:hover:not(:disabled), &.ig-state-hover {
      background: rgba(0, 0, 0, 0.09);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: rgba(0, 0, 0, 0.18);
    }

    &:focus:not(:disabled), &.ig-state-focus {
      background: none;
    }
  }

  &.ig-button-midblue {
    background: none;
    color: @ig-midblue-t1;

    &:hover:not(:disabled), &.ig-state-hover {
      background: rgba(0, 0, 0, 0.09);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: rgba(0, 0, 0, 0.18);
    }
  }

  &.ig-button-toolbar {
    &-light {
      background: none;
      color: @ig-black;

      &:disabled:not(&.ig-state-loading),
      &.ig-state-loading {
        background: none;
      }

      &:focus:not(:disabled), &.ig-state-focus {
        background: @ig-grey-t5;
      }

      &:hover:not(:disabled), &.ig-state-hover {
        background: linear-gradient(@ig-toolbar-overlay-hover, @ig-toolbar-overlay-hover), var(--primaryButtonBackColor);
      }

      &:active:not(:disabled), &.ig-state-active {
        background: linear-gradient(@ig-toolbar-overlay-active, @ig-toolbar-overlay-active), var(--primaryButtonBackColor);
      }
    }

    &-dark {
      background: none;
      color: @ig-white;

      &:disabled:not(&.ig-state-loading),
      &.ig-state-loading {
        background: none;
      }

      &:disabled:not(&.ig-state-loading) {
        color: @ig-white;
        opacity: 0.4;
      }

      &:hover:not(:disabled), &.ig-state-hover {
        background: rgba(189, 191, 198, 0.2);
      }

      &:active:not(:disabled), &.ig-state-active {
        background: rgba(189, 191, 198, 0.4);
      }
    }
  }

  &:disabled {
    cursor: default;

    &:not(&.ig-state-loading) {
      background: @ig-grey-t5;
      color: @ig-grey-t2;
    }
  }

  .ig-button-icon {
    font-size: 13px;
  }

  &.ig-state-loading {
    pointer-events: none;

    .ig-button-label, .ig-button-icon {
      visibility: hidden;
    }
  }

  .ig-button-label {
    white-space: nowrap;
    font-weight: 500;
  }

  &.ig-button-transparent {
    background: none;

    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }
}

#igx-relationship-items {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.ig-button-pad-right {
  margin-right: 8px;
}

.ig-button-pad-left {
  margin-left: 8px;
}

.ig-button-icon-only {
  padding: 0;
  width: 32px;
  height: 32px;

  &.ig-button-secondary {
    background: @ig-grey-t5;
    color: @ig-black;
    border: none;

    &:hover:not(:disabled), &.ig-state-hover {
      background: linear-gradient(@ig-toolbar-overlay-hover, @ig-toolbar-overlay-hover), var(--primaryButtonBackColor);
    }

    &:active:not(:disabled), &.ig-state-active {
      background: linear-gradient(@ig-toolbar-overlay-active, @ig-toolbar-overlay-active), var(--primaryButtonBackColor);
    }
    
    &.ig-state-loading {
      background: @ig-grey-t5;
    }
  }

}

.ig-button-spinner {
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid @ig-black;
  border-color: @ig-black fade(@ig-white, 0.36) fade(@ig-white, 0.36) fade(@ig-white, 0.36);
  animation: ig-button-spin 1s infinite linear;
}

.ig-button-secondary,
.ig-button-toolbar-light,
.ig-button-text,
.ig-button-group {
  .ig-button-spinner {
    border: 2px solid var(--primaryButtonBackColor);
    border-color: var(--primaryButtonBackColor) fade(@ig-white, 0.36) fade(@ig-white, 0.36) fade(@ig-white, 0.36);
  }
}

.ig-button-primary,
.ig-button-danger,
.ig-button-accent,
.ig-button-toolbar-dark {
  .ig-button-spinner {
    border: 2px solid @ig-white;
    border-color: @ig-white fade(@ig-white, 0.36) fade(@ig-white, 0.36) fade(@ig-white, 0.36);
  }
}

.ig-buttons-group {
  border-radius: @ig-field-border-radius;
  overflow: hidden;
  display: flex;
  width: fit-content;
  height: 32px;
}

@keyframes ig-button-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
