
@import './IgUiVariables.less';
@import '../_Variables.less';

.p-checkbox {
    margin-top: -1px;
    .ig-checkbox {
        &.p-checkbox-box {
            width: 16px;
            height: 16px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 4px;
            margin-right: 5px;

            &:hover:not(.p-disabled) {
                border: 1px solid rgba(0,0,0,0.4);
            }

            &:active:not(.p-disabled) {
                border: 1px solid rgba(0,0,0,0.6);
            }

            &:focus:not(.p-disabled), &.p-focus:not(.p-disabled) {
                box-shadow: 0 0 0 2px @ig-midblue-t3 !important;
                outline: none !important;
                background: @ig-white;
            }

            &.p-highlight {
                background: @ig-white;
                color: @ig-black;
            }

            .pi {
                font-weight: bold;
            }
        }

    }

    .p-disabled {
        opacity: 0.33;
    }    
}

p-tristatecheckbox {
    .ig-checkbox {
        &:not(.p-highlight) span.pi-times {
            background: @ig-purple-t1;
            color: @ig-white;
            &:before {
                content: "\e90f";
            }
        }

        span.pi-times {
            &:before {
                content: "";
            }
        }
    }
}

p-tristatecheckbox[igcheckbox] {
    display: inline-flex;
}

p-checkbox, p-tristatecheckbox {
    &[igcheckbox] {
        .p-checkbox {
            background: none;
        }
    }
}

p-checkbox, p-tristatecheckbox {
    .p-checkbox-label {
        color: @ig-black;
    }
}

p-checkbox, p-tristatecheckbox {
    &:focus {
        outline: none;
    }
}

