/*
    Infogix UI Component Library color variables 
    Sourced from https://github.com/Infogix/styleguide-primeng/blob/master/src/app/components/styles/color.scss
    Transformed from SCSS to LESS by replacing '$' with '@ig-'
*/

// Core Colors
@ig-black: #202020;
@ig-white: #ffffff;

@ig-grey-s2: #252c41;
@ig-midblue: #006fba;
@ig-lightblue: #9ddae6;
@ig-red: #d11947;
@ig-green: #00853e;
@ig-orange: #FFAA00;
@ig-coral: #ff7155;

@ig-grey-s3: mix(black, @ig-grey-s2, 18%);
@ig-grey-s1: mix(white, @ig-grey-s2, 18%);
@ig-grey: mix(white, @ig-grey-s2, 34%); // tweaked for contrast compliance
@ig-grey-t1: mix(white, @ig-grey, 18%);
@ig-grey-t2: mix(white, @ig-grey, 34%); // tweaked for contrast compliance
@ig-grey-t3: mix(white, @ig-grey, 54%);
@ig-grey-t4: mix(white, @ig-grey, 72%);
@ig-grey-t5: mix(white, @ig-grey, 90%);

@ig-midblue-t1: mix(white, @ig-midblue, 22%); // tweaked for contrast compliance
@ig-midblue-t2: mix(white, @ig-midblue, 36%);
@ig-midblue-t3: mix(white, @ig-midblue, 54%);
@ig-midblue-t4: mix(white, @ig-midblue, 72%);
@ig-midblue-t5: mix(white, @ig-midblue, 90%);
@ig-midblue-s1: mix(black, @ig-midblue, 18%);
@ig-midblue-s2: mix(black, @ig-midblue, 36%);
@ig-midblue-s3: mix(black, @ig-midblue, 54%);

@ig-lightblue-t1: mix(white, @ig-lightblue, 18%);
@ig-lightblue-t2: mix(white, @ig-lightblue, 36%);
@ig-lightblue-t3: mix(white, @ig-lightblue, 54%);
@ig-lightblue-t4: mix(white, @ig-lightblue, 72%);
@ig-lightblue-t5: mix(white, @ig-lightblue, 90%);
@ig-lightblue-s1: mix(black, @ig-lightblue, 18%);
@ig-lightblue-s2: mix(black, @ig-lightblue, 34%); // tweaked for contrast compliance
@ig-lightblue-s3: mix(black, @ig-lightblue, 54%);

@ig-red-t1: mix(white, @ig-red, 14%); // tweaked for contrast compliance
@ig-red-t2: mix(white, @ig-red, 36%);
@ig-red-t3: mix(white, @ig-red, 54%);
@ig-red-t4: mix(white, @ig-red, 72%);
@ig-red-t5: mix(white, @ig-red, 90%);
@ig-red-s1: mix(black, @ig-red, 18%);
@ig-red-s2: mix(black, @ig-red, 36%);
@ig-red-s3: mix(black, @ig-red, 54%);

@ig-green-t1: mix(white, @ig-green, 18%);
@ig-green-t2: mix(white, @ig-green, 36%);
@ig-green-t3: mix(white, @ig-green, 54%);
@ig-green-t4: mix(white, @ig-green, 72%);
@ig-green-t5: mix(white, @ig-green, 90%);
@ig-green-s1: mix(black, @ig-green, 18%);
@ig-green-s2: mix(black, @ig-green, 36%);
@ig-green-s3: mix(black, @ig-green, 54%);

@ig-orange-t1: mix(white, @ig-orange, 18%);
@ig-orange-t2: mix(white, @ig-orange, 36%);
@ig-orange-t3: mix(white, @ig-orange, 54%);
@ig-orange-t4: mix(white, @ig-orange, 72%);
@ig-orange-t5: mix(white, @ig-orange, 85%); // tweaked for balance
@ig-orange-s1: mix(black, @ig-orange, 18%);
@ig-orange-s2: mix(black, @ig-orange, 38%); // tweaked for contrast compliance
@ig-orange-s3: mix(black, @ig-orange, 54%);

@ig-coral-t1: mix(white, @ig-coral, 18%);
@ig-coral-t2: mix(white, @ig-coral, 36%);
@ig-coral-t3: mix(white, @ig-coral, 54%);
@ig-coral-t4: mix(white, @ig-coral, 72%);
@ig-coral-t5: mix(white, @ig-coral, 90%);
@ig-coral-s1: mix(black, @ig-coral, 14%); // tweaked for contrast compliance
@ig-coral-s2: mix(black, @ig-coral, 36%);
@ig-coral-s3: mix(black, @ig-coral, 54%);

@ig-slate: #597897;
