
@import './IgUiVariables.less';

.ig-dropdown {
    font-family: @ig-field-font-family;
    font-size: 14px;
    display: inline-block;
    height: 32px;
    outline: none;

    .ui-dropdown {
        height: 32px;
        padding: 0px;
        border-radius: 4px;
        border: 1px solid @ig-select-border-color;
        width: 100%;
        min-width: @ig-field-width-small;

        &.ui-state-focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: 0 0 0 @ig-focus-width @ig-midblue-t3;
            border-color: @ig-select-border-color;
            background: none;
        }
    }

    .ui-dropdown-label {
        overflow: hidden;
        white-space: nowrap !important;
        text-overflow: ellipsis;
        padding-top: 4px;
        padding-left: 2px;
        padding-right: 48px;
    }

    &[required] .ui-dropdown-label {
        padding-right: 24px;
    }

    .ui-dropdown-trigger {
        background-color: @ig-select-button-color;
        width: 24px;
        height: 24px;
        top: 3px;
        right: 3px;
        border-radius: 4px;
    }


    .ui-dropdown-label-container {
        padding: 0 8px;
    }

    .ui-dropdown-clear-icon {
        width: 24px;
        height: 24px;
        right: 30px;
        background-color: @ig-select-button-color;
        top: 10px;
        font-size: 14px;
        padding: 5px;
        border-radius: 4px;

        &:hover {
            background-color: @ig-select-button-hover-color;
        }

        &:active {
            background-color: @ig-select-button-active-color;
        }
    }

    &.ng-dirty.ng-invalid > .ui-dropdown {
        border-color: @ig-select-border-color;
        border-bottom: 1px solid @ig-select-border-color;
    }

    &[required].ng-invalid {
        background-color: @ig-lightblue-t4;

        .ui-dropdown-label {
            background: @ig-lightblue-t4;
        }
    }

    &.ig-input-small {
        width: 100%;
        max-width: @ig-field-width-small !important;
    }

    &.ig-input-medium {
        width: 100%;
        max-width: @ig-field-width-medium !important;
    }

    &.ig-input-large {
        width: 100%;
        max-width: @ig-field-width-large !important;
    }

    &.ig-input-full {
        width: 100%;
        max-width: @ig-field-width-full !important;
    }
}

.ig-dropdown-overlay {
    border-radius: 4px !important;

    .ui-dropdown-items-wrapper {
        border-radius: 4px;
    }

    .ui-dropdown-items {
        padding: 0;

        li {
            margin: 0px 0px;
            height: 32px;
            color: black;
            padding: 6px 12px;

            &.ui-state-highlight {
                background-color: @ig-orange-t3;
            }

            &:hover {
                background-color: @ig-orange-t4;
            }
        }
    }

    .ui-dropdown-filter-container {
        padding: 4px;
    }

    .ig-input {
        width: 100%;
    }

    .ui-dropdown-filter-icon {
        top: 0.9em !important;
    }
}
