.grid-actions-header {
  display: inline-flex;
  padding: 8px 10px;
  width: 100%;

  .grid-action-buttons {
    min-width: 80px;

    div {
      display: inline-block;
    }

    button {
      margin-left: 8px;
    }
  }

  &.hidden {
    display: none;
  }

  .simple-search {
    width: 200px;
  }
}

/* || Ovveride grid-actions-header styles for "Admin Tags" and "Tagged Asset" pages */
.admin-tags-tile,
.tag-item-tile {
  .grid-actions-header {
    padding: 8px 0;
  }
}

.gov-detail-page .tile-detail header .d3s-tile-actions {
  position: absolute;
  right: 0;
  top: 0;

  .TileTools {
    margin-top: 0;
  }
}

.gov-detail-page .tag-item-tile {
  padding-top: 0;

  .grid-action-buttons {
    min-width: auto;
  }
}
