
@import './IgUiVariables.less';

.ig-input {
    font-family: @ig-field-font-family;
    font-size: 14px;
    color: @ig-black;
    background: @ig-white;
    padding: 0 8px;
    border: 1px solid @ig-field-border-color;
    height: @ig-field-height;
    line-height: 30px;
    border-radius: @ig-field-border-radius;
    margin-bottom: 16px;
    width: 220px;

    &.text-area {
        height: 64px;
        max-width: 720px;
        width: 720px;
        resize: none;
    }

    &.no-margin-btm {
        margin-bottom: 0px;
    }

    &.big {
        width: 60%;
    }

    &:enabled:focus:not(.ui-state-error) {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 @ig-focus-width @ig-midblue-t3;
        border-color: @ig-field-border-color;
    }

    &:enabled:hover:not(.ui-state-error) {
        border-color: @ig-field-border-color;
    }

    &.ng-dirty.ng-invalid {
        background: @ig-lightblue-t5;
        border-bottom-color: none;
    }

    &.ng-valid[required], .ng-valid.required {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
    }

    &.ng-invalid:not(form) {
        background: @ig-lightblue-t5;
        box-shadow: 0 0 0 @ig-focus-width @ig-midblue-t3;
        border-color: @ig-field-border-color;
    }
}
