/**
 *  Themes
 */

 /* Fix general theme. Theme usage: table-data-transfer component */
.table-theme-1 {
    p-table tbody.p-datatable-tbody > tr { /* stylelint-disable-line selector-type-no-unknown */
        border-bottom: none;
    }

    p-table .p-datatable-thead > tr > th, /* stylelint-disable-line selector-type-no-unknown */
    p-table .p-datatable-tfoot > tr > td, /* stylelint-disable-line selector-type-no-unknown */
    p-table .p-datatable-tbody > tr > td, /* stylelint-disable-line selector-type-no-unknown */
    p-table .p-datatable-data > tr > td { /* stylelint-disable-line selector-type-no-unknown */
        height: 38px;
    }

    p-table .p-datatable-tbody > tr > td { /* stylelint-disable-line selector-type-no-unknown */
        border-bottom: 1px solid @ig-grey-t5;
    }
}

 /* Components */
.data-transfer-controls {
    .button-up,
    .button-down {
        .ig-button-icon {
            font-size: 18px;
        }
    }
}
