
@import './IgUiVariables.less';
@import '../_Variables.less';

.p-radiobutton {
    .ig-radio-button {
        &.p-radiobutton-box {
            width: 16px;
            height: 16px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 4px;
            margin-right: 5px;
            border-radius: 50%;
            color: @ig-black;

            &:hover:not(.p-disabled) {
                border: 1px solid rgba(0,0,0,0.4);
            }

            &:active:not(.p-disabled) {
                border: 1px solid rgba(0,0,0,0.6);
            }

            &:focus:not(.p-disabled), &.p-focus:not(.p-disabled) {
                box-shadow: 0 0 0 2px @ig-midblue-t3 !important;
                outline: none !important;
                background: @ig-white;
            }

            &[aria-checked="true"] {
                .p-radiobutton-icon {
                    width: 8px;
                    height: 8px;
                    background: @ig-black;
                    display: block;
                    border-radius: 50%;
                }

                .pi-circle-on:before {
                    content: "" !important;
                }
            }

            &[aria-checked="false"] {
                .p-radiobutton-icon {
                    width: 8px;
                    height: 8px;
                    background: @ig-black;
                    margin-top: -4px;
                    margin-left: -4px;
                    display: none;
                    border-radius: 50%;
                }

                .pi-circle-on:before {
                    content: "" !important;
                }
            }
        }
    }

    .p-disabled {
        opacity: 0.33;
    }

    .p-label-disabled {
        opacity: 1;
    }
}
p-radiobutton {
    &:focus {
        outline: none;
    }
}

