
@import './IgUiVariables.less';

.ig-textarea {
    font-family: @ig-field-font-family;
    font-size: 14px;
    color: @ig-black;
    background: @ig-white;
    padding: 6px 8px;
    border: 1px solid rgba(0,0,0,.2);
    height: 80px;
    line-height: 18px;
    border-radius: @ig-field-border-radius;
    resize: none;
    vertical-align:top;

    &-wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
    }

    &-collapse {
        position: absolute;
        bottom: 1px;
        left: 1px;
        border-radius: 0 0 4px 4px;
        height: 16px;
        width: calc(100% - 2px);
        color: #444;
        background-color: #f1f2f3;
        font-size: 14px;
        text-align: center;
        line-height: 16px;
        display: none;
        cursor: pointer;
        
        &-icon {
            float: left;
            margin-right: 5px;
            font-size: 12px;
        }

        &[class~='visible'] {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
        }
    }

    &::placeholder {
        color: @ig-grey;
    }

    &.ig-field-width-large {
        width: 624px;
        max-width: 100%;
    }

    &.ig-field-width-full {
        width: 100%;
    }

    &.resize {
        resize: vertical;
        min-height: 80px;
    }

    &.autoresize {
        min-height: 160px;
        position: relative;
        padding-bottom: 24px;

        &[class~='locked'] {
            max-height: 160px;
            overflow-y: auto !important;
        }
    }

    &:required:invalid:not(disabled) {
        background: @ig-lightblue-t4;
    }

    &:disabled {
        opacity: 0.33;
    }

    &:enabled:focus:not(.p-state-error) {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 @ig-focus-width @ig-midblue-t3;
        border-color: @ig-field-border-color;
    }

    &:enabled:hover:not(.p-state-error) {
        border-color: rgba(0,0,0,.2);
    }

    &.ng-dirty.ng-invalid {
        background: @ig-lightblue-t5;
        border-bottom-color: none;
    }

    &.ng-valid[required], .ng-valid.required {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
    }

    &.ng-invalid:not(form) {
        background: @ig-lightblue-t5;
        border-color: @ig-field-border-color;
    }
}
