//used with primeng pTooltip directive
@import './IgUiVariables.less';

.ig-tooltip {
    z-index: 100000 !important;

    .ui-tooltip-arrow {
        display: none;
    }

    .ui-tooltip-text {
        background-color: white;
        color: black;
        padding: 8px;
        border-radius: 4px;
        box-shadow: @ig-box-shadow;
    }
}
