//used with primeng pTooltip directive
@import './IgUiVariables.less';

.ig-tooltip {
    z-index: 100000 !important;
    max-width: 400px;

    .ui-tooltip-arrow {
        display: none;
    }

    .ui-tooltip-text {
        background-color: white;
        color: @ig-black;
        padding: 8px;
        border-radius: 4px;
        box-shadow: @ig-box-shadow;
        font-size: 14px;
        line-height: 21px;
    }
}
