/*
    Infogix UI Component Library color variables 
    Sourced from https://github.com/Infogix/styleguide-primeng/blob/master/src/app/components/styles/infogix-ui-variables.scss
    Transformed from SCSS to LESS by replacing '$' with '@ig-'
*/

@import './IgColorVariables.less';

@ig-field-font-family: 'Precisely', sans-serif;

@ig-focus-color: @ig-midblue-t3;
@ig-focus-border-color: @ig-midblue;
@ig-focus-width: 2px;

@ig-field-border-radius: 4px;
@ig-field-border-color: @ig-grey-t3;
@ig-field-border-color-hover: @ig-grey-t1;

@ig-field-height: 32px;
@ig-field-disabled-opacity: 0.33;

@ig-field-width-small: 150px;
@ig-field-width-medium: 308px;
@ig-field-width-large: 624px;
@ig-field-width-full: 100%;


@ig-field-border: 1px solid @ig-grey-t3;
@ig-placeholder-color: @ig-grey;

@ig-select-border-color: rgba(0,0,0,0.2);
@ig-select-button-color: rgba(0,0,0,0.07);
@ig-select-button-hover-color: rgba(0,0,0,0.14);
@ig-select-button-active-color: rgba(0,0,0,0.21);

@ig-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
@popup-shadow: 0 1px 4px rgba(0,0,0,0.5);
