<table>
    <tr class="filter-row" *ngIf="allowAncestry">
        <td class="filter-row-label"><ng-container i18n>Asset Ancestry</ng-container>:</td>
        <td class="filter-row-control">
            <p-dropdown [options]="options?.AncestryOptions" [ngModel]="current.AncestryMode" (ngModelChange)="current.AncestryMode = $event; ancestryChange()" styleClass="filter-dropdown"></p-dropdown>
        </td>
    </tr>
    <tr class="filter-row">
        <td class="filter-row-label"># <ng-container i18n>Hops To Load</ng-container>:</td>
        <td class="filter-row-control">
            <p-dropdown *ngIf="!allowAncestry" [options]="options?.HopOptions" [ngModel]="current.NumberOfImpactHops" (ngModelChange)="current.NumberOfImpactHops = $event; numberOfImpactHopsChange()" styleClass="filter-dropdown"></p-dropdown>
            <p-dropdown *ngIf="allowAncestry" [options]="options?.HopOptions" [ngModel]="current.NumberOfLineageHops" (ngModelChange)="current.NumberOfLineageHops = $event; numberOfLineageHopsChange()" styleClass="filter-dropdown"></p-dropdown>
        </td>
    </tr>
    <tr class="filter-row">
        <td class="filter-row-label" i18n>Display Descendant Assets</td>
        <td class="filter-row-control">
            <p-dropdown [options]="options?.DescendancyOptions" [ngModel]="current.Descendancy" (ngModelChange)="current.Descendancy = $event; descendancyChange()" styleClass="filter-dropdown"></p-dropdown>
        </td>
    </tr>
    <tr class="filter-row">
        <td class="filter-row-label" *ngIf="options?.FilterAssetTypes && options?.FilterAssetTypes.length > 0"><ng-container i18n>Hide by Asset Type</ng-container>:</td>
        <td class="filter-row-control">
            <p-listbox [options]="options?.FilterAssetTypes"
                       [(ngModel)]="selectedFilterAssetTypes"
                       multiple="multiple"
                       [showToggleAll]="false"
                       styleClass="filter-dropdown"
                       checkbox="checkbox"
                       optionLabel="label"
                       (onChange)="selectedFilterAssetTypes = $event.value; assetTypeChange($event)">
            </p-listbox>
        </td>
    </tr>
    <tr class="filter-row">
        <td class="filter-row-label" *ngIf="options?.FilterPredicates && options?.FilterPredicates.length > 0"><ng-container i18n>Hide by Impact Predicate</ng-container>:</td>
        <td class="filter-row-control">
            <p-listbox [options]="options?.FilterPredicates"
                       [(ngModel)]="selectedFilterPredicates"
                       multiple="multiple"
                       [showToggleAll]="false"
                       styleClass="filter-dropdown"
                       checkbox="checkbox"
                       optionLabel="label"
                       (onChange)="selectedFilterPredicates = $event.value; predicateChange($event)">
            </p-listbox>
        </td>
    </tr>
    <tr class="filter-row">
        <td class="filter-row-label" *ngIf="options?.FilterResponsibilityTypes && options?.FilterResponsibilityTypes.length > 0"><ng-container i18n>Hide by Responsible Party</ng-container>:</td>
        <td class="filter-row-control">
            <p-listbox [options]="options?.FilterResponsibilityTypes"
                       [(ngModel)]="selectedFilterResponsibilityTypes"
                       multiple="multiple"
                       [showToggleAll]="false"
                       styleClass="filter-dropdown"
                       checkbox="checkbox"
                       optionLabel="label"
                       (onChange)="selectedFilterResponsibilityTypes = $event.value; responsibilityTypeChange($event)">
            </p-listbox>
        </td>
    </tr>
</table>