<table>
    <tr class="filter-row">
        <td class="filter-row-short-label">Display:</td>
        <td class="filter-row-control">
            <div><p-checkbox [(ngModel)]="current.DisplayBadges" binary="true" label="All Badges" labelStyleClass="filter-checkbox-label" (ngModelChange)="allBadgesChange()"></p-checkbox></div>
            <div><p-checkbox [(ngModel)]="current.IncludeNonLeaf" binary="true" label="Ancestor Badges" labelStyleClass="filter-checkbox-label" (ngModelChange)="ancestorBadgesChange()"></p-checkbox></div>
            <div><p-checkbox [(ngModel)]="current.DisplayIcons" binary="true" label="Icons" labelStyleClass="filter-checkbox-label" (ngModelChange)="iconsChange()"></p-checkbox></div>
            <div><p-checkbox [(ngModel)]="current.DisplayScores" binary="true" label="Scores" labelStyleClass="filter-checkbox-label" (ngModelChange)="scoreChange()"></p-checkbox></div>
        </td>
    </tr>
</table>