.grid-actions-header {
  display: inline-flex;
  padding: 8px 10px;
  width: 100%;

  .advanced-filtering-component {
    margin-left: 0;
  }

  .grid-action-buttons {
    div {
      display: inline-block;
    }

    button {
      margin-left: 8px;
    }
  }

  &.hidden {
    display: none;
  }
}

.grid-table-wrapper {
  padding: 0 10px 60px;
  height: calc(100% - 65px);
}
