.grid-actions-header {
    display: inline-flex;
    padding: 16px 10px;
    width: 100%;

    advanced-filtering {
        margin-left:0px;
    }
    
    .grid-action-buttons {
        div {
            display: inline-block;
        }

        button {
            margin-left: 8px;
        }
    }

    &.hidden {
        display: none;
    }
}

.grid-table-wrapper {
    padding: 0px 10px 60px;
    height: calc(100% - 64px);
}
