<div class="row">
    <div class="col s12 m5 l4" *ngIf="!isEditingFieldType">
        <div class="tile tile-detail">
            <header>Artifact Types                
                <d3s-tile-actions [hasAdd]="true" (addClick)="add(0)"></d3s-tile-actions>
            </header>
            <input type="text" pInputText [(ngModel)]="searchValue" placeholder="Search..." style="width: 100%;margin-bottom:10px;">    
            
            <p-treeTable [value]="ArtifactTypes | treeSearch: searchValue:'Name'" selectionMode="single" dataKey="ID" [(selection)]="selectedRow"  metaKeySelection="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 60%">Name</th>
                        <th style="width: 30px; overflow:visible"></th>
                        <th style="width: 30px"></th>
                        <th style="width: 30px"></th>
                        <th style="width: 30px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-item="rowData">
                    <tr [ttSelectableRow]="rowNode" #treeline>
                        <td>
                            <d3s-treeTableToggler [rowNode]="rowNode" ></d3s-treeTableToggler>
                            {{item.Name}}
                        </td>
                        <td>
                            <d3s-preview-tooltip objectType="ArtifactType" [objectId]="item.ID" icon="info"></d3s-preview-tooltip>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a style="cursor:pointer;" (click)="add(item.ID)"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a style="cursor:pointer;" (click)="edit(item.ID)"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a style="cursor:pointer;" (click)="delete(item.ID)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>        
    </div>
    <div *ngIf="isEditing" class="col s12 m7 l8">
        <div class="tile tile-detail">
            <d3s-asset-type-editor [assetTypeClass]="'G'" [id]="selectedRow?.data?.AssetTypeID" [title]="'Edit Artifact Type'" (onCancel)="cancel()" (onComplete)="actionComplete($event)"></d3s-asset-type-editor>
        </div>
    </div>
    <div *ngIf="isAdding" class="col s12 m7 l8">
        <div class="tile tile-detail">
            <d3s-asset-type-editor [showParentPredicates]="selectedRow != null && selectedRow.data != null && selectedRow.data.ID > 0" [assetTypeClass]="'G'" [parentID]="selectedRow?.data?.ID" [title]="'Add Artifact Type'" (onCancel)="cancel()" (onComplete)="actionComplete($event)"></d3s-asset-type-editor>
        </div>
    </div>    
    <div *ngIf="isDeleting" class="col s12 m7 l8">
        <div class="tile tile-detail">            
            <d3s-artifact-type-delete (onCancel)="cancel()" [callback]="theDeleteCallback" [artifactTypeId]="selectedRow.data.ID"></d3s-artifact-type-delete>
        </div>
    </div>
    <div *ngIf="!isEditing && !isAdding && !isDeleting" class="col s12 m7 l8">
        <div class="tile tile-detail">
            <d3s-field-definition-tile [objectType]="objectType" [objectID]="selectedRow?.data?.ID"></d3s-field-definition-tile>
        </div>
        <div class="tile tile-detail" *ngIf="!isEditingFieldType && !isAddingFieldType">
            <d3s-responsibility-relations queryType="A" [id]="selectedRow?.data?.AssetTypeID" [showAddButton]="false"></d3s-responsibility-relations>
        </div>
        <div class="tile tile-detail" *ngIf="!isEditingFieldType && !isAddingFieldType">
            <d3s-admin-allocation [objectType]="objectType" [objectID]="selectedRow?.data?.ID"></d3s-admin-allocation>
        </div>
        <div class="tile tile-detail" *ngIf="!isEditingFieldType && !isAddingFieldType">
            <d3s-admin-relationships-list [filterToName]="selectedRow?.data?.Name" [objectType]="objectType" [objectID]="selectedRow?.data?.ID"></d3s-admin-relationships-list>
        </div>        
    </div>
</div>
