<div class="row">
    <div class="col s12 m5 l4" *ngIf="!isEditingFieldType">
        <div class="tile tile-detail">
            <header>
                {{tabTitle}}
                <d3s-tile-actions [hasAdd]="true" (addClick)="add(0)" [dataCyPrefix]="dataCyPrefix"></d3s-tile-actions>
            </header>
            
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <p-treeTable *ngIf="!isLoading" #dt [value]="artifactTypes" #assetTypeTree selectionMode="single" filterMode="strict" (onNodeSelect)="selectedItemChange()" [globalFilterFields]="['name']" [(selection)]="selectedRow" metaKeySelection="true" [paginator]="true" [rows]="defaultInitialItemsPerPage" [pageLinks]="3" (onFilter)="expandNodes()" (onPage)="onPageEvent($event)">
                <ng-template pTemplate="caption">
                    <div>
                        <input type="text" pInputText i18n-placeholder placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: 100%;margin-bottom:10px;">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 60%"><ng-container i18n>Name</ng-container></th>
                        <th style="width: 30px; overflow:visible"></th>
                        <th style="width: 30px"></th>
                        <th style="width: 30px"></th>
                        <th style="width: 30px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-item="rowData">
                    <tr [ttSelectableRow]="rowNode" #treetableRows>
                        <td>
                            <d3s-treeTableToggler [rowNode]="rowNode"></d3s-treeTableToggler>
                            {{item.name}}
                        </td>
                        <td>
                            <div class="RowTools">
                                <d3s-preview-tooltip objectType="ArtifactType" [uid]="item.uid" icon="info"></d3s-preview-tooltip>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a style="cursor:pointer;" (click)="add(item.uid)" [igDataCy]="dataCyPrefix + item.uid + '_Button_Add'">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a style="cursor:pointer;" (click)="edit(item.uid)" [igDataCy]="dataCyPrefix + item.uid + '_Button_Edit'">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a style="cursor:pointer;" (click)="delete(item.uid)" [igDataCy]="dataCyPrefix + item.uid + '_Button_Remove'">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows"
                                          [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td colspan="5">
                            <ng-container i18n>No asset types found.</ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
    </div>
    <div *ngIf="isEditing" class="col s12 m7 l8">
        <div class="tile tile-detail">
            <d3s-asset-type-editor [assetTypeClass]="assetTypeClass" [id]="editorModel?.data?.AssetTypeID" [parentID]="editorModel?.data?.ParentID" [title]="formTitle" (onCancel)="cancel()" (onComplete)="actionComplete($event)"></d3s-asset-type-editor>
        </div>
    </div>
    <div *ngIf="isAdding" class="col s12 m7 l8">
        <div class="tile tile-detail">
            <d3s-asset-type-editor [assetTypeClass]="assetTypeClass" [parentID]="editorModel?.data?.ID" [title]="addClassName" (onCancel)="cancel()" (onComplete)="actionComplete($event)"></d3s-asset-type-editor>
        </div>
    </div>
    <div *ngIf="isDeleting" class="col s12 m7 l8">
        <div class="tile tile-detail">
            <d3s-asset-type-delete (onCancel)="cancel()" [callback]="theDeleteCallback" [artifactTypeUid]="selectedRow.data.uid" [assetTypeId]="selectedRow.data.AssetTypeID" [count]="selectedRow.data.count" [assetTypeName]="this.selectedRow.data.name"></d3s-asset-type-delete>
        </div>
    </div>
    <div *ngIf="!isEditing && !isAdding && !isDeleting && (selectedRow?.data?.ID && selectedRow?.data?.AssetTypeID)" class="col s12 m7 l8">
        <div class="tile tile-detail">
            <d3s-field-definition-tile [objectName]="selectedRow?.data?.name" [objectType]="'ArtifactType'" [assetTypeUid]="selectedRow?.data?.uid" [supportsPrimaryFilterOption]="true" [showAddToSearch]="true" [showDisplayInColumn]="true"></d3s-field-definition-tile>
        </div>
        <div class="tile tile-detail" *ngIf="!isEditingFieldType && !isAddingFieldType">
            <d3s-responsibility-relations queryType="A" [uid]="selectedRow?.data?.uid" [showAddButton]="false"></d3s-responsibility-relations>
        </div>
        <div class="tile tile-detail" *ngIf="!isEditingFieldType && !isAddingFieldType">
            <d3s-admin-allocation [objectType]="objectType" [objectID]="selectedRow?.data?.ID"></d3s-admin-allocation>
        </div>
        <div class="tile tile-detail" *ngIf="!isEditingFieldType && !isAddingFieldType">
            <d3s-admin-relationships-list [filterToName]="selectedRow?.data?.Name" [objectType]="objectType" [objectID]="selectedRow?.data?.ID"></d3s-admin-relationships-list>
        </div>
    </div>
</div>
