@import "../../../../../Content/styles/infogix-ui/IgColorVariables";

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host ::ng-deep .header-wrapper {
  border-bottom: 1px solid @ig-grey-t4;
  margin-bottom: 1rem;
}

.space-around {
  padding: 1rem;
}
