<div class="asset-detail-tabs">
	<ig-property-group title="Steps" [shouldBePadded]="false" [showHeaderLine]="false">
		<div readonly>
			<d3s-assignment-progress-step *ngFor="let assignmentItemStep of assignmentItemSteps" [workflowItemUid]="workflowItemUid"
										  [assignmentItemStep]="assignmentItemStep" [showCompleteAssignment]="isSidePanel"
										  (stepClickChange)="stepSelectionChanged(assignmentItemStep, $event)"
										  (completeAssignment)="completeAssignment.emit($event)"
										  [isLastStep]="assignmentItemSteps.indexOf(assignmentItemStep) === (assignmentItemSteps.length - 1)"
			></d3s-assignment-progress-step>
		</div>
	</ig-property-group>
</div>
<div class="space-around">
	<a (click)="linkClick.emit({objectType: 'WorkflowType', objectUid: workflowItemUid })"
	   i18n>Show Workflow Diagram and Details</a>
</div>
<pre style="white-space: pre-wrap">{{ assignmentItemSteps | json }}</pre>
