<div class="row">
    <div class="col s12">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <div class="tile tile-detail"
             *ngIf="!isLoading">
            <header>
                <d3s-tile-actions [hasAdd]="false"
                                  [hasFilterMode]="true"
                                  [(filterMode)]="showSimpleFilter"></d3s-tile-actions>
            </header>
            <input type="text"
                   [hidden]="!showSimpleFilter"
                   pInputText
                   size="100"
                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="Search..."
                   i18n-placeholder
                   class="grid-simple-filter">
            <p-table #dt
                     [value]="types"
                     selectionMode="single"
                     [metaKeySelection]="true"
                     [globalFilterFields]="['Name','Description']"
                     sortField="Name"
                     [pageLinks]="3"
                     [paginator]="true"
                     [rows]="rowsPerPage || defaultInitialItemsPerPage"
                     [rowsPerPageOptions]="defaultPagingOptions"
                     [(selection)]="selected"
                     (onPage)="numberOfRowsByCategoryService.onPage($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="'Name'"
                            style="width: 200px">
                            <ng-container i18n>Name</ng-container>
                            <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'Description'"
                            style="width: 500px">
                            <ng-container i18n>Description</ng-container>
                            <d3s-sortIcon [field]="'Description'"></d3s-sortIcon>
                        </th>
                    </tr>
                    <tr [hidden]="showSimpleFilter">
                        <th>
                            <d3s-column-filter [field]="'Name'"
                                               [datatype]="'text'"></d3s-column-filter>
                        </th>
                        <th>
                            <d3s-column-filter [field]="'Description'"
                                               [datatype]="'text'"></d3s-column-filter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"
                             let-item>
                    <tr (dblclick)="selected = item; showAsset(selected);"
                        [pSelectableRow]="item">
                        <td>
                            <a (click)="showAsset(item)">{{item.Name}}</a>
                        </td>
                        <td>
                            <span [innerHtml]="item?.Description"></span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template *ngIf="dt.totalRecords"
                             pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first"
                                          [rows]="dt.rows"
                                          [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>