p-treetable {
  td {
    &.asset-grid-tools {
      vertical-align: top;
      text-align: right;
      padding: 1px;

      button {
        background: transparent;

        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }

        &:active {
          background: rgba(0, 0, 0, 0.14);
        }
      }
    }
  }
}

.grid-actions-header {
  display: inline-flex;
  padding: 16px 10px;
  width: 100%;

  .grid-action-buttons {
    min-width: 80px;

    div {
      display: inline-block;
    }

    button {
      margin-left: 8px;
    }
  }

  &.hidden {
    display: none;
  }

  .simple-search {
    width: 200px;
  }
}

.hierarchy-grid {
  .tree-wrapper {
    padding: 0 12px;
  }

  .item-description {
    padding-top: 16px;
    padding-left: 10px;
  }
}

