<div class="row">
    <div class="col s12">        
        <div class="tile tile-detail">
            <header *ngIf="!showDelete && !showEditor">
                &nbsp; <d3s-tile-actions [hasAdd]="hasAddAssetPermissions()"
                                         [hasExport]="true"
                                         [isExportDisabled]="!canExportRecords()"
                                         [exportDisabledMessage]="'Export not available for over ' + maxExportRows + ' rows'"
                                         (addClick)="showAdd(0)"
                                         (exportClick)="exportExcel(0)"></d3s-tile-actions>
            </header>
            <div *ngIf="!showDelete && !showEditor && assetType && assetType.Description && assetType.Description.length >0"
                 [innerHtml]="assetType.Description"
                 class="item-description"></div>
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <p-treeTable #treeTable
                         [pageLinks]="3"
                         [paginator]="true"
                         [rows]="rowsPerPage"
                         [rowsPerPageOptions]="defaultPagingOptions"
                         *ngIf="!isLoading && !showDelete && !showEditor"
                         [value]="treeNodeArray"
                         selectionMode="single"
                         [(selection)]="selected"
                         styleClass="breadcrumbTree treetable"
                         [style]="{'line-height':'25px'}"
                         [globalFilterFields]="filterColumns"
                         (onFilter)="expandNodes()"
                         dataKey="AssetUid">
                <ng-template pTemplate="caption">
                    <div>
                        <input type="text" #inputBox pInputText placeholder="Search" (input)="treeTable.filterGlobal($event.target.value, 'contains')" style="width: 100%;margin-bottom:10px;">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let column of columns"
                            [ttSortableColumn]="column.sortable === true ? column.datafield : null">
                            {{column.text}}
                            <p-treeTableSortIcon *ngIf="column.sortable === true" [field]="column.datafield"></p-treeTableSortIcon>
                        </th>
                        <th style="width: 40px"></th>
                        <th style="width: 40px"></th>
                        <th style="width: 40px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"
                             let-rowNode
                             let-item="rowData">
                    <tr [ttSelectableRow]="rowNode">
                        <td class="no-text-overflow" *ngFor="let column of columns; let i = index">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                            <ng-container *ngIf="i === 0">
                                <a (click)="showHierarchy(item)"
                                   [ngStyle]="setTreeNodeStyles(rowNode.node)"
                                   class="link">
                                    <d3s-dynamic-field-value [column]="column"
                                                             [fields]="fields"
                                                             [useApiName]="true"
                                                             [item]="item"></d3s-dynamic-field-value>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="i !== 0">
                                <d3s-dynamic-field-value [column]="column"
                                                         [fields]="fields"
                                                         [useApiName]="true"
                                                         [item]="item"></d3s-dynamic-field-value>
                            </ng-container>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a style="cursor:pointer;"
                                   *ngIf="displayChildAdd(item?.Level)"
                                   (click)="selected = rowNode.node; showAdd(item.Level)"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools"
                                 *ngIf="item.Permissions.ModifyAsset">
                                <a style="cursor:pointer;"
                                   (click)="selected = rowNode.node; showEditor = true;"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools"
                                 *ngIf="item.Permissions.DeleteAsset">
                                <a *ngIf="!rowNode.node.children || rowNode.node.children?.length == 0"
                                   style="cursor:pointer;"
                                   (click)="selected = rowNode.node; showDelete=true;"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <d3s-grid-paging-info [first]="treeTable.first"
                                          [rows]="treeTable.rows"
                                          [totalRecords]="treeTable.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-treeTable>

            <d3s-asset-delete-editor *ngIf="showDelete"
                                     [uid]="selected?.data?.AssetUid"
                                     [assetTypeUid]="assetTypeUid"
                                     [displayValue]="(selected?.data?.Path ? selected?.data?.Path : objectName)"
                                     (onCancel)="showDelete = false; filter(null);"
                                     (onDeleted)="onDeleted();">
            </d3s-asset-delete-editor>

            <d3s-asset-editor *ngIf="showEditor"
                              [assetUid]="selected?.data?.AssetUid"
                              [assetTypeUid]="assetTypeUid"
                              [parentAssetUid]="selectedParentId"
                              [title]="selected?.data?.Path ? selected?.data?.Path : assetTypeTitle"
                              [selection]="selected?.data"
                              (saveClick)="save()"
                              (closeClick)="closeEditor();"></d3s-asset-editor>
        </div>

    </div>
</div>