// By this we guarantee that vertical scroll will be on <table>, not on <asset-grid /> parent
// The overall approach is to force table height collapse if it doesn't fits to screen
:host {
  .main-panel {
    display: flex;
    flex-direction: column;


    .tree-wrapper-wrapper {
      overflow: hidden;

      // By this we guarantee that table will be visible even if screen height is too small
      // In such case, double vertical scroll will be introduced 
      min-height: 200px;

      .tree-wrapper {
        height: 100%;

        p-treetable ::ng-deep {
          .p-treetable {
            height: 100%;
            display: flex;
            flex-direction: column;
    
            .p-treetable-wrapper {
              overflow: auto;
            }
          }
        }
      }
    }
  }
}

// By this we guarantee that column headings are always visible (sticky) even if user scrolls vertically
:host p-treetable ::ng-deep thead tr th {
  position: sticky;
  top: 0;
  z-index: 2;
}

// This adds horizontal scroll on table
:host p-treetable ::ng-deep {
  .p-treetable-wrapper {
    overflow: auto;
  }

  table {
    min-width: 100%;
    width: max-content;
  }
}

// This makes kebab menu to be sticky
:host p-treetable ::ng-deep table {
  th.asset-grid-tools, td.asset-grid-tools {
    position: sticky;
    right: -1px; // This 1px compensates transparent border
  }

  td.asset-grid-tools {
    z-index: 1;
  }
}

// This makes sure that kebab menu can inherit white background from p-treetable
:host p-treetable ::ng-deep {
  .p-treetable-wrapper, table, tbody, tr:not(.p-highlight), td {
    background: inherit;
  }
}

// This ensures that only column headings affects calculation of column width
:host p-treetable ::ng-deep td {
  max-width: 0;

  // For some reason, max-width: 0 makes kebab menu to extend table width. Thus we undo this to avoid weird mess
  &.asset-grid-tools {
    max-width: unset;
  }
}

p-treetable ::ng-deep table {
  th, 
  td {
    &:not(:last-child) {
      padding-right: 16px;
    }

    &:not(:first-child) {
      padding-left: 16px;
    }
  }
}

p-treetable {
  td {
    &.asset-grid-tools {
      vertical-align: top;
      text-align: right;
      padding: 1px;

      button {
        background: transparent;

        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }

        &:active {
          background: rgba(0, 0, 0, 0.14);
        }
      }
    }
  }
}

.grid-actions-header {
  display: inline-flex;
  padding: 8px 10px;
  width: 100%;

  .grid-action-buttons {
    min-width: 80px;

    div {
      display: inline-block;
    }

    button {
      margin-left: 8px;
    }
  }

  &.hidden {
    display: none;
  }

  .simple-search {
    width: 200px;
  }
}

.hierarchy-grid {
  .tree-wrapper {
    padding: 0 12px;
  }

  .item-description {
    padding-top: 16px;
    padding-left: 10px;
  }

  .d3s-info-tooltip {
    .tooltip-content {
      transform: translateX(-50%);
      max-width: 500px;
      width: unset;
    }
  }
}
