<div class="row">
    <as-split [gutterSize]="sidePanelService.draggableAreaWidth"
              [class.side-panel-close]="!sidePanelOpen"
              (dragEnd)="onSidePanelDragEnd(storageKey, $event)"
              unit="pixel"
              direction="horizontal"
              class="col s12 split"
              style="display: flex">
        <as-split-area class="tile tile-detail main-panel">
            <ng-content select="content-section"></ng-content>
        </as-split-area>
        <as-split-area [size]="getSidePanelWidth()" 
                       [minSize]="getSidePanelMinWidth()" 
                       [maxSize]="getSidePanelMaxWidth()" 
                       class="tile tile-detail side-panel">
            <side-panel [setMinMaxWidth]="false"
                        [storageKey]="storageKey"
                        [expanded]="true"
                        [showEmptyOverlay]="!selected"
                        (expandedChange)="sidePanelOpen=$event"
                        hasDetail="true">
                @if (sidePanelOpen) {
                <ng-content select="side-section"></ng-content>
                }
            </side-panel>
        </as-split-area>
    </as-split>
</div>