<d3s-loading [isLoading]="isFormLoading"></d3s-loading>
<div *ngIf="!isFormLoading">
    <d3s-delete-form [callback]="theDeleteCallback"
                     [itemId]="0"
                     method="callback"
                     [prompt]="getPrompt()"
                     [warningMessage]="descendantsMessage"
                     [confirmationText]="showAsModal ? descendantsMessage : null"
                     [showAsModal]="showAsModal"
                     [modalTitle]="modalTitle"
                     [isModalVisible]="isModalVisible"
                     (onCancel)="onCancel.emit();">
        <div *ngIf="showAsModal" prompt>
            {{getPrompt()}}
        </div>
    </d3s-delete-form>
</div>