<div class="left form-header-info">
    <h4>{{actionName}} Field Type</h4>
</div>
<div class="clear"></div>
<div class="form-instructions">
    Modify your field using the form below.  There are many types of fields from Simple Text and HTML to Lookups and Dates.
    <div class="form-instructions-error" data-bind="visible: FormInvalid, text: FormValidationMessage">
    </div>
</div>
<div *ngIf="isLoading" style="text-align:center;">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
<div *ngIf="!isLoading">
    <form (ngSubmit)="onSubmit()" #fieldEditor="ngForm">
        <div class="row">
            <div class="col s4">
                <div id='FriendlyNameTip' class="FieldNameRequired">Name<span class="FieldNameError" data-bind="visible: FriendlyNameInvalid">*</span></div>
                <input required name="friendlyname" pInputText type="text" [(ngModel)]="model.FieldType.FriendlyName" style="width: 98%; display: block;" (keyup)="syncApiNameWithName && updateApiName($event)" #friendlyName="ngModel" />
                <div [hidden]="friendlyName.valid || friendlyName.pristine">Friendly name is required</div>
            </div>
            <div class="col s4">
                <div id='NameTip' class="FieldNameRequired">API Name<span class="FieldNameError" data-bind="visible: ApiNameInvalid">*</span></div>
                <input required name="name" pInputText type="text" [(ngModel)]="model.FieldType.Name" style="width: 98%; display: block;" (keyup)="syncApiNameWithName=false;" #apiName="ngModel" />
                <div [hidden]="apiName.valid || apiName.pristine">API name is required</div>
            </div>
            <div class="col s4">
                <div id='CategoryTip' class="FieldNameRequired">Category</div>
                <input name="category" pInputText type="text" [(ngModel)]="model.FieldType.Category" style="width: 98%; display: block;" />
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div id='TypeTip' class="FieldNameRequired">Input Type<span class="FieldNameError" data-bind="visible: DataTypeInvalid">*</span></div>
                <p-dropdown required name="datatype" [options]="lookups.DataTypes" [(ngModel)]="model.FieldType.Type" [style]="{'width':'98%', 'display' : 'block'}" (onChange)="loadDataType($event.value)" #dataType="ngModel" ngDefaultControl></p-dropdown>
                <div [hidden]="dataType.valid || dataType.pristine">Field data type is required</div>
            </div>
            <div class="col s6">
                <div class="col s3 input-field">
                    <input name="isListable" pCheckbox type="checkbox" [(ngModel)]="model.FieldType.IsListable" />Is Listable?
                </div>
                <div class="col s3 input-field">
                    <input name="isRequired" #isRequired pCheckbox type="checkbox" [(ngModel)]="model.FieldType.IsRequired" (change)="model.FieldType.MinimumLength = (isRequired.checked) ? 1 : 0" />Is Required?
                </div>
            </div>
        </div>
        <div class="row" *ngIf="errorMessage != ''">
            <div class="col s12">
                <div style="color:red">{{errorMessage}}</div>
            </div>
        </div>
        <div class="row" *ngIf="model.FieldType.Type == 'Lookup'">
            <div class="col s6">
                <div id='LookupDisplayFormatTip' class="FieldNameRequired">Type of List</div>
                <p-dropdown name="lookup" [options]="lookups.Lookups" [ngModel]="model.selectedLookup" (ngModelChange)="model.selectedLookup=$event;lookupTypeSelected($event);" [style]="{ 'width': '98%' }" ngDefaultControl></p-dropdown>
            </div>
            <div class="col s3">
                <div id='LookupDisplayFormatTip' class="FieldNameRequired">List Display Format</div>
                <input name="lookupFormat" pInputText type="text" [(ngModel)]="model.FieldType.LookupDisplayFormat" style="width: 98%; display: block;" />
            </div>
            <div class="col s3">
                <div class="FieldName">&nbsp;</div>
                <p-dropdown name="lookupTokens" [options]="model.LookupTokens" (onChange)="selectToken($event.value)" [disabled]="model.LookupTokens?.length < 1" [style]="{'width':'98%'}" ngDefaultControl></p-dropdown>
            </div>
        </div>
        <div class="row" *ngIf="model.FieldType.Type == 'Text'">
            <div class="col s3">
                <div id='PatternTip' class="FieldName">Validation Pattern</div>
                <input name="validationPattern" pInputText type="text" [(ngModel)]="model.FieldType.Pattern" (change)="validatePattern()" style="width: 98%; display: block;" />
            </div>
            <div class="col s3">
                <div class="FieldName">&nbsp;</div>
                <p-dropdown name="validationPattersOpt" [options]="lookups.Patterns" (onChange)="model.FieldType.Pattern = $event.value; validatePattern()" [style]="{ 'width': '98%' }" ngDefaultControl></p-dropdown>
            </div>
            <div class="col s3">
                <div id='MinimumLengthTip' class="FieldName">Minimum Length</div>
                <input name="minLength" type="number" [disabled]="!model.FieldType.IsRequired" [(ngModel)]="model.FieldType.MinimumLength" style="width: 98%; display: block;" />
            </div>
            <div class="col s3">
                <div id='MaximumLengthTip' class="FieldName">Maximum Length</div>
                <input name="maxLength" type="number" [(ngModel)]="model.FieldType.MaximumLength" style="width: 98%; display: block;" />
            </div>
        </div>
        <div class="row" *ngIf="model.FieldType.Type == 'Text' && model.FieldType.Pattern?.length > 0">
            <div class="col s3">
                <div class="FieldNameRequired">Test Pattern</div>
                <input name="testPattern" pInputText type="text" [(ngModel)]="testPattern" (change)="validatePattern()" style="width: 98%; display: block;" />
            </div>
            <div class="col s3">
                <div for="FieldNameRequired">&nbsp;</div>
                <div>{{testPatternValidationText}}</div>
            </div>
        </div>
        <div class="row" *ngIf="model.FieldType.Pattern?.length > 0 || model.FieldType.MinimumLength > 0 || model.FieldType.IsRequired">
            <div class="col s12">
                <div id='ValidationDescriptionTip' class="FieldName">Validation Message</div>
                <p-editor name="validationDesc" [(ngModel)]="model.FieldType.ValidationDescription" [style]="{'height':'150px'}" ngDefaultControl></p-editor>
            </div>
        </div>
        <!-- fusion lookup -->
        <div class="row" *ngIf="model.FieldType.Type == 'FusionLookup'">
            <div class="col s12" style="margin: 10px 0 10px 0">
                <h5>Fusion Lookups</h5>
                <table class="highlight, striped" cellpadding="5">
                    <thead>
                        <tr>
                            <th>Target Item</th>
                            <th>Reference Type</th>
                            <th>Reference Item</th>
                            <th>Reference Columns</th>
                            <th>Table Settings</th>
                            <th style="width: 50px; text-align: right">
                                <a class='btn btn-flat waves-effect blue-text' (click)="addFusion()"><i class='fa fa-plus' title='Add fusion item'></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of model.FusionItems; let i=index;">
                        <tr>
                            <td>
                                <p-dropdown name="fusionAttrType" [options]="lookups.FusionAttributeTypes" [(ngModel)]="item.SourceFusionAttributeType" [style]="{ 'width' : '95%' }" (onChange)="loadTargetFusionAttributes(item)"></p-dropdown>
                            </td>
                            <td>
                                <p-dropdown name="refType" [options]="lookups.ReferenceTypes" [(ngModel)]="item.ReferenceType" [style]="{ 'width' : '95%' }" (onChange)="loadTargetFusionAttributes(item)"></p-dropdown>
                            </td>
                            <td>
                                <p-dropdown name="targetFusType" [options]="item.TargetFusionAttributeTypes" [(ngModel)]="item.TargetFusionAttributeType" [style]="{ 'width' : '95%' }" (onChange)="loadFusionDisplayFields(item)"></p-dropdown>
                            </td>
                            <td>
                                <p-multiSelect name="fusDisplayFields" [options]="item.FusionDisplayFields" [(ngModel)]="item.DisplayFields" [style]="{ 'width' : '95%' }"></p-multiSelect>
                            </td>
                            <td>
                                <div><input name="fusHideHeader" pCheckbox type="checkbox" [(ngModel)]="item.HideHeader" /> Hide Header?</div>
                                <div><input name="fusHideFooter" pCheckbox type="checkbox" [(ngModel)]="item.HideFooter" /> Hide Footer?</div>
                            </td>
                            <td><a class='btn btn-flat waves-effect red-text' (click)="removeFusion(i)"><i class='fa fa-trash' title='Remove'></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- complex relation lookup -->
        <div class="row" *ngIf="model.FieldType.Type == 'ComplexRelationLookup'">
            <div class="col s12" style="margin: 10px 0 10px 0">
                <table cellpadding="5" class="relation-table">
                    <thead>
                        <tr>
                            <th>Relation</th>
                            <th>Reference Type</th>
                            <th>Relation Item</th>
                            <th>Table Settings</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let i of model.RelationItems; let x=index;">
                        <tr [style.background-color]="x%2 == 1 ? '#ddd' : '#fff'">
                            <td colspan="5">
                                &nbsp;
                            </td>
                        </tr>
                        <tr [style.background-color]="x%2 == 1 ? '#ddd' : '#fff'">
                            <td style="vertical-align: top; width:30%" *ngIf="x == 0">
                                {{objectName}}
                            </td>
                            <td style="vertical-align: top; width:30%" *ngIf="x > 0">
                                {{i.displayValue}}
                            </td>
                            <td style="vertical-align: top; width:30%">
                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="i.ReferenceType" style="width:95%" (ngModelChange)="changeRefType(x)" [disabled]="x < relationItemCount-1">
                                    <option *ngFor="let j of lookups.ComplexLookupRelations" [value]="j.ID">{{j.DisplayName}}</option>
                                </select>
                            </td>
                            <td *ngIf="i.relationsLoading" style="vertical-align: top; width:30%">
                                <span><i class="fa fa-spinner fa-spin"></i></span>
                            </td>
                            <td *ngIf="!i.relationsLoading" style="vertical-align: top; width:30%">
                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="i.selectedRelationItemID" style="width:95%" (ngModelChange)="changeRel(x)" [disabled]="x < relationItemCount-1">
                                    <option *ngFor="let j of i.relationItems" [value]="j.value">{{j.label}}</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr [style.background-color]="x%2 == 1 ? '#ddd' : '#fff'">
                            <td colspan="4" class="display-table-title">Reference Columns</td>
                            <td></td>
                        </tr>
                        <tr [style.background-color]="x%2 == 1 ? '#ddd' : '#fff'">
                            <td style="vertical-align: top" colspan="3">
                                <table class="striped highlight display-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Show?</th>
                                            <th>Sort</th>
                                            <th>Display Name Override</th>
                                            <th>Filter</th>
                                            <th>Field Order</th>
                                        </tr>
                                    </thead>
                                    <tbody style="max-height:250px; overflow-y: scroll">
                                        <tr *ngFor="let d of i.DisplayFields">
                                            <td>
                                                {{d.FieldTypeName}}
                                            </td>
                                            <td style="width: 10%">
                                                <input [ngModelOptions]="{standalone: true}" type="checkbox" [(ngModel)]="d.Show" />
                                            </td>
                                            <td style="width: 10%">
                                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="d.SortOrder" style="width:95%">
                                                    <option></option>
                                                    <option *ngFor="let j of i.SortOrderList" [value]="j.id">{{j.text}}</option>
                                                </select>
                                            </td>
                                            <td style="width: 25%">
                                                <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="d.OverrideDisplayName" />
                                            </td>
                                            <td style="width: 20%">
                                                <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="d.FilterValue" />
                                            </td>
                                            <td style="width: 10%">
                                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="d.DisplayOrder" style="width:95%" (ngModelChange)="changeDisplayOrder(d, i)">
                                                    <option *ngFor="let j of i.SortOrderList" [value]="j.id">{{j.text}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td *ngIf="x == 0">
                                <div><input [ngModelOptions]="{standalone: true}" type="checkbox" [(ngModel)]="i.HideFooter" /> Hide Footer?</div>
                                <div><input [ngModelOptions]="{standalone: true}" type="checkbox" [(ngModel)]="i.HideHeader" /> Hide Header?</div>
                                <div><input [ngModelOptions]="{standalone: true}" type="checkbox" [(ngModel)]="i.HideFilter" /> Hide Filter?</div>
                            </td>
                            <td *ngIf="x != 0"></td>
                            <td>
                                <div class="RowTools">
                                    <a *ngIf="i.selectedRelationItemID != null && x == relationItemCount-1" (click)="addRelation(i)" style="cursor: pointer; display: inline-block;"><i class="fa fa-plus"></i></a>
                                    <a *ngIf="x == relationItemCount-1 && x > 0" (click)="removeRelation(i)" style="cursor: pointer; display: inline-block;"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--legacy relation lookup -->
        <div class="row" *ngIf="model.FieldType.Type == 'RelationLookup'">
            <div class="col s12" style="margin: 10px 0 10px 0">
                <table cellpadding="5">
                    <thead>
                        <tr>
                            <th>Relation</th>
                            <th>Reference Type</th>
                            <th>Child Relation</th>
                            <th>Table Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align: top; width: 260px">
                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="model.RelationItem.selectedRelationItemID" style="width:95%" (ngModelChange)="changeLegacyRef()">
                                    <option *ngFor="let j of lookups.IntersectTypes" [value]="j.value">{{j.label}}</option>
                                </select>
                            </td>
                            <td style="vertical-align: top; width: 260px">
                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="model.RelationItem.ReferenceType" style="width:95%" (ngModelChange)="changeLegacyRef()">
                                    <option *ngFor="let j of lookups.ReferenceTypes" [value]="j.value">{{j.label}}</option>
                                </select>
                            </td>
                            <td style="vertical-align: top; width: 260px">
                                <span *ngIf="childIntersectsLoading"><i class="fa fa-spinner fa-spin"></i></span>
                                <select *ngIf="!childIntersectsLoading" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.RelationItem.selectedChildIntersectType" style="width:95%" [disabled]="childIntersectDisabled" (ngModelChange)="changeLegacyChild()">
                                    <option *ngFor="let j of childIntersectTypes" [value]="j.value">{{j.label}}</option>
                                </select>
                            </td>
                            <td style="vertical-align: middle; width: 125px">
                                <div><input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.RelationItem.HideHeader" />Hide Header?</div>
                                <div><input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.RelationItem.HideFooter" />Hide Footer?</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <table class="striped highlight">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Show?</th>
                                            <th>Sort</th>
                                            <th>Filter</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let d of model.RelationItem.DisplayFields" style="max-height:250px; height: 250px; overflow-y: scroll">
                                        <tr>
                                            <td style="width: 30%">{{d.FieldTypeName}}</td>
                                            <td style="width: 20%"><input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="d.Show" /></td>
                                            <td style="width: 15%">
                                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="d.SortOrder" style="width:95%">
                                                    <option *ngFor="let j of model.RelationItem.SortOrderList" [value]="j.id">{{j.text}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="d.FilterValue" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div id='DisplayDescriptionTip' class="FieldName">Display Description</div>
                <p-editor name="desc" [(ngModel)]="model.FieldType.DisplayDescription" [style]="{'height':'150px'}" ngDefaultControl></p-editor>
            </div>
            <div class="col s6">
                <div id='FormDescriptionTip' class="FieldName">Form Description</div>
                <p-editor name="formDesc" [(ngModel)]="model.FieldType.FormDescription" [style]="{'height':'150px'}" ngDefaultControl></p-editor>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div style="padding-top:10px">
                    <button pButton type="submit" [disabled]="!fieldEditor.form.valid" label="Save"></button><button pButton type="button" label="Cancel" (click)="cancel()"></button>
                </div>
            </div>
        </div>
    </form>
</div>

