<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="utf-8"?>-->
<configuration>
  <configSections>
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings file="CommonAppSettings.config" />
  <!--<connectionStrings configSource="CommonConnectionSettings.config" />-->
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=govlocalengintjobstorage;AccountKey=HsXiyBpYbqTVIbOBwqVzWWYQ22QBpxvpnFJDtCsx7CEM68iS9/qwqDvZr8AobZ0hB3Wny7je+PpZhxv/7pBXDA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsQueueStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=govengqueuestorage;AccountKey=0FUh4RBtuU9zqDRupeY6cSwsF7gwB9Qs2sp5zzAkQPj+kN13GlBgsfzaU2AXWpvy52a6RiG8qbUtKrYkUPRoUA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsServiceBus" connectionString="Endpoint=sb://gov-int-events.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=2fR7nULjArv1/KKaqKSast5OoLAXL6NXUIt0ecMKztk=" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=govlocalengintjobstorage;AccountKey=HsXiyBpYbqTVIbOBwqVzWWYQ22QBpxvpnFJDtCsx7CEM68iS9/qwqDvZr8AobZ0hB3Wny7je+PpZhxv/7pBXDA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
