<div class="tile tile-detail">
    <header>
        <span>Impact</span>
        <span *ngIf="isLoading" id="LoadingProgress" style="color: #e2792a"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>Loading...</span>
        <d3s-tile-actions hasMenu="true" [menuItems]="menuItems" (menuClick)="menuAction($event)"></d3s-tile-actions>
    </header>
    <div style="position:relative;left: 100%; display: inline; width: 1px;">
        <d3s-overlay-window width="500" maxHeight="400" padding="15" [(visible)]="isWindowVisible" [headerText]="headerText">
            <ul class="tab-menu">
                <li (click)="selectTab('info')" class="tab-item" [class.selected]="tab == 'info'" *ngIf="selectedObject && selectedObjectID">
                    <i class="fa fa-info-circle fa-2x"></i>
                </li>
                <li (click)="selectTab('user')" class="tab-item" [class.selected]="tab == 'user'" *ngIf="selectedObject && selectedObjectID">
                    <i class="fa fa-user fa-2x"></i>
                </li>
                <li (click)="selectTab('fusion')" class="tab-item" [class.selected]="tab == 'fusion'" *ngIf="selectedObject && selectedObjectID">
                    <i class="fa fa-database fa-2x"></i>
                </li>
                <li (click)="selectTab('filter')" class="tab-item" [class.selected]="tab == 'filter'">
                    <i class="fa fa-filter fa-2x"></i>
                </li>
            </ul>
            <div [ngSwitch]="tab">
                <div *ngSwitchCase="'info'">
                    <d3s-lineage-object-detail *ngIf="selectedObject && selectedObjectID" [objectType]="selectedObject" [objectId]="selectedObjectID"></d3s-lineage-object-detail>
                </div>
                <div *ngSwitchCase="'user'">
                    <d3s-lineage-responsibilities *ngIf="selectedObject && selectedObjectID" [objectType]="selectedObject" [objectId]="selectedObjectID"></d3s-lineage-responsibilities>
                </div>
                <div *ngSwitchCase="'fusion'">
                    <d3s-lineage-technical *ngIf="selectedObject && selectedObjectID" [source]="objectType" [sourceId]="objectID" [target]="selectedObject" [targetId]="selectedObjectID"></d3s-lineage-technical>
                </div>
                <div *ngSwitchCase="'filter'">
                    <div class="row">
                        <div class="col s12">
                            <div class="FieldName">
                                Predicates
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div *ngFor="let f of filters; let i=index">
                                <div *ngIf="f.type == FilterType.Predicate && i % 2 == 0">
                                    <input type="checkbox" [(ngModel)]="f.selected" (ngModelChange)="filterView()" /> {{f.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div *ngFor="let f of filters; let i=index">
                                <div *ngIf="f.type == FilterType.Predicate && i % 2 == 1">
                                    <input type="checkbox" [(ngModel)]="f.selected" (ngModelChange)="filterView()" /> {{f.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="FieldName">
                                Types
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div *ngFor="let f of filters; let i=index">
                                <div *ngIf="f.type == FilterType.Category && i % 2 == 0">
                                    <input type="checkbox" [(ngModel)]="f.selected" (ngModelChange)="filterView()" /> {{f.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div *ngFor="let f of filters; let i=index">
                                <div *ngIf="f.type == FilterType.Category && i % 2 == 1">
                                    <input type="checkbox" [(ngModel)]="f.selected" (ngModelChange)="filterView()" /> {{f.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </d3s-overlay-window>
    </div>

    <div id="ImpactDiagram" style="overflow: hidden;" class="diagram" #diagram></div>

</div>

<div class="tile tile-detail" *ngIf="showRelationsTable">
    <div class="row">
        <div class="col s12">
            relations table
        </div>
    </div>
</div>