<div class="tile tile-detail">
    <header>
        <span>Impact</span>
        <span *ngIf="isLoading" id="LoadingProgress" style="color: #e2792a"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>Loading...</span>
        <d3s-tile-actions hasMenu="true" [menuItems]="menuItems" (menuClick)="menuAction($event)"></d3s-tile-actions>
    </header>

    <div style="position:relative;left: 100%; display: inline; width: 1px;">
        <d3s-overlay-window width="500" maxHeight="400" padding="15" [(visible)]="isWindowVisible" [headerText]="(selectedObject || selectedObjectID) ? headerText : ''">
            <div *ngIf="!selectedObject && !selectedObjectID">Nothing selected</div>
            <ul class="tab-menu" *ngIf="selectedObject && selectedObjectID">
                <li (click)="selectTab('info')" class="tab-item" [class.selected]="tab == 'info'">
                    <i class="fa fa-info-circle fa-2x"></i>
                </li>
                <li (click)="selectTab('user')" class="tab-item" [class.selected]="tab == 'user'">
                    <i class="fa fa-user fa-2x"></i>
                </li>
                <li (click)="selectTab('fusion')" class="tab-item" [class.selected]="tab == 'fusion'">
                    <i class="fa fa-database fa-2x"></i>
                </li>
            </ul>
            <div [ngSwitch]="tab">
                <div *ngSwitchCase="'info'">
                    <d3s-lineage-object-detail *ngIf="selectedObject && selectedObjectID" [objectType]="selectedObject" [objectId]="selectedObjectID"></d3s-lineage-object-detail>
                </div>
                <div *ngSwitchCase="'user'">
                    <d3s-lineage-responsibilities *ngIf="selectedObject && selectedObjectID" [objectType]="selectedObject" [objectId]="selectedObjectID"></d3s-lineage-responsibilities>
                </div>
                <div *ngSwitchCase="'fusion'">
                    <d3s-lineage-technical *ngIf="selectedObject && selectedObjectID" [source]="objectType" [sourceId]="objectID" [target]="selectedObject" [targetId]="selectedObjectID"></d3s-lineage-technical>
                </div>
            </div>
        </d3s-overlay-window>
    </div>

    <div id="ImpactDiagram" style="overflow: hidden;" class="diagram" #diagram></div>
</div>