<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <div *ngIf="mode == LineageEditorMode.Default">
        <header>
            Manage Technical Lineage
            <d3s-tile-actions hasClose="true"
                              hasAdd="true"
                              hasSave="true"
                              hasView="true"
                              (viewClick)="preview()"
                              (closeClick)="onClose.emit()"
                              (addClick)="add()"
                              (saveClick)="valid ? summarize() : null"></d3s-tile-actions>
        </header>
        <div class="row">
            <div class="col s12">
                <table class="responsive-table lineage-editor-table">
                    <thead style="background-color:#999;color:#fff;font-weight: bold;">
                        <tr>
                            <td style="width: 10px"></td>
                            <th style="width:33%">
                                Source Fusion Attribute
                            </th>
                            <th style="width:30px"></th>
                            <th style="width:33%">
                                Target Fusion Attribute
                            </th>
                            <th style="width:20%">
                                Related To
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let i of lineage; let x=index;" [style.background-color]="x%2==0 ? '#fff' : '#DEF1FD'">
                        <tr *ngIf="!i.isNew" [style.color]="i.isDeleting ? '#aaa' : '#000'">
                            <td style="width: 10px"></td>
                            <td>
                                <d3s-tooltip tooltipType="preview" objectType="FusionAttribute" [objectId]="i.SourceFusionAttributeID">{{i.SourceFusionAttributeName}}</d3s-tooltip>
                            </td>
                            <td style="width:30px"></td>
                            <td>
                                <d3s-tooltip tooltipType="preview" objectType="FusionAttribute" [objectId]="i.TargetFusionAttributeID">{{i.TargetFusionAttributeName}}</d3s-tooltip>
                            </td>
                            <td>
                                <span *ngIf="i.selectedMapItem != null">
                                    {{i.selectedMapItem.SourceSubjectName}} to {{i.selectedMapItem.TargetSubjectName}}
                                </span>
                            </td>
                            <td class="RowTools">
                                <a *ngIf="!i.isDeleting" (click)="delete(i)" style="cursor: pointer"><i class="fa fa-trash"></i></a>
                                <a *ngIf="i.isDeleting" (click)="delete(i)" style="cursor: pointer"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr *ngIf="i.isNew">
                            <td style="width: 10px"></td>
                            <td>
                                <p-autoComplete [(ngModel)]="i.selectedSourceFusionAttribute"
                                                [suggestions]="queryResults"
                                                (completeMethod)="query('selectedSourceFusionAttribute', i, $event)"
                                                (onSelect)="select('selectedSourceFusionAttribute', i, $event)"
                                                field="label"
                                                (blur)="blur('selectedSourceFusionAttribute', i)"
                                                placeholder="Search..."
                                                [tabindex]="(x * 6) + 1"
                                                [style]="{ 'width':'95%' }"
                                                [inputStyle]="{ 'width':'95%' }">
                                    <template let-item pTemplate="item2">
                                        <div [innerHTML]="item.templateValue"></div>
                                    </template>
                                </p-autoComplete>
                                <div *ngIf="i.SourceFusionAttributeID < 1" class="errorMessage">* Required</div>
                            </td>
                            <td style="width:30px"></td>
                            <td>
                                <p-autoComplete [(ngModel)]="i.selectedTargetFusionAttribute"
                                                [suggestions]="queryResults"
                                                (completeMethod)="query('selectedTargetFusionAttribute', i, $event)"
                                                (onSelect)="select('selectedTargetFusionAttribute', i, $event)"
                                                field="label"
                                                (blur)="blur('selectedTargetFusionAttribute', i)"
                                                placeholder="Search..."
                                                [tabindex]="(x * 6) + 1"
                                                [style]="{ 'width':'95%' }"
                                                [inputStyle]="{ 'width':'95%' }">
                                    <template let-item pTemplate="item2">
                                        <div [innerHTML]="item.templateValue"></div>
                                    </template>
                                </p-autoComplete>
                                <div *ngIf="i.TargetFusionAttributeID < 1" class="errorMessage">* Required</div>
                            </td>
                            <td>
                                <select style="width:95%;" placeholder="Choose a value" [ngModel]="i.MapItemID" (ngModelChange)="select('selectedMapItem', i, $event)">
                                    <option></option>
                                    <option *ngFor="let m of mapItems" [value]="m.ID">{{m.SourceSubjectName}} ({{m.SourceObjectName}}) to {{m.TargetSubjectName}} ({{m.TargetObjectName}})</option>
                                </select>
                            </td>
                            <td class="RowTools">
                                <a (click)="delete(i)" style="cursor: pointer"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr *ngIf="i.HasError">
                            <td style="width: 10px"></td>
                            <td colspan="5" class="errorMessage">Record was not saved successfully: {{i.ErrorMessage}}</td>
                        </tr>
                        <tr *ngIf="i.isNew && !i.isConnected">
                            <td style="width: 10px"></td>
                            <td colspan="5" class="errorMessage">This record is not connected to anything on the lineage</td>
                        </tr>
                        <tr *ngIf="i.isNew && i.isDupe">
                            <td style="width: 10px"></td>
                            <td colspan="5" class="errorMessage">This record is a duplicate of an existing record on the lineage</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="mode == LineageEditorMode.Preview">
        <div class="row">
            <div class="col s12">
                <d3s-lineage-editor-preview [type]="object"
                                            [id]="objectId"
                                            [technicalModel]="model"
                                            [(view)]="view"
                                            height="500"></d3s-lineage-editor-preview>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button pButton type="button" label="Back to editor" (click)="mode = LineageEditorMode.Default"></button>
            </div>
        </div>
    </div>
    <div *ngIf="mode == LineageEditorMode.Summary">
        <div class="row">
            <div class="col s12">
                <d3s-lineage-editor-preview [type]="object"
                                            [id]="objectId"
                                            [technicalModel]="model"
                                            [(view)]="view"
                                            height="500"
                                            header="Confirm Lineage Changes"></d3s-lineage-editor-preview>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button *ngIf="!saveComplete" pButton type="button" label="Save" (click)="save()"></button>
                <button pButton type="button" label="Back to editor" (click)="mode = LineageEditorMode.Default"></button>
            </div>
        </div>
    </div>
</div>

