<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <div *ngIf="mode == LineageEditorMode.Default">
        <header>
            Manage Business Lineage
            <d3s-tile-actions 
                              hasClose="true" 
                              hasAdd="true" 
                              hasSave="true" 
                              hasView="true"
                              (viewClick)="preview()"
                              (closeClick)="onClose.emit()" 
                              (addClick)="add()" 
                              (saveClick)="valid ? summarize() : null"></d3s-tile-actions>
        </header>
        <div class="row">
            <div class="col s12">
                <table class="responsive-table lineage-editor-table">
                    <thead style="background-color:#999;color:#fff;font-weight: bold;">
                        <tr>
                            <th colspan="4" style="text-align: center">
                                FROM
                            </th>
                            <th style="width:30px"></th>
                            <th colspan="4" style="text-align: center">
                                TO
                            </th>
                        </tr>
                        <tr>
                            <th style="width:10px;"></th>
                            <th>
                                Relationship Type
                            </th>
                            <th>
                                Subject
                            </th>
                            <th>
                                Object
                            </th>
                            <th style="width:30px"></th>
                            <th>
                                Relationship Type
                            </th>
                            <th>
                                Subject
                            </th>
                            <th>
                                Object
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let i of lineage; let x=index;" [style.background-color]="x%2==0 ? '#fff' : '#DEF1FD'">
                        <tr *ngIf="i.isNew">
                            <td style="width:10px; font-weight: bold">*</td>
                            <td>
                                <p-autoComplete [(ngModel)]="i.selectedSourceRelationshipType"
                                                [suggestions]="queryResults"
                                                (completeMethod)="query('selectedSourceRelationshipType', i, $event)"
                                                (onSelect)="select('selectedSourceRelationshipType', i, $event)"
                                                field="label"
                                                (blur)="blur('selectedSourceRelationshipType', i)"
                                                placeholder="Search..."
                                                [tabindex]="(x * 6) + 1"
                                                [style]="{ 'width':'95%' }"
                                                [inputStyle]="{ 'width':'95%' }">
                                    <template let-item pTemplate="item2">
                                        <div [innerHTML]="item.templateValue"></div>
                                    </template>
                                </p-autoComplete>
                                <div *ngIf="i.SourceIntersectTypeID < 1" class="errorMessage">* Required</div>
                            </td>
                            <td>
                                <p-autoComplete [(ngModel)]="i.selectedSourceSubject"
                                                [suggestions]="queryResults"
                                                (completeMethod)="query('selectedSourceSubject', i, $event)"
                                                (onSelect)="select('selectedSourceSubject', i, $event)"
                                                field="label"
                                                (blur)="blur('selectedSourceSubject', i)"
                                                placeholder="Search..."
                                                [tabindex]="(x * 6) + 2"
                                                [style]="{ 'width':'95%' }"
                                                [inputStyle]="{ 'width':'95%' }"
                                                [disabled]="i.SourceIntersectTypeID < 1">
                                    <template let-item pTemplate="item2">
                                        <div [innerHTML]="item.templateValue"></div>
                                    </template>
                                </p-autoComplete>
                                <div *ngIf="i.SourceSubjectID < 1" class="errorMessage">* Required</div>
                            </td>
                            <td>
                                <p-autoComplete [(ngModel)]="i.selectedSourceObject"
                                                [suggestions]="queryResults"
                                                (completeMethod)="query('selectedSourceObject', i, $event)"
                                                (onSelect)="select('selectedSourceObject', i, $event)"
                                                field="label"
                                                (blur)="blur('selectedSourceObject', i)"
                                                placeholder="Search..."
                                                [tabindex]="(x * 6) + 3"
                                                [style]="{ 'width':'95%' }"
                                                [inputStyle]="{ 'width':'95%' }"
                                                [disabled]="i.SourceIntersectTypeID < 1">
                                    <template let-item pTemplate="item2">
                                        <div [innerHTML]="item.templateValue"></div>
                                    </template>
                                </p-autoComplete>
                                <div *ngIf="i.SourceObjectID < 1" class="errorMessage">* Required</div>
                            </td>
                            <td style="width:30px"></td>
                            <td>
                                <p-autoComplete [(ngModel)]="i.selectedTargetRelationshipType"
                                                [suggestions]="queryResults"
                                                (completeMethod)="query('selectedTargetRelationshipType', i, $event)"
                                                (onSelect)="select('selectedTargetRelationshipType', i, $event)"
                                                field="label"
                                                (blur)="blur('selectedTargetRelationshipType', i)"
                                                placeholder="Search..."
                                                [tabindex]="(x * 6) + 4"
                                                [style]="{ 'width':'95%' }"
                                                [inputStyle]="{ 'width':'95%' }">
                                    <template let-item pTemplate="item2">
                                        <div [innerHTML]="item.templateValue"></div>
                                    </template>
                                </p-autoComplete>
                                <div *ngIf="i.TargetIntersectTypeID < 1" class="errorMessage">* Required</div>
                            </td>
                            <td>
                                <p-autoComplete [(ngModel)]="i.selectedTargetSubject"
                                                [suggestions]="queryResults"
                                                (completeMethod)="query('selectedTargetSubject', i, $event)"
                                                (onSelect)="select('selectedTargetSubject', i, $event)"
                                                field="label"
                                                (blur)="blur('selectedTargetSubject', i)"
                                                placeholder="Search..."
                                                [tabindex]="(x * 6) + 5"
                                                [style]="{ 'width':'95%' }"
                                                [inputStyle]="{ 'width':'95%' }"
                                                [disabled]="i.TargetIntersectTypeID < 1">
                                    <template let-item pTemplate="item2">
                                        <div [innerHTML]="item.templateValue"></div>
                                    </template>
                                </p-autoComplete>
                                <div *ngIf="i.TargetSubjectID < 1" class="errorMessage">* Required</div>
                            </td>
                            <td>
                                <p-autoComplete [(ngModel)]="i.selectedTargetObject"
                                                [suggestions]="queryResults"
                                                (completeMethod)="query('selectedTargetObject', i, $event)"
                                                (onSelect)="select('selectedTargetObject', i, $event)"
                                                field="label"
                                                (blur)="blur('selectedTargetObject', i)"
                                                placeholder="Search..."
                                                [tabindex]="(x * 6) + 6"
                                                [style]="{ 'width':'95%' }"
                                                [inputStyle]="{ 'width':'95%' }"
                                                [disabled]="i.TargetIntersectTypeID < 1">
                                    <template let-item pTemplate="item2">
                                        <div [innerHTML]="item.templateValue"></div>
                                    </template>
                                </p-autoComplete>
                                <div *ngIf="i.TargetObjectID < 1" class="errorMessage">* Required</div>
                            </td>
                            <td class="RowTools"><a (click)="delete(i)" style="cursor: pointer"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr *ngIf="i.HasError">
                            <td style="width: 10px"></td>
                            <td colspan="5" class="errorMessage">Record was not saved successfully: {{i.ErrorMessage}}</td>
                        </tr>
                        <tr *ngIf="i.isNew && !i.isConnected">
                            <td style="width: 10px"></td>
                            <td colspan="8" class="errorMessage">This record is not connected to anything on the lineage</td>
                        </tr>
                        <tr *ngIf="i.isNew && i.isDupe">
                            <td style="width: 10px"></td>
                            <td colspan="8" class="errorMessage">This record is a duplicate of an existing record on the lineage</td>
                        </tr>
                        
                        <tr *ngIf="!i.isNew" [style.color]="i.isDeleting ? '#aaa' : '#000'">
                            <td style="width:10px;"></td>
                            <td>
                                <div style="width:95%">
                                    {{i.SourceIntersectTypeName}}
                                </div>
                            </td>
                            <td>
                                <div style="width:95%">
                                    <d3s-tooltip tooltipType="preview" [objectType]="i.SourceSubject" [objectId]="i.SourceSubjectID">{{i.SourceSubjectName}}</d3s-tooltip>
                                </div>
                            </td>
                            <td>
                                <div style="width:95%">
                                    <d3s-tooltip tooltipType="preview" [objectType]="i.SourceObject" [objectId]="i.SourceObjectID">{{i.SourceObjectName}}</d3s-tooltip>
                                </div>
                            </td>
                            <td style="width:30px"></td>
                            <td>
                                <div style="width:95%">
                                    {{i.TargetIntersectTypeName}}
                                </div>
                            </td>
                            <td>
                                <div style="width:95%">
                                    <d3s-tooltip tooltipType="preview" [objectType]="i.TargetSubject" [objectId]="i.TargetSubjectID">{{i.TargetSubjectName}}</d3s-tooltip>
                                </div>
                            </td>
                            <td>
                                <div style="width:95%">
                                    <d3s-tooltip tooltipType="preview" [objectType]="i.TargetObject" [objectId]="i.TargetObjectID">{{i.TargetObjectName}}</d3s-tooltip>
                                </div>
                            </td>
                            <td class="RowTools">
                                <a *ngIf="!i.isDeleting" (click)="delete(i)" style="cursor: pointer"><i class="fa fa-trash"></i></a>
                                <a *ngIf="i.isDeleting" (click)="delete(i)" style="cursor: pointer"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="mode == LineageEditorMode.Preview">
        <div class="row">
            <div class="col s12">
                <d3s-lineage-editor-preview 
                                            [type]="object" 
                                            [id]="objectId" 
                                            [businessModel]="model" 
                                            [(view)]="view"
                                            height="500"></d3s-lineage-editor-preview>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button pButton type="button" label="Back to editor" (click)="mode = LineageEditorMode.Default"></button>
            </div>
        </div>
    </div>
    <div *ngIf="mode == LineageEditorMode.Summary">
        <div class="row">
            <div class="col s12">
                <d3s-lineage-editor-preview 
                                            [type]="object" 
                                            [id]="objectId" 
                                            [businessModel]="model" 
                                            [(view)]="view"
                                            height="500" 
                                            header="Confirm Lineage Changes"></d3s-lineage-editor-preview>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button *ngIf="!saveComplete" pButton type="button" label="Save" (click)="save()"></button>
                <button pButton type="button" label="Back to editor" (click)="mode = LineageEditorMode.Default"></button>
            </div>
        </div>
    </div>
</div>
