<style>
:root {
    --orange: #e2792a;
}

.modelDiagramComponentLoadingProgress {
    color: var(--orange);
}

#HierarchyDiagram .diagram {
    overflow: hidden;
}

.wrapper-d3s-overlay-window {
    position: relative;
    left: 100%;
    display: inline;
    top: 5px;
}
</style>

<div class="tile tile-detail">
    <!-- TODO: configure studio for new attribute from new line-->
    <header>
        <span>Hierarchy</span>
        <span *ngIf="isLoading"
            id="LoadingProgress"
            class="modelDiagramComponentLoadingProgress"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>Loading...</span>
        <d3s-tile-actions hasMenu="true"
            [menuItems]="menuItems"
            (menuClick)="menuAction($event)"></d3s-tile-actions>
    </header>
    <div class="wrapper-d3s-overlay-window">
        <d3s-overlay-window width="500"
            maxHeight="400"
            padding="15"
            [(visible)]="isWindowVisible"
            [headerText]="(selectedNode != null) ? headerText : ''">
            <div *ngIf="selectedNode == null">Nothing selected</div>
            <ul class="tab-menu"
                *ngIf="selectedNode != null">
                <li (click)="selectTab('info')"
                    class="tab-item"
                    [class.selected]="tab == 'info'"
                    *ngIf="selectedNode != null">
                    <i class="fa fa-info-circle fa-2x"></i>
                </li>
                <li (click)="selectTab('user')"
                    class="tab-item"
                    [class.selected]="tab == 'user'"
                    *ngIf="selectedNode != null">
                    <i class="fa fa-user fa-2x"></i>
                </li>
                <li (click)="selectTab('relations')"
                    class="tab-item"
                    [class.selected]="tab == 'relations'"
                    *ngIf="selectedNode != null">
                    <i class="fa fa-retweet fa-2x"></i>
                </li>
            </ul>
            <div [ngSwitch]="tab">
                <div *ngSwitchCase="'info'">
                    <d3s-lineage-object-detail *ngIf="selectedNode != null"
                        [objectType]="(selectedNode.key == 0) ? 'TaxonomyType' : 'Taxonomy'"
                        [objectId]="(selectedNode.key == 0) ? id : selectedNode.key"></d3s-lineage-object-detail>
                </div>
                <div *ngSwitchCase="'user'">
                    <d3s-lineage-responsibilities *ngIf="selectedNode != null"
                        [assetId]="selectedNode.key"></d3s-lineage-responsibilities>
                </div>
                <div *ngSwitchCase="'relations'">
                    <d3s-lineage-relations *ngIf="selectedNode != null"
                        objectType="Taxonomy"
                        [objectId]="selectedNode.key"></d3s-lineage-relations>
                </div>
            </div>
        </d3s-overlay-window>
    </div>
    <div id="HierarchyDiagram"
        class="diagram"
        #diagram></div>
</div>
