<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <div class="row" *ngIf="formMode != FormMode.Adding && formMode != FormMode.Editing">
        <div class="col s12">
            <header>
                &nbsp; <d3s-tile-actions hasAdd="true" (addClick)="add()"></d3s-tile-actions>
            </header>

            <p-table #dt [value]="fieldUpdate.Field" selectionMode="single" [metaKeySelection]="true" [pageLinks]="3" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th i18n>Field</th>
                        <th i18n>Value</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr [pSelectableRow]="item">

                        <td>{{getTableFieldName(item)}}</td>
                        <td>
                            <div *ngIf="item != null">

                                <span *ngIf="item['@UseCurrentDate'] != null && item['@UseCurrentDate'].toString() == 'true'">[use date at time of execution]</span>
                                <span *ngIf="item['@ClearValue'] != null && item['@ClearValue'].toString() == 'true'">[clear the field value]</span>
                                <span *ngIf="item['@UseFormValue'] != null && item['@UseFormValue'].toString() == 'true' && (item['@IsActionForm'] == null || item['@IsActionForm'].toString() == 'false')">[use value from form input {{item['@Formlabel']}}]</span>
                                <span *ngIf="item['@IsActionForm'] != null && item['@IsActionForm'].toString() == 'true'">[use value from action form field {{item['@Formlabel']}}]</span>
                                <span *ngIf="item['@UseOutputValue'] != null && item['@UseOutputValue'].toString() == 'true'">[use value from output field {{item['@FormLabel']}}]</span>
                                <div *ngIf="(item['@UseCurrentDate'] == null || item['@UseCurrentDate'].toString() == 'false')
                                     && (item['@UseFormValue'] == null || item['@UseFormValue'].toString() == 'false')
                                     && (item['@UseOutputValue'] == null || item['@UseOutputValue'].toString() == 'false')
                                     && (item['@IsActionForm'] == null || item['@IsActionForm'].toString() == 'false')
                                     && (item['@ClearValue'] == null || item['@ClearValue'].toString() == 'false')">
                                    <ng-container *ngIf="isHtml(item); else str">
                                        <div [innerHtml]="getValue(item)" style="max-height: 42px; overflow: hidden; text-overflow: ellipsis">
                                        </div>
                                    </ng-container>
                                    <ng-template #str>
                                        {{getValue(item)}}
                                    </ng-template>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a class="cursor-pointer" (click)="delete(i)"><i class="fa fa-trash-o"></i></a>
                                <a class="cursor-pointer" (click)="edit(i)"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div *ngIf="formMode == FormMode.Adding || formMode == FormMode.Editing">
        <div class="row">
            <div class="col s12">
                <div class="FieldName" i18n>Field</div>
                <div>
                    <select style="width: 95%" [ngModel]="selectedField['@FieldId']" (ngModelChange)="select($event, true)">
                        <option value="" i18n>Choose...</option>
                        <option *ngFor="let f of fields" [value]="f.ID">{{getFieldNameForDropDown(f)}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="field != null">
            <div class="col s12">
                <div class="FieldName" i18n>Value</div>
                <div>
                    <input type="radio" name="valueType" [checked]="valueType == 'manual' || valueType == null" (change)="changeValueType('manual')" /> Enter a value <br />
                    <div *ngIf="valueType == 'manual'" style="padding-bottom:10px;">
                        <div *ngIf="field.Type == 'Html'">
                            <p-editor [(ngModel)]="selectedField['@Value']" #ed>
                            </p-editor>
                        </div>
                        <div *ngIf="field.Type == 'Link'">
                            <input [(ngModel)]="selectedField['@Value']" style="width: 95%;" type="text">
                            <div i18n>(Link Name)</div>
                            <input [(ngModel)]="selectedField['@Url']" style="width: 95%;" type="text">
                            <div i18n>(Link Url: Your Url should start with a protocol prefix.  For example 'http://' or 'https://')</div>
                        </div>
                        <div *ngIf="field.Type == 'Text'">
                            <input type="text" style="width: 95%" [(ngModel)]="selectedField['@Value']" />
                        </div>
                        <div *ngIf="field.Type == 'Decimal' || field.Type == 'Number'">
                            <input type="number" style="width: 95%" [(ngModel)]="selectedField['@Value']" />
                        </div>
                        <div *ngIf="field.Type == 'Date' || field.Type == 'DateTime'">
                            <div style="padding-bottom: 10px">
                                <div *ngIf="fieldUpdate['@UseCurrentDate'] == null || (selectedField['@UseCurrentDate'] != null && selectedField['@UseCurrentDate'].toString() != 'true')">
                                    <p-inputMask *ngIf="field.Type == 'Date'"
                                                 mask="99/99/9999"
                                                 [(ngModel)]="selectedField['@Value']"
                                                 placeholder="mm/dd/yyyy"
                                                 slotChar="mm/dd/yyyy">
                                    </p-inputMask>
                                    <div *ngIf="field.Type == 'DateTime'">
                                        <p-inputMask mask="99/99/9999 99:99 aa"
                                                     [(ngModel)]="selectedField['@Value']"
                                                     placeholder="mm/dd/yyyy hh:mm PM"
                                                     slotChar="mm/dd/yyyy hh:mm PM">
                                        </p-inputMask>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="field.Type == 'Lookup'">
                            <ng-container *ngIf="field.AllowMultipleValues == true; else single">
                                <div>
                                    <p-multiSelect [options]="lookups" [(ngModel)]="selectedField['@Value']" [style]="{'width':'95%'}" selectedItemsLabel="{0} items selected">
                                    </p-multiSelect>
                                </div>
                                <div>
                                    <input type="checkbox" [(ngModel)]="selectedField['@AppendValue']" /> <ng-container i18n>Append selected values?</ng-container>
                                </div>
                            </ng-container>

                            <ng-template #single>
                                <select style="width: 95%" [(ngModel)]="selectedField['@Value']">
                                    <option value="">Choose...</option>
                                    <option *ngFor="let l of lookups" [value]="l.value">{{l.label}}</option>
                                </select>
                            </ng-template>
                        </div>
                        <div *ngIf="field.Type == 'Boolean'">
                            <select style="width: 95%" [(ngModel)]="selectedField['@Value']">
                                <option value="">Choose...</option>
                                <option *ngFor="let b of bools" [value]="b.value">{{b.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="field.Type == 'Date' || field.Type == 'DateTime'" style="padding-bottom:10px;">
                    <input type="radio" name="valueType" [checked]="valueType == 'timestamp'" (change)="changeValueType('timestamp')" /> <ng-container i18n>Use the current date at the time of execution</ng-container>
                </div>
                <div *ngIf="hasFormResponses" style="padding-bottom:10px;">
                    <input type="radio" name="valueType" [checked]="valueType == 'form'" (change)="changeValueType('form')" /> <ng-container i18n>Choose a form result value</ng-container> <br />
                    <div *ngIf="valueType == 'form'">
                        <div>
                            <select [ngModel]="selectedFormFieldId" (ngModelChange)="changeFormValue($event)" style="width: 95%">
                                <option value="">Choose...</option>
                                <option *ngFor="let f of availableFormFields" [value]="f['@FormFieldId']">{{f['@FormLabel']}}</option>
                            </select>
                        </div>
                        <div *ngIf="allowMultiple">
                            <input type="checkbox" [(ngModel)]="selectedField['@AppendValue']" /> <ng-container i18n>Append selected values?</ng-container>
                        </div>
                    </div>
                </div>

                <div *ngIf="canSelectFromAction" style="padding-bottom:10px">
                    <input type="radio" name="valueType" [checked]="valueType == 'actionForm'" (change)="changeValueType('actionForm')" /> <ng-container i18n>Choose an Action field</ng-container><br />
                    <div *ngIf="valueType == 'actionForm'">
                        <div>
                            <select [ngModel]="selectedFormFieldId" (ngModelChange)="changeFormValue($event)" style="width: 95%">
                                <option value="" i18n>Choose...</option>
                                <option *ngFor="let f of availableActionFields" [value]="f['@FormFieldId']">{{f['@FormLabel']}}</option>
                            </select>
                        </div>
                        <div *ngIf="allowMultiple">
                            <input type="checkbox" [(ngModel)]="selectedField['@AppendValue']" /> <ng-container i18n>Append selected values?</ng-container>
                        </div>
                    </div>
                </div>

                <div *ngIf="hasOutputFields" style="padding-bottom:10px;">
                    <input type="radio" name="valueType" [checked]="valueType == 'output'" (change)="changeValueType('output')" /> <ng-container i18n>Choose a HTTP Response value</ng-container> <br />
                    <div *ngIf="valueType == 'output'">
                        <div>
                            <select [ngModel]="selectedFormFieldId" (ngModelChange)="changeOutputValue($event)" style="width: 95%">
                                <option value="" i18n>Choose...</option>
                                <option *ngFor="let f of availableOutputFields" [value]="f.key">{{f['@FormLabel']}}</option>
                            </select>
                        </div>
                        <div *ngIf="allowMultiple">
                            <input type="checkbox" [(ngModel)]="selectedField['@AppendValue']" />  <ng-container i18n>Append selected values?</ng-container>
                        </div>
                    </div>
                </div>
                <div style="padding-bottom:10px;">
                    <input type="radio" name="valueType" [checked]="valueType == 'clear'" (change)="changeValueType('clear')" /> <ng-container i18n>Clear the field value</ng-container> <br />
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col s12">
                <button pButton type="button" i18n-label label="Cancel" (click)="cancel()"></button>
                <button pButton type="button" label="{{buttonLabel}}" (click)="save()" [disabled]="!valid()"></button>
            </div>
        </div>
    </div>

    <div *ngIf="formMode == FormMode.Deleting">
        <div class="row">
            <div class="col s12" i18n>
                Are you sure you want to delete this field change item?
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button pButton type="button" i18n-label label="Cancel" (click)="selectedField = null; formMode = FormMode.Default"></button>
                <button pButton type="button" i18n-label label="Delete" (click)="confirmDelete()"></button>
            </div>
        </div>
    </div>
</div>
