<div class="row" style="padding-bottom: 16px;">
    <div class="col s12">
        <div class="FieldName" i18n>Name</div>
        <div>
            <input type="text" style="width: 95%" [ngModel]="step.name" (ngModelChange)="changeName($event)" />
        </div>
    </div>
    <div [ngSwitch]="step.activityType">
        <div class="row" *ngSwitchCase="WorkflowActivityType.EmailNotification">
            <div class="col s12">
                <div class="FieldName" i18n>
                    Recipient Type
                </div>
                <div>
                    <select [ngModel]="step.settings.MessageRecipientType" (ngModelChange)="step.settings.MessageRecipientType = $event; stepChange.emit(step)" style="width: 95%">
                        <option></option>
                        <option *ngFor="let d of destination" [value]="d.value">{{d.label}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="step.settings.MessageRecipientType == 'SpecificUser'" class="col s12">
                <div class="FieldName" i18n>
                    Recipient
                </div>
                <div>
                    <input type="text" [ngModel]="step.settings.MessageToUser" (ngModelChange)="step.settings.MessageToUser = $event; stepChange.emit(step)" style="width: 95%" />
                </div>
            </div>
            <div *ngIf="step.settings.MessageRecipientType == 'Responsibility'" class="col s12">
                <d3s-workflow-responsibility-selector [step]="step"
                                                      (stepChange)="step = $event; stepChange.emit(step)"
                                                      [objectType]="objectType"
                                                      [objectId]="objectId">
                </d3s-workflow-responsibility-selector>
                <div>
                    <p-checkbox igCheckbox binary="true" i18n-label label="Send to default users when no responsibility exists" [ngModel]="step.settings.SendToDefaultUsers" (ngModelChange)="step.settings.SendToDefaultUsers = $event; stepChange.emit(step)"></p-checkbox>
                </div>
            </div>
            <div *ngIf="step.settings.MessageRecipientType == 'Group'" class="col s12">
                <div class="FieldName" i18n>
                    Recipient Group
                </div>
                <div>
                    <select [ngModel]="step.settings.MessageToGroup" (ngModelChange)="step.settings.MessageToGroup = $event; stepChange.emit(step)" style="width: 95%">
                        <option></option>
                        <option *ngFor="let d of groups" [value]="d.value">{{d.label}}</option>
                    </select>
                </div>
            </div>
            <div class="col s12">
                <div class="FieldName" i18n>
                    Subject
                </div>
                <div>
                    <input type="text" style="width:95%" [ngModel]="step.settings.MessageSubjectTemplate" (ngModelChange)="step.settings.MessageSubjectTemplate = $event; stepChange.emit(step)" />
                </div>
            </div>
            <div class="col s12">
                <div class="FieldName" i18n>
                    Body
                </div>
                <div style="width: 95%">
                    <p-editor [ngModel]="step.settings.MessageBodyTemplate" (ngModelChange)="step.settings.MessageBodyTemplate = $event; stepChange.emit(step)" #ed>
                        <p-header>
                            <d3s-editor-header></d3s-editor-header>
                            <d3s-workflow-template-tool [step]="step"
                                                        [diagram]="diagram"
                                                        [issueObject]="issueObject"
                                                        [objectType]="objectType"
                                                        [objectId]="objectId"
                                                        (onItemClick)="appendField($event)"></d3s-workflow-template-tool>
                        </p-header>
                    </p-editor>
                </div>
            </div>
            <div class="col s12" style="padding-top:8px;">
                <div>
                    <p-checkbox igCheckbox binary="true" i18n-label label="Include previous form responses" [ngModel]="step.settings.IncludePreviousFormResponses" (ngModelChange)="step.settings.IncludePreviousFormResponses = $event; stepChange.emit(step)"></p-checkbox>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.StatusChange">
            <div class="col s12">
                <div class="FieldName" i18n>Status</div>
                <div>
                    <select [ngModel]="step.settings.Status" (ngModelChange)="step.settings.Status = $event; stepChange.emit(step)" style="width: 95%">
                        <option value=""></option>
                        <option *ngFor="let s of status" [value]="s">{{s}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.Form">
            <d3s-workflow-step-form-editor [objectType]="objectType"
                                           [objectId]="objectId"
                                           [workflowChangeType]="ChangeType"
                                           [step]="step"
                                           [diagram]="diagram"
                                           [httpFields]="httpFields"
                                           [outputFields]="outputFields"
                                           [issueObject]="issueObject"
                                           (stepChange)="step = $event; stepChange.emit(step)">
            </d3s-workflow-step-form-editor>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.Procedure">
            <div class="col s12">
                <div class="FieldName" i18n>Procedure</div>
                <div>
                    <select style="width: 95%" [ngModel]="step.settings.ProcedureID" (ngModelChange)="step.settings.ProcedureID = $event; stepChange.emit(step);">
                        <option></option>
                        <option *ngFor="let p of procedures" [value]="p.ID">{{p.Name}} ({{p.Procedure}})</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.FieldChange">
            <d3s-workflow-step-field-change [formFields]="formFields"
                                            [httpFields]="httpFields"
                                            [outputFields]="outputFields"
                                            [step]="step"
                                            [diagram]="diagram"
                                            [objectId]="objectId"
                                            [objectType]="objectType"
                                            [issueObject]="issueObject"
                                            [fieldUpdate]="step.settings.FieldUpdate"
                                            (fieldUpdateChange)="step.settings.FieldUpdate = $event; stepChange.emit(step)">
            </d3s-workflow-step-field-change>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.HTTPRequest">
            <d3s-workflow-step-http [formFields]="formFields"
                                    [outputFields]="outputFields"
                                    [step]="step"
                                    [diagram]="diagram"
                                    (stepChange)="step = $event; stepChange.emit(step)"
                                    [objectId]="objectId"
                                    [objectType]="objectType"
                                    [issueObject]="issueObject">
            </d3s-workflow-step-http>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.HTTPResponse">
            <d3s-workflow-step-http-response [formFields]="formFields"
                                             [step]="step"
                                             [diagram]="diagram"
                                             (stepChange)="step = $event; stepChange.emit(step)"
                                             [objectId]="objectId"
                                             [objectType]="objectType"
                                             [issueObject]="issueObject">
            </d3s-workflow-step-http-response>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.RelationshipUpdate">
            <div class="col s12">
                <div class="FieldName" i18n>Relationship Form Field</div>
                <div>
                    <select [ngModel]="formRelationship" (ngModelChange)="changeRelationship($event)" style="width:95%">
                        <option></option>
                        <option *ngFor="let f of formRelationshipFields" [value]="f['@FormFieldId']">
                            Form :: {{f['@label']}}
                        </option>
                    </select>
                </div>
                <div style="padding-top: 10px">
                    <p-checkbox igCheckbox binary="true" i18n-label label="Append relationships?" [ngModel]="step.settings.RelationshipUpdate.Relationship['@AppendValue']" (ngModelChange)="changeValueType($event, '@AppendValue');"></p-checkbox>
                </div>
                <div style="padding-top: 10px">
                    <p-checkbox igCheckbox binary="true" i18n-label label="Clear relationships?" [ngModel]="step.settings.RelationshipUpdate.Relationship['@ClearValue']" (ngModelChange)="changeValueType($event, '@ClearValue');"></p-checkbox>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.StateChange">
            <div class="col s12">
                <div class="FieldName" i18n>State</div>
                <div>
                    <select [ngModel]="step.settings.State" (ngModelChange)="step.settings.State = $event; stepChange.emit(step)" style="width: 95%">
                        <option value=""></option>
                        <option *ngFor="let s of states" [value]="s.value">{{s.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.Delete">
            <div class="col s12">

            </div>
        </div>
        <ng-container *ngSwitchCase="WorkflowActivityType.None">
            <!-- for terminal steps -->
        </ng-container>
    </div>
    <div *ngIf="step.hasMultipleInputs" class="col s12" style="padding-top: 8px">
        <p-checkbox igCheckbox binary="true" i18n-label label="Wait for all transitions to complete??" [ngModel]="step.settings.WaitForAllTransitions" (ngModelChange)="step.settings.WaitForAllTransitions = $event; stepChange.emit(step)"></p-checkbox>
    </div>
</div>
