<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <div class="row">
        <div class="col s12">
            <header>
                &nbsp; <d3s-tile-actions hasAdd="true" (addClick)="add()"></d3s-tile-actions>
            </header>
            <p-dataTable [value]="fieldUpdate.Field" [immutable]="false" selectionMode="single">
                <p-column header="Field" field="@FieldName"></p-column>
                <p-column header="Value" field="@Value">
                    <ng-template let-item="rowData" pTemplate type="body">
                        <div *ngIf="item != null">
                            <span *ngIf="item['@UseCurrentDate'] != null && item['@UseCurrentDate'].toString() == 'true'">[use date at time of execution]</span>
                            <span *ngIf="item['@ClearValue'] != null && item['@ClearValue'].toString() == 'true'">[clear the field value]</span>
                            <span *ngIf="item['@UseFormValue'] != null && item['@UseFormValue'].toString() == 'true'">[use value from form input {{item['@Formlabel']}}]</span>
                            <span *ngIf="(item['@UseCurrentDate'] == null || item['@UseCurrentDate'].toString() == 'false') && (item['@UseFormValue'] == null || item['@UseFormValue'].toString() == 'false') && (item['@ClearValue'] == null || item['@ClearValue'].toString() == 'false')">
                                {{item['@Value']}}
                            </span>
                        </div>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template let-item="rowData" let-i="rowIndex" pTemplate type="body">
                        <div class="RowTools">
                            <a (click)="delete(i)"><i class="fa fa-trash-o"></i></a>
                            <a (click)="edit(i)"><i class="fa fa-pencil"></i></a>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>

    <div *ngIf="formMode == FormMode.Adding || formMode == FormMode.Editing">
        <div class="row">
            <div class="col s12">
                <div class="FieldName">Field</div>
                <div>
                    <select style="width: 95%" [ngModel]="selectedField['@FieldId']" (ngModelChange)="select($event)">
                        <option value="">Choose...</option>
                        <option *ngFor="let f of fields" [value]="f.ID">{{f.FriendlyName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="field != null">
            <div class="col s12">
                <div class="FieldName">Value</div>
                <div>
                    <input type="radio" name="valueType" [checked]="valueType == 'manual' || valueType == null" (change)="changeValueType('manual')" /> Enter a value <br />

                    <div *ngIf="valueType == 'manual'" style="padding-bottom:10px;">
                        <div *ngIf="field.Type == 'Text'">
                            <input type="text" style="width: 95%" [(ngModel)]="selectedField['@Value']" />
                        </div>
                        <div *ngIf="field.Type == 'Decimal' || field.Type == 'Number'">
                            <input type="number" style="width: 95%" [(ngModel)]="selectedField['@Value']" />
                        </div>
                        <div *ngIf="field.Type == 'Date' || field.Type == 'DateTime'">
                            <div style="padding-bottom: 10px">
                                <div *ngIf="fieldUpdate['@UseCurrentDate'] == null || (selectedField['@UseCurrentDate'] != null && selectedField['@UseCurrentDate'].toString() != 'true')">
                                    <p-inputMask *ngIf="field.Type == 'Date'"
                                                 mask="99/99/9999"
                                                 [(ngModel)]="selectedField['@Value']"
                                                 placeholder="mm/dd/yyyy"
                                                 slotChar="mm/dd/yyyy">
                                    </p-inputMask>
                                    <div *ngIf="field.Type == 'DateTime'">
                                        <p-inputMask mask="99/99/9999 99:99 aa"
                                                     [(ngModel)]="selectedField['@Value']"
                                                     placeholder="mm/dd/yyyy hh:mm PM"
                                                     slotChar="mm/dd/yyyy hh:mm PM">
                                        </p-inputMask>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="field.Type == 'Lookup'">
                            <select style="width: 95%" [(ngModel)]="selectedField['@Value']">
                                <option value="">Choose...</option>
                                <option *ngFor="let l of lookups" [value]="l.value">{{l.label}}</option>
                            </select>
                        </div>
                        <div *ngIf="field.Type == 'Boolean'">
                            <select style="width: 95%" [(ngModel)]="selectedField['@Value']">
                                <option value="">Choose...</option>
                                <option *ngFor="let b of bools" [value]="b.value">{{b.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="field.Type == 'Date' || field.Type == 'DateTime'" style="padding-bottom:10px;">
                    <input type="radio" name="valueType" [checked]="valueType == 'timestamp'" (change)="changeValueType('timestamp')" /> Use the current date at the time of execution
                </div>
                <div *ngIf="hasFormResponses" style="padding-bottom:10px;">
                    <input type="radio" name="valueType" [checked]="valueType == 'form'" (change)="changeValueType('form')" /> Choose a form result value <br />
                    <div *ngIf="valueType == 'form'">
                        <select [ngModel]="selectedFormFieldId" (ngModelChange)="changeFormValue($event)" style="width: 95%">
                            <option value="">Choose...</option>
                            <option *ngFor="let f of formFields" [value]="f['@FormFieldId']">{{f['@FormLabel']}}</option>
                        </select>
                    </div>
                </div>
                <div style="padding-bottom:10px;">
                    <input type="radio" name="valueType" [checked]="valueType == 'clear'" (change)="changeValueType('clear')" /> Clear the field value <br />
                </div>
            </div>
        </div>
        
        <div class="row" style="padding-top:10px">
            <div class="col s12">
                <button pButton type="button" label="Cancel" (click)="cancel()"></button>
                <button pButton type="button" [label]="(formMode == FormMode.Adding) ? 'Add' : 'Edit'" (click)="save()" [disabled]="!valid()"></button>
            </div>
        </div>
    </div>
    
    <div *ngIf="formMode == FormMode.Deleting">
        <div class="row">
            <div class="col s12">
                Are you sure you want to delete this field change item?
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button pButton type="button" label="Cancel" (click)="selectedField = null; formMode = FormMode.Default"></button>
                <button pButton type="button" label="Delete" (click)="confirmDelete()"></button>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col s12">
            <div class="FieldName">Field</div>
            <div>
                <select style="width: 95%" [ngModel]="fieldUpdate['@FieldId']" (ngModelChange)="select($event)">
                    <option *ngFor="let f of fields" [value]="f.ID">{{f.FriendlyName}}</option>
                </select>
            </div>
        </div>
        <div class="col s12" *ngIf="fieldUpdate != null && (fieldUpdate['@ClearValue'] == null || fieldUpdate['@ClearValue'].toString() == 'false')">
            <div class="FieldName">Value</div>
            <div *ngIf="field != null && (fieldUpdate['@UseFormValue'] == null || fieldUpdate['@UseFormValue'].toString() == 'false')">
                <div *ngIf="field.Type == 'Text'">
                    <input type="text" style="width: 95%" [ngModel]="fieldUpdate['@Value']" (ngModelChange)="fieldUpdate['@Value'] = $event; fieldUpdateChange.emit(fieldUpdate)" />
                </div>
                <div *ngIf="field.Type == 'Decimal' || field.Type == 'Number'">
                    <input type="number" style="width: 95%" [ngModel]="fieldValue" (ngModelChange)="fieldUpdate['@Value'] = $event; fieldUpdateChange.emit(fieldUpdate)" />
                </div>
                <div *ngIf="field.Type == 'Date' || field.Type == 'DateTime'">
                    <div style="padding-bottom: 10px">
                        <div *ngIf="fieldUpdate['@UseCurrentDate'] == null || (fieldUpdate['@UseCurrentDate'] != null && fieldUpdate['@UseCurrentDate'].toString() != 'true')">
                            <p-inputMask *ngIf="field.Type == 'Date'"
                                         mask="99/99/9999"
                                         [ngModel]="fieldUpdate['@Value']"
                                         (ngModelChange)="fieldUpdate['@Value'] = $event; fieldUpdateChange.emit(fieldUpdate)"
                                         placeholder="mm/dd/yyyy"
                                         slotChar="mm/dd/yyyy">
                            </p-inputMask>
                            <div *ngIf="field.Type == 'DateTime'">
                                <p-inputMask mask="99/99/9999 99:99 aa"
                                             [ngModel]="fieldUpdate['@Value']"
                                             (ngModelChange)="fieldUpdate['@Value'] = $event; fieldUpdateChange.emit(fieldUpdate)"
                                             placeholder="mm/dd/yyyy hh:mm PM"
                                             slotChar="mm/dd/yyyy hh:mm PM">
                                </p-inputMask>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" [ngModel]="fieldUpdate['@UseCurrentDate']" (ngModelChange)="fieldUpdate['@UseCurrentDate'] = $event; fieldUpdateChange.emit(fieldUpdate);" /> Use current date at the time of execution?
                </div>
                <div *ngIf="field.Type == 'Lookup'">
                    <select style="width: 95%" [ngModel]="fieldUpdate['@Value']" (ngModelChange)="fieldUpdate['@Value'] = $event; fieldUpdateChange.emit(fieldUpdate)">
                        <option *ngFor="let l of lookups" [value]="l.value">{{l.label}}</option>
                    </select>
                </div>
                <div *ngIf="field.Type == 'Boolean'">
                    <select style="width: 95%" [ngModel]="fieldUpdate['@Value']" (ngModelChange)="fieldUpdate['@Value'] = $event; fieldUpdateChange.emit(fieldUpdate)">
                        <option *ngFor="let b of bools" [value]="b.value">{{b.label}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="field != null && fieldUpdate['@UseFormValue'] != null && fieldUpdate['@UseFormValue'].toString() == 'true'">
                <select [ngModel]="selectedFormFieldId" (ngModelChange)="changeFormValue($event)" style="width: 95%">
                    <option *ngFor="let f of formFields" [value]="f['@FormFieldId']">{{f['@FormLabel']}}</option>
                </select>
            </div>
            <div *ngIf="field == null">
                (no field selected)
            </div>
        </div>
        <div class="col s12" style="padding-top:10px" *ngIf="hasFormResponses && (fieldUpdate['@ClearValue'] == null || fieldUpdate['@ClearValue'].toString() == 'false')">
            <div>
                <input type="checkbox" [ngModel]="fieldUpdate['@UseFormValue']" (ngModelChange)="changeUseFormValue($event);" /> Use a form response value?
            </div>
        </div>
        <div class="col s12" style="padding-top:10px" *ngIf="fieldUpdate['@UseFormValue'] == null || fieldUpdate['@UseFormValue'].toString() == 'false'">
            <div>
                <input type="checkbox" [ngModel]="fieldUpdate['@ClearValue']" (ngModelChange)="fieldUpdate['@ClearValue'] = $event; fieldUpdateChange.emit(fieldUpdate)" /> Clear field value?
            </div>
        </div>
    </div>-->


</div>
