<div class="row">
    <div class="col s12">
        <div class="FieldName">
            Title
        </div>
        <div>
            <input type="text" [ngModel]="step.fields.form['@title']" (ngModelChange)="step.fields.form['@title']=$event; stepChange.emit(step);" style="width: 95%" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="FieldName">
            Description
        </div>
        <div style="width: 95%">
            <p-editor [ngModel]="step.fields.form['@description']" (ngModelChange)="step.fields.form['@description'] = $event; stepChange.emit(step)"></p-editor>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="FieldName">
            Response Type
        </div>
        <div>
            <select [ngModel]="step.settings.FormResponseType" (ngModelChange)="step.settings.FormResponseType = $event; stepChange.emit(step);" style="width: 95%">
                <option *ngFor="let r of responseTypes" [value]="r.value">{{r.label}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 8px">
    <div class="col s12">
        <div>
            <input type="checkbox" [ngModel]="step.settings.SendFormEmail" (ngModelChange)="step.settings.SendFormEmail = $event; stepChange.emit(step);" /> Send form email?
        </div>
    </div>
</div>
<div class="row" style="padding-top: 8px" *ngIf="step.settings.SendFormEmail == true">
    <div class="col s12">
        <div class="FieldName">
            Recipient Type
        </div>
        <div>
            <select [ngModel]="step.settings.MessageRecipientType" (ngModelChange)="step.settings.MessageRecipientType = $event; stepChange.emit(step)" style="width: 95%">
                <option *ngFor="let d of destination" [value]="d.value">{{d.label}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="step.settings.MessageRecipientType == 'SpecificUser'" class="col s12">
        <div class="FieldName">
            Recipient
        </div>
        <div>
            <input type="text" [ngModel]="step.settings.MessageToUser" (ngModelChange)="step.settings.MessageToUser = $event; stepChange.emit(step)" style="width: 95%" />
        </div>
    </div>
    <div *ngIf="step.settings.MessageRecipientType == 'Responsibility'" class="col s12">
        <div class="FieldName">
            Responsibility
        </div>
        <div>
            <select [ngModel]="step.settings.ResponsibilityTypeID" (ngModelChange)="step.settings.ResponsibilityTypeID = $event; stepChange.emit(step)" style="width: 95%">
                <option></option>
                <option *ngFor="let r of responsibilities" [value]="r.ID">{{r.Name}}</option>
            </select>
        </div>
    </div>
    <div class="col s12">
        <div class="FieldName">
            Body
        </div>
        <div style="width: 95%">
            <p-editor [ngModel]="step.settings.MessageBodyTemplate" (ngModelChange)="step.settings.MessageBodyTemplate = $event; stepChange.emit(step)" #ed>
                <header>
                    <d3s-editor-header></d3s-editor-header>
                    <d3s-workflow-template-tool [objectType]="objectType" [objectId]="objectId" (onItemClick)="appendField($event)"></d3s-workflow-template-tool>
                </header>
            </p-editor>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <header>
            &nbsp;
            <!--primeng v4.1 issue, tooltip covers button-->
            <!--<d3s-tile-actions hasAdd="true" (addClick)="add()"></d3s-tile-actions>-->
            <div class="TileTools">
                <a (click)="add()" style="color: black; cursor: pointer;"><i class="fa fa-plus"></i></a>
            </div>
        </header>
        <p-dataTable [value]="step.fields.form.field" selectionMode="single">
            <p-column field="@id" header="Name"></p-column>
            <p-column field="@label" header="Label"></p-column>
            <p-column field="@type" header="Type"></p-column>
            <p-column>
                <ng-template let-item="rowData" pTemplate type="body">
                    <div class="RowTools">
                        <a style="cursor:pointer;" (click)="remove(item)"><i class="fa fa-trash"></i></a>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<div *ngIf="formMode == FormMode.Adding">
    <div class="row">
        <div class="col s12">
            <div class="FieldName">
                Field Type
            </div>
            <div>
                <select [(ngModel)]="newField['@type']" style="width:95%">
                    <option *ngFor="let t of types" [value]="t.label">{{t.label}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="FieldName">
                Label
            </div>
            <div>
                <input type="text" [(ngModel)]="newField['@label']" style="width: 95%" />
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 8px;">
        <div class="col s12">
            <button pButton type="button" label="Add" (click)="save()" [disabled]="newField['@label'] == null || newField['@label'].length < 1 || newField['@type'] == null"></button>
            <button pButton type="button" label="Cancel" (click)="cancel()"></button>
        </div>
    </div>
</div>
<div *ngIf="formMode == FormMode.Deleting">
    <div class="row" *ngIf="usedIn.length < 1">
        <div class="col s12">
            <div>
                Are you sure you want to delete the {{deletingField['@id']}} field?
            </div>
            <div>
                <button pButton type="button" label="Delete" (click)="confirmDelete()"></button>
                <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="usedIn.length > 0">
        <div class="col s12">
            <div>
                The field {{deletingField['@id']}} cannot be deleted because it is used in the following transition conditions:
            </div>
            <div *ngFor="let u of usedIn" style="margin-left: 8px;">
                &bull; {{(u.transitionName == '' || u.transitionName == null) ? '[No name]' : u.transitionName }}
            </div>
            <div style="padding-top: 8px">
                <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
            </div>
        </div>
    </div>
</div>