<div *ngIf="step != null"
     style="padding:10px;">
    <!--COMMON PROPERTIES-->
    <div class="row">
        <div class="col s6">
            <div class="FieldName" i18n>
                Name
            </div>
            <div>
                {{step.name}}
            </div>
        </div>
        <div class="col s6"
             *ngIf="step.activityType != null && step.activityType > 0">
            <div class="FieldName" i18n>
                Activity Type
            </div>
            <div>
                {{step.activityDescription}}
            </div>
        </div>
        <div class="col s6"
             *ngIf="step.stepType != StepType.Task">
            <div class="FieldName" i18n>
                Step Type
            </div>
            <div>
                {{StepType[step.stepType]}}
            </div>
        </div>
    </div>
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <ng-container *ngIf="step.settings != null">
        <ng-container [ngSwitch]="step.activityType">
            <!--EMAIL NOTIFICATION-->
            <div *ngSwitchCase="WorkflowActivityType.EmailNotification"
                 class="row"
                 style="padding-top:10px">
                <div class="col s6">
                    <div class="FieldName" i18n>
                        Recipient Type
                    </div>
                    <div>
                        {{step.settings['MessageRecipientType'] == 'SpecificUser' ? 'Specific User' : step.settings['MessageRecipientType']}}
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step.settings['MessageRecipientType'] == 'SpecificUser'">
                    <div class="FieldName" i18n>
                        Recipient
                    </div>
                    <div>
                        {{step.settings['MessageToUser']}}
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step.settings['MessageRecipientType'] == 'Responsibility'">
                    <div class="FieldName" i18n>
                        Responsibility
                    </div>
                    <div>
                        <ng-container *ngIf="step.settings['ResponsibilityTypeID'] != null; else block">
                            <div *ngFor="let r of step.settings.ResponsibilityTypeID; let i = index">
                                {{getResponsibilityName(i)}}
                            </div>
                        </ng-container>
                        <ng-template #block>
                            &nbsp;
                        </ng-template>
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step.settings['MessageRecipientType'] == 'Group'">
                    <div class="FieldName" i18n>
                        Recipient Group
                    </div>
                    <div>
                        {{getGroupName()}}
                    </div>
                </div>
                <div class="col s6">
                    <div class="FieldName" i18n>
                        Subject
                    </div>
                    <div>
                        {{step.settings['MessageSubjectTemplate']}}
                    </div>
                </div>
                <div class="col s12">
                    <div class="FieldName" i18n>
                        Body
                    </div>
                    <div class="FormFieldContent"
                         *ngIf="step.settings['MessageBodyTemplate']"
                         [innerHtml]="step.settings['MessageBodyTemplate'] | safeHtml">

                    </div>
                </div>
                <div class="col s12"
                     *ngIf="step.settings['IncludePreviousFormResponses'] != null">
                    <div class="FieldName" i18n>Include previous form responses?</div>
                    <div>
                        {{step.settings['IncludePreviousFormResponses'].toString() == 'true' ? 'Yes' : 'No'}}
                    </div>
                </div>
            </div>
            <!--HTTP REQUEST -->
            <div *ngSwitchCase="WorkflowActivityType.HTTPRequest"
                 class="row"
                 style="padding-top:10px">
                <div class="col s12" *ngIf="step?.settings?.HTTPRequest?.Headers && showSensitiveInfo">
                    <div class="FieldName" i18n>
                        Headers
                    </div>
                    <div>
                        <p-table #dt [value]="step.settings.HTTPRequest.Headers" selectionMode="single" [metaKeySelection]="true" [pageLinks]="3" [paginator]="true" [rows]="10" [rowsPerPageOptions]="defaultPagingOptions">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th i18n>Key</th>
                                    <th i18n>Value</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="index">
                                <tr [pSelectableRow]="item">
                                    <td>
                                        {{item.key}}
                                    </td>
                                    <td>
                                        {{item.value}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col s6">
                    <div class="FieldName" i18n>
                        Method
                    </div>
                    <div>
                        {{step?.settings?.HTTPRequest?.Method}}
                    </div>
                </div>
                <div class="col s6">
                    <div class="FieldName" i18n>
                        Request Timeout
                    </div>
                    <div>
                        {{step?.settings?.HTTPRequest?.Timeout}}
                    </div>
                </div>
                <div class="col s12">
                    <div class="FieldName" i18n>Pass lookup fields by value?</div>
                    <div>
                        {{step?.settings?.HTTPRequest?.lookupFieldsPassedByValue.toString() == 'true' ? 'Yes' : 'No'}}
                    </div>
                </div>
                <div class="col s12">
                    <div class="FieldName">
                        Url
                    </div>
                    <div>
                        {{step?.settings?.HTTPRequest?.Url}}
                    </div>
                </div>
                <div class="col s12" *ngIf="showSensitiveInfo">
                    <div class="FieldName" i18n>
                        Body
                    </div>
                    <div>
                        {{step?.settings?.HTTPRequest?.Body}}
                    </div>
                </div>
            </div>
            <!--HTTP RESPONSE -->
            <div *ngSwitchCase="WorkflowActivityType.HTTPResponse"
                 class="row"
                 style="padding-top:10px">
                <div class="col s6">
                    <div class="FieldName" i18n>
                        HTTP Request
                    </div>
                    <div>
                        {{step?.settings?.Response?.InputStepName}}
                    </div>
                </div>
                <div class="col s12" *ngIf="step?.settings?.HTTPResponse?.Outputs">
                    <div class="FieldName" i18n>
                        Outputs
                    </div>
                    <div>
                        <p-table #dt [value]="step.settings.HTTPResponse.Outputs" selectionMode="single" [metaKeySelection]="true" [pageLinks]="3" [paginator]="true" [rows]="10" [rowsPerPageOptions]="defaultPagingOptions">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th i18n>Name</th>
                                    <th i18n>Path</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="index">
                                <tr [pSelectableRow]="item">
                                    <td>
                                        {{item.Name}}
                                    </td>
                                    <td>
                                        {{item.Path}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <!--FORM-->
            <div *ngSwitchCase="WorkflowActivityType.Form"
                 class="row"
                 style="padding-top:10px">
                <ng-container *ngIf="step != null && step.fields != null && step.fields.form != null">
                    <div class="col s6"
                         *ngIf="step.fields.form['@title'] != null">
                        <div class="FieldName" i18n>
                            Title
                        </div>
                        <div>
                            {{step?.fields?.form['@title']}}
                        </div>
                    </div>
                    <div class="col s12"
                         *ngIf="step.fields.form['@description'] != null">
                        <div class="FieldName" i18n>
                            Description
                        </div>
                        <div class="FormFieldContent"
                             [innerHTML]="step.fields.form['@description'] | safeHtml"></div>
                    </div>
                </ng-container>
                <div class="col s6">
                    <div class="FieldName" i18n>
                        Response Type
                    </div>
                    <div>
                        {{step?.settings?.FormResponseType == 'FirstResponse' ? 'First Response' : step?.settings?.FormResponseType}}
                    </div>
                </div>
                <div class="col s6">
                    <div class="FieldName" i18n>
                        Recipient Type
                    </div>
                    <div>
                        {{step?.settings['MessageRecipientType'] == 'SpecificUser' ? 'Specific User' :step?.settings['MessageRecipientType'] }}
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step?.settings['MessageRecipientType'] == 'SpecificUser'">
                    <div class="FieldName" i18n>
                        Recipient
                    </div>
                    <div>
                        {{step?.settings['MessageToUser']}}
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step.settings['MessageRecipientType'] == 'Responsibility'">
                    <div class="FieldName">
                        {{
(step.settings.ResponsibilityTypeID == null || step.settings.ResponsibilityTypeID.length < 2)
                            ? 'Responsibility'
                            : 'Responsibilities'
                        }}
                    </div>
                    <div *ngFor="let x of step.settings.ResponsibilityTypeID; let i = index">
                        <ng-container *ngIf="step.settings.ResponsibilityTypeID[i] != null">
                            {{
step?.settings?.ResponsibilitySide != null ? step?.settings?.ResponsibilitySide :
                                ''
                            }} {{getResponsibilityName(i)}}
                        </ng-container>
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step.settings['MessageRecipientType'] == 'Group'">
                    <div class="FieldName" i18n>
                        Recipient Group
                    </div>
                    <div>
                        {{getGroupName()}}
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step?.fields?.form != null && step?.fields?.form['@allowReassignResource'] != null">
                    <div class="FieldName" i18n>
                        Allow resource reassignment?
                    </div>
                    <div>
                        {{step?.fields?.form['@allowReassignResource'].toString() == 'true' ? 'Yes' : 'No'}}
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step.settings['SendFormEmail'] != null">
                    <div class="FieldName" i18n>
                        Send form email?
                    </div>
                    <div>
                        {{step?.settings['SendFormEmail'].toString() == 'true' ? 'Yes' : 'No'}}
                    </div>
                </div>
                <div class="col s6"
                     *ngIf="step?.fields?.form != null && step?.fields?.form['@allowReassignObject'] != null">
                    <div class="FieldName" i18n>
                        Allow object reassignment?
                    </div>
                    <div>
                        {{step?.fields?.form['@allowReassignObject'].toString() == 'true' ? 'Yes' : 'No'}}
                    </div>
                </div>
                <div class="col s12"
                     *ngIf="step.settings['IncludePreviousFormResponses'] != null">
                    <div class="FieldName" i18n>Include previous form responses?</div>
                    <div>
                        {{step.settings['IncludePreviousFormResponses'].toString() == 'true' ? 'Yes' : 'No'}}
                    </div>
                </div>
                <div class="col s12"
                     *ngIf="step.settings['SendFormEmail'] != null && step.settings['SendFormEmail'].toString() == 'true' && step?.settings?.MessageSubjectTemplate != null">
                    <div class="FieldName" i18n>
                        Subject
                    </div>
                    <div>
                        {{step?.settings['MessageSubjectTemplate']}}
                    </div>
                </div>
                <div class="col s12"
                     *ngIf="step.settings['SendFormEmail'] != null && step.settings['SendFormEmail'].toString() == 'true'">
                    <div class="FieldName" i18n>
                        Body
                    </div>
                    <div class="FormFieldContent"
                         *ngIf="step.settings['MessageBodyTemplate']"
                         [innerHTML]="step.settings['MessageBodyTemplate'] | safeHtml">

                    </div>
                </div>
                <div class="col s12">
                    <div class="FieldName" i18n>
                        Form Inputs
                    </div>
                    <ng-container *ngIf="step.fields.form != null && step.fields.form.field != null && step.fields.form.field.length > 0; else none">
                        <p-table #dt
                                 [value]="step.fields.form.field"
                                 selectionMode="single"
                                 [metaKeySelection]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th i18n>Label</th>
                                    <th i18n>Type</th>
                                    <th i18n>Required?</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body"
                                         let-item>
                                <tr [pSelectableRow]="item">
                                    <td>{{item['@label']}}</td>
                                    <td>
                                        {{getTypeLabel(item)}}
                                    </td>
                                    <td>
                                        <i *ngIf="(item['@required']=='true'|| item['@required']==true || (item['@type']=='boolean')); else elseBlock" class="fa fa-check enabled" title="True"></i>
                                        <ng-template #elseBlock><i class="fa fa-times disabled" title="False"></i></ng-template>

                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                    <ng-template #none>
                        <div i18n>
                            No form inputs defined
                        </div>
                    </ng-template>
                </div>
            </div>
            <!--FIELD CHANGE-->
            <div *ngSwitchCase="WorkflowActivityType.FieldChange"
                 class="row"
                 style="padding-top:10px">
                <div class="col s12"
                     *ngIf="step?.settings?.FieldUpdate?.Field != null">

                    <p-table *ngIf="!isLoading"
                             #dt
                             [value]="step.settings.FieldUpdate.Field"
                             selectionMode="single"
                             [metaKeySelection]="true"
                             [pageLinks]="3"
                             [paginator]="true"
                             [rows]="5"
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th i18n>Field</th>
                                <th i18n>Value</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body"
                                     let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{renderFieldChangeTableName(item)}}</td>
                                <td>
                                    <div *ngIf="item != null">
                                        <span *ngIf="item['@UseCurrentDate'] != null && item['@UseCurrentDate'].toString() == 'true'" i18n>
                                            [use date at time of execution]
                                        </span>
                                        <span *ngIf="item['@ClearValue'] != null && item['@ClearValue'].toString() == 'true'" i18n>
                                            [clear the field value]
                                        </span>
                                        <span *ngIf="item['@UseFormValue'] != null && item['@UseFormValue'].toString() == 'true' && (item['@IsActionForm'] == null || item['@IsActionForm'].toString() == 'false')">[use value from form input {{item['@Formlabel']}}]</span>
                                        <span *ngIf="item['@IsActionForm'] != null && item['@IsActionForm'].toString() == 'true'">[use value from action form field {{item['@Formlabel']}}]</span>
                                        <span *ngIf="item['@UseOutputValue'] != null && item['@UseOutputValue'].toString() == 'true'">[use value from output {{item['@FormLabel']}}]</span>
                                        <div *ngIf="(item['@UseCurrentDate'] == null || item['@UseCurrentDate'].toString() == 'false')
                                             && (item['@UseFormValue'] == null || item['@UseFormValue'].toString() == 'false')
                                             && (item['@IsActionForm'] == null || item['@IsActionForm'].toString() == 'false')
                                             && (item['@UseOutputValue'] == null || item['@UseOutputValue'].toString() == 'false')
                                             && (item['@ClearValue'] == null || item['@ClearValue'].toString() == 'false')">
                                            <ng-container *ngIf="isHtml(item); else str">
                                                <div [innerHtml]="getValue(item) | safeHtml"
                                                     style="max-height: 42px; overflow: hidden; text-overflow: ellipsis">
                                                </div>
                                            </ng-container>
                                            <ng-template #str>
                                                {{getValue(item)}}
                                            </ng-template>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <d3s-grid-paging-info [first]="dt.first"
                                                  [rows]="dt.rows"
                                                  [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!--STORED PROCEDURE-->
            <div *ngSwitchCase="WorkflowActivityType.Procedure"
                 class="row">

            </div>
            <!--RELATIONSHIP UPDATE-->
            <div *ngSwitchCase="WorkflowActivityType.RelationshipUpdate"
                 class="row">

            </div>
            <!--STATE CHANGE-->
            <div *ngSwitchCase="WorkflowActivityType.StateChange"
                 class="row">
                <div class="col s6">
                    <div class="FieldName" i18n>State</div>
                    <div>
                        {{states[step?.settings?.State]?.label || 'Unknown'}}
                    </div>
                </div>
            </div>
            <!--DELETE-->
            <div *ngSwitchCase="WorkflowActivityType.Delete"
                 class="row">

            </div>
        </ng-container>
    </ng-container>
</div>
<div *ngIf="step == null"
     style="text-align: center" i18n>
    Nothing selected
</div>
