<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <div class="row">
        <div class="col s12">
            <div class="FieldName" i18n>
                Title
            </div>
            <div>
                <input type="text" [ngModel]="step.fields.form['@title']" (ngModelChange)="step.fields.form['@title']=$event; stepChange.emit(step);" style="width: 95%" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="FieldName" i18n>
                Description
            </div>
            <div style="width: 95%">
                <p-editor [ngModel]="step.fields.form['@description']" (ngModelChange)="mapHTMLToFormProperty($event, '@description'); stepChange.emit(step)" #fed>
                    <p-header>
                        <d3s-editor-header></d3s-editor-header>
                        <d3s-workflow-template-tool [step]="step"
                                                    [diagram]="diagram"
                                                    [issueObject]="issueObject"
                                                    [objectType]="objectType"
                                                    [objectId]="objectId"
                                                    (onItemClick)="appendFieldDescription($event)"></d3s-workflow-template-tool>
                    </p-header>
                </p-editor>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="FieldName" i18n>
                Response Type
            </div>
            <div>
                <select [ngModel]="step.settings.FormResponseType" (ngModelChange)="step.settings.FormResponseType = $event; stepChange.emit(step);" style="width: 95%">
                    <option></option>
                    <option *ngFor="let r of responseTypes" [value]="r.value">{{r.label}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="FieldName" i18n>
                Recipient Type
            </div>
            <div>
                <select [ngModel]="step.settings.MessageRecipientType" (ngModelChange)="step.settings.MessageRecipientType = $event; stepChange.emit(step)" style="width: 95%">
                    <option></option>
                    <option *ngFor="let d of destination" [value]="d.value">{{d.label}}</option>
                </select>
            </div>
        </div>
        <div *ngIf="step.settings.MessageRecipientType == 'SpecificUser'" class="col s12">
            <div class="FieldName" i18n>
                Recipient
            </div>
            <div>
                <input type="text" [ngModel]="step.settings.MessageToUser" (ngModelChange)="step.settings.MessageToUser = $event; stepChange.emit(step)" style="width: 95%" />
            </div>
        </div>
        <div *ngIf="step.settings.MessageRecipientType == 'Responsibility'" class="col s12">
            <d3s-workflow-responsibility-selector [step]="step"
                                                  (stepChange)="step = $event; stepChange.emit(step)"
                                                  [objectType]="objectType"
                                                  [objectId]="objectId">
            </d3s-workflow-responsibility-selector>
        </div>
        <div *ngIf="step.settings.MessageRecipientType == 'Group'" class="col s12">
            <div class="FieldName" i18n>
                Recipient Group
            </div>
            <div>
                <select [ngModel]="step.settings.MessageToGroup" (ngModelChange)="step.settings.MessageToGroup = $event; stepChange.emit(step)" style="width: 95%">
                    <option></option>
                    <option *ngFor="let d of groups" [value]="d.value">{{d.label}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 8px">
        <div class="col s12">
            <ng-container *ngIf="objectType == 'IssueType'">
                <div>
                    <p-checkbox igCheckbox binary="true" i18n-label label="Allow resource reassignment?" [ngModel]="allowReassignResource" (ngModelChange)="allowReassignResource = $event; step.fields.form['@allowReassignResource'] = $event; stepChange.emit(step);"></p-checkbox>
                </div>
                <div>
                    <p-checkbox igCheckbox binary="true" i18n-label label="Allow object reassignment?" [ngModel]="allowReassignObject" (ngModelChange)="allowReassignObject = $event; step.fields.form['@allowReassignObject'] = $event; stepChange.emit(step);"></p-checkbox>
                </div>
            </ng-container>
            <div>
                <p-checkbox igCheckbox binary="true" i18n-label label="Send form email?" [ngModel]="step.settings.SendFormEmail" (ngModelChange)="step.settings.SendFormEmail = $event; stepChange.emit(step);"></p-checkbox>
            </div>
            <div>
                <div>
                    <p-checkbox igCheckbox binary="true" i18n-label label="Include previous form responses" [ngModel]="step.settings.IncludePreviousFormResponses" (ngModelChange)="step.settings.IncludePreviousFormResponses = $event; stepChange.emit(step)"></p-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 8px" *ngIf="step.settings.SendFormEmail == true">
        <div class="col s12">
            <div class="FieldName" i18n>
                Subject
            </div>
            <div>
                <input type="text" style="width:95%" [ngModel]="step.settings.MessageSubjectTemplate" (ngModelChange)="step.settings.MessageSubjectTemplate = $event; stepChange.emit(step)" />
            </div>
        </div>
        <div class="col s12">
            <div class="FieldName" i18n>
                Body
            </div>
            <div style="width: 95%">
                <p-editor [ngModel]="step.settings.MessageBodyTemplate" (ngModelChange)="step.settings.MessageBodyTemplate = $event; stepChange.emit(step)" #ed>
                    <p-header>
                        <d3s-editor-header></d3s-editor-header>
                        <d3s-workflow-template-tool [issueObject]="issueObject"
                                                    [objectType]="objectType"
                                                    [objectId]="objectId"
                                                    (onItemClick)="appendField($event)"
                                                    [step]="step"
                                                    [diagram]="diagram"></d3s-workflow-template-tool>
                    </p-header>
                </p-editor>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <header>
                &nbsp;
                <d3s-tile-actions hideTooltip="true" hasAdd="true" (addClick)="add()"></d3s-tile-actions>
            </header>

            <p-table #dt
                     [value]="step.fields.form.field"
                     selectionMode="single"
                     [metaKeySelection]="true"
                     [pageLinks]="3"
                     [paginator]="true"
                     [rows]="10"
                     [rowsPerPageOptions]="defaultPagingOptions"
                     [selection]="selectedRow"
                     (onRowSelect)="select($event.index)">
                <ng-template pTemplate="header">
                    <tr>
                        <th i18n>Label</th>
                        <th i18n>Type</th>
                        <th i18n>Required?</th>
                        <th style="width: 40px"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr [pSelectableRow]="item">
                        <td>{{item['@label']}}</td>
                        <td>
                            {{getTypeLabel(item)}}
                        </td>
                        <td>
                            <i *ngIf="(item['@required']=='true'|| item['@required']==true || (item['@type']=='boolean')); else elseBlock" class="fa fa-check enabled" title="True"></i>
                            <ng-template #elseBlock><i class="fa fa-times disabled" title="False"></i></ng-template>

                        </td>
                        <td>
                            <ng-container>
                                <button type="button" icon="fa-ellipsis-v" igButton (click)="select(i);menu.toggle($event)" pTooltip="Form Field Actions" tooltipPosition="top" tooltipStyleClass="ig-tooltip"></button>
                                <ig-popup-menu (onSelect)="select(i);clickMenu($event)" [items]="menuItems(i != 0, i != (dt.totalRecords-1))" #menu [tabIndex]="1"></ig-popup-menu>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div *ngIf="formMode == FormMode.Adding">
        <div class="row">
            <div class="col s12">
                <div class="FieldName" i18n>
                    Field Type
                </div>
                <div>
                    <select [ngModel]="newField['@type']" (ngModelChange)="changeType($event)" style="width:95%">
                        <option></option>
                        <option *ngFor="let t of types" [value]="t.label">{{t.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="FieldName">
                    Label
                </div>
                <div>
                    <input type="text" [(ngModel)]="newField['@label']" style="width: 95%" />
                </div>
            </div>
        </div>
        <div *ngIf="isListLoading" class="row">
            <div class="col s12">
                <d3s-loading isLoading="true"></d3s-loading>
            </div>
        </div>
        <div *ngIf="newField['@type'] == 'relationshipType' && !isListLoading" class="row">
            <div class="col s12">
                <div class="FieldName" i18n>
                    Relationship Type
                </div>
                <div>
                    <select [(ngModel)]="newField['@intersectTypeId']" style="width: 95%">
                        <option></option>
                        <option *ngFor="let i of intersectTypes" [value]="i.IntersectTypeID">{{(i.PredicateName != null && i.PredicateName.length > 0) ? '[' + i.PredicateName + ']' : ''}} {{i.TargetName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="newField['@type'] == 'list' && !isListLoading" class="row">
            <div class="col s12">
                <div class="FieldName" i18n>
                    List
                </div>
                <div>
                    <select [(ngModel)]="newField['@referenceFieldId']" style="width: 95%">
                        <option></option>
                        <option *ngFor="let l of lookups" [value]="l.value">{{l.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="FieldName">
                    <p-checkbox igCheckbox binary="true" [disabled]="newField['@type'] =='boolean'" i18n-label label="Is Required?" [(ngModel)]="newField['@required']"></p-checkbox>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 8px;">
            <div class="col s12">
                <button pButton type="button" i18n-label label="Add" (click)="save()" [disabled]="!validateField()"></button>
                <button pButton type="button" i18n-label label="Cancel" (click)="cancel()"></button>
            </div>
        </div>
    </div>
    <div *ngIf="formMode == FormMode.Editing">
        <div class="row">
            <div class="col s12">
                <div class="FieldName" i18n>
                    Label
                </div>
                <div>
                    <input type="text" [(ngModel)]="newField['@label']" style="width: 95%" />
                </div>
            </div>
        </div>
        <div *ngIf="usedIn?.length > 0" class="row">
            <div class="col s12">
                <div i18n>
                    The type cannot be changed because this field is used in a condition on the workflow
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="FieldName" i18n>
                    Field Type
                </div>
                <div>
                    <select [ngModel]="newField['@type']" (ngModelChange)="changeType($event)" style="width:95%" [disabled]="usedIn?.length > 0">
                        <option></option>
                        <option *ngFor="let t of types" [value]="t.label">{{t.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="isListLoading" class="row">
            <div class="col s12">
                <d3s-loading isLoading="true"></d3s-loading>
            </div>
        </div>
        <div *ngIf="newField['@type'] == 'relationshipType' && !isListLoading" class="row">
            <div class="col s12">
                <div class="FieldName" i18n>
                    Relationship Type
                </div>
                <div>
                    <select [(ngModel)]="newField['@intersectTypeId']" style="width: 95%" [disabled]="usedIn?.length > 0">
                        <option></option>
                        <option *ngFor="let i of intersectTypes" [value]="i.IntersectTypeID">{{(i.PredicateName != null && i.PredicateName.length > 0) ? '[' + i.PredicateName + ']' : ''}} {{i.TargetName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="newField['@type'] == 'list' && !isListLoading" class="row">
            <div class="col s12">
                <div class="FieldName" i18n>
                    List
                </div>
                <div>
                    <select [(ngModel)]="newField['@referenceFieldId']" style="width: 95%" [disabled]="usedIn?.length > 0">
                        <option></option>
                        <option *ngFor="let l of lookups" [value]="l.value">{{l.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="FieldName">
                    <p-checkbox igCheckbox binary="true" [disabled]="newField['@type'] =='boolean'" i18n-label label="Is Required?" [(ngModel)]="newField['@required']"></p-checkbox>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 8px;">
            <div class="col s12">
                <button pButton type="button" i18n-label label="Save" (click)="save()" [disabled]="!validateField()"></button>
                <button pButton type="button" i18n-label label="Cancel" (click)="cancel()"></button>
            </div>
        </div>
    </div>
    <div *ngIf="formMode == FormMode.Deleting">
        <div class="row" *ngIf="usedIn.length < 1">
            <div class="col s12">
                <div i18n>
                    Are you sure you want to delete the {{deletingField['@id']}} field?
                </div>
                <div>
                    <button pButton type="button" i18n-label label="Delete" (click)="confirmDelete()"></button>
                    <button pButton type="button" i18n-label label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="usedIn.length > 0">
            <div class="col s12">
                <div i18n>
                    The field {{deletingField['@id']}} cannot be deleted because it is used in the following transition conditions:
                </div>
                <div *ngFor="let u of usedIn" style="margin-left: 8px;">
                    &bull; {{(u.transitionName == '' || u.transitionName == null) ? '[No name]' : u.transitionName }}
                </div>
                <div style="padding-top: 8px">
                    <button pButton type="button" i18n-label label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>
    </div>
</div>
