<div *ngIf="link != null" style="padding:10px;">
    <div class="FieldName" i18n>
        Name
    </div>
    <div>
        {{link.name}}
    </div>
    <div class="FieldName" i18n>
        Transition Type
    </div>
    <div>
        {{TransitionType[link.transitionType]}}
    </div>
    <div *ngIf="link.transitionType == TransitionType.Condition">
        <div class="FieldName" i18n>
            Conditions
        </div>
        <d3s-workflow-condition-list [readonly]="true"
                                     [conditions]="link.condition"
                                     [hideAllAnyOption]="true">
        </d3s-workflow-condition-list>
    </div>
    <div *ngIf="link.transitionType == TransitionType.Timer">
        <div class="FieldName" i18n>
            Frequency (Days)
        </div>
        <div>
            {{link.settings.TimerInterval}}
        </div>
    </div>
</div>
<div *ngIf="link == null" i18n>
    Nothing selected
</div>