<div class="row">
    <div class="col s12">
        <div class="FieldName">Name</div>
        <div>
            <input type="text" style="width: 95%" [ngModel]="step.name" (ngModelChange)="step.name = $event; stepChange.emit(step)" />
        </div>
    </div>
    <div [ngSwitch]="step.activityType">
        <div class="row" *ngSwitchCase="WorkflowActivityType.EmailNotification">
            <div class="col s12">
                <div class="FieldName">
                    Recipient Type
                </div>
                <div>
                    <select [ngModel]="step.settings.MessageRecipientType" (ngModelChange)="step.settings.MessageRecipientType = $event; stepChange.emit(step)" style="width: 95%">
                        <option></option>
                        <option *ngFor="let d of destination" [value]="d.value">{{d.label}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="step.settings.MessageRecipientType == 'SpecificUser'" class="col s12">
                <div class="FieldName">
                    Recipient
                </div>
                <div>
                    <input type="text" [ngModel]="step.settings.MessageToUser" (ngModelChange)="step.settings.MessageToUser = $event; stepChange.emit(step)" style="width: 95%" />
                </div>
            </div>
            <div *ngIf="step.settings.MessageRecipientType == 'Responsibility'" class="col s12">
                <d3s-workflow-responsibility-selector [step]="step"
                                                     (stepChange)="step = $event; stepChange.emit(step)"
                                                     [objectType]="objectType"
                                                     [objectId]="objectId">
                </d3s-workflow-responsibility-selector>
            </div>
            <div class="col s12">
                <div class="FieldName">
                    Subject
                </div>
                <div>
                    <input type="text" style="width:95%" [ngModel]="step.settings.MessageSubjectTemplate" (ngModelChange)="step.settings.MessageSubjectTemplate = $event; stepChange.emit(step)" />
                </div>
            </div>
            <div class="col s12">
                <div class="FieldName">
                    Body
                </div>
                <div style="width: 95%">
                    <p-editor [ngModel]="step.settings.MessageBodyTemplate" (ngModelChange)="step.settings.MessageBodyTemplate = $event; stepChange.emit(step)" #ed>
                        <p-header>
                            <d3s-editor-header></d3s-editor-header>
                            <d3s-workflow-template-tool [objectType]="objectType" [objectId]="objectId" (onItemClick)="appendField($event)"></d3s-workflow-template-tool>
                        </p-header>
                    </p-editor>
                </div>
            </div>
            <div class="col s12" style="padding-top:8px;">
                <div>
                    <input type="checkbox" [ngModel]="step.settings.IncludePreviousFormResponses" (ngModelChange)="step.settings.IncludePreviousFormResponses = $event; stepChange.emit(step)" /> Include previous form responses
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.StatusChange">
            <div class="col s12">
                <div class="FieldName">Status</div>
                <div>
                    <select [ngModel]="step.settings.Status" (ngModelChange)="step.settings.Status = $event; stepChange.emit(step)" style="width: 95%">
                        <option value=""></option>
                        <option *ngFor="let s of status" [value]="s">{{s}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.Form">
            <d3s-workflow-step-form-editor [objectType]="objectType"
                                           [objectId]="objectId"
                                           [step]="step"
                                           (stepChange)="step = $event; stepChange.emit(step)">
            </d3s-workflow-step-form-editor>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.Procedure">
            <div class="col s12">
                <div class="FieldName">Procedure</div>
                <div>
                    <select style="width: 95%" [ngModel]="step.settings.ProcedureID" (ngModelChange)="step.settings.ProcedureID = $event; stepChange.emit(step);">
                        <option></option>
                        <option *ngFor="let p of procedures" [value]="p.ID">{{p.Name}} ({{p.Procedure}})</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.FieldChange">
            <d3s-workflow-step-field-change [formFields]="formFields"
                                            [objectId]="objectId"
                                            [objectType]="objectType"
                                            [issueObject]="issueObject"
                                            [fieldUpdate]="step.settings.FieldUpdate"
                                            (fieldUpdateChange)="step.settings.FieldUpdate = $event; stepChange.emit(step)">
            </d3s-workflow-step-field-change>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.RelationshipUpdate">
            <div class="col s12">
                <div class="FieldName">Relationship Form Field</div>
                <div>
                    <select [ngModel]="formRelationship" (ngModelChange)="changeRelationship($event)" style="width:95%">
                        <option></option>
                        <option *ngFor="let f of formRelationshipFields" [value]="f['@FormFieldId']">
                            Form :: {{f['@label']}}
                        </option>
                    </select>
                </div>
                <div style="padding-top: 10px">
                    <input type="checkbox" [ngModel]="step.settings.RelationshipUpdate.Relationship['@AppendValue']" (ngModelChange)="changeValueType($event, '@AppendValue');" /> Append relationships?
                </div>
                <div style="padding-top: 10px">
                    <input type="checkbox" [ngModel]="step.settings.RelationshipUpdate.Relationship['@ClearValue']" (ngModelChange)="changeValueType($event, '@ClearValue');" /> Clear relationships?
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.StateChange">
            <div class="col s12">
                <div class="FieldName">State</div>
                <div>
                    <select [ngModel]="step.settings.State" (ngModelChange)="step.settings.State = $event; stepChange.emit(step)" style="width: 95%">
                        <option value=""></option>
                        <option *ngFor="let s of states" [value]="s.value">{{s.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="WorkflowActivityType.Delete">
            <div class="col s12">

            </div>
        </div>
        <ng-container *ngSwitchCase="WorkflowActivityType.None">
            <!-- for terminal steps -->
        </ng-container>
    </div>
    <div *ngIf="step.hasMultipleInputs" class="col s12" style="padding-top: 8px">
        <input type="checkbox" [ngModel]="step.settings.WaitForAllTransitions" (ngModelChange)="step.settings.WaitForAllTransitions = $event; stepChange.emit(step)" /> Wait for all transitions to complete?
    </div>
</div>
