<span #item class="header-search" [ngClass]="{'header-search-active':active}" (mouseenter)="show(item)" (mouseleave)="hide(item)">
    <a class="photo hide-on-med-and-down"><img [src]="'/api/v2/membership/users/' + resourceUid + '/image?size=25'" height="25" width="25" /></a>
    <div class="show-on-medium-and-down hide-on-med-and-up">
        <div class="mini-menu-line">
            <div class="check-gutter"></div><div class="text" i18n>My Account</div><div class="expand-gutter"><i class="fa fa-caret-right"></i></div>
        </div>
    </div>
    <div class="search-child header-profile-panel">
        <div class="row">
            <ul>
                <li class="header-item label">
                    <div class="mini-menu-line">
                        <div class="text no-gutter">
                            <span>
                                {{userName}} <br>
                                {{userEmail}}
                            </span>
                        </div>
                    </div>
                </li>
                <li (click)="viewProfile()" class="header-item">
                    <div class="mini-menu-line">
                        <div class="text no-gutter"i18n>View Profile</div>
                    </div>
                </li>
                <li *ngIf="showAllUsersAPIKey" (click)="isApiKeysPopupVisible=true" class="header-item">
                    <div class="mini-menu-line">
                        <div class="text no-gutter"i18n>API Key</div>
                    </div>
                </li>
                <li *ngIf="!singleSignOn" [routerLink]="'/resource/'+resourceId+'/changepassword'" class="header-item">
                    <div class="mini-menu-line">
                        <div class="text no-gutter"i18n>Change Password</div>
                    </div>
                </li>
                <li class="header-item" (click)="signOut()">
                    <div class="mini-menu-line">
                        <div class="text no-gutter"i18n>Sign Out</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</span>

<d3s-resource-api *ngIf="showAllUsersAPIKey" [isVisible]="isApiKeysPopupVisible" (onClose)="isApiKeysPopupVisible=false"></d3s-resource-api>
