<div #bread class="breadcrumbs" (window:resize)="onResize($event)">
                <span (mouseleave)="hideSmallPanel(smallPanel)" (mouseenter)="fixHeight($event,smallPanel)"> 
                    <i #collapseIcon *ngIf="showLastOnly" class="fa fa-ellipsis-h breadcrumb-collapse"
                       aria-hidden="true"></i>
                    <div #smallPanel ngClass="collapsed-overlay">
                        <div *ngFor="let breadcrumb of breadcrumbs;let last=last;let index=index"
                             class="collapsed-crumb-container">
                            <d3s-header-breadcrumb-item [ngClass]="'collapsed-crumb'"
                                                        [ngStyle]="{'padding-left': index *10 + 'px'}" [index]="index"
                                                        [showSeperator]="false" [breadcrumb]="breadcrumb"
                                                        [isLastItem]="last"
                                                        (treeClick)="handleTreeClick($event)"></d3s-header-breadcrumb-item>
                        </div>
                    </div>
                </span>
    <div *ngFor="let breadcrumb of breadcrumbs;let last=last;let index=index">
        <d3s-header-breadcrumb-item *ngIf="(showLastOnly && last) || breadcrumb.show" [breadcrumb]="breadcrumb"
                                    [isLastItem]="last" [lastItem]="breadcrumbs[breadcrumbs.length - 1]"
                                    (treeClick)="handleTreeClick($event)"
                                    [maxLastCrumbWidth]="maxSpaceForCrumbs"></d3s-header-breadcrumb-item>
    </div>
    <div class="object-state" *ngIf="objectState"> - {{objectState}}</div>
</div>