<div #actions class="header-action-container" (window:resize)="onResize($event)">
    <ul class="header-actions-list">
        <li class="header-action-li spacer" *ngIf="headerActionsService.showSearch"><d3s-header-typeahead-search></d3s-header-typeahead-search></li>
        <li class="header-action-li spacer" *ngIf="hasRaiseIssueButton && headerActionsService.showRaiseIssue"><d3s-raise-issue-button></d3s-raise-issue-button></li>
        <li class="header-action-li hide-on-med-and-down" *ngIf="showShoppingCart && headerActionsService.showShoppingCart"><d3s-header-shopping-cart></d3s-header-shopping-cart></li>
        <li class="header-action-li hide-on-med-and-down" *ngIf="headerActionsService.showFavorite && !isAdminUrl && !isAdminSidebarUrl"><d3s-header-favorites [uri]="uri" [favItems]="favItems" [currentObject]="currentObject" [currentObjectId]="currentObjectId" [Uid]="Uid" [homePageItem]="homePageItem"></d3s-header-favorites></li>
        <li class="header-action-li hide-on-med-and-down" *ngIf="headerActionsService.showFavorite && !isAdminUrl && !isAdminSidebarUrl"><d3s-header-homepage [uri]="uri" [favItems]="favItems" [currentObject]="currentObject" [currentObjectId]="currentObjectId" [Uid]="Uid" [homePageItem]="homePageItem"></d3s-header-homepage></li>
        <li class="header-action-li hide-on-med-and-down" *ngIf="headerActionsService.showFollow  && !isAdminUrl && !isAdminSidebarUrl"><d3s-header-follow></d3s-header-follow></li>
        <li class="header-action-li" *ngIf="headerActionsService.showHelp"><d3s-header-help></d3s-header-help></li>
        <li class="header-action-li hide-on-med-and-down" *ngIf="headerActionsService.showNotifications"><a href="#" title="Go to notification settings"><i class="fa fa-bell-o"></i></a></li>
        <li class="header-action-li hide-on-med-and-down"><d3s-header-profile></d3s-header-profile></li>
    </ul>
    <ul class="show-on-medium-and-down hide-on-large-only header-actions-list">
        <li class="header-action-li"><d3s-header-mini-menu></d3s-header-mini-menu></li>
    </ul>
</div>