<ng-template [ngIf]="!showAsModal">
    <div>
        <header *ngIf="hasHeader">
            {{action}} {{title}} <div *ngIf="hasCloseButton"
                                      (click)="closeClick.emit()"
                                      style="cursor: pointer; float: right; font-size: 1.3em"><i class="fa fa-remove"></i></div>
        </header>
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <div class="row" *ngIf="isInError">
            <div class="err-message">{{isInErrorMessage}}</div>
        </div>
        <div class="row"
             *ngIf="!isLoading">
            <div class="form-instructions" *ngIf="hasDirections">
                {{directions}}
            </div>
            <form [formGroup]="form">
                <ng-template ngFor
                             let-category
                             [ngForOf]="categories">
                    <simple-accordion *ngIf="useAccordion(category)"
                                      [header]="category.name"
                                      [active]="true">
                        <div class="row"
                             *ngFor="let row of category.rows">
                            <div *ngFor="let field of row.Fields"
                                 [class]="'field-col col ' + row.getColClass()"
                                 style="padding-bottom:10px;">
                                <d3s-dynamic-field *ngIf="field.FieldType !== 'no-display'" [field]="field"
                                                   [form]="form"
                                                   (listItemChange)="listSelectionChanged($event)"
                                                   [editorChange]="editorChange"
                                                   [object]="objectType"
                                                   [objectID]="objectID"
                                                   [selectedObject]="selectedObject"
                                                   [selectedObjectID]="selectedObjectID"></d3s-dynamic-field>
                            </div>
                        </div>
                    </simple-accordion>
                    <span *ngIf="!useAccordion(category)">
                        <div class="row"
                             *ngFor="let row of category.rows">
                            <div *ngFor="let field of row.Fields"
                                 [class]="'field-col col ' + row.getColClass()"
                                 style="padding-bottom:10px;">
                                <d3s-dynamic-field *ngIf="field.FieldType !== 'no-display'" [field]="field"
                                                   [form]="form"
                                                   (listItemChange)="listSelectionChanged($event)"
                                                   [editorChange]="editorChange"
                                                   [object]="objectType"
                                                   [objectID]="objectID"
                                                   [selectedObject]="selectedObject"
                                                   [selectedObjectID]="selectedObjectID"></d3s-dynamic-field>
                            </div>
                        </div>
                    </span>
                </ng-template>
                <div *ngIf="hasIconFields && fore.Value == back.Value"
                     class="col s12 errorMessage">
                    * <ng-container i18n>Foreground and background color cannot be the same</ng-container>
                </div>
                <div class="col s12">&nbsp;</div>
                <div *ngIf="showActions" class="col s12">
                    <button pButton
                            type="button"
                            [disabled]="!form.valid || (hasIconFields && fore.Value == back.Value)"
                            style="width: '150px';"
                            i18n-label
                            label="Save" (click)="onSubmit()"></button>
                    <button pButton
                            type="button"
                            (click)="closeClick.emit();"
                            label="Close"
                            i18n-label
                            style="width: '150px';"></button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="showAsModal">


    <d3s-modal [title]="modalTitle" additionalClasses="modal-dyn-editor medium-dialog" (onClose)="closeClick.emit()" [isVisible]="isModalVisible">
        <div class="row" *ngIf="isInError">
            <div class="err-message">{{isInErrorMessage}}</div>
        </div>
        <form #assetForm (ngSubmit)="onSubmit()"
              [formGroup]="form" *ngIf="!isLoading" prompt>
            <div class="content">
                <div class="no-float row p-col-12">

                    <div class="form-instructions" *ngIf="hasDirections">
                        {{directions}}
                    </div>

                    <ng-template ngFor
                                 let-category
                                 [ngForOf]="categories">
                        <simple-accordion *ngIf="category.name"
                                          [header]="category.name"
                                          [active]="true">
                            <div class="row"
                                 *ngFor="let row of category.rows">
                                <div *ngFor="let field of row.Fields" [class]="'form-row'">
                                    <d3s-dynamic-field *ngIf="field.FieldType !== 'no-display'" [useNewUI]="true"
                                                       [field]="field"
                                                       [form]="form"
                                                       (listItemChange)="listSelectionChanged($event)"
                                                       [editorChange]="editorChange"
                                                       [object]="objectType"
                                                       [objectID]="objectID"
                                                       [selectedObject]="selectedObject"
                                                       [selectedObjectID]="selectedObjectID"></d3s-dynamic-field>
                                </div>
                            </div>
                        </simple-accordion>
                        <span *ngIf="!category.name">
                            <div class="row"
                                 *ngFor="let row of category.rows">
                                <div *ngFor="let field of row.Fields" [class]="'form-row'">
                                    <d3s-dynamic-field *ngIf="field.FieldType !== 'no-display'" [useNewUI]="true"
                                                       [field]="field"
                                                       [form]="form"
                                                       (listItemChange)="listSelectionChanged($event)"
                                                       [editorChange]="editorChange"
                                                       [object]="objectType"
                                                       [objectID]="objectID"
                                                       [selectedObject]="selectedObject"
                                                       [selectedObjectID]="selectedObjectID"></d3s-dynamic-field>
                                </div>
                            </div>
                        </span>
                    </ng-template>
                    <div *ngIf="hasIconFields && fore.Value == back.Value"
                         class="col s12 errorMessage">* Foreground and background color cannot be the same</div>
                </div>
            </div>
            <div class="action-bar">
                <button class="left button"
                        type="button"
                        (click)="closeClick.emit();"
                        i18n-label
                        label="Close" i18n>
                    Close
                </button>
                <span class="grow"></span>
                <button class="right button primary {{isLoading ? 'loading' : ''}}"
                        type="submit"
                        [disabled]="!form.valid || (hasIconFields && fore.Value == back.Value)" i18n>
                    Save
                    <span class="loader"><span class="spinner light"></span></span>
                </button>
            </div>
        </form>
    </d3s-modal>
</ng-template>

