<style>
    a,
    span {
        word-break: normal;
        display: inline-block;
        overflow-wrap: break-word;
        word-wrap: break-word;
        max-width: 100%;
    }
</style>
<span [ngSwitch]="fieldType">
    <span *ngSwitchCase="'date'">
        <span *ngIf="fieldValue && !isDateUTC">
            {{fieldValue | date:'shortDate'}}
        </span>
        <span *ngIf="fieldValue && isDateUTC">
            {{fieldValue | utcDate | date:'shortDate'}}
        </span>
    </span>
    <span *ngSwitchCase="'datetime'">
        <span *ngIf="fieldValue && isDateUTC">{{fieldValue | date:'medium'}}</span>
        <span *ngIf="fieldValue && !isDateUTC">{{fieldValue | utcDate | date:'medium'}}</span>
    </span>
    <span *ngSwitchCase="'number'" [class]="styleClass">{{formatAsNumber()}}</span>
    <span *ngSwitchCase="'bool'">
        <i *ngIf="fieldValue == 'TRUE'"
           class="fa fa-check enabled"
           title="True"></i>
        <i *ngIf="fieldValue == 'FALSE'"
           class="fa fa-times disabled"
           title="False"></i>
    </span>
    <span *ngSwitchCase="'lookup'">
        <d3s-lookup-tooltip [objectType]="item[column.objectfield]"
                            [objectId]="item[column.objectidfield]">
            <a (click)="navigate(item[column.urlfield])"
               [innerText]="fieldValue"></a>
        </d3s-lookup-tooltip>
    </span>
    <span *ngSwitchCase="'preview'">
        <d3s-preview-tooltip [objectType]="item[column.objectfield]"
                             [objectId]="item[column.objectidfield]">
            <a (click)="navigate(item[column.urlfield])"
               [innerText]="fieldValue"></a>
        </d3s-preview-tooltip>
    </span>
    <span *ngSwitchCase="'path'" innerHtml="{{formatAsPath()}}" [class]="styleClass"></span>
    <span *ngSwitchCase="'score'" innerHtml="{{fieldValue}}" [class]="styleClass"></span>
    <span *ngSwitchCase="'string'" [innerText]="fieldValue" [class]="styleClass"></span>
    <span *ngSwitchCase="'JSON'">
        <span *ngIf="GetJSON(field.Value) == 'Error'; else showJSON">{{field.Value}}</span>
        <ng-template #showJSON>
            <ngx-json-view [data]="GetJSON(field.Value)"></ngx-json-view>
        </ng-template>
    </span>
    <span *ngSwitchCase="'html'">
        <span class="ql-editor small-indent" *ngIf="fieldValue != null"
              [innerHtml]="fieldValue | safeHtml"></span>
    </span>
    <span *ngSwitchCase="'tag'">
        <d3s-tag-view [data]="fieldValue" [assetUID]="item?.AssetUid"></d3s-tag-view>
    </span>
    <span *ngSwitchCase="'Color'">
        <span class="ref-list-color" *ngIf="hasColor">
            <span class="ig-colorfield-swatch" [ngStyle]="{'background-color': fieldValue}"></span>
            <span>{{colorText}}</span>
        </span>
        <span class="ref-list-color" *ngIf="!hasColor">
            <span class="ig-colorfield-swatch empty"></span>
            <span class="color-text">{{colorText}}</span>
        </span>
    </span>
    <span *ngSwitchCase="'ListColor'">
        <d3s-color-display [colorsJSON]="fieldValue"></d3s-color-display>
    </span>
    <span *ngSwitchCase="'ownershiplookup'">
        <d3s-ownership-list [list]="fieldValue"></d3s-ownership-list>
    </span>
    <ng-template ngSwitchDefault>
        <span *ngIf="fieldValue != null" [class]="styleClass"
              [innerText]="fieldValue"></span>
    </ng-template>
</span>
