<ng-template [ngIf]="!showAsModal">
    <div>
        <header *ngIf="hasHeader">
            {{action}} {{title}} <div *ngIf="hasCloseButton"
                                      (click)="closeClick.emit()"
                                      style="cursor: pointer; float: right; font-size: 1.3em"><i class="fa fa-remove"></i></div>
        </header>
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <div class="row" *ngIf="isInError">
            <div class="err-message">{{isInErrorMessage}}</div>
        </div>
        <div class="row"
             *ngIf="!isLoading">
            <div class="form-instructions" *ngIf="hasDirections">
                {{directions}}
            </div>
            <form (ngSubmit)="onSubmit()"
                  [formGroup]="form">
                <ng-template ngFor
                             let-category
                             [ngForOf]="categories">
                    <simple-accordion *ngIf="useAccordion(category)"
                                      [header]="category.name"
                                      [active]="true">
                        <div class="row"
                             *ngFor="let row of category.rows">
                            <div *ngFor="let field of row.Fields"
                                 [class]="'field-col col ' + row.getColClass()"
                                 style="padding-bottom:10px;">
                                <d3s-dynamic-field *ngIf="field.FieldType !== 'no-display'" [field]="field"
                                                   [form]="form"
                                                   (listItemChange)="listSelectionChanged($event)"
                                                   [editorChange]="editorChange"
                                                   [object]="objectType"
                                                   [objectID]="objectID"
                                                   [selectedObject]="selectedObject"
                                                   [selectedObjectID]="selectedObjectID"></d3s-dynamic-field>
                            </div>
                        </div>
                    </simple-accordion>
                    <span *ngIf="!useAccordion(category)">
                        <div class="row"
                             *ngFor="let row of category.rows">
                            <div *ngFor="let field of row.Fields"
                                 [class]="'field-col col ' + row.getColClass()"
                                 style="padding-bottom:10px;">
                                <d3s-dynamic-field *ngIf="field.FieldType !== 'no-display'" [field]="field"
                                                   [form]="form"
                                                   (listItemChange)="listSelectionChanged($event)"
                                                   [editorChange]="editorChange"
                                                   [object]="objectType"
                                                   [objectID]="objectID"
                                                   [selectedObject]="selectedObject"
                                                   [selectedObjectID]="selectedObjectID"></d3s-dynamic-field>
                            </div>
                        </div>
                    </span>
                </ng-template>
                <div *ngIf="hasIconFields && fore.Value == back.Value"
                     class="col s12 errorMessage">* <ng-container i18n>Foreground and background color cannot be the same</ng-container>
                </div>
                <div class="col s12">&nbsp;</div>
                <div *ngIf="showActions && !useModelBinding" class="col s12">
                    <button pButton
                            type="submit"
                            [disabled]="!form.valid || (hasIconFields && fore.Value == back.Value) || isSaveDisabled"
                            style="width: '150px';"
                            label="Save"></button>
                    <button pButton
                            type="button"
                            (click)="closeClick.emit();"
                            label="Close"
                            style="width: '150px';"></button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="showAsModal">


    <d3s-modal [title]="modalTitle" additionalClasses="modal-dyn-editor medium-dialog" (onClose)="closeClick.emit()" [isVisible]="isModalVisible">
        <div class="row" *ngIf="isInError">
            <div class="err-message">{{isInErrorMessage}}</div>
        </div>
        <form #assetForm (ngSubmit)="onSubmit()"
              [formGroup]="form" *ngIf="!isLoading" prompt>
            <div class="content">
                <div class="no-float row p-col-12">

                    <div class="form-instructions" *ngIf="hasDirections">
                        {{directions}}
                    </div>

                    <ng-template ngFor
                                 let-category
                                 [ngForOf]="categories">
                        <simple-accordion *ngIf="category.name"
                                          [header]="category.name"
                                          [active]="true">
                            <div class="row"
                                 *ngFor="let row of category.rows">
                                <div *ngFor="let field of row.Fields" [class]="'form-row'">
                                    <d3s-dynamic-field *ngIf="field.FieldType !== 'no-display'" [useNewUI]="true"
                                                       [field]="field"
                                                       [form]="form"
                                                       (listItemChange)="listSelectionChanged($event)"
                                                       [editorChange]="editorChange"
                                                       [object]="objectType"
                                                       [objectID]="objectID"
                                                       [selectedObject]="selectedObject"
                                                       [selectedObjectID]="selectedObjectID"></d3s-dynamic-field>
                                </div>
                            </div>
                        </simple-accordion>
                        <span *ngIf="!category.name">
                            <div class="row"
                                 *ngFor="let row of category.rows">
                                <div *ngFor="let field of row.Fields" [class]="'form-row'">
                                    <d3s-dynamic-field *ngIf="field.FieldType !== 'no-display'" [useNewUI]="true"
                                                       [field]="field"
                                                       [form]="form"
                                                       (listItemChange)="listSelectionChanged($event)"
                                                       [editorChange]="editorChange"
                                                       (autoCompleteSelected)="autoCompleteSelected($event)"
                                                       [object]="objectType"
                                                       [objectID]="objectID"
                                                       [selectedObject]="selectedObject"
                                                       [selectedObjectID]="selectedObjectID"></d3s-dynamic-field>
                                </div>
                            </div>
                        </span>
                    </ng-template>
                    <div *ngIf="hasIconFields && fore.Value == back.Value"
                         class="col s12 errorMessage">* <ng-container i18n>Foreground and background color cannot be the same</ng-container></div>

                    <div *ngIf="this.consolidateToTag && editedItem && !adding" class="warningMessage">
                        <h4 i18n>Consolidate Tags?</h4>
                        <p i18n>
                            A tag with the name '{{consolidateToTag.name}}' already exists<ng-container *ngIf="consolidateToTag.count > 0">, used to tag <d3s-tag-usage [uid]="consolidateToTag.code">{{consolidateToTag.count}} items</d3s-tag-usage>.</ng-container> <br />
                            Choose <strong>Consolidate</strong> to replace the tag '{{editedItem.Value}}' with '{{consolidateToTag.name}}'
                            <ng-container *ngIf="editedItem.UseCount > 0">
                                , for <d3s-tag-usage [uid]="editedItem.uid">{{editedItem.UseCount}} items</d3s-tag-usage>
                            </ng-container>
                            .<br />
                            The tag '{{editedItem.Value}}' will then be deleted.
                        </p>
                    </div>
                    <div *ngIf="adding && !selectedTagID" class="warningMessage">
                        <h4 i18n>No Tag Selected</h4>
                        <p i18n>
                            Start typing to see list of tags.
                        </p>
                    </div>
                </div>
            </div>
            <div class="action-bar">
                <button igButton type="button" (click)="closeClick.emit();" tooltip="Close" label="Close"></button>
                <span class="grow"></span>
                <button igButton type="submit"
                        class="ig-button-primary"
                        label="{{this.consolidateToTag ? 'Consolidate' :'Save'}}"
                        [disabled]="!form.valid || (hasIconFields && fore.Value == back.Value)"
                        [loading]="loading"></button>
            </div>
        </form>
    </d3s-modal>
</ng-template>

