<div class="field-wrapper {{(!isValid ? 'invalid' : '')}} {{(isRequired() ? 'required-field' : '')}} {{(!field.Value || field.Value.length == 0) ? 'empty-field' : '' }}">
    <div [formGroup]="form">
        <input *ngIf="field.FieldType=='Hidden'" [formControlName]="field.FieldName" type="hidden" />
        <div [ngSwitch]="field.FieldType" class="col s12" *ngIf="field.FieldType!='Hidden'">
            <div class="FieldName">
                <span *ngIf="fieldTooltip" [pTooltip]="fieldTooltip">{{currentFieldName}}</span>
                <span *ngIf="!fieldTooltip">{{currentFieldName}}&nbsp;</span>
            </div>
            <div *ngSwitchCase="'Text'" style="width:100%;">
                <input igInput igSize="full" [formControlName]="field.FieldName" (blur)="OnBlurTrim()" type="text" [required]="isRequired()">
            </div>
            <d3s-similar-items *ngIf="field.SimilarItemsUri != null" [uri]="field.SimilarItemsUri" [query]="field.Value"></d3s-similar-items>
            <p-editor *ngSwitchCase="'Html'" [formControlName]="field.FieldName" [style]="{'height':'150px'}" ngDefaultControl #ed>
                <p-header>
                    <span class="ql-formats with-border">
                        <select class="ql-header">
                            <option value="1">Heading</option>
                            <option value="2">Subheading</option>
                            <option selected>Normal</option>
                        </select>
                    </span>
                    <span class="ql-formats with-border">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                    </span>
                </p-header>
            </p-editor>
            <div *ngSwitchCase="'Lookup'">
                <div *ngIf="field?.MultiSelect; else singleSelect" class="d3s-color-picker multi multi-select-lazy-load">
                    <div class="overlay-trigger" (click)="overlayPanel.toggle($event)">
                        <p-multiSelect #dropdown
                                       [maxSelectedLabels]="5"
                                       igSize="full"
                                       [inputId]="field.FieldName + '_input_' + component_uid"
                                       [formControlName]="field.FieldName"
                                       [options]="field.Items"
                                       (onChange)="onChangeMultiselect($event)"
                                       [required]="field.Required"
                                       [readonly]="true"
                                       [placeholder]="'Value Required'"
                                       display="chip">
                        </p-multiSelect>
                    </div>
                    <p-overlayPanel #overlayPanel [styleClass]="'dropdown-overlay'" [dismissable]="true" [baseZIndex]="20000" [appendTo]="'body'">
                        <ng-template pTemplate>
                            <p-table #dataTable
                                     tableStyleClass="ig-filter-table"
                                     [metaKeySelection]="true"
                                     [value]="lookupValues"
                                     [(selection)]="lookupSelectedValue"
                                     [globalFilterFields]="['label']"
                                     dataKey="value"
                                     [scrollable]="true"
                                     scrollHeight="340px"
                                     [virtualRowHeight]="'32px'"
                                     [rows]="20"
                                     [virtualScroll]="true"
                                     [lazy]="true"
                                     (onLazyLoad)="loadListLazy($event)"
                                     [loading]="isLookupValuesLoading"
                                     [loadingIcon]="'fa fa-spinner fa-spin'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th colspan="2">
                                            <ig-search-field mode="Keypress" [debounce]="200" (onSearch)="dataTable.filterGlobal($event, 'contains');"></ig-search-field>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td class="first-col" *ngIf="field?.MultiSelect">
                                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                        </td>
                                        <td (click)="selectSingleItem($event,item);">
                                            <div *ngIf="field.UseColorControl" class="ig-colorfield-item item-value">
                                                <span class="ig-colorfield-swatch" [style.background-color]="hexToRgb(item.color)"></span>
                                                <span class="ig-colorfield-item-label">{{item.label}}</span>
                                            </div>

                                            <span *ngIf="!field.UseColorControl" class="item-value" [innerHTML]="item.label"></span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-overlayPanel>
                </div>
                <ng-template #singleSelect>
                    <p-dropdown #dropdown
                                igDropdown
                                styleClass="dropdown-lazy-load"
                                igSize="full"
                                [inputId]="field.FieldName + '_input_' + component_uid"
                                [formControlName]="field.FieldName"
                                [options]="field.Items"
                                (onSelect)="onSelect($event)"
                                [required]="field.Required"
                                (click)="overlayPanel.toggle($event)">
                        <ng-template let-item pTemplate="selectedItem">
                            <div *ngIf="field.UseColorControl" class="ig-colorfield-item item-value dropdown-selected-value">
                                <span class="ig-colorfield-swatch" [style.background-color]="hexToRgb(item.color)"></span>
                                <span class="ig-colorfield-item-label">{{item.label}}</span>
                            </div>

                            <span *ngIf="!field.UseColorControl" class="item-value" [innerHTML]="item.label ?? item.Text"></span>

                        </ng-template>
                    </p-dropdown>
                    <p-overlayPanel #overlayPanel [styleClass]="'dropdown-overlay'" [dismissable]="true" [baseZIndex]="20000" [appendTo]="'body'">
                        <ng-template pTemplate>
                            <p-table #dataTable
                                     tableStyleClass="ig-filter-table"
                                     [metaKeySelection]="true"
                                     [value]="lookupValues"
                                     [(selection)]="lookupSelectedValue"
                                     [globalFilterFields]="['label']"
                                     dataKey="value"
                                     [scrollable]="true"
                                     [scrollHeight]="selectionScrollHeight"
                                     [rows]="20"
                                     [virtualScroll]="true"
                                     [lazy]="true"
                                     (onLazyLoad)="loadListLazy($event)"
                                     [loading]="isLookupValuesLoading"
                                     [loadingIcon]="'fa fa-spinner fa-spin'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th colspan="2">
                                            <ig-search-field mode="Keypress" [debounce]="200" (onSearch)="dataTable.filterGlobal($event, 'contains');"></ig-search-field>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td class="first-col" *ngIf="field?.MultiSelect">
                                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                        </td>
                                        <td (click)="selectSingleItem($event,item);">
                                            <div *ngIf="field.UseColorControl" class="ig-colorfield-item item-value">
                                                <span class="ig-colorfield-swatch" [style.background-color]="hexToRgb(item.color)"></span>
                                                <span class="ig-colorfield-item-label">{{item.label}}</span>
                                            </div>

                                            <span *ngIf="!field.UseColorControl" class="item-value" [innerHTML]="item.label"></span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-overlayPanel>
                </ng-template>

            </div>
            <div *ngSwitchCase="'Relationship'">
                <input type="text" [hidden]="!showSimpleFilter" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter">
                <p-table #dt [value]="field.Items" [selectionMode]="field?.MultiSelect ? 'multiple' : 'single'" [selection]="relationItems" (selectionChange)="selectRelationItems($event)"
                         [globalFilterFields]="['Text']" [pageLinks]="3" [paginator]="true" [rows]="defaultInitialItemsPerPage" [rowsPerPageOptions]="defaultPagingOptions"
                         [lazy]="true" (onLazyLoad)="lazyLoad($event)" [totalRecords]="field?.RecordCount" [formControlName]="field.FieldName" ngDefaultControl>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 30px">
                                <p-tableHeaderCheckbox *ngIf="field?.MultiSelect"></p-tableHeaderCheckbox>
                            </th>
                            <th>Name</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item">
                            <td>
                                <p-tableRadioButton *ngIf="!field?.MultiSelect" [value]="item"></p-tableRadioButton>
                                <p-tableCheckbox *ngIf="field?.MultiSelect" [value]="item"></p-tableCheckbox>
                            </td>
                            <td>{{item.Text}}</td>
                        </tr>
                    </ng-template>
                    <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                        <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                    </ng-template>
                </p-table>
            </div>
            <ig-number-input *ngSwitchCase="'Number'" [formControlName]="field.FieldName" [min]="Min" [max]="Max" [step]="Increment" [required]="isRequired()"></ig-number-input>
            <ig-number-input *ngSwitchCase="'Decimal'" [formControlName]="field.FieldName" [min]="Min" [max]="Max" [step]="Increment" (keyup)="toDecimalPlaces($event,Precision)" [required]="isRequired()"></ig-number-input>
            <ig-number-input *ngSwitchCase="'Percentage'" [formControlName]="field.FieldName" type="number" [step]="0.01" [min]="0.00" [max]="1.00" (keyup)="clamp($event, 0, 1, 3)" [required]="isRequired()"></ig-number-input>
            <div *ngSwitchCase="'Color'">
                <ig-color-picker igSize="full" [colors]="defaultColorOptions" [formControlName]="field.FieldName" [invalidOptions]="['Custom']"></ig-color-picker>
            </div>
            <input placeholder="{{getPlaceholder()}}" *ngSwitchCase="'Password'" type="password" [formControlName]="field.FieldName" style="width: 100%;" />
            <ig-switch *ngSwitchCase="'Boolean'" [trueLabel]="'True'" [falseLabel]="'False'" [formControlName]="field.FieldName" [optional]="!isRequired()"></ig-switch>
            <div *ngSwitchCase="'Date'">
                <ig-date [formControlName]="field.FieldName" [dateFormat]="getLocaleDateString()" [appendTo]="'body'" [required]="isRequired()"></ig-date>
            </div>
            <div *ngSwitchCase="'DateTime'">
                <p-calendar [formControlName]="field.FieldName" [showTime]="true" [dateFormat]="getLocaleDateString()"></p-calendar>
            </div>
            <div *ngSwitchCase="'Link'">
                <input igInput igSize="full" [formControlName]="field.FieldName + '_Name'" type="text">
                <div>(Link Name)</div>
                <input igInput igSize="full" [formControlName]="field.FieldName + '_Url'" type="text">
                <div>(Link Url: Your Url should start with a protocol prefix.  For example 'http://' or 'https://')</div>
            </div>
            <div class="error-message" *ngIf="!isValid && isDirty && errorMessage">{{errorMessage}}</div>
        </div>
    </div>
</div>
