<div class="tile tile-detail" style="max-height: 125px; height: 125px;" *ngIf="hasHeader">
    <!--<div class="row" *ngIf="!isLoading">
        <div class="col s12 m6">
            <header>{{model?.Type?.Name}}</header>
        </div>
        <div class="col s12 m2" style="padding-top: 10px">
            <div class="FieldName">
                Published Version
            </div>
            <div>
                {{ (model?.PublishedVersion < 1) ? 'Unpublished' : model?.PublishedVersion }}
            </div>
        </div>
        <div class="col s12 m2" style="padding-top: 10px">
            <div class="FieldName">
                Current Version
            </div>
            <div>
                {{ (model?.CurrentVersion == null) ? '' : model?.CurrentVersion }}
            </div>
        </div>
        <div class="col s2" style="padding-top: 10px">
            <div class="FieldName">Last Executed</div>
            <div>
                <ng-container *ngIf="model != null && model.Event != null && model.Event.LastExecuted != null; else never">
                    {{model.Event.LastExecuted | date:'short'}}
                </ng-container>
                <ng-template #never>
                    Never
                </ng-template>
            </div>
        </div>
    </div>-->
    <div class="row" *ngIf="isLoading">
        <div class="col s12">
            <d3s-loading [isLoading]="true"></d3s-loading>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col s6" *ngIf="!isReadOnly" style="max-height: 50px; overflow-y: auto">
            <div *ngFor="let e of errors" class="errorMessage">&bull; {{e}}</div>
        </div>
        <!--<div class="col s2" [class.offset-s6]="(!isReadOnly && errors != null && errors.length < 1) || isReadOnly">
            <div class="FieldName">
                Type Name
            </div>
            <div>
                {{objectTypeName}}
            </div>
        </div>
        <div class="col s12 m2">
            <div class="FieldName">
                Change Type
            </div>
            <div>
                {{WorkflowChangeType[model?.Event?.ChangeType]}}
            </div>
        </div>-->
    </div>
    <div class="row" *ngIf="!isReadOnly" style="position: absolute; top: 97px; width: 100%;">
        <div class="col s6">
            <div>
                <button pButton type="button" label="Cancel" (click)="toggleReadOnly(true)"></button>
                <button pButton type="button" label="Save" (click)="save()" [disabled]="!isValid"></button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="diagramMode == DiagramMode.Diagram" style="position:relative;left: 100%; display: inline; width: 1px; top: 43px; z-index: 900">
    <d3s-overlay-window width="500" maxHeight="400" padding="0" [(visible)]="isWindowVisible" [headerText]="(showNodeTabs || showLinkTabs) ? headerText : ''" [overflowScroll]="'visible'">
        <div *ngIf="!showNodeTabs && !showLinkTabs" style="padding:10px;">Nothing selected</div>
        <ul class="tab-menu" *ngIf="showNodeTabs">
            <li (click)="selectTab('info')" class="tab-item" [class.selected]="tab == 'info'" *ngIf="showInfoTab">
                <i class="fa fa-info-circle fa-2x"></i>
            </li>
            <li (click)="selectTab('edit')" class="tab-item" [class.selected]="tab == 'edit'" *ngIf="!readonly && showEditTab">
                <i class="fa fa-pencil fa-2x"></i>
            </li>
        </ul>
        <div *ngIf="showNodeTabs" [ngSwitch]="tab" style="background-color: #fff; padding: 10px;">
            <div *ngSwitchCase="'info'">
                <d3s-lineage-info [node]="selectedData" [diagram]="myDiagram" (selectionChange)="ChangedSelection()"></d3s-lineage-info>
            </div>
            <div *ngSwitchCase="'edit'">
                <d3s-lineage-editor [node]="selectedData" (nodeChange)="changeNode($event)"></d3s-lineage-editor>
            </div>
        </div>
    </d3s-overlay-window>
</div>

<div class="tile tile-detail" *ngIf="isLoading">
    <div class="row">
        <div class="col s12">
            <d3s-loading isLoading="true"></d3s-loading>
        </div>
    </div>
</div>
<div class="tile tile-detail" [hidden]="isLoading">
    <header>
        &nbsp;
        <d3s-tile-actions hasMenu="true" [menuItems]="menuItems" (menuClick)="menuClick($event)"></d3s-tile-actions>
    </header>
    <div class="row">
        <div class="col s12" style="padding: 0">
            <table>
                <tbody>
                    <tr>
                        <td style="vertical-align: top; background-color: #e8eaee; padding: 0; width: 210px;" [style.display]="(readonly) ? 'none' : 'table-cell'">
                            <div id="LineagePalette" #palette style="overflow: hidden;" class="diagram"></div>
                        </td>
                        <td style="vertical-align: top;">
                            <div #diagram id="LineageDiagram" style="overflow: hidden;" class="diagram"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

