<div class="tile tile-detail">

    <header [hidden]="diagramMode != DiagramMode.Diagram">
        <span>Lineage</span>
        <span *ngIf="isLoading" id="LoadingProgress" style="color: #e2792a"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>Loading...</span>
        <div class="TileTools" style="top: 5px; z-index:900;width:100%">
            <div>
                <d3s-tile-actions hasMenu="true" [menuItems]="menuItems" (menuClick)="menuClick($event)" *ngIf="diagramMode == DiagramMode.Diagram"></d3s-tile-actions>
            </div>
        </div>
    </header>

    <div *ngIf="diagramMode == DiagramMode.Diagram" style="position:relative;left: 100%; display: inline; width: 1px; top: 10px">
        <d3s-overlay-window width="500" maxHeight="400" padding="0" [(visible)]="isWindowVisible" [headerText]="(showNodeTabs || showLinkTabs) ? headerText : ''">
            <div *ngIf="!showNodeTabs && !showLinkTabs" style="padding:10px;">Nothing selected</div>
            <ul class="tab-menu" *ngIf="showNodeTabs || showLinkTabs">
                <li (click)="selectTab('info')" class="tab-item" [class.selected]="tab == 'info'" *ngIf="showNodeTabs">
                    <i class="fa fa-info-circle fa-2x"></i>
                </li>
                <li (click)="selectTab('code')" class="tab-item" [class.selected]="tab == 'code'" *ngIf="showNodeTabs">
                    <i class="fa fa-code-fork fa-2x"></i>
                </li>
                <li (click)="selectTab('user')" class="tab-item" [class.selected]="tab == 'user'" *ngIf="showNodeTabs">
                    <i class="fa fa-user fa-2x"></i>
                </li>
                <li (click)="selectTab('database')" class="tab-item" [class.selected]="tab == 'database'" *ngIf="showNodeTabs">
                    <i class="fa fa-database fa-2x"></i>
                </li>
                <li (click)="selectTab('exchange')" class="tab-item" [class.selected]="tab == 'exchange'" *ngIf="showLinkTabs">
                    <i class="fa fa-exchange fa-2x"></i>
                </li>
            </ul>
            <div *ngIf="showNodeTabs || showLinkTabs" [ngSwitch]="tab" style="background-color: #fff; padding: 10px;">
                <div *ngSwitchCase="'info'">
                    <d3s-lineage-object-detail *ngIf="target && targetId" [objectType]="target" [objectId]="targetId"></d3s-lineage-object-detail>
                </div>
                <div *ngSwitchCase="'code'">
                    <d3s-lineage-source-rules *ngIf="target && targetId" [source]="source" [sourceId]="sourceId" [target]="target" [targetId]="targetId"></d3s-lineage-source-rules>
                </div>
                <div *ngSwitchCase="'user'">
                    <d3s-lineage-responsibilities *ngIf="target && targetId" [objectId]="targetId" [objectType]="target"></d3s-lineage-responsibilities>
                </div>
                <div *ngSwitchCase="'database'">
                    <d3s-lineage-technical *ngIf="target && targetId" [source]="source" [sourceId]="sourceId" [target]="target" [targetId]="targetId"></d3s-lineage-technical>
                </div>
                <div *ngSwitchCase="'exchange'">
                    <d3s-lineage-mapping-rules *ngIf="targetId && sourceId" [source]="source" [sourceId]="sourceId" [target]="target" [targetId]="targetId"></d3s-lineage-mapping-rules>
                </div>
            </div>
        </d3s-overlay-window>
    </div>

    <div [hidden]="diagramMode != DiagramMode.Diagram">
        <div #diagram id="LineageDiagram" style="overflow: hidden;" class="diagram"></div>
    </div>
    <div *ngIf="diagramMode == DiagramMode.SourceRuleEditor">
        <d3s-lineage-source-rule-editor [object]="objectType" [objectId]="objectID" (onClose)="closeEditor()" (onSaveComplete)="populateDiagram()"></d3s-lineage-source-rule-editor>
    </div>
    <div *ngIf="diagramMode == DiagramMode.BusinessLineageEditor">
        <d3s-lineage-business-editor [object]="objectType" [objectId]="objectID" (onClose)="closeEditor()" (onSaveComplete)="populateDiagram()"></d3s-lineage-business-editor>
    </div>
    <div *ngIf="diagramMode == DiagramMode.TechnicalLineageEditor">
        <d3s-lineage-technical-editor [object]="objectType" [objectId]="objectID" (onClose)="closeEditor()" (onSaveComplete)="populateDiagram()"></d3s-lineage-technical-editor>
    </div>
</div>
