<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <p-table #dt
             [value]="items"
             selectionMode="single"
             [metaKeySelection]="true"
             [rowsPerPageOptions]="defaultPagingOptions">
        <ng-template pTemplate="header">
            <tr>
                <th>Type</th>
                <th>Name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"
                     let-item>
            <tr [pSelectableRow]="item">
                <td>{{item.TypeName}}</td>
                <td>{{item.Name}}</td>
            </tr>
        </ng-template>
        <ng-template *ngIf="dt.totalRecords"
                     pTemplate="summary">
            <d3s-grid-paging-info [first]="dt.first"
                                  [rows]="dt.rows"
                                  [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
        </ng-template>
    </p-table>
</div>
