<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Synchronizations" type="d360.extensions.fusion.DatabasesConfigSection, d360.extensions.fusion" />
  </configSections>
  <connectionStrings>
    <add name="D360Context" connectionString="Data Source=my.data3sixty.com;Initial Catalog=D360_My;User ID=sa;Password=Alexia2004;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CRDContext" connectionString="Data Source=my.data3sixty.com; Initial Catalog=DEMO; User ID=d360_user; Password=d360_user;" providerName="System.Data.SqlClient" />
    <add name="EagleContext" connectionString="Data Source=my.data3sixty.com; Initial Catalog=DEMO; User ID=d360_user; Password=d360_user;" providerName="System.Data.SqlClient" />
    <add name="d3s" connectionString="Data Source=my.data3sixty.com; Initial Catalog=Data3Sixty; User ID=d360_user; Password=d360_user;" providerName="System.Data.SqlClient" />
    <add name="ADVContext" connectionString="Data Source=my.data3sixty.com; Initial Catalog=AdventureWorks; User ID=aworks_user; Password=aworks_u$3r;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="D360BaseUrl" value="http://localhost:90" />
    <!--<add key="D360BaseUrl" value="http://api.data3sixty.com"/>-->
    <!--<add key="FusionTypeID" value="090827AB-38B5-4093-81CA-D226E4DF217E"/>-->
    <!--Spreadsheet Type-->
    <add key="FusionTypeID" value="b709a8bc-cba0-4bf1-9d3d-0af0cea772a0" />
    <!--CRD Type-->
    <!--<add key="FusionTypeID" value="d5ef07cc-5f9c-4fb7-92c2-307913f705b7"/>-->
    <!--Eagle Type-->
    <add key="CompanyID" value="b155e578-3fa7-4682-beb8-0dbd06b758c9" />
    <add key="APIKey" value="w7gt581AOMXhXeW9mh0jWCPMe" />
    <add key="APISecret" value="3=f+7afAQUq9wUKhyibXq9kGa2iLGS3M0r-Ex-ZxJ6O9TAu+-7" />
    <add key="QualityExceptionTypeID" value="74f8b5f3-a784-4919-b72b-0cc03abc106c" />
    <add key="QualityExceptionDefinitionID" value="1231" />
    <!--This should be moved down to the Database section as well as support multiple definition options.  Instead of 1.-->
  </appSettings>
  <Synchronizations>
    <Databases>
      <add name="Data3Sixty" fusionTypeID="C2E59E98-3E8D-441A-9374-749010580AAC" connectionStringName="d3s" />
      <add name="AdventureWorks" fusionTypeID="6B757D0F-8A0B-4AAA-A057-775CE1114856" connectionStringName="ADVContext" />
    </Databases>
  </Synchronizations>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" maxBufferPoolSize="2090000000" maxBufferSize="2090000000" maxReceivedMessageSize="2090000000">
          <readerQuotas maxBytesPerRead="2090000000" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>