.admin-group-list {
  .overflow-container {
    height: calc(100vh - 164px);

    .admin-group-details {
      overflow: auto;
    }
  }


  .actions-header {
    width: 100%;
    display: flex;
    margin-bottom: 8px;

    .simple-search {
      flex-grow: 1;

      ig-search-field {
        min-width: unset;
        flex: unset;
        display: block;
        padding-right: 16px;

        .ig-search-field {
          width: 100%;
        }
      }
    }
  }

  .admin-group-details {
    padding: 16px;
  }
}
