<div class="row">
    <div class="col s12" *ngIf="isLoading">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
    </div>
    <div class="col s12" style="display: flex" *ngIf="!isLoading">
        <div class="tile tile-detail">
            <header>Groups<d3s-tile-actions [hasAdd]="true" (addClick)="add()"></d3s-tile-actions></header>
            <div id="List">
                <input type="text" [hidden]="!showSimpleFilter" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter">
                <p-table #dt [value]="groupItems"
                         selectionMode="single" 
                         [metaKeySelection]="true" 
                         [globalFilterFields]="['Name']" 
                         [paginator]="true" 
                         [rows]="20" 
                         [style]="{'width':'100%'}" (onRowSelect)="select($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'Name'" style="width: 100px">
                                Name
                                <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                            </th>
                            <th style="width: 20px"></th>
                            <th style="width: 20px"></th>
                            <th style="width: 20px"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item" #treetableRows>
                            <td>{{item.Name}}</td>
                            <td>
                                <div class="RowTools">
                                    <d3s-preview-tooltip [uid]="item.Uid" icon="info"></d3s-preview-tooltip>
                                </div>
                            </td>
                            <td>
                                <div class="RowTools">
                                    <a (click)="edit(item.Uid)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                                </div>
                            </td>
                            <td>
                                <div class="RowTools">
                                    <a (click)="delete(item.Uid)" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="tile tile-detail side-panel">
            <side-panel (expandedChange)="sidePanelOpen=$event"
                        (selectedPanelChange)="sidePanelTab=$event"
                        [selectedItem]="selectedRow"
                        [panelApplies]="true"
                        [hasProfiling]="false"
                        hasDetail="true"
                        [storageKey]="sidePanelStorageKey"
                        [selectedPanel]="sidePanelTab">
                <ng-container *ngIf="sidePanelOpen && selectedRow != null">
                    <ng-container *ngIf="sidePanelTab === 'detail'">
                        <ig-asset-detail [objectUID]="selectedRow.Uid"
                                         objectType="Group"
                                         [useAccordion]="true"
                                         [shouldBePadded]="false"
                                         [showHeader]="true"
                                         [showHeaderLine]="false"
                                         [spacerHeight]="'16px'"
                                         [tooltipAlign]="'left'"
                                         [isSidePanel]="true"
                                         [hideLinks]="true"
                                         [hideClassName]="true"></ig-asset-detail>
                    </ng-container>
                </ng-container>
            </side-panel>
        </div>
    </div>
</div>



<div class="row">
    <div class="col l3 m4 s12">

    </div>
    <!--<div class="col l9 m8 s12" [ngSwitch]="formMode">
        <div *ngSwitchDefault class="tile tile-detail">
            <d3s-group-members [groupId]="0" [groupUid]="selectedRow?.Uid" [groupName]="selectedRow?.Name" [groupIsActiveDirectory]="selectedRow?.IsActiveDirectoryGroup"></d3s-group-members>
        </div>
        <div *ngSwitchCase="FormMode.Adding" class="tile tile-detail">
            <d3s-group-form [id]="0" [title]="'Add Group'" (onCancel)="cancel()" (onSuccess)="success($event)" (onError)="error($event)"></d3s-group-form>
        </div>
        <div *ngSwitchCase="FormMode.Editing" class="tile tile-detail">
            <d3s-group-form [id]="0" [uid]="selectedRow?.Uid" [title]="'Edit ' + selectedRow.Name" (onCancel)="cancel()" (onSuccess)="success($event)" (onError)="error($event)"></d3s-group-form>
        </div>
        <div *ngSwitchCase="FormMode.Deleting" class="tile tile-detail">
            <d3s-delete-form [callback]="theDeleteCallback"
                             [method]="'callback'"
                         [prompt]="'Are you sure you want to remove ' + selectedRow.Name + '?'"
                         (onDeleteSuccess)="confirmDelete($event);"
                         (onDeleteFail)="errorDelete($event)"
                         (onCancel)="cancel();">
            </d3s-delete-form>
        </div>
    </div>-->
</div>