<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureStorageAccountName" value="data3sixty"/>
    <!--<add key="AzureStorageKeyName" value=""/>-->
    <add key="AzureStorageKeyValue" value="akWskSolD1IWz+qmK2onCb10er80WsI02gNE83ufcOS1SUIMRF51p8BHPhGQ8EZTZCFkc5Pw4zIkVMnGbQnFUQ=="/>
  </appSettings>
</configuration>