--liquibase formatted sql

CREATE SCHEMA [plugin]
GO
CREATE SCHEMA [utility]
GO

CREATE FUNCTION [dbo].[GenerateAPIKey]
(
    @Length int
)
RETURNS varchar(max)
AS
BEGIN
	--SET OPTION ON
	--SET NOCOUNT ON
	
	DECLARE @RandomID varchar(max)
	DECLARE @counter smallint
	DECLARE @RandomNumber float
	DECLARE @RandomNumberInt tinyint
	DECLARE @CurrentCharacter varchar(1)
	DECLARE @ValidCharacters varchar(255)
	SET @ValidCharacters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-=+$!'
	DECLARE @ValidCharactersLength int
	SET @ValidCharactersLength = len(@ValidCharacters)
	SET @CurrentCharacter = ''
	SET @RandomNumber = 0
	SET @RandomNumberInt = 0
	SET @RandomID = ''

	SET @counter = 1

	WHILE @counter < (@Length + 1)
		BEGIN
			SELECT @RandomNumber = r FROM RandomNumber
			SET @RandomNumberInt = Convert(tinyint, ((@ValidCharactersLength - 1) * @RandomNumber + 1))

			SELECT @CurrentCharacter = SUBSTRING(@ValidCharacters, @RandomNumberInt, 1)

			SET @counter = @counter + 1

			SET @RandomID = @RandomID + @CurrentCharacter
		END
	
	RETURN @RandomID
END
GO

CREATE FUNCTION [dbo].[GenerateAPIKeyWrapper]
(
    @Length int
)
RETURNS varchar(max)
AS
BEGIN
	DECLARE @RandomID varchar(max)
	SELECT @RandomID = dbo.GenerateAPIKey(@Length)
	RETURN @RandomID
END
GO

CREATE FUNCTION [dbo].[GenerateReadOnlyAccessToken]
(
)
RETURNS varchar(50)
AS
BEGIN
	declare @Length int = 50
	declare @RandomID varchar(50) = ''
	declare @counter smallint = 1
	declare @RandomNumber float = 0
	declare @RandomNumberInt tinyint = 0
	declare @CurrentCharacter varchar(1) = ''
	declare @ValidCharacters varchar(255) = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
	declare @ValidCharactersLength int = len(@ValidCharacters)

	WHILE @counter <= (@Length)
	BEGIN
		SELECT @RandomNumber = r FROM RandomNumber
		SET @RandomNumberInt = Convert(tinyint, ((@ValidCharactersLength - 1) * @RandomNumber + 1))

		SELECT @CurrentCharacter = SUBSTRING(@ValidCharacters, @RandomNumberInt, 1)

		SET @counter = @counter + 1

		SET @RandomID = @RandomID + @CurrentCharacter
	END
	
	RETURN @RandomID
END
GO

CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[PublicID] [uniqueidentifier] NOT NULL,
	[State] [smallint] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NULL,
	[DatabaseServerID] [int] NULL,
	[SynchAgentLog] [bit] NOT NULL,
	[ClientID] [int] NULL,
	[EnvironmentLevel] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[Name] [varchar](250) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE view [dbo].[ClientEnvironment]
as
	select	E.ClientID,
			C.Name as ClientName,
			C.PublicID,
			case C.State 
				when 0 then 'PoC'
				when 1 then 'Active'
				else 'Inactive'
			end as ClientState,
			E.ID as EnvironmentID,
			E.Status,
			E.DatabaseServerID,
			case E.EnvironmentLevel
				when 0 then 'NIGHTLY'
				when 1 then 'CLIENTDEV'
				when 2 then 'UAT'
				when 3 then 'PROD'
				when 4 then 'LEGACYDEV'
				when 5 then 'ALTERNATE'
				when 6 then 'LEGACYPROD'
			end as EnvironmentLevel
	from	Client C
			inner join Company E on E.ClientID = C.ID
GO

CREATE VIEW [dbo].[RandomNumber]
AS
SELECT RAND() as r
GO

CREATE TABLE [dbo].[CacheStatus](
	[Name] [varchar](250) NULL,
	[ShouldReCache] [bit] NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[CommonQuery](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Body] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_CommonQuery] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[CompanyDomainSetting](
	[CompanyID] [int] NOT NULL,
	[DomainSettingID] [int] NOT NULL,
	[AuthenticationType] [int] NOT NULL,
	[AllowNewUserLogin] [bit] NOT NULL,
	[UrlPrefix] [nvarchar](50) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyDomainSetting] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[DomainSettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [U_Url] UNIQUE NONCLUSTERED 
(
	[UrlPrefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[CompanyFeature](
	[CompanyID] [int] NOT NULL,
	[Feature] [int] NOT NULL,
 CONSTRAINT [PK_CompanyFeature] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[Feature] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[CompanyHelpResource](
	[CompanyID] [int] NOT NULL,
	[HelpResourceID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_CompanyHelpResource] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[HelpResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[CompanyResource](
	[CompanyID] [int] NOT NULL,
	[ResourceID] [int] NOT NULL,
	[IsAdministrator] [bit] NOT NULL,
	[LastLoggedInOn] [datetime] NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_CompanyResource] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[ResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[CompanySetting](
	[CompanyID] [int] NOT NULL,
	[SettingID] [int] NOT NULL,
	[Value] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_CompanySetting] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DatabaseServer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Server] [varchar](250) NOT NULL,
	[Username] [varchar](25) NOT NULL,
	[Password] [varchar](50) MASKED WITH (FUNCTION = 'default()') NOT NULL,
	[FusionQueue] [varchar](250) NOT NULL,
	[SearchServer] [varchar](250) NULL,
	[EventTopic] [varchar](250) NOT NULL,
	[IsDevelopment] [bit] NOT NULL,
 CONSTRAINT [PK_DatabaseServer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DomainCertificate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[File] [varbinary](max) NOT NULL,
	[Password] [nvarchar](250) MASKED WITH (FUNCTION = 'default()') NULL,
 CONSTRAINT [PK_DomainCertificate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[DomainSetting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdpSsoEndpoint] [varchar](1000) NOT NULL,
	[IdpSloEndpoint] [varchar](1000) NOT NULL,
	[IdpDomainCertificateID] [int] NULL,
	[SpDomainCertificateID] [int] NULL,
	[HashAlgorithmType] [int] NOT NULL,
	[SignInitialSSORequest] [bit] NOT NULL,
 CONSTRAINT [PK_DomainSetting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Environment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[DatabaseServerID] [int] NULL,
 CONSTRAINT [PK_Environment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[GraphServer](
	[ID] [int] NOT NULL,
	[Address] [varchar](250) NOT NULL,
	[Username] [varchar](25) NOT NULL,
	[Password] [varchar](25) NOT NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[HelpResource](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Url] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_HelpResource] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[Resource](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResourceTypeID] [int] NOT NULL,
	[Username] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](50) MASKED WITH (FUNCTION = 'default()') NOT NULL,
	[LastName] [nvarchar](250) NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[APIPublicKey] [varchar](25) MASKED WITH (FUNCTION = 'default()') NOT NULL,
	[APIPrivateKey] [varchar](50) MASKED WITH (FUNCTION = 'default()') NOT NULL,
	[Status] [varchar](25) NOT NULL,
	[DateLastLoggedIn] [datetime] NULL,
	[ApiReadOnlyAccessToken] [varchar](50) MASKED WITH (FUNCTION = 'default()') NOT NULL,
 CONSTRAINT [PK_Resource] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ResourceType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_ResourceType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Setting](
	[ID] [int] NOT NULL,
	[FieldName] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[DefaultValue] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WebJob](
	[Environment] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[LockedOn] [datetime] NULL,
	[LockingServer] [nvarchar](1000) NULL,
 CONSTRAINT [PK_WebJob_1] PRIMARY KEY CLUSTERED 
(
	[Environment] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[ClientFusionType](
	[ClientID] [int] NOT NULL,
	[FusionTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Plugin_ClientFusionType] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC,
	[FusionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[CompanyPackage](
	[CompanyID] [int] NOT NULL,
	[PackageID] [int] NOT NULL,
 CONSTRAINT [PK_PluginCompanyPackage] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[EventType](
	[ID] [int] NOT NULL,
	[ParentID] [int] NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[MarkAsResolvedOnSynch] [bit] NULL,
 CONSTRAINT [PK_Plugin_EventType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[EventTypeFieldType](
	[EventTypeID] [int] NOT NULL,
	[FieldTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Plugin_EventTypeFieldType] PRIMARY KEY CLUSTERED 
(
	[EventTypeID] ASC,
	[FieldTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FieldType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[FriendlyName] [nvarchar](250) NOT NULL,
	[Type] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Plugin_FieldType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionAttributeType](
	[ID] [int] NOT NULL,
	[ParentID] [int] NULL,
	[FusionTypeID] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Plugin_FusionAttributeType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionAttributeTypeField](
	[FusionAttributeTypeID] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[FriendlyName] [nvarchar](250) NOT NULL,
	[Type] [varchar](25) NULL,
	[SortOrder] [int] NOT NULL,
	[IsListable] [bit] NOT NULL,
 CONSTRAINT [PK_Plugin_FusionAttributeTypeField] PRIMARY KEY NONCLUSTERED 
(
	[FusionAttributeTypeID] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionAttributeTypeFieldType](
	[FusionAttributeTypeID] [int] NOT NULL,
	[FieldTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Plugin_FusionAttributeTypeFieldType] PRIMARY KEY CLUSTERED 
(
	[FusionAttributeTypeID] ASC,
	[FieldTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionIntersectType](
	[StartFusionAttributeTypeID] [int] NOT NULL,
	[EndFusionAttributeTypeID] [int] NOT NULL,
	[ReadOnly] [bit] NOT NULL,
	[FusionTypeID] [int] NOT NULL,
	[PredicateType] [int] NULL,
 CONSTRAINT [PK_Plugin_FusionIntersectType] PRIMARY KEY CLUSTERED 
(
	[StartFusionAttributeTypeID] ASC,
	[EndFusionAttributeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionLookupType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Provider] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FusionLookupTypes] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionLookupValue](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FusionLookupTypeID] [int] NOT NULL,
	[Key] [nvarchar](500) NOT NULL,
	[Value] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_FusionLookupValue] UNIQUE NONCLUSTERED 
(
	[FusionLookupTypeID] ASC,
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionType](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_Plugin_FusionType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionTypeField](
	[FusionTypeID] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[FriendlyName] [nvarchar](250) NOT NULL,
	[Type] [varchar](25) NULL,
	[SortOrder] [int] NOT NULL,
	[IsListable] [bit] NOT NULL,
	[Category] [nvarchar](250) NULL,
 CONSTRAINT [PK_Plugin_FusionTypeField] PRIMARY KEY NONCLUSTERED 
(
	[FusionTypeID] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[FusionTypeFieldType](
	[FusionTypeID] [int] NOT NULL,
	[FieldTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Plugin_FusionTypeFieldType] PRIMARY KEY CLUSTERED 
(
	[FusionTypeID] ASC,
	[FieldTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[Package](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Version] [varchar](25) NOT NULL,
	[Hash] [varchar](500) NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[Component] [varchar](1) NOT NULL,
 CONSTRAINT [PK_PluginPackage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [plugin].[PackageContent](
	[PackageID] [int] NOT NULL,
	[FileName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PluginPackageContent] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC,
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [utility].[JobActivity-retired](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[DateStarted] [datetime] NOT NULL,
	[DateStopped] [datetime] NULL,
	[Status] [varchar](8000) NULL,
 CONSTRAINT [PK_JobActivity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_PublicID]  DEFAULT (newid()) FOR [PublicID]
GO
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_SynchAgentLog]  DEFAULT ((0)) FOR [SynchAgentLog]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_EnvironmentLevel]  DEFAULT ((1)) FOR [EnvironmentLevel]
GO
ALTER TABLE [dbo].[CompanyDomainSetting] ADD  CONSTRAINT [DF_CompanyDomainSetting_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[CompanyResource] ADD  CONSTRAINT [DF_CompanyResource_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[DatabaseServer] ADD  CONSTRAINT [DF_DatabaseServer_FusionQueue]  DEFAULT ('fusion-queue') FOR [FusionQueue]
GO
ALTER TABLE [dbo].[DatabaseServer] ADD  CONSTRAINT [DF_DatabaseServer_EventTopic]  DEFAULT ('events') FOR [EventTopic]
GO
ALTER TABLE [dbo].[DatabaseServer] ADD  CONSTRAINT [DF_DatabaseServer_IsDevelopment]  DEFAULT ((0)) FOR [IsDevelopment]
GO
ALTER TABLE [dbo].[DomainSetting] ADD  DEFAULT ((0)) FOR [SignInitialSSORequest]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_APIPublicKey]  DEFAULT ([dbo].[GenerateAPIKeyWrapper]((25))) FOR [APIPublicKey]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_APIPrivateKey]  DEFAULT ([dbo].[GenerateAPIKeyWrapper]((50))) FOR [APIPrivateKey]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Resource] ADD  CONSTRAINT [DF_Resource_ApiReadOnlyAccessCode]  DEFAULT ([dbo].[GenerateReadOnlyAccessToken]()) FOR [ApiReadOnlyAccessToken]
GO
ALTER TABLE [dbo].[ResourceType] ADD  CONSTRAINT [DF_ResourceType_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ResourceType] ADD  CONSTRAINT [DF_ResourceType_DateUpdated]  DEFAULT (getutcdate()) FOR [DateUpdated]
GO
ALTER TABLE [plugin].[Package] ADD  DEFAULT (getutcdate()) FOR [DateUpdated]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Client] FOREIGN KEY([ClientID]) REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Client]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_DatabaseServer] FOREIGN KEY([DatabaseServerID]) REFERENCES [dbo].[DatabaseServer] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_DatabaseServer]
GO
ALTER TABLE [dbo].[CompanyDomainSetting]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDomainSetting_Company] FOREIGN KEY([CompanyID]) REFERENCES [dbo].[Company] ([ID]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyDomainSetting] CHECK CONSTRAINT [FK_CompanyDomainSetting_Company]
GO
ALTER TABLE [dbo].[CompanyDomainSetting]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDomainSetting_DomainSetting] FOREIGN KEY([DomainSettingID]) REFERENCES [dbo].[DomainSetting] ([ID]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyDomainSetting] CHECK CONSTRAINT [FK_CompanyDomainSetting_DomainSetting]
GO
ALTER TABLE [dbo].[CompanySetting]  WITH CHECK ADD  CONSTRAINT [FK_CompanySetting_CompanySetting] FOREIGN KEY([CompanyID], [SettingID]) REFERENCES [dbo].[CompanySetting] ([CompanyID], [SettingID])
GO
ALTER TABLE [dbo].[CompanySetting] CHECK CONSTRAINT [FK_CompanySetting_CompanySetting]
GO
ALTER TABLE [dbo].[DomainSetting]  WITH CHECK ADD  CONSTRAINT [FK_DomainSetting_IdpDomainCertificate] FOREIGN KEY([IdpDomainCertificateID]) REFERENCES [dbo].[DomainCertificate] ([ID])
GO
ALTER TABLE [dbo].[DomainSetting] CHECK CONSTRAINT [FK_DomainSetting_IdpDomainCertificate]
GO
ALTER TABLE [dbo].[DomainSetting]  WITH CHECK ADD  CONSTRAINT [FK_DomainSetting_SpDomainCertificate] FOREIGN KEY([SpDomainCertificateID]) REFERENCES [dbo].[DomainCertificate] ([ID])
GO
ALTER TABLE [dbo].[DomainSetting] CHECK CONSTRAINT [FK_DomainSetting_SpDomainCertificate]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [FK_Resource_ResourceType] FOREIGN KEY([ResourceTypeID]) REFERENCES [dbo].[ResourceType] ([ID]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [FK_Resource_ResourceType]
GO
ALTER TABLE [plugin].[FusionLookupValue]  WITH CHECK ADD  CONSTRAINT [FK_FusionLookupValue_FusionLookupType] FOREIGN KEY([FusionLookupTypeID]) REFERENCES [plugin].[FusionLookupType] ([ID]) ON DELETE CASCADE
GO
ALTER TABLE [plugin].[FusionLookupValue] CHECK CONSTRAINT [FK_FusionLookupValue_FusionLookupType]
GO

 /*
	Created: 2018-03-19 By Jingsong Ou
	Purpose: Insert/Update table CompanyResource
	Note:  
	       1.The SP will always ONLY inser/update one record at a time
		   2.The SP will only update column IsAdministrator. It will NOT update CompanyID and REsourceID
	       3.It will return the record that has just inserted
		   4. Get CompanyID from table [dbo].[Company] and
		      ResourID from table [dbo].[Resource]
	      
	Example:

	EXECUTE [dbo].[SetCompanyResource]
	       @CompanyID = 128
          ,@ResourceID = 6412
          ,@IsAdministrator = 0

 */
CREATE PROCEDURE [dbo].[SetCompanyResource]
 @CompanyID INT
,@ResourceID INT
,@IsAdministrator BIT
AS 
BEGIN
DECLARE
     @mCount INT = 0
    ,@ErrorSeverity_Default INT = 16
    ,@ErrorState_Default INT = 1;

    IF(NOT EXISTS(SELECT 1 FROM [dbo].[Company] WHERE ID = @CompanyID))
	BEGIN
		RAISERROR('Parameter @CompanyID does not exists.', @ErrorSeverity_Default, @ErrorSeverity_Default);
	END;
	IF(NOT EXISTS(SELECT 1 FROM [dbo].[Resource] WHERE ID = @ResourceID))
	BEGIN
		RAISERROR('Parameter @ResourceID does not exists.', @ErrorSeverity_Default, @ErrorSeverity_Default);
	END;

	SELECT @mCount = COUNT(1) FROM [dbo].[CompanyResource] WHERE [CompanyID] = @CompanyID AND [ResourceID] = @ResourceID;
	
	IF(@mCount = 0)
	BEGIN
		INSERT INTO [dbo].[CompanyResource](
		     [CompanyID] 
			,[ResourceID] 
			,[IsAdministrator]
			)
		VALUES(
		     @CompanyID
		    ,@ResourceID
			,@IsAdministrator
			);
	END
	ELSE IF(@mCount = 1)
	BEGIN
		UPDATE [dbo].[CompanyResource] 
		SET IsAdministrator = @IsAdministrator 
		WHERE  [CompanyID] = @CompanyID AND 
		       [ResourceID] = @ResourceID;
	END
	ELSE
	BEGIN
		RAISERROR('Error, try to update more than one record in table  [dbo].[CompanyResource]!', @ErrorSeverity_Default, @ErrorSeverity_Default);
	END;

	SELECT CompanyID, ResourceID, IsAdministrator FROM [dbo].[CompanyResource] WHERE [CompanyID] = @CompanyID AND [ResourceID] = @ResourceID;
END;
GO
