@import "../../../../../Content/styles/infogix-ui/infogix-ui.less";

.theme-editor {
  padding: 24px;

  .theme-form {
    overflow: auto;
  }

  .form-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;

    .sub-header {
      font-size: 14px;
      color: #888;
      font-weight: normal;
    }
  }

  .action-bar {
    padding: 24px 0 0 0 !important;
  }

  .input-row {
    display: flex;
    align-items: center;
    padding-bottom: 16px;

    label {
      min-width: 180px;
    }

    .color-picker-wrapper {
      width: 48px;
      height: 32px;
    }
  }

  .header-wrapper {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 12px;
  }

  .single-value-group {
    padding-bottom: 12px;

    .header-wrapper {
      border-bottom: none;
    }

    .ig-pg-header {
      display: none !important;
    }

    label {
      margin-bottom: 4px;
    }
  }

  .help-icon {
    color: @ig-purple;
    cursor: pointer;
  }

  .css-warning {
    position: relative;
    background: #ffe7b8;
    border-radius: 4px;
    opacity: 1;
    font-size: 12px;
    padding: 8px 8px 8px 30px;

    i {
      position: absolute;
      left: 10px;
      top: 12px;
    }
  }
}

.p-tooltip-text {
  max-width: 233px;
}

.headerBackColor-template {
  max-height: 40px;
  display: flex;
  max-width: 160px;
  margin: 0 auto;
  margin-bottom: 8px;

  .fa {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: white;

    &.selected {
      opacity: 0.4;
    }
  }
}

.breadcrumbLinkColor-template {
  width: 186px;
  height: 40px;
  background: #36017b 0% 0% no-repeat padding-box;
  opacity: 1;
  letter-spacing: 0;
  color: white;
  text-align: center;
  padding: 10px 6px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 8px;

  .fa {
    padding-top: 2px;
    width: 21px;
    text-align: center;
  }

  .selected {
    color: #90fcf9;
  }
}

.buttonBackColor-template {
  width: 106px;
  height: 32px;
  border-radius: 4px;
  opacity: 1;
  margin: 0 auto;
  color: white;
  text-align: center;
  line-height: 32px;
  margin-bottom: 8px;
}

.navbarBackColor-template {
  width: 200px;
  height: 162px;
  box-shadow: 3px -1px 6px #00000029;
  border-radius: 0 8px 8px 0;
  opacity: 1;
  box-sizing: border-box;
  display: grid;
  margin: 0 auto;
  margin-bottom: 8px;

  .menu-item-template {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
  }

  .text {
    padding-left: 8px;
  }
}

.tabLinkColor-template {
  margin: 0 auto;
  margin-bottom: 8px;
  display: grid;

  .display-flex {
    display: flex;
    margin: 0 auto;
  }

  .link-template {
    border-bottom: 4px solid transparent;
    color: #202020;
    width: 64px;
    text-align: center;

    &.selected {
      color: #202020;
      border-bottom: 4px solid #202020;
    }
  }

  .link-template-diagram {
    margin-top: 8px;
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #e5e4e4;
    border-radius: 4px;
    opacity: 1;
    width: 207px;
    height: 26px;
    align-items: center;
    padding: 6px;
    padding-right: 2px;

    .badge {
      width: 32px;
      height: 20px;
      border-radius: 4px;
      opacity: 1;
      color: white;
      text-align: center;
    }

    .fa {
      margin-right: 6px;
    }

    .text {
      flex-grow: 1;
    }
  }
}

.table-template {
  margin: 0 auto;
  display: grid;
  width: 203px;
  margin-bottom: 8px;

  .header-template {
    width: 203px;
    height: 32px;
    background: #f1f2f3 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
  }

  .row-template {
    width: 203px;
    height: 32px;
    opacity: 1;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #f1f1f3;
  }

  .status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    top: 3px;
    margin-right: 6px;

    &.green {
      background-color: #049649;
    }

    &.grey {
      background-color: #587797;
    }
  }

  .col {
    color: #202020;
    width: 50%;
    text-align: left;
    font-weight: bold;
    display: flex;
    padding-left: 4px;
  }
}
