@import "../../../../../Content/styles/infogix-ui/infogix-ui.less";

.theme-editor {
  padding: 24px;

  .theme-form {
    overflow: auto;
  }

  .form-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;

    .sub-header {
      font-size: 14px;
      color: #888888;
      font-weight: normal;
    }
  }

  .action-bar {
    padding: 24px 0 0 0 !important;
  }

  .input-row {
    display: flex;
    align-items: center;
    padding-bottom: 16px;

    label {
      width: 180px;
    }

    .color-picker-wrapper {
      width: 48px;
      height: 32px;
    }
  }

  .header-wrapper {
    border-bottom: 1px solid #CDCDCD;
    margin-bottom: 12px;
  }

  .single-value-group {
    padding-bottom: 12px;

    .header-wrapper {
      border-bottom: none;
    }

    .ig-pg-header {
      display: none !important;
    }

    label {
      margin-bottom: 4px;
    }
  }

  .help-icon {
    color: @ig-purple;
  }
}

.headerBackColor-template {
  max-height: 40px;
  display: flex;
  max-width: 160px;
  margin: 0 auto;
  margin-bottom: 8px;

  .fa {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: white;

    &.selected {
      opacity: 0.4;
    }
  }
}

.p-tooltip-text {
  width: 233px;
}
