<d3s-modal additionalClasses="modal-dyn-editor large-dialog asset-editor"
           (onClose)="isVisible=false"
           [showTitle]="false"
           [isVisible]="isVisible">
    <div class="theme-editor">
        <div class="form-header">
            {{theme ? 'Edit Theme' : 'Create New Theme'}}
            <div class="sub-header">
                Branding
            </div>
        </div>
        <div class="theme-form" [style.max-height.px]="themeEditorHeight" *ngIf="formGroup">
            <div class="gov-info-message" *ngIf="isCurrentTheme">
                <i class="fa fa-info-circle"></i>
                <span class="text-valu">
                    Applying changes to the current theme will affect current uses. Users will see the changes upon refreshing their screen once these changes are applied.
                </span>
            </div>
            <form [formGroup]="formGroup">
                <div class="single-value-group">
                    <ig-property-group [igformGroup]="formGroup" [title]="''" [shouldBePadded]="false" [showHeaderLine]="false">
                        <div inputs>
                            <div class="row">
                                <label for="headerLogo" class="ig-label">Theme Name</label>
                                <input igInput type="text" formControlName="name" required igSize="full" />
                            </div>
                        </div>
                    </ig-property-group>
                </div>
                <ig-property-group [igformGroup]="formGroup" [title]="'Header Bar'" [shouldBePadded]="false" [showHeaderLine]="false">
                    <div inputs>
                        <div class="input-row">
                            <label for="headerLogo">Header logo image</label>
                            <image-picker formControlName="headerLogo" [imageType]="'LOGO'" [maxHeight]="40" [message]="'Choose a PNG,JPG or GIF image (maximum display height: 40 pixels)'"></image-picker>
                        </div>
                        <div class="input-row">
                            <label for="icon">Browser logo ico</label>
                            <image-picker formControlName="icon" [imageType]="'ICO'" [message]="'Choose an ICO file to display in the browser tab/taskbar'"></image-picker>
                        </div>
                        <div class="input-row">
                            <label for="headerBackColor">
                                Background color
                                <i class="fa fa-question-circle help-icon"
                                   [escape]="false"
                                   [pTooltip]="getTooltip('headerBackColor')"
                                   tooltipPosition="top"
                                   tooltipStyleClass="ig-tooltip"></i>
                            </label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="headerBackColor"></p-colorPicker>
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="breadcrumbLinkColor">Breadcrumb link color</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="breadcrumbLinkColor"></p-colorPicker>
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="buttonBackColor">Button color</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="buttonBackColor"></p-colorPicker>
                            </div>
                        </div>
                    </div>
                </ig-property-group>

                <ig-property-group [igformGroup]="formGroup" [title]="'Navigation Sidebar'" [shouldBePadded]="false" [showHeaderLine]="false">
                    <div inputs>
                        <div class="input-row">
                            <label for="navbarBackColor">Side menu color</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="navbarBackColor"></p-colorPicker>
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="navbarBackColorSelected">Side menu selection color</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="navbarBackColorSelected"></p-colorPicker>
                            </div>
                        </div>
                    </div>
                </ig-property-group>

                <ig-property-group [igformGroup]="formGroup" [title]="'Home Page'" [shouldBePadded]="false" [showHeaderLine]="false">
                    <div inputs>
                        <div class="input-row">
                            <label for="homeBackground">Background image</label>
                            <image-picker formControlName="homeBackground" [maxSize]="1048576" [message]="'The recommended image height is 300 px. The following formats are accepted: .GIF, .JPG, .PNG, up to a maximum file size of 1MB.'"></image-picker>
                        </div>

                    </div>
                </ig-property-group>

                <ig-property-group [igformGroup]="formGroup" [title]="'General'" [shouldBePadded]="false" [showHeaderLine]="false">
                    <div inputs>
                        <div class="input-row">
                            <label for="primaryButtonBackColor">Primary button color</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="primaryButtonBackColor"></p-colorPicker>
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="backColor">Background color</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="backColor"></p-colorPicker>
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="tabLinkColor">Tab/link color</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="tabLinkColor"></p-colorPicker>
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="tableHeaderBackColor">Table header color</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="tableHeaderBackColor"></p-colorPicker>
                            </div>
                        </div>
                        <div class="input-row">
                            <label for="tableRowBackColor">Table row selection</label>
                            <div class="color-picker-wrapper">
                                <p-colorPicker formControlName="tableRowBackColor"></p-colorPicker>
                            </div>
                        </div>
                    </div>
                </ig-property-group>

            </form>
        </div>
        <div class="action-bar">
            <button igButton igAutoFocus label="Cancel" (click)="cancel()"></button>
            <span class="grow"></span>
            <button igButton class="ig-button-primary" label=" {{theme ? 'Save Changes' : 'Create'}}" (click)="save();" [loading]="savingInProgress" [disabled]="savingInProgress || !formGroup.valid"></button>
        </div>
    </div>
</d3s-modal>