@import "../../../../../Content/styles/infogix-ui/infogix-ui.less";

.theme-detail {
  .theme-value-wrapper {
    margin-top: 12px;
    margin-bottom: 8px;

    label {
      width: 100%;
    }

    .theme-color-value {
      display: flex;
      padding-top: 10px;
      align-items: center;

      .color-box {
        width: 42px;
        height: 28px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 2px;
        opacity: 1;
        margin-right: 8px;
      }
    }
  }
}
