<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!--DEV: ENG-->
    <add key="CommunityContext" value="Server=tcp:gov-eng-int-sql.database.windows.net;Database=D3S;User ID=govsqladmin;Password=ZLWmhZjX5R9Ff7ra;Trusted_Connection=False;MultipleActiveResultSets=True;"/>
    <!--QA: ENG-->
    <!--<add key="CommunityContext" value="Server=tcp:gov-eng-qa-sql.database.windows.net;Database=D3S;User ID=govsqladmin;Password=ZLWmhZjX5R9Ff7ra;Trusted_Connection=False;MultipleActiveResultSets=True;"/>-->
  </appSettings>
</configuration>