/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;  
  text-transform: none;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav md-content {
    padding: 0px 0px 0px 10px;
  }

md-sidenav md-content .group-title {
    text-transform: uppercase;
    color:#666666;
}

/*.result .description, .result .group, .result .type, .result .score, .result .title{
    margin: 0;
}*/

.result .search{
  color: inherit;
  font-weight: 500;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 16pt;
}

.result .md-icon-button{
    height:auto;
    line-height:normal;
}