<div class="assignment-progress-step">
	<ng-container *ngIf="(workflowItemStep.StepType === 1 || workflowItemStep.StepType === 4) else isClickable">
		<div class="row">
			<ng-template [ngTemplateOutlet]="stepHeader"></ng-template>
		</div>
	</ng-container>
	<ng-template #isClickable>
		<div class="row" role="button" (click)="showStepDetails(workflowItemStep)">
			<ng-template [ngTemplateOutlet]="stepHeader"></ng-template>
		</div>
	</ng-template>
</div>
<button igButton type="button" *ngIf="isCurrentStep && workflowItemStep.IsAssignedLoginUser.toLowerCase() === 'true'"
		class="ig-button-primary width-100"
		(click)="completeAssignmentClick()" i18n-label
		label="Complete Assignment"></button>
<span class="fa fa-caret-down position-center" *ngIf="!isLastStep"></span>

<ng-template #stepHeader>
	<div class="col s1">
		<i class="fa spacing-top" [ngClass]="icon"></i>
	</div>
	<div class="col s7 header-text" i18n>
		{{ header }}
	</div>
	<div class="col s4 right-align" i18n>
		{{ status }}
	</div>
	<div class="row" *ngIf="isCurrentStep && message">
		<div class="col offset-s1 preserve-line-break">{{message}}</div>
	</div>
</ng-template>
