@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";

.assignment-progress-step {
  border-radius: 4px;
  width: 100%;
  padding: 0.5rem 0;
  background: @ig-slate-t5;

  .spacing-top {
    padding-top: 0.25rem;
  }
}

.header-text {
  color: var(--tabLinkColor);
  font-weight: bold;
}

.position-center {
  left: 50%;
  position: relative;
}

.preserve-line-break {
  white-space: pre-line;
}

.width-100 {
  width: 100%;
}
