@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";

.assignment-progress-step {
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  padding: 0.5rem 0;
  background: @ig-slate-t5;

  &:focus {
    box-shadow: 0 0 0 1px #8abddf;
  }

  &:hover {
    background: linear-gradient(@ig-toolbar-overlay-hover, @ig-toolbar-overlay-hover), var(--primaryButtonBackColor);
  }

  &:active {
    background: linear-gradient(@ig-toolbar-overlay-active, @ig-toolbar-overlay-active), var(--primaryButtonBackColor);
  }

  &.selected {
    background: var(--secondaryButtonSelectedBackColor) !important;

    &:active {
      background: var(--secondaryButtonSelectedBackColor);
    }
  }

  .spacing-top {
    padding-top: 0.25rem;
  }
}

.header-text {
  color: var(--tabLinkColor);
  font-weight: bold;
}

.position-center {
  left: 50%;
  position: relative;
}

.preserve-line-break {
  white-space: pre-line;
}

.complete-assignment {
  width: 100%;
  white-space: nowrap;
}

.ig-light-grey-text {
  color: @ig-grey-t1;
}
