<d3s-loading [isLoading]="isActionDetailsLoading || isFormDetailsLoading"></d3s-loading>
<ng-container *ngIf="!isActionDetailsLoading && !isFormDetailsLoading">
	<div *ngIf="showSubmittedByData" class="row">
		<div class="category-column">
			<p>
				<span class="heading">Submitted by </span>
				<a (click)="onClickResource($event)">{{request.Action.CreatedByName}}</a>
				on
				<span class="heading">{{request.Action.CreatedOn | date: 'short' }}</span><br/>
				<span class="heading">Associated Asset: </span> <a
				(click)="onClickAsset($event)">{{request.Action.AssociatedAssetPath}}</a>
			</p>
		</div>
	</div>
	<div class="row" *ngIf="actionItems">
		<div class="category-column" *ngFor="let fieldTypeModelField of fieldTypeModelFields">
			<label class="ig-label" i18n>{{ fieldTypeModelField.FriendlyName }}</label>
			<ng-container [ngSwitch]="Object.keys(fieldTypeModelField.Type)?.[0]">
				<div *ngSwitchCase="'Html'">
					<div class="ig-value">
						<span *ngIf="actionItems[fieldTypeModelField.Name]"
							  [innerHTML]="(actionItems[fieldTypeModelField.Name] | safeHtml)"></span>
						<span *ngIf="!actionItems[fieldTypeModelField.Name]">---</span></div>
				</div>
				<div *ngSwitchCase="'Link'">
					<div class="ig-value"><a *ngIf="actionItems[fieldTypeModelField.Name]"
											 [href]="actionItems[fieldTypeModelField.Name]?.split('|')?.[1]">
						{{ actionItems[fieldTypeModelField.Name]?.split('|')?.[0] }}</a>
						<span *ngIf="!actionItems[fieldTypeModelField.Name]">---</span>
					</div>
				</div>
				<div *ngSwitchCase="'DateTime'">
					<div
						class="ig-value"> {{ (actionItems[fieldTypeModelField.Name] | date:'short') ?? '---' }} </div>
				</div>
				<div *ngSwitchCase="'Date'">
					<div
						class="ig-value"> {{ (actionItems[fieldTypeModelField.Name] | date:'shortDate') ?? '---' }} </div>
				</div>
				<div *ngSwitchCase="'Lookup'">
					<div class="ig-value" *ngIf="fieldTypeModelField.Type.Lookup.List.Class !== 'Reference'">
						{{ actionItems[fieldTypeModelField.Name] ?? '---' }}
					</div>
					<div class="ig-value"
						 *ngIf="fieldTypeModelField.Type.Lookup.List.Class === 'Reference'">
						<ng-container *ngIf="!actionItems[fieldTypeModelField.Name]; else hasValue">---
						</ng-container>
						<ng-template #hasValue>
							<ul *ngIf="isJsonStructure(actionItems[fieldTypeModelField.Name]); else notJsonStructure">
								<li *ngFor="let listItem of JSON.parse(actionItems[fieldTypeModelField.Name])">
										<span class="ref-list-color">
											<span *ngIf="listItem.color" class="ig-colorfield-swatch"
												  [ngStyle]="{'background-color': listItem.color}"></span>
											<span>{{listItem.name}}</span>
										</span>
								</li>
							</ul>
						</ng-template>
						<ng-template #notJsonStructure>
							<ul>
								<li *ngFor="let listItem of actionItems[fieldTypeModelField.Name].split(',')">
									<span>{{listItem}}</span>
								</li>
							</ul>
						</ng-template>
					</div>
				</div>
				<div *ngSwitchCase="'Boolean'">
					<div class="ig-value">
						<div *ngIf="actionItems[fieldTypeModelField.Name] === true">
							<i class="fa fa-check-circle enabled ig-bool" title="True"></i>
							<ng-container i18n>True</ng-container>
						</div>
						<div *ngIf="actionItems[fieldTypeModelField.Name] === false">
							<i class="fa fa-times-circle disabled ig-bool" title="False"></i>
							<ng-container i18n>False</ng-container>
						</div>
					</div>
				</div>
				<div *ngSwitchDefault>
					<div class="ig-value">{{ actionItems[fieldTypeModelField.Name] ?? '---' }}</div>
				</div>
			</ng-container>
		</div>
	</div>
</ng-container>
