<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div class="row" *ngIf="!isLoading">
    <div class="col s12">
        <div class="tile tile-detail" *ngIf="!isCompleted && hasItems && !isSubmitting">
            <header>{{title}}</header>
            <div class="row" style="margin-bottom: 5px">
                <div class="col l4 m6 s12">
                    <span class="FieldName FieldDisplayName">
                        <ng-container i18n>Workflow</ng-container>:
                    </span>
                    <span class="FieldDisplayContent">{{workflowName}}</span>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px">
                <div class="col l2 m4 s12">
                    <span class="FieldName FieldDisplayName"><ng-container i18n>Version</ng-container>:</span>
                    <span class="FieldDisplayContent">{{version}}</span>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px">
                <div class="col l4 m6 s12">
                    <span class="FieldName FieldDisplayName"><ng-container i18n>Object</ng-container>:</span>
                    <span class="FieldDisplayContent">{{objName}}</span>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px">
                <div class="col l4 m6 s12">
                    <span class="FieldName FieldDisplayName"><ng-container i18n>Type</ng-container>:</span>
                    <span class="FieldDisplayContent">{{typeName}}</span>
                </div>
            </div>
            <div class="form-instructions" i18n>Please complete this form for the {{itemSteps?.length}} selected items</div>
            <div *ngIf="omittedCount > 0" class="form-instructions" i18n>{{omittedCount}} items were excluded because they were deleted, already completed, or you do not have permission to complete them.</div>
            <div [innerHtml]="description"></div>
            <form (ngSubmit)="onSubmit()" #workflowForm="ngForm">
                <div class="row">
                    <div class="col l6 s12">
                        <d3s-workflow-form-fields [fields]="fields" [form]="workflowForm" #fieldsComponent></d3s-workflow-form-fields>
                    </div>
                    <div class="col s12"></div>
                    <div class="col s12">
                        <button pButton type="submit" i18n-label [disabled]="!workflowForm.valid" style="width: 150px;" label="Submit"></button>
                        <button pButton type="button" i18n-label (click)="close()" label="Cancel" style="width: 150px;"></button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="isCompleted && !isSubmitting" class="tile tile-detail">
            <header>{{title}}</header>
            <div class="row">
                <div class="col s12" i18n>Thank you, your responses have been submitted and are being processed.</div>
                <div *ngIf="omittedCount > 0" class="col s12" i18n>{{omittedCount}} items were omitted because they were deleted, already completed, or you do not have permission to complete them.</div>
                <div class="col s12"></div>
                <div class="col s12">
                    <button pButton type="button" i18n-label (click)="complete();" label="Close" style="width: 150px;"></button>
                </div>
            </div>
        </div>
        <div *ngIf="!isCompleted && !hasItems" class="tile tile-detail">
            <header>{{title}}</header>
            <div class="row">
                <div class="col s12" i18n>All the selected items have been omitted because they were deleted, already completed, or you do not have permission to complete them.</div>
                <div class="col s12"></div>
                <div class="col s12">
                    <button pButton type="button" (click)="close();" i18n-label label="Close" style="width: 150px;"></button>
                </div>
            </div>
        </div>
        <div *ngIf="isSubmitting" class="tile tile-detail">
            <header>{{title}}</header>
            <div class="row">
                <div class="col s12" i18n>Processing, please wait...</div>
                <d3s-loading isLoading="true"></d3s-loading>
            </div>
        </div>
    </div>
</div>