<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div class="row" *ngIf="!isLoading && !showBulkFormEditor && !showBulkReassignEditor">
    <div class="col s12">
        <div class="tile tile-detail">
            <header>{{workflow?.Name}}<d3s-tile-actions [hasAdd]="false" hasFilterMode="true" [(filterMode)]="showSimpleFilter"></d3s-tile-actions></header>
            <div class="row" style="margin-bottom: 5px">
                <div class="col l2 m4 s12">
                    <span class="FieldName FieldDisplayName">
                        <ng-container i18n>Version</ng-container>:&nbsp;
                    </span>
                    <span *ngIf="assignmentSummary" class="FieldDisplayContent">{{assignmentSummary.Version}}</span>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px">
                <div class="col l4 m6 s12">
                    <span class="FieldName FieldDisplayName"><ng-container i18n>Step</ng-container>:&nbsp;</span>
                    <span *ngIf="assignmentSummary" class="FieldDisplayContent">{{assignmentSummary.StepName}}</span>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px">
                <div class="col l4 m6 s12">
                    <span class="FieldName FieldDisplayName"><ng-container i18n>Object</ng-container>:&nbsp;</span>
                    <span *ngIf="assignmentSummary" class="FieldDisplayContent">{{assignmentSummary.ObjectName}}</span>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px">
                <div class="col l4 m6 s12">
                    <span class="FieldName FieldDisplayName"><ng-container i18n>Type</ng-container>:&nbsp;</span>
                    <span *ngIf="assignmentSummary" class="FieldDisplayContent">{{assignmentSummary.TypeName}}</span>
                </div>
            </div>


            <input type="text" [hidden]="!showSimpleFilter" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter">
            <p-table #dt [value]="items" selectionMode="multiple" [globalFilterFields]="['Name','StartedOn','StartedBy']" [pageLinks]="3" [paginator]="true" [rows]="defaultInitialItemsPerPage" [rowsPerPageOptions]="[10, 25, 50, 100, 500]" [(selection)]="selection">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 35px"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th [pSortableColumn]="'Name'">
                            <ng-container i18n>Name</ng-container>
                            <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'StartedOn'">
                            <ng-container i18n>Started On</ng-container>
                            <d3s-sortIcon [field]="'StartedOn'"></d3s-sortIcon>
                        </th>
                        <th [pSortableColumn]="'StartedBy'">
                            <ng-container i18n>Started By</ng-container>
                            <d3s-sortIcon [field]="'StartedBy'"></d3s-sortIcon>
                        </th>
                        <th style="width: 35px"></th>
                        <th style="width: 35px"></th>
                    </tr>
                    <tr [hidden]="showSimpleFilter">
                        <th></th>
                        <th><d3s-column-filter [field]="'Name'" [datatype]="'text'"></d3s-column-filter></th>
                        <th><d3s-column-filter [field]="'StartedOn'" [datatype]="'text'"></d3s-column-filter></th>
                        <th><d3s-column-filter [field]="'StartedBy'" [datatype]="'text'"></d3s-column-filter></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                        <td>
                            <a (click)="open(item)" *ngIf="!item.IssueObject"><d3s-preview-tooltip [objectType]="item.Object" [objectId]="item.ObjectID">{{item.ObjectName}}</d3s-preview-tooltip></a>
                            <a (click)="open(item)" *ngIf="item.IssueObject && item.IssueObjectID"><d3s-preview-tooltip [objectType]="item.IssueObject" [objectId]="item.IssueObjectID">{{item.IssueObjectName ? item.IssueObjectName : "unknown"}}</d3s-preview-tooltip></a>
                        </td>
                        <td>
                            <span>{{item.StartedOn | date: 'shortDate'}}</span>
                        </td>
                        <td>{{item.StartedBy}}</td>
                        <td>
                            <div class="RowTools">
                                <d3s-preview-tooltip [objectType]="item.Object" [objectId]="item.ObjectID" icon="info"></d3s-preview-tooltip>
                            </div>
                        </td>
                        <td>
                            <div class="RowTools">
                                <a style="cursor:pointer;" (click)="open(item)" title="Complete Form"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                    <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                    <d3s-grid-selection-info [includeSelectLinks]="false"
                                             [model]="items"
                                             [selection]="selection"
                                             (onSelectAllClick)="selection = items"
                                             (onSelectNoneClick)="selection = []">
                    </d3s-grid-selection-info>
                </ng-template>
            </p-table>
            <div style="padding:10px">
                <button *ngIf="hasCloseButton" i18n-label pButton type="button" (click)="close();" label="Close" style="width: 150px;"></button>
                <button pButton type="button" i18n-label (click)="bulkRespond();" label="Bulk Respond" style="width: 150px;" [disabled]="selection == null || selection.length < 1 || !isMe"></button>
                <button *ngIf="isAdmin" pButton i18n-label type="button" (click)="bulkReassign();" label="Bulk Reassign" style="width: 150px;" [disabled]="selection == null || selection.length < 1"></button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isLoading && showBulkFormEditor">
    <d3s-workflow-bulk-form [model]="bulkEditorModel" (onClose)="showBulkFormEditor = false;" (onComplete)="isLoading = true; close();"></d3s-workflow-bulk-form>
</div>
<div *ngIf="!isLoading && showBulkReassignEditor">
    <d3s-workflow-bulk-reassign [model]="bulkReassignModel" (onClose)="showBulkReassignEditor = false;" (onComplete)="isLoading = true; close();"></d3s-workflow-bulk-reassign>
</div>