<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading"
     class="row">
    <div *ngIf="!showError" class="col s12">
        <div *ngIf="!showSingle" class="tile tile-detail">
            <header *ngIf="objectName" i18n>Dashboards for {{objectName}}</header>
            <header *ngIf="!objectName" i18n>Dashboards</header>
            <div class="row">
                <div class="col s12">
                    <span style="padding:0 10px;" i18n>Dashboard:</span>
                    <select [(ngModel)]="dashboard"
                            (change)="selected=null"
                            style="width:300px;">
                        <option></option>
                        <option *ngFor="let dashboard of dashboards"
                                [ngValue]="dashboard">
                            {{dashboard.Name}}
                        </option>
                    </select>
                    <span style="padding:0 10px;">
                        <button (click)="setSelected(dashboard);"
                                pButton
                                type="button"
                                i18n-label
                                label="Display"
                                style="width: 150px;padding:4px;"></button>
                    </span>
                </div>
                <div *ngIf="dashboard?.Description"
                     [innerHtml]="dashboard?.Description"
                     class="col s12"></div>
            </div>
        </div>
        <div class="tile tile-detail" *ngIf="selected">
            <d3s-powerbi-viewer *ngIf="selected.ReportType =='powerbi'"
                                [dashboard]="selected"></d3s-powerbi-viewer>
            <d3s-sagacity-viewer *ngIf="selected.ReportType =='sagacity'"
                                 [dashboard]="selected"></d3s-sagacity-viewer>
        </div>
        <div *ngIf="!selected"
             class="tile tile-detail">
            <h4 class="center"
                style="padding:30px;" i18n>
                Please choose a dashboard from the dropdown above and press
                display to view the specified dashboards content.
            </h4>
        </div>
    </div>
    <div *ngIf="showError" class="col s12">
        <div class="tile tile-detail">
            <header i18n>Dashboard not found.</header>
        </div>

    </div>
</div>
