@import "../../../../../../Content/styles/_Variables.less";

.connector-label-list {
  .inline-header {
    margin-top: 8px;
  }

  .tile-detail {
    padding: 16px;

    .grid-actions-header {
      padding: 0 0 8px 0;
    }
  }

  .p-datatable-wrapper {
    .ig-button-icon-only {
      background: transparent;

      &.ig-button-primary {
        background-color: @ig-purple-t2;
      }
    }
  }
}
