.connector-label-definition {
  .ig-property-group {
    border-top: none !important;

    .header-wrapper {
      border-bottom: 1px solid #d7d8dc;
    }

    .pg-collapsable-content {
      padding-left: 0 !important;

      .row {
        padding: 4px 0;
      }
    }
  }
}
