
.score-definition-container {
    padding: 16px 0px;

    .measure-details-item {
        margin-bottom: 8px;

        .condition-content {
            display: inline-flex;

            .condition-items {
                padding-right: 4px;
                flex-direction: column;
            }
        }

        .details-header {
            font-weight: bold;
        }

        .score-ranges {
            display: inline-flex;

            .score-range {
                padding-right: 16px;
            }
        }
    }
}
