<div class="score-definition-container" *ngIf="selectedMetric">
    <div #scoreDefinitionPanel class="definition-wrapper">
        <!--<div class="panel-heading">
            {{selectedMetric?.Name}}
        </div>-->
        <div class="measure-details-item">
            <div class="details-header">Name</div>
            <div class="details-content">{{selectedMetric?.Name ? selectedMetric?.Name :'---'}}</div>
        </div>
        <div class="measure-details-item">
            <div class="details-header">Description</div>
            <div class="details-content">{{selectedMetric?.Description ? selectedMetric?.Description :'---'}}</div>
        </div>
        <div class="measure-details-item">
            <div class="details-header">Effective Dates</div>
            <div class="details-content">
                {{selectedMetric?.EffectiveDate | utcDate  | date:'shortDate'}} -
                <span *ngIf="selectedMetric.State == 1">Present</span>
                <span *ngIf="selectedMetric.State == 3">{{selectedMetric?.EffectiveEndDate | utcDate  | date:'shortDate'}}</span>
            </div>
        </div>
        <div *ngIf="!data?.isExternallyCalculated" class="measure-details-item">
            <div class="details-header">Weight</div>
            <div class="details-content">{{getAsPrecentage(selectedMetric?.Weight)}} (adjusted to {{getAsPrecentage(selectedMetric?.AdjustedWeight)}})</div>
        </div>
        <div *ngIf="!data?.isExternallyCalculated" class="measure-details-item">
            <div class="details-header">Grouping Measure</div>
            <div class="details-content">{{selectedMetric?.IsGroup ? 'Yes':'No'}}</div>
        </div>
        <div *ngIf="showConditions" class="measure-details-item">
            <div class="details-header">Asset Conditions</div>
            <div class="details-condition" *ngFor="let conditionGroup of selectedMetric?.ConditionGroups">
                <div class="condition-content">
                    <div class="condition-items">
                        <div *ngFor="let condition of conditionGroup.ConditionItems" class="right-space">
                            {{condition.FieldTypeName}} {{condition.OperatorText}} {{condition.ValuesText}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!data?.isExternallyCalculated && showPassTest && formattedCheck" class="measure-details-item">
            <div class="details-header">Pass Test</div>
            <div class="details-condition">
                <div [ngSwitch]="selectedMetric.Definition.Governance.Check">
                    <div *ngSwitchCase="'External'">
                        <div class="condition-content">
                            <div class="condition-items">
                                <div>External: {{formattedCheck}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin" *ngSwitchCase="'Field'">
                        <div class="condition-content">
                            <div class="condition-items">
                                <div *ngIf="dateShowType == null">Field: {{formattedCheck}}</div>
                                <div *ngIf="dateShowType == 'Date'">Field: {{formattedCheck}} {{dateVal1 | utcDate  | date:'shortDate'}}<span *ngIf="dateVal2"> and {{dateVal2  | utcDate  | date:'shortDate'}} </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin" *ngSwitchCase="'Owner'">
                        <div class="condition-content">
                            <div class="condition-items">
                                Ownership: {{formattedCheck}}
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin" *ngSwitchCase="'Predicate'">
                        <div class="condition-content">
                            <div class="condition-items">
                                Predicate: {{formattedCheck}}
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin" *ngSwitchCase="'Relation'">
                        <div class="condition-content">
                            <div class="condition-items">
                                Relationship: {{formattedCheck}}
                            </div>
                        </div>
                    </div>
                    <ng-template ngSwitchDefault>
                        <div class="condition-content">
                            <div class="condition-items">
                                default
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="measure-details-item">
            <div class="details-header">UID</div>
            <div class="details-content">{{selectedMetric?.Uid}}</div>
        </div>
    </div>
</div>
