<div class="score-definition-container {{isAdminPage ? 'no-padding' : 'right-padding-16'}}" *ngIf="selectedMetric">
    <div #scoreDefinitionPanel class="definition-wrapper">
        <div *ngIf="isAdminPage" class="panel-heading">
            {{selectedMetric?.Name}}
        </div>
        <div *ngIf="!isAdminPage" class="measure-details-item">
            <div class="details-header">Name</div>
            <div class="details-content">{{selectedMetric?.Name ? selectedMetric?.Name :'---'}}</div>
        </div>
        <div class="measure-details-item">
            <div class="details-header">Description</div>
            <div class="details-content">{{selectedMetric?.Description ? selectedMetric?.Description :'---'}}</div>
        </div>
        <div class="measure-details-item">
            <div class="details-header">Effective Dates</div>
            <div class="details-content">
                {{selectedMetric?.EffectiveDate | utcDate  | date:'shortDate'}} -
                <span *ngIf="selectedMetric.State == 1">Present</span>
                <span *ngIf="selectedMetric.State == 3">{{selectedMetric?.EffectiveEndDate | utcDate  | date:'shortDate'}}</span>
            </div>
        </div>
        <div *ngIf="!isExternallyCalculated" class="measure-details-item">
            <div class="details-header">Weight</div>
            <div class="details-content">{{getAsPrecentage(selectedMetric?.Weight)}} <span *ngIf="!isAdminPage && selectedMetric?.AdjustedWeight != selectedMetric?.Weight">(adjusted to {{getAsPrecentage(selectedMetric?.AdjustedWeight)}})</span></div>
        </div>
        <div *ngIf="!isExternallyCalculated" class="measure-details-item">
            <div class="details-header">Grouping Measure</div>
            <div class="details-content">{{selectedMetric?.IsGroup ? 'Yes':'No'}}</div>
        </div>
        <div *ngIf="!isExternallyCalculated && selectedMetric?.Threshold" class="measure-details-item">
            <div class="details-header">Use Pass Threshold</div>
            <div class="details-content">Yes</div>
        </div>
        <div *ngIf="!isExternallyCalculated && selectedMetric?.Threshold" class="measure-details-item">
            <div class="details-header">Pass Threshold</div>
            <div class="details-content">{{getAsRawPrecentage(selectedMetric?.Threshold, 3)}}</div>
        </div>
        <div *ngIf="!data?.isExternallyCalculated && !selectedMetric.IsGroup" class="measure-details-item">
            <d3s-admin-metric-pass-test-details #passTestComponent [assetTypeUid]="assetTypeUid"
                                                [definition]="selectedMetric?.Definition"
                                                [screenReferences]="screenReferences">
            </d3s-admin-metric-pass-test-details>
        </div>
        <div *ngIf="showConditions" class="measure-details-item">
            <div class="details-header">Asset Conditions and Weighting</div>
            <measure-conditions-details [screenReferences]="screenReferences" [conditionGroups]="selectedMetric?.ConditionGroups" [matchAll]="selectedMetric?.MatchConditionsOnly"></measure-conditions-details>
        </div>
        <div class="measure-details-item">
            <div class="details-header">UID</div>
            <div class="details-content">{{selectedMetric?.Uid}}</div>
        </div>
    </div>
</div>
