<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <header>
        {{title}}
        <d3s-tile-actions (exportErrorsClick)="exportErrors()"
                          (exportOriginalClick)="exportOriginal()"
                          (refreshClick)="refresh()"
                          [(filterMode)]="showSimpleFilter"
                          [hasExportErrors]="true"
                          [hasExportOriginal]="true"
                          [hasFilterMode]="true"
                          [hasRefresh]="true"></d3s-tile-actions>
    </header>
    <input (input)="dt.filterGlobal($event.target.value, 'contains')"
           [hidden]="!showSimpleFilter"
           class="grid-simple-filter"
           pInputText
           placeholder="Search..."
           size="100"
           type="text">
    <p-table #dt
             [globalFilterFields]="globalFilterFields"
             [metaKeySelection]="true"
             [paginator]="true"
             [rowsPerPageOptions]="defaultPagingOptions"
             [rows]="25"
             [scrollable]="true"
             [value]="items"
             scrollWidth="100%"
             selectionMode="single">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:125px">
                <col *ngFor="let column of columns"
                     style="width:250px">
                <col style="width:100px">
                <col style="width:250px">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th [pSortableColumn]="'Status'"
                    style="width: 125px">
                    Status
                    <d3s-sortIcon [field]="'Status'"></d3s-sortIcon>
                </th>
                <th *ngFor="let column of columns"
                    [pSortableColumn]="column.datafield"
                    style="width: 250px">
                    {{column.text}}
                    <d3s-sortIcon [field]="column.datafield"></d3s-sortIcon>

                </th>
                <th [pSortableColumn]="'RowIndex'"
                    style="width: 100px">
                    Row
                    <d3s-sortIcon [field]="'RowIndex'"></d3s-sortIcon>
                </th>
                <th [pSortableColumn]="'StatusMessage'"
                    style="width: 250px">
                    Message
                    <d3s-sortIcon [field]="'StatusMessage'"></d3s-sortIcon>
                </th>
            </tr>
            <tr [hidden]="showSimpleFilter">
                <th>
                    <d3s-column-filter [field]="'Status'"
                                       [datatype]="'text'"></d3s-column-filter>
                </th>
                <th *ngFor="let column of columns">
                    <d3s-column-filter [field]="column.datafield"></d3s-column-filter>
                </th>
                <th>
                    <d3s-column-filter [datatype]="'text'"
                                       [field]="'RowIndex'"></d3s-column-filter>
                </th>
                <th>
                    <d3s-column-filter [datatype]="'text'"
                                       [field]="'StatusMessage'"></d3s-column-filter>
                </th>
            </tr>
        </ng-template>
        <ng-template let-item
                     pTemplate="body">
            <tr [pSelectableRow]="item">
                <td>{{item.Status}}</td>
                <td *ngFor="let column of columns">{{item[column.datafield]}}</td>
                <td>{{item.RowIndex}}</td>
                <td>
                            <span *ngIf="item.StatusMessage"
                                  [innerHtml]="item.StatusMessage"></span>
                </td>
            </tr>
        </ng-template>
        <ng-template *ngIf="dt.totalRecords"
                     pTemplate="summary">
            <d3s-grid-paging-info [first]="dt.first"
                                  [rows]="dt.rows"
                                  [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
        </ng-template>
    </p-table>
</div>
