@import "../../../../../Content/styles/infogix-ui/infogix-ui.less";

.modal-edit-form {
  .title {
    padding-top: 24px;
    font-size: 18px;
    color: #202020;
    font-weight: 600;
  }

  .row {
    margin-bottom: 16px;

    &.light-text {
      color: @ig-grey;
    }
  }

  .key-box {
    position: relative;

    .copy-to-clip {
      position: absolute;
      right: 4px;
      width: 24px;
      height: 24px;
      top: 4px;
    }
  }
}
