<div class="row social-board">
    <div class="col s12">
        <d3s-loading [isLoading]="isLoading" showTransparentLoader="true"></d3s-loading>
        <header>{{socialMessage}}</header>

        <div class="row" *ngIf="!isEditing">
            <input type="text" placeholder="Add a comment" class="fakeInput" (click)="isEditing = true">
        </div>
        <d3s-comment-form [assetUid]="assetUid" [isVisible]="isEditing" (onCancel)="isEditing = false"></d3s-comment-form>

        <div *ngFor="let comment of comments">
            <d3s-social-comment [comment]="comment" [assetUid]="assetUid" (delete)="deleteComment($event);" [isAdmin]="isAdmin" (edit)="editComment($event);"></d3s-social-comment>
        </div>

        <div style="margin-top:10px;">
            <button pButton type="button" [disabled]="!hasMore" (click)="loadComments();" label="Load more comments..."></button>
            <button *ngIf="hasCloseButton" pButton type="button" (click)="close.emit();" label="Close" style="width: 150px;"></button>
        </div>
    </div>
</div>