.social-board {
  span.user {
    font-weight: bold;
  }

  span.postDate {
    color: #AAAAAA;
  }

  img.user {
    border-radius: 5px;
  }

  .comment-removed {
    border-radius: 3px;
    padding: 5px;
    background: #EFEFEF;
    border: 1px solid #CCCCCC;
    font-size: 90%;
  }

  .comment-modified {
    margin-left: 5px;
    font-style: oblique;
  }

  .comment-tag {
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px 10px;
    cursor: pointer;
  }

  .comment, .reply {
    padding: 5px 0;
  }

  .comment-tool-item :hover, .comment-tool-item-mid :hover {
    color: rgba(84,164,218,1);
  }

  .comment-tool-item, .comment-tool-item-mid {
    padding: 5px;
    font-size: 1.4em;
    color: #646464;
    cursor: pointer;
  }

  .comment-tool-item-mid {
    border-right: 1px solid #AAAAAA;
  }

  .comment-tools {
    display: inline-block;
    position: absolute;
    top: -.50rem;
    right: .25rem;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
  }

  .toolbox {
    position: relative;
  }

  .fakeInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 5px;
  }

  .comment-tag {
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px 10px;
    cursor: pointer;
  }
}
