<header>
    {{title}}
</header>
<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading">
    <div class="row">
        <div class="col s12">
            <div class="FieldName" i18n>Asset Type</div>
            <div>
                <p-dropdown igDropdown
                            required
                            [required]="true"
                            igSize="full"
                            (onChange)="assetTypeChanged()"
                            [(ngModel)]="selection.AssetTypeUid"
                            [appendTo]="'body'"
                            placeholder="{{labelRequired}}"
                            [options]="assetTypes"></p-dropdown>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col s12">
            <div class="FieldName" i18n>Responsibilities</div>
            <div>
                <p-multiSelect [options]="responsibilityList"
                               placeholder="Optional"
                               [(ngModel)]="selection.ResponsibilityTypeUid"
                               [disabled]="!selection?.AssetTypeUid"
                               class="d3s-color-picker multi fullWidth"
                               name="responsibilities"
                               selectedItemsLabel="{0} items selected">
                </p-multiSelect>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col s12">
            <button pButton type="submit" [disabled]="!selection?.AssetTypeUid" (click)="save()" style="width: 150px;" label="{{labelSave}}"></button>
            <button pButton type="button" (click)="closeClick.emit();" label="{{labelClose}}" style="width: 150px;"></button>
        </div>
    </div>
</div>