<div class="select-ui" [class.select-ui--uneditable]="!editable">
  <button type="button" class="select-ui__toggle" (click)="onActiveStateSwitch();">
    <span *ngIf="selected; else placeholderTemplate">
      {{ selected.label }}
    </span>
    <span class="fa-angle-down select-ui__caret" *ngIf="editable"></span>
  </button>
  <ul class="select-ui__menu" *ngIf="active">
    <li *ngFor="let option of options | filterDropdownBadgeOptions: selected"
      class="select-ui__option" (click)="onModelTouched(); onSelectOption(option);"
      [class.select-ui__option--disabled]="option.disabled">
      <ng-container *ngIf="option.custom; else optionLabel" [ngTemplateOutlet]="option.template"></ng-container>
      <ng-template #optionLabel>
        {{ option.label }}
      </ng-template>
    </li>
  </ul>
</div>

<ng-template #placeholderTemplate>
  <span>{{ placeholder }}</span>
</ng-template>
