@import "../../../../../../Content/styles/_Variables.less";

.select-ui {
    position: relative;
    display: inline-block;
    width: 100%;

    &--uneditable > button {
        cursor: default;
    }

    &__toggle {
        outline: 0;
        width: 100%;
        border: none;
        background-color: @igx-blue-color;
        color: #FFFFFF;   
        padding: 0 12px;
        border-radius: 4px;
        height: 24px;
        transition: background-color .3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            background-color: darken(@rgba-primary-0, 10%);
        }

        &:active {
            background-color: darken(@rgba-primary-0, 20%);
        }
    }

    &__caret {
        width: 10px;
        height: 20px;
        color: #FFFFFF;
        display: inline-block;
        margin-left: 8px;
        font-family: 'FontAwesome';
    }

    &__menu {
        border-radius: 4px;
        overflow: hidden;
        padding: 4px 0;
        min-width: 100%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
        top: 24px;
        list-style: none;
        margin: 0;
        z-index: 1000;
    }

    &__option {
        height: 32px;
        color: #000000;
        padding: 0 12px;
        min-width: 100%;
        line-height: 32px;
        font-size: 14px;
        transition: background-color .3s ease-in-out;
        white-space: nowrap;
        cursor: pointer;

        &--disabled {
            cursor: not-allowed;
        }

        &:hover {
            background-color: @ig-purple-t5;
        }
    }

}