<d3s-configuration-asset-type-header [assetTypeClass]="assetTypeClass"
	[uid]="uid">
</d3s-configuration-asset-type-header>
<d3s-configuration-asset-type-tabs [assetTypeClass]="assetTypeClass"
	[uid]="uid">
</d3s-configuration-asset-type-tabs>
<div class="tile tile-detail main-panel">
	<d3s-field-definition-tile [assetTypeUid]="uid"
		[showTitle]="false"
		[supportsPrimaryFilterOption]="fieldTileSettings.supportsPrimaryFilterOption"
		[showDisplayInColumn]="fieldTileSettings.showDisplayInColumn"
		[allowSingleSegmentPath]="fieldTileSettings.allowSingleSegmentPath"
		[objectName]="assetType?.Name">
	</d3s-field-definition-tile>
</div>
