<d3s-configuration-asset-type-header [assetTypeClass]="assetTypeClass"
									 [uid]="uid">
</d3s-configuration-asset-type-header>
<d3s-configuration-asset-type-tabs [assetTypeClass]="assetTypeClass"
								   [uid]="uid">
</d3s-configuration-asset-type-tabs>

<d3s-field-definition-tile *ngIf="assetType?.Name"
						   [assetTypeUid]="uid"
						   [typeName]="assetType?.Name"
						   [showTitle]="false"
						   [supportsPrimaryFilterOption]="fieldTileSettings.supportsPrimaryFilterOption"
						   [showDisplayInColumn]="fieldTileSettings.showDisplayInColumn"
						   [showAddToSearch]="fieldTileSettings.showAddToSearch"
						   [allowSingleSegmentPath]="fieldTileSettings.allowSingleSegmentPath"
						   [objectName]="assetType?.Name">
</d3s-field-definition-tile>

