<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="d360.extensions.fusion.salesforce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TargetCompanyID" value=""/>
    <add key="ApiKey" value="w7gt581AOMXhXeW9mh0jWCPMe"/>
    <add key="ApiSecret" value="3=f+7afAQUq9wUKhyibXq9kGa2iLGS3M0r-Ex-ZxJ6O9TAu+-7"/>
    <add key="ApiUri" value="https://api.data3sixty.com/"/>
    <add key="IsFederatedData" value="true"/>
    <add key="AzureStorageAccountName" value="data3sixty"/>
    <add key="AzureStorageKeyValue" value="akWskSolD1IWz+qmK2onCb10er80WsI02gNE83ufcOS1SUIMRF51p8BHPhGQ8EZTZCFkc5Pw4zIkVMnGbQnFUQ=="/>
    <!--<add key="CsvFile" value="C:\Fusion\EDI\securitychange.683" />-->
  </appSettings>

  <applicationSettings>
    <d360.extensions.fusion.salesforce.Properties.Settings>
      <setting name="d360_extensions_fusion_sforce" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/29.0</value>
      </setting>
      <setting name="d360_extensions_fusion_salesforce_sforceAPI_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/29.0</value>
      </setting>
    </d360.extensions.fusion.salesforce.Properties.Settings>
  </applicationSettings>
    
  <connectionStrings>
    <add name="D360Context" connectionString="Server=tcp:a4xhimxzit.database.windows.net;Database=D3S;User ID=d3s-user;Password=d43S!ioOui!#@#;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MetaDataManager_Binding" maxReceivedMessageSize="2147483647" openTimeout="00:20:00" closeTimeout="00:20:00" sendTimeout="00:20:00" receiveTimeout="00:20:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="MetaDataManager_Binding1" maxReceivedMessageSize="2147483647" openTimeout="00:20:00" closeTimeout="00:20:00" sendTimeout="00:20:00" receiveTimeout="00:20:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://raddev3.eagleaccess.com/metadatamanager" binding="basicHttpBinding" bindingConfiguration="MetaDataManager_Binding" contract="EagleService.MetaDataManager_Port" name="MetaDataManager_Port">
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fasterflect" publicKeyToken="38d18473284c1ca7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
