@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";

li {
  .check-tree-node-row {
    display: flex;
    flex-direction: row;
    height: 24px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3px;

    .lv1 {
      width: 20px;
    }

    .lv2 {
      width: 40px;
    }

    .p-checkbox {
      margin-right: 8px;

      .p-checkbox-box {
        border-radius: 3px !important;
        background-color: white;
      }

      .p-checkbox-icon {
        color: @ig-black;
        font-weight: bold;
      }
    }

    .check-tree-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 20px;
    }
  }
}

.caption {
  color: #0971b9;
  margin-right: 30px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.selected {
    font-weight: bold;
    color: black;
  }
}

.check-tree-badge {
  display: inline-block;
  font-size: 14px;
  height: 24px;
  padding: 0px 8px;
  border-radius: 12px;
  line-height: 24px;
  min-width: 35px;
  text-align: center;
  white-space: nowrap;
  margin-left: auto;
  background: @ig-grey-t5;
  color: @ig-black;
}
