@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";

.check-tree-header {
  display: flex;
  flex-direction: row;

  h2 {
    font-size: 14px;
    font-weight: bold;
  }

  .clear-tree {
    cursor: pointer;
    color: #0971b9;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}

.check-tree-container {
  padding: 0 18px 0 11px;
}

