<div *ngIf="title" class="check-tree-header">
    <h2 [innerHTML]="title"></h2><span *ngIf="showClearSelection()" class="clear-tree" (click)="clearSelection()">Clear filter</span>
</div>
<d3s-loading [isLoading]="loading"></d3s-loading>

<div *ngIf="!loading" [ngStyle]="style" [class]="styles">
    <div *ngIf="filter" class="p-tree-filter-container">
        <input #filter type="text" autocomplete="off" class="p-tree-filter p-inputtext p-component p-state-default p-corner-all" [attr.placeholder]="filterPlaceholder"
               (keydown.enter)="$event.preventDefault()" (input)="onFilter($event)">
        <span class="p-tree-filter-icon pi pi-search"></span>
    </div>
    <ul *ngIf="getRootNode()" role="tree" [attr.aria-label]="ariaLabel" [attr.aria-labelledby]="ariaLabelledBy">
        <d3s-check-treeNode *ngFor="let node of getRootNode(); let firstChild=first;let lastChild=last; let index=index; trackBy: nodeTrackBy" [node]="node"
                            [firstChild]="firstChild" [lastChild]="lastChild" [index]="index"></d3s-check-treeNode>
    </ul>
    <div class="p-tree-empty-message" *ngIf="value == null || value.length === 0">{{emptyMessage}}</div>
</div>