@import "../../../../../../Content/styles/infogix-ui/infogix-ui.less";
@import "../../../../../../Content/styles/_Variables.less";

:host {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 4px;
    justify-content: flex-end;
}

.badge-feedback {
    height: 24px;
    display: inline-block;
    line-height: 22px;
    padding: 0px 8px;
    border-radius: 4px;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0,0);

    &:focus {
        outline: none !important;
        border: 1px solid @ig-lightblue;
    }

    &.req {
        background: @ig-lightblue-t2;
    }

    &.inv {
        background: @ig-red-t4;
    }
}