<div class="row">
    <div class="col l4 s12">
        <div class="tile tile-detail">
            <header *ngIf="!showDelete">
                Rule Types
                <d3s-tile-actions [hasAdd]="true" [hasFilterMode]="true" [(filterMode)]="showSimpleFilter" (addClick)="add()"></d3s-tile-actions>
            </header>
            <d3s-loading [isLoading]="isLoading"></d3s-loading>
            <span *ngIf="!isLoading && !showDelete">
                <input type="text" [hidden]="!showSimpleFilter" pInputText size="100" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." class="grid-simple-filter">
                <p-table #dt [value]="ruleTypes" selectionMode="single" [metaKeySelection]="true" [globalFilterFields]="['Name']" sortField="Name" [sortOrder]="1" [pageLinks]="3" [paginator]="true" [rows]="20" [(selection)]="selected" (onRowSelect)="selectedItemChange(selected?.ID)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'Name'">
                                Name
                                <d3s-sortIcon [field]="'Name'"></d3s-sortIcon>
                            </th>
                            <th style="width: 40px"></th>
                            <th style="width: 40px"></th>
                        </tr>
                        <tr [hidden]="showSimpleFilter">
                            <th><d3s-column-filter [field]="'Name'" [datatype]="'text'"></d3s-column-filter></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr (dblclick)="selected=item;showEditor=true;" [pSelectableRow]="item">
                            <td>{{item.Name}}</td>
                            <td>
                                <div class="RowTools">
                                    <a style="cursor:pointer;" (click)="selected=item;showEditor=true;loadDataAndExecuteAction()"><i class="fa fa-pencil"></i></a>
                                </div>
                            </td>
                            <td>
                                <div class="RowTools">
                                    <a style="cursor:pointer;" (click)="selected=item;showDelete=true;loadDataAndExecuteAction()"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template *ngIf="dt.totalRecords" pTemplate="summary">
                        <d3s-grid-paging-info [first]="dt.first" [rows]="dt.rows" [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
                    </ng-template>
                </p-table>
            </span>
            <d3s-asset-type-delete *ngIf="showDelete"
                                   (onCancel)="showDelete=false;" 
                                   [callback]="theDeleteCallback" 
                                   [artifactTypeUid]="selected?.uid" 
                                   [assetTypeId]="selected?.ID" 
                                   [count]="selected?.count" 
                                   [assetTypeName]="selected?.name"
                                   [assetTypeClass]="assetTypeClass">
            </d3s-asset-type-delete>
        </div>
    </div>
    <div class="col l8 s12" *ngIf="!showEditor && !showDelete && selected">
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <object-detail [objectType]="'RuleType'" [objectUID]="selected?.uid" [objectID]="selected?.ID"></object-detail>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <d3s-field-definition-tile [objectType]="'RuleType'"
                                               [objectName]="selected?.Name" 
                                            [supportsPrimaryFilterOption]="true"
                                            [showAddToSearch]="true"
                                            [objectID]="selected?.ID" [assetTypeUid]="selected?.uid"></d3s-field-definition-tile>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <d3s-responsibility-relations queryType="A" [uid]="selected?.uid" [showAddButton]="false"></d3s-responsibility-relations>
                </div>
            </div>
        </div>
    </div>
    <div class="col l8 s12" *ngIf="showEditor">
        <div class="row">
            <div class="col s12">
                <div class="tile tile-detail">
                    <d3s-asset-type-editor *ngIf="showEditor" [assetTypeClass]="assetTypeClass" [id]="selected?.AssetTypeID"
                                           [title]="(selected == null ? 'New' : 'Edit') + ' Rule Type'"
                                           (onCancel)="closeEditor()"
                                           (onComplete)="saveRuleType($event)"></d3s-asset-type-editor>
                </div>
            </div>
        </div>
    </div>
</div>