<div class="main-container">
    <div class="header">
        <ig-search-field #searchinput [ngModel]="searchText$ | async" i18n-placeholder placeholder="Search "
            mode="Keypress"
            (onSearch)="filterTagTypes($event)"
            ></ig-search-field>

        <button class="p-element ig-button ig-button-icon-only ml-1" (click)="openEditor({mTitle: 'Add Tag Type', action: 'add'})">
            <span aria-hidden="true" class="ig-button-icon fa  fa-plus"></span>
        </button>
    </div>
    <div class="data">
        <d3s-loading [isLoading]="isLoading"></d3s-loading>
        <ul class="list">
            @for (tagType of tagTypes; track tagType.uid) {
                <li>
                    <div (click)="loadTags(tagType)">
                        <p class="text float-left ml-1 ">
                            {{ tagType.Value}}
                        </p>
                    </div>
                    <div>
                        <span aria-hidden="true" class="ig-button-icon fa  fa-ellipsis-v" (click)="selectRow(tagType)"></span>
                        <div class="popup-tagtype-actions" *ngIf="showTagTypeActions == true && selectedTag.uid == tagType.uid">
                            <ul >
                                <li (click)="openEditor({mTitle: 'Edit Tag Type', action: 'edit'})">
                                    <p> Edit </p>
                                </li>
                                <li (click)="openDeleteModal()">
                                    <p> Delete </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
              }
        </ul>
    </div>

    <d3s-dynamic-editor
       [objectType]="'TagTypes'"
       [objectID]="selectedTag?.uid"
       [selection]="selectedTag"
       [title]="'Tag Type'"
       (saveClick)="saveTagType($event)"
       [showAsModal]="true"
       [modalTitle]="modalTitle"
       [isModalVisible]="showEditor"
       (closeClick)="closeEditor()">
    </d3s-dynamic-editor>

   <d3s-delete-form *ngIf="selectedTag?.uid"
      [callback]="theDeleteCallback"
      [method]="'callback'"
      [items]="selectedTag"
      [showAsModal]="true"
      [modalTitle]="'Delete TagType'"
      [isModalVisible]="showDeleteModal"
      (onCancel)="showDeleteModal=false;">
        <div prompt>
            <div *ngIf="selectedTag?.uid">
              <ng-container i18n>
                Please confirm that you wish to delete the tag type '{{this.selectedTag.Value}}'
             </ng-container>
            </div>
        </div>
    </d3s-delete-form>

</div>