@import (reference) '../../../../../Content/styles/_Variables.less';

.complete-assignment {
  margin-left: 16px;
  margin-bottom: 16px;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host ::ng-deep .header-wrapper {
  border-bottom: 1px solid @ig-grey-t4;
  margin-bottom: 1rem;
}

.assignment-error {
  margin-left: 16px;
  margin-bottom: 16px;

  ::ng-deep .p-accordion-content {
    background-color: #f9e8ed;
    color: black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
  }

  ::ng-deep .p-accordion-header-text {
    padding: 0 0.3rem;
  }

  ::ng-deep .p-accordion-header {
    background-color: #aa1638;
    padding: 0.5rem 0;
    border-radius: 4px;

    &.p-highlight {
      border-radius: 4px 4px 0px 0px;
    }
  }

  ::ng-deep .p-accordion-header-link {
    padding: 0 0.75rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  ::ng-deep .p-accordion .p-accordion-tab-active > .p-toggleable-content:not(.ng-animating) {
    overflow: hidden;
  }
}
