@import '../../../../../Content/styles/_Variables.less';

.assignment-asset-list {
  padding-bottom: 16px;

  .header-wrapper {
    border-bottom: none;
    color: @ig-purple;
    margin-bottom: 0;
  }

  .light-text {
    color: @ig-grey-s1;
    margin-left: 4px;
  }
}
