.grid-wrapper {
  padding: 6px 10px 0 10px;

  .p-datatable-wrapper {
    max-height: calc(100vh - 320px);
    overflow: auto;
  }

  .ig-button-icon-only {
    background: transparent;
  }
}

.grid-actions-header {
  padding-top: 16px;
}
