<d3s-loading [isLoading]="isLoading"></d3s-loading>

<div class="row"
     *ngIf="!isLoading">
    <div class="col l3 m12 s12">
        <div class="tile tile-detail">
            <header>Structure</header>
            <d3s-fusion-structure-tree #tree
                                       [fusion]="fusion"
                                       (loaded)="buildBreadcrumb()"
                                       [fusionAttributeTypeId]="selectedFusionAttributeTypeId"
                                       (fusionAttributeTypeIdChange)="changeFusionAttributeTypeId($event)"></d3s-fusion-structure-tree>
        </div>
    </div>
    <div class="col l9 m12 s12">
        <d3s-fusion-attribute *ngIf="fusionId !=0"
                              [objectPermissions]="permissions"
                              [initialFusionAttributeId]="initialFusionAttributeId"
                              [fusionId]="fusionId"
                              [selectedFusionAttributeTypeId]="selectedFusionAttributeTypeId"
                              [selectedFusionAttribute]="selectedFusionAttribute"></d3s-fusion-attribute>
        <d3s-fusion-attribute-tabs *ngIf="fusionId ==0"
                                   [objectPermissions]="permissions"
                                   [initialFusionAttributeId]="initialFusionAttributeId"
                                   [fusionId]="fusionId"
                                   [selectedFusionAttributeTypeId]="selectedFusionAttributeTypeId"
                                   [selectedFusionAttribute]="selectedFusionAttribute"></d3s-fusion-attribute-tabs>
    </div>
</div>
