<div class="tile tile-detail">
    <header>Configuration
        <d3s-tile-actions (exportClick)="doExport()"
                          [(filterMode)]="showSimpleFilter"
                          [hasAdd]="false"
                          [hasExport]="true"
                          [hasFilterMode]="true"></d3s-tile-actions>
    </header>
    <d3s-loading [isLoading]="isLoading"></d3s-loading>
    <span *ngIf="!isLoading">
        <input (input)="dt.filterGlobal($event.target.value, 'contains')"
               [hidden]="!showSimpleFilter"
               class="grid-simple-filter"
               pInputText
               placeholder="Search..."
               size="100"
               type="text">
        <p-table #dt
                 [(selection)]="selected"
                 [globalFilterFields]="['Name','FusionType','Description','Enabled']"
                 [metaKeySelection]="true"
                 [pageLinks]="3"
                 [paginator]="true"
                 [rowsPerPageOptions]="[5,10,20]"
                 [rows]="10"
                 [sortOrder]="1"
                 [value]="fusions"
                 selectionMode="single"
                 sortField="Name">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'Name'"
                        style="width: 25%">Name<d3s-sortIcon [field]="'Name'"></d3s-sortIcon></th>
                    <th [pSortableColumn]="'FusionType'"
                        style="width: 20%">Type<d3s-sortIcon [field]="'FusionType'"></d3s-sortIcon></th>
                    <th style="width: 25%">Description</th>
                    <th [pSortableColumn]="'Enabled'"
                        style="width: 11%">Enabled<d3s-sortIcon [field]="'Enabled'"></d3s-sortIcon></th>
                    <th style="width: 30px"></th>
                </tr>
                <tr [hidden]="showSimpleFilter">
                    <th><d3s-column-filter [datatype]="'text'"
                                           [field]="'Name'"></d3s-column-filter></th>
                    <th><d3s-column-filter [datatype]="'text'"
                                           [field]="'FusionType'"></d3s-column-filter></th>
                    <th><d3s-column-filter [datatype]="'text'"
                                           [field]="'Description'"></d3s-column-filter></th>
                    <th><d3s-column-filter [datatype]="'text'" [field]="'Enabled'"></d3s-column-filter></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template let-item pTemplate="body">
                <tr (dblclick)="selected=item;showFusion(selected);"
                    [pSelectableRow]="item">
                    <td><a (click)="showFusion(item)">{{item.Name}}</a></td>
                    <td>{{item.FusionType}}</td>
                    <td><span [innerHtml]="item.Description"></span></td>
                    <td>
                        <i *ngIf="item.Enabled"
                           class="fa fa-check enabled" title="Enabled"></i>
                        <i *ngIf="!item.Enabled"
                           class="fa fa-times disabled" title="Disabled"></i>
                    </td>
                    <td>
                        <div class="RowTools">
                            <d3s-preview-tooltip [objectId]="item.ID"
                                                 icon="info"
                                                 objectType="Fusion"></d3s-preview-tooltip>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template *ngIf="dt.totalRecords"
                         pTemplate="summary">
                <d3s-grid-paging-info [first]="dt.first"
                                      [rows]="dt.rows"
                                      [totalRecords]="dt.totalRecords"></d3s-grid-paging-info>
            </ng-template>
        </p-table>
    </span>
</div>
