<d3s-loading [isLoading]="isLoading"></d3s-loading>
<div *ngIf="!isLoading"
     class="row">
    <div class="col l3 m12 s12">
        <div class="tile tile-detail">
            <header>Structure</header>
            <d3s-fusion-structure-tree #tree
                                       [fusion]="fusion"
                                       (loaded)="buildBreadcrumb()"
                                       [showFusionQueryConfig]="isQueryConfigVisible"
                                       (showFusionQueryConfigChange)="showQueryConfig($event)"
                                       [fusionAttributeTypeId]="selectedFusionAttributeTypeId"
                                       (fusionAttributeTypeIdChange)="changeFusionAttributeTypeId($event)"
                                       [fusionQueryAttributeTypeId]="selectedFusionQueryAttributeTypeId"
                                       (fusionQueryAttributeTypeIdChange)="changeFusionQueryAttributeTypeId($event)"></d3s-fusion-structure-tree>
        </div>
    </div>
    <div *ngIf="!isQueryConfigVisible"
         class="col l9 m12 s12">
        <d3s-fusion-attribute-summary [initialFusionAttributeId]="initialFusionAttributeId"
                                      [initialFusionQueryAttributeId]="initialFusionQueryAttributeId"
                                      [fusionId]="fusionId"
                                      [fusionAttributeTypeId]="selectedFusionAttributeTypeId"
                                      [fusionQueryAttributeTypeId]="selectedFusionQueryAttributeTypeId"
                                      [fusionQueryAttribute]="selectedFusionQueryAttribute"
                                      [fusionAttribute]="selectedFusionAttribute"
                                      (fusionAttributeChange)="selectedFusionAttribute=$event;"
                                      (fusionQueryAttributeChange)="selectedFusionQueryAttribute=$event;"></d3s-fusion-attribute-summary>
        <div *ngIf="selectedFusionAttribute"
             class="tile tile-detail">
            <d3s-object-definition-tile [objectPermissions]="[]"
                                        [objectID]="selectedFusionAttribute?.ID"
                                        [objectType]="selectedFusionQueryAttributeTypeId ? 'FusionQueryAttribute':'FusionAttribute'"
                                        [hasAttributes]="selectedFusionAttribute?.AllowAttributes"
                                        [nymTypes]="selectedFusionAttribute?.NymTypes"></d3s-object-definition-tile>
        </div>
        <div *ngIf="selectedFusionAttribute">
            <d3s-fusion-attribute-profile-details [fusionAttributeId]="selectedFusionAttribute.ID"
                                                  [name]="selectedFusionAttribute.Name"
                                                  [objectType]="selectedFusionQueryAttributeTypeId ? 'FusionQueryAttribute':'FusionAttribute'"></d3s-fusion-attribute-profile-details>
        </div>
        <div *ngIf="selectedFusionAttribute"
             class="tile tile-detail">
            <d3s-object-relationships [objectPermissions]="permissions"
                                      [objectType]="selectedFusionQueryAttributeTypeId ? 'FusionQueryAttribute':'FusionAttribute'"
                                      [objectID]="selectedFusionAttribute?.ID" objectName=""></d3s-object-relationships>
        </div>
    </div>
    <div *ngIf="isQueryConfigVisible"
         class="col l9 m12 s12">
        <d3s-fusion-query-list [fusion]="fusion" (treeRequiresUpdate)="updateTree(tree)"></d3s-fusion-query-list>
    </div>
</div>
