<div>
    <div [ngSwitch]="formMode">
        <div *ngSwitchDefault>
            <div class="row">
                <div class="col l8 m6 s12">
                    <div class="tile tile-detail">
                        <header>Rules<d3s-tile-actions hasAdd="true" (addClick)="addRule();" [hasFilterMode]="true" [(filterMode)]="showRuleSimpleFilter"></d3s-tile-actions></header>
                        <input [hidden]="!showRuleSimpleFilter" #gbRules type="text" pInputText size="100" placeholder="Search..." class="grid-simple-filter">
                        <p-dataTable #dtRules [globalFilter]="gbRules" [value]="fusionRules" selectionMode="single" [(selection)]="selectedFusionRule" (onRowSelect)="loadSteps();" paginator="true" pageLinks="3" [rows]="defaultInitialItemsPerPage" [rowsPerPageOptions]="defaultPagingOptions">
                            <footer *ngIf="dtRules.totalRecords"><d3s-grid-paging-info [totalRecords]="dtRules.totalRecords" [first]="dtRules.first" [rows]="dtRules.rows"></d3s-grid-paging-info></footer>
                            <p-column header="Enabled" field="Enabled" sortable="true" [style]="{width:'15%'}">
                                <template let-item="rowData" pTemplate type="body">
                                    <i *ngIf="item.Enabled" class="fa fa-check enabled" title="Enabled"></i>
                                    <i *ngIf="!item.Enabled" class="fa fa-times disabled" title="Disabled"></i>
                                </template>
                            </p-column>
                            <p-column header="Name" field="ObjectName" [filter]="!showRuleSimpleFilter"></p-column>
                            <p-column header="Description" field="Description" [filter]="!showRuleSimpleFilter"></p-column>
                            <p-column header="">
                                <template pTemplate type="body" let-row="rowData">
                                    <div class="RowTools">
                                        <a (click)="editRule(row);"><i class="fa fa-pencil"></i></a>
                                        <a (click)="deleteRule(row);"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="tile tile-detail">
                        <header>Items for selected rule<d3s-tile-actions hasAdd="true" (addClick)="addItem();"></d3s-tile-actions></header>                        
                        <p-dataTable #dt [value]="fusionRuleItems" selectionMode="single" [(selection)]="selectedFusionRuleItem" [rows]="defaultInitialItemsPerPage" paginator="true" pageLinks="3" [rowsPerPageOptions]="defaultPagingOptions">
                            <footer *ngIf="dt.totalRecords"><d3s-grid-paging-info [totalRecords]="dt.totalRecords" [first]="dt.first" [rows]="dt.rows"></d3s-grid-paging-info></footer>
                            <p-column header="Limiting Attribute" field="FusionAttributeName"></p-column>
                            <p-column header="">
                                <template pTemplate type="body" let-row="rowData">
                                    <div class="RowTools">
                                        <a (click)="deleteItem(row);"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="tile tile-detail">
                        <header>Steps for selected rule <d3s-tile-actions hasAdd="true" (addClick)="addStep();" [hasFilterMode]="true" [(filterMode)]="showRuleStepsFilter"></d3s-tile-actions></header>
                        <input [hidden]="!showRuleStepsFilter" #gbRuleSteps type="text" pInputText size="100" placeholder="Search..." class="grid-simple-filter">
                        <p-dataTable #dtRuleSteps [globalFilter]="gbRuleSteps" [value]="fusionRuleSteps" selectionMode="single" [(selection)]="selectedFusionRuleStep" (onRowSelect)="loadMappings();" paginator="true" pageLinks="3" [rows]="defaultInitialItemsPerPage" [rowsPerPageOptions]="defaultPagingOptions">
                            <footer *ngIf="dtRuleSteps.totalRecords"><d3s-grid-paging-info [totalRecords]="dtRuleSteps.totalRecords" [first]="dtRuleSteps.first" [rows]="dtRuleSteps.rows"></d3s-grid-paging-info></footer>
                            <p-column header="Step" field="Step" [style]="{width:'10%'}" [filter]="!showRuleStepsFilter"></p-column>
                            <p-column header="Action" field="Action" [style]="{width:'15%'}" [filter]="!showRuleStepsFilter"></p-column>
                            <p-column header="Description" field="Description" [filter]="!showRuleStepsFilter"></p-column>
                            <p-column header="" [style]="{width:'15%'}">
                                <template pTemplate type="body" let-row="rowData">
                                    <div class="RowTools">
                                        <a (click)="editStep(row);"><i class="fa fa-pencil"></i></a>
                                        <a (click)="deleteStep(row);"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="tile tile-detail">
                        <header>Mappings for selected step<d3s-tile-actions hasAdd="true" (addClick)="addMapping();" [hasFilterMode]="true" [(filterMode)]="showRuleMappingsFilter"></d3s-tile-actions></header>
                        <input [hidden]="!showRuleMappingsFilter" #gbRuleMappings type="text" pInputText size="100" placeholder="Search..." class="grid-simple-filter">
                        <p-dataTable #dtRuleMappings [globalFilter]="gbRuleMappings" [value]="fusionRuleMappings" selectionMode="single" [(selection)]="selectedFusionRuleMapping" paginator="true" pageLinks="3" [rows]="defaultInitialItemsPerPage" [rowsPerPageOptions]="defaultPagingOptions">
                            <footer *ngIf="dtRuleMappings.totalRecords"><d3s-grid-paging-info [totalRecords]="dtRuleMappings.totalRecords" [first]="dtRuleMappings.first" [rows]="dtRuleMappings.rows"></d3s-grid-paging-info></footer>
                            <p-column header="Source" field="SourceFieldName" [filter]="!showRuleMappingsFilter"></p-column>
                            <p-column header="Target" field="TargetFieldName" [filter]="!showRuleMappingsFilter"></p-column>
                            <p-column header="">
                                <template pTemplate type="body" let-row="rowData">
                                    <div class="RowTools">
                                        <a (click)="editMapping(row);"><i class="fa fa-pencil"></i></a>
                                        <a (click)="deleteMapping(row);"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.EditRule" class="tile tile-detail">
            <header>Edit Fusion Rule</header>
            <div class="row">
                <div class="col s12">
                    <div class="FieldName" style="display:block;">Promote</div>
                    <select [(ngModel)]="fusionRuleEditorModel.Rule.ObjectID">
                        <option *ngFor="let i of fusionRuleEditorModel.AttributeTypes" [value]="i.ID">{{i.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="FieldName" style="display:block;">Description</div>
                    <input type="text" pInput [(value)]="fusionRuleEditorModel.Rule.Description" style="width:80%" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="checkbox" [(ngModel)]="fusionRuleEditorModel.Rule.Enabled" /> Enabled?
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col s12">
                    <button pButton type="button" label="Save" (click)="saveRule();"></button>
                    <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.AddRule" class="tile tile-detail">
            <header>Add Fusion Rule</header>
            <div class="row">
                <div class="col s12">
                    <div class="FieldName" style="display:block;">Promote</div>
                    <select [(ngModel)]="addFusionRule.ObjectID">
                        <option *ngFor="let i of addFusionAttributeTypes" [value]="i.ID">{{i.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="FieldName" style="display:block;">Description</div>
                    <input type="text" pInput [(ngModel)]="addFusionRule.Description" style="width:80%" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="checkbox" [(ngModel)]="addFusionRule.Enabled" /> Enabled?
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button pButton type="button" label="Save" (click)="saveAddRule();"></button>
                    <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.DeleteRule" class="tile tile-detail">
            <header>Delete Fusion Rule</header>
            <div class="row">
                <div class="col s12">
                    Are you sure you want to delete this fusion rule?
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button pButton type="button" label="Delete" (click)="confirmDeleteRule();"></button>
                    <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.DeleteItem" class="tile tile-detail">
            <header>Delete Fusion Rule Item</header>
            <div class="row">
                <div class="col s12">
                    Are you sure you want to delete this fusion rule item?
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button pButton type="button" label="Delete" (click)="confirmDeleteItem();"></button>
                    <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.EditMapping" class="tile tile-detail">
            <header>Edit Fusion Rule Mapping</header>
            <div class="row">
                <div class="col s12">
                    <input type="checkbox" [(ngModel)]="fusionRuleMappingEditorModel.Item.IsConstantValue" name="isConstant" /> Store a fixed source value?
                </div>
            </div>
            <div class="row">
                <div class="col s6" *ngIf="fusionRuleMappingEditorModel.Item.IsConstantValue">
                    <div class="FieldName" style="display:block;">Source</div>
                    <input type="text" [(ngModel)]="fusionRuleMappingEditorModel.Item.ConstantValue" style="width:95%" name="constantValue" required />
                </div>
                <div class="col s6" *ngIf="!fusionRuleMappingEditorModel.Item.IsConstantValue">
                    <div class="FieldName" style="display:block;">Source</div>
                    <select [(ngModel)]="fusionRuleMappingEditorModel.sourceValue" style="width:95%" name="source" required>
                        <option *ngFor="let i of fusionRuleMappingEditorModel.SourceFields" [value]="i.Value">{{i.Text}}</option>
                    </select>
                </div>
                <div class="col s6">
                    <div class="FieldName" style="display:block;">Target</div>
                    <select [(ngModel)]="fusionRuleMappingEditorModel.targetValue" style="width:95%" name="target" required>
                        <option *ngFor="let i of fusionRuleMappingEditorModel.TargetFields" [value]="i.Value">{{i.Text}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12" style="padding-top:10px">
                    <button pButton type="button" label="Save" (click)="saveEditMapping();"></button>
                    <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.AddMapping" class="tile tile-detail">
            <header>Add Fusion Rule Mapping</header>
            <div class="row">
                <div class="col s12">
                    <input type="checkbox" [(ngModel)]="fusionRuleMappingEditorModel.Item.IsConstantValue" name="isConstant" /> Store a fixed source value?
                </div>
            </div>
            <div class="row">
                <div class="col s6" *ngIf="fusionRuleMappingEditorModel.Item.IsConstantValue">
                    <div class="FieldName" style="display:block;">Source</div>
                    <input type="text" [(ngModel)]="fusionRuleMappingEditorModel.Item.ConstantValue" style="width:95%" name="constant" required />
                </div>
                <div class="col s6" *ngIf="!fusionRuleMappingEditorModel.Item.IsConstantValue">
                    <div class="FieldName" style="display:block;">Source</div>
                    <select [(ngModel)]="fusionRuleMappingEditorModel.sourceValue" style="width:95%" name="source" required>
                        <option *ngFor="let i of fusionRuleMappingEditorModel.SourceFields" [value]="i.Value">{{i.Text}}</option>
                    </select>
                </div>
                <div class="col s6">
                    <div class="FieldName" style="display:block;">Target</div>
                    <select [(ngModel)]="fusionRuleMappingEditorModel.targetValue" style="width:95%" name="target" required>
                        <option *ngFor="let i of fusionRuleMappingEditorModel.TargetFields" [value]="i.Value">{{i.Text}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12" style="padding-top:10px">
                    <button pButton type="button" label="Save" (click)="saveAddMapping();"></button>
                    <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.DeleteStep" class="tile tile-detail">
            <header>Delete Fusion Rule Step</header>
            <div class="row">
                <div class="col s12">
                    Are you sure you want to delete this fusion rule step?
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button pButton type="button" label="Delete" (click)="confirmDeleteStep();"></button>
                    <button pButton type="button" label="Cancel" (click)="formMode = FormMode.Default"></button>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.AddStep">
            <d3s-fusion-rule-step [ruleID]="selectedFusionRule.ID" (onClose)="formMode = FormMode.Default;" (onSave)="saveAddEditStep($event)"></d3s-fusion-rule-step>
        </div>

        <div *ngSwitchCase="FormMode.EditStep">
            <d3s-fusion-rule-step [ruleID]="selectedFusionRuleStep.RuleID" [ruleStepID]="selectedFusionRuleStep.ID" (onClose)="formMode = FormMode.Default" (onSave)="saveAddEditStep($event)"></d3s-fusion-rule-step>
        </div>

        <div *ngSwitchCase="FormMode.DeleteMapping">
            <div class="tile tile-detail">
                <delete-form [uri]="'form/DeleteFusionRuleStepMappingByID?id=' + selectedFusionRuleMapping?.ID"
                             [method]="'delete'"
                             [prompt]="'Are you sure you want to delete this fusion rule step mapping?'"
                             (onCancel)="formMode = FormMode.Default;"
                             (onDeleteComplete)="confirmDeleteMapping()"></delete-form>
            </div>
        </div>

        <div *ngSwitchCase="FormMode.AddItem">
            <div class="tile tile-detail">
                <header>Add Promotion Target Item</header>
                <div class="row">
                    <div class="col s4 offset-s4">
                        <d3s-loading [isLoading]="addItemLoading"></d3s-loading>
                        <div *ngIf="!addItemLoading">
                            <div style="max-height:500px;overflow-y:scroll;position:relative;">
                                <div *ngIf="selectAllItems" style="position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(1,1,1,.2);z-index:1"></div>
                                <input type="text" style="width:100%;margin-bottom:10px;" [(ngModel)]="addItemSearch" placeholder="Search..." />
                                <p-treeTable [value]="attributeNodes | treeSearch: addItemSearch:'Name'" (onNodeExpand)="loadSubItems($event)">
                                    <p-column header="Name" field="Name"></p-column>
                                    <p-column [style]="{ 'width' : '30px' }">
                                        <template pTemplate type="body" let-row="rowData">
                                            <input type="checkbox" [ngModel]="row?.data?.selected" (ngModelChange)="row.data.selected = $event;selectInOriginalTree(row.data.ID,$event);" />
                                        </template>
                                    </p-column>
                                </p-treeTable>
                            </div>
                        </div>
                    </div>
                    <div class="col s2">
                        <input type="checkbox" [(ngModel)]="selectAllItems" /> Select All
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="button" label="Save" (click)="saveAddItem()" pButton></button>
                        <button type="button" label="Close" (click)="formMode = FormMode.Default;addItemSearch = '';" pButton></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>